{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {},
          "AssociationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "AssociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "BatchDescribeModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageArnList"
        ],
        "members": {
          "ModelPackageArnList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ModelPackageSummaries": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "ModelPackageGroupName",
                "ModelPackageArn",
                "CreationTime",
                "InferenceSpecification",
                "ModelPackageStatus"
              ],
              "members": {
                "ModelPackageGroupName": {},
                "ModelPackageVersion": {
                  "type": "integer"
                },
                "ModelPackageArn": {},
                "ModelPackageDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "InferenceSpecification": {
                  "shape": "Sr"
                },
                "ModelPackageStatus": {},
                "ModelApprovalStatus": {}
              }
            }
          },
          "BatchDescribeModelPackageErrorMap": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "ErrorCode",
                "ErrorResponse"
              ],
              "members": {
                "ErrorCode": {},
                "ErrorResponse": {}
              }
            }
          }
        }
      }
    },
    "CreateAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName",
          "Source",
          "ActionType"
        ],
        "members": {
          "ActionName": {},
          "Source": {
            "shape": "S1j"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "S1o"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "CreateAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "TrainingSpecification"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmDescription": {},
          "TrainingSpecification": {
            "shape": "S1v"
          },
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "S2o"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmArn"
        ],
        "members": {
          "AlgorithmArn": {}
        }
      }
    },
    "CreateApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {},
          "Tags": {
            "shape": "S7"
          },
          "ResourceSpec": {
            "shape": "S4d"
          },
          "SpaceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {}
        }
      }
    },
    "CreateAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {},
          "Tags": {
            "shape": "S7"
          },
          "KernelGatewayImageConfig": {
            "shape": "S4n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {}
        }
      }
    },
    "CreateArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "Source",
          "ArtifactType"
        ],
        "members": {
          "ArtifactName": {},
          "Source": {
            "shape": "S4z"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "S1o"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "CreateAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "InputDataConfig": {
            "shape": "S57"
          },
          "OutputDataConfig": {
            "shape": "S5f"
          },
          "ProblemType": {},
          "AutoMLJobObjective": {
            "shape": "S5h"
          },
          "AutoMLJobConfig": {
            "shape": "S5j"
          },
          "RoleArn": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          },
          "ModelDeployConfig": {
            "shape": "S63"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateAutoMLJobV2": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobInputDataConfig",
          "OutputDataConfig",
          "AutoMLProblemTypeConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobInputDataConfig": {
            "shape": "S69"
          },
          "OutputDataConfig": {
            "shape": "S5f"
          },
          "AutoMLProblemTypeConfig": {
            "shape": "S6b"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "SecurityConfig": {
            "shape": "S5o"
          },
          "AutoMLJobObjective": {
            "shape": "S5h"
          },
          "ModelDeployConfig": {
            "shape": "S63"
          },
          "DataSplitConfig": {
            "shape": "S5u"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "GitConfig"
        ],
        "members": {
          "CodeRepositoryName": {},
          "GitConfig": {
            "shape": "S6i"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryArn"
        ],
        "members": {
          "CodeRepositoryArn": {}
        }
      }
    },
    "CreateCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "RoleArn",
          "OutputConfig",
          "StoppingCondition"
        ],
        "members": {
          "CompilationJobName": {},
          "RoleArn": {},
          "ModelPackageVersionArn": {},
          "InputConfig": {
            "shape": "S6p"
          },
          "OutputConfig": {
            "shape": "S6s"
          },
          "VpcConfig": {
            "shape": "S6z"
          },
          "StoppingCondition": {
            "shape": "S3m"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobArn"
        ],
        "members": {
          "CompilationJobArn": {}
        }
      }
    },
    "CreateContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName",
          "Source",
          "ContextType"
        ],
        "members": {
          "ContextName": {},
          "Source": {
            "shape": "S77"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "S1o"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "CreateDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "DataQualityBaselineConfig": {
            "shape": "S7c"
          },
          "DataQualityAppSpecification": {
            "shape": "S7g"
          },
          "DataQualityJobInput": {
            "shape": "S7p"
          },
          "DataQualityJobOutputConfig": {
            "shape": "S82"
          },
          "JobResources": {
            "shape": "S88"
          },
          "NetworkConfig": {
            "shape": "S8d"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S8e"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "OutputConfig"
        ],
        "members": {
          "DeviceFleetName": {},
          "RoleArn": {},
          "Description": {},
          "OutputConfig": {
            "shape": "S8k"
          },
          "Tags": {
            "shape": "S7"
          },
          "EnableIotRoleAlias": {
            "type": "boolean"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AuthMode",
          "DefaultUserSettings",
          "SubnetIds",
          "VpcId"
        ],
        "members": {
          "DomainName": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S8q"
          },
          "SubnetIds": {
            "shape": "S5s"
          },
          "VpcId": {},
          "Tags": {
            "shape": "S7"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "KmsKeyId": {},
          "AppSecurityGroupManagement": {},
          "DomainSettings": {
            "shape": "S9g"
          },
          "DefaultSpaceSettings": {
            "shape": "S9k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "Url": {}
        }
      }
    },
    "CreateEdgeDeploymentPlan": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName",
          "ModelConfigs",
          "DeviceFleetName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "ModelConfigs": {
            "shape": "S9p"
          },
          "DeviceFleetName": {},
          "Stages": {
            "shape": "S9r"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanArn"
        ],
        "members": {
          "EdgeDeploymentPlanArn": {}
        }
      }
    },
    "CreateEdgeDeploymentStage": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName",
          "Stages"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "Stages": {
            "shape": "S9r"
          }
        }
      }
    },
    "CreateEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName",
          "CompilationJobName",
          "ModelName",
          "ModelVersion",
          "RoleArn",
          "OutputConfig"
        ],
        "members": {
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "S8k"
          },
          "ResourceKey": {},
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "DeploymentConfig": {
            "shape": "Sa7"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "Sao"
          },
          "DataCaptureConfig": {
            "shape": "Sb4"
          },
          "Tags": {
            "shape": "S7"
          },
          "KmsKeyId": {},
          "AsyncInferenceConfig": {
            "shape": "Sbf"
          },
          "ExplainerConfig": {
            "shape": "Sbn"
          },
          "ShadowProductionVariants": {
            "shape": "Sao"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {},
          "DisplayName": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "CreateFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions"
        ],
        "members": {
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "Scm"
          },
          "OnlineStoreConfig": {
            "shape": "Scp"
          },
          "OfflineStoreConfig": {
            "shape": "Scr"
          },
          "RoleArn": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn"
        ],
        "members": {
          "FeatureGroupArn": {}
        }
      }
    },
    "CreateFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionName": {},
          "HumanLoopRequestSource": {
            "shape": "Sd3"
          },
          "HumanLoopActivationConfig": {
            "shape": "Sd5"
          },
          "HumanLoopConfig": {
            "shape": "Sd8"
          },
          "OutputConfig": {
            "shape": "Sdn"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn"
        ],
        "members": {
          "FlowDefinitionArn": {}
        }
      }
    },
    "CreateHub": {
      "input": {
        "type": "structure",
        "required": [
          "HubName",
          "HubDescription"
        ],
        "members": {
          "HubName": {},
          "HubDescription": {},
          "HubDisplayName": {},
          "HubSearchKeywords": {
            "shape": "Sdu"
          },
          "S3StorageConfig": {
            "shape": "Sdw"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HubArn"
        ],
        "members": {
          "HubArn": {}
        }
      }
    },
    "CreateHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiName": {},
          "UiTemplate": {
            "shape": "Se2"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn"
        ],
        "members": {
          "HumanTaskUiArn": {}
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobConfig": {
            "shape": "Se7"
          },
          "TrainingJobDefinition": {
            "shape": "Sey"
          },
          "TrainingJobDefinitions": {
            "shape": "Sfe"
          },
          "WarmStartConfig": {
            "shape": "Sff"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {}
        }
      }
    },
    "CreateImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "RoleArn"
        ],
        "members": {
          "Description": {},
          "DisplayName": {},
          "ImageName": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageArn": {}
        }
      }
    },
    "CreateImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "BaseImage",
          "ClientToken",
          "ImageName"
        ],
        "members": {
          "BaseImage": {},
          "ClientToken": {
            "idempotencyToken": true
          },
          "ImageName": {},
          "Aliases": {
            "shape": "Sfs"
          },
          "VendorGuidance": {},
          "JobType": {},
          "MLFramework": {},
          "ProgrammingLang": {},
          "Processor": {},
          "Horovod": {
            "type": "boolean"
          },
          "ReleaseNotes": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageVersionArn": {}
        }
      }
    },
    "CreateInferenceExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "RoleArn",
          "EndpointName",
          "ModelVariants",
          "ShadowModeConfig"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Schedule": {
            "shape": "Sg5"
          },
          "Description": {},
          "RoleArn": {},
          "EndpointName": {},
          "ModelVariants": {
            "shape": "Sg8"
          },
          "DataStorageConfig": {
            "shape": "Sgg"
          },
          "ShadowModeConfig": {
            "shape": "Sgh"
          },
          "KmsKey": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InferenceExperimentArn"
        ],
        "members": {
          "InferenceExperimentArn": {}
        }
      }
    },
    "CreateInferenceRecommendationsJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobType",
          "RoleArn",
          "InputConfig"
        ],
        "members": {
          "JobName": {},
          "JobType": {},
          "RoleArn": {},
          "InputConfig": {
            "shape": "Sgp"
          },
          "JobDescription": {},
          "StoppingConditions": {
            "shape": "Shn"
          },
          "OutputConfig": {
            "type": "structure",
            "members": {
              "KmsKeyId": {},
              "CompiledOutputConfig": {
                "type": "structure",
                "members": {
                  "S3OutputUri": {}
                }
              }
            }
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobArn"
        ],
        "members": {
          "JobArn": {}
        }
      }
    },
    "CreateLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName",
          "LabelAttributeName",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobName": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "Shy"
          },
          "OutputConfig": {
            "shape": "Si5"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "Si6"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "Si9"
          },
          "HumanTaskConfig": {
            "shape": "Sid"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobArn"
        ],
        "members": {
          "LabelingJobArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "Sis"
          },
          "Containers": {
            "shape": "Sj1"
          },
          "InferenceExecutionConfig": {
            "shape": "Sj2"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "VpcConfig": {
            "shape": "S5p"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelBiasAppSpecification",
          "ModelBiasJobInput",
          "ModelBiasJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelBiasBaselineConfig": {
            "shape": "Sj6"
          },
          "ModelBiasAppSpecification": {
            "shape": "Sj7"
          },
          "ModelBiasJobInput": {
            "shape": "Sj8"
          },
          "ModelBiasJobOutputConfig": {
            "shape": "S82"
          },
          "JobResources": {
            "shape": "S88"
          },
          "NetworkConfig": {
            "shape": "S8d"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S8e"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelCard": {
      "input": {
        "type": "structure",
        "required": [
          "ModelCardName",
          "Content",
          "ModelCardStatus"
        ],
        "members": {
          "ModelCardName": {},
          "SecurityConfig": {
            "shape": "Sjc"
          },
          "Content": {
            "shape": "Sjd"
          },
          "ModelCardStatus": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelCardArn"
        ],
        "members": {
          "ModelCardArn": {}
        }
      }
    },
    "CreateModelCardExportJob": {
      "input": {
        "type": "structure",
        "required": [
          "ModelCardName",
          "ModelCardExportJobName",
          "OutputConfig"
        ],
        "members": {
          "ModelCardName": {},
          "ModelCardVersion": {
            "type": "integer"
          },
          "ModelCardExportJobName": {},
          "OutputConfig": {
            "shape": "Sji"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelCardExportJobArn"
        ],
        "members": {
          "ModelCardExportJobArn": {}
        }
      }
    },
    "CreateModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelExplainabilityAppSpecification",
          "ModelExplainabilityJobInput",
          "ModelExplainabilityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelExplainabilityBaselineConfig": {
            "shape": "Sjm"
          },
          "ModelExplainabilityAppSpecification": {
            "shape": "Sjn"
          },
          "ModelExplainabilityJobInput": {
            "shape": "Sjo"
          },
          "ModelExplainabilityJobOutputConfig": {
            "shape": "S82"
          },
          "JobResources": {
            "shape": "S88"
          },
          "NetworkConfig": {
            "shape": "S8d"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S8e"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelPackage": {
      "input": {
        "type": "structure",
        "members": {
          "ModelPackageName": {},
          "ModelPackageGroupName": {},
          "ModelPackageDescription": {},
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "Sjr"
          },
          "SourceAlgorithmSpecification": {
            "shape": "Sju"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          },
          "ModelApprovalStatus": {},
          "MetadataProperties": {
            "shape": "S1q"
          },
          "ModelMetrics": {
            "shape": "Sjx"
          },
          "ClientToken": {
            "idempotencyToken": true
          },
          "CustomerMetadataProperties": {
            "shape": "Sk4"
          },
          "DriftCheckBaselines": {
            "shape": "Sk7"
          },
          "Domain": {},
          "Task": {},
          "SamplePayloadUrl": {},
          "AdditionalInferenceSpecifications": {
            "shape": "Skd"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageArn"
        ],
        "members": {
          "ModelPackageArn": {}
        }
      }
    },
    "CreateModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {},
          "ModelPackageGroupDescription": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageGroupArn"
        ],
        "members": {
          "ModelPackageGroupArn": {}
        }
      }
    },
    "CreateModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelQualityAppSpecification",
          "ModelQualityJobInput",
          "ModelQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelQualityBaselineConfig": {
            "shape": "Skk"
          },
          "ModelQualityAppSpecification": {
            "shape": "Skl"
          },
          "ModelQualityJobInput": {
            "shape": "Skn"
          },
          "ModelQualityJobOutputConfig": {
            "shape": "S82"
          },
          "JobResources": {
            "shape": "S88"
          },
          "NetworkConfig": {
            "shape": "S8d"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S8e"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleName": {},
          "MonitoringScheduleConfig": {
            "shape": "Skr"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn"
        ],
        "members": {
          "MonitoringScheduleArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "S8r"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S7"
          },
          "LifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sl8"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Slb"
          },
          "RootAccess": {},
          "PlatformIdentifier": {},
          "InstanceMetadataServiceConfiguration": {
            "shape": "Sle"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Slj"
          },
          "OnStart": {
            "shape": "Slj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {}
        }
      }
    },
    "CreatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "ClientRequestToken",
          "RoleArn"
        ],
        "members": {
          "PipelineName": {},
          "PipelineDisplayName": {},
          "PipelineDefinition": {},
          "PipelineDefinitionS3Location": {
            "shape": "Slr"
          },
          "PipelineDescription": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "ParallelismConfiguration": {
            "shape": "Slx"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "CreatePresignedDomainUrl": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          },
          "ExpiresInSeconds": {
            "type": "integer"
          },
          "SpaceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "RoleArn"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Sma"
          },
          "ProcessingOutputConfig": {
            "shape": "Smx"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sn2"
          },
          "StoppingCondition": {
            "shape": "Sn4"
          },
          "AppSpecification": {
            "shape": "Sn6"
          },
          "Environment": {
            "shape": "Sn8"
          },
          "NetworkConfig": {
            "shape": "Skz"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Sn9"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobArn"
        ],
        "members": {
          "ProcessingJobArn": {}
        }
      }
    },
    "CreateProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ServiceCatalogProvisioningDetails"
        ],
        "members": {
          "ProjectName": {},
          "ProjectDescription": {},
          "ServiceCatalogProvisioningDetails": {
            "shape": "Sne"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProjectArn",
          "ProjectId"
        ],
        "members": {
          "ProjectArn": {},
          "ProjectId": {}
        }
      }
    },
    "CreateSpace": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "SpaceName"
        ],
        "members": {
          "DomainId": {},
          "SpaceName": {},
          "Tags": {
            "shape": "S7"
          },
          "SpaceSettings": {
            "shape": "Sno"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SpaceArn": {}
        }
      }
    },
    "CreateStudioLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "StudioLifecycleConfigName",
          "StudioLifecycleConfigContent",
          "StudioLifecycleConfigAppType"
        ],
        "members": {
          "StudioLifecycleConfigName": {},
          "StudioLifecycleConfigContent": {},
          "StudioLifecycleConfigAppType": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StudioLifecycleConfigArn": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S2t"
          },
          "AlgorithmSpecification": {
            "shape": "Sny"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S2v"
          },
          "OutputDataConfig": {
            "shape": "S3e"
          },
          "ResourceConfig": {
            "shape": "S3g"
          },
          "VpcConfig": {
            "shape": "S5p"
          },
          "StoppingCondition": {
            "shape": "S3m"
          },
          "Tags": {
            "shape": "S7"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "Sf3"
          },
          "DebugHookConfig": {
            "shape": "So7"
          },
          "DebugRuleConfigurations": {
            "shape": "Sof"
          },
          "TensorBoardOutputConfig": {
            "shape": "Soj"
          },
          "ExperimentConfig": {
            "shape": "Sn9"
          },
          "ProfilerConfig": {
            "shape": "Sok"
          },
          "ProfilerRuleConfigurations": {
            "shape": "Soo"
          },
          "Environment": {
            "shape": "Soq"
          },
          "RetryStrategy": {
            "shape": "Sf4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Sox"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S3t"
          },
          "TransformInput": {
            "shape": "S3w"
          },
          "TransformOutput": {
            "shape": "S40"
          },
          "DataCaptureConfig": {
            "shape": "Sp0"
          },
          "TransformResources": {
            "shape": "S43"
          },
          "DataProcessing": {
            "shape": "Sp1"
          },
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Sn9"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {}
        }
      }
    },
    "CreateTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName",
          "ExperimentName"
        ],
        "members": {
          "TrialName": {},
          "DisplayName": {},
          "ExperimentName": {},
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "CreateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {},
          "DisplayName": {},
          "Status": {
            "shape": "Sp9"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Parameters": {
            "shape": "Spc"
          },
          "InputArtifacts": {
            "shape": "Spg"
          },
          "OutputArtifacts": {
            "shape": "Spg"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "CreateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "Tags": {
            "shape": "S7"
          },
          "UserSettings": {
            "shape": "S8q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserProfileArn": {}
        }
      }
    },
    "CreateWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "CognitoConfig": {
            "shape": "Spr"
          },
          "OidcConfig": {
            "shape": "Spu"
          },
          "SourceIpConfig": {
            "shape": "Spx"
          },
          "WorkforceName": {},
          "Tags": {
            "shape": "S7"
          },
          "WorkforceVpcConfig": {
            "shape": "Sq1"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkforceArn"
        ],
        "members": {
          "WorkforceArn": {}
        }
      }
    },
    "CreateWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName",
          "MemberDefinitions",
          "Description"
        ],
        "members": {
          "WorkteamName": {},
          "WorkforceName": {},
          "MemberDefinitions": {
            "shape": "Sqb"
          },
          "Description": {},
          "NotificationConfiguration": {
            "shape": "Sqj"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WorkteamArn": {}
        }
      }
    },
    "DeleteAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "DeleteAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      }
    },
    "DeleteApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {},
          "SpaceName": {}
        }
      }
    },
    "DeleteAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      }
    },
    "DeleteArtifact": {
      "input": {
        "type": "structure",
        "members": {
          "ArtifactArn": {},
          "Source": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "DeleteAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "DeleteCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      }
    },
    "DeleteContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "DeleteDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {},
          "RetentionPolicy": {
            "type": "structure",
            "members": {
              "HomeEfsFileSystem": {}
            }
          }
        }
      }
    },
    "DeleteEdgeDeploymentPlan": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {}
        }
      }
    },
    "DeleteEdgeDeploymentStage": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName",
          "StageName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "StageName": {}
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "DeleteFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {}
        }
      }
    },
    "DeleteFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHub": {
      "input": {
        "type": "structure",
        "required": [
          "HubName"
        ],
        "members": {
          "HubName": {}
        }
      }
    },
    "DeleteHubContent": {
      "input": {
        "type": "structure",
        "required": [
          "HubName",
          "HubContentType",
          "HubContentName",
          "HubContentVersion"
        ],
        "members": {
          "HubName": {},
          "HubContentType": {},
          "HubContentName": {},
          "HubContentVersion": {}
        }
      }
    },
    "DeleteHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          },
          "Alias": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInferenceExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InferenceExperimentArn"
        ],
        "members": {
          "InferenceExperimentArn": {}
        }
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelCard": {
      "input": {
        "type": "structure",
        "required": [
          "ModelCardName"
        ],
        "members": {
          "ModelCardName": {}
        }
      }
    },
    "DeleteModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      }
    },
    "DeleteModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelPackageGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      }
    },
    "DeletePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "ClientRequestToken"
        ],
        "members": {
          "PipelineName": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "DeleteProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {}
        }
      }
    },
    "DeleteSpace": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "SpaceName"
        ],
        "members": {
          "DomainId": {},
          "SpaceName": {}
        }
      }
    },
    "DeleteStudioLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "StudioLifecycleConfigName"
        ],
        "members": {
          "StudioLifecycleConfigName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "DeleteTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "DeleteUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      }
    },
    "DeleteWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Success"
        ],
        "members": {
          "Success": {
            "type": "boolean"
          }
        }
      }
    },
    "DeregisterDevices": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceNames"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceNames": {
            "shape": "S9w"
          }
        }
      }
    },
    "DescribeAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionName": {},
          "ActionArn": {},
          "Source": {
            "shape": "S1j"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "S1o"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Ssm"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Ssm"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "AlgorithmArn",
          "CreationTime",
          "TrainingSpecification",
          "AlgorithmStatus",
          "AlgorithmStatusDetails"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmArn": {},
          "AlgorithmDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingSpecification": {
            "shape": "S1v"
          },
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "S2o"
          },
          "AlgorithmStatus": {},
          "AlgorithmStatusDetails": {
            "type": "structure",
            "members": {
              "ValidationStatuses": {
                "shape": "Sst"
              },
              "ImageScanStatuses": {
                "shape": "Sst"
              }
            }
          },
          "ProductId": {},
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {},
          "SpaceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {},
          "AppType": {},
          "AppName": {},
          "DomainId": {},
          "UserProfileName": {},
          "Status": {},
          "LastHealthCheckTimestamp": {
            "type": "timestamp"
          },
          "LastUserActivityTimestamp": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ResourceSpec": {
            "shape": "S4d"
          },
          "SpaceName": {}
        }
      }
    },
    "DescribeAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {},
          "AppImageConfigName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "KernelGatewayImageConfig": {
            "shape": "S4n"
          }
        }
      }
    },
    "DescribeArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ArtifactArn"
        ],
        "members": {
          "ArtifactArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactName": {},
          "ArtifactArn": {},
          "Source": {
            "shape": "S4z"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "S1o"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Ssm"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Ssm"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "InputDataConfig": {
            "shape": "S57"
          },
          "OutputDataConfig": {
            "shape": "S5f"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S5h"
          },
          "ProblemType": {},
          "AutoMLJobConfig": {
            "shape": "S5j"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "PartialFailureReasons": {
            "shape": "St7"
          },
          "BestCandidate": {
            "shape": "St9"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "AutoMLJobArtifacts": {
            "type": "structure",
            "members": {
              "CandidateDefinitionNotebookLocation": {},
              "DataExplorationNotebookLocation": {}
            }
          },
          "ResolvedAttributes": {
            "type": "structure",
            "members": {
              "AutoMLJobObjective": {
                "shape": "S5h"
              },
              "ProblemType": {},
              "CompletionCriteria": {
                "shape": "S5k"
              }
            }
          },
          "ModelDeployConfig": {
            "shape": "S63"
          },
          "ModelDeployResult": {
            "shape": "Su4"
          }
        }
      }
    },
    "DescribeAutoMLJobV2": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "AutoMLJobInputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "AutoMLJobInputDataConfig": {
            "shape": "S69"
          },
          "OutputDataConfig": {
            "shape": "S5f"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S5h"
          },
          "AutoMLProblemTypeConfig": {
            "shape": "S6b"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "PartialFailureReasons": {
            "shape": "St7"
          },
          "BestCandidate": {
            "shape": "St9"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "ModelDeployConfig": {
            "shape": "S63"
          },
          "ModelDeployResult": {
            "shape": "Su4"
          },
          "DataSplitConfig": {
            "shape": "S5u"
          },
          "SecurityConfig": {
            "shape": "S5o"
          }
        }
      }
    },
    "DescribeCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "CodeRepositoryArn",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "CodeRepositoryName": {},
          "CodeRepositoryArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "GitConfig": {
            "shape": "S6i"
          }
        }
      }
    },
    "DescribeCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName"
        ],
        "members": {
          "CompilationJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "CompilationJobArn",
          "CompilationJobStatus",
          "StoppingCondition",
          "CreationTime",
          "LastModifiedTime",
          "FailureReason",
          "ModelArtifacts",
          "RoleArn",
          "InputConfig",
          "OutputConfig"
        ],
        "members": {
          "CompilationJobName": {},
          "CompilationJobArn": {},
          "CompilationJobStatus": {},
          "CompilationStartTime": {
            "type": "timestamp"
          },
          "CompilationEndTime": {
            "type": "timestamp"
          },
          "StoppingCondition": {
            "shape": "S3m"
          },
          "InferenceImage": {},
          "ModelPackageVersionArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ModelArtifacts": {
            "shape": "Sue"
          },
          "ModelDigests": {
            "type": "structure",
            "members": {
              "ArtifactDigest": {}
            }
          },
          "RoleArn": {},
          "InputConfig": {
            "shape": "S6p"
          },
          "OutputConfig": {
            "shape": "S6s"
          },
          "VpcConfig": {
            "shape": "S6z"
          }
        }
      }
    },
    "DescribeContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextName": {},
          "ContextArn": {},
          "Source": {
            "shape": "S77"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "S1o"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Ssm"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Ssm"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "DataQualityBaselineConfig": {
            "shape": "S7c"
          },
          "DataQualityAppSpecification": {
            "shape": "S7g"
          },
          "DataQualityJobInput": {
            "shape": "S7p"
          },
          "DataQualityJobOutputConfig": {
            "shape": "S82"
          },
          "JobResources": {
            "shape": "S88"
          },
          "NetworkConfig": {
            "shape": "S8d"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S8e"
          }
        }
      }
    },
    "DescribeDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName"
        ],
        "members": {
          "NextToken": {},
          "DeviceName": {},
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName",
          "RegistrationTime"
        ],
        "members": {
          "DeviceArn": {},
          "DeviceName": {},
          "Description": {},
          "DeviceFleetName": {},
          "IotThingName": {},
          "RegistrationTime": {
            "type": "timestamp"
          },
          "LatestHeartbeat": {
            "type": "timestamp"
          },
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelVersion"
              ],
              "members": {
                "ModelName": {},
                "ModelVersion": {},
                "LatestSampleTime": {
                  "type": "timestamp"
                },
                "LatestInference": {
                  "type": "timestamp"
                }
              }
            }
          },
          "MaxModels": {
            "type": "integer"
          },
          "NextToken": {},
          "AgentVersion": {}
        }
      }
    },
    "DescribeDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceFleetArn",
          "OutputConfig",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceFleetArn": {},
          "OutputConfig": {
            "shape": "S8k"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {},
          "IotRoleAlias": {}
        }
      }
    },
    "DescribeDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "DomainId": {},
          "DomainName": {},
          "HomeEfsFileSystemId": {},
          "SingleSignOnManagedApplicationInstanceId": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S8q"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "SubnetIds": {
            "shape": "S5s"
          },
          "Url": {},
          "VpcId": {},
          "KmsKeyId": {},
          "DomainSettings": {
            "shape": "S9g"
          },
          "AppSecurityGroupManagement": {},
          "SecurityGroupIdForDomainBoundary": {},
          "DefaultSpaceSettings": {
            "shape": "S9k"
          }
        }
      }
    },
    "DescribeEdgeDeploymentPlan": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanArn",
          "EdgeDeploymentPlanName",
          "ModelConfigs",
          "DeviceFleetName",
          "Stages"
        ],
        "members": {
          "EdgeDeploymentPlanArn": {},
          "EdgeDeploymentPlanName": {},
          "ModelConfigs": {
            "shape": "S9p"
          },
          "DeviceFleetName": {},
          "EdgeDeploymentSuccess": {
            "type": "integer"
          },
          "EdgeDeploymentPending": {
            "type": "integer"
          },
          "EdgeDeploymentFailed": {
            "type": "integer"
          },
          "Stages": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StageName",
                "DeviceSelectionConfig",
                "DeploymentConfig",
                "DeploymentStatus"
              ],
              "members": {
                "StageName": {},
                "DeviceSelectionConfig": {
                  "shape": "S9t"
                },
                "DeploymentConfig": {
                  "shape": "S9y"
                },
                "DeploymentStatus": {
                  "type": "structure",
                  "required": [
                    "StageStatus",
                    "EdgeDeploymentSuccessInStage",
                    "EdgeDeploymentPendingInStage",
                    "EdgeDeploymentFailedInStage"
                  ],
                  "members": {
                    "StageStatus": {},
                    "EdgeDeploymentSuccessInStage": {
                      "type": "integer"
                    },
                    "EdgeDeploymentPendingInStage": {
                      "type": "integer"
                    },
                    "EdgeDeploymentFailedInStage": {
                      "type": "integer"
                    },
                    "EdgeDeploymentStatusMessage": {},
                    "EdgeDeploymentStageStartTime": {
                      "type": "timestamp"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName"
        ],
        "members": {
          "EdgePackagingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgePackagingJobArn",
          "EdgePackagingJobName",
          "EdgePackagingJobStatus"
        ],
        "members": {
          "EdgePackagingJobArn": {},
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "S8k"
          },
          "ResourceKey": {},
          "EdgePackagingJobStatus": {},
          "EdgePackagingJobStatusMessage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "ModelArtifact": {},
          "ModelSignature": {},
          "PresetDeploymentOutput": {
            "type": "structure",
            "required": [
              "Type"
            ],
            "members": {
              "Type": {},
              "Artifact": {},
              "Status": {},
              "StatusMessage": {}
            }
          }
        }
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "Svh"
          },
          "DataCaptureConfig": {
            "shape": "Svp"
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastDeploymentConfig": {
            "shape": "Sa7"
          },
          "AsyncInferenceConfig": {
            "shape": "Sbf"
          },
          "PendingDeploymentSummary": {
            "type": "structure",
            "required": [
              "EndpointConfigName"
            ],
            "members": {
              "EndpointConfigName": {},
              "ProductionVariants": {
                "shape": "Svt"
              },
              "StartTime": {
                "type": "timestamp"
              },
              "ShadowProductionVariants": {
                "shape": "Svt"
              }
            }
          },
          "ExplainerConfig": {
            "shape": "Sbn"
          },
          "ShadowProductionVariants": {
            "shape": "Svh"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "Sao"
          },
          "DataCaptureConfig": {
            "shape": "Sb4"
          },
          "KmsKeyId": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "AsyncInferenceConfig": {
            "shape": "Sbf"
          },
          "ExplainerConfig": {
            "shape": "Sbn"
          },
          "ShadowProductionVariants": {
            "shape": "Sao"
          }
        }
      }
    },
    "DescribeExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "ExperimentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Svz"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Ssm"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Ssm"
          }
        }
      }
    },
    "DescribeFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn",
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions",
          "CreationTime",
          "NextToken"
        ],
        "members": {
          "FeatureGroupArn": {},
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "Scm"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "OnlineStoreConfig": {
            "shape": "Scp"
          },
          "OfflineStoreConfig": {
            "shape": "Scr"
          },
          "RoleArn": {},
          "FeatureGroupStatus": {},
          "OfflineStoreStatus": {
            "shape": "Sw5"
          },
          "LastUpdateStatus": {
            "shape": "Sw8"
          },
          "FailureReason": {},
          "Description": {},
          "NextToken": {},
          "OnlineStoreTotalSizeBytes": {
            "type": "long"
          }
        }
      }
    },
    "DescribeFeatureMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName",
          "FeatureName"
        ],
        "members": {
          "FeatureGroupName": {},
          "FeatureName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn",
          "FeatureGroupName",
          "FeatureName",
          "FeatureType",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "FeatureGroupArn": {},
          "FeatureGroupName": {},
          "FeatureName": {},
          "FeatureType": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "Description": {},
          "Parameters": {
            "shape": "Swe"
          }
        }
      }
    },
    "DescribeFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn",
          "FlowDefinitionName",
          "FlowDefinitionStatus",
          "CreationTime",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionArn": {},
          "FlowDefinitionName": {},
          "FlowDefinitionStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HumanLoopRequestSource": {
            "shape": "Sd3"
          },
          "HumanLoopActivationConfig": {
            "shape": "Sd5"
          },
          "HumanLoopConfig": {
            "shape": "Sd8"
          },
          "OutputConfig": {
            "shape": "Sdn"
          },
          "RoleArn": {},
          "FailureReason": {}
        }
      }
    },
    "DescribeHub": {
      "input": {
        "type": "structure",
        "required": [
          "HubName"
        ],
        "members": {
          "HubName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HubName",
          "HubArn",
          "HubStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "HubName": {},
          "HubArn": {},
          "HubDisplayName": {},
          "HubDescription": {},
          "HubSearchKeywords": {
            "shape": "Sdu"
          },
          "S3StorageConfig": {
            "shape": "Sdw"
          },
          "HubStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeHubContent": {
      "input": {
        "type": "structure",
        "required": [
          "HubName",
          "HubContentType",
          "HubContentName"
        ],
        "members": {
          "HubName": {},
          "HubContentType": {},
          "HubContentName": {},
          "HubContentVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HubContentName",
          "HubContentArn",
          "HubContentVersion",
          "HubContentType",
          "DocumentSchemaVersion",
          "HubName",
          "HubArn",
          "HubContentDocument",
          "HubContentStatus",
          "CreationTime"
        ],
        "members": {
          "HubContentName": {},
          "HubContentArn": {},
          "HubContentVersion": {},
          "HubContentType": {},
          "DocumentSchemaVersion": {},
          "HubName": {},
          "HubArn": {},
          "HubContentDisplayName": {},
          "HubContentDescription": {},
          "HubContentMarkdown": {},
          "HubContentDocument": {},
          "HubContentSearchKeywords": {
            "shape": "Sww"
          },
          "HubContentDependencies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DependencyOriginPath": {},
                "DependencyCopyPath": {}
              }
            }
          },
          "HubContentStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn",
          "HumanTaskUiName",
          "CreationTime",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiArn": {},
          "HumanTaskUiName": {},
          "HumanTaskUiStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "UiTemplate": {
            "type": "structure",
            "members": {
              "Url": {},
              "ContentSha256": {}
            }
          }
        }
      }
    },
    "DescribeHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobArn",
          "HyperParameterTuningJobConfig",
          "HyperParameterTuningJobStatus",
          "CreationTime",
          "TrainingJobStatusCounters",
          "ObjectiveStatusCounters"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobArn": {},
          "HyperParameterTuningJobConfig": {
            "shape": "Se7"
          },
          "TrainingJobDefinition": {
            "shape": "Sey"
          },
          "TrainingJobDefinitions": {
            "shape": "Sfe"
          },
          "HyperParameterTuningJobStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HyperParameterTuningEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "TrainingJobStatusCounters": {
            "shape": "Sxb"
          },
          "ObjectiveStatusCounters": {
            "shape": "Sxd"
          },
          "BestTrainingJob": {
            "shape": "Sxf"
          },
          "OverallBestTrainingJob": {
            "shape": "Sxf"
          },
          "WarmStartConfig": {
            "shape": "Sff"
          },
          "FailureReason": {},
          "TuningJobCompletionDetails": {
            "shape": "Sxi"
          },
          "ConsumedResources": {
            "shape": "Sxj"
          }
        }
      }
    },
    "DescribeImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreationTime": {
            "type": "timestamp"
          },
          "Description": {},
          "DisplayName": {},
          "FailureReason": {},
          "ImageArn": {},
          "ImageName": {},
          "ImageStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {}
        }
      }
    },
    "DescribeImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          },
          "Alias": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaseImage": {},
          "ContainerImage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ImageArn": {},
          "ImageVersionArn": {},
          "ImageVersionStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "Version": {
            "type": "integer"
          },
          "VendorGuidance": {},
          "JobType": {},
          "MLFramework": {},
          "ProgrammingLang": {},
          "Processor": {},
          "Horovod": {
            "type": "boolean"
          },
          "ReleaseNotes": {}
        }
      }
    },
    "DescribeInferenceExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Arn",
          "Name",
          "Type",
          "Status",
          "EndpointMetadata",
          "ModelVariants"
        ],
        "members": {
          "Arn": {},
          "Name": {},
          "Type": {},
          "Schedule": {
            "shape": "Sg5"
          },
          "Status": {},
          "StatusReason": {},
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CompletionTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {},
          "EndpointMetadata": {
            "type": "structure",
            "required": [
              "EndpointName"
            ],
            "members": {
              "EndpointName": {},
              "EndpointConfigName": {},
              "EndpointStatus": {},
              "FailureReason": {}
            }
          },
          "ModelVariants": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "VariantName",
                "InfrastructureConfig",
                "Status"
              ],
              "members": {
                "ModelName": {},
                "VariantName": {},
                "InfrastructureConfig": {
                  "shape": "Sgb"
                },
                "Status": {}
              }
            }
          },
          "DataStorageConfig": {
            "shape": "Sgg"
          },
          "ShadowModeConfig": {
            "shape": "Sgh"
          },
          "KmsKey": {}
        }
      }
    },
    "DescribeInferenceRecommendationsJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobName",
          "JobType",
          "JobArn",
          "RoleArn",
          "Status",
          "CreationTime",
          "LastModifiedTime",
          "InputConfig"
        ],
        "members": {
          "JobName": {},
          "JobDescription": {},
          "JobType": {},
          "JobArn": {},
          "RoleArn": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CompletionTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "InputConfig": {
            "shape": "Sgp"
          },
          "StoppingConditions": {
            "shape": "Shn"
          },
          "InferenceRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Metrics",
                "EndpointConfiguration",
                "ModelConfiguration"
              ],
              "members": {
                "Metrics": {
                  "shape": "Sy4"
                },
                "EndpointConfiguration": {
                  "shape": "Sy6"
                },
                "ModelConfiguration": {
                  "shape": "Sy7"
                },
                "RecommendationId": {},
                "InvocationEndTime": {
                  "type": "timestamp"
                },
                "InvocationStartTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "EndpointPerformances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Metrics",
                "EndpointInfo"
              ],
              "members": {
                "Metrics": {
                  "shape": "Syf"
                },
                "EndpointInfo": {
                  "shape": "Shg"
                }
              }
            }
          }
        }
      }
    },
    "DescribeLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName"
        ],
        "members": {
          "LabelingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobStatus",
          "LabelCounters",
          "CreationTime",
          "LastModifiedTime",
          "JobReferenceCode",
          "LabelingJobName",
          "LabelingJobArn",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobStatus": {},
          "LabelCounters": {
            "shape": "Syj"
          },
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "JobReferenceCode": {},
          "LabelingJobName": {},
          "LabelingJobArn": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "Shy"
          },
          "OutputConfig": {
            "shape": "Si5"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "Si6"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "Si9"
          },
          "HumanTaskConfig": {
[...]
