{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-06-28",
    "endpointPrefix": "savingsplans",
    "globalEndpoint": "savingsplans.amazonaws.com",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWSSavingsPlans",
    "serviceFullName": "AWS Savings Plans",
    "serviceId": "savingsplans",
    "signatureVersion": "v4",
    "uid": "savingsplans-2019-06-28"
  },
  "operations": {
    "CreateSavingsPlan": {
      "http": {
        "requestUri": "/CreateSavingsPlan"
      },
      "input": {
        "type": "structure",
        "required": [
          "savingsPlanOfferingId",
          "commitment"
        ],
        "members": {
          "savingsPlanOfferingId": {},
          "commitment": {},
          "upfrontPaymentAmount": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "savingsPlanId": {}
        }
      }
    },
    "DescribeSavingsPlanRates": {
      "http": {
        "requestUri": "/DescribeSavingsPlanRates"
      },
      "input": {
        "type": "structure",
        "required": [
          "savingsPlanId"
        ],
        "members": {
          "savingsPlanId": {},
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "values": {
                  "shape": "Se"
                }
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "savingsPlanId": {},
          "searchResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "rate": {},
                "currency": {},
                "unit": {},
                "productType": {},
                "serviceCode": {},
                "usageType": {},
                "operation": {},
                "properties": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "value": {}
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeSavingsPlans": {
      "http": {
        "requestUri": "/DescribeSavingsPlans"
      },
      "input": {
        "type": "structure",
        "members": {
          "savingsPlanArns": {
            "type": "list",
            "member": {}
          },
          "savingsPlanIds": {
            "type": "list",
            "member": {}
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "states": {
            "type": "list",
            "member": {}
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "values": {
                  "shape": "Se"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "savingsPlans": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "offeringId": {},
                "savingsPlanId": {},
                "savingsPlanArn": {},
                "description": {},
                "start": {},
                "end": {},
                "state": {},
                "region": {},
                "ec2InstanceFamily": {},
                "savingsPlanType": {},
                "paymentOption": {},
                "productTypes": {
                  "shape": "S1b"
                },
                "currency": {},
                "commitment": {},
                "upfrontPaymentAmount": {},
                "recurringPaymentAmount": {},
                "termDurationInSeconds": {
                  "type": "long"
                },
                "tags": {
                  "shape": "S5"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeSavingsPlansOfferingRates": {
      "http": {
        "requestUri": "/DescribeSavingsPlansOfferingRates"
      },
      "input": {
        "type": "structure",
        "members": {
          "savingsPlanOfferingIds": {
            "shape": "S1e"
          },
          "savingsPlanPaymentOptions": {
            "shape": "S1g"
          },
          "savingsPlanTypes": {
            "shape": "S1h"
          },
          "products": {
            "shape": "S1b"
          },
          "serviceCodes": {
            "type": "list",
            "member": {}
          },
          "usageTypes": {
            "type": "list",
            "member": {}
          },
          "operations": {
            "type": "list",
            "member": {}
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "values": {
                  "shape": "S1o"
                }
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "searchResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "savingsPlanOffering": {
                  "type": "structure",
                  "members": {
                    "offeringId": {},
                    "paymentOption": {},
                    "planType": {},
                    "durationSeconds": {
                      "type": "long"
                    },
                    "currency": {},
                    "planDescription": {}
                  }
                },
                "rate": {},
                "unit": {},
                "productType": {},
                "serviceCode": {},
                "usageType": {},
                "operation": {},
                "properties": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "value": {}
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeSavingsPlansOfferings": {
      "http": {
        "requestUri": "/DescribeSavingsPlansOfferings"
      },
      "input": {
        "type": "structure",
        "members": {
          "offeringIds": {
            "shape": "S1e"
          },
          "paymentOptions": {
            "shape": "S1g"
          },
          "productType": {},
          "planTypes": {
            "shape": "S1h"
          },
          "durations": {
            "type": "list",
            "member": {
              "type": "long"
            }
          },
          "currencies": {
            "type": "list",
            "member": {}
          },
          "descriptions": {
            "type": "list",
            "member": {}
          },
          "serviceCodes": {
            "type": "list",
            "member": {}
          },
          "usageTypes": {
            "type": "list",
            "member": {}
          },
          "operations": {
            "type": "list",
            "member": {}
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "values": {
                  "shape": "S1o"
                }
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "searchResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "offeringId": {},
                "productTypes": {
                  "shape": "S1b"
                },
                "planType": {},
                "description": {},
                "paymentOption": {},
                "durationSeconds": {
                  "type": "long"
                },
                "currency": {},
                "serviceCode": {},
                "usageType": {},
                "operation": {},
                "properties": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "value": {}
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "requestUri": "/ListTagsForResource"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S5"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/TagResource"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "requestUri": "/UntagResource"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {},
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Se": {
      "type": "list",
      "member": {}
    },
    "S1b": {
      "type": "list",
      "member": {}
    },
    "S1e": {
      "type": "list",
      "member": {}
    },
    "S1g": {
      "type": "list",
      "member": {}
    },
    "S1h": {
      "type": "list",
      "member": {}
    },
    "S1o": {
      "type": "list",
      "member": {}
    }
  }
}