{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-10-17",
    "endpointPrefix": "secretsmanager",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Secrets Manager",
    "serviceId": "Secrets Manager",
    "signatureVersion": "v4",
    "signingName": "secretsmanager",
    "targetPrefix": "secretsmanager",
    "uid": "secretsmanager-2017-10-17"
  },
  "operations": {
    "CancelRotateSecret": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "VersionId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateSecret": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S8"
          },
          "ClientRequestToken": {
            "shape": "S9",
            "idempotencyToken": true
          },
          "Description": {
            "shape": "Sa"
          },
          "KmsKeyId": {
            "shape": "Sb"
          },
          "SecretBinary": {
            "shape": "Sc"
          },
          "SecretString": {
            "shape": "Sd"
          },
          "Tags": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "VersionId": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteSecret": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "RecoveryWindowInDays": {
            "type": "long"
          },
          "ForceDeleteWithoutRecovery": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "DeletionDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeSecret": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "Description": {
            "shape": "Sa"
          },
          "KmsKeyId": {
            "shape": "Sb"
          },
          "RotationEnabled": {
            "type": "boolean"
          },
          "RotationLambdaARN": {
            "shape": "St"
          },
          "RotationRules": {
            "shape": "Su"
          },
          "LastRotatedDate": {
            "type": "timestamp"
          },
          "LastChangedDate": {
            "type": "timestamp"
          },
          "LastAccessedDate": {
            "type": "timestamp"
          },
          "DeletedDate": {
            "type": "timestamp"
          },
          "Tags": {
            "shape": "Se"
          },
          "VersionIdsToStages": {
            "shape": "S10"
          }
        }
      }
    },
    "GetRandomPassword": {
      "input": {
        "type": "structure",
        "members": {
          "PasswordLength": {
            "type": "long",
            "max": 4096,
            "min": 1
          },
          "ExcludeCharacters": {
            "type": "string",
            "max": 4096,
            "min": 0
          },
          "ExcludeNumbers": {
            "type": "boolean"
          },
          "ExcludePunctuation": {
            "type": "boolean"
          },
          "ExcludeUppercase": {
            "type": "boolean"
          },
          "ExcludeLowercase": {
            "type": "boolean"
          },
          "IncludeSpace": {
            "type": "boolean"
          },
          "RequireEachIncludedType": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RandomPassword": {
            "type": "string",
            "max": 4096,
            "min": 0
          }
        }
      }
    },
    "GetResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S8"
          },
          "ResourcePolicy": {
            "shape": "S1g"
          }
        }
      }
    },
    "GetSecretValue": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "VersionId": {
            "shape": "S6"
          },
          "VersionStage": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "VersionId": {
            "shape": "S6"
          },
          "SecretBinary": {
            "shape": "Sc"
          },
          "SecretString": {
            "shape": "Sd"
          },
          "VersionStages": {
            "shape": "S11"
          },
          "CreatedDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "ListSecretVersionIds": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "MaxResults": {
            "shape": "S1l"
          },
          "NextToken": {
            "shape": "S1m"
          },
          "IncludeDeprecated": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Versions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VersionId": {
                  "shape": "S6"
                },
                "VersionStages": {
                  "shape": "S11"
                },
                "LastAccessedDate": {
                  "type": "timestamp"
                },
                "CreatedDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1m"
          },
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          }
        }
      }
    },
    "ListSecrets": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S1l"
          },
          "NextToken": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecretList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ARN": {
                  "shape": "S4"
                },
                "Name": {
                  "shape": "S5"
                },
                "Description": {
                  "shape": "Sa"
                },
                "KmsKeyId": {
                  "shape": "Sb"
                },
                "RotationEnabled": {
                  "type": "boolean"
                },
                "RotationLambdaARN": {
                  "shape": "St"
                },
                "RotationRules": {
                  "shape": "Su"
                },
                "LastRotatedDate": {
                  "type": "timestamp"
                },
                "LastChangedDate": {
                  "type": "timestamp"
                },
                "LastAccessedDate": {
                  "type": "timestamp"
                },
                "DeletedDate": {
                  "type": "timestamp"
                },
                "Tags": {
                  "shape": "Se"
                },
                "SecretVersionsToStages": {
                  "shape": "S10"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1m"
          }
        }
      }
    },
    "PutResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId",
          "ResourcePolicy"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "ResourcePolicy": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S8"
          }
        }
      }
    },
    "PutSecretValue": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "ClientRequestToken": {
            "shape": "S9",
            "idempotencyToken": true
          },
          "SecretBinary": {
            "shape": "Sc"
          },
          "SecretString": {
            "shape": "Sd"
          },
          "VersionStages": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "VersionId": {
            "shape": "S6"
          },
          "VersionStages": {
            "shape": "S11"
          }
        }
      }
    },
    "RestoreSecret": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          }
        }
      }
    },
    "RotateSecret": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "ClientRequestToken": {
            "shape": "S9",
            "idempotencyToken": true
          },
          "RotationLambdaARN": {
            "shape": "St"
          },
          "RotationRules": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "VersionId": {
            "shape": "S6"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId",
          "Tags"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "Tags": {
            "shape": "Se"
          }
        }
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId",
          "TagKeys"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "Sg"
            }
          }
        }
      }
    },
    "UpdateSecret": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "ClientRequestToken": {
            "shape": "S9",
            "idempotencyToken": true
          },
          "Description": {
            "shape": "Sa"
          },
          "KmsKeyId": {
            "shape": "Sb"
          },
          "SecretBinary": {
            "shape": "Sc"
          },
          "SecretString": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          },
          "VersionId": {
            "shape": "S6"
          }
        }
      }
    },
    "UpdateSecretVersionStage": {
      "input": {
        "type": "structure",
        "required": [
          "SecretId",
          "VersionStage"
        ],
        "members": {
          "SecretId": {
            "shape": "S2"
          },
          "VersionStage": {
            "shape": "S12"
          },
          "RemoveFromVersionId": {
            "shape": "S6"
          },
          "MoveToVersionId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ARN": {
            "shape": "S4"
          },
          "Name": {
            "shape": "S5"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S4": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "S5": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S6": {
      "type": "string",
      "max": 64,
      "min": 32
    },
    "S8": {
      "type": "string",
      "max": 512,
      "min": 1
    },
    "S9": {
      "type": "string",
      "max": 64,
      "min": 32
    },
    "Sa": {
      "type": "string",
      "max": 2048
    },
    "Sb": {
      "type": "string",
      "max": 2048,
      "min": 0
    },
    "Sc": {
      "type": "blob",
      "max": 4096,
      "min": 0,
      "sensitive": true
    },
    "Sd": {
      "type": "string",
      "max": 4096,
      "min": 0,
      "sensitive": true
    },
    "Se": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {
            "shape": "Sg"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0
          }
        }
      }
    },
    "Sg": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "St": {
      "type": "string",
      "max": 2048,
      "min": 0
    },
    "Su": {
      "type": "structure",
      "members": {
        "AutomaticallyAfterDays": {
          "type": "long",
          "max": 1000,
          "min": 1
        }
      }
    },
    "S10": {
      "type": "map",
      "key": {
        "shape": "S6"
      },
      "value": {
        "shape": "S11"
      }
    },
    "S11": {
      "type": "list",
      "member": {
        "shape": "S12"
      },
      "max": 20,
      "min": 1
    },
    "S12": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S1g": {
      "type": "string",
      "max": 4096,
      "min": 1
    },
    "S1l": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S1m": {
      "type": "string",
      "max": 4096,
      "min": 1
    }
  }
}