{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "http": {
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "required": [
          "MasterId",
          "InvitationId"
        ],
        "members": {
          "MasterId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchDisableStandards": {
      "http": {
        "requestUri": "/standards/deregister"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArns"
        ],
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchEnableStandards": {
      "http": {
        "requestUri": "/standards/register"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionRequests"
        ],
        "members": {
          "StandardsSubscriptionRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn"
              ],
              "members": {
                "StandardsArn": {},
                "StandardsInput": {
                  "shape": "S9"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchImportFindings": {
      "http": {
        "requestUri": "/findings/import"
      },
      "input": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedCount",
          "SuccessCount"
        ],
        "members": {
          "FailedCount": {
            "type": "integer"
          },
          "SuccessCount": {
            "type": "integer"
          },
          "FailedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchUpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings/batchupdate"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingIdentifiers"
        ],
        "members": {
          "FindingIdentifiers": {
            "shape": "S3r"
          },
          "Note": {
            "shape": "S3t"
          },
          "Severity": {
            "type": "structure",
            "members": {
              "Normalized": {
                "type": "integer"
              },
              "Product": {
                "type": "double"
              },
              "Label": {}
            }
          },
          "VerificationState": {},
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Types": {
            "shape": "Si"
          },
          "UserDefinedFields": {
            "shape": "Sp"
          },
          "Workflow": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "RelatedFindings": {
            "shape": "S3k"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessedFindings",
          "UnprocessedFindings"
        ],
        "members": {
          "ProcessedFindings": {
            "shape": "S3r"
          },
          "UnprocessedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "FindingIdentifier",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "FindingIdentifier": {
                  "shape": "S3s"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateActionTarget": {
      "http": {
        "requestUri": "/actionTargets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Description",
          "Id"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "CreateInsight": {
      "http": {
        "requestUri": "/insights"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Filters",
          "GroupByAttribute"
        ],
        "members": {
          "Name": {},
          "Filters": {
            "shape": "S43"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Email": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S4q"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S4q"
          }
        }
      }
    },
    "DeleteActionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S4q"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/members/delete"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S4q"
          }
        }
      }
    },
    "DescribeActionTargets": {
      "http": {
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "ActionTargetArns": {
            "shape": "S54"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargets"
        ],
        "members": {
          "ActionTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ActionTargetArn",
                "Name",
                "Description"
              ],
              "members": {
                "ActionTargetArn": {},
                "Name": {},
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeHub": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "HubArn": {
            "location": "querystring",
            "locationName": "HubArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HubArn": {},
          "SubscribedAt": {}
        }
      }
    },
    "DescribeProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Products"
        ],
        "members": {
          "Products": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn"
              ],
              "members": {
                "ProductArn": {},
                "ProductName": {},
                "CompanyName": {},
                "Description": {},
                "Categories": {
                  "type": "list",
                  "member": {}
                },
                "IntegrationTypes": {
                  "type": "list",
                  "member": {}
                },
                "MarketplaceUrl": {},
                "ActivationUrl": {},
                "ProductSubscriptionResourcePolicy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandards": {
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Standards": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsArn": {},
                "Name": {},
                "Description": {},
                "EnabledByDefault": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandardsControls": {
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn"
        ],
        "members": {
          "StandardsSubscriptionArn": {
            "location": "uri",
            "locationName": "StandardsSubscriptionArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Controls": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsControlArn": {},
                "ControlStatus": {},
                "DisabledReason": {},
                "ControlStatusUpdatedAt": {
                  "shape": "S5s"
                },
                "ControlId": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "RelatedRequirements": {
                  "shape": "S3e"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableImportFindingsForProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductSubscriptionArn"
        ],
        "members": {
          "ProductSubscriptionArn": {
            "location": "uri",
            "locationName": "ProductSubscriptionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSecurityHub": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/members/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableImportFindingsForProduct": {
      "http": {
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductArn"
        ],
        "members": {
          "ProductArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptionArn": {}
        }
      }
    },
    "EnableSecurityHub": {
      "http": {
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S65"
          },
          "EnableDefaultStandards": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetEnabledStandards": {
      "http": {
        "requestUri": "/standards/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          },
          "NextToken": {}
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S43"
          },
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Field": {},
                "SortOrder": {}
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          },
          "NextToken": {}
        }
      }
    },
    "GetInsightResults": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightResults"
        ],
        "members": {
          "InsightResults": {
            "type": "structure",
            "required": [
              "InsightArn",
              "GroupByAttribute",
              "ResultValues"
            ],
            "members": {
              "InsightArn": {},
              "GroupByAttribute": {},
              "ResultValues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "GroupByAttributeValue",
                    "Count"
                  ],
                  "members": {
                    "GroupByAttributeValue": {},
                    "Count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInsights": {
      "http": {
        "requestUri": "/insights/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightArns": {
            "shape": "S54"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Insights"
        ],
        "members": {
          "Insights": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InsightArn",
                "Name",
                "Filters",
                "GroupByAttribute"
              ],
              "members": {
                "InsightArn": {},
                "Name": {},
                "Filters": {
                  "shape": "S43"
                },
                "GroupByAttribute": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Master": {
            "shape": "S6t"
          }
        }
      }
    },
    "GetMembers": {
      "http": {
        "requestUri": "/members/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S6w"
          },
          "UnprocessedAccounts": {
            "shape": "S4q"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/members/invite"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S4q"
          }
        }
      }
    },
    "ListEnabledProductsForImport": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptions": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "type": "list",
            "member": {
              "shape": "S6t"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "OnlyAssociated",
            "type": "boolean"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S6w"
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S65"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "S65"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateActionTarget": {
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          },
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "shape": "S43"
          },
          "Note": {
            "shape": "S3t"
          },
          "RecordState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInsight": {
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          },
          "Name": {},
          "Filters": {
            "shape": "S43"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStandardsControl": {
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlArn"
        ],
        "members": {
          "StandardsControlArn": {
            "location": "uri",
            "locationName": "StandardsControlArn"
          },
          "ControlStatus": {},
          "DisabledReason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {}
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn",
          "StandardsArn",
          "StandardsInput",
          "StandardsStatus"
        ],
        "members": {
          "StandardsSubscriptionArn": {},
          "StandardsArn": {},
          "StandardsInput": {
            "shape": "S9"
          },
          "StandardsStatus": {}
        }
      }
    },
    "S9": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "SchemaVersion",
          "Id",
          "ProductArn",
          "GeneratorId",
          "AwsAccountId",
          "Types",
          "CreatedAt",
          "UpdatedAt",
          "Severity",
          "Title",
          "Description",
          "Resources"
        ],
        "members": {
          "SchemaVersion": {},
          "Id": {},
          "ProductArn": {},
          "GeneratorId": {},
          "AwsAccountId": {},
          "Types": {
            "shape": "Si"
          },
          "FirstObservedAt": {},
          "LastObservedAt": {},
          "CreatedAt": {},
          "UpdatedAt": {},
          "Severity": {
            "type": "structure",
            "members": {
              "Product": {
                "type": "double"
              },
              "Label": {},
              "Normalized": {
                "type": "integer"
              }
            }
          },
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Title": {},
          "Description": {},
          "Remediation": {
            "type": "structure",
            "members": {
              "Recommendation": {
                "type": "structure",
                "members": {
                  "Text": {},
                  "Url": {}
                }
              }
            }
          },
          "SourceUrl": {},
          "ProductFields": {
            "shape": "Sp"
          },
          "UserDefinedFields": {
            "shape": "Sp"
          },
          "Malware": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "Name": {},
                "Type": {},
                "Path": {},
                "State": {}
              }
            }
          },
          "Network": {
            "type": "structure",
            "members": {
              "Direction": {},
              "Protocol": {},
              "SourceIpV4": {},
              "SourceIpV6": {},
              "SourcePort": {
                "type": "integer"
              },
              "SourceDomain": {},
              "SourceMac": {},
              "DestinationIpV4": {},
              "DestinationIpV6": {},
              "DestinationPort": {
                "type": "integer"
              },
              "DestinationDomain": {}
            }
          },
          "Process": {
            "type": "structure",
            "members": {
              "Name": {},
              "Path": {},
              "Pid": {
                "type": "integer"
              },
              "ParentPid": {
                "type": "integer"
              },
              "LaunchedAt": {},
              "TerminatedAt": {}
            }
          },
          "ThreatIntelIndicators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "Value": {},
                "Category": {},
                "LastObservedAt": {},
                "Source": {},
                "SourceUrl": {}
              }
            }
          },
          "Resources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Type",
                "Id"
              ],
              "members": {
                "Type": {},
                "Id": {},
                "Partition": {},
                "Region": {},
                "Tags": {
                  "shape": "Sp"
                },
                "Details": {
                  "type": "structure",
                  "members": {
                    "AwsCodeBuildProject": {
                      "type": "structure",
                      "members": {
                        "EncryptionKey": {},
                        "Environment": {
                          "type": "structure",
                          "members": {
                            "Certificate": {},
                            "ImagePullCredentialsType": {},
                            "RegistryCredential": {
                              "type": "structure",
                              "members": {
                                "Credential": {},
                                "CredentialProvider": {}
                              }
                            },
                            "Type": {}
                          }
                        },
                        "Name": {},
                        "Source": {
                          "type": "structure",
                          "members": {
                            "Type": {},
                            "Location": {},
                            "GitCloneDepth": {
                              "type": "integer"
                            },
                            "InsecureSsl": {
                              "type": "boolean"
                            }
                          }
                        },
                        "ServiceRole": {},
                        "VpcConfig": {
                          "type": "structure",
                          "members": {
                            "VpcId": {},
                            "Subnets": {
                              "shape": "S1b"
                            },
                            "SecurityGroupIds": {
                              "shape": "S1b"
                            }
                          }
                        }
                      }
                    },
                    "AwsCloudFrontDistribution": {
                      "type": "structure",
                      "members": {
                        "DomainName": {},
                        "ETag": {},
                        "LastModifiedTime": {},
                        "Logging": {
                          "type": "structure",
                          "members": {
                            "Bucket": {},
                            "Enabled": {
                              "type": "boolean"
                            },
                            "IncludeCookies": {
                              "type": "boolean"
                            },
                            "Prefix": {}
                          }
                        },
                        "Origins": {
                          "type": "structure",
                          "members": {
                            "Items": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "DomainName": {},
                                  "Id": {},
                                  "OriginPath": {}
                                }
                              }
                            }
                          }
                        },
                        "Status": {},
                        "WebAclId": {}
                      }
                    },
                    "AwsEc2Instance": {
                      "type": "structure",
                      "members": {
                        "Type": {},
                        "ImageId": {},
                        "IpV4Addresses": {
                          "shape": "S1i"
                        },
                        "IpV6Addresses": {
                          "shape": "S1i"
                        },
                        "KeyName": {},
                        "IamInstanceProfileArn": {},
                        "VpcId": {},
                        "SubnetId": {},
                        "LaunchedAt": {}
                      }
                    },
                    "AwsEc2NetworkInterface": {
                      "type": "structure",
                      "members": {
                        "Attachment": {
                          "type": "structure",
                          "members": {
                            "AttachTime": {},
                            "AttachmentId": {},
                            "DeleteOnTermination": {
                              "type": "boolean"
                            },
                            "DeviceIndex": {
                              "type": "integer"
                            },
                            "InstanceId": {},
                            "InstanceOwnerId": {},
                            "Status": {}
                          }
                        },
                        "NetworkInterfaceId": {},
                        "SecurityGroups": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "GroupName": {},
                              "GroupId": {}
                            }
                          }
                        },
                        "SourceDestCheck": {
                          "type": "boolean"
                        }
                      }
                    },
                    "AwsEc2SecurityGroup": {
                      "type": "structure",
                      "members": {
                        "GroupName": {},
                        "GroupId": {},
                        "OwnerId": {},
                        "VpcId": {},
                        "IpPermissions": {
                          "shape": "S1o"
                        },
                        "IpPermissionsEgress": {
                          "shape": "S1o"
                        }
                      }
                    },
                    "AwsElbv2LoadBalancer": {
                      "type": "structure",
                      "members": {
                        "AvailabilityZones": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "ZoneName": {},
                              "SubnetId": {}
                            }
                          }
                        },
                        "CanonicalHostedZoneId": {},
                        "CreatedTime": {},
                        "DNSName": {},
                        "IpAddressType": {},
                        "Scheme": {},
                        "SecurityGroups": {
                          "type": "list",
                          "member": {}
                        },
                        "State": {
                          "type": "structure",
                          "members": {
                            "Code": {},
                            "Reason": {}
                          }
                        },
                        "Type": {},
                        "VpcId": {}
                      }
                    },
                    "AwsElasticsearchDomain": {
                      "type": "structure",
                      "members": {
                        "AccessPolicies": {},
                        "DomainEndpointOptions": {
                          "type": "structure",
                          "members": {
                            "EnforceHTTPS": {
                              "type": "boolean"
                            },
                            "TLSSecurityPolicy": {}
                          }
                        },
                        "DomainId": {},
                        "DomainName": {},
                        "Endpoint": {},
                        "Endpoints": {
                          "shape": "Sp"
                        },
                        "ElasticsearchVersion": {},
                        "EncryptionAtRestOptions": {
                          "type": "structure",
                          "members": {
                            "Enabled": {
                              "type": "boolean"
                            },
                            "KmsKeyId": {}
                          }
                        },
                        "NodeToNodeEncryptionOptions": {
                          "type": "structure",
                          "members": {
                            "Enabled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "VPCOptions": {
                          "type": "structure",
                          "members": {
                            "AvailabilityZones": {
                              "shape": "S1b"
                            },
                            "SecurityGroupIds": {
                              "shape": "S1b"
                            },
                            "SubnetIds": {
                              "shape": "S1b"
                            },
                            "VPCId": {}
                          }
                        }
                      }
                    },
                    "AwsS3Bucket": {
                      "type": "structure",
                      "members": {
                        "OwnerId": {},
                        "OwnerName": {},
                        "CreatedAt": {},
                        "ServerSideEncryptionConfiguration": {
                          "type": "structure",
                          "members": {
                            "Rules": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "ApplyServerSideEncryptionByDefault": {
                                    "type": "structure",
                                    "members": {
                                      "SSEAlgorithm": {},
                                      "KMSMasterKeyID": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "AwsS3Object": {
                      "type": "structure",
                      "members": {
                        "LastModified": {},
                        "ETag": {},
                        "VersionId": {},
                        "ContentType": {},
                        "ServerSideEncryption": {},
                        "SSEKMSKeyId": {}
                      }
                    },
                    "AwsIamAccessKey": {
                      "type": "structure",
                      "members": {
                        "UserName": {
                          "deprecated": true,
                          "deprecatedMessage": "This field is deprecated, use PrincipalName instead."
                        },
                        "Status": {},
                        "CreatedAt": {},
                        "PrincipalId": {},
                        "PrincipalType": {},
                        "PrincipalName": {}
                      }
                    },
                    "AwsIamRole": {
                      "type": "structure",
                      "members": {
                        "AssumeRolePolicyDocument": {},
                        "CreateDate": {},
                        "RoleId": {},
                        "RoleName": {},
                        "MaxSessionDuration": {
                          "type": "integer"
                        },
                        "Path": {}
                      }
                    },
                    "AwsKmsKey": {
                      "type": "structure",
                      "members": {
                        "AWSAccountId": {},
                        "CreationDate": {
                          "type": "double"
                        },
                        "KeyId": {},
                        "KeyManager": {},
                        "KeyState": {},
                        "Origin": {}
                      }
                    },
                    "AwsLambdaFunction": {
                      "type": "structure",
                      "members": {
                        "Code": {
                          "type": "structure",
                          "members": {
                            "S3Bucket": {},
                            "S3Key": {},
                            "S3ObjectVersion": {},
                            "ZipFile": {}
                          }
                        },
                        "CodeSha256": {},
                        "DeadLetterConfig": {
                          "type": "structure",
                          "members": {
                            "TargetArn": {}
                          }
                        },
                        "Environment": {
                          "type": "structure",
                          "members": {
                            "Variables": {
                              "shape": "Sp"
                            },
                            "Error": {
                              "type": "structure",
                              "members": {
                                "ErrorCode": {},
                                "Message": {}
                              }
                            }
                          }
                        },
                        "FunctionName": {},
                        "Handler": {},
                        "KmsKeyArn": {},
                        "LastModified": {},
                        "Layers": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Arn": {},
                              "CodeSize": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "MasterArn": {},
                        "MemorySize": {
                          "type": "integer"
                        },
                        "RevisionId": {},
                        "Role": {},
                        "Runtime": {},
                        "Timeout": {
                          "type": "integer"
                        },
                        "TracingConfig": {
                          "type": "structure",
                          "members": {
                            "Mode": {}
                          }
                        },
                        "VpcConfig": {
                          "type": "structure",
                          "members": {
                            "SecurityGroupIds": {
                              "shape": "S1b"
                            },
                            "SubnetIds": {
                              "shape": "S1b"
                            },
                            "VpcId": {}
                          }
                        },
                        "Version": {}
                      }
                    },
                    "AwsLambdaLayerVersion": {
                      "type": "structure",
                      "members": {
                        "Version": {
                          "type": "long"
                        },
                        "CompatibleRuntimes": {
                          "shape": "S1b"
                        },
                        "CreatedDate": {}
                      }
                    },
                    "AwsRdsDbInstance": {
                      "type": "structure",
                      "members": {
                        "AssociatedRoles": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "RoleArn": {},
                              "FeatureName": {},
                              "Status": {}
                            }
                          }
                        },
                        "CACertificateIdentifier": {},
                        "DBClusterIdentifier": {},
                        "DBInstanceIdentifier": {},
                        "DBInstanceClass": {},
                        "DbInstancePort": {
                          "type": "integer"
                        },
                        "DbiResourceId": {},
                        "DBName": {},
                        "DeletionProtection": {
                          "type": "boolean"
                        },
                        "Endpoint": {
                          "type": "structure",
                          "members": {
                            "Address": {},
                            "Port": {
                              "type": "integer"
                            },
                            "HostedZoneId": {}
                          }
                        },
                        "Engine": {},
                        "EngineVersion": {},
                        "IAMDatabaseAuthenticationEnabled": {
                          "type": "boolean"
                        },
                        "InstanceCreateTime": {},
                        "KmsKeyId": {},
                        "PubliclyAccessible": {
                          "type": "boolean"
                        },
                        "StorageEncrypted": {
                          "type": "boolean"
                        },
                        "TdeCredentialArn": {},
                        "VpcSecurityGroups": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "VpcSecurityGroupId": {},
                              "Status": {}
                            }
                          }
                        }
                      }
                    },
                    "AwsSnsTopic": {
                      "type": "structure",
                      "members": {
                        "KmsMasterKeyId": {},
                        "Subscription": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Endpoint": {},
                              "Protocol": {}
                            }
                          }
                        },
                        "TopicName": {},
                        "Owner": {}
                      }
                    },
                    "AwsSqsQueue": {
                      "type": "structure",
                      "members": {
                        "KmsDataKeyReusePeriodSeconds": {
                          "type": "integer"
                        },
                        "KmsMasterKeyId": {},
                        "QueueName": {},
                        "DeadLetterTargetArn": {}
                      }
                    },
                    "AwsWafWebAcl": {
                      "type": "structure",
                      "members": {
                        "Name": {},
                        "DefaultAction": {},
                        "Rules": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Action": {
                                "type": "structure",
                                "members": {
                                  "Type": {}
                                }
                              },
                              "ExcludedRules": {
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "RuleId": {}
                                  }
                                }
                              },
                              "OverrideAction": {
                                "type": "structure",
                                "members": {
                                  "Type": {}
                                }
                              },
                              "Priority": {
                                "type": "integer"
                              },
                              "RuleId": {},
                              "Type": {}
                            }
                          }
                        },
                        "WebAclId": {}
                      }
                    },
                    "Container": {
                      "type": "structure",
                      "members": {
                        "Name": {},
                        "ImageId": {},
                        "ImageName": {},
                        "LaunchedAt": {}
                      }
                    },
                    "Other": {
                      "shape": "Sp"
                    }
                  }
                }
              }
            }
          },
          "Compliance": {
            "type": "structure",
            "members": {
              "Status": {},
              "RelatedRequirements": {
                "shape": "S3e"
              }
            }
          },
          "VerificationState": {},
          "WorkflowState": {
            "type": "string",
            "deprecated": true,
            "deprecatedMessage": "This field is deprecated, use Workflow.Status instead."
          },
          "Workflow": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "RecordState": {},
          "RelatedFindings": {
            "shape": "S3k"
          },
          "Note": {
            "type": "structure",
            "required": [
              "Text",
              "UpdatedBy",
              "UpdatedAt"
            ],
            "members": {
              "Text": {},
              "UpdatedBy": {},
              "UpdatedAt": {}
            }
          }
        }
      }
    },
    "Si": {
      "type": "list",
      "member": {}
    },
    "Sp": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1b": {
      "type": "list",
      "member": {}
    },
    "S1i": {
      "type": "list",
      "member": {}
    },
    "S1o": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "IpProtocol": {},
          "FromPort": {
            "type": "integer"
          },
          "ToPort": {
            "type": "integer"
          },
          "UserIdGroupPairs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GroupId": {},
                "GroupName": {},
                "PeeringStatus": {},
                "UserId": {},
                "VpcId": {},
                "VpcPeeringConnectionId": {}
              }
            }
          },
          "IpRanges": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CidrIp": {}
              }
            }
          },
          "Ipv6Ranges": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CidrIpv6": {}
              }
            }
          },
          "PrefixListIds": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PrefixListId": {}
              }
            }
          }
        }
      }
    },
    "S3e": {
      "type": "list",
      "member": {}
    },
    "S3k": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ProductArn",
          "Id"
        ],
        "members": {
          "ProductArn": {},
          "Id": {}
        }
      }
    },
    "S3r": {
      "type": "list",
      "member": {
        "shape": "S3s"
      }
    },
    "S3s": {
      "type": "structure",
      "required": [
        "Id",
        "ProductArn"
      ],
      "members": {
        "Id": {},
        "ProductArn": {}
      }
    },
    "S3t": {
      "type": "structure",
      "required": [
        "Text",
        "UpdatedBy"
      ],
      "members": {
        "Text": {},
        "UpdatedBy": {}
      }
    },
    "S43": {
      "type": "structure",
      "members": {
        "ProductArn": {
          "shape": "S44"
        },
        "AwsAccountId": {
          "shape": "S44"
        },
        "Id": {
          "shape": "S44"
        },
        "GeneratorId": {
          "shape": "S44"
        },
        "Type": {
          "shape": "S44"
        },
        "FirstObservedAt": {
          "shape": "S47"
        },
        "LastObservedAt": {
          "shape": "S47"
        },
        "CreatedAt": {
          "shape": "S47"
        },
        "UpdatedAt": {
          "shape": "S47"
        },
        "SeverityProduct": {
          "shape": "S4b"
        },
        "SeverityNormalized": {
          "shape": "S4b"
        },
        "SeverityLabel": {
          "shape": "S44"
        },
        "Confidence": {
          "shape": "S4b"
        },
        "Criticality": {
          "shape": "S4b"
        },
        "Title": {
          "shape": "S44"
        },
        "Description": {
          "shape": "S44"
        },
        "RecommendationText": {
          "shape": "S44"
        },
        "SourceUrl": {
          "shape": "S44"
        },
        "ProductFields": {
          "shape": "S4d"
        },
        "ProductName": {
          "shape": "S44"
        },
        "CompanyName": {
          "shape": "S44"
        },
        "UserDefinedFields": {
          "shape": "S4d"
        },
        "MalwareName": {
          "shape": "S44"
        },
        "MalwareType": {
          "shape": "S44"
        },
        "MalwarePath": {
          "shape": "S44"
        },
        "MalwareState": {
          "shape": "S44"
        },
        "NetworkDirection": {
          "shape": "S44"
        },
        "NetworkProtocol": {
          "shape": "S44"
        },
        "NetworkSourceIpV4": {
          "shape": "S4g"
        },
        "NetworkSourceIpV6": {
          "shape": "S4g"
        },
        "NetworkSourcePort": {
          "shape": "S4b"
        },
        "NetworkSourceDomain": {
          "shape": "S44"
        },
        "NetworkSourceMac": {
          "shape": "S44"
        },
        "NetworkDestinationIpV4": {
          "shape": "S4g"
        },
        "NetworkDestinationIpV6": {
          "shape": "S4g"
        },
        "NetworkDestinationPort": {
          "shape": "S4b"
        },
        "NetworkDestinationDomain": {
          "shape": "S44"
        },
        "ProcessName": {
          "shape": "S44"
        },
        "ProcessPath": {
          "shape": "S44"
        },
        "ProcessPid": {
          "shape": "S4b"
        },
        "ProcessParentPid": {
          "shape": "S4b"
        },
        "ProcessLaunchedAt": {
          "shape": "S47"
        },
        "ProcessTerminatedAt": {
          "shape": "S47"
        },
        "ThreatIntelIndicatorType": {
          "shape": "S44"
        },
        "ThreatIntelIndicatorValue": {
          "shape": "S44"
        },
        "ThreatIntelIndicatorCategory": {
          "shape": "S44"
        },
        "ThreatIntelIndicatorLastObservedAt": {
          "shape": "S47"
        },
        "ThreatIntelIndicatorSource": {
          "shape": "S44"
        },
        "ThreatIntelIndicatorSourceUrl": {
          "shape": "S44"
        },
        "ResourceType": {
          "shape": "S44"
        },
        "ResourceId": {
          "shape": "S44"
        },
        "ResourcePartition": {
          "shape": "S44"
        },
        "ResourceRegion": {
          "shape": "S44"
        },
        "ResourceTags": {
          "shape": "S4d"
        },
        "ResourceAwsEc2InstanceType": {
          "shape": "S44"
        },
        "ResourceAwsEc2InstanceImageId": {
          "shape": "S44"
        },
        "ResourceAwsEc2InstanceIpV4Addresses": {
          "shape": "S4g"
        },
        "ResourceAwsEc2InstanceIpV6Addresses": {
          "shape": "S4g"
        },
        "ResourceAwsEc2InstanceKeyName": {
          "shape": "S44"
        },
        "ResourceAwsEc2InstanceIamInstanceProfileArn": {
          "shape": "S44"
        },
        "ResourceAwsEc2InstanceVpcId": {
          "shape": "S44"
        },
        "ResourceAwsEc2InstanceSubnetId": {
          "shape": "S44"
        },
        "ResourceAwsEc2InstanceLaunchedAt": {
          "shape": "S47"
        },
        "ResourceAwsS3BucketOwnerId": {
          "shape": "S44"
        },
        "ResourceAwsS3BucketOwnerName": {
          "shape": "S44"
        },
        "ResourceAwsIamAccessKeyUserName": {
          "shape": "S44"
        },
        "ResourceAwsIamAccessKeyStatus": {
          "shape": "S44"
        },
        "ResourceAwsIamAccessKeyCreatedAt": {
          "shape": "S47"
        },
        "ResourceContainerName": {
          "shape": "S44"
        },
        "ResourceContainerImageId": {
          "shape": "S44"
        },
        "ResourceContainerImageName": {
          "shape": "S44"
        },
        "ResourceContainerLaunchedAt": {
          "shape": "S47"
        },
        "ResourceDetailsOther": {
          "shape": "S4d"
        },
        "ComplianceStatus": {
          "shape": "S44"
        },
        "VerificationState": {
          "shape": "S44"
        },
        "WorkflowState": {
          "shape": "S44"
        },
        "WorkflowStatus": {
          "shape": "S44"
        },
        "RecordState": {
          "shape": "S44"
        },
        "RelatedFindingsProductArn": {
          "shape": "S44"
        },
        "RelatedFindingsId": {
          "shape": "S44"
        },
        "NoteText": {
          "shape": "S44"
        },
        "NoteUpdatedAt": {
          "shape": "S47"
        },
        "NoteUpdatedBy": {
          "shape": "S44"
        },
        "Keyword": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Value": {}
            }
          }
        }
      }
    },
    "S44": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S47": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Start": {},
          "End": {},
          "DateRange": {
            "type": "structure",
            "members": {
              "Value": {
                "type": "integer"
              },
              "Unit": {}
            }
          }
        }
      }
    },
    "S4b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Gte": {
            "type": "double"
          },
          "Lte": {
            "type": "double"
          },
          "Eq": {
            "type": "double"
          }
        }
      }
    },
    "S4d": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S4g": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Cidr": {}
        }
      }
    },
    "S4q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "ProcessingResult": {}
        }
      }
    },
    "S4t": {
      "type": "list",
      "member": {}
    },
    "S54": {
      "type": "list",
      "member": {}
    },
    "S5s": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S65": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S6t": {
      "type": "structure",
      "members": {
        "AccountId": {},
        "InvitationId": {},
        "InvitedAt": {
          "shape": "S5s"
        },
        "MemberStatus": {}
      }
    },
    "S6w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "Email": {},
          "MasterId": {},
          "MemberStatus": {},
          "InvitedAt": {
            "shape": "S5s"
          },
          "UpdatedAt": {
            "shape": "S5s"
          }
        }
      }
    }
  }
}