{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "http": {
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "required": [
          "MasterId",
          "InvitationId"
        ],
        "members": {
          "MasterId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchDisableStandards": {
      "http": {
        "requestUri": "/standards/deregister"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArns"
        ],
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchEnableStandards": {
      "http": {
        "requestUri": "/standards/register"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionRequests"
        ],
        "members": {
          "StandardsSubscriptionRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn"
              ],
              "members": {
                "StandardsArn": {},
                "StandardsInput": {
                  "shape": "S9"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchImportFindings": {
      "http": {
        "requestUri": "/findings/import"
      },
      "input": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedCount",
          "SuccessCount"
        ],
        "members": {
          "FailedCount": {
            "type": "integer"
          },
          "SuccessCount": {
            "type": "integer"
          },
          "FailedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateActionTarget": {
      "http": {
        "requestUri": "/actionTargets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Description",
          "Id"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "CreateInsight": {
      "http": {
        "requestUri": "/insights"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Filters",
          "GroupByAttribute"
        ],
        "members": {
          "Name": {},
          "Filters": {
            "shape": "S2g"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Email": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S33"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S33"
          }
        }
      }
    },
    "DeleteActionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S33"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/members/delete"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S33"
          }
        }
      }
    },
    "DescribeActionTargets": {
      "http": {
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "ActionTargetArns": {
            "shape": "S3h"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargets"
        ],
        "members": {
          "ActionTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ActionTargetArn",
                "Name",
                "Description"
              ],
              "members": {
                "ActionTargetArn": {},
                "Name": {},
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeHub": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "HubArn": {
            "location": "querystring",
            "locationName": "HubArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HubArn": {},
          "SubscribedAt": {}
        }
      }
    },
    "DescribeProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Products"
        ],
        "members": {
          "Products": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn"
              ],
              "members": {
                "ProductArn": {},
                "ProductName": {},
                "CompanyName": {},
                "Description": {},
                "Categories": {
                  "type": "list",
                  "member": {}
                },
                "MarketplaceUrl": {},
                "ActivationUrl": {},
                "ProductSubscriptionResourcePolicy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableImportFindingsForProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductSubscriptionArn"
        ],
        "members": {
          "ProductSubscriptionArn": {
            "location": "uri",
            "locationName": "ProductSubscriptionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSecurityHub": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/members/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableImportFindingsForProduct": {
      "http": {
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductArn"
        ],
        "members": {
          "ProductArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptionArn": {}
        }
      }
    },
    "EnableSecurityHub": {
      "http": {
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S45"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetEnabledStandards": {
      "http": {
        "requestUri": "/standards/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          },
          "NextToken": {}
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S2g"
          },
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Field": {},
                "SortOrder": {}
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          },
          "NextToken": {}
        }
      }
    },
    "GetInsightResults": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightResults"
        ],
        "members": {
          "InsightResults": {
            "type": "structure",
            "required": [
              "InsightArn",
              "GroupByAttribute",
              "ResultValues"
            ],
            "members": {
              "InsightArn": {},
              "GroupByAttribute": {},
              "ResultValues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "GroupByAttributeValue",
                    "Count"
                  ],
                  "members": {
                    "GroupByAttributeValue": {},
                    "Count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInsights": {
      "http": {
        "requestUri": "/insights/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightArns": {
            "shape": "S3h"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Insights"
        ],
        "members": {
          "Insights": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InsightArn",
                "Name",
                "Filters",
                "GroupByAttribute"
              ],
              "members": {
                "InsightArn": {},
                "Name": {},
                "Filters": {
                  "shape": "S2g"
                },
                "GroupByAttribute": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Master": {
            "shape": "S4t"
          }
        }
      }
    },
    "GetMembers": {
      "http": {
        "requestUri": "/members/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S4x"
          },
          "UnprocessedAccounts": {
            "shape": "S33"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/members/invite"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S33"
          }
        }
      }
    },
    "ListEnabledProductsForImport": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptions": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "type": "list",
            "member": {
              "shape": "S4t"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "OnlyAssociated",
            "type": "boolean"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S4x"
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S45"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "S45"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateActionTarget": {
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          },
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "shape": "S2g"
          },
          "Note": {
            "type": "structure",
            "required": [
              "Text",
              "UpdatedBy"
            ],
            "members": {
              "Text": {},
              "UpdatedBy": {}
            }
          },
          "RecordState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInsight": {
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          },
          "Name": {},
          "Filters": {
            "shape": "S2g"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {}
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn",
          "StandardsArn",
          "StandardsInput",
          "StandardsStatus"
        ],
        "members": {
          "StandardsSubscriptionArn": {},
          "StandardsArn": {},
          "StandardsInput": {
            "shape": "S9"
          },
          "StandardsStatus": {}
        }
      }
    },
    "S9": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "SchemaVersion",
          "Id",
          "ProductArn",
          "GeneratorId",
          "AwsAccountId",
          "Types",
          "CreatedAt",
          "UpdatedAt",
          "Severity",
          "Title",
          "Description",
          "Resources"
        ],
        "members": {
          "SchemaVersion": {},
          "Id": {},
          "ProductArn": {},
          "GeneratorId": {},
          "AwsAccountId": {},
          "Types": {
            "type": "list",
            "member": {}
          },
          "FirstObservedAt": {},
          "LastObservedAt": {},
          "CreatedAt": {},
          "UpdatedAt": {},
          "Severity": {
            "type": "structure",
            "required": [
              "Normalized"
            ],
            "members": {
              "Product": {
                "type": "double"
              },
              "Normalized": {
                "type": "integer"
              }
            }
          },
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Title": {},
          "Description": {},
          "Remediation": {
            "type": "structure",
            "members": {
              "Recommendation": {
                "type": "structure",
                "members": {
                  "Text": {},
                  "Url": {}
                }
              }
            }
          },
          "SourceUrl": {},
          "ProductFields": {
            "shape": "So"
          },
          "UserDefinedFields": {
            "shape": "So"
          },
          "Malware": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "Name": {},
                "Type": {},
                "Path": {},
                "State": {}
              }
            }
          },
          "Network": {
            "type": "structure",
            "members": {
              "Direction": {},
              "Protocol": {},
              "SourceIpV4": {},
              "SourceIpV6": {},
              "SourcePort": {
                "type": "integer"
              },
              "SourceDomain": {},
              "SourceMac": {},
              "DestinationIpV4": {},
              "DestinationIpV6": {},
              "DestinationPort": {
                "type": "integer"
              },
              "DestinationDomain": {}
            }
          },
          "Process": {
            "type": "structure",
            "members": {
              "Name": {},
              "Path": {},
              "Pid": {
                "type": "integer"
              },
              "ParentPid": {
                "type": "integer"
              },
              "LaunchedAt": {},
              "TerminatedAt": {}
            }
          },
          "ThreatIntelIndicators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "Value": {},
                "Category": {},
                "LastObservedAt": {},
                "Source": {},
                "SourceUrl": {}
              }
            }
          },
          "Resources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Type",
                "Id"
              ],
              "members": {
                "Type": {},
                "Id": {},
                "Partition": {},
                "Region": {},
                "Tags": {
                  "shape": "So"
                },
                "Details": {
                  "type": "structure",
                  "members": {
                    "AwsCloudFrontDistribution": {
                      "type": "structure",
                      "members": {
                        "DomainName": {},
                        "ETag": {},
                        "LastModifiedTime": {},
                        "Logging": {
                          "type": "structure",
                          "members": {
                            "Bucket": {},
                            "Enabled": {
                              "type": "boolean"
                            },
                            "IncludeCookies": {
                              "type": "boolean"
                            },
                            "Prefix": {}
                          }
                        },
                        "Origins": {
                          "type": "structure",
                          "members": {
                            "Items": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "DomainName": {},
                                  "Id": {},
                                  "OriginPath": {}
                                }
                              }
                            }
                          }
                        },
                        "Status": {},
                        "WebAclId": {}
                      }
                    },
                    "AwsEc2Instance": {
                      "type": "structure",
                      "members": {
                        "Type": {},
                        "ImageId": {},
                        "IpV4Addresses": {
                          "shape": "S1b"
                        },
                        "IpV6Addresses": {
                          "shape": "S1b"
                        },
                        "KeyName": {},
                        "IamInstanceProfileArn": {},
                        "VpcId": {},
                        "SubnetId": {},
                        "LaunchedAt": {}
                      }
                    },
                    "AwsElbv2LoadBalancer": {
                      "type": "structure",
                      "members": {
                        "AvailabilityZones": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "ZoneName": {},
                              "SubnetId": {}
                            }
                          }
                        },
                        "CanonicalHostedZoneId": {},
                        "CreatedTime": {},
                        "DNSName": {},
                        "IpAddressType": {},
                        "Scheme": {},
                        "SecurityGroups": {
                          "type": "list",
                          "member": {}
                        },
                        "State": {
                          "type": "structure",
                          "members": {
                            "Code": {},
                            "Reason": {}
                          }
                        },
                        "Type": {},
                        "VpcId": {}
                      }
                    },
                    "AwsS3Bucket": {
                      "type": "structure",
                      "members": {
                        "OwnerId": {},
                        "OwnerName": {}
                      }
                    },
                    "AwsIamAccessKey": {
                      "type": "structure",
                      "members": {
                        "UserName": {
                          "deprecated": true,
                          "deprecatedMessage": "This field is deprecated, use PrincipalName instead."
                        },
                        "Status": {},
                        "CreatedAt": {},
                        "PrincipalId": {},
                        "PrincipalType": {},
                        "PrincipalName": {}
                      }
                    },
                    "AwsIamRole": {
                      "type": "structure",
                      "members": {
                        "AssumeRolePolicyDocument": {},
                        "CreateDate": {},
                        "RoleId": {},
                        "RoleName": {},
                        "MaxSessionDuration": {
                          "type": "integer"
                        },
                        "Path": {}
                      }
                    },
                    "AwsKmsKey": {
                      "type": "structure",
                      "members": {
                        "AWSAccountId": {},
                        "CreationDate": {
                          "type": "double"
                        },
                        "KeyId": {},
                        "KeyManager": {},
                        "KeyState": {},
                        "Origin": {}
                      }
                    },
                    "AwsLambdaFunction": {
                      "type": "structure",
                      "members": {
                        "Code": {
                          "type": "structure",
                          "members": {
                            "S3Bucket": {},
                            "S3Key": {},
                            "S3ObjectVersion": {},
                            "ZipFile": {}
                          }
                        },
                        "CodeSha256": {},
                        "DeadLetterConfig": {
                          "type": "structure",
                          "members": {
                            "TargetArn": {}
                          }
                        },
                        "Environment": {
                          "type": "structure",
                          "members": {
                            "Variables": {
                              "shape": "So"
                            },
                            "Error": {
                              "type": "structure",
                              "members": {
                                "ErrorCode": {},
                                "Message": {}
                              }
                            }
                          }
                        },
                        "FunctionName": {},
                        "Handler": {},
                        "KmsKeyArn": {},
                        "LastModified": {},
                        "Layers": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Arn": {},
                              "CodeSize": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "MasterArn": {},
                        "MemorySize": {
                          "type": "integer"
                        },
                        "RevisionId": {},
                        "Role": {},
                        "Runtime": {},
                        "Timeout": {
                          "type": "integer"
                        },
                        "TracingConfig": {
                          "type": "structure",
                          "members": {
                            "Mode": {}
                          }
                        },
                        "VpcConfig": {
                          "type": "structure",
                          "members": {
                            "SecurityGroupIds": {
                              "shape": "S1w"
                            },
                            "SubnetIds": {
                              "shape": "S1w"
                            },
                            "VpcId": {}
                          }
                        },
                        "Version": {}
                      }
                    },
                    "AwsSnsTopic": {
                      "type": "structure",
                      "members": {
                        "KmsMasterKeyId": {},
                        "Subscription": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Endpoint": {},
                              "Protocol": {}
                            }
                          }
                        },
                        "TopicName": {},
                        "Owner": {}
                      }
                    },
                    "AwsSqsQueue": {
                      "type": "structure",
                      "members": {
                        "KmsDataKeyReusePeriodSeconds": {
                          "type": "integer"
                        },
                        "KmsMasterKeyId": {},
                        "QueueName": {},
                        "DeadLetterTargetArn": {}
                      }
                    },
                    "Container": {
                      "type": "structure",
                      "members": {
                        "Name": {},
                        "ImageId": {},
                        "ImageName": {},
                        "LaunchedAt": {}
                      }
                    },
                    "Other": {
                      "shape": "So"
                    }
                  }
                }
              }
            }
          },
          "Compliance": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "VerificationState": {},
          "WorkflowState": {},
          "RecordState": {},
          "RelatedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn",
                "Id"
              ],
              "members": {
                "ProductArn": {},
                "Id": {}
              }
            }
          },
          "Note": {
            "type": "structure",
            "required": [
              "Text",
              "UpdatedBy",
              "UpdatedAt"
            ],
            "members": {
              "Text": {},
              "UpdatedBy": {},
              "UpdatedAt": {}
            }
          }
        }
      }
    },
    "So": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1b": {
      "type": "list",
      "member": {}
    },
    "S1w": {
      "type": "list",
      "member": {}
    },
    "S2g": {
      "type": "structure",
      "members": {
        "ProductArn": {
          "shape": "S2h"
        },
        "AwsAccountId": {
          "shape": "S2h"
        },
        "Id": {
          "shape": "S2h"
        },
        "GeneratorId": {
          "shape": "S2h"
        },
        "Type": {
          "shape": "S2h"
        },
        "FirstObservedAt": {
          "shape": "S2k"
        },
        "LastObservedAt": {
          "shape": "S2k"
        },
        "CreatedAt": {
          "shape": "S2k"
        },
        "UpdatedAt": {
          "shape": "S2k"
        },
        "SeverityProduct": {
          "shape": "S2o"
        },
        "SeverityNormalized": {
          "shape": "S2o"
        },
        "SeverityLabel": {
          "shape": "S2h"
        },
        "Confidence": {
          "shape": "S2o"
        },
        "Criticality": {
          "shape": "S2o"
        },
        "Title": {
          "shape": "S2h"
        },
        "Description": {
          "shape": "S2h"
        },
        "RecommendationText": {
          "shape": "S2h"
        },
        "SourceUrl": {
          "shape": "S2h"
        },
        "ProductFields": {
          "shape": "S2q"
        },
        "ProductName": {
          "shape": "S2h"
        },
        "CompanyName": {
          "shape": "S2h"
        },
        "UserDefinedFields": {
          "shape": "S2q"
        },
        "MalwareName": {
          "shape": "S2h"
        },
        "MalwareType": {
          "shape": "S2h"
        },
        "MalwarePath": {
          "shape": "S2h"
        },
        "MalwareState": {
          "shape": "S2h"
        },
        "NetworkDirection": {
          "shape": "S2h"
        },
        "NetworkProtocol": {
          "shape": "S2h"
        },
        "NetworkSourceIpV4": {
          "shape": "S2t"
        },
        "NetworkSourceIpV6": {
          "shape": "S2t"
        },
        "NetworkSourcePort": {
          "shape": "S2o"
        },
        "NetworkSourceDomain": {
          "shape": "S2h"
        },
        "NetworkSourceMac": {
          "shape": "S2h"
        },
        "NetworkDestinationIpV4": {
          "shape": "S2t"
        },
        "NetworkDestinationIpV6": {
          "shape": "S2t"
        },
        "NetworkDestinationPort": {
          "shape": "S2o"
        },
        "NetworkDestinationDomain": {
          "shape": "S2h"
        },
        "ProcessName": {
          "shape": "S2h"
        },
        "ProcessPath": {
          "shape": "S2h"
        },
        "ProcessPid": {
          "shape": "S2o"
        },
        "ProcessParentPid": {
          "shape": "S2o"
        },
        "ProcessLaunchedAt": {
          "shape": "S2k"
        },
        "ProcessTerminatedAt": {
          "shape": "S2k"
        },
        "ThreatIntelIndicatorType": {
          "shape": "S2h"
        },
        "ThreatIntelIndicatorValue": {
          "shape": "S2h"
        },
        "ThreatIntelIndicatorCategory": {
          "shape": "S2h"
        },
        "ThreatIntelIndicatorLastObservedAt": {
          "shape": "S2k"
        },
        "ThreatIntelIndicatorSource": {
          "shape": "S2h"
        },
        "ThreatIntelIndicatorSourceUrl": {
          "shape": "S2h"
        },
        "ResourceType": {
          "shape": "S2h"
        },
        "ResourceId": {
          "shape": "S2h"
        },
        "ResourcePartition": {
          "shape": "S2h"
        },
        "ResourceRegion": {
          "shape": "S2h"
        },
        "ResourceTags": {
          "shape": "S2q"
        },
        "ResourceAwsEc2InstanceType": {
          "shape": "S2h"
        },
        "ResourceAwsEc2InstanceImageId": {
          "shape": "S2h"
        },
        "ResourceAwsEc2InstanceIpV4Addresses": {
          "shape": "S2t"
        },
        "ResourceAwsEc2InstanceIpV6Addresses": {
          "shape": "S2t"
        },
        "ResourceAwsEc2InstanceKeyName": {
          "shape": "S2h"
        },
        "ResourceAwsEc2InstanceIamInstanceProfileArn": {
          "shape": "S2h"
        },
        "ResourceAwsEc2InstanceVpcId": {
          "shape": "S2h"
        },
        "ResourceAwsEc2InstanceSubnetId": {
          "shape": "S2h"
        },
        "ResourceAwsEc2InstanceLaunchedAt": {
          "shape": "S2k"
        },
        "ResourceAwsS3BucketOwnerId": {
          "shape": "S2h"
        },
        "ResourceAwsS3BucketOwnerName": {
          "shape": "S2h"
        },
        "ResourceAwsIamAccessKeyUserName": {
          "shape": "S2h"
        },
        "ResourceAwsIamAccessKeyStatus": {
          "shape": "S2h"
        },
        "ResourceAwsIamAccessKeyCreatedAt": {
          "shape": "S2k"
        },
        "ResourceContainerName": {
          "shape": "S2h"
        },
        "ResourceContainerImageId": {
          "shape": "S2h"
        },
        "ResourceContainerImageName": {
          "shape": "S2h"
        },
        "ResourceContainerLaunchedAt": {
          "shape": "S2k"
        },
        "ResourceDetailsOther": {
          "shape": "S2q"
        },
        "ComplianceStatus": {
          "shape": "S2h"
        },
        "VerificationState": {
          "shape": "S2h"
        },
        "WorkflowState": {
          "shape": "S2h"
        },
        "RecordState": {
          "shape": "S2h"
        },
        "RelatedFindingsProductArn": {
          "shape": "S2h"
        },
        "RelatedFindingsId": {
          "shape": "S2h"
        },
        "NoteText": {
          "shape": "S2h"
        },
        "NoteUpdatedAt": {
          "shape": "S2k"
        },
        "NoteUpdatedBy": {
          "shape": "S2h"
        },
        "Keyword": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Value": {}
            }
          }
        }
      }
    },
    "S2h": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S2k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Start": {},
          "End": {},
          "DateRange": {
            "type": "structure",
            "members": {
              "Value": {
                "type": "integer"
              },
              "Unit": {}
            }
          }
        }
      }
    },
    "S2o": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Gte": {
            "type": "double"
          },
          "Lte": {
            "type": "double"
          },
          "Eq": {
            "type": "double"
          }
        }
      }
    },
    "S2q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S2t": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Cidr": {}
        }
      }
    },
    "S33": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "ProcessingResult": {}
        }
      }
    },
    "S36": {
      "type": "list",
      "member": {}
    },
    "S3h": {
      "type": "list",
      "member": {}
    },
    "S45": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S4t": {
      "type": "structure",
      "members": {
        "AccountId": {},
        "InvitationId": {},
        "InvitedAt": {
          "shape": "S4u"
        },
        "MemberStatus": {}
      }
    },
    "S4u": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S4x": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "Email": {},
          "MasterId": {},
          "MemberStatus": {},
          "InvitedAt": {
            "shape": "S4u"
          },
          "UpdatedAt": {
            "shape": "S4u"
          }
        }
      }
    }
  }
}