{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "name": "AcceptInvitation",
      "http": {
        "method": "POST",
        "requestUri": "/master"
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "output": {
        "shape": "AcceptInvitationResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "documentation": "<p>Accepts the invitation to be a member account and be monitored by the Security Hub master account that the invitation was sent from.</p> <p>When the member account accepts the invitation, permission is granted to the master account to view findings generated in the member account.</p>"
    },
    "BatchDisableStandards": {
      "name": "BatchDisableStandards",
      "http": {
        "method": "POST",
        "requestUri": "/standards/deregister"
      },
      "input": {
        "shape": "BatchDisableStandardsRequest"
      },
      "output": {
        "shape": "BatchDisableStandardsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Compliance Standards</a> section of the <i>AWS Security Hub User Guide</i>.</p>"
    },
    "BatchEnableStandards": {
      "name": "BatchEnableStandards",
      "http": {
        "method": "POST",
        "requestUri": "/standards/register"
      },
      "input": {
        "shape": "BatchEnableStandardsRequest"
      },
      "output": {
        "shape": "BatchEnableStandardsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Enables the standards specified by the provided <code>StandardsArn</code>. To obtain the ARN for a standard, use the <code> <a>DescribeStandards</a> </code> operation.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Compliance Standards</a> section of the <i>AWS Security Hub User Guide</i>.</p>"
    },
    "BatchImportFindings": {
      "name": "BatchImportFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings/import"
      },
      "input": {
        "shape": "BatchImportFindingsRequest"
      },
      "output": {
        "shape": "BatchImportFindingsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "documentation": "<p>Imports security findings generated from an integrated third-party product into Security Hub. This action is requested by the integrated product to import its findings into Security Hub.</p> <p>The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.</p>"
    },
    "CreateActionTarget": {
      "name": "CreateActionTarget",
      "http": {
        "method": "POST",
        "requestUri": "/actionTargets"
      },
      "input": {
        "shape": "CreateActionTargetRequest"
      },
      "output": {
        "shape": "CreateActionTargetResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "documentation": "<p>Creates a custom action target in Security Hub.</p> <p>You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>"
    },
    "CreateInsight": {
      "name": "CreateInsight",
      "http": {
        "method": "POST",
        "requestUri": "/insights"
      },
      "input": {
        "shape": "CreateInsightRequest"
      },
      "output": {
        "shape": "CreateInsightResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "documentation": "<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation.</p> <p>To group the related findings in the insight, use the <code>GroupByAttribute</code>.</p>"
    },
    "CreateMembers": {
      "name": "CreateMembers",
      "http": {
        "method": "POST",
        "requestUri": "/members"
      },
      "input": {
        "shape": "CreateMembersRequest"
      },
      "output": {
        "shape": "CreateMembersResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "documentation": "<p>Creates a member association in Security Hub between the specified accounts and the account used to make the request, which is the master account. To successfully create a member, you must use this action from an account that already has Security Hub enabled. To enable Security Hub, you can use the <code> <a>EnableSecurityHub</a> </code> operation.</p> <p>After you use <code>CreateMembers</code> to create member account associations in Security Hub, you must use the <code> <a>InviteMembers</a> </code> operation to invite the accounts to enable Security Hub and become member accounts in Security Hub.</p> <p>If the account owner accepts the invitation, the account becomes a member account in Security Hub, and a permission policy is added that permits the master account to view the findings generated in the member account. When Security Hub is enabled in the invited account, findings start to be sent to both the member and master accounts.</p> <p>To remove the association between the master and member accounts, use the <code> <a>DisassociateFromMasterAccount</a> </code> or <code> <a>DisassociateMembers</a> </code> operation.</p>"
    },
    "DeclineInvitations": {
      "name": "DeclineInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/decline"
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "output": {
        "shape": "DeclineInvitationsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Declines invitations to become a member account.</p>"
    },
    "DeleteActionTarget": {
      "name": "DeleteActionTarget",
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "shape": "DeleteActionTargetRequest"
      },
      "output": {
        "shape": "DeleteActionTargetResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Deletes a custom action target from Security Hub.</p> <p>Deleting a custom action target does not affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>"
    },
    "DeleteInsight": {
      "name": "DeleteInsight",
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "shape": "DeleteInsightRequest"
      },
      "output": {
        "shape": "DeleteInsightResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Deletes the insight specified by the <code>InsightArn</code>.</p>"
    },
    "DeleteInvitations": {
      "name": "DeleteInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/delete"
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "output": {
        "shape": "DeleteInvitationsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "documentation": "<p>Deletes invitations received by the AWS account to become a member account.</p>"
    },
    "DeleteMembers": {
      "name": "DeleteMembers",
      "http": {
        "method": "POST",
        "requestUri": "/members/delete"
      },
      "input": {
        "shape": "DeleteMembersRequest"
      },
      "output": {
        "shape": "DeleteMembersResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Deletes the specified member accounts from Security Hub.</p>"
    },
    "DescribeActionTargets": {
      "name": "DescribeActionTargets",
      "http": {
        "method": "POST",
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "shape": "DescribeActionTargetsRequest"
      },
      "output": {
        "shape": "DescribeActionTargetsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Returns a list of the custom action targets in Security Hub in your account.</p>"
    },
    "DescribeHub": {
      "name": "DescribeHub",
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "DescribeHubRequest"
      },
      "output": {
        "shape": "DescribeHubResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.</p>"
    },
    "DescribeProducts": {
      "name": "DescribeProducts",
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "shape": "DescribeProductsRequest"
      },
      "output": {
        "shape": "DescribeProductsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "documentation": "<p>Returns information about the available products that you can subscribe to and integrate with Security Hub in order to consolidate findings.</p>"
    },
    "DescribeStandards": {
      "name": "DescribeStandards",
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "shape": "DescribeStandardsRequest"
      },
      "output": {
        "shape": "DescribeStandardsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "documentation": "<p>Returns a list of the available standards in Security Hub.</p> <p>For each standard, the results include the standard ARN, the name, and a description. </p>"
    },
    "DescribeStandardsControls": {
      "name": "DescribeStandardsControls",
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "shape": "DescribeStandardsControlsRequest"
      },
      "output": {
        "shape": "DescribeStandardsControlsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Returns a list of compliance standards controls.</p> <p>For each control, the results include information about whether it is currently enabled, the severity, and a link to remediation information.</p>"
    },
    "DisableImportFindingsForProduct": {
      "name": "DisableImportFindingsForProduct",
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "shape": "DisableImportFindingsForProductRequest"
      },
      "output": {
        "shape": "DisableImportFindingsForProductResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Disables the integration of the specified product with Security Hub. After the integration is disabled, findings from that product are no longer sent to Security Hub.</p>"
    },
    "DisableSecurityHub": {
      "name": "DisableSecurityHub",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "DisableSecurityHubRequest"
      },
      "output": {
        "shape": "DisableSecurityHubResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub.</p> <p>When you disable Security Hub for a master account, it doesn't disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and cannot be recovered. Any standards that were enabled are disabled, and your master and member account associations are removed.</p> <p>If you want to save your existing findings, you must export them before you disable Security Hub.</p>"
    },
    "DisassociateFromMasterAccount": {
      "name": "DisassociateFromMasterAccount",
      "http": {
        "method": "POST",
        "requestUri": "/master/disassociate"
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "output": {
        "shape": "DisassociateFromMasterAccountResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Disassociates the current Security Hub member account from the associated master account.</p>"
    },
    "DisassociateMembers": {
      "name": "DisassociateMembers",
      "http": {
        "method": "POST",
        "requestUri": "/members/disassociate"
      },
      "input": {
        "shape": "DisassociateMembersRequest"
      },
      "output": {
        "shape": "DisassociateMembersResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Disassociates the specified member accounts from the associated master account.</p>"
    },
    "EnableImportFindingsForProduct": {
      "name": "EnableImportFindingsForProduct",
      "http": {
        "method": "POST",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "shape": "EnableImportFindingsForProductRequest"
      },
      "output": {
        "shape": "EnableImportFindingsForProductResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Enables the integration of a partner product with Security Hub. Integrated products send findings to Security Hub.</p> <p>When you enable a product integration, a permission policy that grants permission for the product to send findings to Security Hub is applied.</p>"
    },
    "EnableSecurityHub": {
      "name": "EnableSecurityHub",
      "http": {
        "method": "POST",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "EnableSecurityHubRequest"
      },
      "output": {
        "shape": "EnableSecurityHubResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Enables Security Hub for your account in the current Region or the Region you specify in the request.</p> <p>When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from AWS Config, Amazon GuardDuty, Amazon Inspector, and Amazon Macie.</p> <p>When you use the <code>EnableSecurityHub</code> operation to enable Security Hub, you also automatically enable the CIS AWS Foundations standard. You do not enable the Payment Card Industry Data Security Standard (PCI DSS) standard. To enable a standard, use the <code> <a>BatchEnableStandards</a> </code> operation. To disable a standard, use the <code> <a>BatchDisableStandards</a> </code> operation.</p> <p>To learn more, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html\">Setting Up AWS Security Hub</a> in the <i>AWS Security Hub User Guide</i>.</p>"
    },
    "GetEnabledStandards": {
      "name": "GetEnabledStandards",
      "http": {
        "method": "POST",
        "requestUri": "/standards/get"
      },
      "input": {
        "shape": "GetEnabledStandardsRequest"
      },
      "output": {
        "shape": "GetEnabledStandardsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Returns a list of the standards that are currently enabled.</p>"
    },
    "GetFindings": {
      "name": "GetFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings"
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "output": {
        "shape": "GetFindingsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Returns a list of findings that match the specified criteria.</p>"
    },
    "GetInsightResults": {
      "name": "GetInsightResults",
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "shape": "GetInsightResultsRequest"
      },
      "output": {
        "shape": "GetInsightResultsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Lists the results of the Security Hub insight specified by the insight ARN.</p>"
    },
    "GetInsights": {
      "name": "GetInsights",
      "http": {
        "method": "POST",
        "requestUri": "/insights/get"
      },
      "input": {
        "shape": "GetInsightsRequest"
      },
      "output": {
        "shape": "GetInsightsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Lists and describes insights for the specified insight ARNs.</p>"
    },
    "GetInvitationsCount": {
      "name": "GetInvitationsCount",
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "output": {
        "shape": "GetInvitationsCountResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Returns the count of all Security Hub membership invitations that were sent to the current member account, not including the currently accepted invitation. </p>"
    },
    "GetMasterAccount": {
      "name": "GetMasterAccount",
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "output": {
        "shape": "GetMasterAccountResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Provides the details for the Security Hub master account for the current member account. </p>"
    },
    "GetMembers": {
      "name": "GetMembers",
      "http": {
        "method": "POST",
        "requestUri": "/members/get"
      },
      "input": {
        "shape": "GetMembersRequest"
      },
      "output": {
        "shape": "GetMembersResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Returns the details for the Security Hub member accounts for the specified account IDs.</p>"
    },
    "InviteMembers": {
      "name": "InviteMembers",
      "http": {
        "method": "POST",
        "requestUri": "/members/invite"
      },
      "input": {
        "shape": "InviteMembersRequest"
      },
      "output": {
        "shape": "InviteMembersResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Invites other AWS accounts to become member accounts for the Security Hub master account that the invitation is sent from.</p> <p>Before you can use this action to invite a member, you must first use the <code> <a>CreateMembers</a> </code> action to create the member account in Security Hub.</p> <p>When the account owner accepts the invitation to become a member account and enables Security Hub, the master account can view the findings generated from the member account.</p>"
    },
    "ListEnabledProductsForImport": {
      "name": "ListEnabledProductsForImport",
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "shape": "ListEnabledProductsForImportRequest"
      },
      "output": {
        "shape": "ListEnabledProductsForImportResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "documentation": "<p>Lists all findings-generating solutions (products) that you are subscribed to receive findings from in Security Hub.</p>"
    },
    "ListInvitations": {
      "name": "ListInvitations",
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "output": {
        "shape": "ListInvitationsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Lists all Security Hub membership invitations that were sent to the current AWS account. </p>"
    },
    "ListMembers": {
      "name": "ListMembers",
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "output": {
        "shape": "ListMembersResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Lists details about all member accounts for the current Security Hub master account.</p>"
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Returns a list of tags associated with a resource.</p>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Adds one or more tags to a resource.</p>"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Removes one or more tags from a resource.</p>"
    },
    "UpdateActionTarget": {
      "name": "UpdateActionTarget",
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "shape": "UpdateActionTargetRequest"
      },
      "output": {
        "shape": "UpdateActionTargetResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Updates the name and description of a custom action target in Security Hub.</p>"
    },
    "UpdateFindings": {
      "name": "UpdateFindings",
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "shape": "UpdateFindingsRequest"
      },
      "output": {
        "shape": "UpdateFindingsResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.</p>"
    },
    "UpdateInsight": {
      "name": "UpdateInsight",
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "shape": "UpdateInsightRequest"
      },
      "output": {
        "shape": "UpdateInsightResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Updates the Security Hub insight identified by the specified insight ARN.</p>"
    },
    "UpdateStandardsControl": {
      "name": "UpdateStandardsControl",
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "shape": "UpdateStandardsControlRequest"
      },
      "output": {
        "shape": "UpdateStandardsControlResponse"
      },
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Used to control whether an individual compliance standard control is enabled or disabled.</p>"
    }
  },
  "shapes": {
    "AcceptInvitationRequest": {
      "type": "structure",
      "required": [
        "MasterId",
        "InvitationId"
      ],
      "members": {
        "MasterId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The account ID of the Security Hub master account that sent the invitation.</p>"
        },
        "InvitationId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the invitation sent from the Security Hub master account.</p>"
        }
      }
    },
    "AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "AccountDetails": {
      "type": "structure",
      "members": {
        "AccountId": {
          "shape": "AccountId",
          "documentation": "<p>The ID of an AWS account.</p>"
        },
        "Email": {
          "shape": "NonEmptyString",
          "documentation": "<p>The email of an AWS account.</p>"
        }
      },
      "documentation": "<p>The details of an AWS account.</p>"
    },
    "AccountDetailsList": {
      "type": "list",
      "member": {
        "shape": "AccountDetails"
      }
    },
    "AccountId": {
      "type": "string"
    },
    "AccountIdList": {
      "type": "list",
      "member": {
        "shape": "NonEmptyString"
      }
    },
    "ActionTarget": {
      "type": "structure",
      "required": [
        "ActionTargetArn",
        "Name",
        "Description"
      ],
      "members": {
        "ActionTargetArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ARN for the target action.</p>"
        },
        "Name": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the action target.</p>"
        },
        "Description": {
          "shape": "NonEmptyString",
          "documentation": "<p>The description of the target action.</p>"
        }
      },
      "documentation": "<p>An <code>ActionTarget</code> object.</p>"
    },
    "ActionTargetList": {
      "type": "list",
      "member": {
        "shape": "ActionTarget"
      }
    },
    "ArnList": {
      "type": "list",
      "member": {
        "shape": "NonEmptyString"
      }
    },
    "AvailabilityZone": {
      "type": "structure",
      "members": {
        "ZoneName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the Availability Zone.</p>"
        },
        "SubnetId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
        }
      },
      "documentation": "<p>Information about an Availability Zone.</p>"
    },
    "AvailabilityZones": {
      "type": "list",
      "member": {
        "shape": "AvailabilityZone"
      }
    },
    "AwsCloudFrontDistributionDetails": {
      "type": "structure",
      "members": {
        "DomainName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The domain name corresponding to the distribution.</p>"
        },
        "ETag": {
          "shape": "NonEmptyString",
          "documentation": "<p>The entity tag is a hash of the object.</p>"
        },
        "LastModifiedTime": {
          "shape": "NonEmptyString",
          "documentation": "<p>The date and time that the distribution was last modified.</p>"
        },
        "Logging": {
          "shape": "AwsCloudFrontDistributionLogging",
          "documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
        },
        "Origins": {
          "shape": "AwsCloudFrontDistributionOrigins",
          "documentation": "<p>A complex type that contains information about origins for this distribution.</p>"
        },
        "Status": {
          "shape": "NonEmptyString",
          "documentation": "<p>Indicates the current status of the distribution.</p>"
        },
        "WebAclId": {
          "shape": "NonEmptyString",
          "documentation": "<p>A unique identifier that specifies the AWS WAF web ACL, if any, to associate with this distribution.</p>"
        }
      },
      "documentation": "<p>A distribution configuration.</p>"
    },
    "AwsCloudFrontDistributionLogging": {
      "type": "structure",
      "members": {
        "Bucket": {
          "shape": "NonEmptyString",
          "documentation": "<p>The Amazon S3 bucket to store the access logs in.</p>"
        },
        "Enabled": {
          "shape": "Boolean",
          "documentation": "<p>With this field, you can enable or disable the selected distribution.</p>"
        },
        "IncludeCookies": {
          "shape": "Boolean",
          "documentation": "<p>Specifies whether you want CloudFront to include cookies in access logs.</p>"
        },
        "Prefix": {
          "shape": "NonEmptyString",
          "documentation": "<p>An optional string that you want CloudFront to use as a prefix to the access log filenames for this distribution.</p>"
        }
      },
      "documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
    },
    "AwsCloudFrontDistributionOriginItem": {
      "type": "structure",
      "members": {
        "DomainName": {
          "shape": "NonEmptyString",
          "documentation": "<p>Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin.</p>"
        },
        "Id": {
          "shape": "NonEmptyString",
          "documentation": "<p>A unique identifier for the origin or origin group.</p>"
        },
        "OriginPath": {
          "shape": "NonEmptyString",
          "documentation": "<p>An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin.</p>"
        }
      },
      "documentation": "<p>A complex type that describes the Amazon S3 bucket, HTTP server (for example, a web server), Amazon MediaStore, or other server from which CloudFront gets your files.</p>"
    },
    "AwsCloudFrontDistributionOriginItemList": {
      "type": "list",
      "member": {
        "shape": "AwsCloudFrontDistributionOriginItem"
      }
    },
    "AwsCloudFrontDistributionOrigins": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "AwsCloudFrontDistributionOriginItemList",
          "documentation": "<p>A complex type that contains origins or origin groups for this distribution.</p>"
        }
      },
      "documentation": "<p>A complex type that contains information about origins and origin groups for this distribution.</p>"
    },
    "AwsCodeBuildProjectDetails": {
      "type": "structure",
      "members": {
        "EncryptionKey": {
          "shape": "NonEmptyString",
          "documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) used to encrypt the build output artifacts.</p> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK alias (using the format alias/alias-name). </p>"
        },
        "Environment": {
          "shape": "AwsCodeBuildProjectEnvironment",
          "documentation": "<p>Information about the build environment for this build project.</p>"
        },
        "Name": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the build project.</p>"
        },
        "Source": {
          "shape": "AwsCodeBuildProjectSource",
          "documentation": "<p>Information about the build input source code for this build project.</p>"
        },
        "ServiceRole": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ARN of the IAM role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.</p>"
        },
        "VpcConfig": {
          "shape": "AwsCodeBuildProjectVpcConfig",
          "documentation": "<p>Information about the VPC configuration that AWS CodeBuild accesses.</p>"
        }
      },
      "documentation": "<p>Information about an AWS CodeBuild project.</p>"
    },
    "AwsCodeBuildProjectEnvironment": {
      "type": "structure",
      "members": {
        "Certificate": {
          "shape": "NonEmptyString",
          "documentation": "<p>The certificate to use with this build project.</p>"
        },
        "ImagePullCredentialsType": {
          "shape": "NonEmptyString",
          "documentation": "<p>The type of credentials AWS CodeBuild uses to pull images in your build.</p> <p>Valid values:</p> <ul> <li> <p> <code>CODEBUILD</code> specifies that AWS CodeBuild uses its own credentials. This requires that you modify your ECR repository policy to trust the AWS CodeBuild service principal.</p> </li> <li> <p> <code>SERVICE_ROLE</code> specifies that AWS CodeBuild uses your build project's service role.</p> </li> </ul> <p>When you use a cross-account or private registry image, you must use <code>SERVICE_ROLE</code> credentials. When you use an AWS CodeBuild curated image, you must use <code>CODEBUILD</code> credentials.</p>"
        },
        "RegistryCredential": {
          "shape": "AwsCodeBuildProjectEnvironmentRegistryCredential",
          "documentation": "<p>The credentials for access to a private registry.</p>"
        },
        "Type": {
          "shape": "NonEmptyString",
          "documentation": "<p>The type of build environment to use for related builds.</p> <p>The environment type <code>ARM_CONTAINER</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), Europe (Ireland), Asia Pacific (Mumbai), Asia Pacific (Tokyo), Asia Pacific (Sydney), and Europe (Frankfurt).</p> <p>The environment type <code>LINUX_CONTAINER</code> with compute type build.general1.2xlarge is available only in regions US East (N. Virginia), US East (N. Virginia), US West (Oregon), Canada (Central), Europe (Ireland), Europe (London), Europe (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Seoul), Asia Pacific (Singapore), Asia Pacific (Sydney), China (Beijing), and China (Ningxia).</p> <p>The environment type <code>LINUX_GPU_CONTAINER</code> is available only in regions US East (N. Virginia), US East (N. Virginia), US West (Oregon), Canada (Central), Europe (Ireland), Europe (London), Europe (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Seoul), Asia Pacific (Singapore), Asia Pacific (Sydney) , China (Beijing), and China (Ningxia).</p> <p>Valid values: <code>WINDOWS_CONTAINER</code> | <code>LINUX_CONTAINER</code> | <code>LINUX_GPU_CONTAINER</code> | <code>ARM_CONTAINER</code> </p>"
        }
      },
      "documentation": "<p>Information about the build environment for this build project.</p>"
    },
    "AwsCodeBuildProjectEnvironmentRegistryCredential": {
      "type": "structure",
      "members": {
        "Credential": {
          "shape": "NonEmptyString",
          "documentation": "<p>The Amazon Resource Name (ARN) or name of credentials created using AWS Secrets Manager.</p> <note> <p>The credential can use the name of the credentials only if they exist in your current AWS Region. </p> </note>"
        },
        "CredentialProvider": {
          "shape": "NonEmptyString",
          "documentation": "<p>The service that created the credentials to access a private Docker registry.</p> <p>The valid value,<code> SECRETS_MANAGER</code>, is for AWS Secrets Manager.</p>"
        }
      },
      "documentation": "<p>The credentials for access to a private registry.</p>"
    },
    "AwsCodeBuildProjectSource": {
      "type": "structure",
      "members": {
        "Type": {
          "shape": "NonEmptyString",
          "documentation": "<p>The type of repository that contains the source code to be built. Valid values are:</p> <ul> <li> <p> <code>BITBUCKET</code> - The source code is in a Bitbucket repository.</p> </li> <li> <p> <code>CODECOMMIT</code> - The source code is in an AWS CodeCommit repository.</p> </li> <li> <p> <code>CODEPIPELINE</code> - The source code settings are specified in the source action of a pipeline in AWS CodePipeline.</p> </li> <li> <p> <code>GITHUB</code> - The source code is in a GitHub repository.</p> </li> <li> <p> <code>GITHUB_ENTERPRISE</code> - The source code is in a GitHub Enterprise repository.</p> </li> <li> <p> <code>NO_SOURCE</code> - The project does not have input source code.</p> </li> <li> <p> <code>S3</code> - The source code is in an S3 input bucket. </p> </li> </ul>"
        },
        "Location": {
          "shape": "NonEmptyString",
          "documentation": "<p>Information about the location of the source code to be built.</p> <p>Valid values include:</p> <ul> <li> <p>For source code settings that are specified in the source action of a pipeline in AWS CodePipeline, location should not be specified. If it is specified, AWS CodePipeline ignores it. This is because AWS CodePipeline uses the settings in a pipeline's source action instead of this value.</p> </li> <li> <p>For source code in an AWS CodeCommit repository, the HTTPS clone URL to the repository that contains the source code and the buildspec file (for example, <code>https://git-codecommit.region-ID.amazonaws.com/v1/repos/repo-name</code> ).</p> </li> <li> <p>For source code in an S3 input bucket, one of the following.</p> <ul> <li> <p>The path to the ZIP file that contains the source code (for example, <code>bucket-name/path/to/object-name.zip</code>).</p> </li> <li> <p> The path to the folder that contains the source code (for example, <code>bucket-name/path/to/source-code/folder/</code>).</p> </li> </ul> </li> <li> <p>For source code in a GitHub repository, the HTTPS clone URL to the repository that contains the source and the buildspec file.</p> </li> <li> <p>For source code in a Bitbucket repository, the HTTPS clone URL to the repository that contains the source and the buildspec file. </p> </li> </ul>"
        },
        "GitCloneDepth": {
          "shape": "Integer",
          "documentation": "<p>Information about the Git clone depth for the build project.</p>"
        },
        "InsecureSsl": {
          "shape": "Boolean",
          "documentation": "<p>Whether to ignore SSL warnings while connecting to the project source code.</p>"
        }
      },
      "documentation": "<p>Information about the build input source code for this build project.</p>"
    },
    "AwsCodeBuildProjectVpcConfig": {
      "type": "structure",
      "members": {
        "VpcId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the VPC.</p>"
        },
        "Subnets": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>A list of one or more subnet IDs in your Amazon VPC.</p>"
        },
        "SecurityGroupIds": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>A list of one or more security group IDs in your Amazon VPC.</p>"
        }
      },
      "documentation": "<p>Information about the VPC configuration that AWS CodeBuild accesses.</p>"
    },
    "AwsEc2InstanceDetails": {
      "type": "structure",
      "members": {
        "Type": {
          "shape": "NonEmptyString",
          "documentation": "<p>The instance type of the instance. </p>"
        },
        "ImageId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The Amazon Machine Image (AMI) ID of the instance.</p>"
        },
        "IpV4Addresses": {
          "shape": "StringList",
          "documentation": "<p>The IPv4 addresses associated with the instance.</p>"
        },
        "IpV6Addresses": {
          "shape": "StringList",
          "documentation": "<p>The IPv6 addresses associated with the instance.</p>"
        },
        "KeyName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The key name associated with the instance.</p>"
        },
        "IamInstanceProfileArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The IAM profile ARN of the instance.</p>"
        },
        "VpcId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The identifier of the VPC that the instance was launched in.</p>"
        },
        "SubnetId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The identifier of the subnet that the instance was launched in.</p>"
        },
        "LaunchedAt": {
          "shape": "NonEmptyString",
          "documentation": "<p>The date/time the instance was launched.</p>"
        }
      },
      "documentation": "<p>The details of an Amazon EC2 instance.</p>"
    },
    "AwsEc2NetworkInterfaceAttachment": {
      "type": "structure",
      "members": {
        "AttachTime": {
          "shape": "NonEmptyString",
          "documentation": "<p>The timestamp indicating when the attachment initiated.</p>"
        },
        "AttachmentId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The identifier of the network interface attachment</p>"
        },
        "DeleteOnTermination": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether the network interface is deleted when the instance is terminated.</p>"
        },
        "DeviceIndex": {
          "shape": "Integer",
          "documentation": "<p>The device index of the network interface attachment on the instance.</p>"
        },
        "InstanceId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the instance.</p>"
        },
        "InstanceOwnerId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The AWS account ID of the owner of the instance.</p>"
        },
        "Status": {
          "shape": "NonEmptyString",
          "documentation": "<p>The attachment state.</p> <p>Valid values: <code>attaching</code> | <code>attached</code> | <code>detaching</code> | <code>detached</code> </p>"
        }
      },
      "documentation": "<p>Information about the network interface attachment.</p>"
    },
    "AwsEc2NetworkInterfaceDetails": {
      "type": "structure",
      "members": {
        "Attachment": {
          "shape": "AwsEc2NetworkInterfaceAttachment",
          "documentation": "<p>The network interface attachment.</p>"
        },
        "NetworkInterfaceId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the network interface.</p>"
        },
        "SecurityGroups": {
          "shape": "AwsEc2NetworkInterfaceSecurityGroupList",
          "documentation": "<p>Security groups for the network interface.</p>"
        },
        "SourceDestCheck": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether traffic to or from the instance is validated.</p>"
        }
      },
      "documentation": "<p>Details about the network interface</p>"
    },
    "AwsEc2NetworkInterfaceSecurityGroup": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the security group.</p>"
        },
        "GroupId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the security group.</p>"
        }
      },
      "documentation": "<p>A security group associated with the network interface.</p>"
    },
    "AwsEc2NetworkInterfaceSecurityGroupList": {
      "type": "list",
      "member": {
        "shape": "AwsEc2NetworkInterfaceSecurityGroup"
      }
    },
    "AwsEc2SecurityGroupDetails": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the security group.</p>"
        },
        "GroupId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the security group.</p>"
        },
        "OwnerId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The AWS account ID of the owner of the security group.</p>"
        },
        "VpcId": {
          "shape": "NonEmptyString",
          "documentation": "<p>[VPC only] The ID of the VPC for the security group.</p>"
        },
        "IpPermissions": {
          "shape": "AwsEc2SecurityGroupIpPermissionList",
          "documentation": "<p>The inbound rules associated with the security group.</p>"
        },
        "IpPermissionsEgress": {
          "shape": "AwsEc2SecurityGroupIpPermissionList",
          "documentation": "<p>[VPC only] The outbound rules associated with the security group.</p>"
        }
      },
      "documentation": "<p>Details about an EC2 security group.</p>"
    },
    "AwsEc2SecurityGroupIpPermission": {
      "type": "structure",
      "members": {
        "IpProtocol": {
          "shape": "NonEmptyString",
          "documentation": "<p>The IP protocol name (<code>tcp</code>, <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>) or number.</p> <p>[VPC only] Use <code>-1</code> to specify all protocols.</p> <p>When authorizing security group rules, specifying -1 or a protocol number other than <code>tcp</code>, <code>udp</code>, <code>icmp</code>, or <code>icmpv6</code> allows traffic on all ports, regardless of any port range you specify.</p> <p>For <code>tcp</code>, <code>udp</code>, and <code>icmp</code>, you must specify a port range.</p> <p>For <code>icmpv6</code>, the port range is optional. If you omit the port range, traffic for all types and codes is allowed. </p>"
        },
        "FromPort": {
          "shape": "Integer",
          "documentation": "<p>The start of the port range for the TCP and UDP protocols, or an ICMP/ICMPv6 type number.</p> <p>A value of -1 indicates all ICMP/ICMPv6 types. If you specify all ICMP/ICMPv6 types, you must specify all codes. </p>"
        },
        "ToPort": {
          "shape": "Integer",
          "documentation": "<p>The end of the port range for the TCP and UDP protocols, or an ICMP/ICMPv6 code.</p> <p>A value of -1 indicates all ICMP/ICMPv6 codes. If you specify all ICMP/ICMPv6 types, you must specify all codes.</p>"
        },
        "UserIdGroupPairs": {
          "shape": "AwsEc2SecurityGroupUserIdGroupPairList",
          "documentation": "<p>The security group and AWS account ID pairs.</p>"
        },
        "IpRanges": {
          "shape": "AwsEc2SecurityGroupIpRangeList",
          "documentation": "<p>The IPv4 ranges.</p>"
        },
        "Ipv6Ranges": {
          "shape": "AwsEc2SecurityGroupIpv6RangeList",
          "documentation": "<p>The IPv6 ranges.</p>"
        },
        "PrefixListIds": {
          "shape": "AwsEc2SecurityGroupPrefixListIdList",
          "documentation": "<p>[VPC only] The prefix list IDs for an AWS service. With outbound rules, this is the AWS service to access through a VPC endpoint from instances associated with the security group.</p>"
        }
      },
      "documentation": "<p>An IP permission for an EC2 security group.</p>"
    },
    "AwsEc2SecurityGroupIpPermissionList": {
      "type": "list",
      "member": {
        "shape": "AwsEc2SecurityGroupIpPermission"
      }
    },
    "AwsEc2SecurityGroupIpRange": {
      "type": "structure",
      "members": {
        "CidrIp": {
          "shape": "NonEmptyString",
          "documentation": "<p>The IPv4 CIDR range. You can either specify either a CIDR range or a source security group, but not both. To specify a single IPv4 address, use the /32 prefix length.</p>"
        }
      },
      "documentation": "<p>A range of IPv4 addresses.</p>"
    },
    "AwsEc2SecurityGroupIpRangeList": {
      "type": "list",
      "member": {
        "shape": "AwsEc2SecurityGroupIpRange"
      }
    },
    "AwsEc2SecurityGroupIpv6Range": {
      "type": "structure",
      "members": {
        "CidrIpv6": {
          "shape": "NonEmptyString",
          "documentation": "<p>The IPv6 CIDR range. You can either specify either a CIDR range or a source security group, but not both. To specify a single IPv6 address, use the /128 prefix length.</p>"
        }
      },
      "documentation": "<p>A range of IPv6 addresses.</p>"
    },
    "AwsEc2SecurityGroupIpv6RangeList": {
      "type": "list",
      "member": {
        "shape": "AwsEc2SecurityGroupIpv6Range"
      }
    },
    "AwsEc2SecurityGroupPrefixListId": {
      "type": "structure",
      "members": {
        "PrefixListId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the prefix.</p>"
        }
      },
      "documentation": "<p>A prefix list ID.</p>"
    },
    "AwsEc2SecurityGroupPrefixListIdList": {
      "type": "list",
      "member": {
        "shape": "AwsEc2SecurityGroupPrefixListId"
      }
    },
    "AwsEc2SecurityGroupUserIdGroupPair": {
      "type": "structure",
      "members": {
        "GroupId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the security group.</p>"
        },
        "GroupName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the security group.</p>"
        },
        "PeeringStatus": {
          "shape": "NonEmptyString",
          "documentation": "<p>The status of a VPC peering connection, if applicable.</p>"
        },
        "UserId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of an AWS account.</p> <p>For a referenced security group in another VPC, the account ID of the referenced security group is returned in the response. If the referenced security group is deleted, this value is not returned.</p> <p>[EC2-Classic] Required when adding or removing rules that reference a security group in another AWS. </p>"
        },
        "VpcId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the VPC for the referenced security group, if applicable.</p>"
        },
        "VpcPeeringConnectionId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the VPC peering connection, if applicable.</p>"
        }
      },
      "documentation": "<p>A relationship between a security group and a user.</p>"
    },
    "AwsEc2SecurityGroupUserIdGroupPairList": {
      "type": "list",
      "member": {
        "shape": "AwsEc2SecurityGroupUserIdGroupPair"
      }
    },
    "AwsElasticsearchDomainDetails": {
      "type": "structure",
      "members": {
        "AccessPolicies": {
          "shape": "NonEmptyString",
          "documentation": "<p>IAM policy document specifying the access policies for the new Amazon ES domain.</p>"
        },
        "DomainEndpointOptions": {
          "shape": "AwsElasticsearchDomainDomainEndpointOptions",
          "documentation": "<p>Additional options for the domain endpoint.</p>"
        },
        "DomainId": {
          "shape": "NonEmptyString",
          "documentation": "<p>Unique identifier for an Amazon ES domain.</p>"
        },
        "DomainName": {
          "shape": "NonEmptyString",
          "documentation": "<p>Name of an Amazon ES domain.</p> <p>Domain names are unique across all domains owned by the same account within an AWS Region.</p> <p>Domain names must start with a lowercase letter and must be between 3 and 28 characters.</p> <p>Valid characters are a-z (lowercase only), 0-9, and – (hyphen). </p>"
        },
        "Endpoint": {
          "shape": "NonEmptyString",
          "documentation": "<p>Domain-specific endpoint used to submit index, search, and data upload requests to an Amazon ES domain.</p> <p>The endpoint is a service URL. </p>"
        },
        "Endpoints": {
          "shape": "FieldMap",
          "documentation": "<p>The key-value pair that exists if the Amazon ES domain uses VPC endpoints.</p>"
        },
        "ElasticsearchVersion": {
          "shape": "NonEmptyString",
          "documentation": "<p>Elasticsearch version.</p>"
        },
        "EncryptionAtRestOptions": {
          "shape": "AwsElasticsearchDomainEncryptionAtRestOptions",
          "documentation": "<p>Details about the configuration for encryption at rest.</p>"
        },
        "NodeToNodeEncryptionOptions": {
          "shape": "AwsElasticsearchDomainNodeToNodeEncryptionOptions",
          "documentation": "<p>Details about the configuration for node-to-node encryption.</p>"
        },
        "VPCOptions": {
          "shape": "AwsElasticsearchDomainVPCOptions",
          "documentation": "<p>Information that Amazon ES derives based on <code>VPCOptions</code> for the domain.</p>"
        }
      },
      "documentation": "<p>Information about an Elasticsearch domain.</p>"
    },
    "AwsElasticsearchDomainDomainEndpointOptions": {
      "type": "structure",
      "members": {
        "EnforceHTTPS": {
          "shape": "Boolean",
          "documentation": "<p>Whether to require that all traffic to the domain arrive over HTTPS.</p>"
        },
        "TLSSecurityPolicy": {
          "shape": "NonEmptyString",
          "documentation": "<p>The TLS security policy to apply to the HTTPS endpoint of the Elasticsearch domain.</p> <p>Valid values:</p> <ul> <li> <p> <code>Policy-Min-TLS-1-0-2019-07</code>, which supports TLSv1.0 and higher</p> </li> <li> <p> <code>Policy-Min-TLS-1-2-2019-07</code>, which only supports TLSv1.2</p> </li> </ul>"
        }
      },
      "documentation": "<p>Additional options for the domain endpoint, such as whether to require HTTPS for all traffic.</p>"
    },
    "AwsElasticsearchDomainEncryptionAtRestOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "shape": "Boolean",
          "documentation": "<p>Whether encryption at rest is enabled.</p>"
        },
        "KmsKeyId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The KMS key ID. Takes the form 1a2a3a4-1a2a-3a4a-5a6a-1a2a3a4a5a6a.</p>"
        }
      },
      "documentation": "<p>Details about the configuration for encryption at rest.</p>"
    },
    "AwsElasticsearchDomainNodeToNodeEncryptionOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "shape": "Boolean",
          "documentation": "<p>Whether node-to-node encryption is enabled.</p>"
        }
      },
      "documentation": "<p>Details about the configuration for node-to-node encryption.</p>"
    },
    "AwsElasticsearchDomainVPCOptions": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>The list of Availability Zones associated with the VPC subnets.</p>"
        },
        "SecurityGroupIds": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>The list of security group IDs associated with the VPC endpoints for the domain.</p>"
        },
        "SubnetIds": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>A list of subnet IDs associated with the VPC endpoints for the domain.</p>"
        },
        "VPCId": {
          "shape": "NonEmptyString",
          "documentation": "<p>ID for the VPC.</p>"
        }
      },
      "documentation": "<p>Information that Amazon ES derives based on <code>VPCOptions</code> for the domain.</p>"
    },
    "AwsElbv2LoadBalancerDetails": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "shape": "AvailabilityZones",
          "documentation": "<p>The Availability Zones for the load balancer.</p>"
        },
        "CanonicalHostedZoneId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the Amazon Route 53 hosted zone associated with the load balancer.</p>"
        },
        "CreatedTime": {
          "shape": "NonEmptyString",
          "documentation": "<p>The date and time the load balancer was created.</p>"
        },
        "DNSName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The public DNS name of the load balancer.</p>"
        },
        "IpAddressType": {
          "shape": "NonEmptyString",
          "documentation": "<p>The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses).</p>"
        },
        "Scheme": {
          "shape": "NonEmptyString",
          "documentation": "<p>The nodes of an Internet-facing load balancer have public IP addresses.</p>"
        },
        "SecurityGroups": {
          "shape": "SecurityGroups",
          "documentation": "<p>The IDs of the security groups for the load balancer.</p>"
        },
        "State": {
          "shape": "LoadBalancerState",
          "documentation": "<p>The state of the load balancer.</p>"
        },
        "Type": {
          "shape": "NonEmptyString",
          "documentation": "<p>The type of load balancer.</p>"
        },
        "VpcId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the VPC for the load balancer.</p>"
        }
      },
      "documentation": "<p>Information about a load balancer.</p>"
    },
    "AwsIamAccessKeyDetails": {
      "type": "structure",
      "members": {
        "UserName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The user associated with the IAM access key related to a finding.</p> <p>The <code>UserName</code> parameter has been replaced with the <code>PrincipalName</code> parameter because access keys can also be assigned to principals that are not IAM users.</p>",
          "deprecated": true,
          "deprecatedMessage": "This field is deprecated, use PrincipalName instead."
        },
        "Status": {
          "shape": "AwsIamAccessKeyStatus",
          "documentation": "<p>The status of the IAM access key related to a finding.</p>"
        },
        "CreatedAt": {
          "shape": "NonEmptyString",
          "documentation": "<p>The creation date/time of the IAM access key related to a finding.</p>"
        },
        "PrincipalId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the principal associated with an access key.</p>"
        },
        "PrincipalType": {
          "shape": "NonEmptyString",
          "documentation": "<p>The type of principal associated with an access key.</p>"
        },
        "PrincipalName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the principal.</p>"
        }
      },
      "documentation": "<p>IAM access key details related to a finding.</p>"
    },
    "AwsIamAccessKeyStatus": {
      "type": "string",
      "enum": [
        "Active",
        "Inactive"
      ]
    },
    "AwsIamRoleAssumeRolePolicyDocument": {
      "type": "string",
      "max": 131072,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]+"
    },
    "AwsIamRoleDetails": {
      "type": "structure",
      "members": {
        "AssumeRolePolicyDocument": {
          "shape": "AwsIamRoleAssumeRolePolicyDocument",
          "documentation": "<p>The trust policy that grants permission to assume the role.</p>"
        },
        "CreateDate": {
          "shape": "NonEmptyString",
          "documentation": "<p>The date and time, in ISO 8601 date-time format, when the role was created.</p>"
        },
        "RoleId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The stable and unique string identifying the role.</p>"
        },
        "RoleName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The friendly name that identifies the role.</p>"
        },
        "MaxSessionDuration": {
          "shape": "Integer",
          "documentation": "<p>The maximum session duration (in seconds) that you want to set for the specified role.</p>"
        },
        "Path": {
          "shape": "NonEmptyString",
          "documentation": "<p>The path to the role.</p>"
        }
      },
      "documentation": "<p>Contains information about an IAM role, including all of the role's policies.</p>"
    },
    "AwsKmsKeyDetails": {
      "type": "structure",
      "members": {
        "AWSAccountId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The twelve-digit account ID of the AWS account that owns the CMK.</p>"
        },
        "CreationDate": {
          "shape": "Double",
          "documentation": "<p>The date and time when the CMK was created.</p>"
        },
        "KeyId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The globally unique identifier for the CMK.</p>"
        },
        "KeyManager": {
          "shape": "NonEmptyString",
          "documentation": "<p>The manager of the CMK. CMKs in your AWS account are either customer managed or AWS managed.</p>"
        },
        "KeyState": {
          "shape": "NonEmptyString",
          "documentation": "<p>The state of the CMK.</p>"
        },
        "Origin": {
          "shape": "NonEmptyString",
          "documentation": "<p>The source of the CMK's key material.</p> <p>When this value is <code>AWS_KMS</code>, AWS KMS created the key material.</p> <p>When this value is <code>EXTERNAL</code>, the key material was imported from your existing key management infrastructure or the CMK lacks key material.</p> <p>When this value is <code>AWS_CLOUDHSM</code>, the key material was created in the AWS CloudHSM cluster associated with a custom key store.</p>"
        }
      },
      "documentation": "<p>Contains metadata about a customer master key (CMK).</p>"
    },
    "AwsLambdaFunctionCode": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "shape": "NonEmptyString",
          "documentation": "<p>An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.</p>"
        },
        "S3Key": {
          "shape": "NonEmptyString",
          "documentation": "<p>The Amazon S3 key of the deployment package.</p>"
        },
        "S3ObjectVersion": {
          "shape": "NonEmptyString",
          "documentation": "<p>For versioned objects, the version of the deployment package object to use.</p>"
        },
        "ZipFile": {
          "shape": "NonEmptyString",
          "documentation": "<p>The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you.</p>"
        }
      },
      "documentation": "<p>The code for the Lambda function. You can specify either an object in Amazon S3, or upload a deployment package directly.</p>"
    },
    "AwsLambdaFunctionDeadLetterConfig": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>"
        }
      },
      "documentation": "<p>The dead-letter queue for failed asynchronous invocations.</p>"
    },
    "AwsLambdaFunctionDetails": {
      "type": "structure",
      "members": {
        "Code": {
          "shape": "AwsLambdaFunctionCode",
          "documentation": "<p>An <code>AwsLambdaFunctionCode</code> object.</p>"
        },
        "CodeSha256": {
          "shape": "NonEmptyString",
          "documentation": "<p>The SHA256 hash of the function's deployment package.</p>"
        },
        "DeadLetterConfig": {
          "shape": "AwsLambdaFunctionDeadLetterConfig",
          "documentation": "<p>The function's dead letter queue.</p>"
        },
        "Environment": {
          "shape": "AwsLambdaFunctionEnvironment",
          "documentation": "<p>The function's environment variables.</p>"
        },
        "FunctionName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the function.</p>"
        },
        "Handler": {
          "shape": "NonEmptyString",
          "documentation": "<p>The function that Lambda calls to begin executing your function.</p>"
        },
        "KmsKeyArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The KMS key that's used to encrypt the function's environment variables. This key is only returned if you've configured a customer managed CMK.</p>"
        },
        "LastModified": {
          "shape": "NonEmptyString",
          "documentation": "<p>The date and time that the function was last updated, in ISO-8601 format (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
        },
        "Layers": {
          "shape": "AwsLambdaFunctionLayerList",
          "documentation": "<p>The function's layers.</p>"
        },
        "MasterArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>For Lambda@Edge functions, the ARN of the master function.</p>"
        },
        "MemorySize": {
          "shape": "Integer",
          "documentation": "<p>The memory that's allocated to the function.</p>"
        },
        "RevisionId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The latest updated revision of the function or alias.</p>"
        },
        "Role": {
          "shape": "NonEmptyString",
          "documentation": "<p>The function's execution role.</p>"
        },
        "Runtime": {
          "shape": "NonEmptyString",
          "documentation": "<p>The runtime environment for the Lambda function.</p>"
        },
        "Timeout": {
          "shape": "Integer",
          "documentation": "<p>The amount of time that Lambda allows a function to run before stopping it.</p>"
        },
        "TracingConfig": {
          "shape": "AwsLambdaFunctionTracingConfig",
          "documentation": "<p>The function's AWS X-Ray tracing configuration.</p>"
        },
        "VpcConfig": {
          "shape": "AwsLambdaFunctionVpcConfig",
          "documentation": "<p>The function's networking configuration.</p>"
        },
        "Version": {
          "shape": "NonEmptyString",
          "documentation": "<p>The version of the Lambda function.</p>"
        }
      },
      "documentation": "<p>Details about a function's configuration.</p>"
    },
    "AwsLambdaFunctionEnvironment": {
      "type": "structure",
      "members": {
        "Variables": {
          "shape": "FieldMap",
          "documentation": "<p>Environment variable key-value pairs.</p>"
        },
        "Error": {
          "shape": "AwsLambdaFunctionEnvironmentError",
          "documentation": "<p>An <code>AwsLambdaFunctionEnvironmentError</code> object.</p>"
        }
      },
      "documentation": "<p>A function's environment variable settings.</p>"
    },
    "AwsLambdaFunctionEnvironmentError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "shape": "NonEmptyString",
          "documentation": "<p>The error code.</p>"
        },
        "Message": {
          "shape": "NonEmptyString",
          "documentation": "<p>The error message.</p>"
        }
      },
      "documentation": "<p>Error messages for environment variables that couldn't be applied.</p>"
    },
    "AwsLambdaFunctionLayer": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The Amazon Resource Name (ARN) of the function layer.</p>"
        },
        "CodeSize": {
          "shape": "Integer",
          "documentation": "<p>The size of the layer archive in bytes.</p>"
        }
      },
      "documentation": "<p>An AWS Lambda layer.</p>"
    },
    "AwsLambdaFunctionLayerList": {
      "type": "list",
      "member": {
        "shape": "AwsLambdaFunctionLayer"
      }
    },
    "AwsLambdaFunctionTracingConfig": {
      "type": "structure",
      "members": {
        "Mode": {
          "shape": "NonEmptyString",
          "documentation": "<p>The tracing mode.</p>"
        }
      },
      "documentation": "<p>The function's AWS X-Ray tracing configuration.</p>"
    },
    "AwsLambdaFunctionVpcConfig": {
      "type": "structure",
      "members": {
        "SecurityGroupIds": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>A list of VPC security groups IDs.</p>"
        },
        "SubnetIds": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>A list of VPC subnet IDs.</p>"
        },
        "VpcId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ID of the VPC.</p>"
        }
      },
      "documentation": "<p>The VPC security groups and subnets that are attached to a Lambda function. For more information, see VPC Settings.</p>"
    },
    "AwsLambdaLayerVersionDetails": {
      "type": "structure",
      "members": {
        "Version": {
          "shape": "AwsLambdaLayerVersionNumber",
          "documentation": "<p>The version number.</p>"
        },
        "CompatibleRuntimes": {
          "shape": "NonEmptyStringList",
          "documentation": "<p>The layer's compatible runtimes. Maximum number of 5 items.</p> <p>Valid values: <code>nodejs8.10</code> | <code>nodejs10.x</code> | <code>nodejs12.x</code> | <code>java8</code> | <code>java11</code> | <code>python2.7</code> | <code>python3.6</code> | <code>python3.7</code> | <code>python3.8</code> | <code>dotnetcore1.0</code> | <code>dotnetcore2.1</code> | <code>go1.x</code> | <code>ruby2.5</code> | <code>provided</code> </p>"
        },
        "CreatedDate": {
          "shape": "NonEmptyString",
          "documentation": "<p>The date that the version was created, in ISO 8601 format. For example, 2018-11-27T15:10:45.123+0000. </p>"
        }
      },
      "documentation": "<p>Details about a Lambda layer version.</p>"
    },
    "AwsLambdaLayerVersionNumber": {
      "type": "long"
    },
    "AwsRdsDbInstanceAssociatedRole": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that is associated with the DB instance.</p>"
        },
        "FeatureName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the feature associated with the IAM)role.</p>"
        },
        "Status": {
          "shape": "NonEmptyString",
          "documentation": "<p>Describes the state of the association between the IAM role and the DB instance. The <code>Status</code> property returns one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - the IAM role ARN is associated with the DB instance and can be used to access other AWS services on your behalf.</p> </li> <li> <p> <code>PENDING</code> - the IAM role ARN is being associated with the DB instance.</p> </li> <li> <p> <code>INVALID</code> - the IAM role ARN is associated with the DB instance, but the DB instance is unable to assume the IAM role in order to access other AWS services on your behalf. </p> </li> </ul>"
        }
      },
      "documentation": "<p>An AWS Identity and Access Management (IAM) role associated with the DB instance.</p>"
    },
    "AwsRdsDbInstanceAssociatedRoles": {
      "type": "list",
      "member": {
        "shape": "AwsRdsDbInstanceAssociatedRole"
      }
    },
    "AwsRdsDbInstanceDetails": {
      "type": "structure",
      "members": {
        "AssociatedRoles": {
          "shape": "AwsRdsDbInstanceAssociatedRoles",
          "documentation": "<p>The AWS Identity and Access Management (IAM) roles associated with the DB instance.</p>"
        },
        "CACertificateIdentifier": {
          "shape": "NonEmptyString",
          "documentation": "<p>The identifier of the CA certificate for this DB instance.</p>"
        },
        "DBClusterIdentifier": {
          "shape": "NonEmptyString",
          "documentation": "<p>If the DB instance is a member of a DB cluster, contains the name of the DB cluster that the DB instance is a member of.</p>"
        },
        "DBInstanceIdentifier": {
          "shape": "NonEmptyString",
          "documentation": "<p>Contains a user-supplied database identifier. This identifier is the unique key that identifies a DB instance.</p>"
        },
        "DBInstanceClass": {
          "shape": "NonEmptyString",
          "documentation": "<p>Contains the name of the compute and memory capacity class of the DB instance.</p>"
        },
        "DbInstancePort": {
          "shape": "Integer",
          "documentation": "<p>Specifies the port that the DB instance listens on. If the DB instance is part of a DB cluster, this can be a different port than the DB cluster port.</p>"
        },
        "DbiResourceId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The AWS Region-unique, immutable identifier for the DB instance. This identifier is found in AWS CloudTrail log entries whenever the AWS KMS key for the DB instance is accessed. </p>"
        },
        "DBName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The meaning of this parameter differs according to the database engine you use.</p> <p> <b>MySQL, MariaDB, SQL Server, PostgreSQL</b> </p> <p>Contains the name of the initial database of this instance that was provided at create time, if one was specified when the DB instance was created. This same name is returned for the life of the DB instance.</p> <p> <b>Oracle</b> </p> <p>Contains the Oracle System ID (SID) of the created DB instance. Not shown when the returned parameters do not apply to an Oracle DB instance. </p>"
        },
        "DeletionProtection": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether the DB instance has deletion protection enabled.</p> <p>When deletion protection is enabled, the database cannot be deleted.</p>"
        },
        "Endpoint": {
          "shape": "AwsRdsDbInstanceEndpoint",
          "documentation": "<p>Specifies the connection endpoint.</p>"
        },
        "Engine": {
          "shape": "NonEmptyString",
          "documentation": "<p>Provides the name of the database engine to use for this DB instance.</p>"
        },
        "EngineVersion": {
          "shape": "NonEmptyString",
          "documentation": "<p>Indicates the database engine version.</p>"
        },
        "IAMDatabaseAuthenticationEnabled": {
          "shape": "Boolean",
          "documentation": "<p>True if mapping of AWS Identity and Access Management (IAM) accounts to database accounts is enabled, and otherwise false.</p> <p>IAM database authentication can be enabled for the following database engines.</p> <ul> <li> <p>For MySQL 5.6, minor version 5.6.34 or higher</p> </li> <li> <p>For MySQL 5.7, minor version 5.7.16 or higher</p> </li> <li> <p>Aurora 5.6 or higher</p> </li> </ul>"
        },
        "InstanceCreateTime": {
          "shape": "NonEmptyString",
          "documentation": "<p>Provides the date and time the DB instance was created.</p>"
        },
        "KmsKeyId": {
          "shape": "NonEmptyString",
          "documentation": "<p>If <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the encrypted DB instance.</p>"
        },
        "PubliclyAccessible": {
          "shape": "Boolean",
          "documentation": "<p>Specifies the accessibility options for the DB instance.</p> <p>A value of true specifies an Internet-facing instance with a publicly resolvable DNS name, which resolves to a public IP address.</p> <p>A value of false specifies an internal instance with a DNS name that resolves to a private IP address. </p>"
        },
        "StorageEncrypted": {
          "shape": "Boolean",
          "documentation": "<p>Specifies whether the DB instance is encrypted.</p>"
        },
        "TdeCredentialArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ARN from the key store with which the instance is associated for TDE encryption.</p>"
        },
        "VpcSecurityGroups": {
          "shape": "AwsRdsDbInstanceVpcSecurityGroups",
          "documentation": "<p>A list of VPC security groups that the DB instance belongs to.</p>"
        }
      },
      "documentation": "<p>Contains the details of an Amazon RDS DB instance.</p>"
    },
    "AwsRdsDbInstanceEndpoint": {
      "type": "structure",
      "members": {
        "Address": {
          "shape": "NonEmptyString",
          "documentation": "<p>Specifies the DNS address of the DB instance.</p>"
        },
        "Port": {
          "shape": "Integer",
          "documentation": "<p>Specifies the port that the database engine is listening on.</p>"
        },
        "HostedZoneId": {
          "shape": "NonEmptyString",
          "documentation": "<p>Specifies the ID that Amazon Route 53 assigns when you create a hosted zone.</p>"
        }
      },
      "documentation": "<p>Specifies the connection endpoint.</p>"
    },
    "AwsRdsDbInstanceVpcSecurityGroup": {
      "type": "structure",
      "members": {
        "VpcSecurityGroupId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The name of the VPC security group.</p>"
        },
        "Status": {
          "shape": "NonEmptyString",
          "documentation": "<p>The status of the VPC security group.</p>"
        }
      },
      "documentation": "<p>A VPC security groups that the DB instance belongs to.</p>"
    },
    "AwsRdsDbInstanceVpcSecurityGroups": {
      "type": "list",
      "member": {
        "shape": "AwsRdsDbInstanceVpcSecurityGroup"
      }
    },
    "AwsS3BucketDetails": {
      "type": "structure",
      "members": {
        "OwnerId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The canonical user ID of the owner of the S3 bucket.</p>"
        },
        "OwnerName": {
          "shape": "NonEmptyString",
          "documentation": "<p>The display name of the owner of the S3 bucket.</p>"
        }
      },
      "documentation": "<p>The details of an Amazon S3 bucket.</p>"
    },
    "AwsSecurityFinding": {
      "type": "structure",
      "required": [
        "SchemaVersion",
        "Id",
        "ProductArn",
        "GeneratorId",
        "AwsAccountId",
        "Types",
        "CreatedAt",
        "UpdatedAt",
        "Severity",
        "Title",
        "Description",
        "Resources"
      ],
      "members": {
        "SchemaVersion": {
          "shape": "NonEmptyString",
          "documentation": "<p>The schema version that a finding is formatted for.</p>"
        },
        "Id": {
          "shape": "NonEmptyString",
          "documentation": "<p>The security findings provider-specific identifier for a finding.</p>"
        },
        "ProductArn": {
          "shape": "NonEmptyString",
          "documentation": "<p>The ARN generated by Security Hub that uniquely identifies a third-party company (security-findings provider) after this provider's product (solution that generates findings) is registered with Security Hub. </p>"
        },
        "GeneratorId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc. </p>"
        },
        "AwsAccountId": {
          "shape": "NonEmptyString",
          "documentation": "<p>The AWS account ID that a finding is generated in.</p>"
        },
        "Types": {
          "shape": "TypeList",
          "documentation": "<p>One or more finding types in the format of <code>namespace/category/classifier</code> that classify a finding.</p> <p>Valid namespace values are: Software and Configuration Checks | TTPs | Effects | Unusual Behaviors | Sensitive Data Identifications</p>"
        },
        "FirstObservedAt": {
          "shape": "NonEmptyString",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.</p>"
        },
        "LastObservedAt": {
          "shape": "NonEmptyString",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.</p>"
        },
        "CreatedAt": {
          "shape": "NonEmptyString",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider created the potential security issue that a finding captured.</p>"
        },
        "UpdatedAt": {
          "shape": "NonEmptyString",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. </p>"
        },
        "Severity": {
          "shape": "Severity",
          "documentation": "<p>A finding's severity.</p>"
        },
        "Confidence": {
          "shape": "Integer",
          "documentation": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>"
        },
        "Criticality": {
          "shape": "Integer",
          "documentation": "<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>"
        },
        "Title": {
          "shape": "NonEmptyString",
          "documentation": "<p>A finding's title.</p> <note> <p>In this release, <code>Title</code> is a required property.</p> </note>"
        },
        "Description": {
          "shape": "NonEmptyString",
          "documentation": "<p>A finding's description.</p> <note> <p>In this release, <code>Description</code> is a required property.</p> </note>"
        },
        "Remediation": {
          "shape": "Remediation",
          "documentation": "<p>A data type that describes the remediation options for a finding.</p>"
        },
        "SourceUrl": {
          "shape": "NonEmptyString",
          "documentation": "<p>A URL that links to a page about the current finding in the security-findings provider's solution.</p>"
        },
        "ProductFields": {
          "shape": "FieldMap",
          "documentation": "<p>A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.</p>"
        },
        "UserDefinedFields": {
          "shape": "FieldMap",
          "documentation": "<p>A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. </p>"
        },
        "Malware": {
          "shape": "MalwareList",
          "documentation": "<p>A list of malware related to a finding.</p>"
        },
        "Network": {
          "shape": "Network",
          "documentation": "<p>The details of network-related information about a finding.</p>"
        },
        "Process": {
          "shape": "ProcessDetails",
          "documentation": "<p>The details of process-related information about a finding.</p>"
        },
        "ThreatIntelIndicators": {
          "shape": "ThreatIntelIndicatorList",
          "documentation": "<p>Threat intelligence details related to a finding.</p>"
        },
        "Resources": {
          "shape": "ResourceList",
          "documentation": "<p>A set of resource data types that describe the resources that the finding refers to.</p>"
        },
        "Compliance": {
          "shape": "Compliance",
          "documentation": "<p>This data type is exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard, such as CIS AWS Foundations. Contains compliance-related finding details.</p>"
        },
        "VerificationState": {
          "shape": "VerificationState",
          "documentation": "<p>Indicates the veracity of a finding. </p>"
        },
        "WorkflowState": {
          "shape": "WorkflowState",
          "documentation": "<p>The workflow state of a finding. </p>"
        },
        "RecordState": {
          "shape": "RecordState",
          "documentation": "<p>The record state of a finding.</p>"
        },
        "RelatedFindings": {
          "shape": "RelatedFindingList",
          "documentation": "<p>A list of related findings.</p>"
        },
        "Note": {
          "shape": "Note",
          "documentation": "<p>A user-defined note added to a finding.</p>"
        }
      },
      "documentation": "<p>Provides consistent format for the contents of the Security Hub-aggregated findings. <code>AwsSecurityFinding</code> format enables you to share findings between AWS security services and third-party solutions, and compliance checks.</p> <note> <p>A finding is a potential security issue generated either by AWS services (Amazon GuardDuty, Amazon Inspector, and Amazon Macie) or by the integrated third-party solutions and compliance checks.</p> </note>"
    },
    "AwsSecurityFindingFilters": {
      "type": "structure",
      "members": {
        "ProductArn": {
          "shape": "StringFilterList",
          "documentation": "<p>The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.</p>"
        },
        "AwsAccountId": {
          "shape": "StringFilterList",
          "documentation": "<p>The AWS account ID that a finding is generated in.</p>"
        },
        "Id": {
          "shape": "StringFilterList",
          "documentation": "<p>The security findings provider-specific identifier for a finding.</p>"
        },
        "GeneratorId": {
          "shape": "StringFilterList",
          "documentation": "<p>The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.</p>"
        },
        "Type": {
          "shape": "StringFilterList",
          "documentation": "<p>A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.</p>"
        },
        "FirstObservedAt": {
          "shape": "DateFilterList",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.</p>"
        },
        "LastObservedAt": {
          "shape": "DateFilterList",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.</p>"
        },
        "CreatedAt": {
          "shape": "DateFilterList",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.</p>"
        },
        "UpdatedAt": {
          "shape": "DateFilterList",
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. </p>"
        },
        "SeverityProduct": {
          "shape": "NumberFilterList",
          "documentation": "<p>The native severity as defined by the security-findings provider's solution that generated the finding.</p>"
        },
        "SeverityNormalized": {
          "shape": "NumberFilterList",
          "documentation": "<p>The normalized severity of a finding.</p>"
        },
        "SeverityLabel": {
          "shape": "StringFilterList",
          "documentation": "<p>The label of a finding's severity.</p>"
        },
        "Confidence": {
          "shape": "NumberFilterList",
          "documentation": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>"
        },
        "Criticality": {
          "shape": "NumberFilterList",
          "documentation": "<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>"
        },
        "Title": {
          "shape": "StringFilterList",
          "documentation": "<p>A finding's title.</p>"
        },
        "Description": {
          "shape": "StringFilterList",
          "documentation": "<p>A finding's description.</p>"
        },
[...]
