{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "http": {
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {
          "MasterId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchDisableStandards": {
      "http": {
        "requestUri": "/standards/deregister"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArns"
        ],
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchEnableStandards": {
      "http": {
        "requestUri": "/standards/register"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionRequests"
        ],
        "members": {
          "StandardsSubscriptionRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn"
              ],
              "members": {
                "StandardsArn": {},
                "StandardsInput": {
                  "shape": "S9"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchImportFindings": {
      "http": {
        "requestUri": "/findings/import"
      },
      "input": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedCount",
          "SuccessCount"
        ],
        "members": {
          "FailedCount": {
            "type": "integer"
          },
          "SuccessCount": {
            "type": "integer"
          },
          "FailedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateInsight": {
      "http": {
        "requestUri": "/insights"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Filters",
          "GroupByAttribute"
        ],
        "members": {
          "Name": {},
          "Filters": {
            "shape": "S1m"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Email": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S29"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S29"
          }
        }
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S29"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/members/delete"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S29"
          }
        }
      }
    },
    "DescribeProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Products"
        ],
        "members": {
          "Products": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn"
              ],
              "members": {
                "ProductArn": {},
                "ProductName": {},
                "CompanyName": {},
                "Description": {},
                "Categories": {
                  "type": "list",
                  "member": {}
                },
                "MarketplaceUrl": {},
                "ActivationUrl": {},
                "ProductSubscriptionResourcePolicy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableImportFindingsForProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductSubscriptionArn"
        ],
        "members": {
          "ProductSubscriptionArn": {
            "location": "uri",
            "locationName": "ProductSubscriptionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSecurityHub": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/members/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableImportFindingsForProduct": {
      "http": {
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductArn"
        ],
        "members": {
          "ProductArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptionArn": {}
        }
      }
    },
    "EnableSecurityHub": {
      "http": {
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetEnabledStandards": {
      "http": {
        "requestUri": "/standards/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          },
          "NextToken": {}
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1m"
          },
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Field": {},
                "SortOrder": {}
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          },
          "NextToken": {}
        }
      }
    },
    "GetInsightResults": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightResults"
        ],
        "members": {
          "InsightResults": {
            "type": "structure",
            "required": [
              "InsightArn",
              "GroupByAttribute",
              "ResultValues"
            ],
            "members": {
              "InsightArn": {},
              "GroupByAttribute": {},
              "ResultValues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "GroupByAttributeValue",
                    "Count"
                  ],
                  "members": {
                    "GroupByAttributeValue": {},
                    "Count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInsights": {
      "http": {
        "requestUri": "/insights/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightArns": {
            "type": "list",
            "member": {}
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Insights"
        ],
        "members": {
          "Insights": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InsightArn",
                "Name",
                "Filters",
                "GroupByAttribute"
              ],
              "members": {
                "InsightArn": {},
                "Name": {},
                "Filters": {
                  "shape": "S1m"
                },
                "GroupByAttribute": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Master": {
            "shape": "S3o"
          }
        }
      }
    },
    "GetMembers": {
      "http": {
        "requestUri": "/members/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S3s"
          },
          "UnprocessedAccounts": {
            "shape": "S29"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/members/invite"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S29"
          }
        }
      }
    },
    "ListEnabledProductsForImport": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptions": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "type": "list",
            "member": {
              "shape": "S3o"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "OnlyAssociated",
            "type": "boolean"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S3s"
          },
          "NextToken": {}
        }
      }
    },
    "ListProductSubscribers": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscribers/"
      },
      "input": {
        "type": "structure",
        "members": {
          "ProductArn": {
            "location": "querystring",
            "locationName": "ProductArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscribers": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "UpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "shape": "S1m"
          },
          "Note": {
            "type": "structure",
            "required": [
              "Text",
              "UpdatedBy"
            ],
            "members": {
              "Text": {},
              "UpdatedBy": {}
            }
          },
          "RecordState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInsight": {
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          },
          "Name": {},
          "Filters": {
            "shape": "S1m"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {}
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn",
          "StandardsArn",
          "StandardsInput",
          "StandardsStatus"
        ],
        "members": {
          "StandardsSubscriptionArn": {},
          "StandardsArn": {},
          "StandardsInput": {
            "shape": "S9"
          },
          "StandardsStatus": {}
        }
      }
    },
    "S9": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "SchemaVersion",
          "Id",
          "ProductArn",
          "GeneratorId",
          "AwsAccountId",
          "Types",
          "CreatedAt",
          "UpdatedAt",
          "Severity",
          "Resources"
        ],
        "members": {
          "SchemaVersion": {},
          "Id": {},
          "ProductArn": {},
          "GeneratorId": {},
          "AwsAccountId": {},
          "Types": {
            "type": "list",
            "member": {}
          },
          "FirstObservedAt": {},
          "LastObservedAt": {},
          "CreatedAt": {},
          "UpdatedAt": {},
          "Severity": {
            "type": "structure",
            "required": [
              "Normalized"
            ],
            "members": {
              "Product": {
                "type": "double"
              },
              "Normalized": {
                "type": "integer"
              }
            }
          },
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Title": {},
          "Description": {},
          "Remediation": {
            "type": "structure",
            "members": {
              "Recommendation": {
                "type": "structure",
                "members": {
                  "Text": {},
                  "Url": {}
                }
              }
            }
          },
          "SourceUrl": {},
          "ProductFields": {
            "shape": "So"
          },
          "UserDefinedFields": {
            "shape": "So"
          },
          "Malware": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "Name": {},
                "Type": {},
                "Path": {},
                "State": {}
              }
            }
          },
          "Network": {
            "type": "structure",
            "members": {
              "Direction": {},
              "Protocol": {},
              "SourceIpV4": {},
              "SourceIpV6": {},
              "SourcePort": {
                "type": "integer"
              },
              "SourceDomain": {},
              "SourceMac": {},
              "DestinationIpV4": {},
              "DestinationIpV6": {},
              "DestinationPort": {
                "type": "integer"
              },
              "DestinationDomain": {}
            }
          },
          "Process": {
            "type": "structure",
            "members": {
              "Name": {},
              "Path": {},
              "Pid": {
                "type": "integer"
              },
              "ParentPid": {
                "type": "integer"
              },
              "LaunchedAt": {},
              "TerminatedAt": {}
            }
          },
          "ThreatIntelIndicators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "Value": {},
                "Category": {},
                "LastObservedAt": {},
                "Source": {},
                "SourceUrl": {}
              }
            }
          },
          "Resources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Type",
                "Id"
              ],
              "members": {
                "Type": {},
                "Id": {},
                "Partition": {},
                "Region": {},
                "Tags": {
                  "shape": "So"
                },
                "Details": {
                  "type": "structure",
                  "members": {
                    "AwsEc2Instance": {
                      "type": "structure",
                      "members": {
                        "Type": {},
                        "ImageId": {},
                        "IpV4Addresses": {
                          "shape": "S15"
                        },
                        "IpV6Addresses": {
                          "shape": "S15"
                        },
                        "KeyName": {},
                        "IamInstanceProfileArn": {},
                        "VpcId": {},
                        "SubnetId": {},
                        "LaunchedAt": {}
                      }
                    },
                    "AwsS3Bucket": {
                      "type": "structure",
                      "members": {
                        "OwnerId": {},
                        "OwnerName": {}
                      }
                    },
                    "AwsIamAccessKey": {
                      "type": "structure",
                      "members": {
                        "UserName": {},
                        "Status": {},
                        "CreatedAt": {}
                      }
                    },
                    "Container": {
                      "type": "structure",
                      "members": {
                        "Name": {},
                        "ImageId": {},
                        "ImageName": {},
                        "LaunchedAt": {}
                      }
                    },
                    "Other": {
                      "shape": "So"
                    }
                  }
                }
              }
            }
          },
          "Compliance": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "VerificationState": {},
          "WorkflowState": {},
          "RecordState": {},
          "RelatedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn",
                "Id"
              ],
              "members": {
                "ProductArn": {},
                "Id": {}
              }
            }
          },
          "Note": {
            "type": "structure",
            "required": [
              "Text",
              "UpdatedBy",
              "UpdatedAt"
            ],
            "members": {
              "Text": {},
              "UpdatedBy": {},
              "UpdatedAt": {}
            }
          }
        }
      }
    },
    "So": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S15": {
      "type": "list",
      "member": {}
    },
    "S1m": {
      "type": "structure",
      "members": {
        "ProductArn": {
          "shape": "S1n"
        },
        "AwsAccountId": {
          "shape": "S1n"
        },
        "Id": {
          "shape": "S1n"
        },
        "GeneratorId": {
          "shape": "S1n"
        },
        "Type": {
          "shape": "S1n"
        },
        "FirstObservedAt": {
          "shape": "S1q"
        },
        "LastObservedAt": {
          "shape": "S1q"
        },
        "CreatedAt": {
          "shape": "S1q"
        },
        "UpdatedAt": {
          "shape": "S1q"
        },
        "SeverityProduct": {
          "shape": "S1u"
        },
        "SeverityNormalized": {
          "shape": "S1u"
        },
        "SeverityLabel": {
          "shape": "S1n"
        },
        "Confidence": {
          "shape": "S1u"
        },
        "Criticality": {
          "shape": "S1u"
        },
        "Title": {
          "shape": "S1n"
        },
        "Description": {
          "shape": "S1n"
        },
        "RecommendationText": {
          "shape": "S1n"
        },
        "SourceUrl": {
          "shape": "S1n"
        },
        "ProductFields": {
          "shape": "S1w"
        },
        "ProductName": {
          "shape": "S1n"
        },
        "CompanyName": {
          "shape": "S1n"
        },
        "UserDefinedFields": {
          "shape": "S1w"
        },
        "MalwareName": {
          "shape": "S1n"
        },
        "MalwareType": {
          "shape": "S1n"
        },
        "MalwarePath": {
          "shape": "S1n"
        },
        "MalwareState": {
          "shape": "S1n"
        },
        "NetworkDirection": {
          "shape": "S1n"
        },
        "NetworkProtocol": {
          "shape": "S1n"
        },
        "NetworkSourceIpV4": {
          "shape": "S1z"
        },
        "NetworkSourceIpV6": {
          "shape": "S1z"
        },
        "NetworkSourcePort": {
          "shape": "S1u"
        },
        "NetworkSourceDomain": {
          "shape": "S1n"
        },
        "NetworkSourceMac": {
          "shape": "S1n"
        },
        "NetworkDestinationIpV4": {
          "shape": "S1z"
        },
        "NetworkDestinationIpV6": {
          "shape": "S1z"
        },
        "NetworkDestinationPort": {
          "shape": "S1u"
        },
        "NetworkDestinationDomain": {
          "shape": "S1n"
        },
        "ProcessName": {
          "shape": "S1n"
        },
        "ProcessPath": {
          "shape": "S1n"
        },
        "ProcessPid": {
          "shape": "S1u"
        },
        "ProcessParentPid": {
          "shape": "S1u"
        },
        "ProcessLaunchedAt": {
          "shape": "S1q"
        },
        "ProcessTerminatedAt": {
          "shape": "S1q"
        },
        "ThreatIntelIndicatorType": {
          "shape": "S1n"
        },
        "ThreatIntelIndicatorValue": {
          "shape": "S1n"
        },
        "ThreatIntelIndicatorCategory": {
          "shape": "S1n"
        },
        "ThreatIntelIndicatorLastObservedAt": {
          "shape": "S1q"
        },
        "ThreatIntelIndicatorSource": {
          "shape": "S1n"
        },
        "ThreatIntelIndicatorSourceUrl": {
          "shape": "S1n"
        },
        "ResourceType": {
          "shape": "S1n"
        },
        "ResourceId": {
          "shape": "S1n"
        },
        "ResourcePartition": {
          "shape": "S1n"
        },
        "ResourceRegion": {
          "shape": "S1n"
        },
        "ResourceTags": {
          "shape": "S1w"
        },
        "ResourceAwsEc2InstanceType": {
          "shape": "S1n"
        },
        "ResourceAwsEc2InstanceImageId": {
          "shape": "S1n"
        },
        "ResourceAwsEc2InstanceIpV4Addresses": {
          "shape": "S1z"
        },
        "ResourceAwsEc2InstanceIpV6Addresses": {
          "shape": "S1z"
        },
        "ResourceAwsEc2InstanceKeyName": {
          "shape": "S1n"
        },
        "ResourceAwsEc2InstanceIamInstanceProfileArn": {
          "shape": "S1n"
        },
        "ResourceAwsEc2InstanceVpcId": {
          "shape": "S1n"
        },
        "ResourceAwsEc2InstanceSubnetId": {
          "shape": "S1n"
        },
        "ResourceAwsEc2InstanceLaunchedAt": {
          "shape": "S1q"
        },
        "ResourceAwsS3BucketOwnerId": {
          "shape": "S1n"
        },
        "ResourceAwsS3BucketOwnerName": {
          "shape": "S1n"
        },
        "ResourceAwsIamAccessKeyUserName": {
          "shape": "S1n"
        },
        "ResourceAwsIamAccessKeyStatus": {
          "shape": "S1n"
        },
        "ResourceAwsIamAccessKeyCreatedAt": {
          "shape": "S1q"
        },
        "ResourceContainerName": {
          "shape": "S1n"
        },
        "ResourceContainerImageId": {
          "shape": "S1n"
        },
        "ResourceContainerImageName": {
          "shape": "S1n"
        },
        "ResourceContainerLaunchedAt": {
          "shape": "S1q"
        },
        "ResourceDetailsOther": {
          "shape": "S1w"
        },
        "ComplianceStatus": {
          "shape": "S1n"
        },
        "VerificationState": {
          "shape": "S1n"
        },
        "WorkflowState": {
          "shape": "S1n"
        },
        "RecordState": {
          "shape": "S1n"
        },
        "RelatedFindingsProductArn": {
          "shape": "S1n"
        },
        "RelatedFindingsId": {
          "shape": "S1n"
        },
        "NoteText": {
          "shape": "S1n"
        },
        "NoteUpdatedAt": {
          "shape": "S1q"
        },
        "NoteUpdatedBy": {
          "shape": "S1n"
        },
        "Keyword": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Value": {}
            }
          }
        }
      }
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S1q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Start": {},
          "End": {},
          "DateRange": {
            "type": "structure",
            "members": {
              "Value": {
                "type": "integer"
              },
              "Unit": {}
            }
          }
        }
      }
    },
    "S1u": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Gte": {
            "type": "double"
          },
          "Lte": {
            "type": "double"
          },
          "Eq": {
            "type": "double"
          }
        }
      }
    },
    "S1w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S1z": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Cidr": {}
        }
      }
    },
    "S29": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "ProcessingResult": {}
        }
      }
    },
    "S2c": {
      "type": "list",
      "member": {}
    },
    "S3o": {
      "type": "structure",
      "members": {
        "AccountId": {},
        "InvitationId": {},
        "InvitedAt": {
          "shape": "S3p"
        },
        "MemberStatus": {}
      }
    },
    "S3p": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S3s": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "Email": {},
          "MasterId": {},
          "MemberStatus": {},
          "InvitedAt": {
            "shape": "S3p"
          },
          "UpdatedAt": {
            "shape": "S3p"
          }
        }
      }
    }
  }
}