{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptAdministratorInvitation": {
      "http": {
        "requestUri": "/administrator"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdministratorId",
          "InvitationId"
        ],
        "members": {
          "AdministratorId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AcceptInvitation": {
      "http": {
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "required": [
          "MasterId",
          "InvitationId"
        ],
        "members": {
          "MasterId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use AcceptAdministratorInvitation API instead."
    },
    "BatchDeleteAutomationRules": {
      "http": {
        "requestUri": "/automationrules/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AutomationRulesArns"
        ],
        "members": {
          "AutomationRulesArns": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProcessedAutomationRules": {
            "shape": "S7"
          },
          "UnprocessedAutomationRules": {
            "shape": "S9"
          }
        }
      }
    },
    "BatchDisableStandards": {
      "http": {
        "requestUri": "/standards/deregister"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArns"
        ],
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "Sf"
          }
        }
      }
    },
    "BatchEnableStandards": {
      "http": {
        "requestUri": "/standards/register"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionRequests"
        ],
        "members": {
          "StandardsSubscriptionRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn"
              ],
              "members": {
                "StandardsArn": {},
                "StandardsInput": {
                  "shape": "Sh"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "Sf"
          }
        }
      }
    },
    "BatchGetAutomationRules": {
      "http": {
        "requestUri": "/automationrules/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AutomationRulesArns"
        ],
        "members": {
          "AutomationRulesArns": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rules": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RuleArn": {},
                "RuleStatus": {},
                "RuleOrder": {
                  "type": "integer"
                },
                "RuleName": {},
                "Description": {},
                "IsTerminal": {
                  "type": "boolean"
                },
                "Criteria": {
                  "shape": "Sw"
                },
                "Actions": {
                  "shape": "S1a"
                },
                "CreatedAt": {
                  "shape": "S1p"
                },
                "UpdatedAt": {
                  "shape": "S1p"
                },
                "CreatedBy": {}
              }
            }
          },
          "UnprocessedAutomationRules": {
            "shape": "S9"
          }
        }
      }
    },
    "BatchGetConfigurationPolicyAssociations": {
      "http": {
        "requestUri": "/configurationPolicyAssociation/batchget"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationPolicyAssociationIdentifiers"
        ],
        "members": {
          "ConfigurationPolicyAssociationIdentifiers": {
            "type": "list",
            "member": {
              "shape": "S1s"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationPolicyAssociations": {
            "type": "list",
            "member": {
              "shape": "S1w"
            }
          },
          "UnprocessedConfigurationPolicyAssociations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConfigurationPolicyAssociationIdentifiers": {
                  "shape": "S1s"
                },
                "ErrorCode": {},
                "ErrorReason": {}
              }
            }
          }
        }
      }
    },
    "BatchGetSecurityControls": {
      "http": {
        "requestUri": "/securityControls/batchGet"
      },
      "input": {
        "type": "structure",
        "required": [
          "SecurityControlIds"
        ],
        "members": {
          "SecurityControlIds": {
            "shape": "S23"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SecurityControls"
        ],
        "members": {
          "SecurityControls": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SecurityControlId",
                "SecurityControlArn",
                "Title",
                "Description",
                "RemediationUrl",
                "SeverityRating",
                "SecurityControlStatus"
              ],
              "members": {
                "SecurityControlId": {},
                "SecurityControlArn": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "SecurityControlStatus": {},
                "UpdateStatus": {},
                "Parameters": {
                  "shape": "S2a"
                },
                "LastUpdateReason": {}
              }
            }
          },
          "UnprocessedIds": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SecurityControlId",
                "ErrorCode"
              ],
              "members": {
                "SecurityControlId": {},
                "ErrorCode": {},
                "ErrorReason": {}
              }
            }
          }
        }
      }
    },
    "BatchGetStandardsControlAssociations": {
      "http": {
        "requestUri": "/associations/batchGet"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationIds"
        ],
        "members": {
          "StandardsControlAssociationIds": {
            "type": "list",
            "member": {
              "shape": "S2l"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationDetails"
        ],
        "members": {
          "StandardsControlAssociationDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn",
                "SecurityControlId",
                "SecurityControlArn",
                "AssociationStatus"
              ],
              "members": {
                "StandardsArn": {},
                "SecurityControlId": {},
                "SecurityControlArn": {},
                "AssociationStatus": {},
                "RelatedRequirements": {
                  "shape": "S2q"
                },
                "UpdatedAt": {
                  "shape": "S1p"
                },
                "UpdatedReason": {},
                "StandardsControlTitle": {},
                "StandardsControlDescription": {},
                "StandardsControlArns": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "UnprocessedAssociations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsControlAssociationId",
                "ErrorCode"
              ],
              "members": {
                "StandardsControlAssociationId": {
                  "shape": "S2l"
                },
                "ErrorCode": {},
                "ErrorReason": {}
              }
            }
          }
        }
      }
    },
    "BatchImportFindings": {
      "http": {
        "requestUri": "/findings/import"
      },
      "input": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "type": "list",
            "member": {
              "shape": "S2w"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedCount",
          "SuccessCount"
        ],
        "members": {
          "FailedCount": {
            "type": "integer"
          },
          "SuccessCount": {
            "type": "integer"
          },
          "FailedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchUpdateAutomationRules": {
      "http": {
        "method": "PATCH",
        "requestUri": "/automationrules/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "UpdateAutomationRulesRequestItems"
        ],
        "members": {
          "UpdateAutomationRulesRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "RuleArn"
              ],
              "members": {
                "RuleArn": {},
                "RuleStatus": {},
                "RuleOrder": {
                  "type": "integer"
                },
                "Description": {},
                "RuleName": {},
                "IsTerminal": {
                  "type": "boolean"
                },
                "Criteria": {
                  "shape": "Sw"
                },
                "Actions": {
                  "shape": "S1a"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProcessedAutomationRules": {
            "shape": "S7"
          },
          "UnprocessedAutomationRules": {
            "shape": "S9"
          }
        }
      }
    },
    "BatchUpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings/batchupdate"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingIdentifiers"
        ],
        "members": {
          "FindingIdentifiers": {
            "shape": "Spa"
          },
          "Note": {
            "shape": "S1e"
          },
          "Severity": {
            "shape": "S1f"
          },
          "VerificationState": {},
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Types": {
            "shape": "S1j"
          },
          "UserDefinedFields": {
            "shape": "S1k"
          },
          "Workflow": {
            "shape": "S1l"
          },
          "RelatedFindings": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessedFindings",
          "UnprocessedFindings"
        ],
        "members": {
          "ProcessedFindings": {
            "shape": "Spa"
          },
          "UnprocessedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "FindingIdentifier",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "FindingIdentifier": {
                  "shape": "Spb"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchUpdateStandardsControlAssociations": {
      "http": {
        "method": "PATCH",
        "requestUri": "/associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationUpdates"
        ],
        "members": {
          "StandardsControlAssociationUpdates": {
            "type": "list",
            "member": {
              "shape": "Sph"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAssociationUpdates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsControlAssociationUpdate",
                "ErrorCode"
              ],
              "members": {
                "StandardsControlAssociationUpdate": {
                  "shape": "Sph"
                },
                "ErrorCode": {},
                "ErrorReason": {}
              }
            }
          }
        }
      }
    },
    "CreateActionTarget": {
      "http": {
        "requestUri": "/actionTargets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Description",
          "Id"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "CreateAutomationRule": {
      "http": {
        "requestUri": "/automationrules/create"
      },
      "input": {
        "type": "structure",
        "required": [
          "RuleOrder",
          "RuleName",
          "Description",
          "Criteria",
          "Actions"
        ],
        "members": {
          "Tags": {
            "shape": "Spo"
          },
          "RuleStatus": {},
          "RuleOrder": {
            "type": "integer"
          },
          "RuleName": {},
          "Description": {},
          "IsTerminal": {
            "type": "boolean"
          },
          "Criteria": {
            "shape": "Sw"
          },
          "Actions": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuleArn": {}
        }
      }
    },
    "CreateConfigurationPolicy": {
      "http": {
        "requestUri": "/configurationPolicy/create"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ConfigurationPolicy"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "ConfigurationPolicy": {
            "shape": "Spt"
          },
          "Tags": {
            "shape": "Spo"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Id": {},
          "Name": {},
          "Description": {},
          "UpdatedAt": {
            "shape": "S1p"
          },
          "CreatedAt": {
            "shape": "S1p"
          },
          "ConfigurationPolicy": {
            "shape": "Spt"
          }
        }
      }
    },
    "CreateFindingAggregator": {
      "http": {
        "requestUri": "/findingAggregator/create"
      },
      "input": {
        "type": "structure",
        "required": [
          "RegionLinkingMode"
        ],
        "members": {
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "S23"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregatorArn": {},
          "FindingAggregationRegion": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "S23"
          }
        }
      }
    },
    "CreateInsight": {
      "http": {
        "requestUri": "/insights"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Filters",
          "GroupByAttribute"
        ],
        "members": {
          "Name": {},
          "Filters": {
            "shape": "Sq5"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountDetails"
        ],
        "members": {
          "AccountDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AccountId"
              ],
              "members": {
                "AccountId": {},
                "Email": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sqi"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sql"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sqi"
          }
        }
      }
    },
    "DeleteActionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "DeleteConfigurationPolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/configurationPolicy/{Identifier}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Identifier"
        ],
        "members": {
          "Identifier": {
            "location": "uri",
            "locationName": "Identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFindingAggregator": {
      "http": {
        "method": "DELETE",
        "requestUri": "/findingAggregator/delete/{FindingAggregatorArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingAggregatorArn"
        ],
        "members": {
          "FindingAggregatorArn": {
            "location": "uri",
            "locationName": "FindingAggregatorArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sql"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sqi"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/members/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sql"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sqi"
          }
        }
      }
    },
    "DescribeActionTargets": {
      "http": {
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "ActionTargetArns": {
            "shape": "Sr0"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargets"
        ],
        "members": {
          "ActionTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ActionTargetArn",
                "Name",
                "Description"
              ],
              "members": {
                "ActionTargetArn": {},
                "Name": {},
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeHub": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "HubArn": {
            "location": "querystring",
            "locationName": "HubArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HubArn": {},
          "SubscribedAt": {},
          "AutoEnableControls": {
            "type": "boolean"
          },
          "ControlFindingGenerator": {}
        }
      }
    },
    "DescribeOrganizationConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/organization/configuration"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoEnable": {
            "type": "boolean"
          },
          "MemberAccountLimitReached": {
            "type": "boolean"
          },
          "AutoEnableStandards": {},
          "OrganizationConfiguration": {
            "shape": "Src"
          }
        }
      }
    },
    "DescribeProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "ProductArn": {
            "location": "querystring",
            "locationName": "ProductArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Products"
        ],
        "members": {
          "Products": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn"
              ],
              "members": {
                "ProductArn": {},
                "ProductName": {},
                "CompanyName": {},
                "Description": {},
                "Categories": {
                  "type": "list",
                  "member": {}
                },
                "IntegrationTypes": {
                  "type": "list",
                  "member": {}
                },
                "MarketplaceUrl": {},
                "ActivationUrl": {},
                "ProductSubscriptionResourcePolicy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandards": {
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Standards": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsArn": {},
                "Name": {},
                "Description": {},
                "EnabledByDefault": {
                  "type": "boolean"
                },
                "StandardsManagedBy": {
                  "type": "structure",
                  "members": {
                    "Company": {},
                    "Product": {}
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandardsControls": {
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn"
        ],
        "members": {
          "StandardsSubscriptionArn": {
            "location": "uri",
            "locationName": "StandardsSubscriptionArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Controls": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsControlArn": {},
                "ControlStatus": {},
                "DisabledReason": {},
                "ControlStatusUpdatedAt": {
                  "shape": "S1p"
                },
                "ControlId": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "RelatedRequirements": {
                  "shape": "S2q"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableImportFindingsForProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductSubscriptionArn"
        ],
        "members": {
          "ProductSubscriptionArn": {
            "location": "uri",
            "locationName": "ProductSubscriptionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/organization/admin/disable"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSecurityHub": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromAdministratorAccount": {
      "http": {
        "requestUri": "/administrator/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use DisassociateFromAdministratorAccount API instead."
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/members/disassociate"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sql"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableImportFindingsForProduct": {
      "http": {
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductArn"
        ],
        "members": {
          "ProductArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptionArn": {}
        }
      }
    },
    "EnableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/organization/admin/enable"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableSecurityHub": {
      "http": {
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Spo"
          },
          "EnableDefaultStandards": {
            "type": "boolean"
          },
          "ControlFindingGenerator": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAdministratorAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/administrator"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Administrator": {
            "shape": "Ssf"
          }
        }
      }
    },
    "GetConfigurationPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/configurationPolicy/get/{Identifier}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Identifier"
        ],
        "members": {
          "Identifier": {
            "location": "uri",
            "locationName": "Identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Id": {},
          "Name": {},
          "Description": {},
          "UpdatedAt": {
            "shape": "S1p"
          },
          "CreatedAt": {
            "shape": "S1p"
          },
          "ConfigurationPolicy": {
            "shape": "Spt"
          }
        }
      }
    },
    "GetConfigurationPolicyAssociation": {
      "http": {
        "requestUri": "/configurationPolicyAssociation/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "Target"
        ],
        "members": {
          "Target": {
            "shape": "S1t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationPolicyId": {},
          "TargetId": {},
          "TargetType": {},
          "AssociationType": {},
          "UpdatedAt": {
            "shape": "S1p"
          },
          "AssociationStatus": {},
          "AssociationStatusMessage": {}
        }
      }
    },
    "GetEnabledStandards": {
      "http": {
        "requestUri": "/standards/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "Sd"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "Sf"
          },
          "NextToken": {}
        }
      }
    },
    "GetFindingAggregator": {
      "http": {
        "method": "GET",
        "requestUri": "/findingAggregator/get/{FindingAggregatorArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingAggregatorArn"
        ],
        "members": {
          "FindingAggregatorArn": {
            "location": "uri",
            "locationName": "FindingAggregatorArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregatorArn": {},
          "FindingAggregationRegion": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "S23"
          }
        }
      }
    },
    "GetFindingHistory": {
      "http": {
        "requestUri": "/findingHistory/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingIdentifier"
        ],
        "members": {
          "FindingIdentifier": {
            "shape": "Spb"
          },
          "StartTime": {
            "shape": "S1p"
          },
          "EndTime": {
            "shape": "S1p"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Records": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FindingIdentifier": {
                  "shape": "Spb"
                },
                "UpdateTime": {
                  "shape": "S1p"
                },
                "FindingCreated": {
                  "type": "boolean"
                },
                "UpdateSource": {
                  "type": "structure",
                  "members": {
                    "Type": {},
                    "Identity": {}
                  }
                },
                "Updates": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "UpdatedField": {},
                      "OldValue": {},
                      "NewValue": {}
                    }
                  }
                },
                "NextToken": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Sq5"
          },
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Field": {},
                "SortOrder": {}
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "type": "list",
            "member": {
              "shape": "S2w"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInsightResults": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightResults"
        ],
        "members": {
          "InsightResults": {
            "type": "structure",
            "required": [
              "InsightArn",
              "GroupByAttribute",
              "ResultValues"
            ],
            "members": {
              "InsightArn": {},
              "GroupByAttribute": {},
              "ResultValues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "GroupByAttributeValue",
                    "Count"
                  ],
                  "members": {
                    "GroupByAttributeValue": {},
                    "Count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInsights": {
      "http": {
        "requestUri": "/insights/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightArns": {
            "shape": "Sr0"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Insights"
        ],
        "members": {
          "Insights": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InsightArn",
                "Name",
                "Filters",
                "GroupByAttribute"
              ],
              "members": {
                "InsightArn": {},
                "Name": {},
                "Filters": {
                  "shape": "Sq5"
                },
                "GroupByAttribute": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Master": {
            "shape": "Ssf"
          }
        }
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use GetAdministratorAccount API instead."
    },
    "GetMembers": {
      "http": {
        "requestUri": "/members/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sql"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "Sth"
          },
          "UnprocessedAccounts": {
            "shape": "Sqi"
          }
        }
      }
    },
    "GetSecurityControlDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/securityControl/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "SecurityControlId"
        ],
        "members": {
          "SecurityControlId": {
            "location": "querystring",
            "locationName": "SecurityControlId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SecurityControlDefinition"
        ],
        "members": {
          "SecurityControlDefinition": {
            "shape": "Stl"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/members/invite"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sql"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sqi"
          }
        }
      }
    },
    "ListAutomationRules": {
      "http": {
        "method": "GET",
        "requestUri": "/automationrules/list"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AutomationRulesMetadata": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RuleArn": {},
                "RuleStatus": {},
                "RuleOrder": {
                  "type": "integer"
                },
                "RuleName": {},
                "Description": {},
                "IsTerminal": {
                  "type": "boolean"
                },
                "CreatedAt": {
                  "shape": "S1p"
                },
                "UpdatedAt": {
                  "shape": "S1p"
                },
                "CreatedBy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListConfigurationPolicies": {
      "http": {
        "method": "GET",
        "requestUri": "/configurationPolicy/list"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationPolicySummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Id": {},
                "Name": {},
                "Description": {},
                "UpdatedAt": {
                  "shape": "S1p"
                },
                "ServiceEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListConfigurationPolicyAssociations": {
      "http": {
        "requestUri": "/configurationPolicyAssociation/list"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "structure",
            "members": {
              "ConfigurationPolicyId": {},
              "AssociationType": {},
              "AssociationStatus": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationPolicyAssociationSummaries": {
            "type": "list",
            "member": {
              "shape": "S1w"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEnabledProductsForImport": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptions": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListFindingAggregators": {
      "http": {
        "method": "GET",
        "requestUri": "/findingAggregator/list"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FindingAggregatorArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "type": "list",
            "member": {
              "shape": "Ssf"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "OnlyAssociated",
            "type": "boolean"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "Sth"
          },
          "NextToken": {}
        }
      }
    },
    "ListOrganizationAdminAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/organization/admin"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AdminAccounts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSecurityControlDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/securityControls/definitions"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsArn": {
            "location": "querystring",
            "locationName": "StandardsArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SecurityControlDefinitions"
        ],
        "members": {
          "SecurityControlDefinitions": {
            "type": "list",
            "member": {
              "shape": "Stl"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListStandardsControlAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "SecurityControlId"
        ],
        "members": {
          "SecurityControlId": {
            "location": "querystring",
            "locationName": "SecurityControlId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationSummaries"
        ],
        "members": {
          "StandardsControlAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn",
                "SecurityControlId",
                "SecurityControlArn",
                "AssociationStatus"
              ],
              "members": {
                "StandardsArn": {},
                "SecurityControlId": {},
                "SecurityControlArn": {},
                "AssociationStatus": {},
                "RelatedRequirements": {
                  "shape": "S2q"
                },
                "UpdatedAt": {
                  "shape": "S1p"
                },
                "UpdatedReason": {},
                "StandardsControlTitle": {},
                "StandardsControlDescription": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Spo"
          }
        }
      }
    },
    "StartConfigurationPolicyAssociation": {
      "http": {
        "requestUri": "/configurationPolicyAssociation/associate"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationPolicyIdentifier",
          "Target"
        ],
        "members": {
          "ConfigurationPolicyIdentifier": {},
          "Target": {
            "shape": "S1t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationPolicyId": {},
          "TargetId": {},
          "TargetType": {},
          "AssociationType": {},
          "UpdatedAt": {
            "shape": "S1p"
          },
          "AssociationStatus": {},
          "AssociationStatusMessage": {}
        }
      }
    },
    "StartConfigurationPolicyDisassociation": {
      "http": {
        "requestUri": "/configurationPolicyAssociation/disassociate"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationPolicyIdentifier"
        ],
        "members": {
          "Target": {
            "shape": "S1t"
          },
          "ConfigurationPolicyIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "Spo"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateActionTarget": {
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          },
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConfigurationPolicy": {
      "http": {
        "method": "PATCH",
        "requestUri": "/configurationPolicy/{Identifier}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Identifier"
        ],
        "members": {
          "Identifier": {
            "location": "uri",
            "locationName": "Identifier"
          },
          "Name": {},
          "Description": {},
          "UpdatedReason": {},
          "ConfigurationPolicy": {
            "shape": "Spt"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Id": {},
          "Name": {},
          "Description": {},
          "UpdatedAt": {
            "shape": "S1p"
          },
          "CreatedAt": {
            "shape": "S1p"
          },
          "ConfigurationPolicy": {
            "shape": "Spt"
          }
        }
      }
    },
    "UpdateFindingAggregator": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findingAggregator/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingAggregatorArn",
          "RegionLinkingMode"
        ],
        "members": {
          "FindingAggregatorArn": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "S23"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregatorArn": {},
          "FindingAggregationRegion": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "S23"
          }
        }
      }
    },
    "UpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "shape": "Sq5"
          },
          "Note": {
            "shape": "S1e"
          },
          "RecordState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInsight": {
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          },
          "Name": {},
          "Filters": {
            "shape": "Sq5"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateOrganizationConfiguration": {
      "http": {
        "requestUri": "/organization/configuration"
      },
      "input": {
        "type": "structure",
        "required": [
          "AutoEnable"
        ],
        "members": {
          "AutoEnable": {
            "type": "boolean"
          },
          "AutoEnableStandards": {},
          "OrganizationConfiguration": {
            "shape": "Src"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSecurityControl": {
      "http": {
        "method": "PATCH",
        "requestUri": "/securityControl/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "SecurityControlId",
          "Parameters"
        ],
        "members": {
          "SecurityControlId": {},
          "Parameters": {
            "shape": "S2a"
          },
          "LastUpdateReason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSecurityHubConfiguration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoEnableControls": {
            "type": "boolean"
          },
          "ControlFindingGenerator": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStandardsControl": {
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlArn"
        ],
        "members": {
          "StandardsControlArn": {
            "location": "uri",
            "locationName": "StandardsControlArn"
          },
          "ControlStatus": {},
          "DisabledReason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S7": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "RuleArn": {},
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorMessage": {}
        }
      }
    },
    "Sd": {
      "type": "list",
      "member": {}
    },
    "Sf": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn",
          "StandardsArn",
          "StandardsInput",
          "StandardsStatus"
        ],
        "members": {
          "StandardsSubscriptionArn": {},
          "StandardsArn": {},
          "StandardsInput": {
            "shape": "Sh"
          },
          "StandardsStatus": {},
          "StandardsStatusReason": {
            "type": "structure",
            "required": [
              "StatusReasonCode"
            ],
            "members": {
              "StatusReasonCode": {}
            }
          }
        }
      }
    },
    "Sh": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sw": {
      "type": "structure",
      "members": {
        "ProductArn": {
          "shape": "Sx"
        },
        "AwsAccountId": {
          "shape": "Sx"
        },
        "Id": {
          "shape": "Sx"
        },
        "GeneratorId": {
          "shape": "Sx"
        },
        "Type": {
          "shape": "Sx"
        },
        "FirstObservedAt": {
          "shape": "S10"
        },
        "LastObservedAt": {
          "shape": "S10"
        },
        "CreatedAt": {
          "shape": "S10"
        },
        "UpdatedAt": {
          "shape": "S10"
        },
        "Confidence": {
          "shape": "S14"
        },
        "Criticality": {
          "shape": "S14"
        },
        "Title": {
          "shape": "Sx"
        },
        "Description": {
          "shape": "Sx"
        },
        "SourceUrl": {
          "shape": "Sx"
        },
        "ProductName": {
          "shape": "Sx"
        },
        "CompanyName": {
          "shape": "Sx"
        },
        "SeverityLabel": {
          "shape": "Sx"
        },
        "ResourceType": {
          "shape": "Sx"
        },
        "ResourceId": {
          "shape": "Sx"
        },
        "ResourcePartition": {
          "shape": "Sx"
        },
        "ResourceRegion": {
          "shape": "Sx"
        },
        "ResourceTags": {
          "shape": "S17"
        },
        "ResourceDetailsOther": {
          "shape": "S17"
        },
        "ComplianceStatus": {
          "shape": "Sx"
        },
        "ComplianceSecurityControlId": {
          "shape": "Sx"
        },
        "ComplianceAssociatedStandardsId": {
          "shape": "Sx"
        },
        "VerificationState": {
          "shape": "Sx"
        },
        "WorkflowStatus": {
          "shape": "Sx"
        },
        "RecordState": {
          "shape": "Sx"
        },
        "RelatedFindingsProductArn": {
          "shape": "Sx"
        },
        "RelatedFindingsId": {
          "shape": "Sx"
        },
        "NoteText": {
          "shape": "Sx"
        },
        "NoteUpdatedAt": {
          "shape": "S10"
        },
        "NoteUpdatedBy": {
          "shape": "Sx"
        },
        "UserDefinedFields": {
          "shape": "S17"
        },
        "ResourceApplicationArn": {
          "shape": "Sx"
        },
        "ResourceApplicationName": {
          "shape": "Sx"
        },
        "AwsAccountName": {
          "shape": "Sx"
        }
      }
    },
    "Sx": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S10": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Start": {},
          "End": {},
          "DateRange": {
            "type": "structure",
            "members": {
              "Value": {
                "type": "integer"
              },
              "Unit": {}
            }
          }
        }
      }
    },
    "S14": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Gte": {
            "type": "double"
          },
          "Lte": {
            "type": "double"
          },
          "Eq": {
            "type": "double"
          },
          "Gt": {
            "type": "double"
          },
          "Lt": {
            "type": "double"
          }
        }
      }
    },
    "S17": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S1a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {},
          "FindingFieldsUpdate": {
            "type": "structure",
            "members": {
              "Note": {
                "shape": "S1e"
              },
              "Severity": {
                "shape": "S1f"
              },
              "VerificationState": {},
              "Confidence": {
                "type": "integer"
              },
              "Criticality": {
                "type": "integer"
              },
              "Types": {
                "shape": "S1j"
              },
              "UserDefinedFields": {
                "shape": "S1k"
              },
              "Workflow": {
                "shape": "S1l"
              },
              "RelatedFindings": {
                "shape": "S1n"
              }
            }
          }
        }
      }
    },
    "S1e": {
      "type": "structure",
      "required": [
        "Text",
        "UpdatedBy"
      ],
      "members": {
        "Text": {},
        "UpdatedBy": {}
      }
    },
    "S1f": {
      "type": "structure",
      "members": {
        "Normalized": {
          "type": "integer"
        },
        "Product": {
          "type": "double"
        },
        "Label": {}
      }
    },
    "S1j": {
      "type": "list",
      "member": {}
    },
    "S1k": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1l": {
      "type": "structure",
      "members": {
        "Status": {}
      }
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ProductArn",
          "Id"
        ],
        "members": {
          "ProductArn": {},
          "Id": {}
        }
      }
    },
    "S1p": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S1s": {
      "type": "structure",
      "members": {
        "Target": {
          "shape": "S1t"
        }
      }
    },
    "S1t": {
      "type": "structure",
      "members": {
        "AccountId": {},
        "OrganizationalUnitId": {},
        "RootId": {}
      },
      "union": true
    },
    "S1w": {
      "type": "structure",
      "members": {
        "ConfigurationPolicyId": {},
        "TargetId": {},
        "TargetType": {},
        "AssociationType": {},
        "UpdatedAt": {
          "shape": "S1p"
        },
        "AssociationStatus": {},
        "AssociationStatusMessage": {}
      }
    },
    "S23": {
      "type": "list",
      "member": {}
    },
    "S2a": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "required": [
          "ValueType"
        ],
        "members": {
          "ValueType": {},
          "Value": {
            "type": "structure",
            "members": {
              "Integer": {
                "type": "integer"
              },
              "IntegerList": {
                "shape": "S2e"
              },
              "Double": {
                "type": "double"
              },
              "String": {},
              "StringList": {
                "shape": "S23"
              },
              "Boolean": {
                "type": "boolean"
              },
              "Enum": {},
              "EnumList": {
                "shape": "S23"
              }
            },
            "union": true
          }
        }
      }
    },
    "S2e": {
      "type": "list",
      "member": {
        "type": "integer"
      }
    },
    "S2l": {
      "type": "structure",
      "required": [
        "SecurityControlId",
        "StandardsArn"
      ],
      "members": {
        "SecurityControlId": {},
        "StandardsArn": {}
      }
    },
    "S2q": {
      "type": "list",
      "member": {}
    },
    "S2w": {
      "type": "structure",
      "required": [
        "SchemaVersion",
        "Id",
        "ProductArn",
        "GeneratorId",
        "AwsAccountId",
        "CreatedAt",
        "UpdatedAt",
        "Title",
        "Description",
        "Resources"
      ],
      "members": {
        "SchemaVersion": {},
        "Id": {},
        "ProductArn": {},
        "ProductName": {},
        "CompanyName": {},
        "Region": {},
        "GeneratorId": {},
        "AwsAccountId": {},
        "Types": {
          "shape": "S1j"
        },
        "FirstObservedAt": {},
        "LastObservedAt": {},
        "CreatedAt": {},
        "UpdatedAt": {},
        "Severity": {
          "type": "structure",
          "members": {
            "Product": {
              "type": "double"
            },
            "Label": {},
            "Normalized": {
              "type": "integer"
            },
            "Original": {}
          }
        },
        "Confidence": {
          "type": "integer"
        },
        "Criticality": {
          "type": "integer"
        },
        "Title": {},
        "Description": {},
        "Remediation": {
          "type": "structure",
          "members": {
            "Recommendation": {
              "type": "structure",
              "members": {
                "Text": {},
                "Url": {}
              }
            }
          }
        },
        "SourceUrl": {},
        "ProductFields": {
          "shape": "S1k"
        },
        "UserDefinedFields": {
          "shape": "S1k"
        },
        "Malware": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Type": {},
              "Path": {},
              "State": {}
            }
          }
        },
        "Network": {
          "type": "structure",
          "members": {
            "Direction": {},
            "Protocol": {},
            "OpenPortRange": {
              "shape": "S36"
            },
            "SourceIpV4": {},
            "SourceIpV6": {},
            "SourcePort": {
              "type": "integer"
            },
            "SourceDomain": {},
            "SourceMac": {},
            "DestinationIpV4": {},
            "DestinationIpV6": {},
            "DestinationPort": {
              "type": "integer"
            },
            "DestinationDomain": {}
          }
        },
        "NetworkPath": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ComponentId": {},
              "ComponentType": {},
              "Egress": {
                "shape": "S39"
              },
              "Ingress": {
                "shape": "S39"
              }
            }
          }
        },
        "Process": {
          "type": "structure",
          "members": {
            "Name": {},
            "Path": {},
            "Pid": {
              "type": "integer"
            },
            "ParentPid": {
              "type": "integer"
            },
            "LaunchedAt": {},
            "TerminatedAt": {}
          }
        },
        "Threats": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Name": {},
              "Severity": {},
              "ItemCount": {
                "type": "integer"
              },
              "FilePaths": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "FilePath": {},
                    "FileName": {},
                    "ResourceId": {},
                    "Hash": {}
                  }
                }
              }
            }
          }
        },
        "ThreatIntelIndicators": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Type": {},
              "Value": {},
              "Category": {},
              "LastObservedAt": {},
              "Source": {},
              "SourceUrl": {}
            }
          }
        },
        "Resources": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Type",
              "Id"
            ],
            "members": {
              "Type": {},
              "Id": {},
              "Partition": {},
              "Region": {},
              "ResourceRole": {},
              "Tags": {
                "shape": "S1k"
              },
              "DataClassification": {
                "type": "structure",
                "members": {
                  "DetailedResultsLocation": {},
                  "Result": {
                    "type": "structure",
                    "members": {
                      "MimeType": {},
                      "SizeClassified": {
                        "type": "long"
                      },
                      "AdditionalOccurrences": {
                        "type": "boolean"
                      },
                      "Status": {
                        "type": "structure",
                        "members": {
                          "Code": {},
                          "Reason": {}
                        }
                      },
                      "SensitiveData": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Category": {},
                            "Detections": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "Count": {
                                    "type": "long"
                                  },
                                  "Type": {},
                                  "Occurrences": {
                                    "shape": "S3w"
                                  }
                                }
                              }
                            },
                            "TotalCount": {
                              "type": "long"
                            }
                          }
                        }
                      },
                      "CustomDataIdentifiers": {
                        "type": "structure",
                        "members": {
                          "Detections": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "Count": {
                                  "type": "long"
                                },
                                "Arn": {},
                                "Name": {},
                                "Occurrences": {
                                  "shape": "S3w"
                                }
                              }
                            }
                          },
                          "TotalCount": {
                            "type": "long"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "Details": {
                "type": "structure",
                "members": {
                  "AwsAutoScalingAutoScalingGroup": {
                    "type": "structure",
                    "members": {
                      "LaunchConfigurationName": {},
                      "LoadBalancerNames": {
                        "shape": "S23"
                      },
                      "HealthCheckType": {},
                      "HealthCheckGracePeriod": {
                        "type": "integer"
                      },
                      "CreatedTime": {},
                      "MixedInstancesPolicy": {
                        "type": "structure",
                        "members": {
                          "InstancesDistribution": {
                            "type": "structure",
                            "members": {
                              "OnDemandAllocationStrategy": {},
                              "OnDemandBaseCapacity": {
                                "type": "integer"
                              },
                              "OnDemandPercentageAboveBaseCapacity": {
                                "type": "integer"
                              },
                              "SpotAllocationStrategy": {},
                              "SpotInstancePools": {
                                "type": "integer"
                              },
                              "SpotMaxPrice": {}
                            }
                          },
                          "LaunchTemplate": {
                            "type": "structure",
                            "members": {
                              "LaunchTemplateSpecification": {
                                "type": "structure",
                                "members": {
                                  "LaunchTemplateId": {},
                                  "LaunchTemplateName": {},
                                  "Version": {}
                                }
                              },
                              "Overrides": {
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "InstanceType": {},
                                    "WeightedCapacity": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "AvailabilityZones": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Value": {}
                          }
                        }
                      },
                      "LaunchTemplate": {
                        "type": "structure",
                        "members": {
                          "LaunchTemplateId": {},
                          "LaunchTemplateName": {},
                          "Version": {}
                        }
                      },
                      "CapacityRebalance": {
                        "type": "boolean"
                      }
                    }
                  },
                  "AwsCodeBuildProject": {
                    "type": "structure",
                    "members": {
                      "EncryptionKey": {},
                      "Artifacts": {
                        "shape": "S4k"
                      },
                      "Environment": {
                        "type": "structure",
                        "members": {
                          "Certificate": {},
                          "EnvironmentVariables": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "Name": {},
                                "Type": {},
                                "Value": {}
                              }
                            }
                          },
                          "PrivilegedMode": {
                            "type": "boolean"
                          },
                          "ImagePullCredentialsType": {},
                          "RegistryCredential": {
                            "type": "structure",
                            "members": {
                              "Credential": {},
                              "CredentialProvider": {}
                            }
                          },
                          "Type": {}
                        }
                      },
                      "Name": {},
                      "Source": {
                        "type": "structure",
                        "members": {
                          "Type": {},
                          "Location": {},
                          "GitCloneDepth": {
                            "type": "integer"
                          },
                          "InsecureSsl": {
                            "type": "boolean"
                          }
                        }
                      },
                      "ServiceRole": {},
                      "LogsConfig": {
                        "type": "structure",
                        "members": {
                          "CloudWatchLogs": {
                            "type": "structure",
                            "members": {
                              "GroupName": {},
                              "Status": {},
                              "StreamName": {}
                            }
                          },
                          "S3Logs": {
                            "type": "structure",
                            "members": {
                              "EncryptionDisabled": {
                                "type": "boolean"
                              },
                              "Location": {},
                              "Status": {}
                            }
                          }
                        }
                      },
                      "VpcConfig": {
                        "type": "structure",
                        "members": {
                          "VpcId": {},
                          "Subnets": {
                            "shape": "S4v"
                          },
                          "SecurityGroupIds": {
                            "shape": "S4v"
                          }
                        }
                      },
                      "SecondaryArtifacts": {
                        "shape": "S4k"
                      }
                    }
                  },
                  "AwsCloudFrontDistribution": {
                    "type": "structure",
                    "members": {
                      "CacheBehaviors": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "ViewerProtocolPolicy": {}
                              }
                            }
                          }
                        }
                      },
                      "DefaultCacheBehavior": {
                        "type": "structure",
                        "members": {
                          "ViewerProtocolPolicy": {}
                        }
                      },
                      "DefaultRootObject": {},
                      "DomainName": {},
                      "ETag": {},
                      "LastModifiedTime": {},
                      "Logging": {
                        "type": "structure",
                        "members": {
                          "Bucket": {},
                          "Enabled": {
                            "type": "boolean"
                          },
                          "IncludeCookies": {
                            "type": "boolean"
                          },
                          "Prefix": {}
                        }
                      },
                      "Origins": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "DomainName": {},
                                "Id": {},
                                "OriginPath": {},
                                "S3OriginConfig": {
                                  "type": "structure",
                                  "members": {
                                    "OriginAccessIdentity": {}
                                  }
                                },
                                "CustomOriginConfig": {
                                  "type": "structure",
                                  "members": {
                                    "HttpPort": {
                                      "type": "integer"
                                    },
                                    "HttpsPort": {
                                      "type": "integer"
                                    },
                                    "OriginKeepaliveTimeout": {
                                      "type": "integer"
                                    },
                                    "OriginProtocolPolicy": {},
                                    "OriginReadTimeout": {
                                      "type": "integer"
                                    },
                                    "OriginSslProtocols": {
                                      "type": "structure",
                                      "members": {
                                        "Items": {
                                          "shape": "S4v"
                                        },
                                        "Quantity": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "OriginGroups": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "FailoverCriteria": {
                                  "type": "structure",
                                  "members": {
                                    "StatusCodes": {
                                      "type": "structure",
                                      "members": {
                                        "Items": {
                                          "type": "list",
                                          "member": {
                                            "type": "integer"
                                          }
                                        },
                                        "Quantity": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "ViewerCertificate": {
                        "type": "structure",
                        "members": {
                          "AcmCertificateArn": {},
                          "Certificate": {},
                          "CertificateSource": {},
                          "CloudFrontDefaultCertificate": {
                            "type": "boolean"
                          },
                          "IamCertificateId": {},
                          "MinimumProtocolVersion": {},
                          "SslSupportMethod": {}
                        }
                      },
                      "Status": {},
                      "WebAclId": {}
                    }
                  },
                  "AwsEc2Instance": {
                    "type": "structure",
                    "members": {
                      "Type": {},
                      "ImageId": {},
                      "IpV4Addresses": {
                        "shape": "S23"
                      },
                      "IpV6Addresses": {
                        "shape": "S23"
                      },
                      "KeyName": {},
                      "IamInstanceProfileArn": {},
                      "VpcId": {},
                      "SubnetId": {},
                      "LaunchedAt": {},
                      "NetworkInterfaces": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "NetworkInterfaceId": {}
                          }
                        }
                      },
                      "VirtualizationType": {},
                      "MetadataOptions": {
                        "type": "structure",
                        "members": {
                          "HttpEndpoint": {},
                          "HttpProtocolIpv6": {},
                          "HttpPutResponseHopLimit": {
                            "type": "integer"
                          },
                          "HttpTokens": {},
                          "InstanceMetadataTags": {}
                        }
                      },
                      "Monitoring": {
                        "type": "structure",
                        "members": {
                          "State": {}
                        }
                      }
                    }
                  },
                  "AwsEc2NetworkInterface": {
                    "type": "structure",
                    "members": {
                      "Attachment": {
                        "type": "structure",
                        "members": {
                          "AttachTime": {},
                          "AttachmentId": {},
                          "DeleteOnTermination": {
                            "type": "boolean"
                          },
                          "DeviceIndex": {
                            "type": "integer"
                          },
                          "InstanceId": {},
                          "InstanceOwnerId": {},
                          "Status": {}
                        }
                      },
                      "NetworkInterfaceId": {},
                      "SecurityGroups": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "GroupName": {},
                            "GroupId": {}
                          }
                        }
                      },
                      "SourceDestCheck": {
                        "type": "boolean"
                      },
                      "IpV6Addresses": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "IpV6Address": {}
                          }
                        }
                      },
                      "PrivateIpAddresses": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "PrivateIpAddress": {},
                            "PrivateDnsName": {}
                          }
                        }
                      },
                      "PublicDnsName": {},
                      "PublicIp": {}
                    }
                  },
                  "AwsEc2SecurityGroup": {
                    "type": "structure",
                    "members": {
                      "GroupName": {},
                      "GroupId": {},
                      "OwnerId": {},
                      "VpcId": {},
                      "IpPermissions": {
                        "shape": "S5t"
                      },
                      "IpPermissionsEgress": {
                        "shape": "S5t"
                      }
                    }
                  },
                  "AwsEc2Volume": {
                    "type": "structure",
                    "members": {
                      "CreateTime": {},
                      "DeviceName": {},
                      "Encrypted": {
                        "type": "boolean"
                      },
                      "Size": {
                        "type": "integer"
                      },
                      "SnapshotId": {},
                      "Status": {},
                      "KmsKeyId": {},
                      "Attachments": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AttachTime": {},
                            "DeleteOnTermination": {
                              "type": "boolean"
                            },
                            "InstanceId": {},
                            "Status": {}
                          }
                        }
                      },
                      "VolumeId": {},
                      "VolumeType": {},
                      "VolumeScanStatus": {}
                    }
                  },
                  "AwsEc2Vpc": {
                    "type": "structure",
                    "members": {
                      "CidrBlockAssociationSet": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AssociationId": {},
                            "CidrBlock": {},
                            "CidrBlockState": {}
                          }
                        }
                      },
                      "Ipv6CidrBlockAssociationSet": {
                        "shape": "S69"
                      },
                      "DhcpOptionsId": {},
                      "State": {}
                    }
                  },
                  "AwsEc2Eip": {
                    "type": "structure",
                    "members": {
                      "InstanceId": {},
                      "PublicIp": {},
                      "AllocationId": {},
                      "AssociationId": {},
                      "Domain": {},
                      "PublicIpv4Pool": {},
                      "NetworkBorderGroup": {},
                      "NetworkInterfaceId": {},
                      "NetworkInterfaceOwnerId": {},
                      "PrivateIpAddress": {}
                    }
                  },
                  "AwsEc2Subnet": {
                    "type": "structure",
                    "members": {
                      "AssignIpv6AddressOnCreation": {
                        "type": "boolean"
                      },
                      "AvailabilityZone": {},
                      "AvailabilityZoneId": {},
                      "AvailableIpAddressCount": {
                        "type": "integer"
                      },
                      "CidrBlock": {},
                      "DefaultForAz": {
                        "type": "boolean"
                      },
                      "MapPublicIpOnLaunch": {
                        "type": "boolean"
                      },
                      "OwnerId": {},
                      "State": {},
                      "SubnetArn": {},
                      "SubnetId": {},
                      "VpcId": {},
                      "Ipv6CidrBlockAssociationSet": {
                        "shape": "S69"
                      }
                    }
                  },
                  "AwsEc2NetworkAcl": {
                    "type": "structure",
                    "members": {
                      "IsDefault": {
                        "type": "boolean"
                      },
                      "NetworkAclId": {},
                      "OwnerId": {},
                      "VpcId": {},
                      "Associations": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "NetworkAclAssociationId": {},
                            "NetworkAclId": {},
                            "SubnetId": {}
                          }
                        }
                      },
                      "Entries": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "CidrBlock": {},
                            "Egress": {
                              "type": "boolean"
                            },
                            "IcmpTypeCode": {
                              "type": "structure",
                              "members": {
                                "Code": {
                                  "type": "integer"
                                },
                                "Type": {
                                  "type": "integer"
                                }
                              }
                            },
                            "Ipv6CidrBlock": {},
                            "PortRange": {
                              "type": "structure",
                              "members": {
                                "From": {
                                  "type": "integer"
                                },
                                "To": {
                                  "type": "integer"
                                }
                              }
[...]
