{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "http": {
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "required": [
          "MasterId",
          "InvitationId"
        ],
        "members": {
          "MasterId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchDisableStandards": {
      "http": {
        "requestUri": "/standards/deregister"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArns"
        ],
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchEnableStandards": {
      "http": {
        "requestUri": "/standards/register"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionRequests"
        ],
        "members": {
          "StandardsSubscriptionRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn"
              ],
              "members": {
                "StandardsArn": {},
                "StandardsInput": {
                  "shape": "S9"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchImportFindings": {
      "http": {
        "requestUri": "/findings/import"
      },
      "input": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedCount",
          "SuccessCount"
        ],
        "members": {
          "FailedCount": {
            "type": "integer"
          },
          "SuccessCount": {
            "type": "integer"
          },
          "FailedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchUpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings/batchupdate"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingIdentifiers"
        ],
        "members": {
          "FindingIdentifiers": {
            "shape": "S61"
          },
          "Note": {
            "shape": "S63"
          },
          "Severity": {
            "type": "structure",
            "members": {
              "Normalized": {
                "type": "integer"
              },
              "Product": {
                "type": "double"
              },
              "Label": {}
            }
          },
          "VerificationState": {},
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Types": {
            "shape": "Si"
          },
          "UserDefinedFields": {
            "shape": "Sp"
          },
          "Workflow": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "RelatedFindings": {
            "shape": "S5n"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessedFindings",
          "UnprocessedFindings"
        ],
        "members": {
          "ProcessedFindings": {
            "shape": "S61"
          },
          "UnprocessedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "FindingIdentifier",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "FindingIdentifier": {
                  "shape": "S62"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateActionTarget": {
      "http": {
        "requestUri": "/actionTargets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Description",
          "Id"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "CreateInsight": {
      "http": {
        "requestUri": "/insights"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Filters",
          "GroupByAttribute"
        ],
        "members": {
          "Name": {},
          "Filters": {
            "shape": "S6d"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Email": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S70"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S73"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S70"
          }
        }
      }
    },
    "DeleteActionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S73"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S70"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/members/delete"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S73"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S70"
          }
        }
      }
    },
    "DescribeActionTargets": {
      "http": {
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "ActionTargetArns": {
            "shape": "S7e"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargets"
        ],
        "members": {
          "ActionTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ActionTargetArn",
                "Name",
                "Description"
              ],
              "members": {
                "ActionTargetArn": {},
                "Name": {},
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeHub": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "HubArn": {
            "location": "querystring",
            "locationName": "HubArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HubArn": {},
          "SubscribedAt": {},
          "AutoEnableControls": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Products"
        ],
        "members": {
          "Products": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn"
              ],
              "members": {
                "ProductArn": {},
                "ProductName": {},
                "CompanyName": {},
                "Description": {},
                "Categories": {
                  "type": "list",
                  "member": {}
                },
                "IntegrationTypes": {
                  "type": "list",
                  "member": {}
                },
                "MarketplaceUrl": {},
                "ActivationUrl": {},
                "ProductSubscriptionResourcePolicy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandards": {
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Standards": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsArn": {},
                "Name": {},
                "Description": {},
                "EnabledByDefault": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandardsControls": {
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn"
        ],
        "members": {
          "StandardsSubscriptionArn": {
            "location": "uri",
            "locationName": "StandardsSubscriptionArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Controls": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsControlArn": {},
                "ControlStatus": {},
                "DisabledReason": {},
                "ControlStatusUpdatedAt": {
                  "shape": "S82"
                },
                "ControlId": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "RelatedRequirements": {
                  "shape": "S5f"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableImportFindingsForProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductSubscriptionArn"
        ],
        "members": {
          "ProductSubscriptionArn": {
            "location": "uri",
            "locationName": "ProductSubscriptionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSecurityHub": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/members/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S73"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableImportFindingsForProduct": {
      "http": {
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductArn"
        ],
        "members": {
          "ProductArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptionArn": {}
        }
      }
    },
    "EnableSecurityHub": {
      "http": {
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S8f"
          },
          "EnableDefaultStandards": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetEnabledStandards": {
      "http": {
        "requestUri": "/standards/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S5"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S7"
          },
          "NextToken": {}
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S6d"
          },
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Field": {},
                "SortOrder": {}
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "shape": "Sg"
          },
          "NextToken": {}
        }
      }
    },
    "GetInsightResults": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightResults"
        ],
        "members": {
          "InsightResults": {
            "type": "structure",
            "required": [
              "InsightArn",
              "GroupByAttribute",
              "ResultValues"
            ],
            "members": {
              "InsightArn": {},
              "GroupByAttribute": {},
              "ResultValues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "GroupByAttributeValue",
                    "Count"
                  ],
                  "members": {
                    "GroupByAttributeValue": {},
                    "Count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInsights": {
      "http": {
        "requestUri": "/insights/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightArns": {
            "shape": "S7e"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Insights"
        ],
        "members": {
          "Insights": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InsightArn",
                "Name",
                "Filters",
                "GroupByAttribute"
              ],
              "members": {
                "InsightArn": {},
                "Name": {},
                "Filters": {
                  "shape": "S6d"
                },
                "GroupByAttribute": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Master": {
            "shape": "S93"
          }
        }
      }
    },
    "GetMembers": {
      "http": {
        "requestUri": "/members/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S73"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S96"
          },
          "UnprocessedAccounts": {
            "shape": "S70"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/members/invite"
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S73"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "S70"
          }
        }
      }
    },
    "ListEnabledProductsForImport": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptions": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "type": "list",
            "member": {
              "shape": "S93"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "OnlyAssociated",
            "type": "boolean"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S96"
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S8f"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "S8f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateActionTarget": {
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          },
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "shape": "S6d"
          },
          "Note": {
            "shape": "S63"
          },
          "RecordState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInsight": {
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          },
          "Name": {},
          "Filters": {
            "shape": "S6d"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSecurityHubConfiguration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoEnableControls": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStandardsControl": {
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlArn"
        ],
        "members": {
          "StandardsControlArn": {
            "location": "uri",
            "locationName": "StandardsControlArn"
          },
          "ControlStatus": {},
          "DisabledReason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {}
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn",
          "StandardsArn",
          "StandardsInput",
          "StandardsStatus"
        ],
        "members": {
          "StandardsSubscriptionArn": {},
          "StandardsArn": {},
          "StandardsInput": {
            "shape": "S9"
          },
          "StandardsStatus": {}
        }
      }
    },
    "S9": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "SchemaVersion",
          "Id",
          "ProductArn",
          "GeneratorId",
          "AwsAccountId",
          "Types",
          "CreatedAt",
          "UpdatedAt",
          "Severity",
          "Title",
          "Description",
          "Resources"
        ],
        "members": {
          "SchemaVersion": {},
          "Id": {},
          "ProductArn": {},
          "GeneratorId": {},
          "AwsAccountId": {},
          "Types": {
            "shape": "Si"
          },
          "FirstObservedAt": {},
          "LastObservedAt": {},
          "CreatedAt": {},
          "UpdatedAt": {},
          "Severity": {
            "type": "structure",
            "members": {
              "Product": {
                "type": "double"
              },
              "Label": {},
              "Normalized": {
                "type": "integer"
              },
              "Original": {}
            }
          },
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Title": {},
          "Description": {},
          "Remediation": {
            "type": "structure",
            "members": {
              "Recommendation": {
                "type": "structure",
                "members": {
                  "Text": {},
                  "Url": {}
                }
              }
            }
          },
          "SourceUrl": {},
          "ProductFields": {
            "shape": "Sp"
          },
          "UserDefinedFields": {
            "shape": "Sp"
          },
          "Malware": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "Name": {},
                "Type": {},
                "Path": {},
                "State": {}
              }
            }
          },
          "Network": {
            "type": "structure",
            "members": {
              "Direction": {},
              "Protocol": {},
              "OpenPortRange": {
                "shape": "Sw"
              },
              "SourceIpV4": {},
              "SourceIpV6": {},
              "SourcePort": {
                "type": "integer"
              },
              "SourceDomain": {},
              "SourceMac": {},
              "DestinationIpV4": {},
              "DestinationIpV6": {},
              "DestinationPort": {
                "type": "integer"
              },
              "DestinationDomain": {}
            }
          },
          "NetworkPath": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ComponentId": {},
                "ComponentType": {},
                "Egress": {
                  "shape": "Sz"
                },
                "Ingress": {
                  "shape": "Sz"
                }
              }
            }
          },
          "Process": {
            "type": "structure",
            "members": {
              "Name": {},
              "Path": {},
              "Pid": {
                "type": "integer"
              },
              "ParentPid": {
                "type": "integer"
              },
              "LaunchedAt": {},
              "TerminatedAt": {}
            }
          },
          "ThreatIntelIndicators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "Value": {},
                "Category": {},
                "LastObservedAt": {},
                "Source": {},
                "SourceUrl": {}
              }
            }
          },
          "Resources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Type",
                "Id"
              ],
              "members": {
                "Type": {},
                "Id": {},
                "Partition": {},
                "Region": {},
                "Tags": {
                  "shape": "Sp"
                },
                "Details": {
                  "type": "structure",
                  "members": {
                    "AwsAutoScalingAutoScalingGroup": {
                      "type": "structure",
                      "members": {
                        "LaunchConfigurationName": {},
                        "LoadBalancerNames": {
                          "shape": "S11"
                        },
                        "HealthCheckType": {},
                        "HealthCheckGracePeriod": {
                          "type": "integer"
                        },
                        "CreatedTime": {}
                      }
                    },
                    "AwsCodeBuildProject": {
                      "type": "structure",
                      "members": {
                        "EncryptionKey": {},
                        "Environment": {
                          "type": "structure",
                          "members": {
                            "Certificate": {},
                            "ImagePullCredentialsType": {},
                            "RegistryCredential": {
                              "type": "structure",
                              "members": {
                                "Credential": {},
                                "CredentialProvider": {}
                              }
                            },
                            "Type": {}
                          }
                        },
                        "Name": {},
                        "Source": {
                          "type": "structure",
                          "members": {
                            "Type": {},
                            "Location": {},
                            "GitCloneDepth": {
                              "type": "integer"
                            },
                            "InsecureSsl": {
                              "type": "boolean"
                            }
                          }
                        },
                        "ServiceRole": {},
                        "VpcConfig": {
                          "type": "structure",
                          "members": {
                            "VpcId": {},
                            "Subnets": {
                              "shape": "S1j"
                            },
                            "SecurityGroupIds": {
                              "shape": "S1j"
                            }
                          }
                        }
                      }
                    },
                    "AwsCloudFrontDistribution": {
                      "type": "structure",
                      "members": {
                        "DomainName": {},
                        "ETag": {},
                        "LastModifiedTime": {},
                        "Logging": {
                          "type": "structure",
                          "members": {
                            "Bucket": {},
                            "Enabled": {
                              "type": "boolean"
                            },
                            "IncludeCookies": {
                              "type": "boolean"
                            },
                            "Prefix": {}
                          }
                        },
                        "Origins": {
                          "type": "structure",
                          "members": {
                            "Items": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "DomainName": {},
                                  "Id": {},
                                  "OriginPath": {}
                                }
                              }
                            }
                          }
                        },
                        "Status": {},
                        "WebAclId": {}
                      }
                    },
                    "AwsEc2Instance": {
                      "type": "structure",
                      "members": {
                        "Type": {},
                        "ImageId": {},
                        "IpV4Addresses": {
                          "shape": "S11"
                        },
                        "IpV6Addresses": {
                          "shape": "S11"
                        },
                        "KeyName": {},
                        "IamInstanceProfileArn": {},
                        "VpcId": {},
                        "SubnetId": {},
                        "LaunchedAt": {}
                      }
                    },
                    "AwsEc2NetworkInterface": {
                      "type": "structure",
                      "members": {
                        "Attachment": {
                          "type": "structure",
                          "members": {
                            "AttachTime": {},
                            "AttachmentId": {},
                            "DeleteOnTermination": {
                              "type": "boolean"
                            },
                            "DeviceIndex": {
                              "type": "integer"
                            },
                            "InstanceId": {},
                            "InstanceOwnerId": {},
                            "Status": {}
                          }
                        },
                        "NetworkInterfaceId": {},
                        "SecurityGroups": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "GroupName": {},
                              "GroupId": {}
                            }
                          }
                        },
                        "SourceDestCheck": {
                          "type": "boolean"
                        }
                      }
                    },
                    "AwsEc2SecurityGroup": {
                      "type": "structure",
                      "members": {
                        "GroupName": {},
                        "GroupId": {},
                        "OwnerId": {},
                        "VpcId": {},
                        "IpPermissions": {
                          "shape": "S1v"
                        },
                        "IpPermissionsEgress": {
                          "shape": "S1v"
                        }
                      }
                    },
                    "AwsEc2Volume": {
                      "type": "structure",
                      "members": {
                        "CreateTime": {},
                        "Encrypted": {
                          "type": "boolean"
                        },
                        "Size": {
                          "type": "integer"
                        },
                        "SnapshotId": {},
                        "Status": {},
                        "KmsKeyId": {},
                        "Attachments": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "AttachTime": {},
                              "DeleteOnTermination": {
                                "type": "boolean"
                              },
                              "InstanceId": {},
                              "Status": {}
                            }
                          }
                        }
                      }
                    },
                    "AwsEc2Vpc": {
                      "type": "structure",
                      "members": {
                        "CidrBlockAssociationSet": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "AssociationId": {},
                              "CidrBlock": {},
                              "CidrBlockState": {}
                            }
                          }
                        },
                        "Ipv6CidrBlockAssociationSet": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "AssociationId": {},
                              "Ipv6CidrBlock": {},
                              "CidrBlockState": {}
                            }
                          }
                        },
                        "DhcpOptionsId": {},
                        "State": {}
                      }
                    },
                    "AwsEc2Eip": {
                      "type": "structure",
                      "members": {
                        "InstanceId": {},
                        "PublicIp": {},
                        "AllocationId": {},
                        "AssociationId": {},
                        "Domain": {},
                        "PublicIpv4Pool": {},
                        "NetworkBorderGroup": {},
                        "NetworkInterfaceId": {},
                        "NetworkInterfaceOwnerId": {},
                        "PrivateIpAddress": {}
                      }
                    },
                    "AwsElbv2LoadBalancer": {
                      "type": "structure",
                      "members": {
                        "AvailabilityZones": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "ZoneName": {},
                              "SubnetId": {}
                            }
                          }
                        },
                        "CanonicalHostedZoneId": {},
                        "CreatedTime": {},
                        "DNSName": {},
                        "IpAddressType": {},
                        "Scheme": {},
                        "SecurityGroups": {
                          "type": "list",
                          "member": {}
                        },
                        "State": {
                          "type": "structure",
                          "members": {
                            "Code": {},
                            "Reason": {}
                          }
                        },
                        "Type": {},
                        "VpcId": {}
                      }
                    },
                    "AwsElasticsearchDomain": {
                      "type": "structure",
                      "members": {
                        "AccessPolicies": {},
                        "DomainEndpointOptions": {
                          "type": "structure",
                          "members": {
                            "EnforceHTTPS": {
                              "type": "boolean"
                            },
                            "TLSSecurityPolicy": {}
                          }
                        },
                        "DomainId": {},
                        "DomainName": {},
                        "Endpoint": {},
                        "Endpoints": {
                          "shape": "Sp"
                        },
                        "ElasticsearchVersion": {},
                        "EncryptionAtRestOptions": {
                          "type": "structure",
                          "members": {
                            "Enabled": {
                              "type": "boolean"
                            },
                            "KmsKeyId": {}
                          }
                        },
                        "NodeToNodeEncryptionOptions": {
                          "type": "structure",
                          "members": {
                            "Enabled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "VPCOptions": {
                          "type": "structure",
                          "members": {
                            "AvailabilityZones": {
                              "shape": "S1j"
                            },
                            "SecurityGroupIds": {
                              "shape": "S1j"
                            },
                            "SubnetIds": {
                              "shape": "S1j"
                            },
                            "VPCId": {}
                          }
                        }
                      }
                    },
                    "AwsS3Bucket": {
                      "type": "structure",
                      "members": {
                        "OwnerId": {},
                        "OwnerName": {},
                        "CreatedAt": {},
                        "ServerSideEncryptionConfiguration": {
                          "type": "structure",
                          "members": {
                            "Rules": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "ApplyServerSideEncryptionByDefault": {
                                    "type": "structure",
                                    "members": {
                                      "SSEAlgorithm": {},
                                      "KMSMasterKeyID": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "AwsS3Object": {
                      "type": "structure",
                      "members": {
                        "LastModified": {},
                        "ETag": {},
                        "VersionId": {},
                        "ContentType": {},
                        "ServerSideEncryption": {},
                        "SSEKMSKeyId": {}
                      }
                    },
                    "AwsSecretsManagerSecret": {
                      "type": "structure",
                      "members": {
                        "RotationRules": {
                          "type": "structure",
                          "members": {
                            "AutomaticallyAfterDays": {
                              "type": "integer"
                            }
                          }
                        },
                        "RotationOccurredWithinFrequency": {
                          "type": "boolean"
                        },
                        "KmsKeyId": {},
                        "RotationEnabled": {
                          "type": "boolean"
                        },
                        "RotationLambdaArn": {},
                        "Deleted": {
                          "type": "boolean"
                        },
                        "Name": {},
                        "Description": {}
                      }
                    },
                    "AwsIamAccessKey": {
                      "type": "structure",
                      "members": {
                        "UserName": {
                          "deprecated": true,
                          "deprecatedMessage": "This field is deprecated, use PrincipalName instead."
                        },
                        "Status": {},
                        "CreatedAt": {},
                        "PrincipalId": {},
                        "PrincipalType": {},
                        "PrincipalName": {}
                      }
                    },
                    "AwsIamUser": {
                      "type": "structure",
                      "members": {
                        "AttachedManagedPolicies": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "PolicyName": {},
                              "PolicyArn": {}
                            }
                          }
                        },
                        "CreateDate": {},
                        "GroupList": {
                          "shape": "S11"
                        },
                        "Path": {},
                        "PermissionsBoundary": {
                          "type": "structure",
                          "members": {
                            "PermissionsBoundaryArn": {},
                            "PermissionsBoundaryType": {}
                          }
                        },
                        "UserId": {},
                        "UserName": {},
                        "UserPolicyList": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "PolicyName": {}
                            }
                          }
                        }
                      }
                    },
                    "AwsIamPolicy": {
                      "type": "structure",
                      "members": {
                        "AttachmentCount": {
                          "type": "integer"
                        },
                        "CreateDate": {},
                        "DefaultVersionId": {},
                        "Description": {},
                        "IsAttachable": {
                          "type": "boolean"
                        },
                        "Path": {},
                        "PermissionsBoundaryUsageCount": {
                          "type": "integer"
                        },
                        "PolicyId": {},
                        "PolicyName": {},
                        "PolicyVersionList": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "VersionId": {},
                              "IsDefaultVersion": {
                                "type": "boolean"
                              },
                              "CreateDate": {}
                            }
                          }
                        },
                        "UpdateDate": {}
                      }
                    },
                    "AwsDynamoDbTable": {
                      "type": "structure",
                      "members": {
                        "AttributeDefinitions": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "AttributeName": {},
                              "AttributeType": {}
                            }
                          }
                        },
                        "BillingModeSummary": {
                          "type": "structure",
                          "members": {
                            "BillingMode": {},
                            "LastUpdateToPayPerRequestDateTime": {}
                          }
                        },
                        "CreationDateTime": {},
                        "GlobalSecondaryIndexes": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Backfilling": {
                                "type": "boolean"
                              },
                              "IndexArn": {},
                              "IndexName": {},
                              "IndexSizeBytes": {
                                "type": "long"
                              },
                              "IndexStatus": {},
                              "ItemCount": {
                                "type": "integer"
                              },
                              "KeySchema": {
                                "shape": "S3e"
                              },
                              "Projection": {
                                "shape": "S3g"
                              },
                              "ProvisionedThroughput": {
                                "shape": "S3h"
                              }
                            }
                          }
                        },
                        "GlobalTableVersion": {},
                        "ItemCount": {
                          "type": "integer"
                        },
                        "KeySchema": {
                          "shape": "S3e"
                        },
                        "LatestStreamArn": {},
                        "LatestStreamLabel": {},
                        "LocalSecondaryIndexes": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "IndexArn": {},
                              "IndexName": {},
                              "KeySchema": {
                                "shape": "S3e"
                              },
                              "Projection": {
                                "shape": "S3g"
                              }
                            }
                          }
                        },
                        "ProvisionedThroughput": {
                          "shape": "S3h"
                        },
                        "Replicas": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "GlobalSecondaryIndexes": {
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "IndexName": {},
                                    "ProvisionedThroughputOverride": {
                                      "shape": "S3o"
                                    }
                                  }
                                }
                              },
                              "KmsMasterKeyId": {},
                              "ProvisionedThroughputOverride": {
                                "shape": "S3o"
                              },
                              "RegionName": {},
                              "ReplicaStatus": {},
                              "ReplicaStatusDescription": {}
                            }
                          }
                        },
                        "RestoreSummary": {
                          "type": "structure",
                          "members": {
                            "SourceBackupArn": {},
                            "SourceTableArn": {},
                            "RestoreDateTime": {},
                            "RestoreInProgress": {
                              "type": "boolean"
                            }
                          }
                        },
                        "SseDescription": {
                          "type": "structure",
                          "members": {
                            "InaccessibleEncryptionDateTime": {},
                            "Status": {},
                            "SseType": {},
                            "KmsMasterKeyArn": {}
                          }
                        },
                        "StreamSpecification": {
                          "type": "structure",
                          "members": {
                            "StreamEnabled": {
                              "type": "boolean"
                            },
                            "StreamViewType": {}
                          }
                        },
                        "TableId": {},
                        "TableName": {},
                        "TableSizeBytes": {
                          "type": "long"
                        },
                        "TableStatus": {}
                      }
                    },
                    "AwsIamRole": {
                      "type": "structure",
                      "members": {
                        "AssumeRolePolicyDocument": {},
                        "CreateDate": {},
                        "RoleId": {},
                        "RoleName": {},
                        "MaxSessionDuration": {
                          "type": "integer"
                        },
                        "Path": {}
                      }
                    },
                    "AwsKmsKey": {
                      "type": "structure",
                      "members": {
                        "AWSAccountId": {},
                        "CreationDate": {
                          "type": "double"
                        },
                        "KeyId": {},
                        "KeyManager": {},
                        "KeyState": {},
                        "Origin": {},
                        "Description": {}
                      }
                    },
                    "AwsLambdaFunction": {
                      "type": "structure",
                      "members": {
                        "Code": {
                          "type": "structure",
                          "members": {
                            "S3Bucket": {},
                            "S3Key": {},
                            "S3ObjectVersion": {},
                            "ZipFile": {}
                          }
                        },
                        "CodeSha256": {},
                        "DeadLetterConfig": {
                          "type": "structure",
                          "members": {
                            "TargetArn": {}
                          }
                        },
                        "Environment": {
                          "type": "structure",
                          "members": {
                            "Variables": {
                              "shape": "Sp"
                            },
                            "Error": {
                              "type": "structure",
                              "members": {
                                "ErrorCode": {},
                                "Message": {}
                              }
                            }
                          }
                        },
                        "FunctionName": {},
                        "Handler": {},
                        "KmsKeyArn": {},
                        "LastModified": {},
                        "Layers": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Arn": {},
                              "CodeSize": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "MasterArn": {},
                        "MemorySize": {
                          "type": "integer"
                        },
                        "RevisionId": {},
                        "Role": {},
                        "Runtime": {},
                        "Timeout": {
                          "type": "integer"
                        },
                        "TracingConfig": {
                          "type": "structure",
                          "members": {
                            "Mode": {}
                          }
                        },
                        "VpcConfig": {
                          "type": "structure",
                          "members": {
                            "SecurityGroupIds": {
                              "shape": "S1j"
                            },
                            "SubnetIds": {
                              "shape": "S1j"
                            },
                            "VpcId": {}
                          }
                        },
                        "Version": {}
                      }
                    },
                    "AwsLambdaLayerVersion": {
                      "type": "structure",
                      "members": {
                        "Version": {
                          "type": "long"
                        },
                        "CompatibleRuntimes": {
                          "shape": "S1j"
                        },
                        "CreatedDate": {}
                      }
                    },
                    "AwsRdsDbInstance": {
                      "type": "structure",
                      "members": {
                        "AssociatedRoles": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "RoleArn": {},
                              "FeatureName": {},
                              "Status": {}
                            }
                          }
                        },
                        "CACertificateIdentifier": {},
                        "DBClusterIdentifier": {},
                        "DBInstanceIdentifier": {},
                        "DBInstanceClass": {},
                        "DbInstancePort": {
                          "type": "integer"
                        },
                        "DbiResourceId": {},
                        "DBName": {},
                        "DeletionProtection": {
                          "type": "boolean"
                        },
                        "Endpoint": {
                          "shape": "S49"
                        },
                        "Engine": {},
                        "EngineVersion": {},
                        "IAMDatabaseAuthenticationEnabled": {
                          "type": "boolean"
                        },
                        "InstanceCreateTime": {},
                        "KmsKeyId": {},
                        "PubliclyAccessible": {
                          "type": "boolean"
                        },
                        "StorageEncrypted": {
                          "type": "boolean"
                        },
                        "TdeCredentialArn": {},
                        "VpcSecurityGroups": {
                          "shape": "S4a"
                        },
                        "MultiAz": {
                          "type": "boolean"
                        },
                        "EnhancedMonitoringResourceArn": {},
                        "DbInstanceStatus": {},
                        "MasterUsername": {},
                        "AllocatedStorage": {
                          "type": "integer"
                        },
                        "PreferredBackupWindow": {},
                        "BackupRetentionPeriod": {
                          "type": "integer"
                        },
                        "DbSecurityGroups": {
                          "shape": "S11"
                        },
                        "DbParameterGroups": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "DbParameterGroupName": {},
                              "ParameterApplyStatus": {}
                            }
                          }
                        },
                        "AvailabilityZone": {},
                        "DbSubnetGroup": {
                          "type": "structure",
                          "members": {
                            "DbSubnetGroupName": {},
                            "DbSubnetGroupDescription": {},
                            "VpcId": {},
                            "SubnetGroupStatus": {},
                            "Subnets": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "SubnetIdentifier": {},
                                  "SubnetAvailabilityZone": {
                                    "type": "structure",
                                    "members": {
                                      "Name": {}
                                    }
                                  },
                                  "SubnetStatus": {}
                                }
                              }
                            },
                            "DbSubnetGroupArn": {}
                          }
                        },
                        "PreferredMaintenanceWindow": {},
                        "PendingModifiedValues": {
                          "type": "structure",
                          "members": {
                            "DbInstanceClass": {},
                            "AllocatedStorage": {
                              "type": "integer"
                            },
                            "MasterUserPassword": {},
                            "Port": {
                              "type": "integer"
                            },
                            "BackupRetentionPeriod": {
                              "type": "integer"
                            },
                            "MultiAZ": {
                              "type": "boolean"
                            },
                            "EngineVersion": {},
                            "LicenseModel": {},
                            "Iops": {
                              "type": "integer"
                            },
                            "DbInstanceIdentifier": {},
                            "StorageType": {},
                            "CaCertificateIdentifier": {},
                            "DbSubnetGroupName": {},
                            "PendingCloudWatchLogsExports": {
                              "type": "structure",
                              "members": {
                                "LogTypesToEnable": {
                                  "shape": "S11"
                                },
                                "LogTypesToDisable": {
                                  "shape": "S11"
                                }
                              }
                            },
                            "ProcessorFeatures": {
                              "shape": "S4k"
                            }
                          }
                        },
                        "LatestRestorableTime": {},
                        "AutoMinorVersionUpgrade": {
                          "type": "boolean"
                        },
                        "ReadReplicaSourceDBInstanceIdentifier": {},
                        "ReadReplicaDBInstanceIdentifiers": {
                          "shape": "S11"
                        },
                        "ReadReplicaDBClusterIdentifiers": {
                          "shape": "S11"
                        },
                        "LicenseModel": {},
                        "Iops": {
                          "type": "integer"
                        },
                        "OptionGroupMemberships": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "OptionGroupName": {},
                              "Status": {}
                            }
                          }
                        },
                        "CharacterSetName": {},
                        "SecondaryAvailabilityZone": {},
                        "StatusInfos": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "StatusType": {},
                              "Normal": {
                                "type": "boolean"
                              },
                              "Status": {},
                              "Message": {}
                            }
                          }
                        },
                        "StorageType": {},
                        "DomainMemberships": {
                          "shape": "S4q"
                        },
                        "CopyTagsToSnapshot": {
                          "type": "boolean"
                        },
                        "MonitoringInterval": {
                          "type": "integer"
                        },
                        "MonitoringRoleArn": {},
                        "PromotionTier": {
                          "type": "integer"
                        },
                        "Timezone": {},
                        "PerformanceInsightsEnabled": {
                          "type": "boolean"
                        },
                        "PerformanceInsightsKmsKeyId": {},
                        "PerformanceInsightsRetentionPeriod": {
                          "type": "integer"
                        },
                        "EnabledCloudWatchLogsExports": {
                          "shape": "S11"
                        },
                        "ProcessorFeatures": {
                          "shape": "S4k"
                        },
                        "ListenerEndpoint": {
                          "shape": "S49"
                        },
                        "MaxAllocatedStorage": {
                          "type": "integer"
                        }
                      }
                    },
                    "AwsSnsTopic": {
                      "type": "structure",
                      "members": {
                        "KmsMasterKeyId": {},
                        "Subscription": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Endpoint": {},
                              "Protocol": {}
                            }
                          }
                        },
                        "TopicName": {},
                        "Owner": {}
                      }
                    },
                    "AwsSqsQueue": {
                      "type": "structure",
                      "members": {
                        "KmsDataKeyReusePeriodSeconds": {
                          "type": "integer"
                        },
                        "KmsMasterKeyId": {},
                        "QueueName": {},
                        "DeadLetterTargetArn": {}
                      }
                    },
                    "AwsWafWebAcl": {
                      "type": "structure",
                      "members": {
                        "Name": {},
                        "DefaultAction": {},
                        "Rules": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Action": {
                                "type": "structure",
                                "members": {
                                  "Type": {}
                                }
                              },
                              "ExcludedRules": {
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "RuleId": {}
                                  }
                                }
                              },
                              "OverrideAction": {
                                "type": "structure",
                                "members": {
                                  "Type": {}
                                }
                              },
                              "Priority": {
                                "type": "integer"
                              },
                              "RuleId": {},
                              "Type": {}
                            }
                          }
                        },
                        "WebAclId": {}
                      }
                    },
                    "AwsRdsDbSnapshot": {
                      "type": "structure",
                      "members": {
                        "DbSnapshotIdentifier": {},
                        "DbInstanceIdentifier": {},
                        "SnapshotCreateTime": {},
                        "Engine": {},
                        "AllocatedStorage": {
                          "type": "integer"
                        },
                        "Status": {},
                        "Port": {
                          "type": "integer"
                        },
                        "AvailabilityZone": {},
                        "VpcId": {},
                        "InstanceCreateTime": {},
                        "MasterUsername": {},
                        "EngineVersion": {},
                        "LicenseModel": {},
                        "SnapshotType": {},
                        "Iops": {
                          "type": "integer"
                        },
                        "OptionGroupName": {},
                        "PercentProgress": {
                          "type": "integer"
                        },
                        "SourceRegion": {},
                        "SourceDbSnapshotIdentifier": {},
                        "StorageType": {},
                        "TdeCredentialArn": {},
                        "Encrypted": {
                          "type": "boolean"
                        },
                        "KmsKeyId": {},
                        "Timezone": {},
                        "IamDatabaseAuthenticationEnabled": {
                          "type": "boolean"
                        },
                        "ProcessorFeatures": {
                          "shape": "S4k"
                        },
                        "DbiResourceId": {}
                      }
                    },
                    "AwsRdsDbClusterSnapshot": {
                      "type": "structure",
                      "members": {
                        "AvailabilityZones": {
                          "shape": "S11"
                        },
                        "SnapshotCreateTime": {},
                        "Engine": {},
                        "AllocatedStorage": {
                          "type": "integer"
                        },
                        "Status": {},
                        "Port": {
                          "type": "integer"
                        },
                        "VpcId": {},
                        "ClusterCreateTime": {},
                        "MasterUsername": {},
                        "EngineVersion": {},
                        "LicenseModel": {},
                        "SnapshotType": {},
                        "PercentProgress": {
                          "type": "integer"
                        },
                        "StorageEncrypted": {
                          "type": "boolean"
                        },
                        "KmsKeyId": {},
                        "DbClusterIdentifier": {},
                        "DbClusterSnapshotIdentifier": {},
                        "IamDatabaseAuthenticationEnabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "AwsRdsDbCluster": {
                      "type": "structure",
                      "members": {
                        "AllocatedStorage": {
                          "type": "integer"
                        },
                        "AvailabilityZones": {
                          "shape": "S11"
                        },
                        "BackupRetentionPeriod": {
                          "type": "integer"
                        },
                        "DatabaseName": {},
                        "Status": {},
                        "Endpoint": {},
                        "ReaderEndpoint": {},
                        "CustomEndpoints": {
                          "shape": "S11"
                        },
                        "MultiAz": {
                          "type": "boolean"
                        },
                        "Engine": {},
                        "EngineVersion": {},
                        "Port": {
                          "type": "integer"
                        },
                        "MasterUsername": {},
                        "PreferredBackupWindow": {},
                        "PreferredMaintenanceWindow": {},
                        "ReadReplicaIdentifiers": {
                          "shape": "S11"
                        },
                        "VpcSecurityGroups": {
                          "shape": "S4a"
                        },
                        "HostedZoneId": {},
                        "StorageEncrypted": {
                          "type": "boolean"
                        },
                        "KmsKeyId": {},
                        "DbClusterResourceId": {},
                        "AssociatedRoles": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "RoleArn": {},
                              "Status": {}
                            }
                          }
                        },
                        "ClusterCreateTime": {},
                        "EnabledCloudWatchLogsExports": {
                          "shape": "S11"
                        },
                        "EngineMode": {},
                        "DeletionProtection": {
                          "type": "boolean"
                        },
                        "HttpEndpointEnabled": {
                          "type": "boolean"
                        },
                        "ActivityStreamStatus": {},
                        "CopyTagsToSnapshot": {
                          "type": "boolean"
                        },
                        "CrossAccountClone": {
                          "type": "boolean"
                        },
                        "DomainMemberships": {
                          "shape": "S4q"
                        },
                        "DbClusterParameterGroup": {},
                        "DbSubnetGroup": {},
                        "DbClusterOptionGroupMemberships": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "DbClusterOptionGroupName": {},
                              "Status": {}
                            }
                          }
                        },
                        "DbClusterIdentifier": {},
                        "DbClusterMembers": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "IsClusterWriter": {
                                "type": "boolean"
                              },
                              "PromotionTier": {
                                "type": "integer"
                              },
                              "DbInstanceIdentifier": {},
                              "DbClusterParameterGroupStatus": {}
                            }
                          }
                        },
                        "IamDatabaseAuthenticationEnabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "Container": {
                      "type": "structure",
                      "members": {
                        "Name": {},
                        "ImageId": {},
                        "ImageName": {},
                        "LaunchedAt": {}
                      }
                    },
                    "Other": {
                      "shape": "Sp"
                    }
                  }
                }
              }
            }
          },
          "Compliance": {
            "type": "structure",
            "members": {
              "Status": {},
              "RelatedRequirements": {
                "shape": "S5f"
              },
              "StatusReasons": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "ReasonCode"
                  ],
                  "members": {
                    "ReasonCode": {},
                    "Description": {}
                  }
                }
              }
            }
          },
          "VerificationState": {},
          "WorkflowState": {
            "type": "string",
            "deprecated": true,
            "deprecatedMessage": "This field is deprecated, use Workflow.Status instead."
          },
          "Workflow": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "RecordState": {},
          "RelatedFindings": {
            "shape": "S5n"
          },
          "Note": {
            "type": "structure",
            "required": [
              "Text",
              "UpdatedBy",
              "UpdatedAt"
            ],
            "members": {
              "Text": {},
              "UpdatedBy": {},
              "UpdatedAt": {}
            }
          },
          "Vulnerabilities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id"
              ],
              "members": {
                "Id": {},
                "VulnerablePackages": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {},
                      "Version": {},
                      "Epoch": {},
                      "Release": {},
                      "Architecture": {}
                    }
                  }
                },
                "Cvss": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Version": {},
                      "BaseScore": {
                        "type": "double"
                      },
                      "BaseVector": {}
                    }
                  }
                },
                "RelatedVulnerabilities": {
                  "shape": "S11"
                },
                "Vendor": {
                  "type": "structure",
                  "required": [
                    "Name"
                  ],
                  "members": {
                    "Name": {},
                    "Url": {},
                    "VendorSeverity": {},
                    "VendorCreatedAt": {},
                    "VendorUpdatedAt": {}
                  }
                },
                "ReferenceUrls": {
                  "shape": "S11"
                }
              }
            }
          }
        }
      }
    },
    "Si": {
      "type": "list",
      "member": {}
    },
    "Sp": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sw": {
      "type": "structure",
      "members": {
        "Begin": {
          "type": "integer"
        },
        "End": {
          "type": "integer"
        }
      }
    },
    "Sz": {
      "type": "structure",
      "members": {
        "Protocol": {},
        "Destination": {
          "shape": "S10"
        },
        "Source": {
          "shape": "S10"
        }
      }
    },
    "S10": {
      "type": "structure",
      "members": {
        "Address": {
          "shape": "S11"
        },
        "PortRanges": {
          "type": "list",
          "member": {
            "shape": "Sw"
          }
        }
      }
    },
    "S11": {
      "type": "list",
      "member": {}
    },
    "S1j": {
      "type": "list",
      "member": {}
    },
    "S1v": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "IpProtocol": {},
          "FromPort": {
            "type": "integer"
          },
          "ToPort": {
            "type": "integer"
          },
          "UserIdGroupPairs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GroupId": {},
                "GroupName": {},
                "PeeringStatus": {},
                "UserId": {},
                "VpcId": {},
                "VpcPeeringConnectionId": {}
              }
            }
          },
          "IpRanges": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CidrIp": {}
              }
            }
          },
          "Ipv6Ranges": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CidrIpv6": {}
              }
            }
          },
          "PrefixListIds": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PrefixListId": {}
              }
            }
          }
        }
      }
    },
    "S3e": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AttributeName": {},
          "KeyType": {}
        }
      }
    },
    "S3g": {
      "type": "structure",
      "members": {
        "NonKeyAttributes": {
          "shape": "S11"
        },
        "ProjectionType": {}
      }
    },
    "S3h": {
      "type": "structure",
      "members": {
        "LastDecreaseDateTime": {},
        "LastIncreaseDateTime": {},
        "NumberOfDecreasesToday": {
          "type": "integer"
        },
        "ReadCapacityUnits": {
          "type": "integer"
        },
        "WriteCapacityUnits": {
          "type": "integer"
        }
      }
    },
    "S3o": {
      "type": "structure",
      "members": {
        "ReadCapacityUnits": {
          "type": "integer"
        }
      }
    },
    "S49": {
      "type": "structure",
      "members": {
        "Address": {},
        "Port": {
          "type": "integer"
        },
        "HostedZoneId": {}
      }
    },
    "S4a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "VpcSecurityGroupId": {},
          "Status": {}
        }
      }
    },
    "S4k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "S4q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Domain": {},
          "Status": {},
          "Fqdn": {},
          "IamRoleName": {}
        }
      }
    },
    "S5f": {
      "type": "list",
      "member": {}
    },
    "S5n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ProductArn",
          "Id"
        ],
        "members": {
          "ProductArn": {},
          "Id": {}
        }
      }
    },
    "S61": {
      "type": "list",
      "member": {
        "shape": "S62"
      }
    },
    "S62": {
      "type": "structure",
      "required": [
        "Id",
        "ProductArn"
      ],
      "members": {
        "Id": {},
        "ProductArn": {}
      }
    },
    "S63": {
      "type": "structure",
      "required": [
        "Text",
        "UpdatedBy"
      ],
      "members": {
        "Text": {},
        "UpdatedBy": {}
      }
    },
    "S6d": {
      "type": "structure",
      "members": {
        "ProductArn": {
          "shape": "S6e"
        },
        "AwsAccountId": {
          "shape": "S6e"
        },
        "Id": {
          "shape": "S6e"
        },
        "GeneratorId": {
          "shape": "S6e"
        },
        "Type": {
          "shape": "S6e"
        },
        "FirstObservedAt": {
          "shape": "S6h"
        },
        "LastObservedAt": {
          "shape": "S6h"
        },
        "CreatedAt": {
          "shape": "S6h"
        },
        "UpdatedAt": {
          "shape": "S6h"
        },
        "SeverityProduct": {
          "shape": "S6l"
        },
        "SeverityNormalized": {
          "shape": "S6l"
        },
        "SeverityLabel": {
          "shape": "S6e"
        },
        "Confidence": {
          "shape": "S6l"
        },
        "Criticality": {
          "shape": "S6l"
        },
        "Title": {
          "shape": "S6e"
        },
        "Description": {
          "shape": "S6e"
        },
        "RecommendationText": {
          "shape": "S6e"
        },
        "SourceUrl": {
          "shape": "S6e"
        },
        "ProductFields": {
          "shape": "S6n"
        },
        "ProductName": {
          "shape": "S6e"
        },
        "CompanyName": {
          "shape": "S6e"
        },
        "UserDefinedFields": {
          "shape": "S6n"
        },
        "MalwareName": {
          "shape": "S6e"
        },
        "MalwareType": {
          "shape": "S6e"
        },
        "MalwarePath": {
          "shape": "S6e"
        },
        "MalwareState": {
          "shape": "S6e"
        },
        "NetworkDirection": {
          "shape": "S6e"
        },
        "NetworkProtocol": {
          "shape": "S6e"
        },
        "NetworkSourceIpV4": {
          "shape": "S6q"
        },
        "NetworkSourceIpV6": {
          "shape": "S6q"
        },
        "NetworkSourcePort": {
          "shape": "S6l"
        },
        "NetworkSourceDomain": {
          "shape": "S6e"
        },
        "NetworkSourceMac": {
          "shape": "S6e"
        },
        "NetworkDestinationIpV4": {
          "shape": "S6q"
        },
        "NetworkDestinationIpV6": {
          "shape": "S6q"
        },
        "NetworkDestinationPort": {
          "shape": "S6l"
        },
        "NetworkDestinationDomain": {
          "shape": "S6e"
        },
        "ProcessName": {
          "shape": "S6e"
        },
        "ProcessPath": {
          "shape": "S6e"
        },
        "ProcessPid": {
          "shape": "S6l"
        },
        "ProcessParentPid": {
          "shape": "S6l"
        },
        "ProcessLaunchedAt": {
          "shape": "S6h"
        },
        "ProcessTerminatedAt": {
          "shape": "S6h"
        },
        "ThreatIntelIndicatorType": {
          "shape": "S6e"
        },
        "ThreatIntelIndicatorValue": {
          "shape": "S6e"
        },
        "ThreatIntelIndicatorCategory": {
          "shape": "S6e"
        },
        "ThreatIntelIndicatorLastObservedAt": {
          "shape": "S6h"
        },
        "ThreatIntelIndicatorSource": {
          "shape": "S6e"
        },
        "ThreatIntelIndicatorSourceUrl": {
          "shape": "S6e"
        },
        "ResourceType": {
          "shape": "S6e"
        },
        "ResourceId": {
          "shape": "S6e"
        },
        "ResourcePartition": {
          "shape": "S6e"
        },
        "ResourceRegion": {
          "shape": "S6e"
        },
        "ResourceTags": {
          "shape": "S6n"
        },
        "ResourceAwsEc2InstanceType": {
          "shape": "S6e"
        },
        "ResourceAwsEc2InstanceImageId": {
          "shape": "S6e"
        },
        "ResourceAwsEc2InstanceIpV4Addresses": {
          "shape": "S6q"
        },
        "ResourceAwsEc2InstanceIpV6Addresses": {
          "shape": "S6q"
        },
        "ResourceAwsEc2InstanceKeyName": {
          "shape": "S6e"
        },
        "ResourceAwsEc2InstanceIamInstanceProfileArn": {
          "shape": "S6e"
        },
        "ResourceAwsEc2InstanceVpcId": {
          "shape": "S6e"
        },
        "ResourceAwsEc2InstanceSubnetId": {
          "shape": "S6e"
        },
        "ResourceAwsEc2InstanceLaunchedAt": {
          "shape": "S6h"
        },
        "ResourceAwsS3BucketOwnerId": {
          "shape": "S6e"
        },
        "ResourceAwsS3BucketOwnerName": {
          "shape": "S6e"
        },
        "ResourceAwsIamAccessKeyUserName": {
          "shape": "S6e"
        },
        "ResourceAwsIamAccessKeyStatus": {
          "shape": "S6e"
        },
        "ResourceAwsIamAccessKeyCreatedAt": {
          "shape": "S6h"
        },
        "ResourceContainerName": {
          "shape": "S6e"
        },
        "ResourceContainerImageId": {
          "shape": "S6e"
        },
        "ResourceContainerImageName": {
          "shape": "S6e"
        },
        "ResourceContainerLaunchedAt": {
          "shape": "S6h"
        },
        "ResourceDetailsOther": {
          "shape": "S6n"
        },
        "ComplianceStatus": {
          "shape": "S6e"
        },
        "VerificationState": {
          "shape": "S6e"
        },
        "WorkflowState": {
          "shape": "S6e"
        },
        "WorkflowStatus": {
          "shape": "S6e"
        },
        "RecordState": {
          "shape": "S6e"
        },
        "RelatedFindingsProductArn": {
          "shape": "S6e"
        },
        "RelatedFindingsId": {
          "shape": "S6e"
        },
        "NoteText": {
          "shape": "S6e"
        },
        "NoteUpdatedAt": {
          "shape": "S6h"
        },
        "NoteUpdatedBy": {
          "shape": "S6e"
        },
        "Keyword": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Value": {}
            }
          }
        }
      }
    },
    "S6e": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S6h": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Start": {},
          "End": {},
          "DateRange": {
            "type": "structure",
            "members": {
              "Value": {
                "type": "integer"
              },
              "Unit": {}
            }
          }
        }
      }
    },
    "S6l": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Gte": {
            "type": "double"
          },
          "Lte": {
            "type": "double"
          },
          "Eq": {
            "type": "double"
          }
        }
      }
    },
    "S6n": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "Comparison": {}
        }
      }
    },
    "S6q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Cidr": {}
        }
      }
    },
    "S70": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "ProcessingResult": {}
        }
      }
    },
    "S73": {
      "type": "list",
      "member": {}
    },
    "S7e": {
      "type": "list",
      "member": {}
    },
    "S82": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S8f": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S93": {
      "type": "structure",
      "members": {
        "AccountId": {},
        "InvitationId": {},
        "InvitedAt": {
          "shape": "S82"
        },
        "MemberStatus": {}
      }
    },
    "S96": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AccountId": {},
          "Email": {},
          "MasterId": {},
          "MemberStatus": {},
          "InvitedAt": {
            "shape": "S82"
          },
          "UpdatedAt": {
            "shape": "S82"
          }
        }
      }
    }
  }
}