{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptAdministratorInvitation": {
      "http": {
        "requestUri": "/administrator"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdministratorId",
          "InvitationId"
        ],
        "members": {
          "AdministratorId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AcceptInvitation": {
      "http": {
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "required": [
          "MasterId",
          "InvitationId"
        ],
        "members": {
          "MasterId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use AcceptAdministratorInvitation API instead."
    },
    "BatchDisableStandards": {
      "http": {
        "requestUri": "/standards/deregister"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArns"
        ],
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S9"
          }
        }
      }
    },
    "BatchEnableStandards": {
      "http": {
        "requestUri": "/standards/register"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionRequests"
        ],
        "members": {
          "StandardsSubscriptionRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn"
              ],
              "members": {
                "StandardsArn": {},
                "StandardsInput": {
                  "shape": "Sb"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S9"
          }
        }
      }
    },
    "BatchGetSecurityControls": {
      "http": {
        "requestUri": "/securityControls/batchGet"
      },
      "input": {
        "type": "structure",
        "required": [
          "SecurityControlIds"
        ],
        "members": {
          "SecurityControlIds": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SecurityControls"
        ],
        "members": {
          "SecurityControls": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SecurityControlId",
                "SecurityControlArn",
                "Title",
                "Description",
                "RemediationUrl",
                "SeverityRating",
                "SecurityControlStatus"
              ],
              "members": {
                "SecurityControlId": {},
                "SecurityControlArn": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "SecurityControlStatus": {}
              }
            }
          },
          "UnprocessedIds": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SecurityControlId",
                "ErrorCode"
              ],
              "members": {
                "SecurityControlId": {},
                "ErrorCode": {},
                "ErrorReason": {}
              }
            }
          }
        }
      }
    },
    "BatchGetStandardsControlAssociations": {
      "http": {
        "requestUri": "/associations/batchGet"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationIds"
        ],
        "members": {
          "StandardsControlAssociationIds": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationDetails"
        ],
        "members": {
          "StandardsControlAssociationDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn",
                "SecurityControlId",
                "SecurityControlArn",
                "AssociationStatus"
              ],
              "members": {
                "StandardsArn": {},
                "SecurityControlId": {},
                "SecurityControlArn": {},
                "AssociationStatus": {},
                "RelatedRequirements": {
                  "shape": "S10"
                },
                "UpdatedAt": {
                  "shape": "S11"
                },
                "UpdatedReason": {},
                "StandardsControlTitle": {},
                "StandardsControlDescription": {},
                "StandardsControlArns": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "UnprocessedAssociations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsControlAssociationId",
                "ErrorCode"
              ],
              "members": {
                "StandardsControlAssociationId": {
                  "shape": "Sv"
                },
                "ErrorCode": {},
                "ErrorReason": {}
              }
            }
          }
        }
      }
    },
    "BatchImportFindings": {
      "http": {
        "requestUri": "/findings/import"
      },
      "input": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "type": "list",
            "member": {
              "shape": "S17"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedCount",
          "SuccessCount"
        ],
        "members": {
          "FailedCount": {
            "type": "integer"
          },
          "SuccessCount": {
            "type": "integer"
          },
          "FailedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchUpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings/batchupdate"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingIdentifiers"
        ],
        "members": {
          "FindingIdentifiers": {
            "shape": "Sl7"
          },
          "Note": {
            "shape": "Sl9"
          },
          "Severity": {
            "type": "structure",
            "members": {
              "Normalized": {
                "type": "integer"
              },
              "Product": {
                "type": "double"
              },
              "Label": {}
            }
          },
          "VerificationState": {},
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Types": {
            "shape": "S18"
          },
          "UserDefinedFields": {
            "shape": "S1f"
          },
          "Workflow": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "RelatedFindings": {
            "shape": "Sk6"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessedFindings",
          "UnprocessedFindings"
        ],
        "members": {
          "ProcessedFindings": {
            "shape": "Sl7"
          },
          "UnprocessedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "FindingIdentifier",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "FindingIdentifier": {
                  "shape": "Sl8"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchUpdateStandardsControlAssociations": {
      "http": {
        "method": "PATCH",
        "requestUri": "/associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationUpdates"
        ],
        "members": {
          "StandardsControlAssociationUpdates": {
            "type": "list",
            "member": {
              "shape": "Slh"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAssociationUpdates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsControlAssociationUpdate",
                "ErrorCode"
              ],
              "members": {
                "StandardsControlAssociationUpdate": {
                  "shape": "Slh"
                },
                "ErrorCode": {},
                "ErrorReason": {}
              }
            }
          }
        }
      }
    },
    "CreateActionTarget": {
      "http": {
        "requestUri": "/actionTargets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Description",
          "Id"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "CreateFindingAggregator": {
      "http": {
        "requestUri": "/findingAggregator/create"
      },
      "input": {
        "type": "structure",
        "required": [
          "RegionLinkingMode"
        ],
        "members": {
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregatorArn": {},
          "FindingAggregationRegion": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "Sk"
          }
        }
      }
    },
    "CreateInsight": {
      "http": {
        "requestUri": "/insights"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Filters",
          "GroupByAttribute"
        ],
        "members": {
          "Name": {},
          "Filters": {
            "shape": "Slq"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountDetails"
        ],
        "members": {
          "AccountDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AccountId"
              ],
              "members": {
                "AccountId": {},
                "Email": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Smf"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Smi"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Smf"
          }
        }
      }
    },
    "DeleteActionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "DeleteFindingAggregator": {
      "http": {
        "method": "DELETE",
        "requestUri": "/findingAggregator/delete/{FindingAggregatorArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingAggregatorArn"
        ],
        "members": {
          "FindingAggregatorArn": {
            "location": "uri",
            "locationName": "FindingAggregatorArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Smi"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Smf"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/members/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Smi"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Smf"
          }
        }
      }
    },
    "DescribeActionTargets": {
      "http": {
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "ActionTargetArns": {
            "shape": "Smv"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargets"
        ],
        "members": {
          "ActionTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ActionTargetArn",
                "Name",
                "Description"
              ],
              "members": {
                "ActionTargetArn": {},
                "Name": {},
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeHub": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "HubArn": {
            "location": "querystring",
            "locationName": "HubArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HubArn": {},
          "SubscribedAt": {},
          "AutoEnableControls": {
            "type": "boolean"
          },
          "ControlFindingGenerator": {}
        }
      }
    },
    "DescribeOrganizationConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/organization/configuration"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoEnable": {
            "type": "boolean"
          },
          "MemberAccountLimitReached": {
            "type": "boolean"
          },
          "AutoEnableStandards": {}
        }
      }
    },
    "DescribeProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "ProductArn": {
            "location": "querystring",
            "locationName": "ProductArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Products"
        ],
        "members": {
          "Products": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn"
              ],
              "members": {
                "ProductArn": {},
                "ProductName": {},
                "CompanyName": {},
                "Description": {},
                "Categories": {
                  "type": "list",
                  "member": {}
                },
                "IntegrationTypes": {
                  "type": "list",
                  "member": {}
                },
                "MarketplaceUrl": {},
                "ActivationUrl": {},
                "ProductSubscriptionResourcePolicy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandards": {
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Standards": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsArn": {},
                "Name": {},
                "Description": {},
                "EnabledByDefault": {
                  "type": "boolean"
                },
                "StandardsManagedBy": {
                  "type": "structure",
                  "members": {
                    "Company": {},
                    "Product": {}
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandardsControls": {
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn"
        ],
        "members": {
          "StandardsSubscriptionArn": {
            "location": "uri",
            "locationName": "StandardsSubscriptionArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Controls": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsControlArn": {},
                "ControlStatus": {},
                "DisabledReason": {},
                "ControlStatusUpdatedAt": {
                  "shape": "S11"
                },
                "ControlId": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "RelatedRequirements": {
                  "shape": "S10"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableImportFindingsForProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductSubscriptionArn"
        ],
        "members": {
          "ProductSubscriptionArn": {
            "location": "uri",
            "locationName": "ProductSubscriptionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/organization/admin/disable"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSecurityHub": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromAdministratorAccount": {
      "http": {
        "requestUri": "/administrator/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use DisassociateFromAdministratorAccount API instead."
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/members/disassociate"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Smi"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableImportFindingsForProduct": {
      "http": {
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductArn"
        ],
        "members": {
          "ProductArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptionArn": {}
        }
      }
    },
    "EnableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/organization/admin/enable"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableSecurityHub": {
      "http": {
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "So4"
          },
          "EnableDefaultStandards": {
            "type": "boolean"
          },
          "ControlFindingGenerator": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAdministratorAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/administrator"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Administrator": {
            "shape": "Soa"
          }
        }
      }
    },
    "GetEnabledStandards": {
      "http": {
        "requestUri": "/standards/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S7"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S9"
          },
          "NextToken": {}
        }
      }
    },
    "GetFindingAggregator": {
      "http": {
        "method": "GET",
        "requestUri": "/findingAggregator/get/{FindingAggregatorArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingAggregatorArn"
        ],
        "members": {
          "FindingAggregatorArn": {
            "location": "uri",
            "locationName": "FindingAggregatorArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregatorArn": {},
          "FindingAggregationRegion": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "Sk"
          }
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Slq"
          },
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Field": {},
                "SortOrder": {}
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "type": "list",
            "member": {
              "shape": "S17"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInsightResults": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightResults"
        ],
        "members": {
          "InsightResults": {
            "type": "structure",
            "required": [
              "InsightArn",
              "GroupByAttribute",
              "ResultValues"
            ],
            "members": {
              "InsightArn": {},
              "GroupByAttribute": {},
              "ResultValues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "GroupByAttributeValue",
                    "Count"
                  ],
                  "members": {
                    "GroupByAttributeValue": {},
                    "Count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInsights": {
      "http": {
        "requestUri": "/insights/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightArns": {
            "shape": "Smv"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Insights"
        ],
        "members": {
          "Insights": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InsightArn",
                "Name",
                "Filters",
                "GroupByAttribute"
              ],
              "members": {
                "InsightArn": {},
                "Name": {},
                "Filters": {
                  "shape": "Slq"
                },
                "GroupByAttribute": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Master": {
            "shape": "Soa"
          }
        }
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use GetAdministratorAccount API instead."
    },
    "GetMembers": {
      "http": {
        "requestUri": "/members/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Smi"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "Sp0"
          },
          "UnprocessedAccounts": {
            "shape": "Smf"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/members/invite"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Smi"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Smf"
          }
        }
      }
    },
    "ListEnabledProductsForImport": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptions": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListFindingAggregators": {
      "http": {
        "method": "GET",
        "requestUri": "/findingAggregator/list"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FindingAggregatorArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "type": "list",
            "member": {
              "shape": "Soa"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "OnlyAssociated",
            "type": "boolean"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "Sp0"
          },
          "NextToken": {}
        }
      }
    },
    "ListOrganizationAdminAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/organization/admin"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AdminAccounts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSecurityControlDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/securityControls/definitions"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsArn": {
            "location": "querystring",
            "locationName": "StandardsArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SecurityControlDefinitions"
        ],
        "members": {
          "SecurityControlDefinitions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SecurityControlId",
                "Title",
                "Description",
                "RemediationUrl",
                "SeverityRating",
                "CurrentRegionAvailability"
              ],
              "members": {
                "SecurityControlId": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "CurrentRegionAvailability": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListStandardsControlAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "SecurityControlId"
        ],
        "members": {
          "SecurityControlId": {
            "location": "querystring",
            "locationName": "SecurityControlId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StandardsControlAssociationSummaries"
        ],
        "members": {
          "StandardsControlAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn",
                "SecurityControlId",
                "SecurityControlArn",
                "AssociationStatus"
              ],
              "members": {
                "StandardsArn": {},
                "SecurityControlId": {},
                "SecurityControlArn": {},
                "AssociationStatus": {},
                "RelatedRequirements": {
                  "shape": "S10"
                },
                "UpdatedAt": {
                  "shape": "S11"
                },
                "UpdatedReason": {},
                "StandardsControlTitle": {},
                "StandardsControlDescription": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "So4"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "So4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateActionTarget": {
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          },
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFindingAggregator": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findingAggregator/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingAggregatorArn",
          "RegionLinkingMode"
        ],
        "members": {
          "FindingAggregatorArn": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FindingAggregatorArn": {},
          "FindingAggregationRegion": {},
          "RegionLinkingMode": {},
          "Regions": {
            "shape": "Sk"
          }
        }
      }
    },
    "UpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "shape": "Slq"
          },
          "Note": {
            "shape": "Sl9"
          },
          "RecordState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInsight": {
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          },
          "Name": {},
          "Filters": {
            "shape": "Slq"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateOrganizationConfiguration": {
      "http": {
        "requestUri": "/organization/configuration"
      },
      "input": {
        "type": "structure",
        "required": [
          "AutoEnable"
        ],
        "members": {
          "AutoEnable": {
            "type": "boolean"
          },
          "AutoEnableStandards": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSecurityHubConfiguration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoEnableControls": {
            "type": "boolean"
          },
          "ControlFindingGenerator": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStandardsControl": {
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlArn"
        ],
        "members": {
          "StandardsControlArn": {
            "location": "uri",
            "locationName": "StandardsControlArn"
          },
          "ControlStatus": {},
          "DisabledReason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S7": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn",
          "StandardsArn",
          "StandardsInput",
          "StandardsStatus"
        ],
        "members": {
          "StandardsSubscriptionArn": {},
          "StandardsArn": {},
          "StandardsInput": {
            "shape": "Sb"
          },
          "StandardsStatus": {},
          "StandardsStatusReason": {
            "type": "structure",
            "required": [
              "StatusReasonCode"
            ],
            "members": {
              "StatusReasonCode": {}
            }
          }
        }
      }
    },
    "Sb": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sk": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "structure",
      "required": [
        "SecurityControlId",
        "StandardsArn"
      ],
      "members": {
        "SecurityControlId": {},
        "StandardsArn": {}
      }
    },
    "S10": {
      "type": "list",
      "member": {}
    },
    "S11": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S17": {
      "type": "structure",
      "required": [
        "SchemaVersion",
        "Id",
        "ProductArn",
        "GeneratorId",
        "AwsAccountId",
        "CreatedAt",
        "UpdatedAt",
        "Title",
        "Description",
        "Resources"
      ],
      "members": {
        "SchemaVersion": {},
        "Id": {},
        "ProductArn": {},
        "ProductName": {},
        "CompanyName": {},
        "Region": {},
        "GeneratorId": {},
        "AwsAccountId": {},
        "Types": {
          "shape": "S18"
        },
        "FirstObservedAt": {},
        "LastObservedAt": {},
        "CreatedAt": {},
        "UpdatedAt": {},
        "Severity": {
          "type": "structure",
          "members": {
            "Product": {
              "type": "double"
            },
            "Label": {},
            "Normalized": {
              "type": "integer"
            },
            "Original": {}
          }
        },
        "Confidence": {
          "type": "integer"
        },
        "Criticality": {
          "type": "integer"
        },
        "Title": {},
        "Description": {},
        "Remediation": {
          "type": "structure",
          "members": {
            "Recommendation": {
              "type": "structure",
              "members": {
                "Text": {},
                "Url": {}
              }
            }
          }
        },
        "SourceUrl": {},
        "ProductFields": {
          "shape": "S1f"
        },
        "UserDefinedFields": {
          "shape": "S1f"
        },
        "Malware": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Type": {},
              "Path": {},
              "State": {}
            }
          }
        },
        "Network": {
          "type": "structure",
          "members": {
            "Direction": {},
            "Protocol": {},
            "OpenPortRange": {
              "shape": "S1m"
            },
            "SourceIpV4": {},
            "SourceIpV6": {},
            "SourcePort": {
              "type": "integer"
            },
            "SourceDomain": {},
            "SourceMac": {},
            "DestinationIpV4": {},
            "DestinationIpV6": {},
            "DestinationPort": {
              "type": "integer"
            },
            "DestinationDomain": {}
          }
        },
        "NetworkPath": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ComponentId": {},
              "ComponentType": {},
              "Egress": {
                "shape": "S1p"
              },
              "Ingress": {
                "shape": "S1p"
              }
            }
          }
        },
        "Process": {
          "type": "structure",
          "members": {
            "Name": {},
            "Path": {},
            "Pid": {
              "type": "integer"
            },
            "ParentPid": {
              "type": "integer"
            },
            "LaunchedAt": {},
            "TerminatedAt": {}
          }
        },
        "Threats": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Name": {},
              "Severity": {},
              "ItemCount": {
                "type": "integer"
              },
              "FilePaths": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "FilePath": {},
                    "FileName": {},
                    "ResourceId": {},
                    "Hash": {}
                  }
                }
              }
            }
          }
        },
        "ThreatIntelIndicators": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Type": {},
              "Value": {},
              "Category": {},
              "LastObservedAt": {},
              "Source": {},
              "SourceUrl": {}
            }
          }
        },
        "Resources": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Type",
              "Id"
            ],
            "members": {
              "Type": {},
              "Id": {},
              "Partition": {},
              "Region": {},
              "ResourceRole": {},
              "Tags": {
                "shape": "S1f"
              },
              "DataClassification": {
                "type": "structure",
                "members": {
                  "DetailedResultsLocation": {},
                  "Result": {
                    "type": "structure",
                    "members": {
                      "MimeType": {},
                      "SizeClassified": {
                        "type": "long"
                      },
                      "AdditionalOccurrences": {
                        "type": "boolean"
                      },
                      "Status": {
                        "type": "structure",
                        "members": {
                          "Code": {},
                          "Reason": {}
                        }
                      },
                      "SensitiveData": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Category": {},
                            "Detections": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "Count": {
                                    "type": "long"
                                  },
                                  "Type": {},
                                  "Occurrences": {
                                    "shape": "S2d"
                                  }
                                }
                              }
                            },
                            "TotalCount": {
                              "type": "long"
                            }
                          }
                        }
                      },
                      "CustomDataIdentifiers": {
                        "type": "structure",
                        "members": {
                          "Detections": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "Count": {
                                  "type": "long"
                                },
                                "Arn": {},
                                "Name": {},
                                "Occurrences": {
                                  "shape": "S2d"
                                }
                              }
                            }
                          },
                          "TotalCount": {
                            "type": "long"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "Details": {
                "type": "structure",
                "members": {
                  "AwsAutoScalingAutoScalingGroup": {
                    "type": "structure",
                    "members": {
                      "LaunchConfigurationName": {},
                      "LoadBalancerNames": {
                        "shape": "Sk"
                      },
                      "HealthCheckType": {},
                      "HealthCheckGracePeriod": {
                        "type": "integer"
                      },
                      "CreatedTime": {},
                      "MixedInstancesPolicy": {
                        "type": "structure",
                        "members": {
                          "InstancesDistribution": {
                            "type": "structure",
                            "members": {
                              "OnDemandAllocationStrategy": {},
                              "OnDemandBaseCapacity": {
                                "type": "integer"
                              },
                              "OnDemandPercentageAboveBaseCapacity": {
                                "type": "integer"
                              },
                              "SpotAllocationStrategy": {},
                              "SpotInstancePools": {
                                "type": "integer"
                              },
                              "SpotMaxPrice": {}
                            }
                          },
                          "LaunchTemplate": {
                            "type": "structure",
                            "members": {
                              "LaunchTemplateSpecification": {
                                "type": "structure",
                                "members": {
                                  "LaunchTemplateId": {},
                                  "LaunchTemplateName": {},
                                  "Version": {}
                                }
                              },
                              "Overrides": {
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "InstanceType": {},
                                    "WeightedCapacity": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "AvailabilityZones": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Value": {}
                          }
                        }
                      },
                      "LaunchTemplate": {
                        "type": "structure",
                        "members": {
                          "LaunchTemplateId": {},
                          "LaunchTemplateName": {},
                          "Version": {}
                        }
                      },
                      "CapacityRebalance": {
                        "type": "boolean"
                      }
                    }
                  },
                  "AwsCodeBuildProject": {
                    "type": "structure",
                    "members": {
                      "EncryptionKey": {},
                      "Artifacts": {
                        "shape": "S31"
                      },
                      "Environment": {
                        "type": "structure",
                        "members": {
                          "Certificate": {},
                          "EnvironmentVariables": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "Name": {},
                                "Type": {},
                                "Value": {}
                              }
                            }
                          },
                          "PrivilegedMode": {
                            "type": "boolean"
                          },
                          "ImagePullCredentialsType": {},
                          "RegistryCredential": {
                            "type": "structure",
                            "members": {
                              "Credential": {},
                              "CredentialProvider": {}
                            }
                          },
                          "Type": {}
                        }
                      },
                      "Name": {},
                      "Source": {
                        "type": "structure",
                        "members": {
                          "Type": {},
                          "Location": {},
                          "GitCloneDepth": {
                            "type": "integer"
                          },
                          "InsecureSsl": {
                            "type": "boolean"
                          }
                        }
                      },
                      "ServiceRole": {},
                      "LogsConfig": {
                        "type": "structure",
                        "members": {
                          "CloudWatchLogs": {
                            "type": "structure",
                            "members": {
                              "GroupName": {},
                              "Status": {},
                              "StreamName": {}
                            }
                          },
                          "S3Logs": {
                            "type": "structure",
                            "members": {
                              "EncryptionDisabled": {
                                "type": "boolean"
                              },
                              "Location": {},
                              "Status": {}
                            }
                          }
                        }
                      },
                      "VpcConfig": {
                        "type": "structure",
                        "members": {
                          "VpcId": {},
                          "Subnets": {
                            "shape": "S3c"
                          },
                          "SecurityGroupIds": {
                            "shape": "S3c"
                          }
                        }
                      },
                      "SecondaryArtifacts": {
                        "shape": "S31"
                      }
                    }
                  },
                  "AwsCloudFrontDistribution": {
                    "type": "structure",
                    "members": {
                      "CacheBehaviors": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "ViewerProtocolPolicy": {}
                              }
                            }
                          }
                        }
                      },
                      "DefaultCacheBehavior": {
                        "type": "structure",
                        "members": {
                          "ViewerProtocolPolicy": {}
                        }
                      },
                      "DefaultRootObject": {},
                      "DomainName": {},
                      "ETag": {},
                      "LastModifiedTime": {},
                      "Logging": {
                        "type": "structure",
                        "members": {
                          "Bucket": {},
                          "Enabled": {
                            "type": "boolean"
                          },
                          "IncludeCookies": {
                            "type": "boolean"
                          },
                          "Prefix": {}
                        }
                      },
                      "Origins": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "DomainName": {},
                                "Id": {},
                                "OriginPath": {},
                                "S3OriginConfig": {
                                  "type": "structure",
                                  "members": {
                                    "OriginAccessIdentity": {}
                                  }
                                },
                                "CustomOriginConfig": {
                                  "type": "structure",
                                  "members": {
                                    "HttpPort": {
                                      "type": "integer"
                                    },
                                    "HttpsPort": {
                                      "type": "integer"
                                    },
                                    "OriginKeepaliveTimeout": {
                                      "type": "integer"
                                    },
                                    "OriginProtocolPolicy": {},
                                    "OriginReadTimeout": {
                                      "type": "integer"
                                    },
                                    "OriginSslProtocols": {
                                      "type": "structure",
                                      "members": {
                                        "Items": {
                                          "shape": "S3c"
                                        },
                                        "Quantity": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "OriginGroups": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "FailoverCriteria": {
                                  "type": "structure",
                                  "members": {
                                    "StatusCodes": {
                                      "type": "structure",
                                      "members": {
                                        "Items": {
                                          "type": "list",
                                          "member": {
                                            "type": "integer"
                                          }
                                        },
                                        "Quantity": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "ViewerCertificate": {
                        "type": "structure",
                        "members": {
                          "AcmCertificateArn": {},
                          "Certificate": {},
                          "CertificateSource": {},
                          "CloudFrontDefaultCertificate": {
                            "type": "boolean"
                          },
                          "IamCertificateId": {},
                          "MinimumProtocolVersion": {},
                          "SslSupportMethod": {}
                        }
                      },
                      "Status": {},
                      "WebAclId": {}
                    }
                  },
                  "AwsEc2Instance": {
                    "type": "structure",
                    "members": {
                      "Type": {},
                      "ImageId": {},
                      "IpV4Addresses": {
                        "shape": "Sk"
                      },
                      "IpV6Addresses": {
                        "shape": "Sk"
                      },
                      "KeyName": {},
                      "IamInstanceProfileArn": {},
                      "VpcId": {},
                      "SubnetId": {},
                      "LaunchedAt": {},
                      "NetworkInterfaces": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "NetworkInterfaceId": {}
                          }
                        }
                      },
                      "VirtualizationType": {},
                      "MetadataOptions": {
                        "type": "structure",
                        "members": {
                          "HttpEndpoint": {},
                          "HttpProtocolIpv6": {},
                          "HttpPutResponseHopLimit": {
                            "type": "integer"
                          },
                          "HttpTokens": {},
                          "InstanceMetadataTags": {}
                        }
                      }
                    }
                  },
                  "AwsEc2NetworkInterface": {
                    "type": "structure",
                    "members": {
                      "Attachment": {
                        "type": "structure",
                        "members": {
                          "AttachTime": {},
                          "AttachmentId": {},
                          "DeleteOnTermination": {
                            "type": "boolean"
                          },
                          "DeviceIndex": {
                            "type": "integer"
                          },
                          "InstanceId": {},
                          "InstanceOwnerId": {},
                          "Status": {}
                        }
                      },
                      "NetworkInterfaceId": {},
                      "SecurityGroups": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "GroupName": {},
                            "GroupId": {}
                          }
                        }
                      },
                      "SourceDestCheck": {
                        "type": "boolean"
                      },
                      "IpV6Addresses": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "IpV6Address": {}
                          }
                        }
                      },
                      "PrivateIpAddresses": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "PrivateIpAddress": {},
                            "PrivateDnsName": {}
                          }
                        }
                      },
                      "PublicDnsName": {},
                      "PublicIp": {}
                    }
                  },
                  "AwsEc2SecurityGroup": {
                    "type": "structure",
                    "members": {
                      "GroupName": {},
                      "GroupId": {},
                      "OwnerId": {},
                      "VpcId": {},
                      "IpPermissions": {
                        "shape": "S49"
                      },
                      "IpPermissionsEgress": {
                        "shape": "S49"
                      }
                    }
                  },
                  "AwsEc2Volume": {
                    "type": "structure",
                    "members": {
                      "CreateTime": {},
                      "DeviceName": {},
                      "Encrypted": {
                        "type": "boolean"
                      },
                      "Size": {
                        "type": "integer"
                      },
                      "SnapshotId": {},
                      "Status": {},
                      "KmsKeyId": {},
                      "Attachments": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AttachTime": {},
                            "DeleteOnTermination": {
                              "type": "boolean"
                            },
                            "InstanceId": {},
                            "Status": {}
                          }
                        }
                      },
                      "VolumeId": {},
                      "VolumeType": {},
                      "VolumeScanStatus": {}
                    }
                  },
                  "AwsEc2Vpc": {
                    "type": "structure",
                    "members": {
                      "CidrBlockAssociationSet": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AssociationId": {},
                            "CidrBlock": {},
                            "CidrBlockState": {}
                          }
                        }
                      },
                      "Ipv6CidrBlockAssociationSet": {
                        "shape": "S4p"
                      },
                      "DhcpOptionsId": {},
                      "State": {}
                    }
                  },
                  "AwsEc2Eip": {
                    "type": "structure",
                    "members": {
                      "InstanceId": {},
                      "PublicIp": {},
                      "AllocationId": {},
                      "AssociationId": {},
                      "Domain": {},
                      "PublicIpv4Pool": {},
                      "NetworkBorderGroup": {},
                      "NetworkInterfaceId": {},
                      "NetworkInterfaceOwnerId": {},
                      "PrivateIpAddress": {}
                    }
                  },
                  "AwsEc2Subnet": {
                    "type": "structure",
                    "members": {
                      "AssignIpv6AddressOnCreation": {
                        "type": "boolean"
                      },
                      "AvailabilityZone": {},
                      "AvailabilityZoneId": {},
                      "AvailableIpAddressCount": {
                        "type": "integer"
                      },
                      "CidrBlock": {},
                      "DefaultForAz": {
                        "type": "boolean"
                      },
                      "MapPublicIpOnLaunch": {
                        "type": "boolean"
                      },
                      "OwnerId": {},
                      "State": {},
                      "SubnetArn": {},
                      "SubnetId": {},
                      "VpcId": {},
                      "Ipv6CidrBlockAssociationSet": {
                        "shape": "S4p"
                      }
                    }
                  },
                  "AwsEc2NetworkAcl": {
                    "type": "structure",
                    "members": {
                      "IsDefault": {
                        "type": "boolean"
                      },
                      "NetworkAclId": {},
                      "OwnerId": {},
                      "VpcId": {},
                      "Associations": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "NetworkAclAssociationId": {},
                            "NetworkAclId": {},
                            "SubnetId": {}
                          }
                        }
                      },
                      "Entries": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "CidrBlock": {},
                            "Egress": {
                              "type": "boolean"
                            },
                            "IcmpTypeCode": {
                              "type": "structure",
                              "members": {
                                "Code": {
                                  "type": "integer"
                                },
                                "Type": {
                                  "type": "integer"
                                }
                              }
                            },
                            "Ipv6CidrBlock": {},
                            "PortRange": {
                              "type": "structure",
                              "members": {
                                "From": {
                                  "type": "integer"
                                },
                                "To": {
                                  "type": "integer"
                                }
                              }
                            },
                            "Protocol": {},
                            "RuleAction": {},
                            "RuleNumber": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  },
                  "AwsElbv2LoadBalancer": {
                    "type": "structure",
                    "members": {
                      "AvailabilityZones": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "ZoneName": {},
                            "SubnetId": {}
                          }
                        }
                      },
                      "CanonicalHostedZoneId": {},
                      "CreatedTime": {},
                      "DNSName": {},
                      "IpAddressType": {},
                      "Scheme": {},
                      "SecurityGroups": {
                        "type": "list",
                        "member": {}
                      },
                      "State": {
                        "type": "structure",
                        "members": {
                          "Code": {},
                          "Reason": {}
                        }
                      },
                      "Type": {},
                      "VpcId": {},
                      "LoadBalancerAttributes": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Key": {},
                            "Value": {}
                          }
                        }
                      }
                    }
                  },
                  "AwsElasticBeanstalkEnvironment": {
                    "type": "structure",
                    "members": {
                      "ApplicationName": {},
                      "Cname": {},
                      "DateCreated": {},
                      "DateUpdated": {},
                      "Description": {},
                      "EndpointUrl": {},
                      "EnvironmentArn": {},
                      "EnvironmentId": {},
                      "EnvironmentLinks": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "EnvironmentName": {},
                            "LinkName": {}
                          }
                        }
                      },
                      "EnvironmentName": {},
                      "OptionSettings": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Namespace": {},
                            "OptionName": {},
                            "ResourceName": {},
                            "Value": {}
                          }
                        }
                      },
                      "PlatformArn": {},
                      "SolutionStackName": {},
                      "Status": {},
                      "Tier": {
                        "type": "structure",
                        "members": {
                          "Name": {},
                          "Type": {},
                          "Version": {}
                        }
                      },
                      "VersionLabel": {}
                    }
                  },
                  "AwsElasticsearchDomain": {
                    "type": "structure",
                    "members": {
                      "AccessPolicies": {},
                      "DomainEndpointOptions": {
                        "type": "structure",
                        "members": {
                          "EnforceHTTPS": {
                            "type": "boolean"
                          },
                          "TLSSecurityPolicy": {}
                        }
                      },
                      "DomainId": {},
                      "DomainName": {},
                      "Endpoint": {},
                      "Endpoints": {
                        "shape": "S1f"
                      },
                      "ElasticsearchVersion": {},
                      "ElasticsearchClusterConfig": {
                        "type": "structure",
                        "members": {
                          "DedicatedMasterCount": {
                            "type": "integer"
                          },
                          "DedicatedMasterEnabled": {
                            "type": "boolean"
                          },
                          "DedicatedMasterType": {},
                          "InstanceCount": {
                            "type": "integer"
                          },
                          "InstanceType": {},
                          "ZoneAwarenessConfig": {
                            "type": "structure",
                            "members": {
                              "AvailabilityZoneCount": {
                                "type": "integer"
                              }
                            }
                          },
                          "ZoneAwarenessEnabled": {
                            "type": "boolean"
                          }
                        }
                      },
                      "EncryptionAtRestOptions": {
                        "type": "structure",
                        "members": {
                          "Enabled": {
                            "type": "boolean"
                          },
                          "KmsKeyId": {}
                        }
                      },
                      "LogPublishingOptions": {
                        "type": "structure",
                        "members": {
                          "IndexSlowLogs": {
                            "shape": "S5j"
                          },
                          "SearchSlowLogs": {
                            "shape": "S5j"
                          },
                          "AuditLogs": {
                            "shape": "S5j"
                          }
                        }
                      },
                      "NodeToNodeEncryptionOptions": {
                        "type": "structure",
                        "members": {
                          "Enabled": {
                            "type": "boolean"
                          }
                        }
                      },
                      "ServiceSoftwareOptions": {
                        "type": "structure",
                        "members": {
                          "AutomatedUpdateDate": {},
                          "Cancellable": {
                            "type": "boolean"
                          },
                          "CurrentVersion": {},
                          "Description": {},
                          "NewVersion": {},
                          "UpdateAvailable": {
                            "type": "boolean"
                          },
                          "UpdateStatus": {}
                        }
                      },
                      "VPCOptions": {
                        "type": "structure",
                        "members": {
                          "AvailabilityZones": {
                            "shape": "S3c"
                          },
                          "SecurityGroupIds": {
                            "shape": "S3c"
                          },
                          "SubnetIds": {
                            "shape": "S3c"
                          },
                          "VPCId": {}
                        }
                      }
                    }
                  },
                  "AwsS3Bucket": {
                    "type": "structure",
                    "members": {
                      "OwnerId": {},
                      "OwnerName": {},
                      "OwnerAccountId": {},
                      "CreatedAt": {},
                      "ServerSideEncryptionConfiguration": {
                        "type": "structure",
                        "members": {
                          "Rules": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "ApplyServerSideEncryptionByDefault": {
                                  "type": "structure",
                                  "members": {
                                    "SSEAlgorithm": {},
                                    "KMSMasterKeyID": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "BucketLifecycleConfiguration": {
                        "type": "structure",
                        "members": {
                          "Rules": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "AbortIncompleteMultipartUpload": {
                                  "type": "structure",
                                  "members": {
                                    "DaysAfterInitiation": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "ExpirationDate": {},
                                "ExpirationInDays": {
                                  "type": "integer"
                                },
                                "ExpiredObjectDeleteMarker": {
                                  "type": "boolean"
                                },
                                "Filter": {
                                  "type": "structure",
                                  "members": {
                                    "Predicate": {
                                      "type": "structure",
                                      "members": {
                                        "Operands": {
                                          "type": "list",
                                          "member": {
                                            "type": "structure",
                                            "members": {
                                              "Prefix": {},
                                              "Tag": {
                                                "type": "structure",
                                                "members": {
                                                  "Key": {},
                                                  "Value": {}
                                                }
                                              },
                                              "Type": {}
                                            }
                                          }
                                        },
                                        "Prefix": {},
                                        "Tag": {
                                          "type": "structure",
                                          "members": {
                                            "Key": {},
                                            "Value": {}
                                          }
                                        },
                                        "Type": {}
                                      }
                                    }
                                  }
                                },
                                "ID": {},
                                "NoncurrentVersionExpirationInDays": {
                                  "type": "integer"
                                },
                                "NoncurrentVersionTransitions": {
                                  "type": "list",
                                  "member": {
                                    "type": "structure",
                                    "members": {
                                      "Days": {
                                        "type": "integer"
                                      },
                                      "StorageClass": {}
                                    }
                                  }
                                },
                                "Prefix": {},
                                "Status": {},
                                "Transitions": {
                                  "type": "list",
                                  "member": {
                                    "type": "structure",
                                    "members": {
                                      "Date": {},
                                      "Days": {
                                        "type": "integer"
                                      },
                                      "StorageClass": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "PublicAccessBlockConfiguration": {
                        "shape": "S66"
                      },
                      "AccessControlList": {},
                      "BucketLoggingConfiguration": {
                        "type": "structure",
                        "members": {
                          "DestinationBucketName": {},
                          "LogFilePrefix": {}
                        }
                      },
                      "BucketWebsiteConfiguration": {
                        "type": "structure",
                        "members": {
                          "ErrorDocument": {},
                          "IndexDocumentSuffix": {},
                          "RedirectAllRequestsTo": {
                            "type": "structure",
                            "members": {
                              "Hostname": {},
                              "Protocol": {}
                            }
                          },
                          "RoutingRules": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "Condition": {
                                  "type": "structure",
                                  "members": {
                                    "HttpErrorCodeReturnedEquals": {},
                                    "KeyPrefixEquals": {}
                                  }
                                },
                                "Redirect": {
                                  "type": "structure",
                                  "members": {
                                    "Hostname": {},
                                    "HttpRedirectCode": {},
                                    "Protocol": {},
                                    "ReplaceKeyPrefixWith": {},
                                    "ReplaceKeyWith": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "BucketNotificationConfiguration": {
                        "type": "structure",
                        "members": {
                          "Configurations": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "Events": {
                                  "type": "list",
                                  "member": {}
                                },
                                "Filter": {
                                  "type": "structure",
                                  "members": {
                                    "S3KeyFilter": {
                                      "type": "structure",
                                      "members": {
                                        "FilterRules": {
                                          "type": "list",
                                          "member": {
                                            "type": "structure",
                                            "members": {
                                              "Name": {},
                                              "Value": {}
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "Destination": {},
                                "Type": {}
                              }
                            }
                          }
                        }
                      },
                      "BucketVersioningConfiguration": {
                        "type": "structure",
                        "members": {
                          "IsMfaDeleteEnabled": {
                            "type": "boolean"
                          },
                          "Status": {}
                        }
                      }
                    }
                  },
                  "AwsS3AccountPublicAccessBlock": {
                    "shape": "S66"
                  },
                  "AwsS3Object": {
                    "type": "structure",
                    "members": {
                      "LastModified": {},
                      "ETag": {},
                      "VersionId": {},
                      "ContentType": {},
                      "ServerSideEncryption": {},
                      "SSEKMSKeyId": {}
                    }
                  },
                  "AwsSecretsManagerSecret": {
                    "type": "structure",
                    "members": {
                      "RotationRules": {
                        "type": "structure",
                        "members": {
                          "AutomaticallyAfterDays": {
                            "type": "integer"
                          }
                        }
                      },
                      "RotationOccurredWithinFrequency": {
                        "type": "boolean"
                      },
                      "KmsKeyId": {},
                      "RotationEnabled": {
                        "type": "boolean"
                      },
                      "RotationLambdaArn": {},
                      "Deleted": {
                        "type": "boolean"
                      },
                      "Name": {},
                      "Description": {}
                    }
                  },
                  "AwsIamAccessKey": {
                    "type": "structure",
                    "members": {
                      "UserName": {
                        "deprecated": true,
                        "deprecatedMessage": "This filter is deprecated. Instead, use PrincipalName."
                      },
                      "Status": {},
                      "CreatedAt": {},
                      "PrincipalId": {},
                      "PrincipalType": {},
                      "PrincipalName": {},
                      "AccountId": {},
                      "AccessKeyId": {},
                      "SessionContext": {
                        "type": "structure",
                        "members": {
                          "Attributes": {
                            "type": "structure",
                            "members": {
                              "MfaAuthenticated": {
                                "type": "boolean"
                              },
                              "CreationDate": {}
                            }
                          },
                          "SessionIssuer": {
                            "type": "structure",
                            "members": {
                              "Type": {},
                              "PrincipalId": {},
                              "Arn": {},
                              "AccountId": {},
                              "UserName": {}
                            }
                          }
                        }
                      }
                    }
                  },
                  "AwsIamUser": {
                    "type": "structure",
                    "members": {
                      "AttachedManagedPolicies": {
                        "shape": "S6x"
                      },
                      "CreateDate": {},
                      "GroupList": {
                        "shape": "Sk"
                      },
                      "Path": {},
                      "PermissionsBoundary": {
                        "shape": "S6z"
                      },
                      "UserId": {},
                      "UserName": {},
                      "UserPolicyList": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "PolicyName": {}
                          }
                        }
                      }
                    }
                  },
                  "AwsIamPolicy": {
                    "type": "structure",
                    "members": {
                      "AttachmentCount": {
                        "type": "integer"
                      },
                      "CreateDate": {},
                      "DefaultVersionId": {},
                      "Description": {},
                      "IsAttachable": {
                        "type": "boolean"
                      },
                      "Path": {},
                      "PermissionsBoundaryUsageCount": {
                        "type": "integer"
                      },
                      "PolicyId": {},
                      "PolicyName": {},
                      "PolicyVersionList": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "VersionId": {},
                            "IsDefaultVersion": {
                              "type": "boolean"
                            },
                            "CreateDate": {}
                          }
                        }
                      },
[...]
