{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptAdministratorInvitation": {
      "http": {
        "requestUri": "/administrator"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdministratorId",
          "InvitationId"
        ],
        "members": {
          "AdministratorId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AcceptInvitation": {
      "http": {
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "required": [
          "MasterId",
          "InvitationId"
        ],
        "members": {
          "MasterId": {},
          "InvitationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use AcceptAdministratorInvitation API instead."
    },
    "BatchDisableStandards": {
      "http": {
        "requestUri": "/standards/deregister"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArns"
        ],
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S9"
          }
        }
      }
    },
    "BatchEnableStandards": {
      "http": {
        "requestUri": "/standards/register"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionRequests"
        ],
        "members": {
          "StandardsSubscriptionRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StandardsArn"
              ],
              "members": {
                "StandardsArn": {},
                "StandardsInput": {
                  "shape": "Sb"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S9"
          }
        }
      }
    },
    "BatchImportFindings": {
      "http": {
        "requestUri": "/findings/import"
      },
      "input": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "type": "list",
            "member": {
              "shape": "Sj"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedCount",
          "SuccessCount"
        ],
        "members": {
          "FailedCount": {
            "type": "integer"
          },
          "SuccessCount": {
            "type": "integer"
          },
          "FailedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchUpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings/batchupdate"
      },
      "input": {
        "type": "structure",
        "required": [
          "FindingIdentifiers"
        ],
        "members": {
          "FindingIdentifiers": {
            "shape": "S9u"
          },
          "Note": {
            "shape": "S9w"
          },
          "Severity": {
            "type": "structure",
            "members": {
              "Normalized": {
                "type": "integer"
              },
              "Product": {
                "type": "double"
              },
              "Label": {}
            }
          },
          "VerificationState": {},
          "Confidence": {
            "type": "integer"
          },
          "Criticality": {
            "type": "integer"
          },
          "Types": {
            "shape": "Sk"
          },
          "UserDefinedFields": {
            "shape": "Sr"
          },
          "Workflow": {
            "type": "structure",
            "members": {
              "Status": {}
            }
          },
          "RelatedFindings": {
            "shape": "S8w"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessedFindings",
          "UnprocessedFindings"
        ],
        "members": {
          "ProcessedFindings": {
            "shape": "S9u"
          },
          "UnprocessedFindings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "FindingIdentifier",
                "ErrorCode",
                "ErrorMessage"
              ],
              "members": {
                "FindingIdentifier": {
                  "shape": "S9v"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateActionTarget": {
      "http": {
        "requestUri": "/actionTargets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Description",
          "Id"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "CreateInsight": {
      "http": {
        "requestUri": "/insights"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Filters",
          "GroupByAttribute"
        ],
        "members": {
          "Name": {},
          "Filters": {
            "shape": "Sa5"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountDetails"
        ],
        "members": {
          "AccountDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AccountId"
              ],
              "members": {
                "AccountId": {},
                "Email": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sas"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sav"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sas"
          }
        }
      }
    },
    "DeleteActionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {}
        }
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {}
        }
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sav"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sas"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/members/delete"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sav"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sas"
          }
        }
      }
    },
    "DescribeActionTargets": {
      "http": {
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "ActionTargetArns": {
            "shape": "Sb6"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ActionTargets"
        ],
        "members": {
          "ActionTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ActionTargetArn",
                "Name",
                "Description"
              ],
              "members": {
                "ActionTargetArn": {},
                "Name": {},
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeHub": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "HubArn": {
            "location": "querystring",
            "locationName": "HubArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HubArn": {},
          "SubscribedAt": {},
          "AutoEnableControls": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeOrganizationConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/organization/configuration"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoEnable": {
            "type": "boolean"
          },
          "MemberAccountLimitReached": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "ProductArn": {
            "location": "querystring",
            "locationName": "ProductArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Products"
        ],
        "members": {
          "Products": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductArn"
              ],
              "members": {
                "ProductArn": {},
                "ProductName": {},
                "CompanyName": {},
                "Description": {},
                "Categories": {
                  "type": "list",
                  "member": {}
                },
                "IntegrationTypes": {
                  "type": "list",
                  "member": {}
                },
                "MarketplaceUrl": {},
                "ActivationUrl": {},
                "ProductSubscriptionResourcePolicy": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandards": {
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Standards": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsArn": {},
                "Name": {},
                "Description": {},
                "EnabledByDefault": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStandardsControls": {
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn"
        ],
        "members": {
          "StandardsSubscriptionArn": {
            "location": "uri",
            "locationName": "StandardsSubscriptionArn"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Controls": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StandardsControlArn": {},
                "ControlStatus": {},
                "DisabledReason": {},
                "ControlStatusUpdatedAt": {
                  "shape": "Sbw"
                },
                "ControlId": {},
                "Title": {},
                "Description": {},
                "RemediationUrl": {},
                "SeverityRating": {},
                "RelatedRequirements": {
                  "shape": "S8o"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableImportFindingsForProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductSubscriptionArn"
        ],
        "members": {
          "ProductSubscriptionArn": {
            "location": "uri",
            "locationName": "ProductSubscriptionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/organization/admin/disable"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSecurityHub": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromAdministratorAccount": {
      "http": {
        "requestUri": "/administrator/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use DisassociateFromAdministratorAccount API instead."
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/members/disassociate"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sav"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableImportFindingsForProduct": {
      "http": {
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductArn"
        ],
        "members": {
          "ProductArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptionArn": {}
        }
      }
    },
    "EnableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/organization/admin/enable"
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableSecurityHub": {
      "http": {
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Scf"
          },
          "EnableDefaultStandards": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAdministratorAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/administrator"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Administrator": {
            "shape": "Scl"
          }
        }
      }
    },
    "GetEnabledStandards": {
      "http": {
        "requestUri": "/standards/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "StandardsSubscriptionArns": {
            "shape": "S7"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StandardsSubscriptions": {
            "shape": "S9"
          },
          "NextToken": {}
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Sa5"
          },
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Field": {},
                "SortOrder": {}
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "type": "list",
            "member": {
              "shape": "Sj"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInsightResults": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightResults"
        ],
        "members": {
          "InsightResults": {
            "type": "structure",
            "required": [
              "InsightArn",
              "GroupByAttribute",
              "ResultValues"
            ],
            "members": {
              "InsightArn": {},
              "GroupByAttribute": {},
              "ResultValues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "GroupByAttributeValue",
                    "Count"
                  ],
                  "members": {
                    "GroupByAttributeValue": {},
                    "Count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInsights": {
      "http": {
        "requestUri": "/insights/get"
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightArns": {
            "shape": "Sb6"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Insights"
        ],
        "members": {
          "Insights": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InsightArn",
                "Name",
                "Filters",
                "GroupByAttribute"
              ],
              "members": {
                "InsightArn": {},
                "Name": {},
                "Filters": {
                  "shape": "Sa5"
                },
                "GroupByAttribute": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Master": {
            "shape": "Scl"
          }
        }
      },
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use GetAdministratorAccount API instead."
    },
    "GetMembers": {
      "http": {
        "requestUri": "/members/get"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sav"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "Sd9"
          },
          "UnprocessedAccounts": {
            "shape": "Sas"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/members/invite"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "Sav"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedAccounts": {
            "shape": "Sas"
          }
        }
      }
    },
    "ListEnabledProductsForImport": {
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductSubscriptions": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "type": "list",
            "member": {
              "shape": "Scl"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "type": "structure",
        "members": {
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "OnlyAssociated",
            "type": "boolean"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "Sd9"
          },
          "NextToken": {}
        }
      }
    },
    "ListOrganizationAdminAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/organization/admin"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AdminAccounts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Scf"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "Scf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateActionTarget": {
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ActionTargetArn"
        ],
        "members": {
          "ActionTargetArn": {
            "location": "uri",
            "locationName": "ActionTargetArn"
          },
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFindings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "shape": "Sa5"
          },
          "Note": {
            "shape": "S9w"
          },
          "RecordState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInsight": {
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightArn"
        ],
        "members": {
          "InsightArn": {
            "location": "uri",
            "locationName": "InsightArn"
          },
          "Name": {},
          "Filters": {
            "shape": "Sa5"
          },
          "GroupByAttribute": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateOrganizationConfiguration": {
      "http": {
        "requestUri": "/organization/configuration"
      },
      "input": {
        "type": "structure",
        "required": [
          "AutoEnable"
        ],
        "members": {
          "AutoEnable": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSecurityHubConfiguration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoEnableControls": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStandardsControl": {
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "type": "structure",
        "required": [
          "StandardsControlArn"
        ],
        "members": {
          "StandardsControlArn": {
            "location": "uri",
            "locationName": "StandardsControlArn"
          },
          "ControlStatus": {},
          "DisabledReason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S7": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "StandardsSubscriptionArn",
          "StandardsArn",
          "StandardsInput",
          "StandardsStatus"
        ],
        "members": {
          "StandardsSubscriptionArn": {},
          "StandardsArn": {},
          "StandardsInput": {
            "shape": "Sb"
          },
          "StandardsStatus": {}
        }
      }
    },
    "Sb": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sj": {
      "type": "structure",
      "required": [
        "SchemaVersion",
        "Id",
        "ProductArn",
        "GeneratorId",
        "AwsAccountId",
        "CreatedAt",
        "UpdatedAt",
        "Title",
        "Description",
        "Resources"
      ],
      "members": {
        "SchemaVersion": {},
        "Id": {},
        "ProductArn": {},
        "GeneratorId": {},
        "AwsAccountId": {},
        "Types": {
          "shape": "Sk"
        },
        "FirstObservedAt": {},
        "LastObservedAt": {},
        "CreatedAt": {},
        "UpdatedAt": {},
        "Severity": {
          "type": "structure",
          "members": {
            "Product": {
              "type": "double"
            },
            "Label": {},
            "Normalized": {
              "type": "integer"
            },
            "Original": {}
          }
        },
        "Confidence": {
          "type": "integer"
        },
        "Criticality": {
          "type": "integer"
        },
        "Title": {},
        "Description": {},
        "Remediation": {
          "type": "structure",
          "members": {
            "Recommendation": {
              "type": "structure",
              "members": {
                "Text": {},
                "Url": {}
              }
            }
          }
        },
        "SourceUrl": {},
        "ProductFields": {
          "shape": "Sr"
        },
        "UserDefinedFields": {
          "shape": "Sr"
        },
        "Malware": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Type": {},
              "Path": {},
              "State": {}
            }
          }
        },
        "Network": {
          "type": "structure",
          "members": {
            "Direction": {},
            "Protocol": {},
            "OpenPortRange": {
              "shape": "Sy"
            },
            "SourceIpV4": {},
            "SourceIpV6": {},
            "SourcePort": {
              "type": "integer"
            },
            "SourceDomain": {},
            "SourceMac": {},
            "DestinationIpV4": {},
            "DestinationIpV6": {},
            "DestinationPort": {
              "type": "integer"
            },
            "DestinationDomain": {}
          }
        },
        "NetworkPath": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ComponentId": {},
              "ComponentType": {},
              "Egress": {
                "shape": "S11"
              },
              "Ingress": {
                "shape": "S11"
              }
            }
          }
        },
        "Process": {
          "type": "structure",
          "members": {
            "Name": {},
            "Path": {},
            "Pid": {
              "type": "integer"
            },
            "ParentPid": {
              "type": "integer"
            },
            "LaunchedAt": {},
            "TerminatedAt": {}
          }
        },
        "ThreatIntelIndicators": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Type": {},
              "Value": {},
              "Category": {},
              "LastObservedAt": {},
              "Source": {},
              "SourceUrl": {}
            }
          }
        },
        "Resources": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Type",
              "Id"
            ],
            "members": {
              "Type": {},
              "Id": {},
              "Partition": {},
              "Region": {},
              "ResourceRole": {},
              "Tags": {
                "shape": "Sr"
              },
              "DataClassification": {
                "type": "structure",
                "members": {
                  "DetailedResultsLocation": {},
                  "Result": {
                    "type": "structure",
                    "members": {
                      "MimeType": {},
                      "SizeClassified": {
                        "type": "long"
                      },
                      "AdditionalOccurrences": {
                        "type": "boolean"
                      },
                      "Status": {
                        "type": "structure",
                        "members": {
                          "Code": {},
                          "Reason": {}
                        }
                      },
                      "SensitiveData": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Category": {},
                            "Detections": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "Count": {
                                    "type": "long"
                                  },
                                  "Type": {},
                                  "Occurrences": {
                                    "shape": "S1m"
                                  }
                                }
                              }
                            },
                            "TotalCount": {
                              "type": "long"
                            }
                          }
                        }
                      },
                      "CustomDataIdentifiers": {
                        "type": "structure",
                        "members": {
                          "Detections": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "Count": {
                                  "type": "long"
                                },
                                "Arn": {},
                                "Name": {},
                                "Occurrences": {
                                  "shape": "S1m"
                                }
                              }
                            }
                          },
                          "TotalCount": {
                            "type": "long"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "Details": {
                "type": "structure",
                "members": {
                  "AwsAutoScalingAutoScalingGroup": {
                    "type": "structure",
                    "members": {
                      "LaunchConfigurationName": {},
                      "LoadBalancerNames": {
                        "shape": "S13"
                      },
                      "HealthCheckType": {},
                      "HealthCheckGracePeriod": {
                        "type": "integer"
                      },
                      "CreatedTime": {}
                    }
                  },
                  "AwsCodeBuildProject": {
                    "type": "structure",
                    "members": {
                      "EncryptionKey": {},
                      "Environment": {
                        "type": "structure",
                        "members": {
                          "Certificate": {},
                          "ImagePullCredentialsType": {},
                          "RegistryCredential": {
                            "type": "structure",
                            "members": {
                              "Credential": {},
                              "CredentialProvider": {}
                            }
                          },
                          "Type": {}
                        }
                      },
                      "Name": {},
                      "Source": {
                        "type": "structure",
                        "members": {
                          "Type": {},
                          "Location": {},
                          "GitCloneDepth": {
                            "type": "integer"
                          },
                          "InsecureSsl": {
                            "type": "boolean"
                          }
                        }
                      },
                      "ServiceRole": {},
                      "VpcConfig": {
                        "type": "structure",
                        "members": {
                          "VpcId": {},
                          "Subnets": {
                            "shape": "S25"
                          },
                          "SecurityGroupIds": {
                            "shape": "S25"
                          }
                        }
                      }
                    }
                  },
                  "AwsCloudFrontDistribution": {
                    "type": "structure",
                    "members": {
                      "CacheBehaviors": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "ViewerProtocolPolicy": {}
                              }
                            }
                          }
                        }
                      },
                      "DefaultCacheBehavior": {
                        "type": "structure",
                        "members": {
                          "ViewerProtocolPolicy": {}
                        }
                      },
                      "DefaultRootObject": {},
                      "DomainName": {},
                      "ETag": {},
                      "LastModifiedTime": {},
                      "Logging": {
                        "type": "structure",
                        "members": {
                          "Bucket": {},
                          "Enabled": {
                            "type": "boolean"
                          },
                          "IncludeCookies": {
                            "type": "boolean"
                          },
                          "Prefix": {}
                        }
                      },
                      "Origins": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "DomainName": {},
                                "Id": {},
                                "OriginPath": {},
                                "S3OriginConfig": {
                                  "type": "structure",
                                  "members": {
                                    "OriginAccessIdentity": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "OriginGroups": {
                        "type": "structure",
                        "members": {
                          "Items": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "FailoverCriteria": {
                                  "type": "structure",
                                  "members": {
                                    "StatusCodes": {
                                      "type": "structure",
                                      "members": {
                                        "Items": {
                                          "type": "list",
                                          "member": {
                                            "type": "integer"
                                          }
                                        },
                                        "Quantity": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "Status": {},
                      "WebAclId": {}
                    }
                  },
                  "AwsEc2Instance": {
                    "type": "structure",
                    "members": {
                      "Type": {},
                      "ImageId": {},
                      "IpV4Addresses": {
                        "shape": "S13"
                      },
                      "IpV6Addresses": {
                        "shape": "S13"
                      },
                      "KeyName": {},
                      "IamInstanceProfileArn": {},
                      "VpcId": {},
                      "SubnetId": {},
                      "LaunchedAt": {}
                    }
                  },
                  "AwsEc2NetworkInterface": {
                    "type": "structure",
                    "members": {
                      "Attachment": {
                        "type": "structure",
                        "members": {
                          "AttachTime": {},
                          "AttachmentId": {},
                          "DeleteOnTermination": {
                            "type": "boolean"
                          },
                          "DeviceIndex": {
                            "type": "integer"
                          },
                          "InstanceId": {},
                          "InstanceOwnerId": {},
                          "Status": {}
                        }
                      },
                      "NetworkInterfaceId": {},
                      "SecurityGroups": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "GroupName": {},
                            "GroupId": {}
                          }
                        }
                      },
                      "SourceDestCheck": {
                        "type": "boolean"
                      },
                      "IpV6Addresses": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "IpV6Address": {}
                          }
                        }
                      },
                      "PrivateIpAddresses": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "PrivateIpAddress": {},
                            "PrivateDnsName": {}
                          }
                        }
                      },
                      "PublicDnsName": {},
                      "PublicIp": {}
                    }
                  },
                  "AwsEc2SecurityGroup": {
                    "type": "structure",
                    "members": {
                      "GroupName": {},
                      "GroupId": {},
                      "OwnerId": {},
                      "VpcId": {},
                      "IpPermissions": {
                        "shape": "S2w"
                      },
                      "IpPermissionsEgress": {
                        "shape": "S2w"
                      }
                    }
                  },
                  "AwsEc2Volume": {
                    "type": "structure",
                    "members": {
                      "CreateTime": {},
                      "Encrypted": {
                        "type": "boolean"
                      },
                      "Size": {
                        "type": "integer"
                      },
                      "SnapshotId": {},
                      "Status": {},
                      "KmsKeyId": {},
                      "Attachments": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AttachTime": {},
                            "DeleteOnTermination": {
                              "type": "boolean"
                            },
                            "InstanceId": {},
                            "Status": {}
                          }
                        }
                      }
                    }
                  },
                  "AwsEc2Vpc": {
                    "type": "structure",
                    "members": {
                      "CidrBlockAssociationSet": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AssociationId": {},
                            "CidrBlock": {},
                            "CidrBlockState": {}
                          }
                        }
                      },
                      "Ipv6CidrBlockAssociationSet": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AssociationId": {},
                            "Ipv6CidrBlock": {},
                            "CidrBlockState": {}
                          }
                        }
                      },
                      "DhcpOptionsId": {},
                      "State": {}
                    }
                  },
                  "AwsEc2Eip": {
                    "type": "structure",
                    "members": {
                      "InstanceId": {},
                      "PublicIp": {},
                      "AllocationId": {},
                      "AssociationId": {},
                      "Domain": {},
                      "PublicIpv4Pool": {},
                      "NetworkBorderGroup": {},
                      "NetworkInterfaceId": {},
                      "NetworkInterfaceOwnerId": {},
                      "PrivateIpAddress": {}
                    }
                  },
                  "AwsElbv2LoadBalancer": {
                    "type": "structure",
                    "members": {
                      "AvailabilityZones": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "ZoneName": {},
                            "SubnetId": {}
                          }
                        }
                      },
                      "CanonicalHostedZoneId": {},
                      "CreatedTime": {},
                      "DNSName": {},
                      "IpAddressType": {},
                      "Scheme": {},
                      "SecurityGroups": {
                        "type": "list",
                        "member": {}
                      },
                      "State": {
                        "type": "structure",
                        "members": {
                          "Code": {},
                          "Reason": {}
                        }
                      },
                      "Type": {},
                      "VpcId": {}
                    }
                  },
                  "AwsElasticsearchDomain": {
                    "type": "structure",
                    "members": {
                      "AccessPolicies": {},
                      "DomainEndpointOptions": {
                        "type": "structure",
                        "members": {
                          "EnforceHTTPS": {
                            "type": "boolean"
                          },
                          "TLSSecurityPolicy": {}
                        }
                      },
                      "DomainId": {},
                      "DomainName": {},
                      "Endpoint": {},
                      "Endpoints": {
                        "shape": "Sr"
                      },
                      "ElasticsearchVersion": {},
                      "EncryptionAtRestOptions": {
                        "type": "structure",
                        "members": {
                          "Enabled": {
                            "type": "boolean"
                          },
                          "KmsKeyId": {}
                        }
                      },
                      "NodeToNodeEncryptionOptions": {
                        "type": "structure",
                        "members": {
                          "Enabled": {
                            "type": "boolean"
                          }
                        }
                      },
                      "VPCOptions": {
                        "type": "structure",
                        "members": {
                          "AvailabilityZones": {
                            "shape": "S25"
                          },
                          "SecurityGroupIds": {
                            "shape": "S25"
                          },
                          "SubnetIds": {
                            "shape": "S25"
                          },
                          "VPCId": {}
                        }
                      }
                    }
                  },
                  "AwsS3Bucket": {
                    "type": "structure",
                    "members": {
                      "OwnerId": {},
                      "OwnerName": {},
                      "CreatedAt": {},
                      "ServerSideEncryptionConfiguration": {
                        "type": "structure",
                        "members": {
                          "Rules": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "ApplyServerSideEncryptionByDefault": {
                                  "type": "structure",
                                  "members": {
                                    "SSEAlgorithm": {},
                                    "KMSMasterKeyID": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "PublicAccessBlockConfiguration": {
                        "shape": "S3u"
                      }
                    }
                  },
                  "AwsS3AccountPublicAccessBlock": {
                    "shape": "S3u"
                  },
                  "AwsS3Object": {
                    "type": "structure",
                    "members": {
                      "LastModified": {},
                      "ETag": {},
                      "VersionId": {},
                      "ContentType": {},
                      "ServerSideEncryption": {},
                      "SSEKMSKeyId": {}
                    }
                  },
                  "AwsSecretsManagerSecret": {
                    "type": "structure",
                    "members": {
                      "RotationRules": {
                        "type": "structure",
                        "members": {
                          "AutomaticallyAfterDays": {
                            "type": "integer"
                          }
                        }
                      },
                      "RotationOccurredWithinFrequency": {
                        "type": "boolean"
                      },
                      "KmsKeyId": {},
                      "RotationEnabled": {
                        "type": "boolean"
                      },
                      "RotationLambdaArn": {},
                      "Deleted": {
                        "type": "boolean"
                      },
                      "Name": {},
                      "Description": {}
                    }
                  },
                  "AwsIamAccessKey": {
                    "type": "structure",
                    "members": {
                      "UserName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use PrincipalName instead."
                      },
                      "Status": {},
                      "CreatedAt": {},
                      "PrincipalId": {},
                      "PrincipalType": {},
                      "PrincipalName": {},
                      "AccountId": {},
                      "AccessKeyId": {},
                      "SessionContext": {
                        "type": "structure",
                        "members": {
                          "Attributes": {
                            "type": "structure",
                            "members": {
                              "MfaAuthenticated": {
                                "type": "boolean"
                              },
                              "CreationDate": {}
                            }
                          },
                          "SessionIssuer": {
                            "type": "structure",
                            "members": {
                              "Type": {},
                              "PrincipalId": {},
                              "Arn": {},
                              "AccountId": {},
                              "UserName": {}
                            }
                          }
                        }
                      }
                    }
                  },
                  "AwsIamUser": {
                    "type": "structure",
                    "members": {
                      "AttachedManagedPolicies": {
                        "shape": "S44"
                      },
                      "CreateDate": {},
                      "GroupList": {
                        "shape": "S13"
                      },
                      "Path": {},
                      "PermissionsBoundary": {
                        "shape": "S46"
                      },
                      "UserId": {},
                      "UserName": {},
                      "UserPolicyList": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "PolicyName": {}
                          }
                        }
                      }
                    }
                  },
                  "AwsIamPolicy": {
                    "type": "structure",
                    "members": {
                      "AttachmentCount": {
                        "type": "integer"
                      },
                      "CreateDate": {},
                      "DefaultVersionId": {},
                      "Description": {},
                      "IsAttachable": {
                        "type": "boolean"
                      },
                      "Path": {},
                      "PermissionsBoundaryUsageCount": {
                        "type": "integer"
                      },
                      "PolicyId": {},
                      "PolicyName": {},
                      "PolicyVersionList": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "VersionId": {},
                            "IsDefaultVersion": {
                              "type": "boolean"
                            },
                            "CreateDate": {}
                          }
                        }
                      },
                      "UpdateDate": {}
                    }
                  },
                  "AwsApiGatewayV2Stage": {
                    "type": "structure",
                    "members": {
                      "CreatedDate": {},
                      "Description": {},
                      "DefaultRouteSettings": {
                        "shape": "S4d"
                      },
                      "DeploymentId": {},
                      "LastUpdatedDate": {},
                      "RouteSettings": {
                        "shape": "S4d"
                      },
                      "StageName": {},
                      "StageVariables": {
                        "shape": "Sr"
                      },
                      "AccessLogSettings": {
                        "shape": "S4e"
                      },
                      "AutoDeploy": {
                        "type": "boolean"
                      },
                      "LastDeploymentStatusMessage": {},
                      "ApiGatewayManaged": {
                        "type": "boolean"
                      }
                    }
                  },
                  "AwsApiGatewayV2Api": {
                    "type": "structure",
                    "members": {
                      "ApiEndpoint": {},
                      "ApiId": {},
                      "ApiKeySelectionExpression": {},
                      "CreatedDate": {},
                      "Description": {},
                      "Version": {},
                      "Name": {},
                      "ProtocolType": {},
                      "RouteSelectionExpression": {},
                      "CorsConfiguration": {
                        "type": "structure",
                        "members": {
                          "AllowOrigins": {
                            "shape": "S25"
                          },
                          "AllowCredentials": {
                            "type": "boolean"
                          },
                          "ExposeHeaders": {
                            "shape": "S25"
                          },
                          "MaxAge": {
                            "type": "integer"
                          },
                          "AllowMethods": {
                            "shape": "S25"
                          },
                          "AllowHeaders": {
                            "shape": "S25"
                          }
                        }
                      }
                    }
                  },
                  "AwsDynamoDbTable": {
                    "type": "structure",
                    "members": {
                      "AttributeDefinitions": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "AttributeName": {},
                            "AttributeType": {}
                          }
                        }
                      },
                      "BillingModeSummary": {
                        "type": "structure",
                        "members": {
                          "BillingMode": {},
                          "LastUpdateToPayPerRequestDateTime": {}
                        }
                      },
                      "CreationDateTime": {},
                      "GlobalSecondaryIndexes": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Backfilling": {
                              "type": "boolean"
                            },
                            "IndexArn": {},
                            "IndexName": {},
                            "IndexSizeBytes": {
                              "type": "long"
                            },
                            "IndexStatus": {},
                            "ItemCount": {
                              "type": "integer"
                            },
                            "KeySchema": {
                              "shape": "S4o"
                            },
                            "Projection": {
                              "shape": "S4q"
                            },
                            "ProvisionedThroughput": {
                              "shape": "S4r"
                            }
                          }
                        }
                      },
                      "GlobalTableVersion": {},
                      "ItemCount": {
                        "type": "integer"
                      },
                      "KeySchema": {
                        "shape": "S4o"
                      },
                      "LatestStreamArn": {},
                      "LatestStreamLabel": {},
                      "LocalSecondaryIndexes": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "IndexArn": {},
                            "IndexName": {},
                            "KeySchema": {
                              "shape": "S4o"
                            },
                            "Projection": {
                              "shape": "S4q"
                            }
                          }
                        }
                      },
                      "ProvisionedThroughput": {
                        "shape": "S4r"
                      },
                      "Replicas": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "GlobalSecondaryIndexes": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "IndexName": {},
                                  "ProvisionedThroughputOverride": {
                                    "shape": "S4y"
                                  }
                                }
                              }
                            },
                            "KmsMasterKeyId": {},
                            "ProvisionedThroughputOverride": {
                              "shape": "S4y"
                            },
                            "RegionName": {},
                            "ReplicaStatus": {},
                            "ReplicaStatusDescription": {}
                          }
                        }
                      },
                      "RestoreSummary": {
                        "type": "structure",
                        "members": {
                          "SourceBackupArn": {},
                          "SourceTableArn": {},
                          "RestoreDateTime": {},
                          "RestoreInProgress": {
                            "type": "boolean"
                          }
                        }
                      },
                      "SseDescription": {
                        "type": "structure",
                        "members": {
                          "InaccessibleEncryptionDateTime": {},
                          "Status": {},
                          "SseType": {},
                          "KmsMasterKeyArn": {}
                        }
                      },
                      "StreamSpecification": {
                        "type": "structure",
                        "members": {
                          "StreamEnabled": {
                            "type": "boolean"
                          },
                          "StreamViewType": {}
                        }
                      },
                      "TableId": {},
                      "TableName": {},
                      "TableSizeBytes": {
                        "type": "long"
                      },
                      "TableStatus": {}
                    }
                  },
                  "AwsApiGatewayStage": {
                    "type": "structure",
                    "members": {
                      "DeploymentId": {},
                      "ClientCertificateId": {},
                      "StageName": {},
                      "Description": {},
                      "CacheClusterEnabled": {
                        "type": "boolean"
                      },
                      "CacheClusterSize": {},
                      "CacheClusterStatus": {},
                      "MethodSettings": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "MetricsEnabled": {
                              "type": "boolean"
                            },
                            "LoggingLevel": {},
                            "DataTraceEnabled": {
                              "type": "boolean"
                            },
                            "ThrottlingBurstLimit": {
                              "type": "integer"
                            },
                            "ThrottlingRateLimit": {
                              "type": "double"
                            },
                            "CachingEnabled": {
                              "type": "boolean"
                            },
                            "CacheTtlInSeconds": {
                              "type": "integer"
                            },
                            "CacheDataEncrypted": {
                              "type": "boolean"
                            },
                            "RequireAuthorizationForCacheControl": {
                              "type": "boolean"
                            },
                            "UnauthorizedCacheControlHeaderStrategy": {},
                            "HttpMethod": {},
                            "ResourcePath": {}
                          }
                        }
                      },
                      "Variables": {
                        "shape": "Sr"
                      },
                      "DocumentationVersion": {},
                      "AccessLogSettings": {
                        "shape": "S4e"
                      },
                      "CanarySettings": {
                        "type": "structure",
                        "members": {
                          "PercentTraffic": {
                            "type": "double"
                          },
                          "DeploymentId": {},
                          "StageVariableOverrides": {
                            "shape": "Sr"
                          },
                          "UseStageCache": {
                            "type": "boolean"
                          }
                        }
                      },
                      "TracingEnabled": {
                        "type": "boolean"
                      },
                      "CreatedDate": {},
                      "LastUpdatedDate": {},
                      "WebAclArn": {}
                    }
                  },
                  "AwsApiGatewayRestApi": {
                    "type": "structure",
                    "members": {
                      "Id": {},
                      "Name": {},
                      "Description": {},
                      "CreatedDate": {},
                      "Version": {},
                      "BinaryMediaTypes": {
                        "shape": "S25"
                      },
                      "MinimumCompressionSize": {
                        "type": "integer"
                      },
                      "ApiKeySource": {},
                      "EndpointConfiguration": {
                        "type": "structure",
                        "members": {
                          "Types": {
                            "shape": "S25"
                          }
                        }
                      }
                    }
                  },
                  "AwsCloudTrailTrail": {
                    "type": "structure",
                    "members": {
                      "CloudWatchLogsLogGroupArn": {},
                      "CloudWatchLogsRoleArn": {},
                      "HasCustomEventSelectors": {
                        "type": "boolean"
                      },
                      "HomeRegion": {},
                      "IncludeGlobalServiceEvents": {
                        "type": "boolean"
                      },
                      "IsMultiRegionTrail": {
                        "type": "boolean"
                      },
                      "IsOrganizationTrail": {
                        "type": "boolean"
                      },
                      "KmsKeyId": {},
                      "LogFileValidationEnabled": {
                        "type": "boolean"
                      },
                      "Name": {},
                      "S3BucketName": {},
                      "S3KeyPrefix": {},
                      "SnsTopicArn": {},
                      "SnsTopicName": {},
                      "TrailArn": {}
                    }
                  },
                  "AwsSsmPatchCompliance": {
                    "type": "structure",
                    "members": {
                      "Patch": {
                        "type": "structure",
                        "members": {
                          "ComplianceSummary": {
                            "type": "structure",
                            "members": {
                              "Status": {},
                              "CompliantCriticalCount": {
                                "type": "integer"
                              },
                              "CompliantHighCount": {
                                "type": "integer"
                              },
                              "CompliantMediumCount": {
                                "type": "integer"
                              },
                              "ExecutionType": {},
                              "NonCompliantCriticalCount": {
                                "type": "integer"
                              },
                              "CompliantInformationalCount": {
                                "type": "integer"
                              },
                              "NonCompliantInformationalCount": {
                                "type": "integer"
                              },
                              "CompliantUnspecifiedCount": {
                                "type": "integer"
                              },
                              "NonCompliantLowCount": {
                                "type": "integer"
                              },
                              "NonCompliantHighCount": {
                                "type": "integer"
                              },
                              "CompliantLowCount": {
                                "type": "integer"
                              },
                              "ComplianceType": {},
                              "PatchBaselineId": {},
                              "OverallSeverity": {},
                              "NonCompliantMediumCount": {
                                "type": "integer"
                              },
                              "NonCompliantUnspecifiedCount": {
                                "type": "integer"
                              },
                              "PatchGroup": {}
                            }
                          }
                        }
                      }
                    }
                  },
                  "AwsCertificateManagerCertificate": {
                    "type": "structure",
                    "members": {
                      "CertificateAuthorityArn": {},
                      "CreatedAt": {},
                      "DomainName": {},
                      "DomainValidationOptions": {
                        "shape": "S5d"
                      },
                      "ExtendedKeyUsages": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Name": {},
                            "OId": {}
                          }
                        }
                      },
                      "FailureReason": {},
                      "ImportedAt": {},
                      "InUseBy": {
                        "shape": "S13"
                      },
                      "IssuedAt": {},
                      "Issuer": {},
                      "KeyAlgorithm": {},
                      "KeyUsages": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Name": {}
                          }
                        }
                      },
                      "NotAfter": {},
                      "NotBefore": {},
                      "Options": {
                        "type": "structure",
                        "members": {
                          "CertificateTransparencyLoggingPreference": {}
                        }
                      },
                      "RenewalEligibility": {},
                      "RenewalSummary": {
                        "type": "structure",
                        "members": {
                          "DomainValidationOptions": {
                            "shape": "S5d"
                          },
                          "RenewalStatus": {},
                          "RenewalStatusReason": {},
                          "UpdatedAt": {}
                        }
                      },
                      "Serial": {},
                      "SignatureAlgorithm": {},
                      "Status": {},
                      "Subject": {},
                      "SubjectAlternativeNames": {
                        "shape": "S13"
                      },
                      "Type": {}
                    }
                  },
                  "AwsRedshiftCluster": {
                    "type": "structure",
                    "members": {
                      "AllowVersionUpgrade": {
                        "type": "boolean"
                      },
                      "AutomatedSnapshotRetentionPeriod": {
                        "type": "integer"
                      },
                      "AvailabilityZone": {},
                      "ClusterAvailabilityStatus": {},
                      "ClusterCreateTime": {},
                      "ClusterIdentifier": {},
                      "ClusterNodes": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "NodeRole": {},
                            "PrivateIpAddress": {},
                            "PublicIpAddress": {}
                          }
                        }
                      },
                      "ClusterParameterGroups": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "ClusterParameterStatusList": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "ParameterName": {},
                                  "ParameterApplyStatus": {},
                                  "ParameterApplyErrorDescription": {}
                                }
                              }
                            },
                            "ParameterApplyStatus": {},
                            "ParameterGroupName": {}
                          }
                        }
                      },
                      "ClusterPublicKey": {},
                      "ClusterRevisionNumber": {},
                      "ClusterSecurityGroups": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "ClusterSecurityGroupName": {},
                            "Status": {}
                          }
                        }
                      },
                      "ClusterSnapshotCopyStatus": {
                        "type": "structure",
                        "members": {
                          "DestinationRegion": {},
                          "ManualSnapshotRetentionPeriod": {
                            "type": "integer"
                          },
                          "RetentionPeriod": {
                            "type": "integer"
                          },
                          "SnapshotCopyGrantName": {}
                        }
                      },
                      "ClusterStatus": {},
                      "ClusterSubnetGroupName": {},
                      "ClusterVersion": {},
                      "DBName": {},
                      "DeferredMaintenanceWindows": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "DeferMaintenanceEndTime": {},
                            "DeferMaintenanceIdentifier": {},
                            "DeferMaintenanceStartTime": {}
                          }
                        }
                      },
                      "ElasticIpStatus": {
                        "type": "structure",
                        "members": {
                          "ElasticIp": {},
                          "Status": {}
                        }
                      },
                      "ElasticResizeNumberOfNodeOptions": {},
                      "Encrypted": {
                        "type": "boolean"
                      },
                      "Endpoint": {
                        "type": "structure",
                        "members": {
                          "Address": {},
                          "Port": {
                            "type": "integer"
                          }
                        }
                      },
                      "EnhancedVpcRouting": {
                        "type": "boolean"
                      },
                      "ExpectedNextSnapshotScheduleTime": {},
                      "ExpectedNextSnapshotScheduleTimeStatus": {},
                      "HsmStatus": {
                        "type": "structure",
                        "members": {
                          "HsmClientCertificateIdentifier": {},
                          "HsmConfigurationIdentifier": {},
                          "Status": {}
                        }
                      },
                      "IamRoles": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "ApplyStatus": {},
                            "IamRoleArn": {}
                          }
                        }
                      },
                      "KmsKeyId": {},
                      "MaintenanceTrackName": {},
                      "ManualSnapshotRetentionPeriod": {
                        "type": "integer"
                      },
                      "MasterUsername": {},
                      "NextMaintenanceWindowStartTime": {},
                      "NodeType": {},
                      "NumberOfNodes": {
                        "type": "integer"
                      },
                      "PendingActions": {
                        "shape": "S13"
                      },
                      "PendingModifiedValues": {
                        "type": "structure",
                        "members": {
                          "AutomatedSnapshotRetentionPeriod": {
                            "type": "integer"
                          },
                          "ClusterIdentifier": {},
                          "ClusterType": {},
                          "ClusterVersion": {},
                          "EncryptionType": {},
                          "EnhancedVpcRouting": {
                            "type": "boolean"
                          },
                          "MaintenanceTrackName": {},
                          "MasterUserPassword": {},
                          "NodeType": {},
                          "NumberOfNodes": {
                            "type": "integer"
                          },
                          "PubliclyAccessible": {
                            "type": "boolean"
                          }
                        }
                      },
                      "PreferredMaintenanceWindow": {},
                      "PubliclyAccessible": {
                        "type": "boolean"
                      },
                      "ResizeInfo": {
                        "type": "structure",
                        "members": {
                          "AllowCancelResize": {
                            "type": "boolean"
                          },
                          "ResizeType": {}
                        }
                      },
                      "RestoreStatus": {
                        "type": "structure",
                        "members": {
                          "CurrentRestoreRateInMegaBytesPerSecond": {
                            "type": "double"
                          },
                          "ElapsedTimeInSeconds": {
                            "type": "long"
                          },
                          "EstimatedTimeToCompletionInSeconds": {
                            "type": "long"
                          },
                          "ProgressInMegaBytes": {
                            "type": "long"
                          },
                          "SnapshotSizeInMegaBytes": {
                            "type": "long"
                          },
                          "Status": {}
                        }
                      },
                      "SnapshotScheduleIdentifier": {},
                      "SnapshotScheduleState": {},
                      "VpcId": {},
                      "VpcSecurityGroups": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Status": {},
                            "VpcSecurityGroupId": {}
                          }
                        }
                      }
                    }
                  },
                  "AwsElbLoadBalancer": {
                    "type": "structure",
                    "members": {
                      "AvailabilityZones": {
                        "shape": "S13"
                      },
                      "BackendServerDescriptions": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "InstancePort": {
                              "type": "integer"
                            },
                            "PolicyNames": {
                              "shape": "S13"
                            }
                          }
                        }
                      },
                      "CanonicalHostedZoneName": {},
                      "CanonicalHostedZoneNameID": {},
                      "CreatedTime": {},
                      "DnsName": {},
                      "HealthCheck": {
                        "type": "structure",
                        "members": {
                          "HealthyThreshold": {
                            "type": "integer"
                          },
                          "Interval": {
                            "type": "integer"
                          },
                          "Target": {},
                          "Timeout": {
                            "type": "integer"
                          },
                          "UnhealthyThreshold": {
                            "type": "integer"
                          }
                        }
                      },
                      "Instances": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "InstanceId": {}
                          }
                        }
                      },
                      "ListenerDescriptions": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Listener": {
                              "type": "structure",
                              "members": {
                                "InstancePort": {
                                  "type": "integer"
                                },
                                "InstanceProtocol": {},
                                "LoadBalancerPort": {
                                  "type": "integer"
                                },
                                "Protocol": {},
                                "SslCertificateId": {}
                              }
                            },
                            "PolicyNames": {
                              "shape": "S13"
                            }
                          }
                        }
                      },
                      "LoadBalancerAttributes": {
                        "type": "structure",
                        "members": {
                          "AccessLog": {
                            "type": "structure",
                            "members": {
                              "EmitInterval": {
                                "type": "integer"
                              },
                              "Enabled": {
                                "type": "boolean"
                              },
                              "S3BucketName": {},
                              "S3BucketPrefix": {}
                            }
                          },
                          "ConnectionDraining": {
                            "type": "structure",
                            "members": {
                              "Enabled": {
                                "type": "boolean"
                              },
                              "Timeout": {
                                "type": "integer"
                              }
                            }
                          },
                          "ConnectionSettings": {
                            "type": "structure",
                            "members": {
                              "IdleTimeout": {
                                "type": "integer"
                              }
                            }
                          },
                          "CrossZoneLoadBalancing": {
                            "type": "structure",
                            "members": {
                              "Enabled": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      },
                      "LoadBalancerName": {},
                      "Policies": {
                        "type": "structure",
                        "members": {
                          "AppCookieStickinessPolicies": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "CookieName": {},
                                "PolicyName": {}
                              }
                            }
                          },
                          "LbCookieStickinessPolicies": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "CookieExpirationPeriod": {
                                  "type": "long"
                                },
                                "PolicyName": {}
                              }
                            }
                          },
                          "OtherPolicies": {
                            "shape": "S13"
                          }
                        }
                      },
                      "Scheme": {},
                      "SecurityGroups": {
                        "shape": "S13"
                      },
                      "SourceSecurityGroup": {
                        "type": "structure",
                        "members": {
                          "GroupName": {},
                          "OwnerAlias": {}
                        }
                      },
                      "Subnets": {
                        "shape": "S13"
                      },
                      "VpcId": {}
                    }
                  },
                  "AwsIamGroup": {
                    "type": "structure",
                    "members": {
                      "AttachedManagedPolicies": {
                        "shape": "S44"
                      },
                      "CreateDate": {},
                      "GroupId": {},
                      "GroupName": {},
                      "GroupPolicyList": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "PolicyName": {}
                          }
                        }
                      },
                      "Path": {}
                    }
                  },
                  "AwsIamRole": {
                    "type": "structure",
                    "members": {
                      "AssumeRolePolicyDocument": {},
                      "AttachedManagedPolicies": {
                        "shape": "S44"
                      },
                      "CreateDate": {},
                      "InstanceProfileList": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Arn": {},
                            "CreateDate": {},
                            "InstanceProfileId": {},
                            "InstanceProfileName": {},
                            "Path": {},
                            "Roles": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "Arn": {},
                                  "AssumeRolePolicyDocument": {},
                                  "CreateDate": {},
                                  "Path": {},
                                  "RoleId": {},
                                  "RoleName": {}
                                }
                              }
                            }
                          }
                        }
                      },
                      "PermissionsBoundary": {
                        "shape": "S46"
                      },
                      "RoleId": {},
                      "RoleName": {},
                      "RolePolicyList": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "PolicyName": {}
                          }
                        }
                      },
                      "MaxSessionDuration": {
                        "type": "integer"
                      },
                      "Path": {}
                    }
                  },
                  "AwsKmsKey": {
                    "type": "structure",
                    "members": {
                      "AWSAccountId": {},
                      "CreationDate": {
                        "type": "double"
                      },
                      "KeyId": {},
                      "KeyManager": {},
[...]
