{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-14",
    "endpointPrefix": "servicediscovery",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ServiceDiscovery",
    "serviceFullName": "Amazon Route 53 Auto Naming",
    "serviceId": "ServiceDiscovery",
    "signatureVersion": "v4",
    "targetPrefix": "Route53AutoNaming_v20170314",
    "uid": "servicediscovery-2017-03-14"
  },
  "operations": {
    "CreatePrivateDnsNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Vpc"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "CreatorRequestId": {
            "shape": "S3",
            "idempotencyToken": true
          },
          "Description": {
            "shape": "S4"
          },
          "Vpc": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreatePublicDnsNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "CreatorRequestId": {
            "shape": "S3",
            "idempotencyToken": true
          },
          "Description": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateService": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "DnsConfig"
        ],
        "members": {
          "Name": {
            "shape": "Sa"
          },
          "CreatorRequestId": {
            "shape": "S3",
            "idempotencyToken": true
          },
          "Description": {
            "shape": "S4"
          },
          "DnsConfig": {
            "shape": "Sb"
          },
          "HealthCheckConfig": {
            "shape": "Sh"
          },
          "HealthCheckCustomConfig": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Service": {
            "shape": "Sn"
          }
        }
      }
    },
    "DeleteNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteService": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId"
        ],
        "members": {
          "ServiceId": {
            "shape": "S3"
          },
          "InstanceId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S6"
          }
        }
      }
    },
    "GetInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId"
        ],
        "members": {
          "ServiceId": {
            "shape": "S3"
          },
          "InstanceId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instance": {
            "type": "structure",
            "required": [
              "Id"
            ],
            "members": {
              "Id": {
                "shape": "S3"
              },
              "CreatorRequestId": {
                "shape": "S3"
              },
              "Attributes": {
                "shape": "S10"
              }
            }
          }
        }
      }
    },
    "GetInstancesHealthStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId"
        ],
        "members": {
          "ServiceId": {
            "shape": "S3"
          },
          "Instances": {
            "type": "list",
            "member": {
              "shape": "S3"
            },
            "min": 1
          },
          "MaxResults": {
            "shape": "S15"
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "map",
            "key": {
              "shape": "S3"
            },
            "value": {
              "type": "string",
              "enum": [
                "HEALTHY",
                "UNHEALTHY",
                "UNKNOWN"
              ]
            }
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "GetNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespace": {
            "type": "structure",
            "members": {
              "Id": {
                "shape": "S3"
              },
              "Arn": {
                "shape": "So"
              },
              "Name": {
                "shape": "S2"
              },
              "Type": {
                "shape": "S1d"
              },
              "Description": {
                "shape": "S4"
              },
              "ServiceCount": {
                "type": "integer"
              },
              "Properties": {
                "type": "structure",
                "members": {
                  "DnsProperties": {
                    "type": "structure",
                    "members": {
                      "HostedZoneId": {
                        "shape": "S3"
                      }
                    }
                  }
                }
              },
              "CreateDate": {
                "type": "timestamp"
              },
              "CreatorRequestId": {
                "shape": "S3"
              }
            }
          }
        }
      }
    },
    "GetOperation": {
      "input": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Operation": {
            "type": "structure",
            "members": {
              "Id": {
                "shape": "S6"
              },
              "Type": {
                "type": "string",
                "enum": [
                  "CREATE_NAMESPACE",
                  "DELETE_NAMESPACE",
                  "UPDATE_SERVICE",
                  "REGISTER_INSTANCE",
                  "DEREGISTER_INSTANCE"
                ]
              },
              "Status": {
                "shape": "S1k"
              },
              "ErrorMessage": {},
              "ErrorCode": {},
              "CreateDate": {
                "type": "timestamp"
              },
              "UpdateDate": {
                "type": "timestamp"
              },
              "Targets": {
                "type": "map",
                "key": {
                  "type": "string",
                  "enum": [
                    "NAMESPACE",
                    "SERVICE",
                    "INSTANCE"
                  ]
                },
                "value": {
                  "shape": "S3"
                }
              }
            }
          }
        }
      }
    },
    "GetService": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Service": {
            "shape": "Sn"
          }
        }
      }
    },
    "ListInstances": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId"
        ],
        "members": {
          "ServiceId": {
            "shape": "S3"
          },
          "NextToken": {
            "shape": "S16"
          },
          "MaxResults": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S3"
                },
                "Attributes": {
                  "shape": "S10"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "ListNamespaces": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S16"
          },
          "MaxResults": {
            "shape": "S15"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {
                  "type": "string",
                  "enum": [
                    "TYPE"
                  ]
                },
                "Values": {
                  "shape": "S1z"
                },
                "Condition": {
                  "shape": "S21"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S3"
                },
                "Arn": {
                  "shape": "So"
                },
                "Name": {
                  "shape": "S2"
                },
                "Type": {
                  "shape": "S1d"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "ListOperations": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S16"
          },
          "MaxResults": {
            "shape": "S15"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {
                  "type": "string",
                  "enum": [
                    "NAMESPACE_ID",
                    "SERVICE_ID",
                    "STATUS",
                    "TYPE",
                    "UPDATE_DATE"
                  ]
                },
                "Values": {
                  "shape": "S1z"
                },
                "Condition": {
                  "shape": "S21"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Operations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S6"
                },
                "Status": {
                  "shape": "S1k"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "ListServices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S16"
          },
          "MaxResults": {
            "shape": "S15"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {
                  "type": "string",
                  "enum": [
                    "NAMESPACE_ID"
                  ]
                },
                "Values": {
                  "shape": "S1z"
                },
                "Condition": {
                  "shape": "S21"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Services": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S3"
                },
                "Arn": {
                  "shape": "So"
                },
                "Name": {
                  "shape": "Sa"
                },
                "Description": {
                  "shape": "S4"
                },
                "InstanceCount": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "RegisterInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId",
          "Attributes"
        ],
        "members": {
          "ServiceId": {
            "shape": "S3"
          },
          "InstanceId": {
            "shape": "S3"
          },
          "CreatorRequestId": {
            "shape": "S3",
            "idempotencyToken": true
          },
          "Attributes": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S6"
          }
        }
      }
    },
    "UpdateInstanceCustomHealthStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId",
          "Status"
        ],
        "members": {
          "ServiceId": {
            "shape": "S3"
          },
          "InstanceId": {
            "shape": "S3"
          },
          "Status": {
            "type": "string",
            "enum": [
              "HEALTHY",
              "UNHEALTHY"
            ]
          }
        }
      }
    },
    "UpdateService": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Service"
        ],
        "members": {
          "Id": {
            "shape": "S3"
          },
          "Service": {
            "type": "structure",
            "required": [
              "DnsConfig"
            ],
            "members": {
              "Description": {
                "shape": "S4"
              },
              "DnsConfig": {
                "type": "structure",
                "required": [
                  "DnsRecords"
                ],
                "members": {
                  "DnsRecords": {
                    "shape": "Sd"
                  }
                }
              },
              "HealthCheckConfig": {
                "shape": "Sh"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S6"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 1024
    },
    "S3": {
      "type": "string",
      "max": 64
    },
    "S4": {
      "type": "string",
      "max": 1024
    },
    "S6": {
      "type": "string",
      "max": 255
    },
    "Sa": {
      "type": "string",
      "pattern": "((?=^.{1,127}$)^([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9])(\\.([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9]))*$)|(^\\.$)"
    },
    "Sb": {
      "type": "structure",
      "required": [
        "NamespaceId",
        "DnsRecords"
      ],
      "members": {
        "NamespaceId": {
          "shape": "S3"
        },
        "RoutingPolicy": {
          "type": "string",
          "enum": [
            "MULTIVALUE",
            "WEIGHTED"
          ]
        },
        "DnsRecords": {
          "shape": "Sd"
        }
      }
    },
    "Sd": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Type",
          "TTL"
        ],
        "members": {
          "Type": {
            "type": "string",
            "enum": [
              "SRV",
              "A",
              "AAAA",
              "CNAME"
            ]
          },
          "TTL": {
            "type": "long",
            "max": 2147483647,
            "min": 0
          }
        }
      }
    },
    "Sh": {
      "type": "structure",
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "HTTP",
            "HTTPS",
            "TCP"
          ]
        },
        "ResourcePath": {
          "type": "string",
          "max": 255
        },
        "FailureThreshold": {
          "shape": "Sk"
        }
      }
    },
    "Sk": {
      "type": "integer",
      "max": 10,
      "min": 1
    },
    "Sl": {
      "type": "structure",
      "members": {
        "FailureThreshold": {
          "shape": "Sk"
        }
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S3"
        },
        "Arn": {
          "shape": "So"
        },
        "Name": {
          "shape": "Sa"
        },
        "Description": {
          "shape": "S4"
        },
        "InstanceCount": {
          "type": "integer"
        },
        "DnsConfig": {
          "shape": "Sb"
        },
        "HealthCheckConfig": {
          "shape": "Sh"
        },
        "HealthCheckCustomConfig": {
          "shape": "Sl"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "CreatorRequestId": {
          "shape": "S3"
        }
      }
    },
    "So": {
      "type": "string",
      "max": 255
    },
    "S10": {
      "type": "map",
      "key": {
        "type": "string",
        "max": 255
      },
      "value": {
        "type": "string",
        "max": 255
      }
    },
    "S15": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S16": {
      "type": "string",
      "max": 4096
    },
    "S1d": {
      "type": "string",
      "enum": [
        "DNS_PUBLIC",
        "DNS_PRIVATE"
      ]
    },
    "S1k": {
      "type": "string",
      "enum": [
        "SUBMITTED",
        "PENDING",
        "SUCCESS",
        "FAIL"
      ]
    },
    "S1z": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 255,
        "min": 1
      }
    },
    "S21": {
      "type": "string",
      "enum": [
        "EQ",
        "IN",
        "BETWEEN"
      ]
    }
  }
}