{
  "metadata": {
    "apiVersion": "2017-09-08",
    "endpointPrefix": "serverlessrepo",
    "signingName": "serverlessrepo",
    "serviceFullName": "AWSServerlessApplicationRepository",
    "serviceId": "ServerlessApplicationRepository",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "serverlessrepo-2017-09-08",
    "signatureVersion": "v4"
  },
  "operations": {
    "CreateApplication": {
      "http": {
        "requestUri": "/applications",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Author": {
            "locationName": "author"
          },
          "Description": {
            "locationName": "description"
          },
          "Labels": {
            "shape": "S3",
            "locationName": "labels"
          },
          "LicenseBody": {
            "locationName": "licenseBody"
          },
          "LicenseUrl": {
            "locationName": "licenseUrl"
          },
          "Name": {
            "locationName": "name"
          },
          "ReadmeBody": {
            "locationName": "readmeBody"
          },
          "ReadmeUrl": {
            "locationName": "readmeUrl"
          },
          "SemanticVersion": {
            "locationName": "semanticVersion"
          },
          "SourceCodeUrl": {
            "locationName": "sourceCodeUrl"
          },
          "SpdxLicenseId": {
            "locationName": "spdxLicenseId"
          },
          "TemplateBody": {
            "locationName": "templateBody"
          },
          "TemplateUrl": {
            "locationName": "templateUrl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "locationName": "applicationId"
          },
          "Author": {
            "locationName": "author"
          },
          "CreationTime": {
            "locationName": "creationTime"
          },
          "Description": {
            "locationName": "description"
          },
          "Labels": {
            "shape": "S3",
            "locationName": "labels"
          },
          "LicenseUrl": {
            "locationName": "licenseUrl"
          },
          "Name": {
            "locationName": "name"
          },
          "ReadmeUrl": {
            "locationName": "readmeUrl"
          },
          "SpdxLicenseId": {
            "locationName": "spdxLicenseId"
          },
          "Version": {
            "shape": "S5",
            "locationName": "version"
          }
        }
      }
    },
    "CreateApplicationVersion": {
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/versions/{semanticVersion}",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "applicationId"
          },
          "SemanticVersion": {
            "location": "uri",
            "locationName": "semanticVersion"
          },
          "SourceCodeUrl": {
            "locationName": "sourceCodeUrl"
          },
          "TemplateBody": {
            "locationName": "templateBody"
          },
          "TemplateUrl": {
            "locationName": "templateUrl"
          }
        },
        "required": [
          "ApplicationId",
          "SemanticVersion"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "locationName": "applicationId"
          },
          "CreationTime": {
            "locationName": "creationTime"
          },
          "ParameterDefinitions": {
            "shape": "S6",
            "locationName": "parameterDefinitions"
          },
          "SemanticVersion": {
            "locationName": "semanticVersion"
          },
          "SourceCodeUrl": {
            "locationName": "sourceCodeUrl"
          },
          "TemplateUrl": {
            "locationName": "templateUrl"
          }
        }
      }
    },
    "CreateCloudFormationChangeSet": {
      "http": {
        "requestUri": "/applications/{applicationId}/changesets",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "applicationId"
          },
          "ParameterOverrides": {
            "locationName": "parameterOverrides",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "locationName": "name"
                },
                "Value": {
                  "locationName": "value"
                }
              }
            }
          },
          "SemanticVersion": {
            "locationName": "semanticVersion"
          },
          "StackName": {
            "locationName": "stackName"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "locationName": "applicationId"
          },
          "ChangeSetId": {
            "locationName": "changeSetId"
          },
          "SemanticVersion": {
            "locationName": "semanticVersion"
          },
          "StackId": {
            "locationName": "stackId"
          }
        }
      }
    },
    "GetApplication": {
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "applicationId"
          },
          "SemanticVersion": {
            "location": "querystring",
            "locationName": "semanticVersion"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "locationName": "applicationId"
          },
          "Author": {
            "locationName": "author"
          },
          "CreationTime": {
            "locationName": "creationTime"
          },
          "Description": {
            "locationName": "description"
          },
          "Labels": {
            "shape": "S3",
            "locationName": "labels"
          },
          "LicenseUrl": {
            "locationName": "licenseUrl"
          },
          "Name": {
            "locationName": "name"
          },
          "ReadmeUrl": {
            "locationName": "readmeUrl"
          },
          "SpdxLicenseId": {
            "locationName": "spdxLicenseId"
          },
          "Version": {
            "shape": "S5",
            "locationName": "version"
          }
        }
      }
    },
    "GetApplicationPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "applicationId"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Statements": {
            "shape": "Sk",
            "locationName": "statements"
          }
        }
      }
    },
    "ListApplicationVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "applicationId"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxItems",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Versions": {
            "locationName": "versions",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ApplicationId": {
                  "locationName": "applicationId"
                },
                "CreationTime": {
                  "locationName": "creationTime"
                },
                "SemanticVersion": {
                  "locationName": "semanticVersion"
                },
                "SourceCodeUrl": {
                  "locationName": "sourceCodeUrl"
                }
              }
            }
          }
        }
      }
    },
    "ListApplications": {
      "http": {
        "method": "GET",
        "requestUri": "/applications",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxItems",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Applications": {
            "locationName": "applications",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ApplicationId": {
                  "locationName": "applicationId"
                },
                "Author": {
                  "locationName": "author"
                },
                "CreationTime": {
                  "locationName": "creationTime"
                },
                "Description": {
                  "locationName": "description"
                },
                "Labels": {
                  "shape": "S3",
                  "locationName": "labels"
                },
                "Name": {
                  "locationName": "name"
                },
                "SpdxLicenseId": {
                  "locationName": "spdxLicenseId"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "PutApplicationPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "applicationId"
          },
          "Statements": {
            "shape": "Sk",
            "locationName": "statements"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Statements": {
            "shape": "Sk",
            "locationName": "statements"
          }
        }
      }
    },
    "UpdateApplication": {
      "http": {
        "method": "PATCH",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "applicationId"
          },
          "Author": {
            "locationName": "author"
          },
          "Description": {
            "locationName": "description"
          },
          "Labels": {
            "shape": "S3",
            "locationName": "labels"
          },
          "ReadmeBody": {
            "locationName": "readmeBody"
          },
          "ReadmeUrl": {
            "locationName": "readmeUrl"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "locationName": "applicationId"
          },
          "Author": {
            "locationName": "author"
          },
          "CreationTime": {
            "locationName": "creationTime"
          },
          "Description": {
            "locationName": "description"
          },
          "Labels": {
            "shape": "S3",
            "locationName": "labels"
          },
          "LicenseUrl": {
            "locationName": "licenseUrl"
          },
          "Name": {
            "locationName": "name"
          },
          "ReadmeUrl": {
            "locationName": "readmeUrl"
          },
          "SpdxLicenseId": {
            "locationName": "spdxLicenseId"
          },
          "Version": {
            "shape": "S5",
            "locationName": "version"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {}
    },
    "S5": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "locationName": "applicationId"
        },
        "CreationTime": {
          "locationName": "creationTime"
        },
        "ParameterDefinitions": {
          "shape": "S6",
          "locationName": "parameterDefinitions"
        },
        "SemanticVersion": {
          "locationName": "semanticVersion"
        },
        "SourceCodeUrl": {
          "locationName": "sourceCodeUrl"
        },
        "TemplateUrl": {
          "locationName": "templateUrl"
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AllowedPattern": {
            "locationName": "allowedPattern"
          },
          "AllowedValues": {
            "shape": "S3",
            "locationName": "allowedValues"
          },
          "ConstraintDescription": {
            "locationName": "constraintDescription"
          },
          "DefaultValue": {
            "locationName": "defaultValue"
          },
          "Description": {
            "locationName": "description"
          },
          "MaxLength": {
            "locationName": "maxLength",
            "type": "integer"
          },
          "MaxValue": {
            "locationName": "maxValue",
            "type": "integer"
          },
          "MinLength": {
            "locationName": "minLength",
            "type": "integer"
          },
          "MinValue": {
            "locationName": "minValue",
            "type": "integer"
          },
          "Name": {
            "locationName": "name"
          },
          "NoEcho": {
            "locationName": "noEcho",
            "type": "boolean"
          },
          "ReferencedByResources": {
            "shape": "S3",
            "locationName": "referencedByResources"
          },
          "Type": {
            "locationName": "type"
          }
        }
      }
    },
    "Sk": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Actions": {
            "shape": "S3",
            "locationName": "actions"
          },
          "Principals": {
            "shape": "S3",
            "locationName": "principals"
          },
          "StatementId": {
            "locationName": "statementId"
          }
        }
      }
    }
  },
  "authorizers": {
    "authorization_strategy": {
      "name": "authorization_strategy",
      "type": "provided",
      "placement": {
        "location": "header",
        "name": "Authorization"
      }
    }
  }
}