{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-14",
    "endpointPrefix": "servicediscovery",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ServiceDiscovery",
    "serviceFullName": "AWS Cloud Map",
    "serviceId": "ServiceDiscovery",
    "signatureVersion": "v4",
    "targetPrefix": "Route53AutoNaming_v20170314",
    "uid": "servicediscovery-2017-03-14"
  },
  "operations": {
    "CreateHttpNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Description": {},
          "Tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "CreatePrivateDnsNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Vpc"
        ],
        "members": {
          "Name": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Description": {},
          "Vpc": {},
          "Tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "CreatePublicDnsNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Description": {},
          "Tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "CreateService": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "NamespaceId": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Description": {},
          "DnsConfig": {
            "shape": "Sh"
          },
          "HealthCheckConfig": {
            "shape": "Sn"
          },
          "HealthCheckCustomConfig": {
            "shape": "Sr"
          },
          "Tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Service": {
            "shape": "St"
          }
        }
      }
    },
    "DeleteNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "DeleteService": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "DiscoverInstances": {
      "input": {
        "type": "structure",
        "required": [
          "NamespaceName",
          "ServiceName"
        ],
        "members": {
          "NamespaceName": {},
          "ServiceName": {},
          "MaxResults": {
            "type": "integer"
          },
          "QueryParameters": {
            "shape": "S15"
          },
          "OptionalParameters": {
            "shape": "S15"
          },
          "HealthStatus": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InstanceId": {},
                "NamespaceName": {},
                "ServiceName": {},
                "HealthStatus": {},
                "Attributes": {
                  "shape": "S15"
                }
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "data-"
      }
    },
    "GetInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instance": {
            "type": "structure",
            "required": [
              "Id"
            ],
            "members": {
              "Id": {},
              "CreatorRequestId": {},
              "Attributes": {
                "shape": "S15"
              }
            }
          }
        }
      }
    },
    "GetInstancesHealthStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId"
        ],
        "members": {
          "ServiceId": {},
          "Instances": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "map",
            "key": {},
            "value": {}
          },
          "NextToken": {}
        }
      }
    },
    "GetNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespace": {
            "type": "structure",
            "members": {
              "Id": {},
              "Arn": {},
              "Name": {},
              "Type": {},
              "Description": {},
              "ServiceCount": {
                "type": "integer"
              },
              "Properties": {
                "shape": "S1q"
              },
              "CreateDate": {
                "type": "timestamp"
              },
              "CreatorRequestId": {}
            }
          }
        }
      }
    },
    "GetOperation": {
      "input": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Operation": {
            "type": "structure",
            "members": {
              "Id": {},
              "Type": {},
              "Status": {},
              "ErrorMessage": {},
              "ErrorCode": {},
              "CreateDate": {
                "type": "timestamp"
              },
              "UpdateDate": {
                "type": "timestamp"
              },
              "Targets": {
                "type": "map",
                "key": {},
                "value": {}
              }
            }
          }
        }
      }
    },
    "GetService": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Service": {
            "shape": "St"
          }
        }
      }
    },
    "ListInstances": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId"
        ],
        "members": {
          "ServiceId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Attributes": {
                  "shape": "S15"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNamespaces": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {},
                "Values": {
                  "shape": "S2c"
                },
                "Condition": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "Type": {},
                "Description": {},
                "ServiceCount": {
                  "type": "integer"
                },
                "Properties": {
                  "shape": "S1q"
                },
                "CreateDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListOperations": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {},
                "Values": {
                  "shape": "S2c"
                },
                "Condition": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Operations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListServices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {},
                "Values": {
                  "shape": "S2c"
                },
                "Condition": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Services": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "Description": {},
                "InstanceCount": {
                  "type": "integer"
                },
                "DnsConfig": {
                  "shape": "Sh"
                },
                "HealthCheckConfig": {
                  "shape": "Sn"
                },
                "HealthCheckCustomConfig": {
                  "shape": "Sr"
                },
                "CreateDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN"
        ],
        "members": {
          "ResourceARN": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S5"
          }
        }
      }
    },
    "RegisterInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId",
          "Attributes"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Attributes": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "Tags"
        ],
        "members": {
          "ResourceARN": {},
          "Tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "TagKeys"
        ],
        "members": {
          "ResourceARN": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateInstanceCustomHealthStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId",
          "Status"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {},
          "Status": {}
        }
      }
    },
    "UpdateService": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Service"
        ],
        "members": {
          "Id": {},
          "Service": {
            "type": "structure",
            "members": {
              "Description": {},
              "DnsConfig": {
                "type": "structure",
                "required": [
                  "DnsRecords"
                ],
                "members": {
                  "DnsRecords": {
                    "shape": "Sj"
                  }
                }
              },
              "HealthCheckConfig": {
                "shape": "Sn"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Sh": {
      "type": "structure",
      "required": [
        "DnsRecords"
      ],
      "members": {
        "NamespaceId": {
          "deprecated": true,
          "deprecatedMessage": "Top level attribute in request should be used to reference namespace-id"
        },
        "RoutingPolicy": {},
        "DnsRecords": {
          "shape": "Sj"
        }
      }
    },
    "Sj": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Type",
          "TTL"
        ],
        "members": {
          "Type": {},
          "TTL": {
            "type": "long"
          }
        }
      }
    },
    "Sn": {
      "type": "structure",
      "required": [
        "Type"
      ],
      "members": {
        "Type": {},
        "ResourcePath": {},
        "FailureThreshold": {
          "type": "integer"
        }
      }
    },
    "Sr": {
      "type": "structure",
      "members": {
        "FailureThreshold": {
          "type": "integer"
        }
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "Id": {},
        "Arn": {},
        "Name": {},
        "NamespaceId": {},
        "Description": {},
        "InstanceCount": {
          "type": "integer"
        },
        "DnsConfig": {
          "shape": "Sh"
        },
        "HealthCheckConfig": {
          "shape": "Sn"
        },
        "HealthCheckCustomConfig": {
          "shape": "Sr"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "CreatorRequestId": {}
      }
    },
    "S15": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1q": {
      "type": "structure",
      "members": {
        "DnsProperties": {
          "type": "structure",
          "members": {
            "HostedZoneId": {}
          }
        },
        "HttpProperties": {
          "type": "structure",
          "members": {
            "HttpName": {}
          }
        }
      }
    },
    "S2c": {
      "type": "list",
      "member": {}
    }
  }
}