{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-03-14",
    "endpointPrefix":"servicediscovery",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"ServiceDiscovery",
    "serviceFullName":"Amazon Route 53 Auto Naming",
    "serviceId":"ServiceDiscovery",
    "signatureVersion":"v4",
    "targetPrefix":"Route53AutoNaming_v20170314",
    "uid":"servicediscovery-2017-03-14"
  },
  "operations":{
    "CreatePrivateDnsNamespace":{
      "name":"CreatePrivateDnsNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePrivateDnsNamespaceRequest"},
      "output":{"shape":"CreatePrivateDnsNamespaceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NamespaceAlreadyExists"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"DuplicateRequest"}
      ],
      "documentation":"<p>Creates a private namespace based on DNS, which will be visible only inside a specified Amazon VPC. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. You can associate more than one service with the same namespace.</p>"
    },
    "CreatePublicDnsNamespace":{
      "name":"CreatePublicDnsNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePublicDnsNamespaceRequest"},
      "output":{"shape":"CreatePublicDnsNamespaceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NamespaceAlreadyExists"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"DuplicateRequest"}
      ],
      "documentation":"<p>Creates a public namespace based on DNS, which will be visible on the internet. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. You can associate more than one service with the same namespace.</p>"
    },
    "CreateService":{
      "name":"CreateService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceRequest"},
      "output":{"shape":"CreateServiceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"NamespaceNotFound"},
        {"shape":"ServiceAlreadyExists"}
      ],
      "documentation":"<p>Creates a service, which defines a template for the following entities:</p> <ul> <li> <p>One to five resource record sets</p> </li> <li> <p>Optionally, a health check</p> </li> </ul> <p>After you create the service, you can submit a <a>RegisterInstance</a> request, and Amazon Route 53 uses the values in the template to create the specified entities. </p>"
    },
    "DeleteNamespace":{
      "name":"DeleteNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNamespaceRequest"},
      "output":{"shape":"DeleteNamespaceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NamespaceNotFound"},
        {"shape":"ResourceInUse"},
        {"shape":"DuplicateRequest"}
      ],
      "documentation":"<p>Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.</p>"
    },
    "DeleteService":{
      "name":"DeleteService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceRequest"},
      "output":{"shape":"DeleteServiceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"ServiceNotFound"},
        {"shape":"ResourceInUse"}
      ],
      "documentation":"<p>Deletes a specified service. If the service still contains one or more registered instances, the request fails.</p>"
    },
    "DeregisterInstance":{
      "name":"DeregisterInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterInstanceRequest"},
      "output":{"shape":"DeregisterInstanceResponse"},
      "errors":[
        {"shape":"DuplicateRequest"},
        {"shape":"InvalidInput"},
        {"shape":"InstanceNotFound"},
        {"shape":"ResourceInUse"},
        {"shape":"ServiceNotFound"}
      ],
      "documentation":"<p>Deletes the resource record sets and the health check, if any, that Amazon Route 53 created for the specified instance.</p>"
    },
    "GetInstance":{
      "name":"GetInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceRequest"},
      "output":{"shape":"GetInstanceResponse"},
      "errors":[
        {"shape":"InstanceNotFound"},
        {"shape":"InvalidInput"},
        {"shape":"ServiceNotFound"}
      ],
      "documentation":"<p>Gets information about a specified instance.</p>"
    },
    "GetInstancesHealthStatus":{
      "name":"GetInstancesHealthStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstancesHealthStatusRequest"},
      "output":{"shape":"GetInstancesHealthStatusResponse"},
      "errors":[
        {"shape":"InstanceNotFound"},
        {"shape":"InvalidInput"},
        {"shape":"ServiceNotFound"}
      ],
      "documentation":"<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances that are associated with a specified service.</p>"
    },
    "GetNamespace":{
      "name":"GetNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetNamespaceRequest"},
      "output":{"shape":"GetNamespaceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NamespaceNotFound"}
      ],
      "documentation":"<p>Gets information about a namespace.</p>"
    },
    "GetOperation":{
      "name":"GetOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOperationRequest"},
      "output":{"shape":"GetOperationResponse"},
      "errors":[
        {"shape":"OperationNotFound"}
      ],
      "documentation":"<p>Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request. To get a list of operations that match specified criteria, see <a>ListOperations</a>.</p>"
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceRequest"},
      "output":{"shape":"GetServiceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"ServiceNotFound"}
      ],
      "documentation":"<p>Gets the settings for a specified service.</p>"
    },
    "ListInstances":{
      "name":"ListInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstancesRequest"},
      "output":{"shape":"ListInstancesResponse"},
      "errors":[
        {"shape":"ServiceNotFound"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets summary information about the instances that you created by using a specified service.</p>"
    },
    "ListNamespaces":{
      "name":"ListNamespaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNamespacesRequest"},
      "output":{"shape":"ListNamespacesResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about the namespaces that were created by the current AWS account.</p>"
    },
    "ListOperations":{
      "name":"ListOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOperationsRequest"},
      "output":{"shape":"ListOperationsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Lists operations that match the criteria that you specify.</p>"
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServicesRequest"},
      "output":{"shape":"ListServicesResponse"},
      "documentation":"<p>Gets settings for all the services that are associated with one or more specified namespaces.</p>"
    },
    "RegisterInstance":{
      "name":"RegisterInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterInstanceRequest"},
      "output":{"shape":"RegisterInstanceResponse"},
      "errors":[
        {"shape":"DuplicateRequest"},
        {"shape":"InvalidInput"},
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ServiceNotFound"}
      ],
      "documentation":"<p>Creates one or more resource record sets and optionally a health check based on the settings in a specified service. When you submit a <code>RegisterInstance</code> request, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a resource record set for each resource record set template in the service</p> </li> <li> <p>Creates a health check based on the settings in the health check template in the service, if any</p> </li> <li> <p>Associates the health check, if any, with each of the resource record sets</p> </li> </ul> <important> <p>One <code>RegisterInstance</code> request must complete before you can submit another request and specify the same service and instance ID.</p> </important> <p>For more information, see <a>CreateService</a>.</p> <p>When Amazon Route 53 receives a DNS query for the specified DNS name, it returns the applicable value:</p> <ul> <li> <p> <b>If the health check is healthy</b>: returns all the resource record sets</p> </li> <li> <p> <b>If the health check is unhealthy</b>: returns the IP address of the last healthy instance</p> </li> <li> <p> <b>If you didn't specify a health check template</b>: returns all the resource record sets</p> </li> </ul>"
    },
    "UpdateService":{
      "name":"UpdateService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceRequest"},
      "output":{"shape":"UpdateServiceResponse"},
      "errors":[
        {"shape":"DuplicateRequest"},
        {"shape":"InvalidInput"},
        {"shape":"ServiceNotFound"}
      ],
      "documentation":"<p>Updates the TTL setting for a specified service. You must specify all the resource record set templates (and, optionally, a health check template) that you want to appear in the updated service. Any current resource record set templates (or health check template) that don't appear in an <code>UpdateService</code> request are deleted.</p> <p>When you update the TTL setting for a service, Amazon Route 53 also updates the corresponding settings in all the resource record sets and health checks that were created by using the specified service.</p>"
    }
  },
  "shapes":{
    "Arn":{
      "type":"string",
      "max":255
    },
    "AttrKey":{
      "type":"string",
      "max":255
    },
    "AttrValue":{
      "type":"string",
      "max":255
    },
    "Attributes":{
      "type":"map",
      "key":{"shape":"AttrKey"},
      "value":{"shape":"AttrValue"}
    },
    "Code":{"type":"string"},
    "CreatePrivateDnsNamespaceRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Vpc"
      ],
      "members":{
        "Name":{
          "shape":"NamespaceName",
          "documentation":"<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>"
        },
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "idempotencyToken":true
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>A description for the namespace.</p>"
        },
        "Vpc":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>"
        }
      }
    },
    "CreatePrivateDnsNamespaceResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>"
        }
      }
    },
    "CreatePublicDnsNamespaceRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"NamespaceName",
          "documentation":"<p>The name that you want to assign to this namespace.</p>"
        },
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "idempotencyToken":true
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>A description for the namespace.</p>"
        }
      }
    },
    "CreatePublicDnsNamespaceResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>"
        }
      }
    },
    "CreateServiceRequest":{
      "type":"structure",
      "required":[
        "Name",
        "DnsConfig"
      ],
      "members":{
        "Name":{
          "shape":"ServiceName",
          "documentation":"<p>The name that you want to assign to the service.</p>"
        },
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "idempotencyToken":true
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>A description for the service.</p>"
        },
        "DnsConfig":{
          "shape":"DnsConfig",
          "documentation":"<p>A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance. </p>"
        },
        "HealthCheckConfig":{
          "shape":"HealthCheckConfig",
          "documentation":"<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, Amazon Route 53 associates the health check with all the resource record sets that you specify in <code>DnsConfig</code>.</p> <note> <p>The health check uses 30 seconds as the request interval. This is the number of seconds between the time that each Amazon Route 53 health checker gets a response from your endpoint and the time that it sends the next health check request. A health checker in each data center around the world sends your endpoint a health check request every 30 seconds. On average, your endpoint receives a health check request about every two seconds. Health checkers in different data centers don't coordinate with one another, so you'll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> </note> <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/route53/pricing\">Amazon Route 53 Pricing</a>.</p>"
        }
      }
    },
    "CreateServiceResponse":{
      "type":"structure",
      "members":{
        "Service":{
          "shape":"Service",
          "documentation":"<p>A complex type that contains information about the new service.</p>"
        }
      }
    },
    "DeleteNamespaceRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the namespace that you want to delete.</p>"
        }
      }
    },
    "DeleteNamespaceResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>"
        }
      }
    },
    "DeleteServiceRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that you want to delete.</p>"
        }
      }
    },
    "DeleteServiceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterInstanceRequest":{
      "type":"structure",
      "required":[
        "ServiceId",
        "InstanceId"
      ],
      "members":{
        "ServiceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that the instance is associated with.</p>"
        },
        "InstanceId":{
          "shape":"ResourceId",
          "documentation":"<p>The value that you specified for <code>Id</code> in the <a>RegisterInstance</a> request.</p>"
        }
      }
    },
    "DeregisterInstanceResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>A value that you can use to determine whether the request completed successfully. For more information, see <a>GetOperation</a>.</p>"
        }
      }
    },
    "DnsConfig":{
      "type":"structure",
      "required":[
        "NamespaceId",
        "DnsRecords"
      ],
      "members":{
        "NamespaceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the namespace to use for DNS configuration.</p>"
        },
        "DnsRecords":{
          "shape":"DnsRecordList",
          "documentation":"<p>An array that contains one <code>DnsRecord</code> object for each resource record set that you want Amazon Route 53 to create when you register an instance.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.</p>"
    },
    "DnsConfigChange":{
      "type":"structure",
      "required":["DnsRecords"],
      "members":{
        "DnsRecords":{
          "shape":"DnsRecordList",
          "documentation":"<p>An array that contains one <code>DnsRecord</code> object for each resource record set that you want Amazon Route 53 to create when you register an instance.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about changes to the resource record sets that Amazon Route 53 creates when you register an instance.</p>"
    },
    "DnsProperties":{
      "type":"structure",
      "members":{
        "HostedZoneId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID for the hosted zone that Amazon Route 53 creates when you create a namespace.</p>"
        }
      },
      "documentation":"<p>A complex type that contains the ID for the hosted zone that Amazon Route 53 creates when you create a namespace.</p>"
    },
    "DnsRecord":{
      "type":"structure",
      "required":[
        "Type",
        "TTL"
      ],
      "members":{
        "Type":{
          "shape":"RecordType",
          "documentation":"<p>The type of the resource, which indicates the value that Amazon Route 53 returns in response to DNS queries. The following values are supported:</p> <ul> <li> <p> <b>A</b>: Amazon Route 53 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p> </li> <li> <p> <b>AAAA</b>: Amazon Route 53 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p> </li> <li> <p> <b>SRV</b>: Amazon Route 53 returns the value for an SRV record. The value for an SRV record uses the following template, which can't be changed:</p> <p> <code>priority weight port resource-record-set-name</code> </p> <p>The values of <code>priority</code> and <code>weight</code> are both set to 1. The value of port comes from the value that you specify for <code>Port</code> when you submit a <a>RegisterInstance</a> request.</p> </li> </ul>"
        },
        "TTL":{
          "shape":"RecordTTL",
          "documentation":"<p>The amount of time, in seconds, that you want DNS resolvers to cache the settings for this resource record set.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.</p>"
    },
    "DnsRecordList":{
      "type":"list",
      "member":{"shape":"DnsRecord"}
    },
    "DuplicateRequest":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>This request tried to create an object that already exists.</p>",
      "exception":true
    },
    "ErrorMessage":{"type":"string"},
    "FailureThreshold":{
      "type":"integer",
      "max":10,
      "min":1
    },
    "FilterCondition":{
      "type":"string",
      "enum":[
        "EQ",
        "IN",
        "BETWEEN"
      ]
    },
    "FilterValue":{
      "type":"string",
      "max":255,
      "min":1
    },
    "FilterValues":{
      "type":"list",
      "member":{"shape":"FilterValue"}
    },
    "GetInstanceRequest":{
      "type":"structure",
      "required":[
        "ServiceId",
        "InstanceId"
      ],
      "members":{
        "ServiceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that the instance is associated with.</p>"
        },
        "InstanceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the instance that you want to get information about.</p>"
        }
      }
    },
    "GetInstanceResponse":{
      "type":"structure",
      "members":{
        "Instance":{
          "shape":"Instance",
          "documentation":"<p>A complex type that contains information about a specified instance.</p>"
        }
      }
    },
    "GetInstancesHealthStatusRequest":{
      "type":"structure",
      "required":["ServiceId"],
      "members":{
        "ServiceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that the instance is associated with.</p>"
        },
        "Instances":{
          "shape":"InstanceIdList",
          "documentation":"<p>An array that contains the IDs of all the instances that you want to get the health status for. To get the IDs for the instances that you've created by using a specified service, submit a <a>ListInstances</a> request.</p> <p>If you omit <code>Instances</code>, Amazon Route 53 returns the health status for all the instances that are associated with the specified service.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of instances that you want Amazon Route 53 to return in the response to a <code>GetInstancesHealthStatus</code> request. If you don't specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 instances.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>For the first <code>GetInstancesHealthStatus</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        }
      }
    },
    "GetInstancesHealthStatusResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"InstanceHealthStatusMap",
          "documentation":"<p>A complex type that contains the IDs and the health status of the instances that you specified in the <code>GetInstancesHealthStatus</code> request.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        }
      }
    },
    "GetNamespaceRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the namespace that you want to get information about.</p>"
        }
      }
    },
    "GetNamespaceResponse":{
      "type":"structure",
      "members":{
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>A complex type that contains information about the specified namespace.</p>"
        }
      }
    },
    "GetOperationRequest":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the operation that you want to get more information about.</p>"
        }
      }
    },
    "GetOperationResponse":{
      "type":"structure",
      "members":{
        "Operation":{
          "shape":"Operation",
          "documentation":"<p>A complex type that contains information about the operation.</p>"
        }
      }
    },
    "GetServiceRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that you want to get settings for.</p>"
        }
      }
    },
    "GetServiceResponse":{
      "type":"structure",
      "members":{
        "Service":{
          "shape":"Service",
          "documentation":"<p>A complex type that contains information about the service.</p>"
        }
      }
    },
    "HealthCheckConfig":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"HealthCheckType",
          "documentation":"<p>The type of health check that you want to create, which indicates how Amazon Route 53 determines whether an endpoint is healthy.</p> <important> <p>You can't change the value of <code>Type</code> after you create a health check.</p> </important> <p>You can create the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>: Amazon Route 53 tries to establish a TCP connection. If successful, Amazon Route 53 submits an HTTP request and waits for an HTTP status code of 200 or greater and less than 400.</p> </li> <li> <p> <b>HTTPS</b>: Amazon Route 53 tries to establish a TCP connection. If successful, Amazon Route 53 submits an HTTPS request and waits for an HTTP status code of 200 or greater and less than 400.</p> <important> <p>If you specify HTTPS for the value of <code>Type</code>, the endpoint must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>TCP</b>: Amazon Route 53 tries to establish a TCP connection.</p> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Amazon Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
        },
        "ResourcePath":{
          "shape":"ResourcePath",
          "documentation":"<p>The path that you want Amazon Route 53 to request when performing health checks. The path can be any value for which your endpoint will return an HTTP status code of 2xx or 3xx when the endpoint is healthy, such as the file <code>/docs/route53-health-check.html</code>. Amazon Route 53 automatically adds the DNS name for the service and a leading forward slash (<code>/</code>) character. </p>"
        },
        "FailureThreshold":{
          "shape":"FailureThreshold",
          "documentation":"<p>The number of consecutive health checks that an endpoint must pass or fail for Amazon Route 53 to change the current status of the endpoint from unhealthy to healthy or vice versa. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Amazon Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, Amazon Route 53 associates the health check with all the resource record sets that you specify in <code>DnsConfig</code>.</p> <note> <p>The health check uses 30 seconds as the request interval. This is the number of seconds between the time that each Amazon Route 53 health checker gets a response from your endpoint and the time that it sends the next health check request. A health checker in each data center around the world sends your endpoint a health check request every 30 seconds. On average, your endpoint receives a health check request about every two seconds. Health checkers in different data centers don't coordinate with one another, so you'll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> </note> <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/route53/pricing\">Amazon Route 53 Pricing</a>.</p>"
    },
    "HealthCheckType":{
      "type":"string",
      "enum":[
        "HTTP",
        "HTTPS",
        "TCP"
      ]
    },
    "HealthStatus":{
      "type":"string",
      "enum":[
        "HEALTHY",
        "UNHEALTHY",
        "UNKNOWN"
      ]
    },
    "Instance":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To associate a new instance, you must specify a value that is unique among instances that you associate by using the same service.</p> </li> </ul>"
        },
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>"
        },
        "Attributes":{
          "shape":"Attributes",
          "documentation":"<p>A string map that contains attribute keys and values. Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_INSTANCE_PORT</code>: The port on the endpoint that you want Amazon Route 53 to perform health checks on. This value is also used for the port value in an SRV record if the service that you specify includes an SRV record. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_IP</code>: If the service that you specify contains a resource record set template for an A or AAAA record, the IP address that you want Amazon Route 53 to use for the value of the A record.</p> </li> <li> <p> <code>AWS_INSTANCE_WEIGHT</code>: The weight value in an SRV record if the service that you specify includes an SRV record. You can also specify a default weight that is applied to all instances in the <code>Service</code> configuration. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_PRIORITY</code>: The priority value in an SRV record if the service that you specify includes an SRV record.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A complex type that contains information about an instance that Amazon Route 53 creates when you submit a <code>RegisterInstance</code> request.</p>"
    },
    "InstanceHealthStatusMap":{
      "type":"map",
      "key":{"shape":"ResourceId"},
      "value":{"shape":"HealthStatus"}
    },
    "InstanceIdList":{
      "type":"list",
      "member":{"shape":"ResourceId"},
      "min":1
    },
    "InstanceNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>No instance exists with the specified ID.</p>",
      "exception":true
    },
    "InstanceSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID for an instance that you created by using a specified service.</p>"
        },
        "Attributes":{
          "shape":"Attributes",
          "documentation":"<p>A string map that contain attribute keys and values for an instance. Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_INSTANCE_PORT</code>: The port on the endpoint that you want Amazon Route 53 to perform health checks on. This value is also used for the port value in an SRV record if the service that you specify includes an SRV record. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_IP</code>: If the service that you specify contains a resource record set template for an A or AAAA record, the IP address that you want Amazon Route 53 to use for the value of the A record.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A complex type that contains information about the instances that you created by using a specified service.</p>"
    },
    "InstanceSummaryList":{
      "type":"list",
      "member":{"shape":"InstanceSummary"}
    },
    "InvalidInput":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
      "exception":true
    },
    "ListInstancesRequest":{
      "type":"structure",
      "required":["ServiceId"],
      "members":{
        "ServiceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that you want to list instances for.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>For the first <code>ListInstances</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of instances that you want Amazon Route 53 to return in the response to a <code>ListInstances</code> request. If you don't specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 instances.</p>"
        }
      }
    },
    "ListInstancesResponse":{
      "type":"structure",
      "members":{
        "Instances":{
          "shape":"InstanceSummaryList",
          "documentation":"<p>Summary information about the instances that are associated with the specified service.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        }
      }
    },
    "ListNamespacesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>For the first <code>ListNamespaces</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> namespaces match the specified criteria, you can submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of namespaces that you want Amazon Route 53 to return in the response to a <code>ListNamespaces</code> request. If you don't specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 namespaces.</p>"
        },
        "Filters":{
          "shape":"NamespaceFilters",
          "documentation":"<p>A complex type that contains specifications for the namespaces that you want to list.</p> <p>If you specify more than one filter, an operation must match all filters to be returned by ListNamespaces.</p>"
        }
      }
    },
    "ListNamespacesResponse":{
      "type":"structure",
      "members":{
        "Namespaces":{
          "shape":"NamespaceSummariesList",
          "documentation":"<p>An array that contains one <code>NamespaceSummary</code> object for each namespace that matches the specified filter criteria.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If more than <code>MaxResults</code> namespaces match the specified criteria, you can submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        }
      }
    },
    "ListOperationsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>For the first <code>ListOperations</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> operations match the specified criteria, you can submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of items that you want Amazon Route 53 to return in the response to a <code>ListOperations</code> request. If you don't specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 operations.</p>"
        },
        "Filters":{
          "shape":"OperationFilters",
          "documentation":"<p>A complex type that contains specifications for the operations that you want to list, for example, operations that you started between a specified start date and end date.</p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListOperations</code>.</p>"
        }
      }
    },
    "ListOperationsResponse":{
      "type":"structure",
      "members":{
        "Operations":{
          "shape":"OperationSummaryList",
          "documentation":"<p>Summary information about the operations that match the specified criteria.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If more than <code>MaxResults</code> operations match the specified criteria, you can submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        }
      }
    },
    "ListServicesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>For the first <code>ListServices</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> services match the specified criteria, you can submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of services that you want Amazon Route 53 to return in the response to a <code>ListServices</code> request. If you don't specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 services.</p>"
        },
        "Filters":{
          "shape":"ServiceFilters",
          "documentation":"<p>A complex type that contains specifications for the namespaces that you want to list services for. </p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListServices</code>.</p>"
        }
      }
    },
    "ListServicesResponse":{
      "type":"structure",
      "members":{
        "Services":{
          "shape":"ServiceSummariesList",
          "documentation":"<p>An array that contains one <code>ServiceSummary</code> object for each service that matches the specified filter criteria.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If more than <code>MaxResults</code> operations match the specified criteria, the value of <code>NextToken</code> is the first service in the next group of services that were created by the current AWS account. To get the next group, specify the value of <code>NextToken</code> from the previous response in the next request.</p>"
        }
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "Message":{"type":"string"},
    "Namespace":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of a namespace.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the namespace when you create it.</p>"
        },
        "Name":{
          "shape":"NamespaceName",
          "documentation":"<p>The name of the namespace, such as <code>example.com</code>.</p>"
        },
        "Type":{
          "shape":"NamespaceType",
          "documentation":"<p>The type of the namespace. Valid values are <code>DNS_PUBLIC</code> and <code>DNS_PRIVATE</code>.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description that you specify for the namespace when you create it.</p>"
        },
        "ServiceCount":{
          "shape":"ResourceCount",
          "documentation":"<p>The number of services that are associated with the namespace.</p>"
        },
        "Properties":{
          "shape":"NamespaceProperties",
          "documentation":"<p>A complex type that contains information that's specific to the type of the namespace.</p>"
        },
        "CreateDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date that the namespace was created, in Unix date/time format and Coordinated Universal Time (UTC).</p>"
        },
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about a specified namespace.</p>"
    },
    "NamespaceAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"},
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>The <code>CreatorRequestId</code> that was used to create the namespace.</p>"
        },
        "NamespaceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the existing namespace.</p>"
        }
      },
      "documentation":"<p>The namespace that you're trying to create already exists.</p>",
      "exception":true
    },
    "NamespaceFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{
          "shape":"NamespaceFilterName",
          "documentation":"<p>Specify <code>TYPE</code>.</p>"
        },
        "Values":{
          "shape":"FilterValues",
          "documentation":"<p>If you specify <code>EQ</code> for <code>Condition</code>, specify either <code>DNS_PUBLIC</code> or <code>DNS_PRIVATE</code>.</p> <p>If you specify <code>IN</code> for <code>Condition</code>, you can specify <code>DNS_PUBLIC</code>, <code>DNS_PRIVATE</code>, or both.</p>"
        },
        "Condition":{
          "shape":"FilterCondition",
          "documentation":"<p>The operator that you want to use to determine whether <code>ListNamespaces</code> returns a namespace. Valid values for <code>condition</code> include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can choose to list only public namespaces or private namespaces, but not both. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can choose to list public namespaces, private namespaces, or both. </p> </li> </ul>"
        }
      },
      "documentation":"<p>A complex type that identifies the namespaces that you want to list. You can choose to list public or private namespaces.</p>"
    },
    "NamespaceFilterName":{
      "type":"string",
      "enum":["TYPE"]
    },
    "NamespaceFilters":{
      "type":"list",
      "member":{"shape":"NamespaceFilter"}
    },
    "NamespaceName":{
      "type":"string",
      "max":1024
    },
    "NamespaceNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>No namespace exists with the specified ID.</p>",
      "exception":true
    },
    "NamespaceProperties":{
      "type":"structure",
      "members":{
        "DnsProperties":{
          "shape":"DnsProperties",
          "documentation":"<p>A complex type that contains the ID for the hosted zone that Amazon Route 53 creates when you create a namespace.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information that is specific to the namespace type.</p>"
    },
    "NamespaceSummariesList":{
      "type":"list",
      "member":{"shape":"NamespaceSummary"}
    },
    "NamespaceSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the namespace.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the namespace when you create it.</p>"
        },
        "Name":{
          "shape":"NamespaceName",
          "documentation":"<p>The name of the namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>"
        },
        "Type":{
          "shape":"NamespaceType",
          "documentation":"<p>The type of the namespace, either public or private.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about a namespace.</p>"
    },
    "NamespaceType":{
      "type":"string",
      "enum":[
        "DNS_PUBLIC",
        "DNS_PRIVATE"
      ]
    },
    "NextToken":{
      "type":"string",
      "max":4096
    },
    "Operation":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"OperationId",
          "documentation":"<p>The ID of the operation that you want to get information about.</p>"
        },
        "Type":{
          "shape":"OperationType",
          "documentation":"<p>The name of the operation that is associated with the specified ID.</p>"
        },
        "Status":{
          "shape":"OperationStatus",
          "documentation":"<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: Amazon Route 53 is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>"
        },
        "ErrorMessage":{
          "shape":"Message",
          "documentation":"<p>If the value of <code>Status</code> is <code>FAIL</code>, the reason that the operation failed.</p>"
        },
        "ErrorCode":{
          "shape":"Code",
          "documentation":"<p>The code associated with <code>ErrorMessage</code>.</p>"
        },
        "CreateDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the request was submitted, in Unix date/time format and Coordinated Universal Time (UTC).</p>"
        },
        "UpdateDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the value of <code>Status</code> changed to the current value, in Unix date/time format and Coordinated Universal Time (UTC).</p>"
        },
        "Targets":{
          "shape":"OperationTargetsMap",
          "documentation":"<p>The name of the target entity that is associated with the operation:</p> <ul> <li> <p> <b>NAMESPACE</b>: The namespace ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>SERVICE</b>: The service ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>INSTANCE</b>: The instance ID is returned in the <code>ResourceId</code> property.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A complex type that contains information about a specified operation.</p>"
    },
    "OperationFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{
          "shape":"OperationFilterName",
          "documentation":"<p>Specify the operations that you want to get:</p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Gets operations related to specified namespaces.</p> </li> <li> <p> <b>SERVICE_ID</b>: Gets operations related to specified services.</p> </li> <li> <p> <b>STATUS</b>: Gets operations based on the status of the operations: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Gets specified types of operation.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Gets operations that changed status during a specified date/time range. </p> </li> </ul>"
        },
        "Values":{
          "shape":"FilterValues",
          "documentation":"<p>Specify values that are applicable to the value that you specify for <code>Name</code>: </p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Specify one namespace ID.</p> </li> <li> <p> <b>SERVICE_ID</b>: Specify one service ID.</p> </li> <li> <p> <b>STATUS</b>: Specify one or more statuses: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Specify one or more of the following types: <code>CREATE_NAMESPACE</code>, <code>DELETE_NAMESPACE</code>, <code>UPDATE_SERVICE</code>, <code>REGISTER_INSTANCE</code>, or <code>DEREGISTER_INSTANCE</code>.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Specify a start date and an end date in Unix date/time format and Coordinated Universal Time (UTC). The start date must be the first value.</p> </li> </ul>"
        },
        "Condition":{
          "shape":"FilterCondition",
          "documentation":"<p>The operator that you want to use to determine whether an operation matches the specified value. Valid values for condition include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can specify only one value. <code>EQ</code> is supported for <code>NAMESPACE_ID</code>, <code>SERVICE_ID</code>, <code>STATUS</code>, and <code>TYPE</code>. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can specify a list of one or more values. <code>IN</code> is supported for <code>STATUS</code> and <code>TYPE</code>. An operation must match one of the specified values to be returned in the response.</p> </li> <li> <p> <code>BETWEEN</code>: Specify two values, a start date and an end date. The start date must be the first value. <code>BETWEEN</code> is supported for <code>U</code>. </p> </li> </ul>"
        }
      },
      "documentation":"<p>A complex type that lets you select the operations that you want to list.</p>"
    },
    "OperationFilterName":{
      "type":"string",
      "enum":[
        "NAMESPACE_ID",
        "SERVICE_ID",
        "STATUS",
        "TYPE",
        "UPDATE_DATE"
      ]
    },
    "OperationFilters":{
      "type":"list",
      "member":{"shape":"OperationFilter"}
    },
    "OperationId":{
      "type":"string",
      "max":255
    },
    "OperationNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>No operation exists with the specified ID.</p>",
      "exception":true
    },
    "OperationStatus":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "PENDING",
        "SUCCESS",
        "FAIL"
      ]
    },
    "OperationSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"OperationId",
          "documentation":"<p>The ID for an operation.</p>"
        },
        "Status":{
          "shape":"OperationStatus",
          "documentation":"<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: Amazon Route 53 is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A complex type that contains information about an operation that matches the criteria that you specified in a <a>ListOperations</a> request.</p>"
    },
    "OperationSummaryList":{
      "type":"list",
      "member":{"shape":"OperationSummary"}
    },
    "OperationTargetType":{
      "type":"string",
      "enum":[
        "NAMESPACE",
        "SERVICE",
        "INSTANCE"
      ]
    },
    "OperationTargetsMap":{
      "type":"map",
      "key":{"shape":"OperationTargetType"},
      "value":{"shape":"ResourceId"}
    },
    "OperationType":{
      "type":"string",
      "enum":[
        "CREATE_NAMESPACE",
        "DELETE_NAMESPACE",
        "UPDATE_SERVICE",
        "REGISTER_INSTANCE",
        "DEREGISTER_INSTANCE"
      ]
    },
    "RecordTTL":{
      "type":"long",
      "max":2147483647,
      "min":0
    },
    "RecordType":{
      "type":"string",
      "enum":[
        "SRV",
        "A",
        "AAAA"
      ]
    },
    "RegisterInstanceRequest":{
      "type":"structure",
      "required":[
        "ServiceId",
        "InstanceId",
        "Attributes"
      ],
      "members":{
        "ServiceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that you want to use for settings for the resource record sets and health check that Amazon Route 53 will create.</p>"
        },
        "InstanceId":{
          "shape":"ResourceId",
          "documentation":"<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To register a new instance, you must specify a value that is unique among instances that you register by using the same service.</p> </li> </ul>"
        },
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "idempotencyToken":true
        },
        "Attributes":{
          "shape":"Attributes",
          "documentation":"<p>A string map that contain attribute keys and values. Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_INSTANCE_PORT</code>: The port on the endpoint that you want Amazon Route 53 to perform health checks on. This value is also used for the port value in an SRV record if the service that you specify includes an SRV record. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV4</code>: If the service that you specify contains a resource record set template for an A record, the IPv4 address that you want Amazon Route 53 to use for the value of the A record.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV6</code>: If the service that you specify contains a resource record set template for an AAAA record, the IPv6 address that you want Amazon Route 53 to use for the value of the AAAA record.</p> </li> </ul>"
        }
      }
    },
    "RegisterInstanceResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>"
        }
      }
    },
    "ResourceCount":{"type":"integer"},
    "ResourceDescription":{
      "type":"string",
      "max":1024
    },
    "ResourceId":{
      "type":"string",
      "max":64
    },
    "ResourceInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The specified resource can't be deleted because it contains other resources. For example, you can't delete a service that contains any instances.</p>",
      "exception":true
    },
    "ResourceLimitExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The resource can't be created because you've reached the limit on the number of resources.</p>",
      "exception":true
    },
    "ResourcePath":{
      "type":"string",
      "max":255
    },
    "Service":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID that Amazon Route 53 assigned to the service when you created it.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the service when you create it.</p>"
        },
        "Name":{
          "shape":"ServiceName",
          "documentation":"<p>The name of the service.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the service.</p>"
        },
        "InstanceCount":{
          "shape":"ResourceCount",
          "documentation":"<p>The number of instances that are currently associated with the service. Instances that were previously associated with the service but that have been deleted are not included in the count.</p>"
        },
        "DnsConfig":{
          "shape":"DnsConfig",
          "documentation":"<p>A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.</p>"
        },
        "HealthCheckConfig":{
          "shape":"HealthCheckConfig",
          "documentation":"<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, Amazon Route 53 associates the health check with all the resource record sets that you specify in <code>DnsConfig</code>.</p> <note> <p>The health check uses 30 seconds as the request interval. This is the number of seconds between the time that each Amazon Route 53 health checker gets a response from your endpoint and the time that it sends the next health check request. A health checker in each data center around the world sends your endpoint a health check request every 30 seconds. On average, your endpoint receives a health check request about every two seconds. Health checkers in different data centers don't coordinate with one another, so you'll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> </note> <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/route53/pricing\">Amazon Route 53 Pricing</a>.</p>"
        },
        "CreateDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the service was created, in Unix format and Coordinated Universal Time (UTC).</p>"
        },
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the specified service.</p>"
    },
    "ServiceAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"},
        "CreatorRequestId":{
          "shape":"ResourceId",
          "documentation":"<p>The <code>CreatorRequestId</code> that was used to create the service.</p>"
        },
        "ServiceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the existing service.</p>"
        }
      },
      "documentation":"<p>The service can't be created because a service with the same name already exists.</p>",
      "exception":true
    },
    "ServiceChange":{
      "type":"structure",
      "required":["DnsConfig"],
      "members":{
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>A description for the service.</p>"
        },
        "DnsConfig":{
          "shape":"DnsConfigChange",
          "documentation":"<p>A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.</p>"
        },
        "HealthCheckConfig":{"shape":"HealthCheckConfig"}
      },
      "documentation":"<p>A complex type that contains changes to an existing service.</p>"
    },
    "ServiceFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{
          "shape":"ServiceFilterName",
          "documentation":"<p>Specify <code>NAMESPACE_ID</code>.</p>"
        },
        "Values":{
          "shape":"FilterValues",
          "documentation":"<p>The values that are applicable to the value that you specify for <code>Condition</code> to filter the list of services.</p>"
        },
        "Condition":{
          "shape":"FilterCondition",
          "documentation":"<p>The operator that you want to use to determine whether a service is returned by <code>ListServices</code>. Valid values for <code>Condition</code> include the following:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code>, specify one namespace ID for <code>Values</code>. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code>, specify a list of the IDs for the namespaces that you want <code>ListServices</code> to return a list of services for.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A complex type that lets you specify the namespaces that you want to list services for.</p>"
    },
    "ServiceFilterName":{
      "type":"string",
      "enum":["NAMESPACE_ID"]
    },
    "ServiceFilters":{
      "type":"list",
      "member":{"shape":"ServiceFilter"}
    },
    "ServiceName":{
      "type":"string",
      "pattern":"((?=^.{1,127}$)^([a-zA-Z][a-zA-Z0-9-]{0,61}[a-zA-Z0-9]|[a-zA-Z])(\\.([a-z][a-zA-Z0-9-]{0,61}[a-zA-Z0-9]|[a-zA-Z]))*$)|(^\\.$)"
    },
    "ServiceNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>No service exists with the specified ID.</p>",
      "exception":true
    },
    "ServiceSummariesList":{
      "type":"list",
      "member":{"shape":"ServiceSummary"}
    },
    "ServiceSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID that Amazon Route 53 assigned to the service when you created it.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the service when you create it.</p>"
        },
        "Name":{
          "shape":"ServiceName",
          "documentation":"<p>The name of the service.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description that you specify when you create the service.</p>"
        },
        "InstanceCount":{
          "shape":"ResourceCount",
          "documentation":"<p>The number of instances that are currently associated with the service. Instances that were previously associated with the service but that have been deleted are not included in the count.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about a specified service.</p>"
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateServiceRequest":{
      "type":"structure",
      "required":[
        "Id",
        "Service"
      ],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the service that you want to update.</p>"
        },
        "Service":{
          "shape":"ServiceChange",
          "documentation":"<p>A complex type that contains the new settings for the service.</p>"
        }
      }
    },
    "UpdateServiceResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>"
        }
      }
    }
  },
  "documentation":"<p>Amazon Route 53 autonaming lets you configure public or private namespaces that your microservice applications run in. When instances of the service become available, you can call the autonaming API to register the instance, and Amazon Route 53 automatically creates up to five DNS records and an optional health check. Clients that submit DNS queries for the service receive an answer that contains up to eight healthy records.</p>"
}
