{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-12-10",
    "endpointPrefix": "servicecatalog",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Service Catalog",
    "serviceId": "Service Catalog",
    "signatureVersion": "v4",
    "targetPrefix": "AWS242ServiceCatalogService",
    "uid": "servicecatalog-2015-12-10"
  },
  "operations": {
    "AcceptPortfolioShare": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociatePrincipalWithPortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId",
          "PrincipalARN",
          "PrincipalType"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "PrincipalARN": {
            "shape": "S6"
          },
          "PrincipalType": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateProductWithPortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId",
          "PortfolioId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "PortfolioId": {
            "shape": "S3"
          },
          "SourcePortfolioId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateTagOptionWithResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagOptionId"
        ],
        "members": {
          "ResourceId": {},
          "TagOptionId": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CopyProduct": {
      "input": {
        "type": "structure",
        "required": [
          "SourceProductArn",
          "IdempotencyToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "SourceProductArn": {
            "type": "string",
            "max": 1224,
            "min": 1,
            "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
          },
          "TargetProductId": {
            "shape": "S3"
          },
          "TargetProductName": {
            "shape": "Sh"
          },
          "SourceProvisioningArtifactIdentifiers": {
            "type": "list",
            "member": {
              "type": "map",
              "key": {
                "type": "string",
                "enum": [
                  "Id"
                ]
              },
              "value": {}
            }
          },
          "CopyOptions": {
            "type": "list",
            "member": {
              "type": "string",
              "enum": [
                "CopyTags"
              ]
            }
          },
          "IdempotencyToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CopyProductToken": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateConstraint": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId",
          "ProductId",
          "Parameters",
          "Type",
          "IdempotencyToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "ProductId": {
            "shape": "S3"
          },
          "Parameters": {},
          "Type": {
            "shape": "Ss"
          },
          "Description": {
            "shape": "St"
          },
          "IdempotencyToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConstraintDetail": {
            "shape": "Sv"
          },
          "ConstraintParameters": {},
          "Status": {
            "shape": "Sx"
          }
        }
      }
    },
    "CreatePortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "DisplayName",
          "ProviderName",
          "IdempotencyToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "DisplayName": {
            "shape": "Sz"
          },
          "Description": {
            "shape": "S10"
          },
          "ProviderName": {
            "shape": "S11"
          },
          "Tags": {
            "shape": "S12"
          },
          "IdempotencyToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PortfolioDetail": {
            "shape": "S17"
          },
          "Tags": {
            "shape": "S1a"
          }
        }
      }
    },
    "CreatePortfolioShare": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId",
          "AccountId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "AccountId": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateProduct": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Owner",
          "ProductType",
          "ProvisioningArtifactParameters",
          "IdempotencyToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "Name": {
            "shape": "Sh"
          },
          "Owner": {
            "shape": "S1e"
          },
          "Description": {
            "shape": "S1f"
          },
          "Distributor": {
            "shape": "S1e"
          },
          "SupportDescription": {
            "shape": "S1g"
          },
          "SupportEmail": {
            "shape": "S1h"
          },
          "SupportUrl": {
            "shape": "S1i"
          },
          "ProductType": {
            "shape": "S1j"
          },
          "Tags": {
            "shape": "S12"
          },
          "ProvisioningArtifactParameters": {
            "shape": "S1k"
          },
          "IdempotencyToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductViewDetail": {
            "shape": "S1s"
          },
          "ProvisioningArtifactDetail": {
            "shape": "S1x"
          },
          "Tags": {
            "shape": "S1a"
          }
        }
      }
    },
    "CreateProvisionedProductPlan": {
      "input": {
        "type": "structure",
        "required": [
          "PlanName",
          "PlanType",
          "ProductId",
          "ProvisionedProductName",
          "ProvisioningArtifactId",
          "IdempotencyToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "PlanName": {},
          "PlanType": {
            "shape": "S21"
          },
          "NotificationArns": {
            "shape": "S22"
          },
          "PathId": {
            "shape": "S3"
          },
          "ProductId": {
            "shape": "S3"
          },
          "ProvisionedProductName": {
            "shape": "S24"
          },
          "ProvisioningArtifactId": {
            "shape": "S3"
          },
          "ProvisioningParameters": {
            "shape": "S25"
          },
          "IdempotencyToken": {
            "shape": "So",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PlanName": {},
          "PlanId": {
            "shape": "S3"
          },
          "ProvisionProductId": {
            "shape": "S3"
          },
          "ProvisionedProductName": {
            "shape": "S24"
          },
          "ProvisioningArtifactId": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateProvisioningArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId",
          "Parameters",
          "IdempotencyToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "Parameters": {
            "shape": "S1k"
          },
          "IdempotencyToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisioningArtifactDetail": {
            "shape": "S1x"
          },
          "Info": {
            "shape": "S1n"
          },
          "Status": {
            "shape": "Sx"
          }
        }
      }
    },
    "CreateTagOption": {
      "input": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "S2e"
          },
          "Value": {
            "shape": "S2f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagOptionDetail": {
            "shape": "S2h"
          }
        }
      }
    },
    "DeleteConstraint": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePortfolioShare": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId",
          "AccountId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "AccountId": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProduct": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProvisionedProductPlan": {
      "input": {
        "type": "structure",
        "required": [
          "PlanId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PlanId": {
            "shape": "S3"
          },
          "IgnoreErrors": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProvisioningArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId",
          "ProvisioningArtifactId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "ProvisioningArtifactId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTagOption": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeConstraint": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConstraintDetail": {
            "shape": "Sv"
          },
          "ConstraintParameters": {},
          "Status": {
            "shape": "Sx"
          }
        }
      }
    },
    "DescribeCopyProductStatus": {
      "input": {
        "type": "structure",
        "required": [
          "CopyProductToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "CopyProductToken": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CopyProductStatus": {
            "type": "string",
            "enum": [
              "SUCCEEDED",
              "IN_PROGRESS",
              "FAILED"
            ]
          },
          "TargetProductId": {
            "shape": "S3"
          },
          "StatusDetail": {}
        }
      }
    },
    "DescribePortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PortfolioDetail": {
            "shape": "S17"
          },
          "Tags": {
            "shape": "S1a"
          },
          "TagOptions": {
            "shape": "S36"
          }
        }
      }
    },
    "DescribeProduct": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductViewSummary": {
            "shape": "S1t"
          },
          "ProvisioningArtifacts": {
            "shape": "S39"
          }
        }
      }
    },
    "DescribeProductAsAdmin": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductViewDetail": {
            "shape": "S1s"
          },
          "ProvisioningArtifactSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S3"
                },
                "Name": {},
                "Description": {},
                "CreatedTime": {
                  "type": "timestamp"
                },
                "ProvisioningArtifactMetadata": {
                  "shape": "S1n"
                }
              }
            }
          },
          "Tags": {
            "shape": "S1a"
          },
          "TagOptions": {
            "shape": "S36"
          }
        }
      }
    },
    "DescribeProductView": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductViewSummary": {
            "shape": "S1t"
          },
          "ProvisioningArtifacts": {
            "shape": "S39"
          }
        }
      }
    },
    "DescribeProvisionedProduct": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisionedProductDetail": {
            "shape": "S3k"
          },
          "CloudWatchDashboards": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {}
              }
            }
          }
        }
      }
    },
    "DescribeProvisionedProductPlan": {
      "input": {
        "type": "structure",
        "required": [
          "PlanId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PlanId": {
            "shape": "S3"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisionedProductPlanDetails": {
            "type": "structure",
            "members": {
              "CreatedTime": {
                "type": "timestamp"
              },
              "PathId": {
                "shape": "S3"
              },
              "ProductId": {
                "shape": "S3"
              },
              "PlanName": {},
              "PlanId": {
                "shape": "S3"
              },
              "ProvisionProductId": {
                "shape": "S3"
              },
              "ProvisionProductName": {
                "shape": "S24"
              },
              "PlanType": {
                "shape": "S21"
              },
              "ProvisioningArtifactId": {
                "shape": "S3"
              },
              "Status": {
                "type": "string",
                "enum": [
                  "CREATE_IN_PROGRESS",
                  "CREATE_SUCCESS",
                  "CREATE_FAILED",
                  "EXECUTE_IN_PROGRESS",
                  "EXECUTE_SUCCESS",
                  "EXECUTE_FAILED"
                ]
              },
              "UpdatedTime": {
                "type": "timestamp"
              },
              "NotificationArns": {
                "shape": "S22"
              },
              "ProvisioningParameters": {
                "shape": "S25"
              },
              "Tags": {
                "shape": "S1a"
              },
              "StatusMessage": {
                "type": "string",
                "pattern": "[\\u0009\\u000a\\u000d\\u0020-\\uD7FF\\uE000-\\uFFFD]*"
              }
            }
          },
          "ResourceChanges": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Action": {
                  "type": "string",
                  "enum": [
                    "ADD",
                    "MODIFY",
                    "REMOVE"
                  ]
                },
                "LogicalResourceId": {},
                "PhysicalResourceId": {},
                "ResourceType": {
                  "type": "string",
                  "max": 256,
                  "min": 1
                },
                "Replacement": {
                  "type": "string",
                  "enum": [
                    "TRUE",
                    "FALSE",
                    "CONDITIONAL"
                  ]
                },
                "Scope": {
                  "type": "list",
                  "member": {
                    "shape": "S4a"
                  }
                },
                "Details": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Target": {
                        "type": "structure",
                        "members": {
                          "Attribute": {
                            "shape": "S4a"
                          },
                          "Name": {},
                          "RequiresRecreation": {
                            "type": "string",
                            "enum": [
                              "NEVER",
                              "CONDITIONALLY",
                              "ALWAYS"
                            ]
                          }
                        }
                      },
                      "Evaluation": {
                        "type": "string",
                        "enum": [
                          "STATIC",
                          "DYNAMIC"
                        ]
                      },
                      "CausingEntity": {}
                    }
                  }
                }
              }
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "DescribeProvisioningArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ProvisioningArtifactId",
          "ProductId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProvisioningArtifactId": {
            "shape": "S3"
          },
          "ProductId": {
            "shape": "S3"
          },
          "Verbose": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisioningArtifactDetail": {
            "shape": "S1x"
          },
          "Info": {
            "shape": "S1n"
          },
          "Status": {
            "shape": "Sx"
          }
        }
      }
    },
    "DescribeProvisioningParameters": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId",
          "ProvisioningArtifactId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "ProvisioningArtifactId": {
            "shape": "S3"
          },
          "PathId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisioningArtifactParameters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ParameterKey": {
                  "shape": "S27"
                },
                "DefaultValue": {},
                "ParameterType": {},
                "IsNoEcho": {
                  "type": "boolean"
                },
                "Description": {},
                "ParameterConstraints": {
                  "type": "structure",
                  "members": {
                    "AllowedValues": {
                      "type": "list",
                      "member": {}
                    }
                  }
                }
              }
            }
          },
          "ConstraintSummaries": {
            "shape": "S4w"
          },
          "UsageInstructions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "Value": {}
              }
            }
          },
          "TagOptions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Key": {
                  "shape": "S2e"
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "shape": "S2f"
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeRecord": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          },
          "PageToken": {
            "shape": "S3w"
          },
          "PageSize": {
            "shape": "S3v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RecordDetail": {
            "shape": "S57"
          },
          "RecordOutputs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "OutputKey": {},
                "OutputValue": {},
                "Description": {}
              }
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "DescribeTagOption": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagOptionDetail": {
            "shape": "S2h"
          }
        }
      }
    },
    "DisassociatePrincipalFromPortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId",
          "PrincipalARN"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "PrincipalARN": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateProductFromPortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId",
          "PortfolioId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "PortfolioId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateTagOptionFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagOptionId"
        ],
        "members": {
          "ResourceId": {},
          "TagOptionId": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ExecuteProvisionedProductPlan": {
      "input": {
        "type": "structure",
        "required": [
          "PlanId",
          "IdempotencyToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "PlanId": {
            "shape": "S3"
          },
          "IdempotencyToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RecordDetail": {
            "shape": "S57"
          }
        }
      }
    },
    "ListAcceptedPortfolioShares": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "PageToken": {
            "shape": "S3w"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PortfolioShareType": {
            "type": "string",
            "enum": [
              "IMPORTED",
              "AWS_SERVICECATALOG"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PortfolioDetails": {
            "shape": "S5z"
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListConstraintsForPortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "ProductId": {
            "shape": "S3"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConstraintDetails": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListLaunchPaths": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LaunchPathSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S3"
                },
                "ConstraintSummaries": {
                  "shape": "S4w"
                },
                "Tags": {
                  "shape": "S1a"
                },
                "Name": {}
              }
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListPortfolioAccess": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "type": "list",
            "member": {
              "shape": "Sw"
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListPortfolios": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "PageToken": {
            "shape": "S3w"
          },
          "PageSize": {
            "shape": "S3v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PortfolioDetails": {
            "shape": "S5z"
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListPortfoliosForProduct": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "PageToken": {
            "shape": "S3w"
          },
          "PageSize": {
            "shape": "S3v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PortfolioDetails": {
            "shape": "S5z"
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListPrincipalsForPortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Principals": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PrincipalARN": {
                  "shape": "S6"
                },
                "PrincipalType": {
                  "shape": "S7"
                }
              }
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListProvisionedProductPlans": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "ProvisionProductId": {
            "shape": "S3"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          },
          "AccessLevelFilter": {
            "shape": "S6k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisionedProductPlans": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PlanName": {},
                "PlanId": {
                  "shape": "S3"
                },
                "ProvisionProductId": {
                  "shape": "S3"
                },
                "ProvisionProductName": {
                  "shape": "S24"
                },
                "PlanType": {
                  "shape": "S21"
                },
                "ProvisioningArtifactId": {
                  "shape": "S3"
                }
              }
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListProvisioningArtifacts": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisioningArtifactDetails": {
            "type": "list",
            "member": {
              "shape": "S1x"
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListRecordHistory": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "AccessLevelFilter": {
            "shape": "S6k"
          },
          "SearchFilter": {
            "type": "structure",
            "members": {
              "Key": {},
              "Value": {}
            }
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RecordDetails": {
            "type": "list",
            "member": {
              "shape": "S57"
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListResourcesForTagOption": {
      "input": {
        "type": "structure",
        "required": [
          "TagOptionId"
        ],
        "members": {
          "TagOptionId": {
            "shape": "Sd"
          },
          "ResourceType": {},
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "ARN": {},
                "Name": {},
                "Description": {},
                "CreatedTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ListTagOptions": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "structure",
            "members": {
              "Key": {
                "shape": "S2e"
              },
              "Value": {
                "shape": "S2f"
              },
              "Active": {
                "type": "boolean"
              }
            }
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagOptionDetails": {
            "shape": "S36"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "ProvisionProduct": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId",
          "ProvisioningArtifactId",
          "ProvisionedProductName",
          "ProvisionToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "ProvisioningArtifactId": {
            "shape": "S3"
          },
          "PathId": {
            "shape": "S3"
          },
          "ProvisionedProductName": {
            "shape": "S24"
          },
          "ProvisioningParameters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Key": {
                  "shape": "S27"
                },
                "Value": {
                  "shape": "S28"
                }
              }
            }
          },
          "Tags": {
            "shape": "S1a"
          },
          "NotificationArns": {
            "shape": "S22"
          },
          "ProvisionToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RecordDetail": {
            "shape": "S57"
          }
        }
      }
    },
    "RejectPortfolioShare": {
      "input": {
        "type": "structure",
        "required": [
          "PortfolioId"
        ],
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ScanProvisionedProducts": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "AccessLevelFilter": {
            "shape": "S6k"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisionedProducts": {
            "type": "list",
            "member": {
              "shape": "S3k"
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "SearchProducts": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "Filters": {
            "shape": "S7m"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "SortBy": {
            "shape": "S7q"
          },
          "SortOrder": {
            "shape": "S7r"
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductViewSummaries": {
            "type": "list",
            "member": {
              "shape": "S1t"
            }
          },
          "ProductViewAggregations": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "Value": {},
                  "ApproximateCount": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "SearchProductsAsAdmin": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "PortfolioId": {
            "shape": "S3"
          },
          "Filters": {
            "shape": "S7m"
          },
          "SortBy": {
            "shape": "S7q"
          },
          "SortOrder": {
            "shape": "S7r"
          },
          "PageToken": {
            "shape": "S3w"
          },
          "PageSize": {
            "shape": "S3v"
          },
          "ProductSource": {
            "type": "string",
            "enum": [
              "ACCOUNT"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductViewDetails": {
            "type": "list",
            "member": {
              "shape": "S1s"
            }
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "SearchProvisionedProducts": {
      "input": {
        "type": "structure",
        "members": {
          "AcceptLanguage": {},
          "AccessLevelFilter": {
            "shape": "S6k"
          },
          "Filters": {
            "type": "map",
            "key": {
              "type": "string",
              "enum": [
                "SearchQuery"
              ]
            },
            "value": {
              "type": "list",
              "member": {}
            }
          },
          "SortBy": {},
          "SortOrder": {
            "shape": "S7r"
          },
          "PageSize": {
            "type": "integer",
            "max": 100,
            "min": 0
          },
          "PageToken": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisionedProducts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S3l"
                },
                "Arn": {
                  "shape": "S3l"
                },
                "Type": {},
                "Id": {
                  "shape": "S3"
                },
                "Status": {
                  "shape": "S3o"
                },
                "StatusMessage": {},
                "CreatedTime": {
                  "type": "timestamp"
                },
                "IdempotencyToken": {
                  "shape": "So"
                },
                "LastRecordId": {
                  "shape": "S3"
                },
                "Tags": {
                  "shape": "S1a"
                },
                "PhysicalId": {},
                "ProductId": {
                  "shape": "S3"
                },
                "ProvisioningArtifactId": {
                  "shape": "S3"
                },
                "UserArn": {},
                "UserArnSession": {}
              }
            }
          },
          "TotalResultsCount": {
            "type": "integer"
          },
          "NextPageToken": {
            "shape": "S3w"
          }
        }
      }
    },
    "TerminateProvisionedProduct": {
      "input": {
        "type": "structure",
        "required": [
          "TerminateToken"
        ],
        "members": {
          "ProvisionedProductName": {
            "shape": "S3l"
          },
          "ProvisionedProductId": {
            "shape": "S3"
          },
          "TerminateToken": {
            "shape": "So",
            "idempotencyToken": true
          },
          "IgnoreErrors": {
            "type": "boolean"
          },
          "AcceptLanguage": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RecordDetail": {
            "shape": "S57"
          }
        }
      }
    },
    "UpdateConstraint": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          },
          "Description": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConstraintDetail": {
            "shape": "Sv"
          },
          "ConstraintParameters": {},
          "Status": {
            "shape": "Sx"
          }
        }
      }
    },
    "UpdatePortfolio": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          },
          "DisplayName": {
            "shape": "Sz"
          },
          "Description": {
            "shape": "S10"
          },
          "ProviderName": {
            "shape": "S11"
          },
          "AddTags": {
            "shape": "S12"
          },
          "RemoveTags": {
            "shape": "S8n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PortfolioDetail": {
            "shape": "S17"
          },
          "Tags": {
            "shape": "S1a"
          }
        }
      }
    },
    "UpdateProduct": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "AcceptLanguage": {},
          "Id": {
            "shape": "S3"
          },
          "Name": {
            "shape": "Sh"
          },
          "Owner": {
            "shape": "S1e"
          },
          "Description": {
            "shape": "S1f"
          },
          "Distributor": {
            "shape": "S1e"
          },
          "SupportDescription": {
            "shape": "S1g"
          },
          "SupportEmail": {
            "shape": "S1h"
          },
          "SupportUrl": {
            "shape": "S1i"
          },
          "AddTags": {
            "shape": "S12"
          },
          "RemoveTags": {
            "shape": "S8n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProductViewDetail": {
            "shape": "S1s"
          },
          "Tags": {
            "shape": "S1a"
          }
        }
      }
    },
    "UpdateProvisionedProduct": {
      "input": {
        "type": "structure",
        "required": [
          "UpdateToken"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProvisionedProductName": {
            "shape": "S3l"
          },
          "ProvisionedProductId": {
            "shape": "S3"
          },
          "ProductId": {
            "shape": "S3"
          },
          "ProvisioningArtifactId": {
            "shape": "S3"
          },
          "PathId": {
            "shape": "S3"
          },
          "ProvisioningParameters": {
            "shape": "S25"
          },
          "UpdateToken": {
            "shape": "So",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RecordDetail": {
            "shape": "S57"
          }
        }
      }
    },
    "UpdateProvisioningArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ProductId",
          "ProvisioningArtifactId"
        ],
        "members": {
          "AcceptLanguage": {},
          "ProductId": {
            "shape": "S3"
          },
          "ProvisioningArtifactId": {
            "shape": "S3"
          },
          "Name": {},
          "Description": {},
          "Active": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProvisioningArtifactDetail": {
            "shape": "S1x"
          },
          "Info": {
            "shape": "S1n"
          },
          "Status": {
            "shape": "Sx"
          }
        }
      }
    },
    "UpdateTagOption": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "Sd"
          },
          "Value": {
            "shape": "S2f"
          },
          "Active": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagOptionDetail": {
            "shape": "S2h"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S6": {
      "type": "string",
      "max": 1000,
      "min": 1
    },
    "S7": {
      "type": "string",
      "enum": [
        "IAM"
      ]
    },
    "Sd": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "Sh": {
      "type": "string",
      "max": 8191
    },
    "So": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "Ss": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "St": {
      "type": "string",
      "max": 2000
    },
    "Sv": {
      "type": "structure",
      "members": {
        "ConstraintId": {
          "shape": "S3"
        },
        "Type": {
          "shape": "Ss"
        },
        "Description": {
          "shape": "St"
        },
        "Owner": {
          "shape": "Sw"
        }
      }
    },
    "Sw": {
      "type": "string",
      "pattern": "^[0-9]{12}$"
    },
    "Sx": {
      "type": "string",
      "enum": [
        "AVAILABLE",
        "CREATING",
        "FAILED"
      ]
    },
    "Sz": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S10": {
      "type": "string",
      "max": 2000
    },
    "S11": {
      "type": "string",
      "max": 50,
      "min": 1
    },
    "S12": {
      "type": "list",
      "member": {
        "shape": "S13"
      },
      "max": 20
    },
    "S13": {
      "type": "structure",
      "required": [
        "Key",
        "Value"
      ],
      "members": {
        "Key": {
          "shape": "S14"
        },
        "Value": {
          "type": "string",
          "max": 256,
          "min": 1,
          "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
        }
      }
    },
    "S14": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "S17": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S3"
        },
        "ARN": {
          "shape": "S18"
        },
        "DisplayName": {
          "shape": "Sz"
        },
        "Description": {
          "shape": "S10"
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "ProviderName": {
          "shape": "S11"
        }
      }
    },
    "S18": {
      "type": "string",
      "max": 150,
      "min": 1
    },
    "S1a": {
      "type": "list",
      "member": {
        "shape": "S13"
      },
      "max": 50
    },
    "S1e": {
      "type": "string",
      "max": 8191
    },
    "S1f": {
      "type": "string",
      "max": 8191
    },
    "S1g": {
      "type": "string",
      "max": 8191
    },
    "S1h": {
      "type": "string",
      "max": 254
    },
    "S1i": {
      "type": "string",
      "max": 2083
    },
    "S1j": {
      "type": "string",
      "enum": [
        "CLOUD_FORMATION_TEMPLATE",
        "MARKETPLACE"
      ],
      "max": 8191
    },
    "S1k": {
      "type": "structure",
      "required": [
        "Info"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "Info": {
          "shape": "S1n"
        },
        "Type": {
          "shape": "S1q"
        }
      }
    },
    "S1n": {
      "type": "map",
      "key": {},
      "value": {},
      "max": 100,
      "min": 1
    },
    "S1q": {
      "type": "string",
      "enum": [
        "CLOUD_FORMATION_TEMPLATE",
        "MARKETPLACE_AMI",
        "MARKETPLACE_CAR"
      ]
    },
    "S1s": {
      "type": "structure",
      "members": {
        "ProductViewSummary": {
          "shape": "S1t"
        },
        "Status": {
          "shape": "Sx"
        },
        "ProductARN": {
          "shape": "S18"
        },
        "CreatedTime": {
          "type": "timestamp"
        }
      }
    },
    "S1t": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S3"
        },
        "ProductId": {
          "shape": "S3"
        },
        "Name": {
          "shape": "Sh"
        },
        "Owner": {
          "shape": "S1e"
        },
        "ShortDescription": {
          "shape": "S1f"
        },
        "Type": {
          "shape": "S1j"
        },
        "Distributor": {},
        "HasDefaultPath": {
          "type": "boolean"
        },
        "SupportEmail": {
          "shape": "S1h"
        },
        "SupportDescription": {
          "shape": "S1g"
        },
        "SupportUrl": {
          "shape": "S1i"
        }
      }
    },
    "S1x": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S3"
        },
        "Name": {},
        "Description": {},
        "Type": {
          "shape": "S1q"
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "Active": {
          "type": "boolean"
        }
      }
    },
    "S21": {
      "type": "string",
      "enum": [
        "CLOUDFORMATION"
      ]
    },
    "S22": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 1224,
        "min": 1,
        "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
      },
      "max": 5
    },
    "S24": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9._-]*"
    },
    "S25": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {
            "shape": "S27"
          },
          "Value": {
            "shape": "S28"
          },
          "UsePreviousValue": {
            "type": "boolean"
          }
        }
      }
    },
    "S27": {
      "type": "string",
      "max": 1000,
      "min": 1
    },
    "S28": {
      "type": "string",
      "max": 4096
    },
    "S2e": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "S2f": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "S2h": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "S2e"
        },
        "Value": {
          "shape": "S2f"
        },
        "Active": {
          "type": "boolean"
        },
        "Id": {
          "shape": "Sd"
        }
      }
    },
    "S36": {
      "type": "list",
      "member": {
        "shape": "S2h"
      }
    },
    "S39": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {
            "shape": "S3"
          },
          "Name": {},
          "Description": {},
          "CreatedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "S3k": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S3l"
        },
        "Arn": {
          "shape": "S3l"
        },
        "Type": {},
        "Id": {},
        "Status": {
          "shape": "S3o"
        },
        "StatusMessage": {},
        "CreatedTime": {
          "type": "timestamp"
        },
        "IdempotencyToken": {
          "shape": "So"
        },
        "LastRecordId": {}
      }
    },
    "S3l": {
      "type": "string",
      "max": 1224,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9._-]{0,127}|arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
    },
    "S3o": {
      "type": "string",
      "enum": [
        "AVAILABLE",
        "UNDER_CHANGE",
        "TAINTED",
        "ERROR",
        "PLAN_IN_PROGRESS"
      ]
    },
    "S3v": {
      "type": "integer",
      "max": 20,
      "min": 0
    },
    "S3w": {
      "type": "string",
      "pattern": "[\\u0009\\u000a\\u000d\\u0020-\\uD7FF\\uE000-\\uFFFD]*"
    },
    "S4a": {
      "type": "string",
      "enum": [
        "PROPERTIES",
        "METADATA",
        "CREATIONPOLICY",
        "UPDATEPOLICY",
        "DELETIONPOLICY",
        "TAGS"
      ]
    },
    "S4w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {
            "shape": "Ss"
          },
          "Description": {
            "shape": "St"
          }
        }
      }
    },
    "S57": {
      "type": "structure",
      "members": {
        "RecordId": {
          "shape": "S3"
        },
        "ProvisionedProductName": {
          "shape": "S24"
        },
        "Status": {
          "type": "string",
          "enum": [
            "CREATED",
            "IN_PROGRESS",
            "IN_PROGRESS_IN_ERROR",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "UpdatedTime": {
          "type": "timestamp"
        },
        "ProvisionedProductType": {},
        "RecordType": {},
        "ProvisionedProductId": {
          "shape": "S3"
        },
        "ProductId": {
          "shape": "S3"
        },
        "ProvisioningArtifactId": {
          "shape": "S3"
        },
        "PathId": {
          "shape": "S3"
        },
        "RecordErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Code": {},
              "Description": {}
            }
          }
        },
        "RecordTags": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Key": {
                "type": "string",
                "max": 128,
                "min": 1,
                "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
              },
              "Value": {
                "type": "string",
                "max": 256,
                "min": 1,
                "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
              }
            }
          },
          "max": 50
        }
      }
    },
    "S5z": {
      "type": "list",
      "member": {
        "shape": "S17"
      }
    },
    "S6k": {
      "type": "structure",
      "members": {
        "Key": {
          "type": "string",
          "enum": [
            "Account",
            "Role",
            "User"
          ]
        },
        "Value": {}
      }
    },
    "S7m": {
      "type": "map",
      "key": {
        "type": "string",
        "enum": [
          "FullTextSearch",
          "Owner",
          "ProductType",
          "SourceProductId"
        ]
      },
      "value": {
        "type": "list",
        "member": {}
      }
    },
    "S7q": {
      "type": "string",
      "enum": [
        "Title",
        "VersionCount",
        "CreationDate"
      ]
    },
    "S7r": {
      "type": "string",
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "S8n": {
      "type": "list",
      "member": {
        "shape": "S14"
      }
    }
  }
}