{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-14",
    "endpointPrefix": "servicediscovery",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ServiceDiscovery",
    "serviceFullName": "Amazon Route 53 Auto Naming",
    "serviceId": "ServiceDiscovery",
    "signatureVersion": "v4",
    "targetPrefix": "Route53AutoNaming_v20170314",
    "uid": "servicediscovery-2017-03-14"
  },
  "operations": {
    "CreatePrivateDnsNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Vpc"
        ],
        "members": {
          "Name": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Description": {},
          "Vpc": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "CreatePublicDnsNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "CreateService": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "DnsConfig"
        ],
        "members": {
          "Name": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Description": {},
          "DnsConfig": {
            "shape": "Sb"
          },
          "HealthCheckConfig": {
            "shape": "Sh"
          },
          "HealthCheckCustomConfig": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Service": {
            "shape": "Sn"
          }
        }
      }
    },
    "DeleteNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "DeleteService": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "GetInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instance": {
            "type": "structure",
            "required": [
              "Id"
            ],
            "members": {
              "Id": {},
              "CreatorRequestId": {},
              "Attributes": {
                "shape": "S10"
              }
            }
          }
        }
      }
    },
    "GetInstancesHealthStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId"
        ],
        "members": {
          "ServiceId": {},
          "Instances": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "map",
            "key": {},
            "value": {}
          },
          "NextToken": {}
        }
      }
    },
    "GetNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespace": {
            "type": "structure",
            "members": {
              "Id": {},
              "Arn": {},
              "Name": {},
              "Type": {},
              "Description": {},
              "ServiceCount": {
                "type": "integer"
              },
              "Properties": {
                "type": "structure",
                "members": {
                  "DnsProperties": {
                    "type": "structure",
                    "members": {
                      "HostedZoneId": {}
                    }
                  }
                }
              },
              "CreateDate": {
                "type": "timestamp"
              },
              "CreatorRequestId": {}
            }
          }
        }
      }
    },
    "GetOperation": {
      "input": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Operation": {
            "type": "structure",
            "members": {
              "Id": {},
              "Type": {},
              "Status": {},
              "ErrorMessage": {},
              "ErrorCode": {},
              "CreateDate": {
                "type": "timestamp"
              },
              "UpdateDate": {
                "type": "timestamp"
              },
              "Targets": {
                "type": "map",
                "key": {},
                "value": {}
              }
            }
          }
        }
      }
    },
    "GetService": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Service": {
            "shape": "Sn"
          }
        }
      }
    },
    "ListInstances": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId"
        ],
        "members": {
          "ServiceId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Attributes": {
                  "shape": "S10"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNamespaces": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {},
                "Values": {
                  "shape": "S1z"
                },
                "Condition": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "Type": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListOperations": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {},
                "Values": {
                  "shape": "S1z"
                },
                "Condition": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Operations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListServices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {},
                "Values": {
                  "shape": "S1z"
                },
                "Condition": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Services": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "Description": {},
                "InstanceCount": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "RegisterInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId",
          "Attributes"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {},
          "CreatorRequestId": {
            "idempotencyToken": true
          },
          "Attributes": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    },
    "UpdateInstanceCustomHealthStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceId",
          "InstanceId",
          "Status"
        ],
        "members": {
          "ServiceId": {},
          "InstanceId": {},
          "Status": {}
        }
      }
    },
    "UpdateService": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Service"
        ],
        "members": {
          "Id": {},
          "Service": {
            "type": "structure",
            "required": [
              "DnsConfig"
            ],
            "members": {
              "Description": {},
              "DnsConfig": {
                "type": "structure",
                "required": [
                  "DnsRecords"
                ],
                "members": {
                  "DnsRecords": {
                    "shape": "Sd"
                  }
                }
              },
              "HealthCheckConfig": {
                "shape": "Sh"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {}
        }
      }
    }
  },
  "shapes": {
    "Sb": {
      "type": "structure",
      "required": [
        "NamespaceId",
        "DnsRecords"
      ],
      "members": {
        "NamespaceId": {},
        "RoutingPolicy": {},
        "DnsRecords": {
          "shape": "Sd"
        }
      }
    },
    "Sd": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Type",
          "TTL"
        ],
        "members": {
          "Type": {},
          "TTL": {
            "type": "long"
          }
        }
      }
    },
    "Sh": {
      "type": "structure",
      "members": {
        "Type": {},
        "ResourcePath": {},
        "FailureThreshold": {
          "type": "integer"
        }
      }
    },
    "Sl": {
      "type": "structure",
      "members": {
        "FailureThreshold": {
          "type": "integer"
        }
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "Id": {},
        "Arn": {},
        "Name": {},
        "Description": {},
        "InstanceCount": {
          "type": "integer"
        },
        "DnsConfig": {
          "shape": "Sb"
        },
        "HealthCheckConfig": {
          "shape": "Sh"
        },
        "HealthCheckCustomConfig": {
          "shape": "Sl"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "CreatorRequestId": {}
      }
    },
    "S10": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1z": {
      "type": "list",
      "member": {}
    }
  }
}