{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-09-27",
    "endpointPrefix": "email",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon SES V2",
    "serviceFullName": "Amazon Simple Email Service",
    "serviceId": "SESv2",
    "signatureVersion": "v4",
    "signingName": "ses",
    "uid": "sesv2-2019-09-27"
  },
  "operations": {
    "BatchGetMetricData": {
      "http": {
        "requestUri": "/v2/email/metrics/batch"
      },
      "input": {
        "type": "structure",
        "required": [
          "Queries"
        ],
        "members": {
          "Queries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "Namespace",
                "Metric",
                "StartDate",
                "EndDate"
              ],
              "members": {
                "Id": {},
                "Namespace": {},
                "Metric": {},
                "Dimensions": {
                  "type": "map",
                  "key": {},
                  "value": {}
                },
                "StartDate": {
                  "type": "timestamp"
                },
                "EndDate": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Timestamps": {
                  "type": "list",
                  "member": {
                    "type": "timestamp"
                  }
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "long"
                  }
                }
              }
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Code": {},
                "Message": {}
              }
            }
          }
        }
      }
    },
    "CreateConfigurationSet": {
      "http": {
        "requestUri": "/v2/email/configuration-sets"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {},
          "TrackingOptions": {
            "shape": "Sn"
          },
          "DeliveryOptions": {
            "shape": "Sp"
          },
          "ReputationOptions": {
            "shape": "Ss"
          },
          "SendingOptions": {
            "shape": "Sv"
          },
          "Tags": {
            "shape": "Sw"
          },
          "SuppressionOptions": {
            "shape": "S10"
          },
          "VdmOptions": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConfigurationSetEventDestination": {
      "http": {
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName",
          "EventDestination"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {},
          "EventDestination": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateContact": {
      "http": {
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName",
          "EmailAddress"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          },
          "EmailAddress": {},
          "TopicPreferences": {
            "shape": "S1r"
          },
          "UnsubscribeAll": {
            "type": "boolean"
          },
          "AttributesData": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateContactList": {
      "http": {
        "requestUri": "/v2/email/contact-lists"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName"
        ],
        "members": {
          "ContactListName": {},
          "Topics": {
            "shape": "S1z"
          },
          "Description": {},
          "Tags": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCustomVerificationEmailTemplate": {
      "http": {
        "requestUri": "/v2/email/custom-verification-email-templates"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName",
          "FromEmailAddress",
          "TemplateSubject",
          "TemplateContent",
          "SuccessRedirectionURL",
          "FailureRedirectionURL"
        ],
        "members": {
          "TemplateName": {},
          "FromEmailAddress": {},
          "TemplateSubject": {},
          "TemplateContent": {},
          "SuccessRedirectionURL": {},
          "FailureRedirectionURL": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDedicatedIpPool": {
      "http": {
        "requestUri": "/v2/email/dedicated-ip-pools"
      },
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {},
          "Tags": {
            "shape": "Sw"
          },
          "ScalingMode": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDeliverabilityTestReport": {
      "http": {
        "requestUri": "/v2/email/deliverability-dashboard/test"
      },
      "input": {
        "type": "structure",
        "required": [
          "FromEmailAddress",
          "Content"
        ],
        "members": {
          "ReportName": {},
          "FromEmailAddress": {},
          "Content": {
            "shape": "S2g"
          },
          "Tags": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ReportId",
          "DeliverabilityTestStatus"
        ],
        "members": {
          "ReportId": {},
          "DeliverabilityTestStatus": {}
        }
      }
    },
    "CreateEmailIdentity": {
      "http": {
        "requestUri": "/v2/email/identities"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {},
          "Tags": {
            "shape": "Sw"
          },
          "DkimSigningAttributes": {
            "shape": "S2v"
          },
          "ConfigurationSetName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityType": {},
          "VerifiedForSendingStatus": {
            "type": "boolean"
          },
          "DkimAttributes": {
            "shape": "S31"
          }
        }
      }
    },
    "CreateEmailIdentityPolicy": {
      "http": {
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity",
          "PolicyName",
          "Policy"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "PolicyName": {
            "location": "uri",
            "locationName": "PolicyName"
          },
          "Policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateEmailTemplate": {
      "http": {
        "requestUri": "/v2/email/templates"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName",
          "TemplateContent"
        ],
        "members": {
          "TemplateName": {},
          "TemplateContent": {
            "shape": "S3b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateImportJob": {
      "http": {
        "requestUri": "/v2/email/import-jobs"
      },
      "input": {
        "type": "structure",
        "required": [
          "ImportDestination",
          "ImportDataSource"
        ],
        "members": {
          "ImportDestination": {
            "shape": "S3g"
          },
          "ImportDataSource": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {}
        }
      }
    },
    "DeleteConfigurationSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConfigurationSetEventDestination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {
            "location": "uri",
            "locationName": "EventDestinationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteContact": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName",
          "EmailAddress"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          },
          "EmailAddress": {
            "location": "uri",
            "locationName": "EmailAddress"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteContactList": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/contact-lists/{ContactListName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCustomVerificationEmailTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName"
        ],
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "TemplateName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDedicatedIpPool": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/dedicated-ip-pools/{PoolName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {
            "location": "uri",
            "locationName": "PoolName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEmailIdentity": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/identities/{EmailIdentity}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEmailIdentityPolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity",
          "PolicyName"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "PolicyName": {
            "location": "uri",
            "locationName": "PolicyName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEmailTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/templates/{TemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName"
        ],
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "TemplateName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSuppressedDestination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/suppression/addresses/{EmailAddress}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailAddress"
        ],
        "members": {
          "EmailAddress": {
            "location": "uri",
            "locationName": "EmailAddress"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/account"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIpAutoWarmupEnabled": {
            "type": "boolean"
          },
          "EnforcementStatus": {},
          "ProductionAccessEnabled": {
            "type": "boolean"
          },
          "SendQuota": {
            "type": "structure",
            "members": {
              "Max24HourSend": {
                "type": "double"
              },
              "MaxSendRate": {
                "type": "double"
              },
              "SentLast24Hours": {
                "type": "double"
              }
            }
          },
          "SendingEnabled": {
            "type": "boolean"
          },
          "SuppressionAttributes": {
            "type": "structure",
            "members": {
              "SuppressedReasons": {
                "shape": "S11"
              }
            }
          },
          "Details": {
            "type": "structure",
            "members": {
              "MailType": {},
              "WebsiteURL": {
                "shape": "S4k"
              },
              "ContactLanguage": {},
              "UseCaseDescription": {
                "shape": "S4m"
              },
              "AdditionalContactEmailAddresses": {
                "shape": "S4n"
              },
              "ReviewDetails": {
                "type": "structure",
                "members": {
                  "Status": {},
                  "CaseId": {}
                }
              }
            }
          },
          "VdmAttributes": {
            "shape": "S4s"
          }
        }
      }
    },
    "GetBlacklistReports": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/blacklist-report"
      },
      "input": {
        "type": "structure",
        "required": [
          "BlacklistItemNames"
        ],
        "members": {
          "BlacklistItemNames": {
            "location": "querystring",
            "locationName": "BlacklistItemNames",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "BlacklistReport"
        ],
        "members": {
          "BlacklistReport": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "RblName": {},
                  "ListingTime": {
                    "type": "timestamp"
                  },
                  "Description": {}
                }
              }
            }
          }
        }
      }
    },
    "GetConfigurationSet": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationSetName": {},
          "TrackingOptions": {
            "shape": "Sn"
          },
          "DeliveryOptions": {
            "shape": "Sp"
          },
          "ReputationOptions": {
            "shape": "Ss"
          },
          "SendingOptions": {
            "shape": "Sv"
          },
          "Tags": {
            "shape": "Sw"
          },
          "SuppressionOptions": {
            "shape": "S10"
          },
          "VdmOptions": {
            "shape": "S13"
          }
        }
      }
    },
    "GetConfigurationSetEventDestinations": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventDestinations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "MatchingEventTypes"
              ],
              "members": {
                "Name": {},
                "Enabled": {
                  "type": "boolean"
                },
                "MatchingEventTypes": {
                  "shape": "S1b"
                },
                "KinesisFirehoseDestination": {
                  "shape": "S1d"
                },
                "CloudWatchDestination": {
                  "shape": "S1f"
                },
                "SnsDestination": {
                  "shape": "S1l"
                },
                "PinpointDestination": {
                  "shape": "S1m"
                }
              }
            }
          }
        }
      }
    },
    "GetContact": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName",
          "EmailAddress"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          },
          "EmailAddress": {
            "location": "uri",
            "locationName": "EmailAddress"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContactListName": {},
          "EmailAddress": {},
          "TopicPreferences": {
            "shape": "S1r"
          },
          "TopicDefaultPreferences": {
            "shape": "S1r"
          },
          "UnsubscribeAll": {
            "type": "boolean"
          },
          "AttributesData": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          },
          "LastUpdatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetContactList": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists/{ContactListName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContactListName": {},
          "Topics": {
            "shape": "S1z"
          },
          "Description": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          },
          "LastUpdatedTimestamp": {
            "type": "timestamp"
          },
          "Tags": {
            "shape": "Sw"
          }
        }
      }
    },
    "GetCustomVerificationEmailTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName"
        ],
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "TemplateName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateName": {},
          "FromEmailAddress": {},
          "TemplateSubject": {},
          "TemplateContent": {},
          "SuccessRedirectionURL": {},
          "FailureRedirectionURL": {}
        }
      }
    },
    "GetDedicatedIp": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ips/{IP}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIp": {
            "shape": "S5j"
          }
        }
      }
    },
    "GetDedicatedIpPool": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ip-pools/{PoolName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {
            "location": "uri",
            "locationName": "PoolName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIpPool": {
            "type": "structure",
            "required": [
              "PoolName",
              "ScalingMode"
            ],
            "members": {
              "PoolName": {},
              "ScalingMode": {}
            }
          }
        }
      }
    },
    "GetDedicatedIps": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ips"
      },
      "input": {
        "type": "structure",
        "members": {
          "PoolName": {
            "location": "querystring",
            "locationName": "PoolName"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIps": {
            "type": "list",
            "member": {
              "shape": "S5j"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDeliverabilityDashboardOptions": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "DashboardEnabled"
        ],
        "members": {
          "DashboardEnabled": {
            "type": "boolean"
          },
          "SubscriptionExpiryDate": {
            "type": "timestamp"
          },
          "AccountStatus": {},
          "ActiveSubscribedDomains": {
            "shape": "S5x"
          },
          "PendingExpirationSubscribedDomains": {
            "shape": "S5x"
          }
        }
      }
    },
    "GetDeliverabilityTestReport": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/test-reports/{ReportId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ReportId"
        ],
        "members": {
          "ReportId": {
            "location": "uri",
            "locationName": "ReportId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeliverabilityTestReport",
          "OverallPlacement",
          "IspPlacements"
        ],
        "members": {
          "DeliverabilityTestReport": {
            "shape": "S65"
          },
          "OverallPlacement": {
            "shape": "S67"
          },
          "IspPlacements": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "IspName": {},
                "PlacementStatistics": {
                  "shape": "S67"
                }
              }
            }
          },
          "Message": {},
          "Tags": {
            "shape": "Sw"
          }
        }
      }
    },
    "GetDomainDeliverabilityCampaign": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/campaigns/{CampaignId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "CampaignId"
        ],
        "members": {
          "CampaignId": {
            "location": "uri",
            "locationName": "CampaignId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DomainDeliverabilityCampaign"
        ],
        "members": {
          "DomainDeliverabilityCampaign": {
            "shape": "S6f"
          }
        }
      }
    },
    "GetDomainStatisticsReport": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/statistics-report/{Domain}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Domain",
          "StartDate",
          "EndDate"
        ],
        "members": {
          "Domain": {
            "location": "uri",
            "locationName": "Domain"
          },
          "StartDate": {
            "location": "querystring",
            "locationName": "StartDate",
            "type": "timestamp"
          },
          "EndDate": {
            "location": "querystring",
            "locationName": "EndDate",
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OverallVolume",
          "DailyVolumes"
        ],
        "members": {
          "OverallVolume": {
            "type": "structure",
            "members": {
              "VolumeStatistics": {
                "shape": "S6p"
              },
              "ReadRatePercent": {
                "type": "double"
              },
              "DomainIspPlacements": {
                "shape": "S6q"
              }
            }
          },
          "DailyVolumes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StartDate": {
                  "type": "timestamp"
                },
                "VolumeStatistics": {
                  "shape": "S6p"
                },
                "DomainIspPlacements": {
                  "shape": "S6q"
                }
              }
            }
          }
        }
      }
    },
    "GetEmailIdentity": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/identities/{EmailIdentity}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityType": {},
          "FeedbackForwardingStatus": {
            "type": "boolean"
          },
          "VerifiedForSendingStatus": {
            "type": "boolean"
          },
          "DkimAttributes": {
            "shape": "S31"
          },
          "MailFromAttributes": {
            "type": "structure",
            "required": [
              "MailFromDomain",
              "MailFromDomainStatus",
              "BehaviorOnMxFailure"
            ],
            "members": {
              "MailFromDomain": {},
              "MailFromDomainStatus": {},
              "BehaviorOnMxFailure": {}
            }
          },
          "Policies": {
            "shape": "S70"
          },
          "Tags": {
            "shape": "Sw"
          },
          "ConfigurationSetName": {},
          "VerificationStatus": {}
        }
      }
    },
    "GetEmailIdentityPolicies": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policies": {
            "shape": "S70"
          }
        }
      }
    },
    "GetEmailTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/templates/{TemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName"
        ],
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "TemplateName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TemplateName",
          "TemplateContent"
        ],
        "members": {
          "TemplateName": {},
          "TemplateContent": {
            "shape": "S3b"
          }
        }
      }
    },
    "GetImportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/import-jobs/{JobId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "location": "uri",
            "locationName": "JobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {},
          "ImportDestination": {
            "shape": "S3g"
          },
          "ImportDataSource": {
            "shape": "S3l"
          },
          "FailureInfo": {
            "type": "structure",
            "members": {
              "FailedRecordsS3Url": {},
              "ErrorMessage": {}
            }
          },
          "JobStatus": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          },
          "CompletedTimestamp": {
            "type": "timestamp"
          },
          "ProcessedRecordsCount": {
            "type": "integer"
          },
          "FailedRecordsCount": {
            "type": "integer"
          }
        }
      }
    },
    "GetSuppressedDestination": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/suppression/addresses/{EmailAddress}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailAddress"
        ],
        "members": {
          "EmailAddress": {
            "location": "uri",
            "locationName": "EmailAddress"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SuppressedDestination"
        ],
        "members": {
          "SuppressedDestination": {
            "type": "structure",
            "required": [
              "EmailAddress",
              "Reason",
              "LastUpdateTime"
            ],
            "members": {
              "EmailAddress": {},
              "Reason": {},
              "LastUpdateTime": {
                "type": "timestamp"
              },
              "Attributes": {
                "type": "structure",
                "members": {
                  "MessageId": {},
                  "FeedbackId": {}
                }
              }
            }
          }
        }
      }
    },
    "ListConfigurationSets": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/configuration-sets"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationSets": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListContactLists": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists"
      },
      "input": {
        "type": "structure",
        "members": {
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContactLists": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ContactListName": {},
                "LastUpdatedTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListContacts": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          },
          "Filter": {
            "type": "structure",
            "members": {
              "FilteredStatus": {},
              "TopicFilter": {
                "type": "structure",
                "members": {
                  "TopicName": {},
                  "UseDefaultIfPreferenceUnavailable": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Contacts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EmailAddress": {},
                "TopicPreferences": {
                  "shape": "S1r"
                },
                "TopicDefaultPreferences": {
                  "shape": "S1r"
                },
                "UnsubscribeAll": {
                  "type": "boolean"
                },
                "LastUpdatedTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCustomVerificationEmailTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/custom-verification-email-templates"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomVerificationEmailTemplates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TemplateName": {},
                "FromEmailAddress": {},
                "TemplateSubject": {},
                "SuccessRedirectionURL": {},
                "FailureRedirectionURL": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDedicatedIpPools": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ip-pools"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIpPools": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListDeliverabilityTestReports": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/test-reports"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeliverabilityTestReports"
        ],
        "members": {
          "DeliverabilityTestReports": {
            "type": "list",
            "member": {
              "shape": "S65"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDomainDeliverabilityCampaigns": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/domains/{SubscribedDomain}/campaigns"
      },
      "input": {
        "type": "structure",
        "required": [
          "StartDate",
          "EndDate",
          "SubscribedDomain"
        ],
        "members": {
          "StartDate": {
            "location": "querystring",
            "locationName": "StartDate",
            "type": "timestamp"
          },
          "EndDate": {
            "location": "querystring",
            "locationName": "EndDate",
            "type": "timestamp"
          },
          "SubscribedDomain": {
            "location": "uri",
            "locationName": "SubscribedDomain"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DomainDeliverabilityCampaigns"
        ],
        "members": {
          "DomainDeliverabilityCampaigns": {
            "type": "list",
            "member": {
              "shape": "S6f"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEmailIdentities": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/identities"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailIdentities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "IdentityType": {},
                "IdentityName": {},
                "SendingEnabled": {
                  "type": "boolean"
                },
                "VerificationStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEmailTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/templates"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplatesMetadata": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TemplateName": {},
                "CreatedTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListImportJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/import-jobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "ImportDestinationType": {},
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobId": {},
                "ImportDestination": {
                  "shape": "S3g"
                },
                "JobStatus": {},
                "CreatedTimestamp": {
                  "type": "timestamp"
                },
                "ProcessedRecordsCount": {
                  "type": "integer"
                },
                "FailedRecordsCount": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRecommendations": {
      "http": {
        "requestUri": "/v2/email/vdm/recommendations"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "map",
            "key": {},
            "value": {}
          },
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Recommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceArn": {},
                "Type": {},
                "Description": {},
                "Status": {},
                "CreatedTimestamp": {
                  "type": "timestamp"
                },
                "LastUpdatedTimestamp": {
                  "type": "timestamp"
                },
                "Impact": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSuppressedDestinations": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/suppression/addresses"
      },
      "input": {
        "type": "structure",
        "members": {
          "Reasons": {
            "shape": "S11",
            "location": "querystring",
            "locationName": "Reason"
          },
          "StartDate": {
            "location": "querystring",
            "locationName": "StartDate",
            "type": "timestamp"
          },
          "EndDate": {
            "location": "querystring",
            "locationName": "EndDate",
            "type": "timestamp"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "PageSize",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SuppressedDestinationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EmailAddress",
                "Reason",
                "LastUpdateTime"
              ],
              "members": {
                "EmailAddress": {},
                "Reason": {},
                "LastUpdateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "querystring",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Tags"
        ],
        "members": {
          "Tags": {
            "shape": "Sw"
          }
        }
      }
    },
    "PutAccountDedicatedIpWarmupAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/dedicated-ips/warmup"
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoWarmupEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutAccountDetails": {
      "http": {
        "requestUri": "/v2/email/account/details"
      },
      "input": {
        "type": "structure",
        "required": [
          "MailType",
          "WebsiteURL",
          "UseCaseDescription"
        ],
        "members": {
          "MailType": {},
          "WebsiteURL": {
            "shape": "S4k"
          },
          "ContactLanguage": {},
          "UseCaseDescription": {
            "shape": "S4m"
          },
          "AdditionalContactEmailAddresses": {
            "shape": "S4n"
          },
          "ProductionAccessEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutAccountSendingAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/sending"
      },
      "input": {
        "type": "structure",
        "members": {
          "SendingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutAccountSuppressionAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/suppression"
      },
      "input": {
        "type": "structure",
        "members": {
          "SuppressedReasons": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutAccountVdmAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/vdm"
      },
      "input": {
        "type": "structure",
        "required": [
          "VdmAttributes"
        ],
        "members": {
          "VdmAttributes": {
            "shape": "S4s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetDeliveryOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/delivery-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "TlsPolicy": {},
          "SendingPoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetReputationOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/reputation-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "ReputationMetricsEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetSendingOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/sending"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "SendingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetSuppressionOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/suppression-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "SuppressedReasons": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetTrackingOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/tracking-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "CustomRedirectDomain": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetVdmOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/vdm-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "VdmOptions": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDedicatedIpInPool": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/dedicated-ips/{IP}/pool"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip",
          "DestinationPoolName"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          },
          "DestinationPoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDedicatedIpWarmupAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/dedicated-ips/{IP}/warmup"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip",
          "WarmupPercentage"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          },
          "WarmupPercentage": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDeliverabilityDashboardOption": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/deliverability-dashboard"
      },
      "input": {
        "type": "structure",
        "required": [
          "DashboardEnabled"
        ],
        "members": {
          "DashboardEnabled": {
            "type": "boolean"
          },
          "SubscribedDomains": {
            "shape": "S5x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityConfigurationSetAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/configuration-set"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "ConfigurationSetName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityDkimAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/dkim"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "SigningEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityDkimSigningAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/dkim/signing"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity",
          "SigningAttributesOrigin"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "SigningAttributesOrigin": {},
          "SigningAttributes": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DkimStatus": {},
          "DkimTokens": {
            "shape": "S33"
          }
        }
      }
    },
    "PutEmailIdentityFeedbackAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/feedback"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "EmailForwardingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityMailFromAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/mail-from"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "MailFromDomain": {},
          "BehaviorOnMxFailure": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutSuppressedDestination": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/suppression/addresses"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailAddress",
          "Reason"
        ],
        "members": {
          "EmailAddress": {},
          "Reason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SendBulkEmail": {
      "http": {
        "requestUri": "/v2/email/outbound-bulk-emails"
      },
      "input": {
        "type": "structure",
        "required": [
          "DefaultContent",
          "BulkEmailEntries"
        ],
        "members": {
          "FromEmailAddress": {},
          "FromEmailAddressIdentityArn": {},
          "ReplyToAddresses": {
            "shape": "Sac"
          },
          "FeedbackForwardingEmailAddress": {},
          "FeedbackForwardingEmailAddressIdentityArn": {},
          "DefaultEmailTags": {
            "shape": "Sad"
          },
          "DefaultContent": {
            "type": "structure",
            "members": {
              "Template": {
                "shape": "S2o"
              }
            }
          },
          "BulkEmailEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Destination"
              ],
              "members": {
                "Destination": {
                  "shape": "Sak"
                },
                "ReplacementTags": {
                  "shape": "Sad"
                },
                "ReplacementEmailContent": {
                  "type": "structure",
                  "members": {
                    "ReplacementTemplate": {
                      "type": "structure",
                      "members": {
                        "ReplacementTemplateData": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "ConfigurationSetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "BulkEmailEntryResults"
        ],
        "members": {
          "BulkEmailEntryResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Status": {},
                "Error": {},
                "MessageId": {}
              }
            }
          }
        }
      }
    },
    "SendCustomVerificationEmail": {
      "http": {
        "requestUri": "/v2/email/outbound-custom-verification-emails"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailAddress",
          "TemplateName"
        ],
        "members": {
          "EmailAddress": {},
          "TemplateName": {},
          "ConfigurationSetName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageId": {}
        }
      }
    },
    "SendEmail": {
      "http": {
        "requestUri": "/v2/email/outbound-emails"
      },
      "input": {
        "type": "structure",
        "required": [
          "Content"
        ],
        "members": {
          "FromEmailAddress": {},
          "FromEmailAddressIdentityArn": {},
          "Destination": {
            "shape": "Sak"
          },
          "ReplyToAddresses": {
            "shape": "Sac"
          },
          "FeedbackForwardingEmailAddress": {},
          "FeedbackForwardingEmailAddressIdentityArn": {},
          "Content": {
            "shape": "S2g"
          },
          "EmailTags": {
            "shape": "Sad"
          },
          "ConfigurationSetName": {},
          "ListManagementOptions": {
            "type": "structure",
            "required": [
              "ContactListName"
            ],
            "members": {
              "ContactListName": {},
              "TopicName": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageId": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/v2/email/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TestRenderEmailTemplate": {
      "http": {
        "requestUri": "/v2/email/templates/{TemplateName}/render"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName",
          "TemplateData"
        ],
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "TemplateName"
          },
          "TemplateData": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RenderedTemplate"
        ],
        "members": {
          "RenderedTemplate": {}
        }
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "querystring",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "TagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConfigurationSetEventDestination": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName",
          "EventDestination"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {
            "location": "uri",
            "locationName": "EventDestinationName"
          },
          "EventDestination": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateContact": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName",
          "EmailAddress"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          },
          "EmailAddress": {
            "location": "uri",
            "locationName": "EmailAddress"
          },
          "TopicPreferences": {
            "shape": "S1r"
          },
          "UnsubscribeAll": {
            "type": "boolean"
          },
          "AttributesData": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateContactList": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/contact-lists/{ContactListName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ContactListName"
        ],
        "members": {
          "ContactListName": {
            "location": "uri",
            "locationName": "ContactListName"
          },
          "Topics": {
            "shape": "S1z"
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCustomVerificationEmailTemplate": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName",
          "FromEmailAddress",
          "TemplateSubject",
          "TemplateContent",
          "SuccessRedirectionURL",
          "FailureRedirectionURL"
        ],
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "TemplateName"
          },
          "FromEmailAddress": {},
          "TemplateSubject": {},
          "TemplateContent": {},
          "SuccessRedirectionURL": {},
          "FailureRedirectionURL": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateEmailIdentityPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity",
          "PolicyName",
          "Policy"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "PolicyName": {
            "location": "uri",
            "locationName": "PolicyName"
          },
          "Policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateEmailTemplate": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/templates/{TemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "TemplateName",
          "TemplateContent"
        ],
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "TemplateName"
          },
          "TemplateContent": {
            "shape": "S3b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "Sn": {
      "type": "structure",
      "required": [
        "CustomRedirectDomain"
      ],
      "members": {
        "CustomRedirectDomain": {}
      }
    },
    "Sp": {
      "type": "structure",
      "members": {
        "TlsPolicy": {},
        "SendingPoolName": {}
      }
    },
    "Ss": {
      "type": "structure",
      "members": {
        "ReputationMetricsEnabled": {
          "type": "boolean"
        },
        "LastFreshStart": {
          "type": "timestamp"
        }
      }
    },
    "Sv": {
      "type": "structure",
      "members": {
        "SendingEnabled": {
          "type": "boolean"
        }
      }
    },
    "Sw": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S10": {
      "type": "structure",
      "members": {
        "SuppressedReasons": {
          "shape": "S11"
        }
      }
    },
    "S11": {
      "type": "list",
      "member": {}
    },
    "S13": {
      "type": "structure",
      "members": {
        "DashboardOptions": {
          "type": "structure",
          "members": {
            "EngagementMetrics": {}
          }
        },
        "GuardianOptions": {
          "type": "structure",
          "members": {
            "OptimizedSharedDelivery": {}
          }
        }
      }
    },
    "S1a": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "MatchingEventTypes": {
          "shape": "S1b"
        },
        "KinesisFirehoseDestination": {
          "shape": "S1d"
        },
        "CloudWatchDestination": {
          "shape": "S1f"
        },
        "SnsDestination": {
          "shape": "S1l"
        },
        "PinpointDestination": {
          "shape": "S1m"
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {}
    },
    "S1d": {
      "type": "structure",
      "required": [
        "IamRoleArn",
        "DeliveryStreamArn"
      ],
      "members": {
        "IamRoleArn": {},
        "DeliveryStreamArn": {}
      }
    },
    "S1f": {
      "type": "structure",
      "required": [
        "DimensionConfigurations"
      ],
      "members": {
        "DimensionConfigurations": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "DimensionName",
              "DimensionValueSource",
              "DefaultDimensionValue"
            ],
            "members": {
              "DimensionName": {},
              "DimensionValueSource": {},
              "DefaultDimensionValue": {}
            }
          }
        }
      }
    },
    "S1l": {
      "type": "structure",
      "required": [
        "TopicArn"
      ],
      "members": {
        "TopicArn": {}
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "ApplicationArn": {}
      }
    },
    "S1r": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "TopicName",
          "SubscriptionStatus"
        ],
        "members": {
          "TopicName": {},
          "SubscriptionStatus": {}
        }
      }
    },
    "S1z": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "TopicName",
          "DisplayName",
          "DefaultSubscriptionStatus"
        ],
        "members": {
          "TopicName": {},
          "DisplayName": {},
          "Description": {},
          "DefaultSubscriptionStatus": {}
        }
      }
    },
    "S2g": {
      "type": "structure",
      "members": {
        "Simple": {
          "type": "structure",
          "required": [
            "Subject",
            "Body"
          ],
          "members": {
            "Subject": {
              "shape": "S2i"
            },
            "Body": {
              "type": "structure",
              "members": {
                "Text": {
                  "shape": "S2i"
                },
                "Html": {
                  "shape": "S2i"
                }
              }
            }
          }
        },
        "Raw": {
          "type": "structure",
          "required": [
            "Data"
          ],
          "members": {
            "Data": {
              "type": "blob"
            }
          }
        },
        "Template": {
          "shape": "S2o"
        }
      }
    },
    "S2i": {
      "type": "structure",
      "required": [
        "Data"
      ],
      "members": {
        "Data": {},
        "Charset": {}
      }
    },
    "S2o": {
      "type": "structure",
      "members": {
        "TemplateName": {},
        "TemplateArn": {},
        "TemplateData": {}
      }
    },
    "S2v": {
      "type": "structure",
      "members": {
        "DomainSigningSelector": {},
        "DomainSigningPrivateKey": {
          "type": "string",
          "sensitive": true
        },
        "NextSigningKeyLength": {}
      }
    },
    "S31": {
      "type": "structure",
      "members": {
        "SigningEnabled": {
          "type": "boolean"
        },
        "Status": {},
        "Tokens": {
          "shape": "S33"
        },
        "SigningAttributesOrigin": {},
        "NextSigningKeyLength": {},
        "CurrentSigningKeyLength": {},
        "LastKeyGenerationTimestamp": {
          "type": "timestamp"
        }
      }
    },
    "S33": {
      "type": "list",
      "member": {}
    },
    "S3b": {
      "type": "structure",
      "members": {
        "Subject": {},
        "Text": {},
        "Html": {}
      }
    },
    "S3g": {
      "type": "structure",
      "members": {
        "SuppressionListDestination": {
          "type": "structure",
          "required": [
            "SuppressionListImportAction"
          ],
          "members": {
            "SuppressionListImportAction": {}
          }
        },
        "ContactListDestination": {
          "type": "structure",
          "required": [
            "ContactListName",
            "ContactListImportAction"
          ],
          "members": {
            "ContactListName": {},
            "ContactListImportAction": {}
          }
        }
      }
    },
    "S3l": {
      "type": "structure",
      "required": [
        "S3Url",
        "DataFormat"
      ],
      "members": {
        "S3Url": {},
        "DataFormat": {}
      }
    },
    "S4k": {
      "type": "string",
      "sensitive": true
    },
    "S4m": {
      "type": "string",
      "sensitive": true
    },
    "S4n": {
      "type": "list",
      "member": {
        "type": "string",
        "sensitive": true
      },
      "sensitive": true
    },
    "S4s": {
      "type": "structure",
      "required": [
        "VdmEnabled"
      ],
      "members": {
        "VdmEnabled": {},
        "DashboardAttributes": {
          "type": "structure",
          "members": {
            "EngagementMetrics": {}
          }
        },
        "GuardianAttributes": {
          "type": "structure",
          "members": {
            "OptimizedSharedDelivery": {}
          }
        }
      }
    },
    "S5j": {
      "type": "structure",
      "required": [
        "Ip",
        "WarmupStatus",
        "WarmupPercentage"
      ],
      "members": {
        "Ip": {},
        "WarmupStatus": {},
        "WarmupPercentage": {
          "type": "integer"
        },
        "PoolName": {}
      }
    },
    "S5x": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Domain": {},
          "SubscriptionStartDate": {
            "type": "timestamp"
          },
          "InboxPlacementTrackingOption": {
            "type": "structure",
            "members": {
              "Global": {
                "type": "boolean"
              },
              "TrackedIsps": {
                "type": "list",
                "member": {}
              }
            }
          }
        }
      }
    },
    "S65": {
      "type": "structure",
      "members": {
        "ReportId": {},
        "ReportName": {},
        "Subject": {},
        "FromEmailAddress": {},
        "CreateDate": {
          "type": "timestamp"
        },
        "DeliverabilityTestStatus": {}
      }
    },
    "S67": {
      "type": "structure",
      "members": {
        "InboxPercentage": {
          "type": "double"
        },
        "SpamPercentage": {
          "type": "double"
        },
        "MissingPercentage": {
          "type": "double"
        },
        "SpfPercentage": {
          "type": "double"
        },
        "DkimPercentage": {
          "type": "double"
        }
      }
    },
    "S6f": {
      "type": "structure",
      "members": {
        "CampaignId": {},
        "ImageUrl": {},
        "Subject": {},
        "FromAddress": {},
        "SendingIps": {
          "type": "list",
          "member": {}
        },
        "FirstSeenDateTime": {
          "type": "timestamp"
        },
        "LastSeenDateTime": {
          "type": "timestamp"
        },
        "InboxCount": {
          "type": "long"
        },
        "SpamCount": {
          "type": "long"
        },
        "ReadRate": {
          "type": "double"
        },
        "DeleteRate": {
          "type": "double"
        },
        "ReadDeleteRate": {
          "type": "double"
        },
        "ProjectedVolume": {
          "type": "long"
        },
        "Esps": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S6p": {
      "type": "structure",
      "members": {
        "InboxRawCount": {
          "type": "long"
        },
        "SpamRawCount": {
          "type": "long"
        },
        "ProjectedInbox": {
          "type": "long"
        },
        "ProjectedSpam": {
          "type": "long"
        }
      }
    },
    "S6q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "IspName": {},
          "InboxRawCount": {
            "type": "long"
          },
          "SpamRawCount": {
            "type": "long"
          },
          "InboxPercentage": {
            "type": "double"
          },
          "SpamPercentage": {
            "type": "double"
          }
        }
      }
    },
    "S70": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sac": {
      "type": "list",
      "member": {}
    },
    "Sad": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Value"
        ],
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "Sak": {
      "type": "structure",
      "members": {
        "ToAddresses": {
          "shape": "Sac"
        },
        "CcAddresses": {
          "shape": "Sac"
        },
        "BccAddresses": {
          "shape": "Sac"
        }
      }
    }
  }
}