{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-06-02",
    "endpointPrefix": "shield",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Shield",
    "serviceFullName": "AWS Shield",
    "serviceId": "Shield",
    "signatureVersion": "v4",
    "targetPrefix": "AWSShield_20160616",
    "uid": "shield-2016-06-02"
  },
  "operations": {
    "AssociateDRTLogBucket": {
      "input": {
        "type": "structure",
        "required": [
          "LogBucket"
        ],
        "members": {
          "LogBucket": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateDRTRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleArn"
        ],
        "members": {
          "RoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateHealthCheck": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionId",
          "HealthCheckArn"
        ],
        "members": {
          "ProtectionId": {},
          "HealthCheckArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateProactiveEngagementDetails": {
      "input": {
        "type": "structure",
        "required": [
          "EmergencyContactList"
        ],
        "members": {
          "EmergencyContactList": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateProtection": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ResourceArn"
        ],
        "members": {
          "Name": {},
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProtectionId": {}
        }
      }
    },
    "CreateProtectionGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionGroupId",
          "Aggregation",
          "Pattern"
        ],
        "members": {
          "ProtectionGroupId": {},
          "Aggregation": {},
          "Pattern": {},
          "ResourceType": {},
          "Members": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateSubscription": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProtection": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionId"
        ],
        "members": {
          "ProtectionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProtectionGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionGroupId"
        ],
        "members": {
          "ProtectionGroupId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSubscription": {
      "input": {
        "type": "structure",
        "members": {},
        "deprecated": true
      },
      "output": {
        "type": "structure",
        "members": {},
        "deprecated": true
      },
      "deprecated": true
    },
    "DescribeAttack": {
      "input": {
        "type": "structure",
        "required": [
          "AttackId"
        ],
        "members": {
          "AttackId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attack": {
            "type": "structure",
            "members": {
              "AttackId": {},
              "ResourceArn": {},
              "SubResources": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Type": {},
                    "Id": {},
                    "AttackVectors": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "required": [
                          "VectorType"
                        ],
                        "members": {
                          "VectorType": {},
                          "VectorCounters": {
                            "shape": "S1b"
                          }
                        }
                      }
                    },
                    "Counters": {
                      "shape": "S1b"
                    }
                  }
                }
              },
              "StartTime": {
                "type": "timestamp"
              },
              "EndTime": {
                "type": "timestamp"
              },
              "AttackCounters": {
                "shape": "S1b"
              },
              "AttackProperties": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "AttackLayer": {},
                    "AttackPropertyIdentifier": {},
                    "TopContributors": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "Name": {},
                          "Value": {
                            "type": "long"
                          }
                        }
                      }
                    },
                    "Unit": {},
                    "Total": {
                      "type": "long"
                    }
                  }
                }
              },
              "Mitigations": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "MitigationName": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeAttackStatistics": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "TimeRange",
          "DataItems"
        ],
        "members": {
          "TimeRange": {
            "shape": "S1s"
          },
          "DataItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AttackCount"
              ],
              "members": {
                "AttackVolume": {
                  "type": "structure",
                  "members": {
                    "BitsPerSecond": {
                      "shape": "S1w"
                    },
                    "PacketsPerSecond": {
                      "shape": "S1w"
                    },
                    "RequestsPerSecond": {
                      "shape": "S1w"
                    }
                  }
                },
                "AttackCount": {
                  "type": "long"
                }
              }
            }
          }
        }
      }
    },
    "DescribeDRTAccess": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "RoleArn": {},
          "LogBucketList": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "DescribeEmergencyContactSettings": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "EmergencyContactList": {
            "shape": "Sc"
          }
        }
      }
    },
    "DescribeProtection": {
      "input": {
        "type": "structure",
        "members": {
          "ProtectionId": {},
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Protection": {
            "shape": "S24"
          }
        }
      }
    },
    "DescribeProtectionGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionGroupId"
        ],
        "members": {
          "ProtectionGroupId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProtectionGroup"
        ],
        "members": {
          "ProtectionGroup": {
            "shape": "S29"
          }
        }
      }
    },
    "DescribeSubscription": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Subscription": {
            "type": "structure",
            "required": [
              "SubscriptionLimits"
            ],
            "members": {
              "StartTime": {
                "type": "timestamp"
              },
              "EndTime": {
                "type": "timestamp"
              },
              "TimeCommitmentInSeconds": {
                "type": "long"
              },
              "AutoRenew": {},
              "Limits": {
                "shape": "S2g"
              },
              "ProactiveEngagementStatus": {},
              "SubscriptionLimits": {
                "type": "structure",
                "required": [
                  "ProtectionLimits",
                  "ProtectionGroupLimits"
                ],
                "members": {
                  "ProtectionLimits": {
                    "type": "structure",
                    "required": [
                      "ProtectedResourceTypeLimits"
                    ],
                    "members": {
                      "ProtectedResourceTypeLimits": {
                        "shape": "S2g"
                      }
                    }
                  },
                  "ProtectionGroupLimits": {
                    "type": "structure",
                    "required": [
                      "MaxProtectionGroups",
                      "PatternTypeLimits"
                    ],
                    "members": {
                      "MaxProtectionGroups": {
                        "type": "long"
                      },
                      "PatternTypeLimits": {
                        "type": "structure",
                        "required": [
                          "ArbitraryPatternLimits"
                        ],
                        "members": {
                          "ArbitraryPatternLimits": {
                            "type": "structure",
                            "required": [
                              "MaxMembers"
                            ],
                            "members": {
                              "MaxMembers": {
                                "type": "long"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DisableProactiveEngagement": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateDRTLogBucket": {
      "input": {
        "type": "structure",
        "required": [
          "LogBucket"
        ],
        "members": {
          "LogBucket": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateDRTRole": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateHealthCheck": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionId",
          "HealthCheckArn"
        ],
        "members": {
          "ProtectionId": {},
          "HealthCheckArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableProactiveEngagement": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetSubscriptionState": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "SubscriptionState"
        ],
        "members": {
          "SubscriptionState": {}
        }
      }
    },
    "ListAttacks": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceArns": {
            "type": "list",
            "member": {}
          },
          "StartTime": {
            "shape": "S1s"
          },
          "EndTime": {
            "shape": "S1s"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AttackSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AttackId": {},
                "ResourceArn": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "AttackVectors": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "VectorType"
                    ],
                    "members": {
                      "VectorType": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProtectionGroups": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProtectionGroups"
        ],
        "members": {
          "ProtectionGroups": {
            "type": "list",
            "member": {
              "shape": "S29"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProtections": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Protections": {
            "type": "list",
            "member": {
              "shape": "S24"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListResourcesInProtectionGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionGroupId"
        ],
        "members": {
          "ProtectionGroupId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceArns"
        ],
        "members": {
          "ResourceArns": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "UpdateEmergencyContactSettings": {
      "input": {
        "type": "structure",
        "members": {
          "EmergencyContactList": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateProtectionGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionGroupId",
          "Aggregation",
          "Pattern"
        ],
        "members": {
          "ProtectionGroupId": {},
          "Aggregation": {},
          "Pattern": {},
          "ResourceType": {},
          "Members": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSubscription": {
      "input": {
        "type": "structure",
        "members": {
          "AutoRenew": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "Sc": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "EmailAddress"
        ],
        "members": {
          "EmailAddress": {},
          "PhoneNumber": {},
          "ContactNotes": {}
        }
      }
    },
    "Sr": {
      "type": "list",
      "member": {}
    },
    "S1b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Max": {
            "type": "double"
          },
          "Average": {
            "type": "double"
          },
          "Sum": {
            "type": "double"
          },
          "N": {
            "type": "integer"
          },
          "Unit": {}
        }
      }
    },
    "S1s": {
      "type": "structure",
      "members": {
        "FromInclusive": {
          "type": "timestamp"
        },
        "ToExclusive": {
          "type": "timestamp"
        }
      }
    },
    "S1w": {
      "type": "structure",
      "required": [
        "Max"
      ],
      "members": {
        "Max": {
          "type": "double"
        }
      }
    },
    "S24": {
      "type": "structure",
      "members": {
        "Id": {},
        "Name": {},
        "ResourceArn": {},
        "HealthCheckIds": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S29": {
      "type": "structure",
      "required": [
        "ProtectionGroupId",
        "Aggregation",
        "Pattern",
        "Members"
      ],
      "members": {
        "ProtectionGroupId": {},
        "Aggregation": {},
        "Pattern": {},
        "ResourceType": {},
        "Members": {
          "shape": "Sr"
        }
      }
    },
    "S2g": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {},
          "Max": {
            "type": "long"
          }
        }
      }
    }
  }
}