{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-06-02",
    "endpointPrefix": "shield",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Shield",
    "serviceFullName": "AWS Shield",
    "serviceId": "Shield",
    "signatureVersion": "v4",
    "targetPrefix": "AWSShield_20160616",
    "uid": "shield-2016-06-02"
  },
  "operations": {
    "AssociateDRTLogBucket": {
      "input": {
        "type": "structure",
        "required": [
          "LogBucket"
        ],
        "members": {
          "LogBucket": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateDRTRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleArn"
        ],
        "members": {
          "RoleArn": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateProtection": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ResourceArn"
        ],
        "members": {
          "Name": {
            "shape": "S8"
          },
          "ResourceArn": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProtectionId": {
            "shape": "Sb"
          }
        }
      }
    },
    "CreateSubscription": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProtection": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionId"
        ],
        "members": {
          "ProtectionId": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSubscription": {
      "input": {
        "type": "structure",
        "members": {},
        "deprecated": true
      },
      "output": {
        "type": "structure",
        "members": {},
        "deprecated": true
      },
      "deprecated": true
    },
    "DescribeAttack": {
      "input": {
        "type": "structure",
        "required": [
          "AttackId"
        ],
        "members": {
          "AttackId": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attack": {
            "type": "structure",
            "members": {
              "AttackId": {
                "shape": "Sj"
              },
              "ResourceArn": {
                "shape": "S9"
              },
              "SubResources": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Type": {
                      "type": "string",
                      "enum": [
                        "IP",
                        "URL"
                      ]
                    },
                    "Id": {},
                    "AttackVectors": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "required": [
                          "VectorType"
                        ],
                        "members": {
                          "VectorType": {},
                          "VectorCounters": {
                            "shape": "Ss"
                          }
                        }
                      }
                    },
                    "Counters": {
                      "shape": "Ss"
                    }
                  }
                }
              },
              "StartTime": {
                "type": "timestamp"
              },
              "EndTime": {
                "type": "timestamp"
              },
              "AttackCounters": {
                "shape": "Ss"
              },
              "AttackProperties": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "AttackLayer": {
                      "type": "string",
                      "enum": [
                        "NETWORK",
                        "APPLICATION"
                      ]
                    },
                    "AttackPropertyIdentifier": {
                      "type": "string",
                      "enum": [
                        "DESTINATION_URL",
                        "REFERRER",
                        "SOURCE_ASN",
                        "SOURCE_COUNTRY",
                        "SOURCE_IP_ADDRESS",
                        "SOURCE_USER_AGENT"
                      ]
                    },
                    "TopContributors": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "Name": {},
                          "Value": {
                            "type": "long"
                          }
                        }
                      }
                    },
                    "Unit": {
                      "type": "string",
                      "enum": [
                        "BITS",
                        "BYTES",
                        "PACKETS",
                        "REQUESTS"
                      ]
                    },
                    "Total": {
                      "type": "long"
                    }
                  }
                }
              },
              "Mitigations": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "MitigationName": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeDRTAccess": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "RoleArn": {
            "shape": "S5"
          },
          "LogBucketList": {
            "type": "list",
            "member": {
              "shape": "S2"
            },
            "max": 10,
            "min": 0
          }
        }
      }
    },
    "DescribeEmergencyContactSettings": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "EmergencyContactList": {
            "shape": "S1c"
          }
        }
      }
    },
    "DescribeProtection": {
      "input": {
        "type": "structure",
        "required": [
          "ProtectionId"
        ],
        "members": {
          "ProtectionId": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Protection": {
            "shape": "S1h"
          }
        }
      }
    },
    "DescribeSubscription": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Subscription": {
            "type": "structure",
            "members": {
              "StartTime": {
                "type": "timestamp"
              },
              "EndTime": {
                "type": "timestamp"
              },
              "TimeCommitmentInSeconds": {
                "type": "long",
                "min": 0
              },
              "AutoRenew": {
                "shape": "S1n"
              },
              "Limits": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Type": {},
                    "Max": {
                      "type": "long"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DisassociateDRTLogBucket": {
      "input": {
        "type": "structure",
        "required": [
          "LogBucket"
        ],
        "members": {
          "LogBucket": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateDRTRole": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetSubscriptionState": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "SubscriptionState"
        ],
        "members": {
          "SubscriptionState": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          }
        }
      }
    },
    "ListAttacks": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceArns": {
            "type": "list",
            "member": {
              "shape": "S9"
            }
          },
          "StartTime": {
            "shape": "S1z"
          },
          "EndTime": {
            "shape": "S1z"
          },
          "NextToken": {
            "shape": "S20"
          },
          "MaxResults": {
            "shape": "S21"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AttackSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AttackId": {},
                "ResourceArn": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "AttackVectors": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "VectorType"
                    ],
                    "members": {
                      "VectorType": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "S20"
          }
        }
      }
    },
    "ListProtections": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S20"
          },
          "MaxResults": {
            "shape": "S21"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Protections": {
            "type": "list",
            "member": {
              "shape": "S1h"
            }
          },
          "NextToken": {
            "shape": "S20"
          }
        }
      }
    },
    "UpdateEmergencyContactSettings": {
      "input": {
        "type": "structure",
        "members": {
          "EmergencyContactList": {
            "shape": "S1c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSubscription": {
      "input": {
        "type": "structure",
        "members": {
          "AutoRenew": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 63,
      "min": 3,
      "pattern": "^([a-z]|(\\d(?!\\d{0,2}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3})))([a-z\\d]|(\\.(?!(\\.|-)))|(-(?!\\.))){1,61}[a-z\\d]$"
    },
    "S5": {
      "type": "string",
      "max": 96,
      "pattern": "^arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "S8": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[ a-zA-Z0-9_\\\\.\\\\-]*"
    },
    "S9": {
      "type": "string",
      "min": 1
    },
    "Sb": {
      "type": "string",
      "max": 36,
      "min": 1,
      "pattern": "[a-zA-Z0-9\\\\-]*"
    },
    "Sj": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9\\\\-]*"
    },
    "Ss": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Max": {
            "type": "double"
          },
          "Average": {
            "type": "double"
          },
          "Sum": {
            "type": "double"
          },
          "N": {
            "type": "integer"
          },
          "Unit": {}
        }
      }
    },
    "S1c": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "EmailAddress"
        ],
        "members": {
          "EmailAddress": {
            "type": "string",
            "pattern": "^\\S+@\\S+\\.\\S+$"
          }
        }
      },
      "max": 10,
      "min": 0
    },
    "S1h": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "Sb"
        },
        "Name": {
          "shape": "S8"
        },
        "ResourceArn": {
          "shape": "S9"
        }
      }
    },
    "S1n": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "S1z": {
      "type": "structure",
      "members": {
        "FromInclusive": {
          "type": "timestamp"
        },
        "ToExclusive": {
          "type": "timestamp"
        }
      }
    },
    "S20": {
      "type": "string",
      "min": 1
    },
    "S21": {
      "type": "integer",
      "max": 10000,
      "min": 0
    }
  }
}