{
  "version": "2.0",
  "metadata": {
    "uid": "sms-2016-10-24",
    "apiVersion": "2016-10-24",
    "endpointPrefix": "sms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SMS",
    "serviceFullName": "AWS Server Migration Service",
    "serviceId": "SMS",
    "signatureVersion": "v4",
    "targetPrefix": "AWSServerMigrationService_V2016_10_24"
  },
  "operations": {
    "CreateReplicationJob": {
      "input": {
        "type": "structure",
        "required": [
          "serverId",
          "seedReplicationTime",
          "frequency"
        ],
        "members": {
          "serverId": {},
          "seedReplicationTime": {
            "type": "timestamp"
          },
          "frequency": {
            "type": "integer"
          },
          "licenseType": {
            "shape": "S5"
          },
          "roleName": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "replicationJobId": {}
        }
      }
    },
    "DeleteReplicationJob": {
      "input": {
        "type": "structure",
        "required": [
          "replicationJobId"
        ],
        "members": {
          "replicationJobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteServerCatalog": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateConnector": {
      "input": {
        "type": "structure",
        "required": [
          "connectorId"
        ],
        "members": {
          "connectorId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetConnectors": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "connectorList": {
            "type": "list",
            "member": {
              "locationName": "item",
              "type": "structure",
              "members": {
                "connectorId": {},
                "version": {},
                "status": {
                  "type": "string",
                  "enum": [
                    "HEALTHY",
                    "UNHEALTHY"
                  ]
                },
                "capabilityList": {
                  "type": "list",
                  "member": {
                    "locationName": "item",
                    "type": "string",
                    "enum": [
                      "VSPHERE"
                    ]
                  }
                },
                "vmManagerName": {},
                "vmManagerType": {
                  "shape": "Ss"
                },
                "vmManagerId": {},
                "ipAddress": {},
                "macAddress": {},
                "associatedOn": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetReplicationJobs": {
      "input": {
        "type": "structure",
        "members": {
          "replicationJobId": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "replicationJobList": {
            "type": "list",
            "member": {
              "shape": "Sz",
              "locationName": "item"
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetReplicationRuns": {
      "input": {
        "type": "structure",
        "required": [
          "replicationJobId"
        ],
        "members": {
          "replicationJobId": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "replicationJob": {
            "shape": "Sz"
          },
          "replicationRunList": {
            "shape": "S19"
          },
          "nextToken": {}
        }
      }
    },
    "GetServers": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "lastModifiedOn": {
            "type": "timestamp"
          },
          "serverCatalogStatus": {
            "type": "string",
            "enum": [
              "NOT_IMPORTED",
              "IMPORTING",
              "AVAILABLE",
              "DELETED",
              "EXPIRED"
            ]
          },
          "serverList": {
            "type": "list",
            "member": {
              "locationName": "item",
              "type": "structure",
              "members": {
                "serverId": {},
                "serverType": {
                  "shape": "S10"
                },
                "vmServer": {
                  "shape": "S11"
                },
                "replicationJobId": {},
                "replicationJobTerminated": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ImportServerCatalog": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartOnDemandReplicationRun": {
      "input": {
        "type": "structure",
        "required": [
          "replicationJobId"
        ],
        "members": {
          "replicationJobId": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "replicationRunId": {}
        }
      }
    },
    "UpdateReplicationJob": {
      "input": {
        "type": "structure",
        "required": [
          "replicationJobId"
        ],
        "members": {
          "replicationJobId": {},
          "frequency": {
            "type": "integer"
          },
          "nextReplicationRunStartTime": {
            "type": "timestamp"
          },
          "licenseType": {
            "shape": "S5"
          },
          "roleName": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "string",
      "enum": [
        "AWS",
        "BYOL"
      ]
    },
    "Ss": {
      "type": "string",
      "enum": [
        "VSPHERE"
      ]
    },
    "Sz": {
      "type": "structure",
      "members": {
        "replicationJobId": {},
        "serverId": {},
        "serverType": {
          "shape": "S10"
        },
        "vmServer": {
          "shape": "S11"
        },
        "seedReplicationTime": {
          "type": "timestamp"
        },
        "frequency": {
          "type": "integer"
        },
        "nextReplicationRunStartTime": {
          "type": "timestamp"
        },
        "licenseType": {
          "shape": "S5"
        },
        "roleName": {},
        "latestAmiId": {},
        "state": {
          "type": "string",
          "enum": [
            "PENDING",
            "ACTIVE",
            "FAILED",
            "DELETING",
            "DELETED"
          ]
        },
        "statusMessage": {},
        "description": {},
        "replicationRunList": {
          "shape": "S19"
        }
      }
    },
    "S10": {
      "type": "string",
      "enum": [
        "VIRTUAL_MACHINE"
      ]
    },
    "S11": {
      "type": "structure",
      "members": {
        "vmServerAddress": {
          "type": "structure",
          "members": {
            "vmManagerId": {},
            "vmId": {}
          }
        },
        "vmName": {},
        "vmManagerName": {},
        "vmManagerType": {
          "shape": "Ss"
        },
        "vmPath": {}
      }
    },
    "S19": {
      "type": "list",
      "member": {
        "locationName": "item",
        "type": "structure",
        "members": {
          "replicationRunId": {},
          "state": {
            "type": "string",
            "enum": [
              "PENDING",
              "MISSED",
              "ACTIVE",
              "FAILED",
              "COMPLETED",
              "DELETING",
              "DELETED"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "ON_DEMAND",
              "AUTOMATIC"
            ]
          },
          "statusMessage": {},
          "amiId": {},
          "scheduledStartTime": {
            "type": "timestamp"
          },
          "completedTime": {
            "type": "timestamp"
          },
          "description": {}
        }
      }
    }
  }
}