{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-06-30",
    "endpointPrefix": "snowball",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon Snowball",
    "serviceFullName": "Amazon Import/Export Snowball",
    "serviceId": "Snowball",
    "signatureVersion": "v4",
    "targetPrefix": "AWSIESnowballJobManagementService",
    "uid": "snowball-2016-06-30"
  },
  "operations": {
    "CancelCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateAddress": {
      "input": {
        "type": "structure",
        "required": [
          "Address"
        ],
        "members": {
          "Address": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressId": {
            "shape": "Sa"
          }
        }
      }
    },
    "CreateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "JobType",
          "Resources",
          "AddressId",
          "RoleARN",
          "ShippingOption"
        ],
        "members": {
          "JobType": {
            "shape": "Se"
          },
          "Resources": {
            "shape": "Sf"
          },
          "Description": {
            "shape": "Sa"
          },
          "AddressId": {
            "shape": "S9"
          },
          "KmsKeyARN": {
            "shape": "Sr"
          },
          "RoleARN": {
            "shape": "Ss"
          },
          "SnowballType": {
            "shape": "St"
          },
          "ShippingOption": {
            "shape": "Su"
          },
          "Notification": {
            "shape": "Sv"
          },
          "ForwardingAddressId": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterId": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "members": {
          "JobType": {
            "shape": "Se"
          },
          "Resources": {
            "shape": "Sf"
          },
          "Description": {
            "shape": "Sa"
          },
          "AddressId": {
            "shape": "S9"
          },
          "KmsKeyARN": {
            "shape": "Sr"
          },
          "RoleARN": {
            "shape": "Ss"
          },
          "SnowballCapacityPreference": {
            "shape": "S11"
          },
          "ShippingOption": {
            "shape": "Su"
          },
          "Notification": {
            "shape": "Sv"
          },
          "ClusterId": {
            "shape": "S2"
          },
          "SnowballType": {
            "shape": "St"
          },
          "ForwardingAddressId": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S5"
          }
        }
      }
    },
    "DescribeAddress": {
      "input": {
        "type": "structure",
        "required": [
          "AddressId"
        ],
        "members": {
          "AddressId": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Address": {
            "shape": "S8"
          }
        }
      }
    },
    "DescribeAddresses": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S16"
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Addresses": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      }
    },
    "DescribeCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterMetadata": {
            "type": "structure",
            "members": {
              "ClusterId": {
                "shape": "Sa"
              },
              "Description": {
                "shape": "Sa"
              },
              "KmsKeyARN": {
                "shape": "Sr"
              },
              "RoleARN": {
                "shape": "Ss"
              },
              "ClusterState": {
                "shape": "S1c"
              },
              "JobType": {
                "shape": "Se"
              },
              "SnowballType": {
                "shape": "St"
              },
              "CreationDate": {
                "type": "timestamp"
              },
              "Resources": {
                "shape": "Sf"
              },
              "AddressId": {
                "shape": "S9"
              },
              "ShippingOption": {
                "shape": "Su"
              },
              "Notification": {
                "shape": "Sv"
              },
              "ForwardingAddressId": {
                "shape": "S9"
              }
            }
          }
        }
      }
    },
    "DescribeJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobMetadata": {
            "shape": "S1g"
          },
          "SubJobMetadata": {
            "type": "list",
            "member": {
              "shape": "S1g"
            }
          }
        }
      }
    },
    "GetJobManifest": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ManifestURI": {
            "shape": "Sa"
          }
        }
      }
    },
    "GetJobUnlockCode": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnlockCode": {
            "shape": "Sa"
          }
        }
      }
    },
    "GetSnowballUsage": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "SnowballLimit": {
            "type": "integer"
          },
          "SnowballsInUse": {
            "type": "integer"
          }
        }
      }
    },
    "ListClusterJobs": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {
            "shape": "S2"
          },
          "MaxResults": {
            "shape": "S16"
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobListEntries": {
            "shape": "S1w"
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      }
    },
    "ListClusters": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S16"
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterListEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ClusterId": {
                  "shape": "Sa"
                },
                "ClusterState": {
                  "shape": "S1c"
                },
                "CreationDate": {
                  "type": "timestamp"
                },
                "Description": {
                  "shape": "Sa"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      }
    },
    "ListCompatibleImages": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S16"
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CompatibleImages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AmiId": {
                  "shape": "Sa"
                },
                "Name": {
                  "shape": "Sa"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S16"
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobListEntries": {
            "shape": "S1w"
          },
          "NextToken": {
            "shape": "Sa"
          }
        }
      }
    },
    "UpdateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {
            "shape": "S2"
          },
          "RoleARN": {
            "shape": "Ss"
          },
          "Description": {
            "shape": "Sa"
          },
          "Resources": {
            "shape": "Sf"
          },
          "AddressId": {
            "shape": "S9"
          },
          "ShippingOption": {
            "shape": "Su"
          },
          "Notification": {
            "shape": "Sv"
          },
          "ForwardingAddressId": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S5"
          },
          "RoleARN": {
            "shape": "Ss"
          },
          "Notification": {
            "shape": "Sv"
          },
          "Resources": {
            "shape": "Sf"
          },
          "AddressId": {
            "shape": "S9"
          },
          "ShippingOption": {
            "shape": "Su"
          },
          "Description": {
            "shape": "Sa"
          },
          "SnowballCapacityPreference": {
            "shape": "S11"
          },
          "ForwardingAddressId": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 39,
      "min": 39,
      "pattern": "CID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "S5": {
      "type": "string",
      "max": 39,
      "min": 39,
      "pattern": "(M|J)ID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "S8": {
      "type": "structure",
      "members": {
        "AddressId": {
          "shape": "S9"
        },
        "Name": {
          "shape": "Sa"
        },
        "Company": {
          "shape": "Sa"
        },
        "Street1": {
          "shape": "Sa"
        },
        "Street2": {
          "shape": "Sa"
        },
        "Street3": {
          "shape": "Sa"
        },
        "City": {
          "shape": "Sa"
        },
        "StateOrProvince": {
          "shape": "Sa"
        },
        "PrefectureOrDistrict": {
          "shape": "Sa"
        },
        "Landmark": {
          "shape": "Sa"
        },
        "Country": {
          "shape": "Sa"
        },
        "PostalCode": {
          "shape": "Sa"
        },
        "PhoneNumber": {
          "shape": "Sa"
        },
        "IsRestricted": {
          "type": "boolean"
        }
      }
    },
    "S9": {
      "type": "string",
      "max": 40,
      "min": 40,
      "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "Sa": {
      "type": "string",
      "min": 1
    },
    "Se": {
      "type": "string",
      "enum": [
        "IMPORT",
        "EXPORT",
        "LOCAL_USE"
      ]
    },
    "Sf": {
      "type": "structure",
      "members": {
        "S3Resources": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "BucketArn": {
                "shape": "Si"
              },
              "KeyRange": {
                "type": "structure",
                "members": {
                  "BeginMarker": {
                    "shape": "Sa"
                  },
                  "EndMarker": {
                    "shape": "Sa"
                  }
                }
              }
            }
          }
        },
        "LambdaResources": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LambdaArn": {
                "shape": "Si"
              },
              "EventTriggers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "EventResourceARN": {
                      "shape": "Si"
                    }
                  }
                }
              }
            }
          }
        },
        "Ec2AmiResources": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "AmiId"
            ],
            "members": {
              "AmiId": {
                "type": "string",
                "max": 21,
                "min": 12,
                "pattern": "(ami-[0-9a-f]{8})|(ami-[0-9a-f]{17})"
              },
              "SnowballAmiId": {
                "shape": "Sa"
              }
            }
          }
        }
      }
    },
    "Si": {
      "type": "string",
      "max": 255
    },
    "Sr": {
      "type": "string",
      "max": 255,
      "pattern": "arn:aws.*:kms:.*:[0-9]{12}:key/.*"
    },
    "Ss": {
      "type": "string",
      "max": 255,
      "pattern": "arn:aws.*:iam::[0-9]{12}:role/.*"
    },
    "St": {
      "type": "string",
      "enum": [
        "STANDARD",
        "EDGE"
      ]
    },
    "Su": {
      "type": "string",
      "enum": [
        "SECOND_DAY",
        "NEXT_DAY",
        "EXPRESS",
        "STANDARD"
      ]
    },
    "Sv": {
      "type": "structure",
      "members": {
        "SnsTopicARN": {
          "type": "string",
          "max": 255,
          "pattern": "arn:aws.*:sns:.*:[0-9]{12}:.*"
        },
        "JobStatesToNotify": {
          "type": "list",
          "member": {
            "shape": "Sy"
          }
        },
        "NotifyAll": {
          "type": "boolean"
        }
      }
    },
    "Sy": {
      "type": "string",
      "enum": [
        "New",
        "PreparingAppliance",
        "PreparingShipment",
        "InTransitToCustomer",
        "WithCustomer",
        "InTransitToAWS",
        "WithAWSSortingFacility",
        "WithAWS",
        "InProgress",
        "Complete",
        "Cancelled",
        "Listing",
        "Pending"
      ]
    },
    "S11": {
      "type": "string",
      "enum": [
        "T50",
        "T80",
        "T100",
        "NoPreference"
      ]
    },
    "S16": {
      "type": "integer",
      "max": 100,
      "min": 0
    },
    "S1c": {
      "type": "string",
      "enum": [
        "AwaitingQuorum",
        "Pending",
        "InUse",
        "Complete",
        "Cancelled"
      ]
    },
    "S1g": {
      "type": "structure",
      "members": {
        "JobId": {
          "shape": "Sa"
        },
        "JobState": {
          "shape": "Sy"
        },
        "JobType": {
          "shape": "Se"
        },
        "SnowballType": {
          "shape": "St"
        },
        "CreationDate": {
          "type": "timestamp"
        },
        "Resources": {
          "shape": "Sf"
        },
        "Description": {
          "shape": "Sa"
        },
        "KmsKeyARN": {
          "shape": "Sr"
        },
        "RoleARN": {
          "shape": "Ss"
        },
        "AddressId": {
          "shape": "S9"
        },
        "ShippingDetails": {
          "type": "structure",
          "members": {
            "ShippingOption": {
              "shape": "Su"
            },
            "InboundShipment": {
              "shape": "S1i"
            },
            "OutboundShipment": {
              "shape": "S1i"
            }
          }
        },
        "SnowballCapacityPreference": {
          "shape": "S11"
        },
        "Notification": {
          "shape": "Sv"
        },
        "DataTransferProgress": {
          "type": "structure",
          "members": {
            "BytesTransferred": {
              "type": "long"
            },
            "ObjectsTransferred": {
              "type": "long"
            },
            "TotalBytes": {
              "type": "long"
            },
            "TotalObjects": {
              "type": "long"
            }
          }
        },
        "JobLogInfo": {
          "type": "structure",
          "members": {
            "JobCompletionReportURI": {
              "shape": "Sa"
            },
            "JobSuccessLogURI": {
              "shape": "Sa"
            },
            "JobFailureLogURI": {
              "shape": "Sa"
            }
          }
        },
        "ClusterId": {
          "shape": "Sa"
        },
        "ForwardingAddressId": {
          "shape": "S9"
        }
      }
    },
    "S1i": {
      "type": "structure",
      "members": {
        "Status": {
          "shape": "Sa"
        },
        "TrackingNumber": {
          "shape": "Sa"
        }
      }
    },
    "S1w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "Sa"
          },
          "JobState": {
            "shape": "Sy"
          },
          "IsMaster": {
            "type": "boolean"
          },
          "JobType": {
            "shape": "Se"
          },
          "SnowballType": {
            "shape": "St"
          },
          "CreationDate": {
            "type": "timestamp"
          },
          "Description": {
            "shape": "Sa"
          }
        }
      }
    }
  }
}