{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-06-30",
    "endpointPrefix": "snowball",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon Snowball",
    "serviceFullName": "Amazon Import/Export Snowball",
    "serviceId": "Snowball",
    "signatureVersion": "v4",
    "targetPrefix": "AWSIESnowballJobManagementService",
    "uid": "snowball-2016-06-30"
  },
  "operations": {
    "CancelCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateAddress": {
      "input": {
        "type": "structure",
        "required": [
          "Address"
        ],
        "members": {
          "Address": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressId": {}
        }
      }
    },
    "CreateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "JobType",
          "AddressId",
          "SnowballType",
          "ShippingOption"
        ],
        "members": {
          "JobType": {},
          "Resources": {
            "shape": "Sf"
          },
          "OnDeviceServiceConfiguration": {
            "shape": "Sv"
          },
          "Description": {},
          "AddressId": {},
          "KmsKeyARN": {},
          "RoleARN": {},
          "SnowballType": {},
          "ShippingOption": {},
          "Notification": {
            "shape": "S19"
          },
          "ForwardingAddressId": {},
          "TaxDocuments": {
            "shape": "S1d"
          },
          "RemoteManagement": {},
          "InitialClusterSize": {
            "type": "integer"
          },
          "ForceCreateJobs": {
            "type": "boolean"
          },
          "LongTermPricingIds": {
            "type": "list",
            "member": {}
          },
          "SnowballCapacityPreference": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterId": {},
          "JobListEntries": {
            "shape": "S1m"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "members": {
          "JobType": {},
          "Resources": {
            "shape": "Sf"
          },
          "OnDeviceServiceConfiguration": {
            "shape": "Sv"
          },
          "Description": {},
          "AddressId": {},
          "KmsKeyARN": {},
          "RoleARN": {},
          "SnowballCapacityPreference": {},
          "ShippingOption": {},
          "Notification": {
            "shape": "S19"
          },
          "ClusterId": {},
          "SnowballType": {},
          "ForwardingAddressId": {},
          "TaxDocuments": {
            "shape": "S1d"
          },
          "DeviceConfiguration": {
            "shape": "S1q"
          },
          "RemoteManagement": {},
          "LongTermPricingId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {}
        }
      }
    },
    "CreateLongTermPricing": {
      "input": {
        "type": "structure",
        "required": [
          "LongTermPricingType"
        ],
        "members": {
          "LongTermPricingType": {},
          "IsLongTermPricingAutoRenew": {
            "type": "boolean"
          },
          "SnowballType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LongTermPricingId": {}
        }
      }
    },
    "CreateReturnShippingLabel": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {},
          "ShippingOption": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {}
        }
      }
    },
    "DescribeAddress": {
      "input": {
        "type": "structure",
        "required": [
          "AddressId"
        ],
        "members": {
          "AddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Address": {
            "shape": "S8"
          }
        }
      }
    },
    "DescribeAddresses": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Addresses": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterMetadata": {
            "type": "structure",
            "members": {
              "ClusterId": {},
              "Description": {},
              "KmsKeyARN": {},
              "RoleARN": {},
              "ClusterState": {},
              "JobType": {},
              "SnowballType": {},
              "CreationDate": {
                "type": "timestamp"
              },
              "Resources": {
                "shape": "Sf"
              },
              "AddressId": {},
              "ShippingOption": {},
              "Notification": {
                "shape": "S19"
              },
              "ForwardingAddressId": {},
              "TaxDocuments": {
                "shape": "S1d"
              },
              "OnDeviceServiceConfiguration": {
                "shape": "Sv"
              }
            }
          }
        }
      }
    },
    "DescribeJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobMetadata": {
            "shape": "S2d"
          },
          "SubJobMetadata": {
            "type": "list",
            "member": {
              "shape": "S2d"
            }
          }
        }
      }
    },
    "DescribeReturnShippingLabel": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {},
          "ExpirationDate": {
            "type": "timestamp"
          },
          "ReturnShippingLabelURI": {}
        }
      }
    },
    "GetJobManifest": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ManifestURI": {}
        }
      }
    },
    "GetJobUnlockCode": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnlockCode": {}
        }
      }
    },
    "GetSnowballUsage": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "SnowballLimit": {
            "type": "integer"
          },
          "SnowballsInUse": {
            "type": "integer"
          }
        }
      }
    },
    "GetSoftwareUpdates": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UpdatesURI": {}
        }
      }
    },
    "ListClusterJobs": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobListEntries": {
            "shape": "S1m"
          },
          "NextToken": {}
        }
      }
    },
    "ListClusters": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterListEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ClusterId": {},
                "ClusterState": {},
                "CreationDate": {
                  "type": "timestamp"
                },
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCompatibleImages": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CompatibleImages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AmiId": {},
                "Name": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobListEntries": {
            "shape": "S1m"
          },
          "NextToken": {}
        }
      }
    },
    "ListLongTermPricing": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LongTermPricingEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LongTermPricingId": {},
                "LongTermPricingEndDate": {
                  "type": "timestamp"
                },
                "LongTermPricingStartDate": {
                  "type": "timestamp"
                },
                "LongTermPricingType": {},
                "CurrentActiveJob": {},
                "ReplacementJob": {},
                "IsLongTermPricingAutoRenew": {
                  "type": "boolean"
                },
                "LongTermPricingStatus": {},
                "SnowballType": {},
                "JobIds": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListServiceVersions": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceName"
        ],
        "members": {
          "ServiceName": {},
          "DependentServices": {
            "shape": "S3e"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServiceVersions",
          "ServiceName"
        ],
        "members": {
          "ServiceVersions": {
            "type": "list",
            "member": {
              "shape": "S3g"
            }
          },
          "ServiceName": {},
          "DependentServices": {
            "shape": "S3e"
          },
          "NextToken": {}
        }
      }
    },
    "UpdateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "RoleARN": {},
          "Description": {},
          "Resources": {
            "shape": "Sf"
          },
          "OnDeviceServiceConfiguration": {
            "shape": "Sv"
          },
          "AddressId": {},
          "ShippingOption": {},
          "Notification": {
            "shape": "S19"
          },
          "ForwardingAddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {},
          "RoleARN": {},
          "Notification": {
            "shape": "S19"
          },
          "Resources": {
            "shape": "Sf"
          },
          "OnDeviceServiceConfiguration": {
            "shape": "Sv"
          },
          "AddressId": {},
          "ShippingOption": {},
          "Description": {},
          "SnowballCapacityPreference": {},
          "ForwardingAddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJobShipmentState": {
      "input": {
        "type": "structure",
        "required": [
          "JobId",
          "ShipmentState"
        ],
        "members": {
          "JobId": {},
          "ShipmentState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateLongTermPricing": {
      "input": {
        "type": "structure",
        "required": [
          "LongTermPricingId"
        ],
        "members": {
          "LongTermPricingId": {},
          "ReplacementJob": {},
          "IsLongTermPricingAutoRenew": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S8": {
      "type": "structure",
      "members": {
        "AddressId": {},
        "Name": {},
        "Company": {},
        "Street1": {},
        "Street2": {},
        "Street3": {},
        "City": {},
        "StateOrProvince": {},
        "PrefectureOrDistrict": {},
        "Landmark": {},
        "Country": {},
        "PostalCode": {},
        "PhoneNumber": {},
        "IsRestricted": {
          "type": "boolean"
        }
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "S3Resources": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "BucketArn": {},
              "KeyRange": {
                "type": "structure",
                "members": {
                  "BeginMarker": {},
                  "EndMarker": {}
                }
              },
              "TargetOnDeviceServices": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "ServiceName": {},
                    "TransferOption": {}
                  }
                }
              }
            }
          }
        },
        "LambdaResources": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LambdaArn": {},
              "EventTriggers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "EventResourceARN": {}
                  }
                }
              }
            }
          }
        },
        "Ec2AmiResources": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "AmiId"
            ],
            "members": {
              "AmiId": {},
              "SnowballAmiId": {}
            }
          }
        }
      }
    },
    "Sv": {
      "type": "structure",
      "members": {
        "NFSOnDeviceService": {
          "type": "structure",
          "members": {
            "StorageLimit": {
              "type": "integer"
            },
            "StorageUnit": {}
          }
        },
        "TGWOnDeviceService": {
          "type": "structure",
          "members": {
            "StorageLimit": {
              "type": "integer"
            },
            "StorageUnit": {}
          }
        },
        "EKSOnDeviceService": {
          "type": "structure",
          "members": {
            "KubernetesVersion": {},
            "EKSAnywhereVersion": {}
          }
        },
        "S3OnDeviceService": {
          "type": "structure",
          "members": {
            "StorageLimit": {
              "type": "double"
            },
            "StorageUnit": {},
            "ServiceSize": {
              "type": "integer"
            },
            "FaultTolerance": {
              "type": "integer"
            }
          }
        }
      }
    },
    "S19": {
      "type": "structure",
      "members": {
        "SnsTopicARN": {},
        "JobStatesToNotify": {
          "type": "list",
          "member": {}
        },
        "NotifyAll": {
          "type": "boolean"
        }
      }
    },
    "S1d": {
      "type": "structure",
      "members": {
        "IND": {
          "type": "structure",
          "members": {
            "GSTIN": {}
          }
        }
      }
    },
    "S1m": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "JobId": {},
          "JobState": {},
          "IsMaster": {
            "type": "boolean"
          },
          "JobType": {},
          "SnowballType": {},
          "CreationDate": {
            "type": "timestamp"
          },
          "Description": {}
        }
      }
    },
    "S1q": {
      "type": "structure",
      "members": {
        "SnowconeDeviceConfiguration": {
          "type": "structure",
          "members": {
            "WirelessConnection": {
              "type": "structure",
              "members": {
                "IsWifiEnabled": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "S2d": {
      "type": "structure",
      "members": {
        "JobId": {},
        "JobState": {},
        "JobType": {},
        "SnowballType": {},
        "CreationDate": {
          "type": "timestamp"
        },
        "Resources": {
          "shape": "Sf"
        },
        "Description": {},
        "KmsKeyARN": {},
        "RoleARN": {},
        "AddressId": {},
        "ShippingDetails": {
          "type": "structure",
          "members": {
            "ShippingOption": {},
            "InboundShipment": {
              "shape": "S2f"
            },
            "OutboundShipment": {
              "shape": "S2f"
            }
          }
        },
        "SnowballCapacityPreference": {},
        "Notification": {
          "shape": "S19"
        },
        "DataTransferProgress": {
          "type": "structure",
          "members": {
            "BytesTransferred": {
              "type": "long"
            },
            "ObjectsTransferred": {
              "type": "long"
            },
            "TotalBytes": {
              "type": "long"
            },
            "TotalObjects": {
              "type": "long"
            }
          }
        },
        "JobLogInfo": {
          "type": "structure",
          "members": {
            "JobCompletionReportURI": {},
            "JobSuccessLogURI": {},
            "JobFailureLogURI": {}
          }
        },
        "ClusterId": {},
        "ForwardingAddressId": {},
        "TaxDocuments": {
          "shape": "S1d"
        },
        "DeviceConfiguration": {
          "shape": "S1q"
        },
        "RemoteManagement": {},
        "LongTermPricingId": {},
        "OnDeviceServiceConfiguration": {
          "shape": "Sv"
        }
      }
    },
    "S2f": {
      "type": "structure",
      "members": {
        "Status": {},
        "TrackingNumber": {}
      }
    },
    "S3e": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ServiceName": {},
          "ServiceVersion": {
            "shape": "S3g"
          }
        }
      }
    },
    "S3g": {
      "type": "structure",
      "members": {
        "Version": {}
      }
    }
  }
}