{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-06-30",
    "endpointPrefix": "snowball",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon Snowball",
    "serviceFullName": "Amazon Import/Export Snowball",
    "serviceId": "Snowball",
    "signatureVersion": "v4",
    "targetPrefix": "AWSIESnowballJobManagementService",
    "uid": "snowball-2016-06-30"
  },
  "operations": {
    "CancelCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateAddress": {
      "input": {
        "type": "structure",
        "required": [
          "Address"
        ],
        "members": {
          "Address": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressId": {}
        }
      }
    },
    "CreateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "JobType",
          "Resources",
          "AddressId",
          "RoleARN",
          "ShippingOption"
        ],
        "members": {
          "JobType": {},
          "Resources": {
            "shape": "Sf"
          },
          "Description": {},
          "AddressId": {},
          "KmsKeyARN": {},
          "RoleARN": {},
          "SnowballType": {},
          "ShippingOption": {},
          "Notification": {
            "shape": "Sv"
          },
          "ForwardingAddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterId": {}
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "members": {
          "JobType": {},
          "Resources": {
            "shape": "Sf"
          },
          "Description": {},
          "AddressId": {},
          "KmsKeyARN": {},
          "RoleARN": {},
          "SnowballCapacityPreference": {},
          "ShippingOption": {},
          "Notification": {
            "shape": "Sv"
          },
          "ClusterId": {},
          "SnowballType": {},
          "ForwardingAddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {}
        }
      }
    },
    "DescribeAddress": {
      "input": {
        "type": "structure",
        "required": [
          "AddressId"
        ],
        "members": {
          "AddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Address": {
            "shape": "S8"
          }
        }
      }
    },
    "DescribeAddresses": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Addresses": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterMetadata": {
            "type": "structure",
            "members": {
              "ClusterId": {},
              "Description": {},
              "KmsKeyARN": {},
              "RoleARN": {},
              "ClusterState": {},
              "JobType": {},
              "SnowballType": {},
              "CreationDate": {
                "type": "timestamp"
              },
              "Resources": {
                "shape": "Sf"
              },
              "AddressId": {},
              "ShippingOption": {},
              "Notification": {
                "shape": "Sv"
              },
              "ForwardingAddressId": {}
            }
          }
        }
      }
    },
    "DescribeJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobMetadata": {
            "shape": "S1g"
          },
          "SubJobMetadata": {
            "type": "list",
            "member": {
              "shape": "S1g"
            }
          }
        }
      }
    },
    "GetJobManifest": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ManifestURI": {}
        }
      }
    },
    "GetJobUnlockCode": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnlockCode": {}
        }
      }
    },
    "GetSnowballUsage": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "SnowballLimit": {
            "type": "integer"
          },
          "SnowballsInUse": {
            "type": "integer"
          }
        }
      }
    },
    "GetSoftwareUpdates": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UpdatesURI": {}
        }
      }
    },
    "ListClusterJobs": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobListEntries": {
            "shape": "S1y"
          },
          "NextToken": {}
        }
      }
    },
    "ListClusters": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterListEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ClusterId": {},
                "ClusterState": {},
                "CreationDate": {
                  "type": "timestamp"
                },
                "Description": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCompatibleImages": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CompatibleImages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AmiId": {},
                "Name": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobListEntries": {
            "shape": "S1y"
          },
          "NextToken": {}
        }
      }
    },
    "UpdateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "RoleARN": {},
          "Description": {},
          "Resources": {
            "shape": "Sf"
          },
          "AddressId": {},
          "ShippingOption": {},
          "Notification": {
            "shape": "Sv"
          },
          "ForwardingAddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {},
          "RoleARN": {},
          "Notification": {
            "shape": "Sv"
          },
          "Resources": {
            "shape": "Sf"
          },
          "AddressId": {},
          "ShippingOption": {},
          "Description": {},
          "SnowballCapacityPreference": {},
          "ForwardingAddressId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S8": {
      "type": "structure",
      "members": {
        "AddressId": {},
        "Name": {},
        "Company": {},
        "Street1": {},
        "Street2": {},
        "Street3": {},
        "City": {},
        "StateOrProvince": {},
        "PrefectureOrDistrict": {},
        "Landmark": {},
        "Country": {},
        "PostalCode": {},
        "PhoneNumber": {},
        "IsRestricted": {
          "type": "boolean"
        }
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "S3Resources": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "BucketArn": {},
              "KeyRange": {
                "type": "structure",
                "members": {
                  "BeginMarker": {},
                  "EndMarker": {}
                }
              }
            }
          }
        },
        "LambdaResources": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LambdaArn": {},
              "EventTriggers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "EventResourceARN": {}
                  }
                }
              }
            }
          }
        },
        "Ec2AmiResources": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "AmiId"
            ],
            "members": {
              "AmiId": {},
              "SnowballAmiId": {}
            }
          }
        }
      }
    },
    "Sv": {
      "type": "structure",
      "members": {
        "SnsTopicARN": {},
        "JobStatesToNotify": {
          "type": "list",
          "member": {}
        },
        "NotifyAll": {
          "type": "boolean"
        }
      }
    },
    "S1g": {
      "type": "structure",
      "members": {
        "JobId": {},
        "JobState": {},
        "JobType": {},
        "SnowballType": {},
        "CreationDate": {
          "type": "timestamp"
        },
        "Resources": {
          "shape": "Sf"
        },
        "Description": {},
        "KmsKeyARN": {},
        "RoleARN": {},
        "AddressId": {},
        "ShippingDetails": {
          "type": "structure",
          "members": {
            "ShippingOption": {},
            "InboundShipment": {
              "shape": "S1i"
            },
            "OutboundShipment": {
              "shape": "S1i"
            }
          }
        },
        "SnowballCapacityPreference": {},
        "Notification": {
          "shape": "Sv"
        },
        "DataTransferProgress": {
          "type": "structure",
          "members": {
            "BytesTransferred": {
              "type": "long"
            },
            "ObjectsTransferred": {
              "type": "long"
            },
            "TotalBytes": {
              "type": "long"
            },
            "TotalObjects": {
              "type": "long"
            }
          }
        },
        "JobLogInfo": {
          "type": "structure",
          "members": {
            "JobCompletionReportURI": {},
            "JobSuccessLogURI": {},
            "JobFailureLogURI": {}
          }
        },
        "ClusterId": {},
        "ForwardingAddressId": {}
      }
    },
    "S1i": {
      "type": "structure",
      "members": {
        "Status": {},
        "TrackingNumber": {}
      }
    },
    "S1y": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "JobId": {},
          "JobState": {},
          "IsMaster": {
            "type": "boolean"
          },
          "JobType": {},
          "SnowballType": {},
          "CreationDate": {
            "type": "timestamp"
          },
          "Description": {}
        }
      }
    }
  }
}