{
  "metadata":{
    "apiVersion":"2010-03-31",
    "endpointPrefix":"sns",
    "serviceAbbreviation":"Amazon SNS",
    "serviceFullName":"Amazon Simple Notification Service",
    "signatureVersion":"v4",
    "xmlNamespace":"http://sns.amazonaws.com/doc/2010-03-31/",
    "protocol":"query"
  },
  "documentation":"<fullname>Amazon Simple Notification Service</fullname>\n    \n\t<p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. \n    \tApplications can use Amazon SNS to easily push real-time notification messages \n    \tto interested subscribers over multiple delivery protocols. For more information about this product\n\t\tsee <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls,\n\t\tsee the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>.\n\t</p>\n    <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. \n      The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, \n      retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.    \n  </p>",
  "operations":{
    "AddPermission":{
      "name":"AddPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddPermissionInput"},
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.</p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  ?TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Test\n  &amp;ActionName.member.1=Publish\n  &amp;ActionName.member.2=GetTopicAttributes\n  &amp;Label=NewPermission\n  &amp;AWSAccountId.member.1=987654321000\n  &amp;AWSAccountId.member.2=876543210000\n  &amp;Action=AddPermission\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=k%2FAU%2FKp13pjndwJ7rr1sZszy6MZMlOhRBCHx1ZaZFiw%3D\n\n </queryrequest>\n <queryresponse>\n  \n&lt;AddPermissionResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;6a213e4e-33a8-11df-9540-99d0768312d3&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/AddPermissionResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "ConfirmSubscription":{
      "name":"ConfirmSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ConfirmSubscriptionInput",
        "documentation":"Input for ConfirmSubscription action."
      },
      "output":{
        "shape":"ConfirmSubscriptionResponse",
        "documentation":"Response for ConfirmSubscriptions action.",
        "resultWrapper":"ConfirmSubscriptionResult"
      },
      "errors":[
        {
          "shape":"SubscriptionLimitExceededException",
          "error":{
            "code":"SubscriptionLimitExceeded",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Verifies an endpoint owner's intent to receive messages by validating\n      the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the\n      token is valid, the action creates a new subscription and returns its\n      Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".</p>\n<examples>\n <queryrequest>\n\n  https://sns.us-east-1.amazonaws.com/\n  ?Action=ConfirmSubscription\n  &amp;TopicArn=arn:aws:sns:us-east-1:123456789012:My-Topic\n  &amp;Token=51b2ff3edb475b7d91550e0ab6edf0c1de2a34e6ebaf6\n   c2262a001bcb7e051c43aa00022ceecce70bd2a67b2042da8d8\n   eb47fef7a4e4e942d23e7fa56146b9ee35da040b4b8af564cc4\n   184a7391c834cb75d75c22981f776ad1ce8805e9bab29da2329\n   985337bb8095627907b46c8577c8440556b6f86582a95475802\n   6f41fc62041c4b3f67b0f5921232b5dae5aaca1\n\n </queryrequest>\n <queryresponse>\n  \n&lt;ConfirmSubscriptionResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ConfirmSubscriptionResult&gt;\n    &lt;SubscriptionArn&gt;arn:aws:sns:us-east-1:123456789012:My-Topic:80289ba6-0fd4-4079-afb4-ce8c8260f0ca&lt;/SubscriptionArn&gt;\n  &lt;/ConfirmSubscriptionResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;7a50221f-3774-11df-a9b7-05d48da6f042&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/ConfirmSubscriptionResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "CreatePlatformApplication":{
      "name":"CreatePlatformApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreatePlatformApplicationInput",
        "documentation":"<p>Input for CreatePlatformApplication action.</p>"
      },
      "output":{
        "shape":"CreatePlatformApplicationResponse",
        "documentation":"<p>Response from CreatePlatformApplication action.</p>",
        "resultWrapper":"CreatePlatformApplicationResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Creates a platform application object for one of the supported push notification services, \n      such as APNS and GCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using \n      the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is \"SSL certificate\". \n      For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client id\". The PlatformCredential is also received from the notification service. \n      For APNS/APNS_SANDBOX, PlatformCredential is \"private key\". For GCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client secret\".      \n      The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action.\n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. \n    </p>\n    \n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nAttributes.entry.2.key=PlatformPrincipal\n&amp;SignatureMethod=HmacSHA256\n&amp;Attributes.entry.1.value=AIzaSyClE2lcV2zEKTLYYo645zfk2jhQPFeyxDo\n&amp;Attributes.entry.2.value=There+is+no+principal+for+GCM\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;Signature=82sHzg1Wfbgisw3i%2BHA2OgBmRktsqUKFinknkq3u%2FQ4%3D\n&amp;Timestamp=2013-07-01T15%3A49%3A50.354Z\n&amp;Name=gcmpushapp\n&amp;Attributes.entry.1.key=PlatformCredential\n&amp;Action=CreatePlatformApplication\n&amp;Version=2010-03-31\n&amp;SignatureVersion=2\n&amp;Platform=GCM\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;CreatePlatformApplicationResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;CreatePlatformApplicationResult&gt;\n    &lt;PlatformApplicationArn&gt;arn:aws:sns:us-west-2:123456789012:app/GCM/gcmpushapp&lt;/PlatformApplicationArn&gt;\n  &lt;/CreatePlatformApplicationResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;b6f0e78b-e9d4-5a0e-b973-adc04e8a4ff9&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/CreatePlatformApplicationResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "CreatePlatformEndpoint":{
      "name":"CreatePlatformEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreatePlatformEndpointInput",
        "documentation":"<p>Input for CreatePlatformEndpoint action.</p>"
      },
      "output":{
        "shape":"CreateEndpointResponse",
        "documentation":"<p>Response from CreateEndpoint action.</p>",
        "resultWrapper":"CreatePlatformEndpointResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. \n      <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is\n      returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> \n      action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, \n      that endpoint's ARN is returned without creating a new endpoint. \n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. \n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>.      \n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nPlatformApplicationArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aapp%2FGCM%2Fgcmpushapp\n&amp;Action=CreatePlatformEndpoint\n&amp;SignatureMethod=HmacSHA256\n&amp;CustomUserData=UserId%3D27576823\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;Token=APA91bGi7fFachkC1xjlqT66VYEucGHochmf1VQAr9k...jsM0PKPxKhddCzx6paEsyay9Zn3D4wNUJb8m6HZrBEXAMPLE\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=Rg5vXBS6OfgPtWkt1u32p1w14uiGh%2BKOicvXNWTEz2w%3D\n&amp;Timestamp=2013-07-01T15%3A49%3A50.598Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;CreatePlatformEndpointResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;CreatePlatformEndpointResult&gt;\n    &lt;EndpointArn&gt;arn:aws:sns:us-west-2:123456789012:endpoint/GCM/gcmpushapp/5e3e9847-3183-3f18-a7e8-671c3a57d4b3&lt;/EndpointArn&gt;\n  &lt;/CreatePlatformEndpointResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;6613341d-3e15-53f7-bf3c-7e56994ba278&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/CreatePlatformEndpointResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "CreateTopic":{
      "name":"CreateTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateTopicInput",
        "documentation":"<p>Input for CreateTopic action.</p>"
      },
      "output":{
        "shape":"CreateTopicResponse",
        "documentation":"<p>Response from CreateTopic action.</p>",
        "resultWrapper":"CreateTopicResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"TopicLimitExceededException",
          "error":{
            "code":"TopicLimitExceeded",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the customer already owns the maximum allowed number of topics.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Creates a topic to which notifications can be published. Users can create\n     at most 3000 topics. For more information, see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. \n     This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is \n     returned without creating a new topic.</p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  ?Name=My-Topic\n  &amp;Action=CreateTopic\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=gfzIF53exFVdpSNb8AiwN3Lv%2FNYXh6S%2Br3yySK70oX4%3D\n\n </queryrequest>\n <queryresponse>\n  \n   &lt;CreateTopicResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n     &lt;CreateTopicResult&gt;\n       &lt;TopicArn&gt;arn:aws:sns:us-east-1:123456789012:My-Topic&lt;/TopicArn&gt;\n     &lt;/CreateTopicResult&gt;\n     &lt;ResponseMetadata&gt;\n       &lt;RequestId&gt;a8dec8b3-33a4-11df-8963-01868b7c937a&lt;/RequestId&gt;\n     &lt;/ResponseMetadata&gt;\n   &lt;/CreateTopicResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteEndpointInput",
        "documentation":"<p>Input for DeleteEndpoint action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Deletes the endpoint from Amazon SNS. This action is idempotent. \n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>    \n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nAction=DeleteEndpoint\n&amp;SignatureMethod=HmacSHA256\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;EndpointArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aendpoint%2FGCM%2Fgcmpushapp%2F5e3e9847-3183-3f18-a7e8-671c3a57d4b3\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=LIc6GI3JbNhmHBEDmSxzZp648XPe5CMeFny%2BTQFtomQ%3D\n&amp;Timestamp=2013-07-01T23%3A00%3A12.456Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;DeleteEndpointResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;c1d2b191-353c-5a5f-8969-fbdd3900afa8&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/DeleteEndpointResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "DeletePlatformApplication":{
      "name":"DeletePlatformApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeletePlatformApplicationInput",
        "documentation":"<p>Input for DeletePlatformApplication action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Deletes a platform application object for one of the supported push notification services, \n      such as APNS and GCM.\n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nPlatformApplicationArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aapp%2FGCM%2Fgcmpushapp\n&amp;Action=DeletePlatformApplication\n&amp;SignatureMethod=HmacSHA256\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=Mh7X%2BQo%2BGpcm5B1IpkovBaRiJCJOqvFlIOYzL62SGrg%3D\n&amp;Timestamp=2013-07-01T23%3A02%3A03.872Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;DeletePlatformApplicationResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;097dac18-7a77-5823-a8dd-e65476dcb037&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/DeletePlatformApplicationResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "DeleteTopic":{
      "name":"DeleteTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTopicInput"},
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Deletes a topic and all its subscriptions. Deleting a topic might\n      prevent some messages previously sent to the topic from being delivered to\n      subscribers. This action is idempotent, so deleting a topic that does not\n      exist does not result in an error.</p>\n<examples>\n<queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  &amp;TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic\n  &amp;Action=DeleteTopic\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key Id)\n  &amp;Signature=mQA3nJI%2BcmAIY7r8HCArGElSqPX5JG4UGzF4yo0RygE%3D\n\n</queryrequest>\n<queryresponse>\n\n&lt;DeleteTopicResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;f3aa9ac9-3c3d-11df-8235-9dab105e9c32&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/DeleteTopicResponse&gt;\n\n</queryresponse>\n</examples>"
    },
    "GetEndpointAttributes":{
      "name":"GetEndpointAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetEndpointAttributesInput",
        "documentation":"<p>Input for GetEndpointAttributes action.</p>"
      },
      "output":{
        "shape":"GetEndpointAttributesResponse",
        "documentation":"<p>Response from GetEndpointAttributes of the EndpointArn.</p>",
        "resultWrapper":"GetEndpointAttributesResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. \n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nAction=GetEndpointAttributes\n&amp;SignatureMethod=HmacSHA256\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;EndpointArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aendpoint%2FGCM%2Fgcmpushapp%2F5e3e9847-3183-3f18-a7e8-671c3a57d4b3\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=%2B2egbEoT4npw3p5H3wiIdzZBoTn4KI3UWmMFyBsHH9c%3D\n&amp;Timestamp=2013-07-01T22%3A44%3A56.515Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;GetEndpointAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;GetEndpointAttributesResult&gt;\n    &lt;Attributes&gt;\n      &lt;entry&gt;\n        &lt;key&gt;Enabled&lt;/key&gt;\n        &lt;value&gt;true&lt;/value&gt;\n      &lt;/entry&gt;\n      &lt;entry&gt;\n        &lt;key&gt;CustomUserData&lt;/key&gt;\n        &lt;value&gt;UserId=01234567&lt;/value&gt;\n      &lt;/entry&gt;\n      &lt;entry&gt;\n        &lt;key&gt;Token&lt;/key&gt;\n        &lt;value&gt;APA91bGi7fFachkC1xjlqT66VYEucGHochmf1VQAr9k...jsM0PKPxKhddCzx6paEsyay9Zn3D4wNUJb8m6HZrBEXAMPLE&lt;/value&gt;\n      &lt;/entry&gt;\n    &lt;/Attributes&gt;\n  &lt;/GetEndpointAttributesResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;6c725a19-a142-5b77-94f9-1055a9ea04e7&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/GetEndpointAttributesResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "GetPlatformApplicationAttributes":{
      "name":"GetPlatformApplicationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetPlatformApplicationAttributesInput",
        "documentation":"<p>Input for GetPlatformApplicationAttributes action.</p>"
      },
      "output":{
        "shape":"GetPlatformApplicationAttributesResponse",
        "documentation":"<p>Response for GetPlatformApplicationAttributes action.</p>",
        "resultWrapper":"GetPlatformApplicationAttributesResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Retrieves the attributes of the platform application object for the supported push notification services, \n      such as APNS and GCM.\n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nPlatformApplicationArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aapp%2FGCM%2Fgcmpushapp\n&amp;Action=GetPlatformApplicationAttributes\n&amp;SignatureMethod=HmacSHA256\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=UGMaCq8CCJGSYXO9Ehr2VuHIBYSe6WbxkqgMKRslTK4%3D\n&amp;Timestamp=2013-07-01T22%3A40%3A50.643Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;GetPlatformApplicationAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;GetPlatformApplicationAttributesResult&gt;\n    &lt;Attributes&gt;\n      &lt;entry&gt;\n        &lt;key&gt;AllowEndpointPolicies&lt;/key&gt;\n        &lt;value&gt;false&lt;/value&gt;\n      &lt;/entry&gt;\n    &lt;/Attributes&gt;\n  &lt;/GetPlatformApplicationAttributesResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;74848df2-87f6-55ed-890c-c7be80442462&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/GetPlatformApplicationAttributesResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "GetSubscriptionAttributes":{
      "name":"GetSubscriptionAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetSubscriptionAttributesInput",
        "documentation":"<p>Input for GetSubscriptionAttributes.</p>"
      },
      "output":{
        "shape":"GetSubscriptionAttributesResponse",
        "documentation":"<p>Response for GetSubscriptionAttributes action.</p>",
        "resultWrapper":"GetSubscriptionAttributesResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Returns all of the properties of a subscription.</p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  ?SubscriptionArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic%3A80289ba6-0fd4-4079-afb4-ce8c8260f0ca\n  &amp;Action=GetSubscriptionAttributes\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key Id)\n  &amp;Signature=92lBGRVq0%2BxhaACaBGqtdemy%2Bi9isfgyTljCbJM80Yk%3D\n\n </queryrequest>\n <queryresponse>\n  \n&lt;GetSubscriptionAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;GetSubscriptionAttributesResult&gt;\n    &lt;Attributes&gt;\n      &lt;entry&gt;\n        &lt;key&gt;Owner&lt;/key&gt;\n        &lt;value&gt;123456789012&lt;/value&gt;\n      &lt;/entry&gt;\n      &lt;entry&gt;\n        &lt;key&gt;DeliveryPolicy&lt;/key&gt;\n        &lt;value&gt;{&amp;quot;healthyRetryPolicy&amp;quot;:{&amp;quot;numRetries&amp;quot;:10}}&lt;/value&gt;\n      &lt;/entry&gt;\n      &lt;entry&gt;\n        &lt;key&gt;SubscriptionArn&lt;/key&gt;\n        &lt;value&gt;arn:aws:sns:us-east-1:123456789012:My-Topic:80289ba6-0fd4-4079-afb4-ce8c8260f0ca&lt;/value&gt;\n      &lt;/entry&gt;\n    &lt;/Attributes&gt;\n  &lt;/GetSubscriptionAttributesResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;057f074c-33a7-11df-9540-99d0768312d3&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/GetTopicAttributesResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "GetTopicAttributes":{
      "name":"GetTopicAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetTopicAttributesInput",
        "documentation":"<p>Input for GetTopicAttributes action.</p>"
      },
      "output":{
        "shape":"GetTopicAttributesResponse",
        "documentation":"<p>Response for GetTopicAttributes action.</p>",
        "resultWrapper":"GetTopicAttributesResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Returns all of the properties of a topic. \n    Topic properties returned might differ based on the authorization of the user. </p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  ?TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic\n  &amp;Action=GetTopicAttributes\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key Id)\n  &amp;Signature=92lBGRVq0%2BxhaACaBGqtdemy%2Bi9isfgyTljCbJM80Yk%3D\n\n </queryrequest>\n <queryresponse>\n  \n&lt;GetTopicAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;GetTopicAttributesResult&gt;\n    &lt;Attributes&gt;\n      &lt;entry&gt;\n        &lt;key&gt;Owner&lt;/key&gt;\n        &lt;value&gt;123456789012&lt;/value&gt;\n      &lt;/entry&gt;\n      &lt;entry&gt;\n        &lt;key&gt;Policy&lt;/key&gt;\n        &lt;value&gt;{\n&amp;quot;Version&amp;quot;:&amp;quot;2008-10-17&amp;quot;,&amp;quot;Id&amp;quot;:&amp;quot;us-east-1/698519295917/test__default_policy_ID&amp;quot;,&amp;quot;Statement&amp;quot; : [{&amp;quot;Effect&amp;quot;:&amp;quot;Allow&amp;quot;,&amp;quot;Sid&amp;quot;:&amp;quot;us-east-1/698519295917/test__default_statement_ID&amp;quot;,&amp;quot;Principal&amp;quot; : {&amp;quot;AWS&amp;quot;: &amp;quot;*&amp;quot;},&amp;quot;Action&amp;quot;:[&amp;quot;SNS:GetTopicAttributes&amp;quot;,&amp;quot;SNS:SetTopicAttributes&amp;quot;,&amp;quot;SNS:AddPermission&amp;quot;,&amp;quot;SNS:RemovePermission&amp;quot;,&amp;quot;SNS:DeleteTopic&amp;quot;,&amp;quot;SNS:Subscribe&amp;quot;,&amp;quot;SNS:ListSubscriptionsByTopic&amp;quot;,&amp;quot;SNS:Publish&amp;quot;,&amp;quot;SNS:Receive&amp;quot;],&amp;quot;Resource&amp;quot;:&amp;quot;arn:aws:sns:us-east-1:698519295917:test&amp;quot;,&amp;quot;Condition&amp;quot; : {&amp;quot;StringLike&amp;quot; : {&amp;quot;AWS:SourceArn&amp;quot;: &amp;quot;arn:aws:*:*:698519295917:*&amp;quot;}}}]}&lt;/value&gt;\n      &lt;/entry&gt;\n      &lt;entry&gt;\n        &lt;key&gt;TopicArn&lt;/key&gt;\n        &lt;value&gt;arn:aws:sns:us-east-1:123456789012:My-Topic&lt;/value&gt;\n      &lt;/entry&gt;\n    &lt;/Attributes&gt;\n  &lt;/GetTopicAttributesResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;057f074c-33a7-11df-9540-99d0768312d3&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/GetTopicAttributesResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "ListEndpointsByPlatformApplication":{
      "name":"ListEndpointsByPlatformApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListEndpointsByPlatformApplicationInput",
        "documentation":"<p>Input for ListEndpointsByPlatformApplication action.</p>"
      },
      "output":{
        "shape":"ListEndpointsByPlatformApplicationResponse",
        "documentation":"<p>Response for ListEndpointsByPlatformApplication action.</p>",
        "resultWrapper":"ListEndpointsByPlatformApplicationResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. \n      The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100.\n      If additional records are available after the first page results, then a NextToken string will be returned. \n      To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. \n      When there are no more records to return, NextToken will be null.\n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nPlatformApplicationArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aapp%2FGCM%2Fgcmpushapp\n&amp;Action=ListEndpointsByPlatformApplication\n&amp;SignatureMethod=HmacSHA256\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=e6H4sJSCRBBlh%2BaigB%2FtYgp4%2Bjl7dikAQ6WKf%2BMTwNM%3D\n&amp;Timestamp=2013-07-01T23%3A00%3A52.515Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;ListEndpointsByPlatformApplicationResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ListEndpointsByPlatformApplicationResult&gt;\n    &lt;Endpoints&gt;\n      &lt;member&gt;\n        &lt;EndpointArn&gt;arn:aws:sns:us-west-2:123456789012:endpoint/GCM/gcmpushapp/5e3e9847-3183-3f18-a7e8-671c3a57d4b3&lt;/EndpointArn&gt;\n        &lt;Attributes&gt;\n          &lt;entry&gt;\n            &lt;key&gt;Enabled&lt;/key&gt;\n            &lt;value&gt;true&lt;/value&gt;\n          &lt;/entry&gt;\n          &lt;entry&gt;\n            &lt;key&gt;CustomUserData&lt;/key&gt;\n            &lt;value&gt;UserId=27576823&lt;/value&gt;\n          &lt;/entry&gt;\n          &lt;entry&gt;\n            &lt;key&gt;Token&lt;/key&gt;\n            &lt;value&gt;APA91bGi7fFachkC1xjlqT66VYEucGHochmf1VQAr9k...jsM0PKPxKhddCzx6paEsyay9Zn3D4wNUJb8m6HZrBEXAMPLE&lt;/value&gt;\n          &lt;/entry&gt;\n        &lt;/Attributes&gt;\n      &lt;/member&gt;\n    &lt;/Endpoints&gt;\n  &lt;/ListEndpointsByPlatformApplicationResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;9a48768c-dac8-5a60-aec0-3cc27ea08d96&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/ListEndpointsByPlatformApplicationResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "ListPlatformApplications":{
      "name":"ListPlatformApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListPlatformApplicationsInput",
        "documentation":"<p>Input for ListPlatformApplications action.</p>"
      },
      "output":{
        "shape":"ListPlatformApplicationsResponse",
        "documentation":"<p>Response for ListPlatformApplications action.</p>",
        "resultWrapper":"ListPlatformApplicationsResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Lists the platform application objects for the supported push notification services, \n      such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100.\n      If additional records are available after the first page results, then a NextToken string will be returned. \n      To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. \n      When there are no more records to return, NextToken will be null.\n      \n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nAction=ListPlatformApplications\n&amp;SignatureMethod=HmacSHA256\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=drVbTuyR5N9e88WJMNPzBOjNFNvawkCaMfZI0xa9kIQ%3D\n&amp;Timestamp=2013-07-01T22%3A33%3A55.618Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;ListPlatformApplicationsResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ListPlatformApplicationsResult&gt;\n    &lt;PlatformApplications&gt;\n      &lt;member&gt;\n        &lt;PlatformApplicationArn&gt;arn:aws:sns:us-west-2:123456789012:app/APNS_SANDBOX/apnspushapp&lt;/PlatformApplicationArn&gt;\n        &lt;Attributes&gt;\n          &lt;entry&gt;\n            &lt;key&gt;AllowEndpointPolicies&lt;/key&gt;\n            &lt;value&gt;false&lt;/value&gt;\n          &lt;/entry&gt;\n        &lt;/Attributes&gt;\n      &lt;/member&gt;\n      &lt;member&gt;\n        &lt;PlatformApplicationArn&gt;arn:aws:sns:us-west-2:123456789012:app/GCM/gcmpushapp&lt;/PlatformApplicationArn&gt;\n        &lt;Attributes&gt;\n          &lt;entry&gt;\n            &lt;key&gt;AllowEndpointPolicies&lt;/key&gt;\n            &lt;value&gt;false&lt;/value&gt;\n          &lt;/entry&gt;\n        &lt;/Attributes&gt;\n      &lt;/member&gt;\n    &lt;/PlatformApplications&gt;\n  &lt;/ListPlatformApplicationsResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;315a335e-85d8-52df-9349-791283cbb529&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/ListPlatformApplicationsResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "ListSubscriptions":{
      "name":"ListSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListSubscriptionsInput",
        "documentation":"Input for ListSubscriptions action."
      },
      "output":{
        "shape":"ListSubscriptionsResponse",
        "documentation":"<p>Response for ListSubscriptions action</p>",
        "resultWrapper":"ListSubscriptionsResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Returns a list of the requester's subscriptions. Each call returns a limited list\n      of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a \n      new <code>ListSubscriptions</code> call to get further results.</p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  &amp;Action=ListSubscriptions\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=SZmBxEPqfs9R7xxhSt6C1b7PnOEvg%2BSVyyMYJfLRFCA%3D\n\n </queryrequest>\n <queryresponse>\n  \n&lt;ListSubscriptionsResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ListSubscriptionsResult&gt;\n    &lt;Subscriptions&gt;\n      &lt;member&gt;\n        &lt;TopicArn&gt;arn:aws:sns:us-east-1:698519295917:My-Topic&lt;/TopicArn&gt;\n        &lt;Protocol&gt;email&lt;/Protocol&gt;\n        &lt;SubscriptionArn&gt;arn:aws:sns:us-east-1:123456789012:My-Topic:80289ba6-0fd4-4079-afb4-ce8c8260f0ca&lt;/SubscriptionArn&gt;\n        &lt;Owner&gt;123456789012&lt;/Owner&gt;\n        &lt;Endpoint&gt;example@amazon.com&lt;/Endpoint&gt;\n      &lt;/member&gt;\n    &lt;/Subscriptions&gt;\n  &lt;/ListSubscriptionsResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;384ac68d-3775-11df-8963-01868b7c937a&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/ListSubscriptionsResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "ListSubscriptionsByTopic":{
      "name":"ListSubscriptionsByTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListSubscriptionsByTopicInput",
        "documentation":"<p>Input for ListSubscriptionsByTopic action.</p>"
      },
      "output":{
        "shape":"ListSubscriptionsByTopicResponse",
        "documentation":"<p>Response for ListSubscriptionsByTopic action.</p>",
        "resultWrapper":"ListSubscriptionsByTopicResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Returns a list of the subscriptions to a specific topic. Each call returns \n      a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> \n      parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p>\n    <examples>\n      <queryrequest>\n        \n  http://sns.us-east-1.amazonaws.com/\n  ?TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic\n  &amp;Action=ListSubscriptionsByTopic\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=SZmBxEPqfs9R7xxhSt6C1b7PnOEvg%2BSVyyMYJfLRFCA%3D\n\n      </queryrequest>\n      <queryresponse>\n        \n&lt;ListSubscriptionsByTopicResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ListSubscriptionsByTopicResult&gt;\n    &lt;Subscriptions&gt;\n      &lt;member&gt;\n        &lt;TopicArn&gt;arn:aws:sns:us-east-1:123456789012:My-Topic&lt;/TopicArn&gt;\n        &lt;Protocol&gt;email&lt;/Protocol&gt;\n        &lt;SubscriptionArn&gt;arn:aws:sns:us-east-1:123456789012:My-Topic:80289ba6-0fd4-4079-afb4-ce8c8260f0ca&lt;/SubscriptionArn&gt;\n        &lt;Owner&gt;123456789012&lt;/Owner&gt;\n        &lt;Endpoint&gt;example@amazon.com&lt;/Endpoint&gt;\n      &lt;/member&gt;\n    &lt;/Subscriptions&gt;\n  &lt;/ListSubscriptionsByTopicResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;b9275252-3774-11df-9540-99d0768312d3&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/ListSubscriptionsByTopicResponse&gt;\n  \n      </queryresponse>\n    </examples>"
    },
    "ListTopics":{
      "name":"ListTopics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTopicsInput"},
      "output":{
        "shape":"ListTopicsResponse",
        "documentation":"<p>Response for ListTopics action.</p>",
        "resultWrapper":"ListTopicsResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If\n      there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get \n     further results.</p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  ?Action=ListTopics\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=tPg1qKNTNVPydnL3Yx5Fqm2O9GxCr9vh3EF5r9%2F5%2BJs%3D\n\n </queryrequest>\n <queryresponse>\n  \n&lt;ListTopicsResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ListTopicsResult&gt;\n    &lt;Topics&gt;\n      &lt;member&gt;\n        &lt;TopicArn&gt;arn:aws:sns:us-east-1:123456789012:My-Topic&lt;/TopicArn&gt;\n      &lt;/member&gt;\n    &lt;/Topics&gt;\n  &lt;/ListTopicsResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;3f1478c7-33a9-11df-9540-99d0768312d3&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/ListTopicsResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "Publish":{
      "name":"Publish",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PublishInput",
        "documentation":"<p>Input for Publish action.</p>"
      },
      "output":{
        "shape":"PublishResponse",
        "documentation":"<p>Response for Publish action.</p>",
        "resultWrapper":"PublishResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"ParameterValueInvalid",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"EndpointDisabledException",
          "error":{
            "code":"EndpointDisabled",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Exception error indicating endpoint disabled.</p>"
        },
        {
          "shape":"PlatformApplicationDisabledException",
          "error":{
            "code":"PlatformApplicationDisabled",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Exception error indicating platform application disabled.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Sends a message to all of a topic's subscribed endpoints. When a\n    <code>messageId</code> is returned, the message has been saved and Amazon SNS will attempt to deliver it \n      to the topic's subscribers shortly. The format of the outgoing message to each\n      subscribed endpoint depends on the notification protocol selected.</p>\n    <p>To use the <code>Publish</code> action for sending a message to a mobile endpoint, such as an app on a Kindle device or mobile phone, \n      you must specify the EndpointArn. The EndpointArn is returned when making a call with the <code>CreatePlatformEndpoint</code> action. \n      The second example below shows a request and response for publishing to a mobile endpoint.\n    </p>\n    <examples>\n      <queryrequest>\n        \n  The following example publishes the same message to all protocols:\n  \n  http://sns.us-east-1.amazonaws.com/\n  ?Subject=My%20first%20message\n  &amp;TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A698519295917%3AMy-Topic\n  &amp;Message=Hello%20world%21\n  &amp;Action=Publish\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n  &amp;Signature=9GZysQ4Jpnz%2BHklqM7VFTvEcjR2LIUtn6jW47054xxE%3D\n  \n  Use the following JSON object format for the Message parameter to send different messages to each protocol (linebreaks added for readability):\n  {\n  \"default\" : \"some message\",\n  \"email\" : \"some email message\",\n  \"email-json\" : \"some email-json message\",\n  \"http\" : \"some http message\",\n  \"https\" : \"some https message\",\n  \"sqs\" : \"some sqs message\"\n  }\n  \n\n      </queryrequest>\n      <queryresponse>\n        \n&lt;PublishResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;PublishResult&gt;\n    &lt;MessageId&gt;94f20ce6-13c5-43a0-9a9e-ca52d816e90b&lt;/MessageId&gt;\n  &lt;/PublishResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;f187a3c1-376f-11df-8963-01868b7c937a&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/PublishResponse&gt;\n  \n      </queryresponse>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nAction=Publish\n&amp;Message=%7B%22default%22%3A%22This+is+the+default+Message%22%2C%22APNS_SANDBOX%22%3A%22%7B+%5C%22aps%5C%22+%3A+%7B+%5C%22alert%5C%22+%3A+%5C%22You+have+got+email.%5C%22%2C+%5C%22badge%5C%22+%3A+9%2C%5C%22sound%5C%22+%3A%5C%22default%5C%22%7D%7D%22%7D\n&amp;TargetArn=arn%3Aaws%3Asns%3Aus-west-2%3A803981987763%3Aendpoint%2FAPNS_SANDBOX%2Fpushapp%2F98e9ced9-f136-3893-9d60-776547eafebb\n&amp;SignatureMethod=HmacSHA256\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=vmqc4XRupKAxsDAdN4j4Ayw5LQljXMps3kss4bkDfCk%3D\n&amp;Timestamp=2013-07-18T22%3A44%3A09.452Z\n&amp;MessageStructure=json\n  \n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;PublishResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;PublishResult&gt;\n    &lt;MessageId&gt;567910cd-659e-55d4-8ccb-5aaf14679dc0&lt;/MessageId&gt;\n  &lt;/PublishResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;d74b8436-ae13-5ab4-a9ff-ce54dfea72a0&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/PublishResponse&gt;\n  \n      </queryresponse>\n    </examples>"
    },
    "RemovePermission":{
      "name":"RemovePermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RemovePermissionInput",
        "documentation":"<p>Input for RemovePermission action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Removes a statement from a topic's access control policy.</p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  ?TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Test\n  &amp;Label=NewPermission\n  &amp;Action=RemovePermission\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=N1abwRY9i7zaSQmbAlm71pPf9EEFOqNbQL1alzw2yCg%3D\n\n </queryrequest>\n <queryresponse>\n  \n&lt;RemovePermissionResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;d170b150-33a8-11df-995a-2d6fbe836cc1&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/RemovePermissionResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "SetEndpointAttributes":{
      "name":"SetEndpointAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetEndpointAttributesInput",
        "documentation":"<p>Input for SetEndpointAttributes action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as GCM and APNS.\n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nAttributes.entry.1.key=CustomUserData\n&amp;Action=SetEndpointAttributes\n&amp;SignatureMethod=HmacSHA256\n&amp;Attributes.entry.1.value=My+custom+userdata\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;EndpointArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aendpoint%2FGCM%2Fgcmpushapp%2F5e3e9847-3183-3f18-a7e8-671c3a57d4b3\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=CFTGfGOS5vgSU3%2FZgv2h%2FJdWgr2JQdDJSrUU9k38wSM%3D\n&amp;Timestamp=2013-07-01T22%3A56%3A45.582Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;SetEndpointAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;2fe0bfc7-3e85-5ee5-a9e2-f58b35e85f6a&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/SetEndpointAttributesResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "SetPlatformApplicationAttributes":{
      "name":"SetPlatformApplicationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetPlatformApplicationAttributesInput",
        "documentation":"<p>Input for SetPlatformApplicationAttributes action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Sets the attributes of the platform application object for the supported push notification services, \n      such as APNS and GCM.\n      For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>.\n    </p>\n    <examples>\n      <queryrequest>\n        \nPOST http://sns.us-west-2.amazonaws.com/ HTTP/1.1\n...\nAttributes.entry.1.key=EventEndpointCreated&amp;PlatformApplicationArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Aapp%2FGCM%2Fgcmpushapp\n&amp;Action=SetPlatformApplicationAttributes\n&amp;SignatureMethod=HmacSHA256\n&amp;Attributes.entry.1.value=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3Atopicarn\n&amp;AWSAccessKeyId=AKIAIOSFODNN7EXAMPLE\n&amp;SignatureVersion=2\n&amp;Version=2010-03-31\n&amp;Signature=06L2TsW3jiH%2FGKDYuT8w4NojSrTf4Ig2GKqGeJPhPT4%3D\n&amp;Timestamp=2013-07-01T22%3A53%3A17.800Z\n\n      </queryrequest>\n      <queryresponse>\n        \nHTTP/1.1 200 OK\n...\n&lt;SetPlatformApplicationAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;cf577bcc-b3dc-5463-88f1-3180b9412395&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/SetPlatformApplicationAttributesResponse&gt;\n\n      </queryresponse>\n    </examples>"
    },
    "SetSubscriptionAttributes":{
      "name":"SetSubscriptionAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetSubscriptionAttributesInput",
        "documentation":"<p>Input for SetSubscriptionAttributes action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Allows a subscription owner to set an attribute of the topic to a new value.</p>\n<examples>\n  <queryrequest>\n    \nThe following example sets the delivery policy to 5 total retries\n  \n  http://sns.us-east-1.amazonaws.com/\n  ?AttributeValue={\"healthyRetryPolicy\":{\"numRetries\":5}}\n  &amp;SubscriptionArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic%3A80289ba6-0fd4-4079-afb4-ce8c8260f0ca\n  &amp;AttributeName=DeliveryPolicy\n  &amp;Action=SetSubscriptionAttributes\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key Id)\n  &amp;Signature=mQA3nJI%2BcmAIY7r8HCArGElSqPX5JG4UGzF4yo0RygE%3D\n  \nThe JSON format for the DeliveryPolicy AttributeValue (linebreaks added for readability):\n{\n    \"healthyRetryPolicy\": \n    {\n        \"minDelayTarget\":  &lt;int&gt;,\n        \"maxDelayTarget\": &lt;int&gt;,\n        \"numRetries\": &lt;int&gt;,\n        \"numMaxDelayRetries\": &lt;int&gt;,\n        \"backoffFunction\": \"&lt;linear|arithmetic|geometric|exponential&gt;\"\n    },\n    \"throttlePolicy\":\n    {\n        \"maxReceivesPerSecond\": &lt;int&gt;\n    }\n}\n  </queryrequest>\n <queryresponse>\n  \n&lt;SetSubscriptionAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;a8763b99-33a7-11df-a9b7-05d48da6f042&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/SetSubscriptionAttributesResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "SetTopicAttributes":{
      "name":"SetTopicAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetTopicAttributesInput",
        "documentation":"<p>Input for SetTopicAttributes action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Allows a topic owner to set an attribute of the topic to a new value.</p>\n<examples>\n  <queryrequest>\nThe following example sets the DisplayName attribute to MyTopicName\n\n  http://sns.us-east-1.amazonaws.com/\n  ?AttributeValue=MyTopicName\n  &amp;TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic\n  &amp;AttributeName=DisplayName\n  &amp;Action=SetTopicAttributes\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key Id)\n  &amp;Signature=mQA3nJI%2BcmAIY7r8HCArGElSqPX5JG4UGzF4yo0RygE%3D\n  \nThe following example sets the delivery policy to 5 total retries\n  \n  http://sns.us-east-1.amazonaws.com/\n  ?AttributeValue={\"http\":{\"defaultHealthyRetryPolicy\":{\"numRetries\":5}}}\n  &amp;TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic\n  &amp;AttributeName=DeliveryPolicy\n  &amp;Action=SetTopicAttributes\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key Id)\n  &amp;Signature=mQA3nJI%2BcmAIY7r8HCArGElSqPX5JG4UGzF4yo0RygE%3D  \n  \nThe JSON format for the DeliveryPolicy AttributeValue (linebreaks added for readability):\n{\n    \"http\": {\n    \"defaultHealthyRetryPolicy\": \n        {\n        \"minDelayTarget\":  &lt;int&gt;,\n        \"maxDelayTarget\": &lt;int&gt;,\n        \"numRetries\": &lt;int&gt;,\n        \"numMaxDelayRetries\": &lt;int&gt;,\n        \"backoffFunction\": \"&lt;linear|arithmetic|geometric|exponential&gt;\"\n        },\n    \"disableSubscriptionOverrides\": &lt;boolean&gt;,\n    \"defaultThrottlePolicy\": \n        {\n        \"maxReceivesPerSecond\": &lt;int&gt;\n        }\n    }\n  </queryrequest>\n <queryresponse>\n  \n&lt;SetTopicAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;a8763b99-33a7-11df-a9b7-05d48da6f042&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/SetTopicAttributesResponse&gt;\n  \n </queryresponse>\n</examples>"
    },
    "Subscribe":{
      "name":"Subscribe",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SubscribeInput",
        "documentation":"Input for Subscribe action."
      },
      "output":{
        "shape":"SubscribeResponse",
        "documentation":"Response for Subscribe action.",
        "resultWrapper":"SubscribeResult"
      },
      "errors":[
        {
          "shape":"SubscriptionLimitExceededException",
          "error":{
            "code":"SubscriptionLimitExceeded",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        }
      ],
      "documentation":"<p>Prepares to subscribe an endpoint by sending the endpoint a confirmation message. To actually create a\n      subscription, the endpoint owner must call the <code>ConfirmSubscription</code>\n      action with the token from the confirmation message. Confirmation tokens are\n      valid for three days.</p>\n<examples>\n  <example>\n    <description>The following example Query request subscribes an SQS queue to an SNS topic. \n      For more information, see           \n      <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqssubscribe.html\">Subscribe Queue to Amazon SNS Topic</a>\n      in the <i>Amazon SQS Developer Guide</i>.          \n    </description>\n <queryrequest>\n\n  http://sns.us-west-2.amazonaws.com/\n  &amp;Action=Subscribe\n  &amp;Endpoint=arn%3Aaws%3Asqs%3Aus-west-2%3A123456789012%3AMyQueue\n  &amp;Version=2010-03-31\n  &amp;Protocol=sqs\n  &amp;TopicArn=arn%3Aaws%3Asns%3Aus-west-2%3A123456789012%3AMyTopic  \n\n </queryrequest>\n <queryresponse>\n  \n&lt;SubscribeResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;SubscribeResult&gt;\n    &lt;SubscriptionArn&gt;arn:aws:sns:us-west-2:123456789012:MyTopic:6b0e71bd-7e97-4d97-80ce-4a0994e55286&lt;/SubscriptionArn&gt;\n  &lt;/SubscribeResult&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;c4407779-24a4-56fa-982c-3d927f93a775&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/SubscribeResponse&gt;\n  \n </queryresponse>\n  </example>    \n  \n</examples>"
    },
    "Unsubscribe":{
      "name":"Unsubscribe",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UnsubscribeInput",
        "documentation":"<p>Input for Unsubscribe action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterException",
          "error":{
            "code":"InvalidParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>"
        },
        {
          "shape":"InternalErrorException",
          "error":{
            "code":"InternalError",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>Indicates an internal service error.</p>"
        },
        {
          "shape":"AuthorizationErrorException",
          "error":{
            "code":"AuthorizationError",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the requested resource does not exist.</p>"
        }
      ],
      "documentation":"<p>Deletes a subscription. If the subscription requires authentication for \n      deletion, only the owner of the subscription or the topic's owner \n      can unsubscribe, and an AWS signature is required. If the \n      <code>Unsubscribe</code> call does not require authentication and the requester is not \n      the subscription owner, a final cancellation message is delivered to the \n      endpoint, so that the endpoint owner can easily resubscribe to the topic if \n      the <code>Unsubscribe</code> request was unintended.</p>\n    <examples>\n      <queryrequest>\n        \n  http://sns.us-east-1.amazonaws.com/\n  ?SubscriptionArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic%3A80289ba6-0fd4-4079-afb4-ce8c8260f0ca\n  &amp;Action=Unsubscribe\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=e8IwhPzuWeMvPDVrN7jUVxasd3Wv2LuO8x6rE23VCv8%3D\n\n      </queryrequest>\n      <queryresponse>\n        \n&lt;UnsubscribeResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;18e0ac39-3776-11df-84c0-b93cc1666b84&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/UnsubscribeResponse&gt;\n  \n      </queryresponse>\n    </examples>"
    }
  },
  "shapes":{
    "ActionsList":{
      "type":"list",
      "member":{"shape":"action"}
    },
    "AddPermissionInput":{
      "type":"structure",
      "required":[
        "TopicArn",
        "Label",
        "AWSAccountId",
        "ActionName"
      ],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic whose access control policy you wish to modify.</p>"
        },
        "Label":{
          "shape":"label",
          "documentation":"<p>A unique identifier for the new policy statement.</p>"
        },
        "AWSAccountId":{
          "shape":"DelegatesList",
          "documentation":"<p>The AWS account IDs of the users (principals) who will be given access to the specified\n    actions. The users must have AWS accounts, but do not need to be signed up \n    for this service. </p>"
        },
        "ActionName":{
          "shape":"ActionsList",
          "documentation":"<p>The action you want to allow for the specified principal(s).</p>\n    <p>Valid values: any Amazon SNS action name.</p>"
        }
      }
    },
    "AuthorizationErrorException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "error":{
        "code":"AuthorizationError",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>"
    },
    "Binary":{"type":"blob"},
    "ConfirmSubscriptionInput":{
      "type":"structure",
      "required":[
        "TopicArn",
        "Token"
      ],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic for which you wish to confirm a subscription.</p>"
        },
        "Token":{
          "shape":"token",
          "documentation":"<p>Short-lived token sent to an endpoint during the <code>Subscribe</code> action.</p>"
        },
        "AuthenticateOnUnsubscribe":{
          "shape":"authenticateOnUnsubscribe",
          "documentation":"<p>Disallows unauthenticated unsubscribes of the subscription. \n    If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner\n    and the subscription owner can unsubscribe the endpoint.  The unsubscribe\n    action requires AWS authentication. </p>"
        }
      },
      "documentation":"Input for ConfirmSubscription action."
    },
    "ConfirmSubscriptionResponse":{
      "type":"structure",
      "members":{
        "SubscriptionArn":{
          "shape":"subscriptionARN",
          "documentation":"<p>The ARN of the created subscription.</p>"
        }
      },
      "documentation":"Response for ConfirmSubscriptions action."
    },
    "CreateEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>EndpointArn returned from CreateEndpoint action.</p>"
        }
      },
      "documentation":"<p>Response from CreateEndpoint action.</p>"
    },
    "CreatePlatformApplicationInput":{
      "type":"structure",
      "required":[
        "Name",
        "Platform",
        "Attributes"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.</p>"
        },
        "Platform":{
          "shape":"String",
          "documentation":"<p>The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging).</p>"
        },
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>For a list of attributes, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetPlatformApplicationAttributes.html\">SetPlatformApplicationAttributes</a></p>"
        }
      },
      "documentation":"<p>Input for CreatePlatformApplication action.</p>"
    },
    "CreatePlatformApplicationResponse":{
      "type":"structure",
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p>PlatformApplicationArn is returned.</p>"
        }
      },
      "documentation":"<p>Response from CreatePlatformApplication action.</p>"
    },
    "CreatePlatformEndpointInput":{
      "type":"structure",
      "required":[
        "PlatformApplicationArn",
        "Token"
      ],
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>"
        },
        "Token":{
          "shape":"String",
          "documentation":"<p>Unique identifier created by the notification service for an app on a device. \n      The specific name for Token will vary, depending on which notification service is being used. \n      For example, when using APNS as the notification service, you need the device token. \n      Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.</p>"
        },
        "CustomUserData":{
          "shape":"String",
          "documentation":"<p>Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p>"
        },
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>For a list of attributes, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetEndpointAttributes.html\">SetEndpointAttributes</a>.</p>"
        }
      },
      "documentation":"<p>Input for CreatePlatformEndpoint action.</p>"
    },
    "CreateTopicInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"topicName",
          "documentation":"<p>The name of the topic you want to create.</p>\n    <p>Constraints: Topic names must be made up of \n    only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be \n    between 1 and 256 characters long. </p>"
        }
      },
      "documentation":"<p>Input for CreateTopic action.</p>"
    },
    "CreateTopicResponse":{
      "type":"structure",
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The Amazon Resource Name (ARN) assigned to the created topic.</p>"
        }
      },
      "documentation":"<p>Response from CreateTopic action.</p>"
    },
    "DelegatesList":{
      "type":"list",
      "member":{"shape":"delegate"}
    },
    "DeleteEndpointInput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>EndpointArn of endpoint to delete.</p>"
        }
      },
      "documentation":"<p>Input for DeleteEndpoint action.</p>"
    },
    "DeletePlatformApplicationInput":{
      "type":"structure",
      "required":["PlatformApplicationArn"],
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p>PlatformApplicationArn of platform application object to delete.</p>"
        }
      },
      "documentation":"<p>Input for DeletePlatformApplication action.</p>"
    },
    "DeleteTopicInput":{
      "type":"structure",
      "required":["TopicArn"],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic you want to delete.</p>\n<examples>\n <queryrequest>\n\n  http://sns.us-east-1.amazonaws.com/\n  ?TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A123456789012%3AMy-Topic\n  &amp;Action=DeleteTopic\n  &amp;SignatureVersion=2\n  &amp;SignatureMethod=HmacSHA256\n  &amp;Timestamp=2010-03-31T12%3A00%3A00.000Z\n  &amp;AWSAccessKeyId=(AWS Access Key ID)\n  &amp;Signature=DjHBa%2BbYCKQAzctOPnLP7MbHnrHT3%2FK3kFEZjwcf9%2FU%3D\n\n </queryrequest>\n <queryresponse>\n  \n&lt;DeleteTopicResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"&gt;\n  &lt;ResponseMetadata&gt;\n    &lt;RequestId&gt;fba800b9-3765-11df-8cf3-c58c53254dfb&lt;/RequestId&gt;\n  &lt;/ResponseMetadata&gt;\n&lt;/DeleteTopicResponse&gt;\n  \n </queryresponse>\n</examples>"
        }
      }
    },
    "Endpoint":{
      "type":"structure",
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>EndpointArn for mobile app and device.</p>"
        },
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>Attributes for endpoint.</p>"
        }
      },
      "documentation":"<p>Endpoint for mobile app and device.</p>"
    },
    "EndpointDisabledException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"string",
          "documentation":"<p>Message for endpoint disabled.</p>"
        }
      },
      "error":{
        "code":"EndpointDisabled",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Exception error indicating endpoint disabled.</p>"
    },
    "GetEndpointAttributesInput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>EndpointArn for GetEndpointAttributes input.</p>"
        }
      },
      "documentation":"<p>Input for GetEndpointAttributes action.</p>"
    },
    "GetEndpointAttributesResponse":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>Attributes include the following:</p>\n    <ul>\n      \n      <li>\n<code>CustomUserData</code> -- arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</li>\n      <li>\n<code>Enabled</code> -- flag that enables/disables delivery to the endpoint. \n        Amazon SNS will set this to false when a notification service indicates to Amazon SNS that the endpoint is invalid. \n        Users can set it back to true, typically after updating Token.</li>\n      \n      <li>\n<code>Token</code> -- device token, also referred to as a registration id, for an app and mobile device. \n        This is returned from the notification service when an app and mobile device are registered with the notification service.</li>           \n    </ul>"
        }
      },
      "documentation":"<p>Response from GetEndpointAttributes of the EndpointArn.</p>"
    },
    "GetPlatformApplicationAttributesInput":{
      "type":"structure",
      "required":["PlatformApplicationArn"],
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p>PlatformApplicationArn for GetPlatformApplicationAttributesInput.</p>"
        }
      },
      "documentation":"<p>Input for GetPlatformApplicationAttributes action.</p>"
    },
    "GetPlatformApplicationAttributesResponse":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>Attributes include the following:</p>\n    <ul>      \n      \n      \n      <li>\n<code>EventEndpointCreated</code> -- Topic ARN to which EndpointCreated event notifications should be sent.</li>\n      <li>\n<code>EventEndpointDeleted</code> -- Topic ARN to which EndpointDeleted event notifications should be sent.</li>\n      <li>\n<code>EventEndpointUpdated</code> -- Topic ARN to which EndpointUpdate event notifications should be sent.</li>\n      \n      <li>\n<code>EventDeliveryFailure</code> -- Topic ARN to which DeliveryFailure event notifications should be sent upon Direct Publish delivery failure (permanent) to one of the application's endpoints.</li>\n      \n    </ul>"
        }
      },
      "documentation":"<p>Response for GetPlatformApplicationAttributes action.</p>"
    },
    "GetSubscriptionAttributesInput":{
      "type":"structure",
      "required":["SubscriptionArn"],
      "members":{
        "SubscriptionArn":{
          "shape":"subscriptionARN",
          "documentation":"<p>The ARN of the subscription whose properties you want to get.</p>"
        }
      },
      "documentation":"<p>Input for GetSubscriptionAttributes.</p>"
    },
    "GetSubscriptionAttributesResponse":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"SubscriptionAttributesMap",
[...]
