{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-06",
    "endpointPrefix":"ssm",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Amazon SSM",
    "serviceFullName":"Amazon Simple Systems Management Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonSSM",
    "protocol":"json"
  },
  "documentation":"<p>Simple Systems Manager (SSM) is a set of capabilities that can help you manage your Amazon EC2 instances running on Windows. SSM enables you to run scripts or other common administrative tasks on your instances using either SSM Run Command or SSM Config. </p> <p>Run Command extends the server administration capabilities of SSM by offering an on-demand experience for executing commands. You can use pre-defined Amazon SSM documents (formerly called configuration documents) to perform the actions listed later in this section, or you can create your own documents. With these document, you can then remotely configure your instances by sending commands using the AWS command line interface (CLI), AWS Tools for Windows PowerShell, or the <b>Commands</b> page in the Amazon EC2 console. Additionally, because Run Command enables you to execute PowerShell commands or scripts, you can administer your instances remotely using PowerShell as though you were logged on locally to the instance. Run Command reports the status of the command execution for each instance targeted by a command. You can also audit the command execution to understand who executed commands, when, and what changes were made. By switching between different SSM documents, you can quickly configure your instances with different types of commands.</p> <p>SSM Config is a lightweight instance configuration solution. With SSM Config, you can specify a setup configuration for your instances. SSM Config is similar to EC2 User Data, which is another way of running one-time scripts or applying settings during instance launch. SSM Config is an extension of this capability. Using SSM documents, you can specify which actions the system should perform on your instances, including which applications to install, which AWS Directory Service directory to join, which Microsoft PowerShell modules to install, etc. If an instance is missing one or more of these configurations, the system makes those changes. By default, the system checks every five minutes to see if there is a new configuration to apply as defined in a new SSM document. If so, the system updates the instances accordingly. In this way, you can remotely maintain a consistent configuration baseline on your instances. SSM Config is available using the AWS CLI or the AWS Tools for Windows PowerShell.</p> <note> <p>SSM is currently not supported on Linux instances.</p> </note> <p>You can use Run Command and SSM Config to do the following:</p> <ul> <li> <p>Join an AWS Directory Service directory (SSM Config and Run Command)</p> </li> <li> <p>Install, repair, or uninstall software using an MSI package (SSM Config and Run Command)</p> </li> <li> <p>Install PowerShell modules (SSM Config and Run Command)</p> </li> <li> <p>Configure CloudWatch Logs to monitor applications and systems (SSM Config and Run Command)</p> </li> <li> <p>Run PowerShell commands or scripts (Run Command only)</p> </li> <li> <p>Update the EC2Config service (Run Command only)</p> </li> <li> <p>Configure Windows Update settings (Run Command only)</p> </li> </ul> <important> <p>SSM documents run with administrative privilege on Windows instances because the EC2Config service runs in the Local System account. If a user has permission to execute any of the pre-defined SSM documents (any document that begins with AWS-*) then that user also has administrator access to the instance. Delegate access to SSM Config and Run Command judiciously. This becomes extremely important if you create your own SSM documents. Amazon Web Services does not provide guidance about how to create secure SSM documents. You create SSM documents and delegate access to Run Command actions at your own risk. As a security best practice, we recommend that you assign access to \"AWS-*\" documents, especially the AWS-RunPowerShellScript document, to trusted administrators only. You can create low-level SSM documents for low security tasks and delegate access to non-administrators. </p> </important>",
  "operations":{
    "CancelCommand":{
      "name":"CancelCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCommandRequest"},
      "output":{
        "shape":"CancelCommandResult",
        "documentation":"<p>Whether or not the command was successfully canceled. There is no guarantee that a request can be canceled.</p>"
      },
      "errors":[
        {
          "shape":"InvalidCommandId",
          "error":{
            "code":"InvalidCommandId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"DuplicateInstanceId",
          "error":{
            "code":"DuplicateInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You cannot specify an instance ID in more than one association.</p>"
        }
      ],
      "documentation":"<p>Attempts to cancel the command specified by the Command ID. There is no guarantee that the command will be terminated and the underlying process stopped.</p>"
    },
    "CreateAssociation":{
      "name":"CreateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationRequest"},
      "output":{"shape":"CreateAssociationResult"},
      "errors":[
        {
          "shape":"AssociationAlreadyExists",
          "error":{
            "code":"AssociationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified association already exists.</p>"
        },
        {
          "shape":"AssociationLimitExceeded",
          "error":{
            "code":"AssociationLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You can have at most 2,000 active associations.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"UnsupportedPlatformType",
          "error":{
            "code":"UnsupportedPlatformType",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The document does not support the platform type of the given instance ID(s)."
        },
        {
          "shape":"InvalidParameters",
          "error":{
            "code":"InvalidParameters",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document."
        }
      ],
      "documentation":"<p>Associates the specified SSM document with the specified instance.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>"
    },
    "CreateAssociationBatch":{
      "name":"CreateAssociationBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationBatchRequest"},
      "output":{"shape":"CreateAssociationBatchResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"InvalidParameters",
          "error":{
            "code":"InvalidParameters",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document."
        },
        {
          "shape":"DuplicateInstanceId",
          "error":{
            "code":"DuplicateInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You cannot specify an instance ID in more than one association.</p>"
        },
        {
          "shape":"AssociationLimitExceeded",
          "error":{
            "code":"AssociationLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You can have at most 2,000 active associations.</p>"
        },
        {
          "shape":"UnsupportedPlatformType",
          "error":{
            "code":"UnsupportedPlatformType",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The document does not support the platform type of the given instance ID(s)."
        }
      ],
      "documentation":"<p>Associates the specified SSM document with the specified instances.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>"
    },
    "CreateDocument":{
      "name":"CreateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentRequest"},
      "output":{"shape":"CreateDocumentResult"},
      "errors":[
        {
          "shape":"DocumentAlreadyExists",
          "error":{
            "code":"DocumentAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified SSM document already exists.</p>"
        },
        {
          "shape":"MaxDocumentSizeExceeded",
          "error":{
            "code":"MaxDocumentSizeExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The size limit of an SSM document is 64 KB.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocumentContent",
          "error":{
            "code":"InvalidDocumentContent",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The content for the SSM document is not valid.</p>"
        },
        {
          "shape":"DocumentLimitExceeded",
          "error":{
            "code":"DocumentLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You can have at most 100 active SSM documents.</p>"
        }
      ],
      "documentation":"<p>Creates an SSM document.</p> <p>After you create an SSM document, you can use <a>CreateAssociation</a> to associate it with one or more running instances.</p>"
    },
    "DeleteAssociation":{
      "name":"DeleteAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssociationRequest"},
      "output":{"shape":"DeleteAssociationResult"},
      "errors":[
        {
          "shape":"AssociationDoesNotExist",
          "error":{
            "code":"AssociationDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified association does not exist.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"TooManyUpdates",
          "error":{
            "code":"TooManyUpdates",
            "httpStatusCode":429,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There are concurrent updates for a resource that supports one update at a time.</p>"
        }
      ],
      "documentation":"<p>Disassociates the specified SSM document from the specified instance.</p> <p>When you disassociate an SSM document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a document, you must create a new document with the desired configuration and associate it with the instance.</p>"
    },
    "DeleteDocument":{
      "name":"DeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentRequest"},
      "output":{"shape":"DeleteDocumentResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        },
        {
          "shape":"AssociatedInstances",
          "error":{
            "code":"AssociatedInstances",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You must disassociate an SSM document from all instances before you can delete it.</p>"
        }
      ],
      "documentation":"<p>Deletes the SSM document and all instance associations to the document.</p> <p>Before you delete the SSM document, we recommend that you use DeleteAssociation to disassociate all instances that are associated with the document.</p>"
    },
    "DescribeAssociation":{
      "name":"DescribeAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationRequest"},
      "output":{"shape":"DescribeAssociationResult"},
      "errors":[
        {
          "shape":"AssociationDoesNotExist",
          "error":{
            "code":"AssociationDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified association does not exist.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        }
      ],
      "documentation":"<p>Describes the associations for the specified SSM document or instance.</p>"
    },
    "DescribeDocument":{
      "name":"DescribeDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentRequest"},
      "output":{"shape":"DescribeDocumentResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        }
      ],
      "documentation":"<p>Describes the specified SSM document.</p>"
    },
    "DescribeInstanceInformation":{
      "name":"DescribeInstanceInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceInformationRequest"},
      "output":{"shape":"DescribeInstanceInformationResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified token is not valid.</p>"
        },
        {
          "shape":"InvalidInstanceInformationFilterValue",
          "error":{
            "code":"InvalidInstanceInformationFilterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The specified filter value is not valid."
        },
        {
          "shape":"InvalidFilterKey",
          "error":{
            "code":"InvalidFilterKey",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The specified key is not valid."
        }
      ],
      "documentation":"Describes one or more of your instances. You can use this to get information about instances like the operating system platform, the SSM agent version, status etc. If you specify one or more instance IDs, it returns information for those instances. If you do not specify instance IDs, it returns information for all your instances. If you specify an instance ID that is not valid or an instance that you do not own, you receive an error."
    },
    "GetDocument":{
      "name":"GetDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDocumentRequest"},
      "output":{"shape":"GetDocumentResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        }
      ],
      "documentation":"<p>Gets the contents of the specified SSM document.</p>"
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationsRequest"},
      "output":{"shape":"ListAssociationsResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified token is not valid.</p>"
        }
      ],
      "documentation":"<p>Lists the associations for the specified SSM document or instance.</p>"
    },
    "ListCommandInvocations":{
      "name":"ListCommandInvocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandInvocationsRequest"},
      "output":{"shape":"ListCommandInvocationsResult"},
      "errors":[
        {
          "shape":"InvalidCommandId",
          "error":{
            "code":"InvalidCommandId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"InvalidFilterKey",
          "error":{
            "code":"InvalidFilterKey",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The specified key is not valid."
        },
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified token is not valid.</p>"
        }
      ],
      "documentation":"An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user executes SendCommand against three instances, then a command invocation is created for each requested instance ID. ListCommandInvocations provide status about command execution."
    },
    "ListCommands":{
      "name":"ListCommands",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandsRequest"},
      "output":{"shape":"ListCommandsResult"},
      "errors":[
        {
          "shape":"InvalidCommandId",
          "error":{
            "code":"InvalidCommandId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"InvalidFilterKey",
          "error":{
            "code":"InvalidFilterKey",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The specified key is not valid."
        },
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified token is not valid.</p>"
        }
      ],
      "documentation":"<p>Lists the commands requested by users of the AWS account.</p>"
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified token is not valid.</p>"
        },
        {
          "shape":"InvalidFilterKey",
          "error":{
            "code":"InvalidFilterKey",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The specified key is not valid."
        }
      ],
      "documentation":"<p>Describes one or more of your SSM documents.</p>"
    },
    "SendCommand":{
      "name":"SendCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendCommandRequest"},
      "output":{"shape":"SendCommandResult"},
      "errors":[
        {
          "shape":"DuplicateInstanceId",
          "error":{
            "code":"DuplicateInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You cannot specify an instance ID in more than one association.</p>"
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        },
        {
          "shape":"InvalidOutputFolder",
          "error":{
            "code":"InvalidOutputFolder",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The S3 bucket does not exist."
        },
        {
          "shape":"InvalidParameters",
          "error":{
            "code":"InvalidParameters",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document."
        },
        {
          "shape":"UnsupportedPlatformType",
          "error":{
            "code":"UnsupportedPlatformType",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"The document does not support the platform type of the given instance ID(s)."
        }
      ],
      "documentation":"Executes commands on one or more remote instances."
    },
    "UpdateAssociationStatus":{
      "name":"UpdateAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationStatusRequest"},
      "output":{"shape":"UpdateAssociationStatusResult"},
      "errors":[
        {
          "shape":"InternalServerError",
          "error":{
            "code":"InternalServerError",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        },
        {
          "shape":"InvalidInstanceId",
          "error":{
            "code":"InvalidInstanceId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
        },
        {
          "shape":"InvalidDocument",
          "error":{
            "code":"InvalidDocument",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified document does not exist.</p>"
        },
        {
          "shape":"AssociationDoesNotExist",
          "error":{
            "code":"AssociationDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified association does not exist.</p>"
        },
        {
          "shape":"StatusUnchanged",
          "error":{
            "code":"StatusUnchanged",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The updated status is the same as the current status.</p>"
        },
        {
          "shape":"TooManyUpdates",
          "error":{
            "code":"TooManyUpdates",
            "httpStatusCode":429,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There are concurrent updates for a resource that supports one update at a time.</p>"
        }
      ],
      "documentation":"<p>Updates the status of the SSM document associated with the specified instance.</p>"
    }
  },
  "shapes":{
    "AssociatedInstances":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociatedInstances",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>You must disassociate an SSM document from all instances before you can delete it.</p>"
    },
    "Association":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        }
      },
      "documentation":"<p>Describes an association of an SSM document and an instance.</p>"
    },
    "AssociationAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociationAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified association already exists.</p>"
    },
    "AssociationDescription":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        },
        "Date":{
          "shape":"DateTime",
          "documentation":"<p>The date when the association was made.</p>"
        },
        "Status":{
          "shape":"AssociationStatus",
          "documentation":"<p>The association status.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"A description of the parameters for a document."
        }
      },
      "documentation":"<p>Describes the parameters for a document.</p>"
    },
    "AssociationDescriptionList":{
      "type":"list",
      "member":{
        "shape":"AssociationDescription",
        "locationName":"AssociationDescription"
      }
    },
    "AssociationDoesNotExist":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociationDoesNotExist",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified association does not exist.</p>"
    },
    "AssociationFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"AssociationFilterKey",
          "documentation":"<p>The name of the filter.</p>"
        },
        "value":{
          "shape":"AssociationFilterValue",
          "documentation":"<p>The filter value.</p>"
        }
      },
      "documentation":"<p>Describes a filter.</p>"
    },
    "AssociationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceId",
        "Name"
      ]
    },
    "AssociationFilterList":{
      "type":"list",
      "member":{
        "shape":"AssociationFilter",
        "locationName":"AssociationFilter"
      },
      "min":1
    },
    "AssociationFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AssociationLimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>You can have at most 2,000 active associations.</p>"
    },
    "AssociationList":{
      "type":"list",
      "member":{
        "shape":"Association",
        "locationName":"Association"
      }
    },
    "AssociationStatus":{
      "type":"structure",
      "required":[
        "Date",
        "Name",
        "Message"
      ],
      "members":{
        "Date":{
          "shape":"DateTime",
          "documentation":"<p>The date when the status changed.</p>"
        },
        "Name":{
          "shape":"AssociationStatusName",
          "documentation":"<p>The status.</p>"
        },
        "Message":{
          "shape":"StatusMessage",
          "documentation":"<p>The reason for the status.</p>"
        },
        "AdditionalInfo":{
          "shape":"StatusAdditionalInfo",
          "documentation":"<p>A user-defined string.</p>"
        }
      },
      "documentation":"<p>Describes an association status.</p>"
    },
    "AssociationStatusName":{
      "type":"string",
      "enum":[
        "Pending",
        "Success",
        "Failed"
      ]
    },
    "BatchErrorMessage":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "CancelCommandRequest":{
      "type":"structure",
      "required":["CommandId"],
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"The ID of the command you want to cancel."
        },
        "InstanceIds":{
          "shape":"InstanceIdList",
          "documentation":"<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>"
        }
      }
    },
    "CancelCommandResult":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Whether or not the command was successfully canceled. There is no guarantee that a request can be canceled.</p>"
    },
    "Command":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"A unique identifier for this command."
        },
        "DocumentName":{
          "shape":"DocumentName",
          "documentation":"The name of the SSM document requested for execution."
        },
        "Comment":{
          "shape":"Comment",
          "documentation":"User-specified information about the command, such as a brief description of what the command should do."
        },
        "ExpiresAfter":{
          "shape":"DateTime",
          "documentation":"If this time is reached and the command has not already started executing, it will not execute. Calculated based on the ExpiresAfter user input provided as part of the SendCommand API."
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"The parameter values to be inserted in the SSM document when executing the command."
        },
        "InstanceIds":{
          "shape":"InstanceIdList",
          "documentation":"The instance IDs against which this command was requested."
        },
        "RequestedDateTime":{
          "shape":"DateTime",
          "documentation":"The date and time the command was requested."
        },
        "Status":{
          "shape":"CommandStatus",
          "documentation":"The status of the command."
        },
        "OutputS3BucketName":{
          "shape":"S3BucketName",
          "documentation":"The S3 bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        },
        "OutputS3KeyPrefix":{
          "shape":"S3KeyPrefix",
          "documentation":"The S3 directory path inside the bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        }
      },
      "documentation":"Describes a command request."
    },
    "CommandFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"CommandFilterKey",
          "documentation":"The name of the filter. For example, requested date and time."
        },
        "value":{
          "shape":"CommandFilterValue",
          "documentation":"The filter value. For example: June 30, 2015."
        }
      },
      "documentation":"Describes a command filter."
    },
    "CommandFilterKey":{
      "type":"string",
      "enum":[
        "InvokedAfter",
        "InvokedBefore",
        "Status"
      ]
    },
    "CommandFilterList":{
      "type":"list",
      "member":{"shape":"CommandFilter"},
      "min":1,
      "max":3
    },
    "CommandFilterValue":{
      "type":"string",
      "min":1
    },
    "CommandId":{
      "type":"string",
      "min":36,
      "max":36
    },
    "CommandInvocation":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"The command against which this invocation was requested."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"The instance ID in which this invocation was requested."
        },
        "Comment":{
          "shape":"Comment",
          "documentation":"User-specified information about the command, such as a brief description of what the command should do."
        },
        "DocumentName":{
          "shape":"DocumentName",
          "documentation":"The document name that was requested for execution."
        },
        "RequestedDateTime":{
          "shape":"DateTime",
          "documentation":"The time and date the request was sent to this instance."
        },
        "Status":{
          "shape":"CommandInvocationStatus",
          "documentation":"Whether or not the invocation succeeded, failed, or is pending."
        },
        "TraceOutput":{
          "shape":"InvocationTraceOutput",
          "documentation":"Gets the trace output sent by the agent."
        },
        "CommandPlugins":{"shape":"CommandPluginList"}
      },
      "documentation":"An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user executes SendCommand against three instances, then a command invocation is created for each requested instance ID. A command invocation returns status and detail information about a command you executed."
    },
    "CommandInvocationList":{
      "type":"list",
      "member":{"shape":"CommandInvocation"}
    },
    "CommandInvocationStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"Command"}
    },
    "CommandMaxResults":{
      "type":"integer",
      "min":1,
      "max":50
    },
    "CommandPlugin":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"CommandPluginName",
          "documentation":"The name of the plugin. Must be one of the following: AWS-JoinDirectoryServiceDomain, AWS-InstallApplication, AWS-RunPowerShellScript, AWS-InstallPowerShellModule, AWS-ConfigureCloudWatch."
        },
        "Status":{
          "shape":"CommandPluginStatus",
          "documentation":"The status of this plugin. You can execute a document with multiple plugins."
        },
        "ResponseCode":{
          "shape":"ResponseCode",
          "documentation":"A numeric response code generated after executing the plugin."
        },
        "ResponseStartDateTime":{
          "shape":"DateTime",
          "documentation":"The time the plugin started executing."
        },
        "ResponseFinishDateTime":{
          "shape":"DateTime",
          "documentation":"The time the plugin stopped executing. Could stop prematurely if, for example, a cancel command was sent."
        },
        "Output":{
          "shape":"CommandPluginOutput",
          "documentation":"Output of the plugin execution."
        },
        "OutputS3BucketName":{
          "shape":"S3BucketName",
          "documentation":"The S3 bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        },
        "OutputS3KeyPrefix":{
          "shape":"S3KeyPrefix",
          "documentation":"The S3 directory path inside the bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        }
      },
      "documentation":"Describes plugin details."
    },
    "CommandPluginList":{
      "type":"list",
      "member":{"shape":"CommandPlugin"}
    },
    "CommandPluginName":{
      "type":"string",
      "min":4
    },
    "CommandPluginOutput":{
      "type":"string",
      "max":2500
    },
    "CommandPluginStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "Comment":{
      "type":"string",
      "max":100
    },
    "CreateAssociationBatchRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{
          "shape":"CreateAssociationBatchRequestEntries",
          "documentation":"<p>One or more associations.</p>"
        }
      }
    },
    "CreateAssociationBatchRequestEntries":{
      "type":"list",
      "member":{
        "shape":"CreateAssociationBatchRequestEntry",
        "locationName":"entries"
      }
    },
    "CreateAssociationBatchRequestEntry":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"The name of the configuration document."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"The ID of the instance."
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"A description of the parameters for a document."
        }
      },
      "documentation":"Describes the association of an SSM document and an instance."
    },
    "CreateAssociationBatchResult":{
      "type":"structure",
      "members":{
        "Successful":{
          "shape":"AssociationDescriptionList",
          "documentation":"<p>Information about the associations that succeeded.</p>"
        },
        "Failed":{
          "shape":"FailedCreateAssociationList",
          "documentation":"<p>Information about the associations that failed.</p>"
        }
      }
    },
    "CreateAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The instance ID.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"The parameters for the document’s runtime configuration."
        }
      }
    },
    "CreateAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{
          "shape":"AssociationDescription",
          "documentation":"<p>Information about the association.</p>"
        }
      }
    },
    "CreateDocumentRequest":{
      "type":"structure",
      "required":[
        "Content",
        "Name"
      ],
      "members":{
        "Content":{
          "shape":"DocumentContent",
          "documentation":"<p>A valid JSON string. For more information about the contents of this string, see <a href=\"http://docs.aws.amazon.com/ssm/latest/APIReference/aws-ssm-document.html\">SSM Document</a>.</p>"
        },
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>A name for the SSM document.</p>"
        }
      }
    },
    "CreateDocumentResult":{
      "type":"structure",
      "members":{
        "DocumentDescription":{
          "shape":"DocumentDescription",
          "documentation":"<p>Information about the SSM document.</p>"
        }
      }
    },
    "DateTime":{"type":"timestamp"},
    "DeleteAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        }
      }
    },
    "DeleteAssociationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        }
      }
    },
    "DeleteDocumentResult":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        }
      }
    },
    "DescribeAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{
          "shape":"AssociationDescription",
          "documentation":"<p>Information about the association.</p>"
        }
      }
    },
    "DescribeDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        }
      }
    },
    "DescribeDocumentResult":{
      "type":"structure",
      "members":{
        "Document":{
          "shape":"DocumentDescription",
          "documentation":"<p>Information about the SSM document.</p>"
        }
      }
    },
    "DescribeInstanceInformationRequest":{
      "type":"structure",
      "members":{
        "InstanceInformationFilterList":{
          "shape":"InstanceInformationFilterList",
          "documentation":"One or more filters. Use a filter to return a more specific list of instances."
        },
        "MaxResults":{
          "shape":"MaxResultsEC2Compatible",
          "box":true,
          "documentation":"The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"The token for the next set of items to return. (You received this token from a previous call.)"
        }
      }
    },
    "DescribeInstanceInformationResult":{
      "type":"structure",
      "members":{
        "InstanceInformationList":{
          "shape":"InstanceInformationList",
          "documentation":"The instance information list."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"The token to use when requesting the next set of items. If there are no additional items to return, the string is empty."
        }
      }
    },
    "DescriptionInDocument":{"type":"string"},
    "DocumentAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DocumentAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified SSM document already exists.</p>"
    },
    "DocumentContent":{
      "type":"string",
      "min":1
    },
    "DocumentDescription":{
      "type":"structure",
      "members":{
        "Sha1":{
          "shape":"DocumentSha1",
          "documentation":"<p>The SHA1 hash of the document, which you can use for verification purposes.</p>"
        },
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "CreatedDate":{
          "shape":"DateTime",
          "documentation":"The date when the SSM document was created."
        },
        "Status":{
          "shape":"DocumentStatus",
          "documentation":"<p>The status of the SSM document.</p>"
        },
        "Description":{
          "shape":"DescriptionInDocument",
          "documentation":"A description of the document."
        },
        "Parameters":{
          "shape":"DocumentParameterList",
          "documentation":"<p>A description of the parameters for a document.</p>"
        },
        "PlatformTypes":{
          "shape":"PlatformTypeList",
          "documentation":"The list of OS platforms compatible with this SSM document."
        }
      },
      "documentation":"Describes an SSM document."
    },
    "DocumentFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"DocumentFilterKey",
          "documentation":"<p>The name of the filter.</p>"
        },
        "value":{
          "shape":"DocumentFilterValue",
          "documentation":"<p>The value of the filter.</p>"
        }
      },
      "documentation":"<p>Describes a filter.</p>"
    },
    "DocumentFilterKey":{
      "type":"string",
      "enum":[
        "Name",
        "Owner",
        "PlatformTypes"
      ]
    },
    "DocumentFilterList":{
      "type":"list",
      "member":{
        "shape":"DocumentFilter",
        "locationName":"DocumentFilter"
      },
      "min":1
    },
    "DocumentFilterValue":{
      "type":"string",
      "min":1
    },
    "DocumentIdentifier":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "PlatformTypes":{
          "shape":"PlatformTypeList",
          "documentation":"The operating system platform."
        }
      },
      "documentation":"<p>Describes the name of an SSM document.</p>"
    },
    "DocumentIdentifierList":{
      "type":"list",
      "member":{
        "shape":"DocumentIdentifier",
        "locationName":"DocumentIdentifier"
      }
    },
    "DocumentLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DocumentLimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>You can have at most 100 active SSM documents.</p>"
    },
    "DocumentName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "DocumentParameter":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentParameterName",
          "documentation":"<p>The name of the parameter.</p>"
        },
        "Type":{
          "shape":"DocumentParameterType",
          "documentation":"<p>The type of parameter. The type can be either “String” or “StringList”.</p>"
        },
        "Description":{
          "shape":"DocumentParameterDescrption",
          "documentation":"<p>A description of what the parameter does, how to use it, the default value, and whether or not the parameter is optional.</p>"
        },
        "DefaultValue":{
          "shape":"DocumentParameterDefaultValue",
          "documentation":"<p>If specified, the default values for the parameters. Parameters without a default value are required. Parameters with a default value are optional.</p>"
        }
      }
    },
    "DocumentParameterDefaultValue":{"type":"string"},
    "DocumentParameterDescrption":{"type":"string"},
    "DocumentParameterList":{
      "type":"list",
      "member":{
        "shape":"DocumentParameter",
        "locationName":"DocumentParameter"
      }
    },
    "DocumentParameterName":{"type":"string"},
    "DocumentParameterType":{
      "type":"string",
      "enum":[
        "String",
        "StringList"
      ]
    },
    "DocumentSha1":{"type":"string"},
    "DocumentStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Active",
        "Deleting"
      ]
    },
    "DuplicateInstanceId":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DuplicateInstanceId",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>You cannot specify an instance ID in more than one association.</p>"
    },
    "FailedCreateAssociation":{
      "type":"structure",
      "members":{
        "Entry":{
          "shape":"CreateAssociationBatchRequestEntry",
          "documentation":"<p>The association.</p>"
        },
        "Message":{
          "shape":"BatchErrorMessage",
          "documentation":"<p>A description of the failure.</p>"
        },
        "Fault":{
          "shape":"Fault",
          "documentation":"<p>The source of the failure.</p>"
        }
      },
      "documentation":"<p>Describes a failed association.</p>"
    },
    "FailedCreateAssociationList":{
      "type":"list",
      "member":{
        "shape":"FailedCreateAssociation",
        "locationName":"FailedCreateAssociationEntry"
      }
    },
    "Fault":{
      "type":"string",
      "enum":[
        "Client",
        "Server",
        "Unknown"
      ]
    },
    "GetDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        }
      }
    },
    "GetDocumentResult":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "Content":{
          "shape":"DocumentContent",
          "documentation":"<p>The contents of the SSM document.</p>"
        }
      }
    },
    "InstanceId":{
      "type":"string",
      "min":10,
      "max":10,
      "pattern":"^(?=.{10}$)(i-(\\w){8})"
    },
    "InstanceIdList":{
      "type":"list",
      "member":{"shape":"InstanceId"},
      "min":1,
      "max":50
    },
    "InstanceInformation":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"The instance ID."
        },
        "PingStatus":{
          "shape":"PingStatus",
          "documentation":"Connection status of the SSM agent."
        },
        "LastPingDateTime":{
          "shape":"DateTime",
          "box":true,
          "documentation":"The date and time when agent last pinged SSM service."
        },
        "AgentVersion":{
          "shape":"Version",
          "documentation":"The version of the SSM agent running on your instance."
        },
        "IsLatestVersion":{
          "shape":"Boolean",
          "box":true,
          "documentation":"Indicates whether latest version of the SSM agent is running on your instance."
        },
        "PlatformType":{
          "shape":"PlatformType",
          "documentation":"The operating system platform type."
        },
        "PlatformName":{
          "shape":"String",
          "documentation":"The name of the operating system platform running on your instance."
        },
        "PlatformVersion":{
          "shape":"String",
          "documentation":"The version of the OS platform running on your instance."
        }
      },
      "documentation":"Describes a filter for a specific list of instances."
    },
    "InstanceInformationFilter":{
      "type":"structure",
      "required":[
        "key",
        "valueSet"
      ],
      "members":{
        "key":{
          "shape":"InstanceInformationFilterKey",
          "documentation":"The name of the filter."
        },
        "valueSet":{
          "shape":"InstanceInformationFilterValueSet",
          "documentation":"The filter values."
        }
      },
      "documentation":"Describes a filter for a specific list of instances."
    },
    "InstanceInformationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceIds",
        "AgentVersion",
        "PingStatus",
        "PlatformTypes"
      ]
    },
    "InstanceInformationFilterList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilter",
        "locationName":"InstanceInformationFilter"
      },
      "min":1
    },
    "InstanceInformationFilterValue":{
      "type":"string",
      "min":1
    },
    "InstanceInformationFilterValueSet":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilterValue",
        "locationName":"InstanceInformationFilterValue"
      },
      "min":1,
      "max":100
    },
    "InstanceInformationList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformation",
        "locationName":"InstanceInformation"
      }
    },
    "InternalServerError":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"An error occurred on the server side."
        }
      },
      "error":{
        "code":"InternalServerError",
        "httpStatusCode":500
      },
      "exception":true,
      "documentation":"<p>An error occurred on the server side.</p>"
    },
    "InvalidCommandId":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidCommandId",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidDocument":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>The SSM document does not exist or the document is not available to the user. This exception can be issued by CreateAssociation, CreateAssociationBatch, DeleteAssociation, DeleteDocument, DescribeAssociation, DescribeDocument, GetDocument, SendCommand, or UpdateAssociationStatus. </p>"
        }
      },
      "error":{
        "code":"InvalidDocument",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified document does not exist.</p>"
    },
    "InvalidDocumentContent":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A description of the validation error.</p>"
        }
      },
      "error":{
        "code":"InvalidDocumentContent",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The content for the SSM document is not valid.</p>"
    },
    "InvalidFilterKey":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidFilterKey",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"The specified key is not valid."
    },
    "InvalidInstanceId":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidInstanceId",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>"
    },
    "InvalidInstanceInformationFilterValue":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "code":"InvalidInstanceInformationFilterValue",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"The specified filter value is not valid."
    },
    "InvalidNextToken":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidNextToken",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified token is not valid.</p>"
    },
    "InvalidOutputFolder":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidOutputFolder",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"The S3 bucket does not exist."
    },
    "InvalidParameters":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>The parameter values entered by the user do not work in the SSM document. For example, incorrect type. This exception can be issued by CreateAssociation, CreateAssociationBatch, or SendCommand. </p>"
        }
      },
      "error":{
        "code":"InvalidParameters",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document."
    },
    "InvocationTraceOutput":{
      "type":"string",
      "max":2500
    },
    "ListAssociationsRequest":{
      "type":"structure",
      "required":["AssociationFilterList"],
      "members":{
        "AssociationFilterList":{
          "shape":"AssociationFilterList",
          "documentation":"<p>One or more filters. Use a filter to return a more specific list of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "box":true,
          "documentation":"<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        }
      }
    },
    "ListAssociationsResult":{
      "type":"structure",
      "members":{
        "Associations":{
          "shape":"AssociationList",
          "documentation":"<p>The associations.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.</p>"
        }
      }
    },
    "ListCommandInvocationsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"(Optional) The invocations for a specific command ID."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"(Optional) The command execution details for a specific instance ID."
        },
        "MaxResults":{
          "shape":"CommandMaxResults",
          "box":true,
          "documentation":"(Optional) The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        },
        "Filters":{
          "shape":"CommandFilterList",
          "documentation":"(Optional) One or more filters. Use a filter to return a more specific list of results."
        },
        "Details":{
          "shape":"Boolean",
          "documentation":"(Optional) If set this returns the response of the command executions. By default this is set to False."
        }
      }
    },
    "ListCommandInvocationsResult":{
      "type":"structure",
      "members":{
        "CommandInvocations":{
          "shape":"CommandInvocationList",
          "documentation":"(Optional) A list of all invocations."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        }
      }
    },
    "ListCommandsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"(Optional) If provided, lists only the specified command."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"(Optional) Lists commands issued against this instance ID."
        },
        "MaxResults":{
          "shape":"CommandMaxResults",
          "box":true,
          "documentation":"(Optional) The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        },
        "Filters":{
          "shape":"CommandFilterList",
          "documentation":"(Optional) One or more filters. Use a filter to return a more specific list of results."
        }
      }
    },
    "ListCommandsResult":{
      "type":"structure",
      "members":{
        "Commands":{
          "shape":"CommandList",
          "documentation":"(Optional) The list of commands requested by the user."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        }
      }
    },
    "ListDocumentsRequest":{
      "type":"structure",
      "members":{
        "DocumentFilterList":{
          "shape":"DocumentFilterList",
          "documentation":"<p>One or more filters. Use a filter to return a more specific list of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "box":true,
          "documentation":"<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        }
      }
    },
    "ListDocumentsResult":{
      "type":"structure",
      "members":{
        "DocumentIdentifiers":{
          "shape":"DocumentIdentifierList",
          "documentation":"<p>The names of the SSM documents.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.</p>"
        }
      }
    },
    "MaxDocumentSizeExceeded":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"MaxDocumentSizeExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The size limit of an SSM document is 64 KB.</p>"
    },
    "MaxResults":{
      "type":"integer",
      "min":1,
      "max":25
    },
    "MaxResultsEC2Compatible":{
      "type":"integer",
      "min":5,
      "max":50
    },
    "NextToken":{"type":"string"},
    "ParameterName":{"type":"string"},
    "ParameterValue":{"type":"string"},
    "ParameterValueList":{
      "type":"list",
      "member":{"shape":"ParameterValue"}
    },
    "Parameters":{
      "type":"map",
      "key":{"shape":"ParameterName"},
      "value":{"shape":"ParameterValueList"}
    },
    "PingStatus":{
      "type":"string",
      "enum":[
        "Online",
        "ConnectionLost",
        "Inactive"
      ]
    },
    "PlatformType":{
      "type":"string",
      "enum":[
        "Windows",
        "Linux"
      ]
    },
    "PlatformTypeList":{
      "type":"list",
      "member":{
        "shape":"PlatformType",
        "locationName":"PlatformType"
      }
    },
    "ResponseCode":{"type":"integer"},
    "S3BucketName":{
      "type":"string",
      "min":3,
      "max":63
    },
    "S3KeyPrefix":{
      "type":"string",
      "max":500
    },
    "SendCommandRequest":{
      "type":"structure",
      "required":[
        "InstanceIds",
        "DocumentName"
      ],
      "members":{
        "InstanceIds":{
          "shape":"InstanceIdList",
          "documentation":"Required. The instance IDs where the command should execute."
        },
        "DocumentName":{
          "shape":"DocumentName",
          "documentation":"Required. The name of the SSM document to execute. This can be an SSM public document or a custom document."
        },
        "TimeoutSeconds":{
          "shape":"TimeoutSeconds",
          "box":true,
          "documentation":"If this time is reached and the command has not already started executing, it will not execute."
        },
        "Comment":{
          "shape":"Comment",
          "documentation":"User-specified information about the command, such as a brief description of what the command should do."
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"The required and optional parameters specified in the SSM document being executed."
        },
        "OutputS3BucketName":{
          "shape":"S3BucketName",
          "documentation":"The name of the S3 bucket where command execution responses should be stored."
        },
        "OutputS3KeyPrefix":{
          "shape":"S3KeyPrefix",
          "documentation":"The directory structure within the S3 bucket where the responses should be stored."
        }
      }
    },
    "SendCommandResult":{
      "type":"structure",
      "members":{
        "Command":{
          "shape":"Command",
          "documentation":"The request as it was received by SSM. Also provides the command ID which can be used future references to this request."
        }
      }
    },
    "StatusAdditionalInfo":{
      "type":"string",
      "max":1024
    },
    "StatusMessage":{
      "type":"string",
      "max":1024
    },
    "StatusUnchanged":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"StatusUnchanged",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The updated status is the same as the current status.</p>"
    },
    "String":{"type":"string"},
    "TimeoutSeconds":{
      "type":"integer",
      "min":30,
      "max":2592000
    },
    "TooManyUpdates":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TooManyUpdates",
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>There are concurrent updates for a resource that supports one update at a time.</p>"
    },
    "UnsupportedPlatformType":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "code":"UnsupportedPlatformType",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"The document does not support the platform type of the given instance ID(s)."
    },
    "UpdateAssociationStatusRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId",
        "AssociationStatus"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        },
        "AssociationStatus":{
          "shape":"AssociationStatus",
          "documentation":"<p>The association status.</p>"
        }
      }
    },
    "UpdateAssociationStatusResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{
          "shape":"AssociationDescription",
          "documentation":"<p>Information about the association.</p>"
        }
      }
    },
    "Version":{
      "type":"string",
      "pattern":"^[0-9]{1,6}(\\.[0-9]{1,6}){2,3}$"
    }
  },
  "examples":{
  }
}
