{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-06",
    "endpointPrefix":"ssm",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"Amazon SSM",
    "serviceFullName":"Amazon Simple Systems Management Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonSSM"
  },
  "operations":{
    "CancelCommand":{
      "name":"CancelCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCommandRequest"},
      "output":{"shape":"CancelCommandResult"},
      "errors":[
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"DuplicateInstanceId"}
      ],
      "documentation":"<p>Attempts to cancel the command specified by the Command ID. There is no guarantee that the command will be terminated and the underlying process stopped.</p>"
    },
    "CreateAssociation":{
      "name":"CreateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationRequest"},
      "output":{"shape":"CreateAssociationResult"},
      "errors":[
        {"shape":"AssociationAlreadyExists"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"InvalidParameters"}
      ],
      "documentation":"<p>Associates the specified SSM document with the specified instance.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>"
    },
    "CreateAssociationBatch":{
      "name":"CreateAssociationBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationBatchRequest"},
      "output":{"shape":"CreateAssociationBatchResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidParameters"},
        {"shape":"DuplicateInstanceId"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"UnsupportedPlatformType"}
      ],
      "documentation":"<p>Associates the specified SSM document with the specified instances.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>"
    },
    "CreateDocument":{
      "name":"CreateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentRequest"},
      "output":{"shape":"CreateDocumentResult"},
      "errors":[
        {"shape":"DocumentAlreadyExists"},
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocumentContent"},
        {"shape":"DocumentLimitExceeded"}
      ],
      "documentation":"<p>Creates an SSM document.</p> <p>After you create an SSM document, you can use <a>CreateAssociation</a> to associate it with one or more running instances.</p>"
    },
    "DeleteAssociation":{
      "name":"DeleteAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssociationRequest"},
      "output":{"shape":"DeleteAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"TooManyUpdates"}
      ],
      "documentation":"<p>Disassociates the specified SSM document from the specified instance.</p> <p>When you disassociate an SSM document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a document, you must create a new document with the desired configuration and associate it with the instance.</p>"
    },
    "DeleteDocument":{
      "name":"DeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentRequest"},
      "output":{"shape":"DeleteDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"AssociatedInstances"}
      ],
      "documentation":"<p>Deletes the SSM document and all instance associations to the document.</p> <p>Before you delete the SSM document, we recommend that you use DeleteAssociation to disassociate all instances that are associated with the document.</p>"
    },
    "DescribeAssociation":{
      "name":"DescribeAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationRequest"},
      "output":{"shape":"DescribeAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"}
      ],
      "documentation":"<p>Describes the associations for the specified SSM document or instance.</p>"
    },
    "DescribeDocument":{
      "name":"DescribeDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentRequest"},
      "output":{"shape":"DescribeDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"}
      ],
      "documentation":"<p>Describes the specified SSM document.</p>"
    },
    "DescribeInstanceInformation":{
      "name":"DescribeInstanceInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceInformationRequest"},
      "output":{"shape":"DescribeInstanceInformationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidInstanceInformationFilterValue"},
        {"shape":"InvalidFilterKey"}
      ],
      "documentation":"Describes one or more of your instances. You can use this to get information about instances like the operating system platform, the SSM agent version, status etc. If you specify one or more instance IDs, it returns information for those instances. If you do not specify instance IDs, it returns information for all your instances. If you specify an instance ID that is not valid or an instance that you do not own, you receive an error."
    },
    "GetDocument":{
      "name":"GetDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDocumentRequest"},
      "output":{"shape":"GetDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"}
      ],
      "documentation":"<p>Gets the contents of the specified SSM document.</p>"
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationsRequest"},
      "output":{"shape":"ListAssociationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p>Lists the associations for the specified SSM document or instance.</p>"
    },
    "ListCommandInvocations":{
      "name":"ListCommandInvocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandInvocationsRequest"},
      "output":{"shape":"ListCommandInvocationsResult"},
      "errors":[
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user executes SendCommand against three instances, then a command invocation is created for each requested instance ID. ListCommandInvocations provide status about command execution."
    },
    "ListCommands":{
      "name":"ListCommands",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandsRequest"},
      "output":{"shape":"ListCommandsResult"},
      "errors":[
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p>Lists the commands requested by users of the AWS account.</p>"
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidFilterKey"}
      ],
      "documentation":"<p>Describes one or more of your SSM documents.</p>"
    },
    "SendCommand":{
      "name":"SendCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendCommandRequest"},
      "output":{"shape":"SendCommandResult"},
      "errors":[
        {"shape":"DuplicateInstanceId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidOutputFolder"},
        {"shape":"InvalidParameters"},
        {"shape":"UnsupportedPlatformType"}
      ],
      "documentation":"Executes commands on one or more remote instances."
    },
    "UpdateAssociationStatus":{
      "name":"UpdateAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationStatusRequest"},
      "output":{"shape":"UpdateAssociationStatusResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"StatusUnchanged"},
        {"shape":"TooManyUpdates"}
      ],
      "documentation":"<p>Updates the status of the SSM document associated with the specified instance.</p>"
    }
  },
  "shapes":{
    "AssociatedInstances":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>You must disassociate an SSM document from all instances before you can delete it.</p>",
      "exception":true
    },
    "Association":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        }
      },
      "documentation":"<p>Describes an association of an SSM document and an instance.</p>"
    },
    "AssociationAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified association already exists.</p>",
      "exception":true
    },
    "AssociationDescription":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        },
        "Date":{
          "shape":"DateTime",
          "documentation":"<p>The date when the association was made.</p>"
        },
        "Status":{
          "shape":"AssociationStatus",
          "documentation":"<p>The association status.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"A description of the parameters for a document."
        }
      },
      "documentation":"<p>Describes the parameters for a document.</p>"
    },
    "AssociationDescriptionList":{
      "type":"list",
      "member":{
        "shape":"AssociationDescription",
        "locationName":"AssociationDescription"
      }
    },
    "AssociationDoesNotExist":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified association does not exist.</p>",
      "exception":true
    },
    "AssociationFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"AssociationFilterKey",
          "documentation":"<p>The name of the filter.</p>"
        },
        "value":{
          "shape":"AssociationFilterValue",
          "documentation":"<p>The filter value.</p>"
        }
      },
      "documentation":"<p>Describes a filter.</p>"
    },
    "AssociationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceId",
        "Name"
      ]
    },
    "AssociationFilterList":{
      "type":"list",
      "member":{
        "shape":"AssociationFilter",
        "locationName":"AssociationFilter"
      },
      "min":1
    },
    "AssociationFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>You can have at most 2,000 active associations.</p>",
      "exception":true
    },
    "AssociationList":{
      "type":"list",
      "member":{
        "shape":"Association",
        "locationName":"Association"
      }
    },
    "AssociationStatus":{
      "type":"structure",
      "required":[
        "Date",
        "Name",
        "Message"
      ],
      "members":{
        "Date":{
          "shape":"DateTime",
          "documentation":"<p>The date when the status changed.</p>"
        },
        "Name":{
          "shape":"AssociationStatusName",
          "documentation":"<p>The status.</p>"
        },
        "Message":{
          "shape":"StatusMessage",
          "documentation":"<p>The reason for the status.</p>"
        },
        "AdditionalInfo":{
          "shape":"StatusAdditionalInfo",
          "documentation":"<p>A user-defined string.</p>"
        }
      },
      "documentation":"<p>Describes an association status.</p>"
    },
    "AssociationStatusName":{
      "type":"string",
      "enum":[
        "Pending",
        "Success",
        "Failed"
      ]
    },
    "BatchErrorMessage":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "CancelCommandRequest":{
      "type":"structure",
      "required":["CommandId"],
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"The ID of the command you want to cancel."
        },
        "InstanceIds":{
          "shape":"InstanceIdList",
          "documentation":"<p>(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested.</p>"
        }
      }
    },
    "CancelCommandResult":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Whether or not the command was successfully canceled. There is no guarantee that a request can be canceled.</p>"
    },
    "Command":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"A unique identifier for this command."
        },
        "DocumentName":{
          "shape":"DocumentName",
          "documentation":"The name of the SSM document requested for execution."
        },
        "Comment":{
          "shape":"Comment",
          "documentation":"User-specified information about the command, such as a brief description of what the command should do."
        },
        "ExpiresAfter":{
          "shape":"DateTime",
          "documentation":"If this time is reached and the command has not already started executing, it will not execute. Calculated based on the ExpiresAfter user input provided as part of the SendCommand API."
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"The parameter values to be inserted in the SSM document when executing the command."
        },
        "InstanceIds":{
          "shape":"InstanceIdList",
          "documentation":"The instance IDs against which this command was requested."
        },
        "RequestedDateTime":{
          "shape":"DateTime",
          "documentation":"The date and time the command was requested."
        },
        "Status":{
          "shape":"CommandStatus",
          "documentation":"The status of the command."
        },
        "OutputS3BucketName":{
          "shape":"S3BucketName",
          "documentation":"The S3 bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        },
        "OutputS3KeyPrefix":{
          "shape":"S3KeyPrefix",
          "documentation":"The S3 directory path inside the bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        }
      },
      "documentation":"Describes a command request."
    },
    "CommandFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"CommandFilterKey",
          "documentation":"The name of the filter. For example, requested date and time."
        },
        "value":{
          "shape":"CommandFilterValue",
          "documentation":"The filter value. For example: June 30, 2015."
        }
      },
      "documentation":"Describes a command filter."
    },
    "CommandFilterKey":{
      "type":"string",
      "enum":[
        "InvokedAfter",
        "InvokedBefore",
        "Status"
      ]
    },
    "CommandFilterList":{
      "type":"list",
      "member":{"shape":"CommandFilter"},
      "max":3,
      "min":1
    },
    "CommandFilterValue":{
      "type":"string",
      "min":1
    },
    "CommandId":{
      "type":"string",
      "max":36,
      "min":36
    },
    "CommandInvocation":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"The command against which this invocation was requested."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"The instance ID in which this invocation was requested."
        },
        "Comment":{
          "shape":"Comment",
          "documentation":"User-specified information about the command, such as a brief description of what the command should do."
        },
        "DocumentName":{
          "shape":"DocumentName",
          "documentation":"The document name that was requested for execution."
        },
        "RequestedDateTime":{
          "shape":"DateTime",
          "documentation":"The time and date the request was sent to this instance."
        },
        "Status":{
          "shape":"CommandInvocationStatus",
          "documentation":"Whether or not the invocation succeeded, failed, or is pending."
        },
        "TraceOutput":{
          "shape":"InvocationTraceOutput",
          "documentation":"Gets the trace output sent by the agent."
        },
        "CommandPlugins":{"shape":"CommandPluginList"}
      },
      "documentation":"An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user executes SendCommand against three instances, then a command invocation is created for each requested instance ID. A command invocation returns status and detail information about a command you executed."
    },
    "CommandInvocationList":{
      "type":"list",
      "member":{"shape":"CommandInvocation"}
    },
    "CommandInvocationStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"Command"}
    },
    "CommandMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "CommandPlugin":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"CommandPluginName",
          "documentation":"The name of the plugin. Must be one of the following: aws:updateAgent, aws:domainjoin, aws:applications, aws:runPowerShellScript, aws:psmodule, aws:cloudWatch, aws:runShellScript, or aws:updateSSMAgent."
        },
        "Status":{
          "shape":"CommandPluginStatus",
          "documentation":"The status of this plugin. You can execute a document with multiple plugins."
        },
        "ResponseCode":{
          "shape":"ResponseCode",
          "documentation":"A numeric response code generated after executing the plugin."
        },
        "ResponseStartDateTime":{
          "shape":"DateTime",
          "documentation":"The time the plugin started executing."
        },
        "ResponseFinishDateTime":{
          "shape":"DateTime",
          "documentation":"The time the plugin stopped executing. Could stop prematurely if, for example, a cancel command was sent."
        },
        "Output":{
          "shape":"CommandPluginOutput",
          "documentation":"Output of the plugin execution."
        },
        "OutputS3BucketName":{
          "shape":"S3BucketName",
          "documentation":"The S3 bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        },
        "OutputS3KeyPrefix":{
          "shape":"S3KeyPrefix",
          "documentation":"The S3 directory path inside the bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        }
      },
      "documentation":"Describes plugin details."
    },
    "CommandPluginList":{
      "type":"list",
      "member":{"shape":"CommandPlugin"}
    },
    "CommandPluginName":{
      "type":"string",
      "min":4
    },
    "CommandPluginOutput":{
      "type":"string",
      "max":2500
    },
    "CommandPluginStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "Comment":{
      "type":"string",
      "max":100
    },
    "CreateAssociationBatchRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{
          "shape":"CreateAssociationBatchRequestEntries",
          "documentation":"<p>One or more associations.</p>"
        }
      }
    },
    "CreateAssociationBatchRequestEntries":{
      "type":"list",
      "member":{
        "shape":"CreateAssociationBatchRequestEntry",
        "locationName":"entries"
      }
    },
    "CreateAssociationBatchRequestEntry":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"The name of the configuration document."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"The ID of the instance."
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"A description of the parameters for a document."
        }
      },
      "documentation":"Describes the association of an SSM document and an instance."
    },
    "CreateAssociationBatchResult":{
      "type":"structure",
      "members":{
        "Successful":{
          "shape":"AssociationDescriptionList",
          "documentation":"<p>Information about the associations that succeeded.</p>"
        },
        "Failed":{
          "shape":"FailedCreateAssociationList",
          "documentation":"<p>Information about the associations that failed.</p>"
        }
      }
    },
    "CreateAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The Windows Server instance ID.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"The parameters for the documents runtime configuration."
        }
      }
    },
    "CreateAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{
          "shape":"AssociationDescription",
          "documentation":"<p>Information about the association.</p>"
        }
      }
    },
    "CreateDocumentRequest":{
      "type":"structure",
      "required":[
        "Content",
        "Name"
      ],
      "members":{
        "Content":{
          "shape":"DocumentContent",
          "documentation":"<p>A valid JSON string. For more information about the contents of this string, see <a href=\"http://docs.aws.amazon.com/ssm/latest/APIReference/aws-ssm-document.html\">SSM Document</a>.</p>"
        },
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>A name for the SSM document.</p>"
        }
      }
    },
    "CreateDocumentResult":{
      "type":"structure",
      "members":{
        "DocumentDescription":{
          "shape":"DocumentDescription",
          "documentation":"<p>Information about the SSM document.</p>"
        }
      }
    },
    "DateTime":{"type":"timestamp"},
    "DeleteAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        }
      }
    },
    "DeleteAssociationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        }
      }
    },
    "DeleteDocumentResult":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The Windows Server instance ID.</p>"
        }
      }
    },
    "DescribeAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{
          "shape":"AssociationDescription",
          "documentation":"<p>Information about the association.</p>"
        }
      }
    },
    "DescribeDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        }
      }
    },
    "DescribeDocumentResult":{
      "type":"structure",
      "members":{
        "Document":{
          "shape":"DocumentDescription",
          "documentation":"<p>Information about the SSM document.</p>"
        }
      }
    },
    "DescribeInstanceInformationRequest":{
      "type":"structure",
      "members":{
        "InstanceInformationFilterList":{
          "shape":"InstanceInformationFilterList",
          "documentation":"One or more filters. Use a filter to return a more specific list of instances."
        },
        "MaxResults":{
          "shape":"MaxResultsEC2Compatible",
          "documentation":"The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.",
          "box":true
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"The token for the next set of items to return. (You received this token from a previous call.)"
        }
      }
    },
    "DescribeInstanceInformationResult":{
      "type":"structure",
      "members":{
        "InstanceInformationList":{
          "shape":"InstanceInformationList",
          "documentation":"The instance information list."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"The token to use when requesting the next set of items. If there are no additional items to return, the string is empty."
        }
      }
    },
    "DescriptionInDocument":{"type":"string"},
    "DocumentAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified SSM document already exists.</p>",
      "exception":true
    },
    "DocumentContent":{
      "type":"string",
      "min":1
    },
    "DocumentDescription":{
      "type":"structure",
      "members":{
        "Sha1":{
          "shape":"DocumentSha1",
          "documentation":"<p>The SHA1 hash of the document, which you can use for verification purposes.</p>"
        },
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "CreatedDate":{
          "shape":"DateTime",
          "documentation":"The date when the SSM document was created."
        },
        "Status":{
          "shape":"DocumentStatus",
          "documentation":"<p>The status of the SSM document.</p>"
        },
        "Description":{
          "shape":"DescriptionInDocument",
          "documentation":"A description of the document."
        },
        "Parameters":{
          "shape":"DocumentParameterList",
          "documentation":"<p>A description of the parameters for a document.</p>"
        },
        "PlatformTypes":{
          "shape":"PlatformTypeList",
          "documentation":"The list of OS platforms compatible with this SSM document."
        }
      },
      "documentation":"Describes an SSM document."
    },
    "DocumentFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"DocumentFilterKey",
          "documentation":"<p>The name of the filter.</p>"
        },
        "value":{
          "shape":"DocumentFilterValue",
          "documentation":"<p>The value of the filter.</p>"
        }
      },
      "documentation":"<p>Describes a filter.</p>"
    },
    "DocumentFilterKey":{
      "type":"string",
      "enum":[
        "Name",
        "Owner",
        "PlatformTypes"
      ]
    },
    "DocumentFilterList":{
      "type":"list",
      "member":{
        "shape":"DocumentFilter",
        "locationName":"DocumentFilter"
      },
      "min":1
    },
    "DocumentFilterValue":{
      "type":"string",
      "min":1
    },
    "DocumentIdentifier":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "PlatformTypes":{
          "shape":"PlatformTypeList",
          "documentation":"The operating system platform."
        }
      },
      "documentation":"<p>Describes the name of an SSM document.</p>"
    },
    "DocumentIdentifierList":{
      "type":"list",
      "member":{
        "shape":"DocumentIdentifier",
        "locationName":"DocumentIdentifier"
      }
    },
    "DocumentLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>You can have at most 100 active SSM documents.</p>",
      "exception":true
    },
    "DocumentName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "DocumentParameter":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentParameterName",
          "documentation":"<p>The name of the parameter.</p>"
        },
        "Type":{
          "shape":"DocumentParameterType",
          "documentation":"<p>The type of parameter. The type can be either “String” or “StringList”.</p>"
        },
        "Description":{
          "shape":"DocumentParameterDescrption",
          "documentation":"<p>A description of what the parameter does, how to use it, the default value, and whether or not the parameter is optional.</p>"
        },
        "DefaultValue":{
          "shape":"DocumentParameterDefaultValue",
          "documentation":"<p>If specified, the default values for the parameters. Parameters without a default value are required. Parameters with a default value are optional.</p>"
        }
      }
    },
    "DocumentParameterDefaultValue":{"type":"string"},
    "DocumentParameterDescrption":{"type":"string"},
    "DocumentParameterList":{
      "type":"list",
      "member":{
        "shape":"DocumentParameter",
        "locationName":"DocumentParameter"
      }
    },
    "DocumentParameterName":{"type":"string"},
    "DocumentParameterType":{
      "type":"string",
      "enum":[
        "String",
        "StringList"
      ]
    },
    "DocumentSha1":{"type":"string"},
    "DocumentStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Active",
        "Deleting"
      ]
    },
    "DuplicateInstanceId":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>You cannot specify an instance ID in more than one association.</p>",
      "exception":true
    },
    "FailedCreateAssociation":{
      "type":"structure",
      "members":{
        "Entry":{
          "shape":"CreateAssociationBatchRequestEntry",
          "documentation":"<p>The association.</p>"
        },
        "Message":{
          "shape":"BatchErrorMessage",
          "documentation":"<p>A description of the failure.</p>"
        },
        "Fault":{
          "shape":"Fault",
          "documentation":"<p>The source of the failure.</p>"
        }
      },
      "documentation":"<p>Describes a failed association.</p>"
    },
    "FailedCreateAssociationList":{
      "type":"list",
      "member":{
        "shape":"FailedCreateAssociation",
        "locationName":"FailedCreateAssociationEntry"
      }
    },
    "Fault":{
      "type":"string",
      "enum":[
        "Client",
        "Server",
        "Unknown"
      ]
    },
    "GetDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        }
      }
    },
    "GetDocumentResult":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "Content":{
          "shape":"DocumentContent",
          "documentation":"<p>The contents of the SSM document.</p>"
        }
      }
    },
    "InstanceId":{
      "type":"string",
      "pattern":"(^i-(\\w{8}|\\w{17})$)|(^op-\\w{17}$)"
    },
    "InstanceIdList":{
      "type":"list",
      "member":{"shape":"InstanceId"},
      "max":50,
      "min":1
    },
    "InstanceInformation":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"The instance ID."
        },
        "PingStatus":{
          "shape":"PingStatus",
          "documentation":"Connection status of the SSM agent."
        },
        "LastPingDateTime":{
          "shape":"DateTime",
          "documentation":"The date and time when agent last pinged SSM service.",
          "box":true
        },
        "AgentVersion":{
          "shape":"Version",
          "documentation":"The version of the SSM agent running on your instance."
        },
        "IsLatestVersion":{
          "shape":"Boolean",
          "documentation":"Indicates whether latest version of the SSM agent is running on your instance.",
          "box":true
        },
        "PlatformType":{
          "shape":"PlatformType",
          "documentation":"The operating system platform type."
        },
        "PlatformName":{
          "shape":"String",
          "documentation":"The name of the operating system platform running on your instance."
        },
        "PlatformVersion":{
          "shape":"String",
          "documentation":"The version of the OS platform running on your instance."
        }
      },
      "documentation":"Describes a filter for a specific list of instances."
    },
    "InstanceInformationFilter":{
      "type":"structure",
      "required":[
        "key",
        "valueSet"
      ],
      "members":{
        "key":{
          "shape":"InstanceInformationFilterKey",
          "documentation":"The name of the filter."
        },
        "valueSet":{
          "shape":"InstanceInformationFilterValueSet",
          "documentation":"The filter values."
        }
      },
      "documentation":"Describes a filter for a specific list of instances."
    },
    "InstanceInformationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceIds",
        "AgentVersion",
        "PingStatus",
        "PlatformTypes"
      ]
    },
    "InstanceInformationFilterList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilter",
        "locationName":"InstanceInformationFilter"
      },
      "min":1
    },
    "InstanceInformationFilterValue":{
      "type":"string",
      "min":1
    },
    "InstanceInformationFilterValueSet":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilterValue",
        "locationName":"InstanceInformationFilterValue"
      },
      "max":100,
      "min":1
    },
    "InstanceInformationList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformation",
        "locationName":"InstanceInformation"
      }
    },
    "InternalServerError":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"An error occurred on the server side."
        }
      },
      "documentation":"<p>An error occurred on the server side.</p>",
      "exception":true
    },
    "InvalidCommandId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidDocument":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>The SSM document does not exist or the document is not available to the user. This exception can be issued by CreateAssociation, CreateAssociationBatch, DeleteAssociation, DeleteDocument, DescribeAssociation, DescribeDocument, GetDocument, SendCommand, or UpdateAssociationStatus. </p>"
        }
      },
      "documentation":"<p>The specified document does not exist.</p>",
      "exception":true
    },
    "InvalidDocumentContent":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A description of the validation error.</p>"
        }
      },
      "documentation":"<p>The content for the SSM document is not valid.</p>",
      "exception":true
    },
    "InvalidFilterKey":{
      "type":"structure",
      "members":{
      },
      "documentation":"The specified key is not valid.",
      "exception":true
    },
    "InvalidInstanceId":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The instance is not in valid state. Valid states are: Running, Pending, Stopped, Stopping. Invalid states are: Shutting-down and Terminated. </p>",
      "exception":true
    },
    "InvalidInstanceInformationFilterValue":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"The specified filter value is not valid.",
      "exception":true
    },
    "InvalidNextToken":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified token is not valid.</p>",
      "exception":true
    },
    "InvalidOutputFolder":{
      "type":"structure",
      "members":{
      },
      "documentation":"The S3 bucket does not exist.",
      "exception":true
    },
    "InvalidParameters":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>The parameter values entered by the user do not work in the SSM document. For example, incorrect type. This exception can be issued by CreateAssociation, CreateAssociationBatch, or SendCommand. </p>"
        }
      },
      "documentation":"You must specify values for all required parameters in the SSM document. You can only supply values to parameters defined in the SSM document.",
      "exception":true
    },
    "InvocationTraceOutput":{
      "type":"string",
      "max":2500
    },
    "ListAssociationsRequest":{
      "type":"structure",
      "required":["AssociationFilterList"],
      "members":{
        "AssociationFilterList":{
          "shape":"AssociationFilterList",
          "documentation":"<p>One or more filters. Use a filter to return a more specific list of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>",
          "box":true
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        }
      }
    },
    "ListAssociationsResult":{
      "type":"structure",
      "members":{
        "Associations":{
          "shape":"AssociationList",
          "documentation":"<p>The associations.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.</p>"
        }
      }
    },
    "ListCommandInvocationsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"(Optional) The invocations for a specific command ID."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"(Optional) The command execution details for a specific instance ID."
        },
        "MaxResults":{
          "shape":"CommandMaxResults",
          "documentation":"(Optional) The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.",
          "box":true
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        },
        "Filters":{
          "shape":"CommandFilterList",
          "documentation":"(Optional) One or more filters. Use a filter to return a more specific list of results."
        },
        "Details":{
          "shape":"Boolean",
          "documentation":"(Optional) If set this returns the response of the command executions and any command output. By default this is set to False."
        }
      }
    },
    "ListCommandInvocationsResult":{
      "type":"structure",
      "members":{
        "CommandInvocations":{
          "shape":"CommandInvocationList",
          "documentation":"(Optional) A list of all invocations."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        }
      }
    },
    "ListCommandsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"CommandId",
          "documentation":"(Optional) If provided, lists only the specified command."
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"(Optional) Lists commands issued against this instance ID."
        },
        "MaxResults":{
          "shape":"CommandMaxResults",
          "documentation":"(Optional) The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.",
          "box":true
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        },
        "Filters":{
          "shape":"CommandFilterList",
          "documentation":"(Optional) One or more filters. Use a filter to return a more specific list of results."
        }
      }
    },
    "ListCommandsResult":{
      "type":"structure",
      "members":{
        "Commands":{
          "shape":"CommandList",
          "documentation":"(Optional) The list of commands requested by the user."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"(Optional) The token for the next set of items to return. (You received this token from a previous call.)"
        }
      }
    },
    "ListDocumentsRequest":{
      "type":"structure",
      "members":{
        "DocumentFilterList":{
          "shape":"DocumentFilterList",
          "documentation":"<p>One or more filters. Use a filter to return a more specific list of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results.</p>",
          "box":true
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        }
      }
    },
    "ListDocumentsResult":{
      "type":"structure",
      "members":{
        "DocumentIdentifiers":{
          "shape":"DocumentIdentifierList",
          "documentation":"<p>The names of the SSM documents.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.</p>"
        }
      }
    },
    "MaxDocumentSizeExceeded":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The size limit of an SSM document is 64 KB.</p>",
      "exception":true
    },
    "MaxResults":{
      "type":"integer",
      "max":25,
      "min":1
    },
    "MaxResultsEC2Compatible":{
      "type":"integer",
      "max":50,
      "min":5
    },
    "NextToken":{"type":"string"},
    "ParameterName":{"type":"string"},
    "ParameterValue":{"type":"string"},
    "ParameterValueList":{
      "type":"list",
      "member":{"shape":"ParameterValue"}
    },
    "Parameters":{
      "type":"map",
      "key":{"shape":"ParameterName"},
      "value":{"shape":"ParameterValueList"}
    },
    "PingStatus":{
      "type":"string",
      "enum":[
        "Online",
        "ConnectionLost",
        "Inactive"
      ]
    },
    "PlatformType":{
      "type":"string",
      "enum":[
        "Windows",
        "Linux"
      ]
    },
    "PlatformTypeList":{
      "type":"list",
      "member":{
        "shape":"PlatformType",
        "locationName":"PlatformType"
      }
    },
    "ResponseCode":{"type":"integer"},
    "S3BucketName":{
      "type":"string",
      "max":63,
      "min":3
    },
    "S3KeyPrefix":{
      "type":"string",
      "max":500
    },
    "SendCommandRequest":{
      "type":"structure",
      "required":[
        "InstanceIds",
        "DocumentName"
      ],
      "members":{
        "InstanceIds":{
          "shape":"InstanceIdList",
          "documentation":"Required. The instance IDs where the command should execute."
        },
        "DocumentName":{
          "shape":"DocumentName",
          "documentation":"Required. The name of the SSM document to execute. This can be an SSM public document or a custom document."
        },
        "TimeoutSeconds":{
          "shape":"TimeoutSeconds",
          "documentation":"If this time is reached and the command has not already started executing, it will not execute.",
          "box":true
        },
        "Comment":{
          "shape":"Comment",
          "documentation":"User-specified information about the command, such as a brief description of what the command should do."
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"The required and optional parameters specified in the SSM document being executed."
        },
        "OutputS3BucketName":{
          "shape":"S3BucketName",
          "documentation":"The name of the S3 bucket where command execution responses should be stored."
        },
        "OutputS3KeyPrefix":{
          "shape":"S3KeyPrefix",
          "documentation":"The directory structure within the S3 bucket where the responses should be stored."
        }
      }
    },
    "SendCommandResult":{
      "type":"structure",
      "members":{
        "Command":{
          "shape":"Command",
          "documentation":"The request as it was received by SSM. Also provides the command ID which can be used future references to this request."
        }
      }
    },
    "StatusAdditionalInfo":{
      "type":"string",
      "max":1024
    },
    "StatusMessage":{
      "type":"string",
      "max":1024
    },
    "StatusUnchanged":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The updated status is the same as the current status.</p>",
      "exception":true
    },
    "String":{"type":"string"},
    "TimeoutSeconds":{
      "type":"integer",
      "max":2592000,
      "min":30
    },
    "TooManyUpdates":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>There are concurrent updates for a resource that supports one update at a time.</p>",
      "exception":true
    },
    "UnsupportedPlatformType":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"The document does not support the platform type of the given instance ID(s).",
      "exception":true
    },
    "UpdateAssociationStatusRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId",
        "AssociationStatus"
      ],
      "members":{
        "Name":{
          "shape":"DocumentName",
          "documentation":"<p>The name of the SSM document.</p>"
        },
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The ID of the instance.</p>"
        },
        "AssociationStatus":{
          "shape":"AssociationStatus",
          "documentation":"<p>The association status.</p>"
        }
      }
    },
    "UpdateAssociationStatusResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{
          "shape":"AssociationDescription",
          "documentation":"<p>Information about the association.</p>"
        }
      }
    },
    "Version":{
      "type":"string",
      "pattern":"^[0-9]{1,6}(\\.[0-9]{1,6}){2,3}$"
    }
  },
  "documentation":"<p>Simple Systems Manager (SSM) enables you to remotely manage the configuration of your Amazon EC2 instance. Using SSM, you can run scripts or commands using either EC2 Run Command or SSM Config. (SSM Config is currently available only for Windows instances.) </p> <p/> <b>Run Command</b> <p>Run Command provides an on-demand experience for executing commands. You can use pre-defined Amazon SSM documents to perform the actions listed later in this section, or you can create your own documents. With these documents, you can remotely configure your instances by sending commands using the <b>Commands</b> page in the <a href=\"http://console.aws.amazon.com/ec2/\">Amazon EC2 console</a>, <a href=\"http://docs.aws.amazon.com/powershell/latest/reference/items/Amazon_Simple_Systems_Management_cmdlets.html\">AWS Tools for Windows PowerShell</a>, or the <a href=\"http://docs.aws.amazon.com/cli/latest/reference/ssm/index.html\">AWS CLI</a>.</p> <p>Run Command reports the status of the command execution for each instance targeted by a command. You can also audit the command execution to understand who executed commands, when, and what changes were made. By switching between different SSM documents, you can quickly configure your instances with different types of commands. To get started with Run Command, verify that your environment meets the prerequisites for remotely running commands on EC2 instances (<a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/remote-commands-prereq.html\">Linux</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/remote-commands-prereq.html\">Windows</a>). </p> <p/> <b>SSM Config</b> <p>SSM Config is a lightweight instance configuration solution. SSM Config is currently only available for Windows instances. With SSM Config, you can specify a setup configuration for your instances. SSM Config is similar to EC2 User Data, which is another way of running one-time scripts or applying settings during instance launch. SSM Config is an extension of this capability. Using SSM documents, you can specify which actions the system should perform on your instances, including which applications to install, which AWS Directory Service directory to join, which Microsoft PowerShell modules to install, etc. If an instance is missing one or more of these configurations, the system makes those changes. By default, the system checks every five minutes to see if there is a new configuration to apply as defined in a new SSM document. If so, the system updates the instances accordingly. In this way, you can remotely maintain a consistent configuration baseline on your instances. SSM Config is available using the AWS CLI or the AWS Tools for Windows PowerShell. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ec2-configuration-manage.html\">Managing Windows Instance Configuration</a>.</p> <p>SSM Config and Run Command include the following pre-defined documents.</p> <table> <title>Amazon Pre-defined SSM Documents</title> <tgroup cols=\"3\"> <colspec colname=\"col1\" colnum=\"1\" colwidth=\"1*\"/> <colspec colname=\"col2\" colnum=\"2\" colwidth=\"1*\"/> <colspec colname=\"col3\" colnum=\"3\" colwidth=\"1*\"/> <thead> <row> <entry>Name</entry> <entry>Description</entry> <entry>Platform</entry> </row> </thead> <tbody> <row> <entry> <p>AWS-RunShellScript</p> </entry> <entry> <p>Run shell scripts</p> </entry> <entry> <p>Linux</p> </entry> </row> <row> <entry> <p>AWS-UpdateSSMAgent</p> </entry> <entry> <p>Update the Amazon SSM agent</p> </entry> <entry> <p>Linux</p> </entry> </row> <row> <entry> <p>AWS-JoinDirectoryServiceDomain </p> </entry> <entry> <p>Join an AWS Directory </p> </entry> <entry> <p>Windows</p> </entry> </row> <row> <entry> <p>AWS-RunPowerShellScript</p> </entry> <entry> <p>Run PowerShell commands or scripts</p> </entry> <entry> <p>Windows</p> </entry> </row> <row> <entry> <p>AWS-UpdateEC2Config</p> </entry> <entry> <p>Update the EC2Config service </p> </entry> <entry> <p>Windows</p> </entry> </row> <row> <entry> <p>AWS-ConfigureWindowsUpdate</p> </entry> <entry> <p>Configure Windows Update settings</p> </entry> <entry> <p>Windows</p> </entry> </row> <row> <entry> <p>AWS-InstallApplication</p> </entry> <entry> <p>Install, repair, or uninstall software using an MSI package</p> </entry> <entry> <p>Windows</p> </entry> </row> <row> <entry> <p>AWS-InstallPowerShellModule</p> </entry> <entry> <p>Install PowerShell modules </p> </entry> <entry> <p>Windows</p> </entry> </row> <row> <entry> <p>AWS-ConfigureCloudWatch</p> </entry> <entry> <p>Configure Amazon CloudWatch Logs to monitor applications and systems</p> </entry> <entry> <p>Windows</p> </entry> </row> </tbody> </tgroup> </table> <important> <simpara>The commands or scripts specified in SSM documents run with administrative privilege on your instances because the Amazon SSM agent runs as root on Linux and the EC2Config service runs in the Local System account on Windows. If a user has permission to execute any of the pre-defined SSM documents (any document that begins with AWS-*) then that user also has administrator access to the instance. Delegate access to SSM and Run Command judiciously. This becomes extremely important if you create your own SSM documents. Amazon Web Services does not provide guidance about how to create secure SSM documents. You create SSM documents and delegate access to Run Command at your own risk. As a security best practice, we recommend that you assign access to \"AWS-*\" documents, especially the AWS-RunShellScript document on Linux and the AWS-RunPowerShellScript document on Windows, to trusted administrators only. You can create SSM documents for specific tasks and delegate access to non-administrators.</simpara> </important>"
}
