{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-11-06",
    "endpointPrefix": "ssm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon SSM",
    "serviceFullName": "Amazon Simple Systems Manager (SSM)",
    "serviceId": "SSM",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonSSM",
    "uid": "ssm-2014-11-06"
  },
  "operations": {
    "AddTagsToResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceType",
          "ResourceId",
          "Tags"
        ],
        "members": {
          "ResourceType": {
            "shape": "S2"
          },
          "ResourceId": {},
          "Tags": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelCommand": {
      "input": {
        "type": "structure",
        "required": [
          "CommandId"
        ],
        "members": {
          "CommandId": {
            "shape": "Sa"
          },
          "InstanceIds": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateActivation": {
      "input": {
        "type": "structure",
        "required": [
          "IamRole"
        ],
        "members": {
          "Description": {
            "shape": "Sf"
          },
          "DefaultInstanceName": {
            "shape": "Sg"
          },
          "IamRole": {
            "shape": "Sh"
          },
          "RegistrationLimit": {
            "shape": "Si"
          },
          "ExpirationDate": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActivationId": {
            "shape": "Sl"
          },
          "ActivationCode": {
            "type": "string",
            "max": 250,
            "min": 20
          }
        }
      }
    },
    "CreateAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "So"
          },
          "DocumentVersion": {
            "shape": "Sp"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "Parameters": {
            "shape": "Sq"
          },
          "Targets": {
            "shape": "Su"
          },
          "ScheduleExpression": {
            "shape": "Sz"
          },
          "OutputLocation": {
            "shape": "S10"
          },
          "AssociationName": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociationDescription": {
            "shape": "S17"
          }
        }
      }
    },
    "CreateAssociationBatch": {
      "input": {
        "type": "structure",
        "required": [
          "Entries"
        ],
        "members": {
          "Entries": {
            "type": "list",
            "member": {
              "shape": "S1l"
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Successful": {
            "type": "list",
            "member": {
              "shape": "S17"
            }
          },
          "Failed": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Entry": {
                  "shape": "S1l"
                },
                "Message": {},
                "Fault": {
                  "type": "string",
                  "enum": [
                    "Client",
                    "Server",
                    "Unknown"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "CreateDocument": {
      "input": {
        "type": "structure",
        "required": [
          "Content",
          "Name"
        ],
        "members": {
          "Content": {
            "shape": "S1t"
          },
          "Name": {
            "shape": "So"
          },
          "DocumentType": {
            "shape": "S1u"
          },
          "DocumentFormat": {
            "shape": "S1v"
          },
          "TargetType": {
            "shape": "S1w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DocumentDescription": {
            "shape": "S1y"
          }
        }
      }
    },
    "CreateMaintenanceWindow": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Schedule",
          "Duration",
          "Cutoff",
          "AllowUnassociatedTargets"
        ],
        "members": {
          "Name": {
            "shape": "S2g"
          },
          "Description": {
            "shape": "S2h"
          },
          "Schedule": {
            "shape": "S2i"
          },
          "Duration": {
            "shape": "S2j"
          },
          "Cutoff": {
            "shape": "S2k"
          },
          "AllowUnassociatedTargets": {
            "type": "boolean"
          },
          "ClientToken": {
            "shape": "S2m",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowId": {
            "shape": "S2o"
          }
        }
      }
    },
    "CreatePatchBaseline": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "OperatingSystem": {
            "shape": "S2q"
          },
          "Name": {
            "shape": "S2r"
          },
          "GlobalFilters": {
            "shape": "S2s"
          },
          "ApprovalRules": {
            "shape": "S2y"
          },
          "ApprovedPatches": {
            "shape": "S34"
          },
          "ApprovedPatchesComplianceLevel": {
            "shape": "S31"
          },
          "ApprovedPatchesEnableNonSecurity": {
            "type": "boolean"
          },
          "RejectedPatches": {
            "shape": "S34"
          },
          "Description": {
            "shape": "S36"
          },
          "Sources": {
            "shape": "S37"
          },
          "ClientToken": {
            "shape": "S2m",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          }
        }
      }
    },
    "CreateResourceDataSync": {
      "input": {
        "type": "structure",
        "required": [
          "SyncName",
          "S3Destination"
        ],
        "members": {
          "SyncName": {
            "shape": "S3g"
          },
          "S3Destination": {
            "shape": "S3h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteActivation": {
      "input": {
        "type": "structure",
        "required": [
          "ActivationId"
        ],
        "members": {
          "ActivationId": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteAssociation": {
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "So"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "AssociationId": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDocument": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInventory": {
      "input": {
        "type": "structure",
        "required": [
          "TypeName"
        ],
        "members": {
          "TypeName": {
            "shape": "S3v"
          },
          "SchemaDeleteOption": {
            "type": "string",
            "enum": [
              "DisableSchema",
              "DeleteSchema"
            ]
          },
          "DryRun": {
            "type": "boolean"
          },
          "ClientToken": {
            "shape": "S2m",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeletionId": {},
          "TypeName": {
            "shape": "S3v"
          },
          "DeletionSummary": {
            "shape": "S40"
          }
        }
      }
    },
    "DeleteMaintenanceWindow": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowId": {
            "shape": "S2o"
          }
        }
      }
    },
    "DeleteParameter": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S4a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteParameters": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "shape": "S4d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeletedParameters": {
            "shape": "S4d"
          },
          "InvalidParameters": {
            "shape": "S4d"
          }
        }
      }
    },
    "DeletePatchBaseline": {
      "input": {
        "type": "structure",
        "required": [
          "BaselineId"
        ],
        "members": {
          "BaselineId": {
            "shape": "S3e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          }
        }
      }
    },
    "DeleteResourceDataSync": {
      "input": {
        "type": "structure",
        "required": [
          "SyncName"
        ],
        "members": {
          "SyncName": {
            "shape": "S3g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterManagedInstance": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId"
        ],
        "members": {
          "InstanceId": {
            "shape": "S4k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterPatchBaselineForPatchGroup": {
      "input": {
        "type": "structure",
        "required": [
          "BaselineId",
          "PatchGroup"
        ],
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "PatchGroup": {
            "shape": "S4n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "PatchGroup": {
            "shape": "S4n"
          }
        }
      }
    },
    "DeregisterTargetFromMaintenanceWindow": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId",
          "WindowTargetId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "WindowTargetId": {
            "shape": "S4q"
          },
          "Safe": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "WindowTargetId": {
            "shape": "S4q"
          }
        }
      }
    },
    "DeregisterTaskFromMaintenanceWindow": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId",
          "WindowTaskId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "WindowTaskId": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "WindowTaskId": {
            "shape": "S4t"
          }
        }
      }
    },
    "DescribeActivations": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FilterKey": {
                  "type": "string",
                  "enum": [
                    "ActivationIds",
                    "DefaultInstanceName",
                    "IamRole"
                  ]
                },
                "FilterValues": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActivationList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ActivationId": {
                  "shape": "Sl"
                },
                "Description": {
                  "shape": "Sf"
                },
                "DefaultInstanceName": {
                  "shape": "Sg"
                },
                "IamRole": {
                  "shape": "Sh"
                },
                "RegistrationLimit": {
                  "shape": "Si"
                },
                "RegistrationsCount": {
                  "type": "integer",
                  "max": 1000,
                  "min": 1
                },
                "ExpirationDate": {
                  "type": "timestamp"
                },
                "Expired": {
                  "type": "boolean"
                },
                "CreatedDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeAssociation": {
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "So"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "AssociationId": {
            "shape": "S1i"
          },
          "AssociationVersion": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociationDescription": {
            "shape": "S17"
          }
        }
      }
    },
    "DescribeAssociationExecutionTargets": {
      "input": {
        "type": "structure",
        "required": [
          "AssociationId",
          "ExecutionId"
        ],
        "members": {
          "AssociationId": {
            "shape": "S1i"
          },
          "ExecutionId": {
            "shape": "S5b"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Value"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "enum": [
                    "Status",
                    "ResourceId",
                    "ResourceType"
                  ]
                },
                "Value": {
                  "type": "string",
                  "min": 1
                }
              }
            },
            "min": 1
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociationExecutionTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AssociationId": {
                  "shape": "S1i"
                },
                "AssociationVersion": {
                  "shape": "S18"
                },
                "ExecutionId": {
                  "shape": "S5b"
                },
                "ResourceId": {
                  "type": "string",
                  "max": 100,
                  "min": 1
                },
                "ResourceType": {
                  "type": "string",
                  "max": 50,
                  "min": 1
                },
                "Status": {},
                "DetailedStatus": {},
                "LastExecutionDate": {
                  "type": "timestamp"
                },
                "OutputSource": {
                  "type": "structure",
                  "members": {
                    "OutputSourceId": {
                      "type": "string",
                      "max": 36,
                      "min": 36
                    },
                    "OutputSourceType": {}
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeAssociationExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "AssociationId"
        ],
        "members": {
          "AssociationId": {
            "shape": "S1i"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Value",
                "Type"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "enum": [
                    "ExecutionId",
                    "Status",
                    "CreatedTime"
                  ]
                },
                "Value": {
                  "type": "string",
                  "min": 1
                },
                "Type": {
                  "type": "string",
                  "enum": [
                    "EQUAL",
                    "LESS_THAN",
                    "GREATER_THAN"
                  ]
                }
              }
            },
            "min": 1
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociationExecutions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AssociationId": {
                  "shape": "S1i"
                },
                "AssociationVersion": {
                  "shape": "S18"
                },
                "ExecutionId": {
                  "shape": "S5b"
                },
                "Status": {},
                "DetailedStatus": {},
                "CreatedTime": {
                  "type": "timestamp"
                },
                "LastExecutionDate": {
                  "type": "timestamp"
                },
                "ResourceCountByStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeAutomationExecutions": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Values"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "enum": [
                    "DocumentNamePrefix",
                    "ExecutionStatus",
                    "ExecutionId",
                    "ParentExecutionId",
                    "CurrentAction",
                    "StartTimeBefore",
                    "StartTimeAfter"
                  ]
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "string",
                    "max": 150,
                    "min": 1
                  },
                  "max": 10,
                  "min": 1
                }
              }
            },
            "max": 10,
            "min": 1
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AutomationExecutionMetadataList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AutomationExecutionId": {
                  "shape": "S67"
                },
                "DocumentName": {
                  "shape": "So"
                },
                "DocumentVersion": {
                  "shape": "Sp"
                },
                "AutomationExecutionStatus": {
                  "shape": "S68"
                },
                "ExecutionStartTime": {
                  "type": "timestamp"
                },
                "ExecutionEndTime": {
                  "type": "timestamp"
                },
                "ExecutedBy": {},
                "LogFile": {},
                "Outputs": {
                  "shape": "S69"
                },
                "Mode": {
                  "shape": "S6d"
                },
                "ParentAutomationExecutionId": {
                  "shape": "S67"
                },
                "CurrentStepName": {},
                "CurrentAction": {},
                "FailureMessage": {},
                "TargetParameterName": {
                  "shape": "S6a"
                },
                "Targets": {
                  "shape": "Su"
                },
                "TargetMaps": {
                  "shape": "S6e"
                },
                "ResolvedTargets": {
                  "shape": "S6j"
                },
                "MaxConcurrency": {
                  "shape": "S6l"
                },
                "MaxErrors": {
                  "shape": "S6m"
                },
                "Target": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeAutomationStepExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "AutomationExecutionId"
        ],
        "members": {
          "AutomationExecutionId": {
            "shape": "S67"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Values"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "enum": [
                    "StartTimeBefore",
                    "StartTimeAfter",
                    "StepExecutionStatus",
                    "StepExecutionId",
                    "StepName",
                    "Action"
                  ]
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "string",
                    "max": 150,
                    "min": 1
                  },
                  "max": 10,
                  "min": 1
                }
              }
            },
            "max": 6,
            "min": 1
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          },
          "ReverseOrder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StepExecutions": {
            "shape": "S6u"
          },
          "NextToken": {}
        }
      }
    },
    "DescribeAvailablePatches": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S74"
          },
          "MaxResults": {
            "shape": "S79"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Patches": {
            "type": "list",
            "member": {
              "shape": "S7c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeDocument": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S22"
          },
          "DocumentVersion": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Document": {
            "shape": "S1y"
          }
        }
      }
    },
    "DescribeDocumentPermission": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "PermissionType"
        ],
        "members": {
          "Name": {
            "shape": "So"
          },
          "PermissionType": {
            "shape": "S7r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S7t"
          }
        }
      }
    },
    "DescribeEffectiveInstanceAssociations": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId"
        ],
        "members": {
          "InstanceId": {
            "shape": "Sc"
          },
          "MaxResults": {
            "type": "integer",
            "max": 5,
            "min": 1
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Associations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AssociationId": {
                  "shape": "S1i"
                },
                "InstanceId": {
                  "shape": "Sc"
                },
                "Content": {
                  "shape": "S1t"
                },
                "AssociationVersion": {
                  "shape": "S18"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeEffectivePatchesForPatchBaseline": {
      "input": {
        "type": "structure",
        "required": [
          "BaselineId"
        ],
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "MaxResults": {
            "shape": "S79"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EffectivePatches": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Patch": {
                  "shape": "S7c"
                },
                "PatchStatus": {
                  "type": "structure",
                  "members": {
                    "DeploymentStatus": {
                      "type": "string",
                      "enum": [
                        "APPROVED",
                        "PENDING_APPROVAL",
                        "EXPLICIT_APPROVED",
                        "EXPLICIT_REJECTED"
                      ]
                    },
                    "ComplianceLevel": {
                      "shape": "S31"
                    },
                    "ApprovalDate": {
                      "type": "timestamp"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInstanceAssociationsStatus": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId"
        ],
        "members": {
          "InstanceId": {
            "shape": "Sc"
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstanceAssociationStatusInfos": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AssociationId": {
                  "shape": "S1i"
                },
                "Name": {
                  "shape": "So"
                },
                "DocumentVersion": {
                  "shape": "Sp"
                },
                "AssociationVersion": {
                  "shape": "S18"
                },
                "InstanceId": {
                  "shape": "Sc"
                },
                "ExecutionDate": {
                  "type": "timestamp"
                },
                "Status": {},
                "DetailedStatus": {},
                "ExecutionSummary": {
                  "type": "string",
                  "max": 512,
                  "min": 1
                },
                "ErrorCode": {
                  "type": "string",
                  "max": 10
                },
                "OutputUrl": {
                  "type": "structure",
                  "members": {
                    "S3OutputUrl": {
                      "type": "structure",
                      "members": {
                        "OutputUrl": {}
                      }
                    }
                  }
                },
                "AssociationName": {
                  "shape": "S15"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInstanceInformation": {
      "input": {
        "type": "structure",
        "members": {
          "InstanceInformationFilterList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "key",
                "valueSet"
              ],
              "members": {
                "key": {
                  "type": "string",
                  "enum": [
                    "InstanceIds",
                    "AgentVersion",
                    "PingStatus",
                    "PlatformTypes",
                    "ActivationIds",
                    "IamRole",
                    "ResourceType",
                    "AssociationStatus"
                  ]
                },
                "valueSet": {
                  "shape": "S8j"
                }
              }
            },
            "min": 0
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Values"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "min": 1
                },
                "Values": {
                  "shape": "S8j"
                }
              }
            },
            "min": 0
          },
          "MaxResults": {
            "type": "integer",
            "max": 50,
            "min": 5
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstanceInformationList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InstanceId": {
                  "shape": "Sc"
                },
                "PingStatus": {
                  "type": "string",
                  "enum": [
                    "Online",
                    "ConnectionLost",
                    "Inactive"
                  ]
                },
                "LastPingDateTime": {
                  "type": "timestamp"
                },
                "AgentVersion": {
                  "type": "string",
                  "pattern": "^[0-9]{1,6}(\\.[0-9]{1,6}){2,3}$"
                },
                "IsLatestVersion": {
                  "type": "boolean"
                },
                "PlatformType": {
                  "shape": "S2d"
                },
                "PlatformName": {},
                "PlatformVersion": {},
                "ActivationId": {
                  "shape": "Sl"
                },
                "IamRole": {
                  "shape": "Sh"
                },
                "RegistrationDate": {
                  "type": "timestamp"
                },
                "ResourceType": {
                  "type": "string",
                  "enum": [
                    "ManagedInstance",
                    "Document",
                    "EC2Instance"
                  ]
                },
                "Name": {},
                "IPAddress": {
                  "type": "string",
                  "max": 46,
                  "min": 1
                },
                "ComputerName": {
                  "type": "string",
                  "max": 255,
                  "min": 1
                },
                "AssociationStatus": {},
                "LastAssociationExecutionDate": {
                  "type": "timestamp"
                },
                "LastSuccessfulAssociationExecutionDate": {
                  "type": "timestamp"
                },
                "AssociationOverview": {
                  "type": "structure",
                  "members": {
                    "DetailedStatus": {},
                    "InstanceAssociationStatusAggregatedCount": {
                      "type": "map",
                      "key": {},
                      "value": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInstancePatchStates": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceIds"
        ],
        "members": {
          "InstanceIds": {
            "shape": "Sb"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S90"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstancePatchStates": {
            "type": "list",
            "member": {
              "shape": "S93"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInstancePatchStatesForPatchGroup": {
      "input": {
        "type": "structure",
        "required": [
          "PatchGroup"
        ],
        "members": {
          "PatchGroup": {
            "shape": "S4n"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Values",
                "Type"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "max": 200,
                  "min": 1
                },
                "Values": {
                  "type": "list",
                  "member": {},
                  "max": 1,
                  "min": 1
                },
                "Type": {
                  "type": "string",
                  "enum": [
                    "Equal",
                    "NotEqual",
                    "LessThan",
                    "GreaterThan"
                  ]
                }
              }
            },
            "max": 4,
            "min": 0
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S90"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstancePatchStates": {
            "type": "list",
            "member": {
              "shape": "S93"
            },
            "max": 5,
            "min": 1
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInstancePatches": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId"
        ],
        "members": {
          "InstanceId": {
            "shape": "Sc"
          },
          "Filters": {
            "shape": "S74"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S90"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Patches": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Title",
                "KBId",
                "Classification",
                "Severity",
                "State",
                "InstalledTime"
              ],
              "members": {
                "Title": {},
                "KBId": {},
                "Classification": {},
                "Severity": {},
                "State": {
                  "type": "string",
                  "enum": [
                    "INSTALLED",
                    "INSTALLED_OTHER",
                    "MISSING",
                    "NOT_APPLICABLE",
                    "FAILED"
                  ]
                },
                "InstalledTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInventoryDeletions": {
      "input": {
        "type": "structure",
        "members": {
          "DeletionId": {},
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InventoryDeletions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DeletionId": {},
                "TypeName": {
                  "shape": "S3v"
                },
                "DeletionStartTime": {
                  "type": "timestamp"
                },
                "LastStatus": {
                  "type": "string",
                  "enum": [
                    "InProgress",
                    "Complete"
                  ]
                },
                "LastStatusMessage": {},
                "DeletionSummary": {
                  "shape": "S40"
                },
                "LastStatusUpdateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeMaintenanceWindowExecutionTaskInvocations": {
      "input": {
        "type": "structure",
        "required": [
          "WindowExecutionId",
          "TaskId"
        ],
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          },
          "TaskId": {
            "shape": "Sa1"
          },
          "Filters": {
            "shape": "Sa2"
          },
          "MaxResults": {
            "shape": "Sa7"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowExecutionTaskInvocationIdentities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WindowExecutionId": {
                  "shape": "Sa0"
                },
                "TaskExecutionId": {
                  "shape": "Sa1"
                },
                "InvocationId": {
                  "shape": "Sab"
                },
                "ExecutionId": {},
                "TaskType": {
                  "shape": "Sad"
                },
                "Parameters": {
                  "shape": "Sae"
                },
                "Status": {
                  "shape": "Saf"
                },
                "StatusDetails": {
                  "shape": "Sag"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "OwnerInformation": {
                  "shape": "S95"
                },
                "WindowTargetId": {
                  "shape": "Sah"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeMaintenanceWindowExecutionTasks": {
      "input": {
        "type": "structure",
        "required": [
          "WindowExecutionId"
        ],
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          },
          "Filters": {
            "shape": "Sa2"
          },
          "MaxResults": {
            "shape": "Sa7"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowExecutionTaskIdentities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WindowExecutionId": {
                  "shape": "Sa0"
                },
                "TaskExecutionId": {
                  "shape": "Sa1"
                },
                "Status": {
                  "shape": "Saf"
                },
                "StatusDetails": {
                  "shape": "Sag"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "TaskArn": {
                  "shape": "Sam"
                },
                "TaskType": {
                  "shape": "Sad"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeMaintenanceWindowExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "Filters": {
            "shape": "Sa2"
          },
          "MaxResults": {
            "shape": "Sa7"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowExecutions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WindowId": {
                  "shape": "S2o"
                },
                "WindowExecutionId": {
                  "shape": "Sa0"
                },
                "Status": {
                  "shape": "Saf"
                },
                "StatusDetails": {
                  "shape": "Sag"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeMaintenanceWindowTargets": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "Filters": {
            "shape": "Sa2"
          },
          "MaxResults": {
            "shape": "Sa7"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Targets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WindowId": {
                  "shape": "S2o"
                },
                "WindowTargetId": {
                  "shape": "S4q"
                },
                "ResourceType": {
                  "shape": "Sav"
                },
                "Targets": {
                  "shape": "Su"
                },
                "OwnerInformation": {
                  "shape": "S95"
                },
                "Name": {
                  "shape": "S2g"
                },
                "Description": {
                  "shape": "S2h"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeMaintenanceWindowTasks": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "Filters": {
            "shape": "Sa2"
          },
          "MaxResults": {
            "shape": "Sa7"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tasks": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WindowId": {
                  "shape": "S2o"
                },
                "WindowTaskId": {
                  "shape": "S4t"
                },
                "TaskArn": {
                  "shape": "Sam"
                },
                "Type": {
                  "shape": "Sad"
                },
                "Targets": {
                  "shape": "Su"
                },
                "TaskParameters": {
                  "shape": "Sb0"
                },
                "Priority": {
                  "shape": "Sb5"
                },
                "LoggingInfo": {
                  "shape": "Sb6"
                },
                "ServiceRoleArn": {},
                "MaxConcurrency": {
                  "shape": "S6l"
                },
                "MaxErrors": {
                  "shape": "S6m"
                },
                "Name": {
                  "shape": "S2g"
                },
                "Description": {
                  "shape": "S2h"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeMaintenanceWindows": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Sa2"
          },
          "MaxResults": {
            "shape": "Sa7"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowIdentities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WindowId": {
                  "shape": "S2o"
                },
                "Name": {
                  "shape": "S2g"
                },
                "Description": {
                  "shape": "S2h"
                },
                "Enabled": {
                  "type": "boolean"
                },
                "Duration": {
                  "shape": "S2j"
                },
                "Cutoff": {
                  "shape": "S2k"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeParameters": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Values"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "enum": [
                    "Name",
                    "Type",
                    "KeyId"
                  ]
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "string",
                    "max": 1024,
                    "min": 1
                  },
                  "max": 50,
                  "min": 1
                }
              }
            }
          },
          "ParameterFilters": {
            "shape": "Sbj"
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Parameters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S4a"
                },
                "Type": {
                  "shape": "Sbs"
                },
                "KeyId": {
                  "shape": "Sbt"
                },
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LastModifiedUser": {},
                "Description": {
                  "shape": "Sbu"
                },
                "AllowedPattern": {
                  "shape": "Sbv"
                },
                "Version": {
                  "type": "long"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribePatchBaselines": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S74"
          },
          "MaxResults": {
            "shape": "S79"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineIdentities": {
            "type": "list",
            "member": {
              "shape": "Sc0"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribePatchGroupState": {
      "input": {
        "type": "structure",
        "required": [
          "PatchGroup"
        ],
        "members": {
          "PatchGroup": {
            "shape": "S4n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "integer"
          },
          "InstancesWithInstalledPatches": {
            "type": "integer"
          },
          "InstancesWithInstalledOtherPatches": {
            "type": "integer"
          },
          "InstancesWithMissingPatches": {
            "type": "integer"
          },
          "InstancesWithFailedPatches": {
            "type": "integer"
          },
          "InstancesWithNotApplicablePatches": {
            "type": "integer"
          }
        }
      }
    },
    "DescribePatchGroups": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S79"
          },
          "Filters": {
            "shape": "S74"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Mappings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PatchGroup": {
                  "shape": "S4n"
                },
                "BaselineIdentity": {
                  "shape": "Sc0"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeSessions": {
      "input": {
        "type": "structure",
        "required": [
          "State"
        ],
        "members": {
          "State": {
            "type": "string",
            "enum": [
              "Active",
              "History"
            ]
          },
          "MaxResults": {
            "type": "integer",
            "max": 200,
            "min": 1
          },
          "NextToken": {},
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "key",
                "value"
              ],
              "members": {
                "key": {
                  "type": "string",
                  "enum": [
                    "InvokedAfter",
                    "InvokedBefore",
                    "Target",
                    "Owner",
                    "Status"
                  ]
                },
                "value": {
                  "type": "string",
                  "max": 200,
                  "min": 1
                }
              }
            },
            "max": 5,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sessions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SessionId": {
                  "shape": "Sci"
                },
                "Target": {
                  "shape": "Scj"
                },
                "Status": {
                  "type": "string",
                  "enum": [
                    "Connected",
                    "Connecting",
                    "Disconnected",
                    "Terminated",
                    "Terminating",
                    "Failed"
                  ]
                },
                "StartDate": {
                  "type": "timestamp"
                },
                "EndDate": {
                  "type": "timestamp"
                },
                "DocumentName": {
                  "shape": "So"
                },
                "Owner": {
                  "type": "string",
                  "max": 256,
                  "min": 1
                },
                "Details": {
                  "type": "string",
                  "max": 1024,
                  "min": 1
                },
                "OutputUrl": {
                  "type": "structure",
                  "members": {
                    "S3OutputUrl": {
                      "type": "string",
                      "max": 2083,
                      "min": 1
                    },
                    "CloudWatchOutputUrl": {
                      "type": "string",
                      "max": 2083,
                      "min": 1
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetAutomationExecution": {
      "input": {
        "type": "structure",
        "required": [
          "AutomationExecutionId"
        ],
        "members": {
          "AutomationExecutionId": {
            "shape": "S67"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AutomationExecution": {
            "type": "structure",
            "members": {
              "AutomationExecutionId": {
                "shape": "S67"
              },
              "DocumentName": {
                "shape": "So"
              },
              "DocumentVersion": {
                "shape": "Sp"
              },
              "ExecutionStartTime": {
                "type": "timestamp"
              },
              "ExecutionEndTime": {
                "type": "timestamp"
              },
              "AutomationExecutionStatus": {
                "shape": "S68"
              },
              "StepExecutions": {
                "shape": "S6u"
              },
              "StepExecutionsTruncated": {
                "type": "boolean"
              },
              "Parameters": {
                "shape": "S69"
              },
              "Outputs": {
                "shape": "S69"
              },
              "FailureMessage": {},
              "Mode": {
                "shape": "S6d"
              },
              "ParentAutomationExecutionId": {
                "shape": "S67"
              },
              "ExecutedBy": {},
              "CurrentStepName": {},
              "CurrentAction": {},
              "TargetParameterName": {
                "shape": "S6a"
              },
              "Targets": {
                "shape": "Su"
              },
              "TargetMaps": {
                "shape": "S6e"
              },
              "ResolvedTargets": {
                "shape": "S6j"
              },
              "MaxConcurrency": {
                "shape": "S6l"
              },
              "MaxErrors": {
                "shape": "S6m"
              },
              "Target": {}
            }
          }
        }
      }
    },
    "GetCommandInvocation": {
      "input": {
        "type": "structure",
        "required": [
          "CommandId",
          "InstanceId"
        ],
        "members": {
          "CommandId": {
            "shape": "Sa"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "PluginName": {
            "shape": "Scu"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CommandId": {
            "shape": "Sa"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "Comment": {
            "shape": "Scw"
          },
          "DocumentName": {
            "shape": "So"
          },
          "DocumentVersion": {
            "shape": "Sp"
          },
          "PluginName": {
            "shape": "Scu"
          },
          "ResponseCode": {
            "type": "integer"
          },
          "ExecutionStartDateTime": {
            "shape": "Scy"
          },
          "ExecutionElapsedTime": {
            "shape": "Scy"
          },
          "ExecutionEndDateTime": {
            "shape": "Scy"
          },
          "Status": {
            "shape": "Scz"
          },
          "StatusDetails": {
            "shape": "Sd0"
          },
          "StandardOutputContent": {
            "type": "string",
            "max": 24000
          },
          "StandardOutputUrl": {},
          "StandardErrorContent": {
            "type": "string",
            "max": 8000
          },
          "StandardErrorUrl": {},
          "CloudWatchOutputConfig": {
            "shape": "Sd3"
          }
        }
      }
    },
    "GetConnectionStatus": {
      "input": {
        "type": "structure",
        "required": [
          "Target"
        ],
        "members": {
          "Target": {
            "shape": "Scj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Target": {
            "shape": "Scj"
          },
          "Status": {
            "type": "string",
            "enum": [
              "Connected",
              "NotConnected"
            ]
          }
        }
      }
    },
    "GetDefaultPatchBaseline": {
      "input": {
        "type": "structure",
        "members": {
          "OperatingSystem": {
            "shape": "S2q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "OperatingSystem": {
            "shape": "S2q"
          }
        }
      }
    },
    "GetDeployablePatchSnapshotForInstance": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId",
          "SnapshotId"
        ],
        "members": {
          "InstanceId": {
            "shape": "Sc"
          },
          "SnapshotId": {
            "shape": "S94"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstanceId": {
            "shape": "Sc"
          },
          "SnapshotId": {
            "shape": "S94"
          },
          "SnapshotDownloadUrl": {},
          "Product": {}
        }
      }
    },
    "GetDocument": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S22"
          },
          "DocumentVersion": {
            "shape": "Sp"
          },
          "DocumentFormat": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S22"
          },
          "DocumentVersion": {
            "shape": "Sp"
          },
          "Content": {
            "shape": "S1t"
          },
          "DocumentType": {
            "shape": "S1u"
          },
          "DocumentFormat": {
            "shape": "S1v"
          }
        }
      }
    },
    "GetInventory": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Sdi"
          },
          "Aggregators": {
            "shape": "Sdo"
          },
          "ResultAttributes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TypeName"
              ],
              "members": {
                "TypeName": {
                  "shape": "S3v"
                }
              }
            },
            "max": 1,
            "min": 1
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Entities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Data": {
                  "type": "map",
                  "key": {},
                  "value": {
                    "type": "structure",
                    "required": [
                      "TypeName",
                      "SchemaVersion",
                      "Content"
                    ],
                    "members": {
                      "TypeName": {
                        "shape": "S3v"
                      },
                      "SchemaVersion": {
                        "shape": "S45"
                      },
                      "CaptureTime": {
                        "shape": "Se3"
                      },
                      "ContentHash": {
                        "shape": "Se4"
                      },
                      "Content": {
                        "shape": "Se5"
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetInventorySchema": {
      "input": {
        "type": "structure",
        "members": {
          "TypeName": {
            "type": "string",
            "max": 100,
            "min": 0
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer",
            "max": 200,
            "min": 50
          },
          "Aggregator": {
            "type": "boolean"
          },
          "SubType": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Schemas": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TypeName",
                "Attributes"
              ],
              "members": {
                "TypeName": {
                  "shape": "S3v"
                },
                "Version": {
                  "shape": "S45"
                },
                "Attributes": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Name",
                      "DataType"
                    ],
                    "members": {
                      "Name": {},
                      "DataType": {
                        "type": "string",
                        "enum": [
                          "string",
                          "number"
                        ]
                      }
                    }
                  },
                  "max": 50,
                  "min": 1
                },
                "DisplayName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMaintenanceWindow": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "Name": {
            "shape": "S2g"
          },
          "Description": {
            "shape": "S2h"
          },
          "Schedule": {
            "shape": "S2i"
          },
          "Duration": {
            "shape": "S2j"
          },
          "Cutoff": {
            "shape": "S2k"
          },
          "AllowUnassociatedTargets": {
            "type": "boolean"
          },
          "Enabled": {
            "type": "boolean"
          },
          "CreatedDate": {
            "type": "timestamp"
          },
          "ModifiedDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetMaintenanceWindowExecution": {
      "input": {
        "type": "structure",
        "required": [
          "WindowExecutionId"
        ],
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          },
          "TaskIds": {
            "type": "list",
            "member": {
              "shape": "Sa1"
            }
          },
          "Status": {
            "shape": "Saf"
          },
          "StatusDetails": {
            "shape": "Sag"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetMaintenanceWindowExecutionTask": {
      "input": {
        "type": "structure",
        "required": [
          "WindowExecutionId",
          "TaskId"
        ],
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          },
          "TaskId": {
            "shape": "Sa1"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          },
          "TaskExecutionId": {
            "shape": "Sa1"
          },
          "TaskArn": {
            "shape": "Sam"
          },
          "ServiceRole": {},
          "Type": {
            "shape": "Sad"
          },
          "TaskParameters": {
            "type": "list",
            "member": {
              "shape": "Sb0"
            },
            "sensitive": true
          },
          "Priority": {
            "shape": "Sb5"
          },
          "MaxConcurrency": {
            "shape": "S6l"
          },
          "MaxErrors": {
            "shape": "S6m"
          },
          "Status": {
            "shape": "Saf"
          },
          "StatusDetails": {
            "shape": "Sag"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetMaintenanceWindowExecutionTaskInvocation": {
      "input": {
        "type": "structure",
        "required": [
          "WindowExecutionId",
          "TaskId",
          "InvocationId"
        ],
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          },
          "TaskId": {
            "shape": "Sa1"
          },
          "InvocationId": {
            "shape": "Sab"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowExecutionId": {
            "shape": "Sa0"
          },
          "TaskExecutionId": {
            "shape": "Sa1"
          },
          "InvocationId": {
            "shape": "Sab"
          },
          "ExecutionId": {},
          "TaskType": {
            "shape": "Sad"
          },
          "Parameters": {
            "shape": "Sae"
          },
          "Status": {
            "shape": "Saf"
          },
          "StatusDetails": {
            "shape": "Sag"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "OwnerInformation": {
            "shape": "S95"
          },
          "WindowTargetId": {
            "shape": "Sah"
          }
        }
      }
    },
    "GetMaintenanceWindowTask": {
      "input": {
        "type": "structure",
        "required": [
          "WindowId",
          "WindowTaskId"
        ],
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "WindowTaskId": {
            "shape": "S4t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WindowId": {
            "shape": "S2o"
          },
          "WindowTaskId": {
            "shape": "S4t"
          },
          "Targets": {
            "shape": "Su"
          },
          "TaskArn": {
            "shape": "Sam"
          },
          "ServiceRoleArn": {},
          "TaskType": {
            "shape": "Sad"
          },
          "TaskParameters": {
            "shape": "Sb0"
          },
          "TaskInvocationParameters": {
            "shape": "Sey"
          },
          "Priority": {
            "shape": "Sb5"
          },
          "MaxConcurrency": {
            "shape": "S6l"
          },
          "MaxErrors": {
            "shape": "S6m"
          },
          "LoggingInfo": {
            "shape": "Sb6"
          },
          "Name": {
            "shape": "S2g"
          },
          "Description": {
            "shape": "S2h"
          }
        }
      }
    },
    "GetParameter": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S4a"
          },
          "WithDecryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Parameter": {
            "shape": "Sfg"
          }
        }
      }
    },
    "GetParameterHistory": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S4a"
          },
          "WithDecryption": {
            "type": "boolean"
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Parameters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S4a"
                },
                "Type": {
                  "shape": "Sbs"
                },
                "KeyId": {
                  "shape": "Sbt"
                },
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LastModifiedUser": {},
                "Description": {
                  "shape": "Sbu"
                },
                "Value": {
                  "shape": "Sfh"
                },
                "AllowedPattern": {
                  "shape": "Sbv"
                },
                "Version": {
                  "type": "long"
                },
                "Labels": {
                  "shape": "Sfn"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetParameters": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "shape": "S4d"
          },
          "WithDecryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Parameters": {
            "shape": "Sfr"
          },
          "InvalidParameters": {
            "shape": "S4d"
          }
        }
      }
    },
    "GetParametersByPath": {
      "input": {
        "type": "structure",
        "required": [
          "Path"
        ],
        "members": {
          "Path": {
            "shape": "S4a"
          },
          "Recursive": {
            "type": "boolean"
          },
          "ParameterFilters": {
            "shape": "Sbj"
          },
          "WithDecryption": {
            "type": "boolean"
          },
          "MaxResults": {
            "type": "integer",
            "max": 10,
            "min": 1
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Parameters": {
            "shape": "Sfr"
          },
          "NextToken": {}
        }
      }
    },
    "GetPatchBaseline": {
      "input": {
        "type": "structure",
        "required": [
          "BaselineId"
        ],
        "members": {
          "BaselineId": {
            "shape": "S3e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "Name": {
            "shape": "S2r"
          },
          "OperatingSystem": {
            "shape": "S2q"
          },
          "GlobalFilters": {
            "shape": "S2s"
          },
          "ApprovalRules": {
            "shape": "S2y"
          },
          "ApprovedPatches": {
            "shape": "S34"
          },
          "ApprovedPatchesComplianceLevel": {
            "shape": "S31"
          },
          "ApprovedPatchesEnableNonSecurity": {
            "type": "boolean"
          },
          "RejectedPatches": {
            "shape": "S34"
          },
          "PatchGroups": {
            "type": "list",
            "member": {
              "shape": "S4n"
            }
          },
          "CreatedDate": {
            "type": "timestamp"
          },
          "ModifiedDate": {
            "type": "timestamp"
          },
          "Description": {
            "shape": "S36"
          },
          "Sources": {
            "shape": "S37"
          }
        }
      }
    },
    "GetPatchBaselineForPatchGroup": {
      "input": {
        "type": "structure",
        "required": [
          "PatchGroup"
        ],
        "members": {
          "PatchGroup": {
            "shape": "S4n"
          },
          "OperatingSystem": {
            "shape": "S2q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "PatchGroup": {
            "shape": "S4n"
          },
          "OperatingSystem": {
            "shape": "S2q"
          }
        }
      }
    },
    "LabelParameterVersion": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Labels"
        ],
        "members": {
          "Name": {
            "shape": "S4a"
          },
          "ParameterVersion": {
            "type": "long"
          },
          "Labels": {
            "shape": "Sfn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InvalidLabels": {
            "shape": "Sfn"
          }
        }
      }
    },
    "ListAssociationVersions": {
      "input": {
        "type": "structure",
        "required": [
          "AssociationId"
        ],
        "members": {
          "AssociationId": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociationVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AssociationId": {
                  "shape": "S1i"
                },
                "AssociationVersion": {
                  "shape": "S18"
                },
                "CreatedDate": {
                  "type": "timestamp"
                },
                "Name": {
                  "shape": "So"
                },
                "DocumentVersion": {
                  "shape": "Sp"
                },
                "Parameters": {
                  "shape": "Sq"
                },
                "Targets": {
                  "shape": "Su"
                },
                "ScheduleExpression": {
                  "shape": "Sz"
                },
                "OutputLocation": {
                  "shape": "S10"
                },
                "AssociationName": {
                  "shape": "S15"
                }
              }
            },
            "min": 1
          },
          "NextToken": {}
        }
      }
    },
    "ListAssociations": {
      "input": {
        "type": "structure",
        "members": {
          "AssociationFilterList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "key",
                "value"
              ],
              "members": {
                "key": {
                  "type": "string",
                  "enum": [
                    "InstanceId",
                    "Name",
                    "AssociationId",
                    "AssociationStatusName",
                    "LastExecutedBefore",
                    "LastExecutedAfter",
                    "AssociationName"
                  ]
                },
                "value": {
                  "type": "string",
                  "min": 1
                }
              }
            },
            "min": 1
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Associations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "So"
                },
                "InstanceId": {
                  "shape": "Sc"
                },
                "AssociationId": {
                  "shape": "S1i"
                },
                "AssociationVersion": {
                  "shape": "S18"
                },
                "DocumentVersion": {
                  "shape": "Sp"
                },
                "Targets": {
                  "shape": "Su"
                },
                "LastExecutionDate": {
                  "type": "timestamp"
                },
                "Overview": {
                  "shape": "S1e"
                },
                "ScheduleExpression": {
                  "shape": "Sz"
                },
                "AssociationName": {
                  "shape": "S15"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCommandInvocations": {
      "input": {
        "type": "structure",
        "members": {
          "CommandId": {
            "shape": "Sa"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "MaxResults": {
            "shape": "Sgf"
          },
          "NextToken": {},
          "Filters": {
            "shape": "Sgg"
          },
          "Details": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CommandInvocations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CommandId": {
                  "shape": "Sa"
                },
                "InstanceId": {
                  "shape": "Sc"
                },
                "InstanceName": {
                  "type": "string",
                  "max": 255
                },
                "Comment": {
                  "shape": "Scw"
                },
                "DocumentName": {
                  "shape": "So"
                },
                "DocumentVersion": {
                  "shape": "Sp"
                },
                "RequestedDateTime": {
                  "type": "timestamp"
                },
                "Status": {
                  "shape": "Scz"
                },
                "StatusDetails": {
                  "shape": "Sd0"
                },
                "TraceOutput": {
                  "type": "string",
                  "max": 2500
                },
                "StandardOutputUrl": {},
                "StandardErrorUrl": {},
                "CommandPlugins": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {
                        "shape": "Scu"
                      },
                      "Status": {
                        "type": "string",
                        "enum": [
                          "Pending",
                          "InProgress",
                          "Success",
                          "TimedOut",
                          "Cancelled",
                          "Failed"
                        ]
                      },
                      "StatusDetails": {
                        "shape": "Sd0"
                      },
                      "ResponseCode": {
                        "type": "integer"
                      },
                      "ResponseStartDateTime": {
                        "type": "timestamp"
                      },
                      "ResponseFinishDateTime": {
                        "type": "timestamp"
                      },
                      "Output": {
                        "type": "string",
                        "max": 2500
                      },
                      "StandardOutputUrl": {},
                      "StandardErrorUrl": {},
                      "OutputS3Region": {
                        "shape": "S12"
                      },
                      "OutputS3BucketName": {
                        "shape": "S13"
                      },
                      "OutputS3KeyPrefix": {
                        "shape": "S14"
                      }
                    }
                  }
                },
                "ServiceRole": {},
                "NotificationConfig": {
                  "shape": "Sf0"
                },
                "CloudWatchOutputConfig": {
                  "shape": "Sd3"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCommands": {
      "input": {
        "type": "structure",
        "members": {
          "CommandId": {
            "shape": "Sa"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "MaxResults": {
            "shape": "Sgf"
          },
          "NextToken": {},
          "Filters": {
            "shape": "Sgg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Commands": {
            "type": "list",
            "member": {
              "shape": "Sgw"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListComplianceItems": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Sh3"
          },
          "ResourceIds": {
            "type": "list",
            "member": {
              "shape": "Sha"
            },
            "min": 1
          },
          "ResourceTypes": {
            "type": "list",
            "member": {
              "shape": "Shc"
            },
            "min": 1
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ComplianceItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ComplianceType": {
                  "shape": "Shg"
                },
                "ResourceType": {
                  "shape": "Shc"
                },
                "ResourceId": {
                  "shape": "Sha"
                },
                "Id": {
                  "shape": "Shh"
                },
                "Title": {
                  "shape": "Shi"
                },
                "Status": {
                  "shape": "Shj"
                },
                "Severity": {
                  "shape": "Shk"
                },
                "ExecutionSummary": {
                  "shape": "Shl"
                },
                "Details": {
                  "shape": "Sho"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListComplianceSummaries": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Sh3"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ComplianceSummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ComplianceType": {
                  "shape": "Shg"
                },
                "CompliantSummary": {
                  "shape": "Sht"
                },
                "NonCompliantSummary": {
                  "shape": "Shw"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDocumentVersions": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "So"
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DocumentVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "So"
                },
                "DocumentVersion": {
                  "shape": "Sp"
                },
                "CreatedDate": {
                  "type": "timestamp"
                },
                "IsDefaultVersion": {
                  "type": "boolean"
                },
                "DocumentFormat": {
                  "shape": "S1v"
                }
              }
            },
            "min": 1
          },
          "NextToken": {}
        }
      }
    },
    "ListDocuments": {
      "input": {
        "type": "structure",
        "members": {
          "DocumentFilterList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "key",
                "value"
              ],
              "members": {
                "key": {
                  "type": "string",
                  "enum": [
                    "Name",
                    "Owner",
                    "PlatformTypes",
                    "DocumentType"
                  ]
                },
                "value": {
                  "type": "string",
                  "min": 1
                }
              }
            },
            "min": 1
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Key": {
                  "type": "string",
                  "max": 128,
                  "min": 1
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "string",
                    "max": 256,
                    "min": 1
                  }
                }
              }
            },
            "max": 6,
            "min": 0
          },
          "MaxResults": {
            "shape": "S51"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DocumentIdentifiers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S22"
                },
                "Owner": {},
                "PlatformTypes": {
                  "shape": "S2c"
                },
                "DocumentVersion": {
                  "shape": "Sp"
                },
                "DocumentType": {
                  "shape": "S1u"
                },
                "SchemaVersion": {
                  "shape": "S2e"
                },
                "DocumentFormat": {
                  "shape": "S1v"
                },
                "TargetType": {
                  "shape": "S1w"
                },
                "Tags": {
                  "shape": "S4"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListInventoryEntries": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId",
          "TypeName"
        ],
        "members": {
          "InstanceId": {
            "shape": "Sc"
          },
          "TypeName": {
            "shape": "S3v"
          },
          "Filters": {
            "shape": "Sdi"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TypeName": {
            "shape": "S3v"
          },
          "InstanceId": {
            "shape": "Sc"
          },
          "SchemaVersion": {
            "shape": "S45"
          },
          "CaptureTime": {
            "shape": "Se3"
          },
          "Entries": {
            "shape": "Se5"
          },
          "NextToken": {}
        }
      }
    },
    "ListResourceComplianceSummaries": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "Sh3"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceComplianceSummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ComplianceType": {
                  "shape": "Shg"
                },
                "ResourceType": {
                  "shape": "Shc"
                },
                "ResourceId": {
                  "shape": "Sha"
                },
                "Status": {
                  "shape": "Shj"
                },
                "OverallSeverity": {
                  "shape": "Shk"
                },
                "ExecutionSummary": {
                  "shape": "Shl"
                },
                "CompliantSummary": {
                  "shape": "Sht"
                },
                "NonCompliantSummary": {
                  "shape": "Shw"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListResourceDataSync": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceDataSyncItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SyncName": {
                  "shape": "S3g"
                },
                "S3Destination": {
                  "shape": "S3h"
                },
                "LastSyncTime": {
                  "type": "timestamp"
                },
                "LastSuccessfulSyncTime": {
                  "type": "timestamp"
                },
                "LastStatus": {
                  "type": "string",
                  "enum": [
                    "Successful",
                    "Failed",
                    "InProgress"
                  ]
                },
                "SyncCreatedTime": {
                  "type": "timestamp"
                },
                "LastSyncStatusMessage": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceType",
          "ResourceId"
        ],
        "members": {
          "ResourceType": {
            "shape": "S2"
          },
          "ResourceId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagList": {
            "shape": "S4"
          }
        }
      }
    },
    "ModifyDocumentPermission": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "PermissionType"
        ],
        "members": {
          "Name": {
            "shape": "So"
          },
          "PermissionType": {
            "shape": "S7r"
          },
          "AccountIdsToAdd": {
            "shape": "S7t"
          },
          "AccountIdsToRemove": {
            "shape": "S7t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutComplianceItems": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "ResourceType",
          "ComplianceType",
          "ExecutionSummary",
          "Items"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sha"
          },
          "ResourceType": {
            "shape": "Shc"
          },
          "ComplianceType": {
            "shape": "Shg"
          },
          "ExecutionSummary": {
            "shape": "Shl"
          },
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Severity",
                "Status"
              ],
              "members": {
                "Id": {
                  "shape": "Shh"
                },
                "Title": {
                  "shape": "Shi"
                },
                "Severity": {
                  "shape": "Shk"
                },
                "Status": {
                  "shape": "Shj"
                },
                "Details": {
                  "shape": "Sho"
                }
              }
            },
            "max": 10000,
            "min": 0
          },
          "ItemContentHash": {
            "type": "string",
            "max": 256
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutInventory": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId",
          "Items"
        ],
        "members": {
          "InstanceId": {
            "shape": "Sc"
          },
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TypeName",
                "SchemaVersion",
                "CaptureTime"
              ],
              "members": {
                "TypeName": {
                  "shape": "S3v"
                },
                "SchemaVersion": {
                  "shape": "S45"
                },
                "CaptureTime": {
                  "shape": "Se3"
                },
                "ContentHash": {
                  "shape": "Se4"
                },
                "Content": {
                  "shape": "Se5"
                },
                "Context": {
                  "type": "map",
                  "key": {
                    "shape": "Se7"
                  },
                  "value": {
                    "shape": "Se8"
                  },
                  "max": 50,
                  "min": 0
                }
              }
            },
            "max": 30,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Message": {}
        }
      }
    },
    "PutParameter": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Value",
          "Type"
        ],
        "members": {
          "Name": {
            "shape": "S4a"
          },
          "Description": {
            "shape": "Sbu"
          },
          "Value": {
            "shape": "Sfh"
          },
          "Type": {
            "shape": "Sbs"
          },
          "KeyId": {
            "shape": "Sbt"
          },
          "Overwrite": {
            "type": "boolean"
          },
          "AllowedPattern": {
            "shape": "Sbv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Version": {
            "type": "long"
          }
        }
      }
    },
    "RegisterDefaultPatchBaseline": {
      "input": {
        "type": "structure",
        "required": [
          "BaselineId"
        ],
        "members": {
          "BaselineId": {
            "shape": "S3e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          }
        }
      }
    },
    "RegisterPatchBaselineForPatchGroup": {
      "input": {
        "type": "structure",
        "required": [
          "BaselineId",
          "PatchGroup"
        ],
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "PatchGroup": {
            "shape": "S4n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaselineId": {
            "shape": "S3e"
          },
          "PatchGroup": {
            "shape": "S4n"
          }
        }
      }
    },
    "RegisterTargetWithMaintenanceWindow": {
      "input": {
        "type": "structure",
        "required": [
[...]
