{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-07-20",
    "endpointPrefix": "sso",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SSO Admin",
    "serviceFullName": "AWS Single Sign-On Admin",
    "serviceId": "SSO Admin",
    "signatureVersion": "v4",
    "signingName": "sso",
    "targetPrefix": "SWBExternalService",
    "uid": "sso-admin-2020-07-20"
  },
  "operations": {
    "AttachManagedPolicyToPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn",
          "ManagedPolicyArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {},
          "ManagedPolicyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateAccountAssignment": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "TargetId",
          "TargetType",
          "PermissionSetArn",
          "PrincipalType",
          "PrincipalId"
        ],
        "members": {
          "InstanceArn": {},
          "TargetId": {},
          "TargetType": {},
          "PermissionSetArn": {},
          "PrincipalType": {},
          "PrincipalId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAssignmentCreationStatus": {
            "shape": "Sc"
          }
        }
      }
    },
    "CreatePermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InstanceArn"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "InstanceArn": {},
          "SessionDuration": {},
          "RelayState": {},
          "Tags": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PermissionSet": {
            "shape": "Sr"
          }
        }
      }
    },
    "DeleteAccountAssignment": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "TargetId",
          "TargetType",
          "PermissionSetArn",
          "PrincipalType",
          "PrincipalId"
        ],
        "members": {
          "InstanceArn": {},
          "TargetId": {},
          "TargetType": {},
          "PermissionSetArn": {},
          "PrincipalType": {},
          "PrincipalId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAssignmentDeletionStatus": {
            "shape": "Sc"
          }
        }
      }
    },
    "DeleteInlinePolicyFromPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAccountAssignmentCreationStatus": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "AccountAssignmentCreationRequestId"
        ],
        "members": {
          "InstanceArn": {},
          "AccountAssignmentCreationRequestId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAssignmentCreationStatus": {
            "shape": "Sc"
          }
        }
      }
    },
    "DescribeAccountAssignmentDeletionStatus": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "AccountAssignmentDeletionRequestId"
        ],
        "members": {
          "InstanceArn": {},
          "AccountAssignmentDeletionRequestId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAssignmentDeletionStatus": {
            "shape": "Sc"
          }
        }
      }
    },
    "DescribePermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PermissionSet": {
            "shape": "Sr"
          }
        }
      }
    },
    "DescribePermissionSetProvisioningStatus": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "ProvisionPermissionSetRequestId"
        ],
        "members": {
          "InstanceArn": {},
          "ProvisionPermissionSetRequestId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PermissionSetProvisioningStatus": {
            "shape": "S16"
          }
        }
      }
    },
    "DetachManagedPolicyFromPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn",
          "ManagedPolicyArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {},
          "ManagedPolicyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetInlinePolicyForPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InlinePolicy": {
            "shape": "S1c"
          }
        }
      }
    },
    "ListAccountAssignmentCreationStatus": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn"
        ],
        "members": {
          "InstanceArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filter": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAssignmentsCreationStatus": {
            "shape": "S1i"
          },
          "NextToken": {}
        }
      }
    },
    "ListAccountAssignmentDeletionStatus": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn"
        ],
        "members": {
          "InstanceArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filter": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAssignmentsDeletionStatus": {
            "shape": "S1i"
          },
          "NextToken": {}
        }
      }
    },
    "ListAccountAssignments": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "AccountId",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "AccountId": {},
          "PermissionSetArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAssignments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "PermissionSetArn": {},
                "PrincipalType": {},
                "PrincipalId": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAccountsForProvisionedPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {},
          "ProvisioningStatus": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListInstances": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InstanceArn": {},
                "IdentityStoreId": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListManagedPoliciesInPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AttachedManagedPolicies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Arn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPermissionSetProvisioningStatus": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn"
        ],
        "members": {
          "InstanceArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filter": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PermissionSetsProvisioningStatus": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Status": {},
                "RequestId": {},
                "CreatedDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPermissionSets": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn"
        ],
        "members": {
          "InstanceArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PermissionSets": {
            "shape": "S2a"
          },
          "NextToken": {}
        }
      }
    },
    "ListPermissionSetsProvisionedToAccount": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "AccountId"
        ],
        "members": {
          "InstanceArn": {},
          "AccountId": {},
          "ProvisioningStatus": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PermissionSets": {
            "shape": "S2a"
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "ResourceArn"
        ],
        "members": {
          "InstanceArn": {},
          "ResourceArn": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sm"
          },
          "NextToken": {}
        }
      }
    },
    "ProvisionPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn",
          "TargetType"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {},
          "TargetId": {},
          "TargetType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PermissionSetProvisioningStatus": {
            "shape": "S16"
          }
        }
      }
    },
    "PutInlinePolicyToPermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn",
          "InlinePolicy"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {},
          "InlinePolicy": {
            "shape": "S1c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "InstanceArn": {},
          "ResourceArn": {},
          "Tags": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "InstanceArn": {},
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdatePermissionSet": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceArn",
          "PermissionSetArn"
        ],
        "members": {
          "InstanceArn": {},
          "PermissionSetArn": {},
          "Description": {},
          "SessionDuration": {},
          "RelayState": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "Sc": {
      "type": "structure",
      "members": {
        "Status": {},
        "RequestId": {},
        "FailureReason": {},
        "TargetId": {},
        "TargetType": {},
        "PermissionSetArn": {},
        "PrincipalType": {},
        "PrincipalId": {},
        "CreatedDate": {
          "type": "timestamp"
        }
      }
    },
    "Sm": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Sr": {
      "type": "structure",
      "members": {
        "Name": {},
        "PermissionSetArn": {},
        "Description": {},
        "CreatedDate": {
          "type": "timestamp"
        },
        "SessionDuration": {},
        "RelayState": {}
      }
    },
    "S16": {
      "type": "structure",
      "members": {
        "Status": {},
        "RequestId": {},
        "AccountId": {},
        "PermissionSetArn": {},
        "FailureReason": {},
        "CreatedDate": {
          "type": "timestamp"
        }
      }
    },
    "S1c": {
      "type": "string",
      "sensitive": true
    },
    "S1g": {
      "type": "structure",
      "members": {
        "Status": {}
      }
    },
    "S1i": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Status": {},
          "RequestId": {},
          "CreatedDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "S2a": {
      "type": "list",
      "member": {}
    }
  }
}