{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-23",
    "endpointPrefix": "states",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "AWS SFN",
    "serviceFullName": "AWS Step Functions",
    "serviceId": "SFN",
    "signatureVersion": "v4",
    "targetPrefix": "AWSStepFunctions",
    "uid": "states-2016-11-23"
  },
  "operations": {
    "CreateActivity": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "activityArn",
          "creationDate"
        ],
        "members": {
          "activityArn": {
            "shape": "S4"
          },
          "creationDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "CreateStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "definition",
          "roleArn"
        ],
        "members": {
          "name": {
            "shape": "S2"
          },
          "definition": {
            "shape": "S7"
          },
          "roleArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachineArn",
          "creationDate"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          },
          "creationDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "DeleteActivity": {
      "input": {
        "type": "structure",
        "required": [
          "activityArn"
        ],
        "members": {
          "activityArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeActivity": {
      "input": {
        "type": "structure",
        "required": [
          "activityArn"
        ],
        "members": {
          "activityArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "activityArn",
          "name",
          "creationDate"
        ],
        "members": {
          "activityArn": {
            "shape": "S4"
          },
          "name": {
            "shape": "S2"
          },
          "creationDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeExecution": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "executionArn",
          "stateMachineArn",
          "status",
          "startDate",
          "input"
        ],
        "members": {
          "executionArn": {
            "shape": "S4"
          },
          "stateMachineArn": {
            "shape": "S4"
          },
          "name": {
            "shape": "S2"
          },
          "status": {
            "shape": "Sh"
          },
          "startDate": {
            "type": "timestamp"
          },
          "stopDate": {
            "type": "timestamp"
          },
          "input": {
            "shape": "Si"
          },
          "output": {
            "shape": "Si"
          }
        }
      }
    },
    "DescribeStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachineArn",
          "name",
          "definition",
          "roleArn",
          "creationDate"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          },
          "name": {
            "shape": "S2"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DELETING"
            ]
          },
          "definition": {
            "shape": "S7"
          },
          "roleArn": {
            "shape": "S4"
          },
          "creationDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeStateMachineForExecution": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachineArn",
          "name",
          "definition",
          "roleArn",
          "updateDate"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          },
          "name": {
            "shape": "S2"
          },
          "definition": {
            "shape": "S7"
          },
          "roleArn": {
            "shape": "S4"
          },
          "updateDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetActivityTask": {
      "input": {
        "type": "structure",
        "required": [
          "activityArn"
        ],
        "members": {
          "activityArn": {
            "shape": "S4"
          },
          "workerName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "taskToken": {
            "shape": "Sq"
          },
          "input": {
            "shape": "Si"
          }
        }
      }
    },
    "GetExecutionHistory": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {
            "shape": "S4"
          },
          "maxResults": {
            "shape": "Ss"
          },
          "reverseOrder": {
            "type": "boolean"
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "events"
        ],
        "members": {
          "events": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "timestamp",
                "type",
                "id"
              ],
              "members": {
                "timestamp": {
                  "type": "timestamp"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "ActivityFailed",
                    "ActivityScheduleFailed",
                    "ActivityScheduled",
                    "ActivityStarted",
                    "ActivitySucceeded",
                    "ActivityTimedOut",
                    "ChoiceStateEntered",
                    "ChoiceStateExited",
                    "ExecutionFailed",
                    "ExecutionStarted",
                    "ExecutionSucceeded",
                    "ExecutionAborted",
                    "ExecutionTimedOut",
                    "FailStateEntered",
                    "LambdaFunctionFailed",
                    "LambdaFunctionScheduleFailed",
                    "LambdaFunctionScheduled",
                    "LambdaFunctionStartFailed",
                    "LambdaFunctionStarted",
                    "LambdaFunctionSucceeded",
                    "LambdaFunctionTimedOut",
                    "SucceedStateEntered",
                    "SucceedStateExited",
                    "TaskStateAborted",
                    "TaskStateEntered",
                    "TaskStateExited",
                    "PassStateEntered",
                    "PassStateExited",
                    "ParallelStateAborted",
                    "ParallelStateEntered",
                    "ParallelStateExited",
                    "ParallelStateFailed",
                    "ParallelStateStarted",
                    "ParallelStateSucceeded",
                    "WaitStateAborted",
                    "WaitStateEntered",
                    "WaitStateExited"
                  ]
                },
                "id": {
                  "type": "long"
                },
                "previousEventId": {
                  "type": "long"
                },
                "activityFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "activityScheduleFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "activityScheduledEventDetails": {
                  "type": "structure",
                  "required": [
                    "resource"
                  ],
                  "members": {
                    "resource": {
                      "shape": "S4"
                    },
                    "input": {
                      "shape": "Si"
                    },
                    "timeoutInSeconds": {
                      "type": "long"
                    },
                    "heartbeatInSeconds": {
                      "type": "long"
                    }
                  }
                },
                "activityStartedEventDetails": {
                  "type": "structure",
                  "members": {
                    "workerName": {
                      "type": "string",
                      "max": 256
                    }
                  }
                },
                "activitySucceededEventDetails": {
                  "type": "structure",
                  "members": {
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "activityTimedOutEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "executionFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "executionStartedEventDetails": {
                  "type": "structure",
                  "members": {
                    "input": {
                      "shape": "Si"
                    },
                    "roleArn": {
                      "shape": "S4"
                    }
                  }
                },
                "executionSucceededEventDetails": {
                  "type": "structure",
                  "members": {
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "executionAbortedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "executionTimedOutEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionScheduleFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionScheduledEventDetails": {
                  "type": "structure",
                  "required": [
                    "resource"
                  ],
                  "members": {
                    "resource": {
                      "shape": "S4"
                    },
                    "input": {
                      "shape": "Si"
                    },
                    "timeoutInSeconds": {
                      "type": "long"
                    }
                  }
                },
                "lambdaFunctionStartFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionSucceededEventDetails": {
                  "type": "structure",
                  "members": {
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "lambdaFunctionTimedOutEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "stateEnteredEventDetails": {
                  "type": "structure",
                  "required": [
                    "name"
                  ],
                  "members": {
                    "name": {
                      "shape": "S2"
                    },
                    "input": {
                      "shape": "Si"
                    }
                  }
                },
                "stateExitedEventDetails": {
                  "type": "structure",
                  "required": [
                    "name"
                  ],
                  "members": {
                    "name": {
                      "shape": "S2"
                    },
                    "output": {
                      "shape": "Si"
                    }
                  }
                }
              }
            }
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      }
    },
    "ListActivities": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "shape": "Ss"
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "activities"
        ],
        "members": {
          "activities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "activityArn",
                "name",
                "creationDate"
              ],
              "members": {
                "activityArn": {
                  "shape": "S4"
                },
                "name": {
                  "shape": "S2"
                },
                "creationDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      }
    },
    "ListExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          },
          "statusFilter": {
            "shape": "Sh"
          },
          "maxResults": {
            "shape": "Ss"
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "executions"
        ],
        "members": {
          "executions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "executionArn",
                "stateMachineArn",
                "name",
                "status",
                "startDate"
              ],
              "members": {
                "executionArn": {
                  "shape": "S4"
                },
                "stateMachineArn": {
                  "shape": "S4"
                },
                "name": {
                  "shape": "S2"
                },
                "status": {
                  "shape": "Sh"
                },
                "startDate": {
                  "type": "timestamp"
                },
                "stopDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      }
    },
    "ListStateMachines": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "shape": "Ss"
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachines"
        ],
        "members": {
          "stateMachines": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "stateMachineArn",
                "name",
                "creationDate"
              ],
              "members": {
                "stateMachineArn": {
                  "shape": "S4"
                },
                "name": {
                  "shape": "S2"
                },
                "creationDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Su"
          }
        }
      }
    },
    "SendTaskFailure": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {
            "shape": "Sq"
          },
          "error": {
            "shape": "S11"
          },
          "cause": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SendTaskHeartbeat": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SendTaskSuccess": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken",
          "output"
        ],
        "members": {
          "taskToken": {
            "shape": "Sq"
          },
          "output": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartExecution": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          },
          "name": {
            "shape": "S2"
          },
          "input": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "executionArn",
          "startDate"
        ],
        "members": {
          "executionArn": {
            "shape": "S4"
          },
          "startDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "StopExecution": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {
            "shape": "S4"
          },
          "error": {
            "shape": "S11"
          },
          "cause": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stopDate"
        ],
        "members": {
          "stopDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "UpdateStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {
            "shape": "S4"
          },
          "definition": {
            "shape": "S7"
          },
          "roleArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "updateDate"
        ],
        "members": {
          "updateDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 80,
      "min": 1
    },
    "S4": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S7": {
      "type": "string",
      "max": 1048576,
      "min": 1
    },
    "Sh": {
      "type": "string",
      "enum": [
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "TIMED_OUT",
        "ABORTED"
      ]
    },
    "Si": {
      "type": "string",
      "max": 32768
    },
    "Sq": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "Ss": {
      "type": "integer",
      "max": 1000,
      "min": 0
    },
    "Su": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S11": {
      "type": "string",
      "max": 256,
      "min": 0
    },
    "S12": {
      "type": "string",
      "max": 32768,
      "min": 0
    }
  }
}