{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-23",
    "endpointPrefix": "states",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "AWS SFN",
    "serviceFullName": "AWS Step Functions",
    "serviceId": "SFN",
    "signatureVersion": "v4",
    "targetPrefix": "AWSStepFunctions",
    "uid": "states-2016-11-23"
  },
  "operations": {
    "CreateActivity": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "activityArn",
          "creationDate"
        ],
        "members": {
          "activityArn": {},
          "creationDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "CreateStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "definition",
          "roleArn"
        ],
        "members": {
          "name": {},
          "definition": {
            "shape": "S7"
          },
          "roleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachineArn",
          "creationDate"
        ],
        "members": {
          "stateMachineArn": {},
          "creationDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "DeleteActivity": {
      "input": {
        "type": "structure",
        "required": [
          "activityArn"
        ],
        "members": {
          "activityArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeActivity": {
      "input": {
        "type": "structure",
        "required": [
          "activityArn"
        ],
        "members": {
          "activityArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "activityArn",
          "name",
          "creationDate"
        ],
        "members": {
          "activityArn": {},
          "name": {},
          "creationDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeExecution": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "executionArn",
          "stateMachineArn",
          "status",
          "startDate",
          "input"
        ],
        "members": {
          "executionArn": {},
          "stateMachineArn": {},
          "name": {},
          "status": {},
          "startDate": {
            "type": "timestamp"
          },
          "stopDate": {
            "type": "timestamp"
          },
          "input": {
            "shape": "Si"
          },
          "output": {
            "shape": "Si"
          }
        }
      }
    },
    "DescribeStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachineArn",
          "name",
          "definition",
          "roleArn",
          "creationDate"
        ],
        "members": {
          "stateMachineArn": {},
          "name": {},
          "status": {},
          "definition": {
            "shape": "S7"
          },
          "roleArn": {},
          "creationDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeStateMachineForExecution": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachineArn",
          "name",
          "definition",
          "roleArn",
          "updateDate"
        ],
        "members": {
          "stateMachineArn": {},
          "name": {},
          "definition": {
            "shape": "S7"
          },
          "roleArn": {},
          "updateDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetActivityTask": {
      "input": {
        "type": "structure",
        "required": [
          "activityArn"
        ],
        "members": {
          "activityArn": {},
          "workerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "taskToken": {},
          "input": {
            "shape": "Si"
          }
        }
      }
    },
    "GetExecutionHistory": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {},
          "maxResults": {
            "type": "integer"
          },
          "reverseOrder": {
            "type": "boolean"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "events"
        ],
        "members": {
          "events": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "timestamp",
                "type",
                "id"
              ],
              "members": {
                "timestamp": {
                  "type": "timestamp"
                },
                "type": {},
                "id": {
                  "type": "long"
                },
                "previousEventId": {
                  "type": "long"
                },
                "activityFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "activityScheduleFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "activityScheduledEventDetails": {
                  "type": "structure",
                  "required": [
                    "resource"
                  ],
                  "members": {
                    "resource": {},
                    "input": {
                      "shape": "Si"
                    },
                    "timeoutInSeconds": {
                      "type": "long"
                    },
                    "heartbeatInSeconds": {
                      "type": "long"
                    }
                  }
                },
                "activityStartedEventDetails": {
                  "type": "structure",
                  "members": {
                    "workerName": {}
                  }
                },
                "activitySucceededEventDetails": {
                  "type": "structure",
                  "members": {
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "activityTimedOutEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "taskFailedEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {},
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "taskScheduledEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource",
                    "region",
                    "parameters"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {},
                    "region": {},
                    "parameters": {
                      "type": "string",
                      "sensitive": true
                    },
                    "timeoutInSeconds": {
                      "type": "long"
                    }
                  }
                },
                "taskStartFailedEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {},
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "taskStartedEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {}
                  }
                },
                "taskSubmitFailedEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {},
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "taskSubmittedEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {},
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "taskSucceededEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {},
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "taskTimedOutEventDetails": {
                  "type": "structure",
                  "required": [
                    "resourceType",
                    "resource"
                  ],
                  "members": {
                    "resourceType": {},
                    "resource": {},
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "executionFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "executionStartedEventDetails": {
                  "type": "structure",
                  "members": {
                    "input": {
                      "shape": "Si"
                    },
                    "roleArn": {}
                  }
                },
                "executionSucceededEventDetails": {
                  "type": "structure",
                  "members": {
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "executionAbortedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "executionTimedOutEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionScheduleFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionScheduledEventDetails": {
                  "type": "structure",
                  "required": [
                    "resource"
                  ],
                  "members": {
                    "resource": {},
                    "input": {
                      "shape": "Si"
                    },
                    "timeoutInSeconds": {
                      "type": "long"
                    }
                  }
                },
                "lambdaFunctionStartFailedEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "lambdaFunctionSucceededEventDetails": {
                  "type": "structure",
                  "members": {
                    "output": {
                      "shape": "Si"
                    }
                  }
                },
                "lambdaFunctionTimedOutEventDetails": {
                  "type": "structure",
                  "members": {
                    "error": {
                      "shape": "S11"
                    },
                    "cause": {
                      "shape": "S12"
                    }
                  }
                },
                "stateEnteredEventDetails": {
                  "type": "structure",
                  "required": [
                    "name"
                  ],
                  "members": {
                    "name": {},
                    "input": {
                      "shape": "Si"
                    }
                  }
                },
                "stateExitedEventDetails": {
                  "type": "structure",
                  "required": [
                    "name"
                  ],
                  "members": {
                    "name": {},
                    "output": {
                      "shape": "Si"
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListActivities": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "activities"
        ],
        "members": {
          "activities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "activityArn",
                "name",
                "creationDate"
              ],
              "members": {
                "activityArn": {},
                "name": {},
                "creationDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {},
          "statusFilter": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "executions"
        ],
        "members": {
          "executions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "executionArn",
                "stateMachineArn",
                "name",
                "status",
                "startDate"
              ],
              "members": {
                "executionArn": {},
                "stateMachineArn": {},
                "name": {},
                "status": {},
                "startDate": {
                  "type": "timestamp"
                },
                "stopDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListStateMachines": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stateMachines"
        ],
        "members": {
          "stateMachines": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "stateMachineArn",
                "name",
                "creationDate"
              ],
              "members": {
                "stateMachineArn": {},
                "name": {},
                "creationDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "SendTaskFailure": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {},
          "error": {
            "shape": "S11"
          },
          "cause": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SendTaskHeartbeat": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SendTaskSuccess": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken",
          "output"
        ],
        "members": {
          "taskToken": {},
          "output": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartExecution": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {},
          "name": {},
          "input": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "executionArn",
          "startDate"
        ],
        "members": {
          "executionArn": {},
          "startDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "StopExecution": {
      "input": {
        "type": "structure",
        "required": [
          "executionArn"
        ],
        "members": {
          "executionArn": {},
          "error": {
            "shape": "S11"
          },
          "cause": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "stopDate"
        ],
        "members": {
          "stopDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "UpdateStateMachine": {
      "input": {
        "type": "structure",
        "required": [
          "stateMachineArn"
        ],
        "members": {
          "stateMachineArn": {},
          "definition": {
            "shape": "S7"
          },
          "roleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "updateDate"
        ],
        "members": {
          "updateDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S7": {
      "type": "string",
      "sensitive": true
    },
    "Si": {
      "type": "string",
      "sensitive": true
    },
    "S11": {
      "type": "string",
      "sensitive": true
    },
    "S12": {
      "type": "string",
      "sensitive": true
    }
  }
}