{
  "metadata":{
    "apiVersion":"2013-06-30",
    "endpointPrefix":"storagegateway",
    "jsonVersion":"1.1",
    "serviceFullName":"AWS Storage Gateway",
    "signatureVersion":"v4",
    "targetPrefix":"StorageGateway_20130630",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS Storage Gateway Service</fullname>\n\n      <p>AWS Storage Gateway is the service that connects an on-premises software appliance with cloud-based storage to\n         provide seamless and secure integration between an organization's on-premises IT environment and AWS's storage\n         infrastructure. The service enables you to securely upload data to the AWS cloud for cost effective backup and\n         rapid disaster recovery.</p>\n\n      <p>Use the following links to get started using the <i>AWS Storage Gateway Service API Reference</i>:</p>\n      <ul>\n         <li>\n<a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayHTTPRequestsHeaders.html\">AWS Storage Gateway Required Request Headers</a>: Describes the required headers that you must send with\n            every POST request to AWS Storage Gateway.</li>\n         <li>\n<a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewaySigningRequests.html\">Signing Requests</a>: AWS Storage Gateway requires that you authenticate every request you send; this\n            topic describes how sign such a request.</li>\n         <li>\n<a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/APIErrorResponses.html\">Error\n               Responses</a>: Provides reference information about AWS Storage Gateway errors.</li>         \n         <li>\n<a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPIOperations.html\">Operations in AWS Storage Gateway</a>: Contains detailed descriptions of all AWS Storage Gateway\n            operations, their request parameters, response elements, possible errors, and examples of requests and\n            responses.</li>\n         <li>\n<a href=\"http://docs.aws.amazon.com/general/latest/gr/index.html?rande.html\">AWS Storage Gateway Regions and\n               Endpoints</a>: Provides a list of each of the regions and endpoints available for use with AWS Storage Gateway. </li>\n      </ul>",
  "operations":{
    "ActivateGateway":{
      "name":"ActivateGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ActivateGatewayInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p>\n      <ul>\n         <li>\n            <a>ActivateGatewayInput$ActivationKey</a>\n         </li>\n         <li>\n            <a>GatewayName</a>\n         </li>\n         <li>\n            <a>ActivateGatewayInput$GatewayRegion</a>\n         </li>\n         <li>\n            <a>ActivateGatewayInput$GatewayTimezone</a>\n         </li>\n      <li>\n            <a>ActivateGatewayInput$GatewayType</a>\n         </li>\n      </ul>"
      },
      "output":{
        "shape":"ActivateGatewayOutput",
        "documentation":"<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of\n            information such as your account, gateway name, and region. This ARN is\n            used to reference the gateway in other API operations as well as\n            resource-based authorization.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation activates the gateway you previously deployed on your host. For more\n         information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/DownloadAndDeploy.html\">Downloading \n            and Deploying AWS Storage Gateway VM</a>. In the activation process you\n         specify information such as the region you want to use for storing snapshots, the time zone\n         for scheduled snapshots and the gateway schedule window, an activation key, and a name for\n         your gateway. The activation process also associates your gateway with your account (see <a>UpdateGatewayInformation</a>).</p>\n      <note>You must power on the gateway VM before you can activate your gateway.</note>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that activates a gateway.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.ActivateGateway\n{\n   \"ActivationKey\": \"29AV1-3OFV9-VVIUB-NKT0I-LRO6V\",\n   \"GatewayName\": \"mygateway\",\n   \"GatewayTimezone\": \"GMT-12:00\",\n   \"GatewayRegion\": \"us-east-1\",\n   \"GatewayType\": \"STORED\"\n}\n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 80\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n\n            </response>\n         </example>\n      </examples>"
    },
    "AddCache":{
      "name":"AddCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddCacheInput"},
      "output":{"shape":"AddCacheOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation configures one or more gateway local disks as cache for a cached-volume\n         gateway. This operation is supported only for the gateway-cached volume architecture (see\n            <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">Storage Gateway Concepts</a>).</p>\n      <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add cache, and \n         one or more disk IDs that you want to configure as cache. </p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that activates a gateway.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120425T120000Z\nx-amz-target: StorageGateway_20120630.AddCache\n\n{\n  \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n  \"DiskIds\": [   \n     \"pci-0000:03:00.0-scsi-0:0:0:0\", \n     \"pci-0000:03:00.0-scsi-0:0:1:0\"\n  ]  \n}\n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 85\n\n{\n  \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n\n            </response>\n         </example>\n      </examples>"
    },
    "AddUploadBuffer":{
      "name":"AddUploadBuffer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUploadBufferInput"},
      "output":{"shape":"AddUploadBufferOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation configures one or more gateway local disks as upload buffer for a specified gateway. \n         This operation is supported for both the gateway-stored and gateway-cached volume architectures.\n      </p>\n      <p>\n         In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add upload buffer,\n         and one or more disk IDs that you want to configure as upload buffer.</p>"
    },
    "AddWorkingStorage":{
      "name":"AddWorkingStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddWorkingStorageInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p>\n      <ul>\n         <li>\n            <a>AddWorkingStorageInput$DiskIds</a>\n         </li>         \n      </ul>"
      },
      "output":{
        "shape":"AddWorkingStorageOutput",
        "documentation":"<p>A JSON object containing the of the gateway for which working storage was configured.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation configures one or more gateway local disks as working storage for a gateway. \n         This operation is supported only for the gateway-stored volume architecture. This operation is deprecated method in cached-volumes API version (20120630). Use AddUploadBuffer instead.</p>\n      <note><p>Working storage is also referred to as upload buffer. You can also use the \n         <a>AddUploadBuffer</a> operation to add upload buffer to a stored-volume gateway.</p></note>\n      <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add working storage,\n         and one or more disk IDs that you want to configure as working storage.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that specifies that two local disks of a gateway are to\n               be configured as working storage.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.AddWorkingStorage\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n   \"DiskIds\": [\"pci-0000:03:00.0-scsi-0:0:0:0\", \"pci-0000:04:00.0-scsi-1:0:0:0\"]\n}               \n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 80\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n\n            </response>\n         </example>\n      </examples>"
    },
    "CancelArchival":{
      "name":"CancelArchival",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CancelArchivalInput",
        "documentation":"<p>CancelArchivalInput</p>"
      },
      "output":{
        "shape":"CancelArchivalOutput",
        "documentation":"<p>CancelArchivalOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving process is initiated.\n      </p>"
    },
    "CancelRetrieval":{
      "name":"CancelRetrieval",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CancelRetrievalInput",
        "documentation":"<p>CancelRetrievalInput</p>"
      },
      "output":{
        "shape":"CancelRetrievalOutput",
        "documentation":"<p>CancelRetrievalOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after the retrieval process is initiated.\n      The virtual tape is returned to the VTS.</p>"
    },
    "CreateCachediSCSIVolume":{
      "name":"CreateCachediSCSIVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCachediSCSIVolumeInput"},
      "output":{"shape":"CreateCachediSCSIVolumeOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation creates a cached volume on a specified cached gateway. This operation is\n         supported only for the gateway-cached volume architecture.</p>\n      <note>Cache storage must be allocated to the gateway before you can create a cached volume.\n         Use the <a>AddCache</a> operation to add cache storage to a gateway. </note>\n      <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI\n         target name, an IP address on which to expose the target, and a unique client token. In\n         response, AWS Storage Gateway creates the volume and returns information about it such\n         as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that\n         initiators can use to connect to the volume target.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that specifies that a local disk of a gateway be\n               configured as a cached volume.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120912T120000Z\nx-amz-target: StorageGateway_20120630.CreateCachediSCSIVolume\n{\n   \"ClientToken\": \"cachedvol112233\",\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n   \"NetworkInterfaceId\": \"10.1.1.1\",\n   \"TargetName\": \"myvolume\",\n   \"VolumeSizeInBytes\": 536870912000\n}               \n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 12 Sep 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 263\n{\n   \"TargetARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume\",\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"\n}                 \n\n            </response>\n         </example>\n      </examples>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateSnapshotInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p>\n      <ul>\n         <li>\n            <a>CreateSnapshotInput$SnapshotDescription</a>\n         </li>\n         <li>\n            <a>CreateSnapshotInput$VolumeARN</a>\n         </li>\n      </ul>"
      },
      "output":{
        "shape":"CreateSnapshotOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation initiates a snapshot of a volume.</p>\n      <p>AWS Storage Gateway provides the ability to back up point-in-time snapshots of your data to Amazon Simple\n         Storage (S3) for durable off-site recovery, as well as import the data to an Amazon Elastic Block Store (EBS)\n         volume in Amazon Elastic Compute Cloud (EC2). You can take snapshots of your gateway volume on a scheduled or\n         ad-hoc basis. This API enables you to take ad-hoc snapshot. For more information, see <a href=\"TBD\">Working\n            With Snapshots in the AWS Storage Gateway Console</a>.</p>\n      <p>In the CreateSnapshot request you identify the volume by providing its Amazon Resource Name (ARN). You must\n         also provide description for the snapshot. When AWS Storage Gateway takes the snapshot of specified volume, the\n         snapshot and description appears in the AWS Storage Gateway Console. In response, AWS Storage Gateway returns\n         you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to\n         create a volume from a snapshot.</p>\n      <note>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, .</note>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example sends a <code>CreateSnapshot</code> request to take snapshot of the\n               specified an example volume.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.CreateSnapshot\n{\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n   \"SnapshotDescription\": \"snapshot description\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 128\n{\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n   \"SnapshotId\": \"snap-78e22663\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "CreateSnapshotFromVolumeRecoveryPoint":{
      "name":"CreateSnapshotFromVolumeRecoveryPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotFromVolumeRecoveryPointInput"},
      "output":{"shape":"CreateSnapshotFromVolumeRecoveryPointOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation initiates a snapshot of a gateway from a volume recovery point. This operation is supported only for the gateway-cached volume architecture (see ).</p>\n      <p>A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To get a list of volume recovery point for gateway-cached volumes, \n         use <a>ListVolumeRecoveryPoints</a>.</p> \n      <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the volume by providing its Amazon Resource Name (ARN). You must also provide a description for the snapshot. When AWS Storage Gateway takes a snapshot of the specified volume, the snapshot and its description appear in the AWS Storage Gateway console. <!--You provide this information in the request body.--> In response, AWS Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p>\n      <note>\n         <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information,  in <i>Amazon Elastic Compute Cloud API Reference</i>.</p>\n      </note>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example sends a\n               <code>CreateSnapshotFromVolumeRecoveryPoint</code> request to take snapshot of the\n               specified an example volume.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120912T120000Z\nx-amz-target: StorageGateway_20120630.CreateSnapshotFromVolumeRecoveryPoint\n\n{\n \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n \"SnapshotDescription\": \"snapshot description\"\n}\n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 12 Sep 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 137\n\n{\n  \"SnapshotId\": \"snap-78e22663\",\n  \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n  \"VolumeRecoveryPointTime\": \"2012-06-30T10:10:10.000Z\"       \n}      \n\n            </response>\n         </example>\n      </examples>"
    },
    "CreateStorediSCSIVolume":{
      "name":"CreateStorediSCSIVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateStorediSCSIVolumeInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p>\n      <ul>         \n         <li>\n            <a>CreateStorediSCSIVolumeInput$DiskId</a>\n         </li>\n         <li>\n            <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a>\n         </li>\n         <li>\n            <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a>\n         </li>\n         <li>\n            <a>CreateStorediSCSIVolumeInput$SnapshotId</a>\n         </li>\n         <li>\n            <a>CreateStorediSCSIVolumeInput$TargetName</a>\n         </li>\n      </ul>"
      },
      "output":{
        "shape":"CreateStorediSCSIVolumeOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation creates a volume on a specified gateway. This operation is supported only for the gateway-stored volume architecture.\n      </p>\n      <p>The size of the volume to create is inferred from the disk size. You can choose to preserve existing data on the disk, create volume from an existing snapshot, or create an empty volume. If you choose to create an empty gateway volume, then any existing data on the disk is erased.</p>\n      <p>In the request you must specify the gateway and the disk information on which you are creating the volume. In response, AWS Storage Gateway creates the volume and returns volume information such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that specifies that a local disk of a gateway be\n               configured as a volume.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.CreateStorediSCSIVolume\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n   \"DiskId\": \"pci-0000:03:00.0-scsi-0:0:0:0\",\n   \"PreserveExistingData\": true,\n   \"TargetName\": \"myvolume\",\n   \"NetworkInterfaceId\": \"10.1.1.1\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 215\n{\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n   \"VolumeSizeInBytes\": 1099511627776,\n   \"TargetARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "CreateTapes":{
      "name":"CreateTapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateTapesInput",
        "documentation":"<p>CreateTapesInput</p>"
      },
      "output":{
        "shape":"CreateTapesOutput",
        "documentation":"<p>CreateTapeOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Creates one or more virtual tapes. You write data to the virtual tapes and then archive the tapes.</p>\n      <note>Cache storage must be allocated to the gateway before you can create virtual tapes.\n         Use the <a>AddCache</a> operation to add cache storage to a gateway. </note>\n      <examples>\n         <example>\n            <name>Create tapes in gateway-VTL</name>\n            <description>In the following request you add three virtual tape cartridges, 100 GB each, to the \n               gateway-VTL (ExampleGatewayVTL). The tapes appear in the gateway's VTL. \n            In the request you set the tape's barcode prefix to \"TEST\".</description>\n            <request>{\n   \"GatewayARN\":\"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL\",\n   \"TapeSizeInBytes\":107374182400,\n   \"ClientToken\":\"77777\",\n   \"NumTapesToCreate\":3,\n   \"TapeBarcodePrefix\":\"TEST\"\n}\n            </request>\n            <response>{\"TapeARNs\": \n  [\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST38A29D\", \"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST3AA29F\", \"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST3BA29E\"]\n}\n            </response>\n         </example>\n      </examples>"
    },
    "DeleteBandwidthRateLimit":{
      "name":"DeleteBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBandwidthRateLimitInput"},
      "output":{
        "shape":"DeleteBandwidthRateLimitOutput",
        "documentation":"<p>A JSON object containing the of the gateway whose bandwidth rate information was deleted.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation deletes the bandwidth rate limits of a gateway. You can delete either the upload and download\n         bandwidth rate limit, or you can delete both. If you delete only one of the limits, the other limit remains\n         unchanged. To specify which gateway to work with, use the Amazon Resource Name (ARN) of the gateway in your\n         request.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that deletes both of the bandwidth rate limits of a\n               gateway.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DeleteBandwidthRateLimit\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n   \"BandwidthType: \"All\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 80\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DeleteChapCredentials":{
      "name":"DeleteChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteChapCredentialsInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p>\n      <ul>\n         <li>\n            <a>DeleteChapCredentialsInput$InitiatorName</a>\n         </li>\n         <li>\n            <a>DeleteChapCredentialsInput$TargetARN</a>\n         </li>\n      </ul>"
      },
      "output":{
        "shape":"DeleteChapCredentialsOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation deletes Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI\n         target and initiator pair.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that deletes the CHAP credentials for an iSCSI target\n               myvolume.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DeleteChapCredentials\n{\n   \"TargetARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume\",\n   \"InitiatorName\": \"iqn.1991-05.com.microsoft:computername.domain.example.com\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 161\n{\n   \"TargetARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume\",\n   \"InitiatorName\": \"iqn.1991-05.com.microsoft:computername.domain.example.com\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DeleteGateway":{
      "name":"DeleteGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteGatewayInput",
        "documentation":"<p>A JSON object containing the of the gateway to delete.</p>"
      },
      "output":{
        "shape":"DeleteGatewayOutput",
        "documentation":"<p>A JSON object containing the of the deleted gateway.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation deletes a gateway. To specify which gateway to delete, use the Amazon Resource Name (ARN) of the\n         gateway in your request. The operation deletes the gateway; however, it does not delete the gateway virtual\n         machine (VM) from your host computer.</p>\n      <p>After you delete a gateway, you cannot reactivate it. Completed snapshots of the gateway volumes are not\n         deleted upon deleting the gateway, however, pending snapshots will not complete. After you delete a gateway,\n         your next step is to remove it from your environment.</p>\n      <important>\n         <p>You no longer pay software charges after the gateway is deleted; however, your existing\n            Amazon EBS snapshots persist and you will continue to be billed for these\n            snapshots. You can choose to remove all remaining Amazon EBS snapshots by\n            canceling your Amazon EC2 subscription.  If you prefer not to cancel your Amazon\n            EC2 subscription, you can delete your snapshots using the Amazon EC2 console.\n            For more information, see the <a href=\"http://aws.amazon.com/storagegateway\">\n               AWS Storage Gateway Detail Page</a>. </p>\n      </important>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that deactivates a gateway.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DeleteGateway\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 80\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DeleteSnapshotSchedule":{
      "name":"DeleteSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotScheduleInput"},
      "output":{"shape":"DeleteSnapshotScheduleOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>\n         This operation deletes a snapshot of a volume.\n      </p>\n      <p>\n         You can take snapshots of your gateway volumes on a scheduled or ad-hoc basis. This API\n         enables you to delete a snapshot schedule for a volume. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/WorkingWithSnapshots.html\">Working with Snapshots</a>. In the <code>DeleteSnapshotSchedule</code> request, you identify the volume by providing its Amazon Resource Name (ARN). \n      </p>\n      <note>\n         <p>To list or delete a snapshot, you must use the Amazon EC2 API.  in <i>Amazon Elastic Compute Cloud API\n                     Reference</i>.</p>\n      </note>    \n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example...</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120912T120000Z\nx-amz-target: StorageGateway_20120630.DeleteSnapshotSchedule\n\n{\n  \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"\n}               \n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 12 Sep 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 137\n\n{\n  \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"\n}                           \n\n            </response>\n         </example>\n      </examples>"
    },
    "DeleteTape":{
      "name":"DeleteTape",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteTapeInput",
        "documentation":"<p>DeleteTapeInput</p>"
      },
      "output":{
        "shape":"DeleteTapeOutput",
        "documentation":"<p>DeleteTapeOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified virtual tape.</p>\n      <examples>\n         <example>\n            <name>Delete a tape from a gateway</name>\n            <description>The following example deletes a tape from a gateway-VTL (ExampleGatewayVTL). The request \n            identifies the tape by its ARN. The operation deletes the tapes from the specified gateway's \n            virtual tape library (VTL). In the response AWS Storage Gateway returns the ARN of deleted tape.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20131025T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9EXAMPLE\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DeleteTape\n{\"GatewayARN\": \"arn:aws:storagegateway:us-east-1:204469490176:gateway/ExampleGatewayVTL\",\n \"TapeARN\": \"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST05A2A0\"}\n\n</request>\n<response>\n{\"TapeARN\": \"arn:aws:storagegateway:us-east-1:204469490176:tape/TEST05A2A0\"}\n</response>\n         </example>\n      </examples>"
    },
    "DeleteTapeArchive":{
      "name":"DeleteTapeArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteTapeArchiveInput",
        "documentation":"<p>DeleteTapeArchiveInput</p>"
      },
      "output":{
        "shape":"DeleteTapeArchiveOutput",
        "documentation":"<p>DeleteTapeArchiveOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified virtual tape from the virtual tape shelf (VTS).</p>"
    },
    "DeleteVolume":{
      "name":"DeleteVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteVolumeInput",
        "documentation":"<p>A JSON object containing the <a>DeleteVolumeInput$VolumeARN</a> to delete.</p>"
      },
      "output":{
        "shape":"DeleteVolumeOutput",
        "documentation":"<p>A JSON object containing the of the storage volume that was deleted</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation delete the specified gateway volume that you previously created using the\n         <a>CreateStorediSCSIVolume</a> API.  For gateway-stored volumes, the local disk that was configured as the storage\n         volume is not deleted. You can reuse the local disk to create another storage volume. </p>\n      <p>Before you delete a gateway volume, make sure there are no iSCSI connections to the volume\n         you are deleting. You should also make sure there is no snapshot in progress. You can\n         use the Amazon Elastic Compute Cloud (Amazon EC2) API to query snapshots on the volume\n         you are deleting and check the snapshot status. For more information, go\n         to <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p>\n      <p>In the request, you must provide the Amazon Resource Name (ARN) of the storage volume you want to delete.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that deletes a volume.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DeleteVolume\n{\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 99\n{\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DescribeBandwidthRateLimit":{
      "name":"DescribeBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeBandwidthRateLimitInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{
        "shape":"DescribeBandwidthRateLimitOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns the bandwidth rate limits of a gateway. By default, these limits are not set, which\n         means no bandwidth rate limiting is in effect.</p>\n      <p>This operation only returns a value for a bandwidth rate limit only if the limit is set. If no limits are set\n         for the gateway, then this operation returns only the gateway ARN in the response body. To specify which\n         gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that returns the bandwidth throttle properties of a gateway.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeBandwidthRateLimit\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygate way\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 169\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n   \"AverageUploadRateLimitInBitsPerSec\": 102400,\n   \"AverageDownloadRateLimitInBitsPerSec\": 51200\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DescribeCache":{
      "name":"DescribeCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheInput"},
      "output":{"shape":"DescribeCacheOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about the cache of a gateway. \n         This operation is supported only for the gateway-cached volume architecture.\n      </p>\n      <p>\n         The response includes disk IDs that are configured as cache, and it \n         includes the amount of cache allocated and used. </p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request to obtain a description of a gateway's\n               working storage.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120912T120000Z\nx-amz-target: StorageGateway_20120630.DescribeCache\n\n{\n   \"GatewayARN\":\"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}               \n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 12 Sep 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 271\n\n{\n  \"CacheAllocationInBytes\": 2199023255552,\n  \"CacheDirtyPercentage\": 0.07,\n  \"CacheHitPercentage\": 99.68,\n  \"CacheMissPercentage\": 0.32,\n  \"CacheUsedPercentage\": 0.07,\n  \"DiskIds\": [\n    \"pci-0000:03:00.0-scsi-0:0:0:0\",\n    \"pci-0000:04:00.0-scsi-0:1:0:0\"\n  ],\n  \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}                                \n\n            </response>\n         </example>\n      </examples>"
    },
    "DescribeCachediSCSIVolumes":{
      "name":"DescribeCachediSCSIVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCachediSCSIVolumesInput"},
      "output":{
        "shape":"DescribeCachediSCSIVolumesOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns a description of the gateway volumes specified in the request. \n         This operation is supported only for the gateway-cached volume architecture.</p>\n      <p>\n         The list of gateway volumes in the request must be from one gateway. \n         In the response Amazon Storage Gateway returns volume information sorted by volume \n         Amazon Resource Name (ARN). </p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that returns a description of a volume.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120912T120000Z\nx-amz-target: StorageGateway_20120630.DescribeCachediSCSIVolumes\n\n{\n  \"VolumeARNs\": [\"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"]\n}               \n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 12 Sep 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 664\n\n{\n  \"CachediSCSIVolumes\": [\n    {\n      \"VolumeiSCSIAttributes\": {\n        \"ChapEnabled\": true,\n        \"LunNumber\": 0,\n        \"NetworkInterfaceId\": \"10.243.43.207\",\n        \"NetworkInterfacePort\": 3260,\n        \"TargetARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume\"\n      },\n      \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n      \"VolumeDiskId\": \"pci-0000:03:00.0-scsi-0:0:0:0\",\n      \"VolumeId\": \"vol-1122AABB\",\n      \"VolumeSizeInBytes\": 1099511627776,\n      \"VolumeStatus\": \"AVAILABLE\",\n      \"VolumeType\": \"CACHED iSCSI\"\n    }\n  ]\n}               \n\n            </response>\n         </example>\n      </examples>"
    },
    "DescribeChapCredentials":{
      "name":"DescribeChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeChapCredentialsInput",
        "documentation":"<p>A JSON object containing the Amazon Resource Name (ARN) of the iSCSI volume target.</p>"
      },
      "output":{
        "shape":"DescribeChapCredentialsOutput",
        "documentation":"<p>A JSON object containing a .</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns an array of Challenge-Handshake Authentication Protocol (CHAP) credentials information\n         for a specified iSCSI target, one for each target-initiator pair.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that returns the CHAP credentials of an iSCSI\n               target.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeChapCredentials\n{\n   \"TargetARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 235\n{\n   \"ChapCredentials\": {\n      \"TargetName\": \"iqn.1997-05.com.amazon:myvolume\",\n      \"SecretToAuthenticateInitiator\": \"111111111111\",\n      \"InitiatorName\": \"iqn.1991-05.com.microsoft:computername.domain.example.com\",\n      \"SecretToAuthenticateTarget\": \"222222222222\"\n   }\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DescribeGatewayInformation":{
      "name":"DescribeGatewayInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeGatewayInformationInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{
        "shape":"DescribeGatewayInformationOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns metadata about a gateway such as its name, network interfaces, configured time zone, and\n         the state (whether the gateway is running or not). To specify which gateway to describe, use the Amazon\n         Resource Name (ARN) of the gateway in your request.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request for describing a gateway.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeGatewayInformation\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 227\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n   \"GatewayId\": \"sgw-AABB1122\",\n   \"GatewayNetworkInterfaces\": [ {\"Ipv4Address\": \"10.35.69.216\"} ],\n   \"GatewayState\": \"STATE_RUNNING\",\n   \"GatewayTimezone\": \"GMT-8:00\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DescribeMaintenanceStartTime":{
      "name":"DescribeMaintenanceStartTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeMaintenanceStartTimeInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{"shape":"DescribeMaintenanceStartTimeOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns your gateway's weekly maintenance start time including the day and time of the week.\n         Note that values are in terms of the gateway's time zone.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that describes a gateway's maintenance\n               window.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeMaintenanceStartTime\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 136\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n   \"HourOfDay\": 15,\n   \"MinuteOfHour\": 35,\n   \"DayOfWeek\": 2,\n   \"Timezone\": \"GMT+7:00\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DescribeSnapshotSchedule":{
      "name":"DescribeSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeSnapshotScheduleInput",
        "documentation":"<p>A JSON object containing the <a>DescribeSnapshotScheduleInput$VolumeARN</a> of the volume.</p>"
      },
      "output":{"shape":"DescribeSnapshotScheduleOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation describes the snapshot schedule for the specified gateway volume. The snapshot schedule\n         information includes intervals at which snapshots are automatically initiated on the volume.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that retrieves the snapshot schedule for a\n               volume.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeSnapshotSchedule\n{\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 211\n{\n   \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n   \"StartAt\": 6,\n   \"RecurrenceInHours\": 24,\n   \"Description\": \"sgw-AABB1122:vol-AABB1122:Schedule\",\n   \"Timezone\": \"GMT+7:00\"\n}\n            </response>\n         </example>\n      </examples>"
    },
    "DescribeStorediSCSIVolumes":{
      "name":"DescribeStorediSCSIVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeStorediSCSIVolumesInput",
        "documentation":"<p>A JSON Object containing a list of <a>DescribeStorediSCSIVolumesInput$VolumeARNs</a>.</p>"
      },
      "output":{"shape":"DescribeStorediSCSIVolumesOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns description of the gateway volumes specified in the request. The list of gateway volumes\n         in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information\n         sorted by volume ARNs.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that returns a description of a volume.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeStorediSCSIVolumes\n{\n   \"VolumeARNs\": [\"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\"]\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 507\n{\n   \"StorediSCSIVolumes\": [\n      {\n         \"VolumeiSCSIAttributes\":\n         {\n            \"ChapEnabled\": true,\n            \"NetworkInterfaceId\": \"10.243.43.207\",\n            \"NetworkInterfacePort\": 3260,\n            \"TargetARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume\"\n         },\n         \"PreservedExistingData\": false,\n         \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/myg\n         ateway/volume/vol-1122AABB\",\n         \"VolumeDiskId\": \"pci-0000:03:00.0-scsi-0:0:0:0\",\n         \"VolumeId\": \"vol-1122AABB\",\n         \"VolumeProgress\": 23.7,\n         \"VolumeSizeInBytes\": 1099511627776,\n         \"VolumeStatus\": \"BOOTSTRAPPING\"\n      }\n   ]\n}\n            </response>\n         </example>\n      </examples>"
    },
    "DescribeTapeArchives":{
      "name":"DescribeTapeArchives",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTapeArchivesInput",
        "documentation":"<p>DescribeTapeArchivesInput</p>"
      },
      "output":{
        "shape":"DescribeTapeArchivesOutput",
        "documentation":"<p>DescribeTapeArchivesOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Returns a description of specified virtual tapes in the virtual tape shelf (VTS). </p>\n      <p>If a specific <code>TapeARN</code> is not specified, AWS Storage Gateway returns a description of all virtual tapes found in the VTS associated with your account.</p>\n      <examples>\n         <example>\n            <name>Retrieve description tapes in VTS</name>\n            <description>The following example shows a request that retrieves \n            description of two tapes archived to VTS in the AWS region specified in the \n            request. The request identifies the tapes by their ARN value.\n            ARN value. The trailing string in the ARN is the tape barcode. \n            If you don't the tape ARN, the AWS Storage Gateway returns information of \n            all tapes archived to VTS.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20131028T120000Z\nx-amz-target: StorageGateway_20130630.DescribeTapeArchives\n\n{\"TapeARNs\": \n  [\"arn:aws:storagegateway:us-east-1:999999999999:tape/AM08A1AD\", \n   \"arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4\"]\n}              \n\n            </request>\n            <response>\n{\"TapeArchives\": \n  [\n    {\"CompletionTime\": 1380308527.236, \n     \"TapeARN\": \"arn:aws:storagegateway:us-east-1:999999999:tape/AM08A1AD\", \n     \"TapeBarcode\": \"AM08A1AD\", \n     \"TapeSizeInBytes\": 107374182400, \n     \"TapeStatus\": \"ARCHIVED\"}, \n    {\"CompletionTime\": 1382918022.647, \n     \"TapeARN\": \"arn:aws:storagegateway:us-east-1:999999999:tape/AMZN01A2A4\", \n     \"TapeBarcode\": \"AMZN01A2A4\", \n     \"TapeSizeInBytes\": 429496729600, \n     \"TapeStatus\": \"ARCHIVED\"}\n  ]\n}                           \n\n            </response>\n         </example>\n      </examples>"
    },
    "DescribeTapeRecoveryPoints":{
      "name":"DescribeTapeRecoveryPoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTapeRecoveryPointsInput",
        "documentation":"<p>DescribeTapeRecoveryPointsInput</p>"
      },
      "output":{
        "shape":"DescribeTapeRecoveryPointsOutput",
        "documentation":"<p>DescribeTapeRecoveryPointsOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Returns a list of virtual tape recovery points that are available for the specified gateway-VTL.</p>\n      <p>A recovery point is a point in time view of a virtual tape at which all the data on the virtual tape is consistent.\n         If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway.</p>"
    },
    "DescribeTapes":{
      "name":"DescribeTapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTapesInput",
        "documentation":"<p>DescribeTapesInput</p>"
      },
      "output":{
        "shape":"DescribeTapesOutput",
        "documentation":"<p>DescribeTapesOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Returns a description of the specified Amazon Resource Name (ARN) of virtual tapes. If a <code>TapeARN</code> is not specified, returns \n         a description of all virtual tapes associated with the specified gateway.</p>\n      \n      <examples>\n         <example>\n            <name>Get descriptions of specific tapes </name>\n            <description>In the following request you obtain descriptions of tapes in \n               the gateway-VTL (ExampleGatewayVTL). The request identifies specific tapes by \n               specifying ARNs for the tapes. In the ARN, the trailing string, for example \"TEST04A2A1\"- is the tape barcode value. \n            The string 999999999999 is your account number.</description>\n            <request>{\"GatewayARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL\",\n \"TapeARNs\": \n  [\"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST04A2A1\", \n   \"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST05A2A0\"]\n}}}\n            </request>\n            <response>{\"Tapes\": \n  [\n    {\"TapeARN\": \"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST04A2A1\", \n     \"TapeBarcode\": \"TEST04A2A1\", \n     \"TapeSizeInBytes\": 107374182400, \n     \"TapeStatus\": \"AVAILABLE\"}, \n    {\"TapeARN\": \"arn:aws:storagegateway:us-east-1:999999999999:tape/TEST05A2A0\", \n     \"TapeBarcode\": \"TEST05A2A0\", \n     \"TapeSizeInBytes\": 107374182400, \n     \"TapeStatus\": \"AVAILABLE\"}\n  ]\n}\n}\n            </response>\n         </example>\n      </examples>"
    },
    "DescribeUploadBuffer":{
      "name":"DescribeUploadBuffer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUploadBufferInput"},
      "output":{"shape":"DescribeUploadBufferOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about the upload buffer of a gateway. This operation is supported for both the gateway-stored and gateway-cached volume architectures.\n      </p>\n      <p>\n         The response includes disk IDs that are configured as upload buffer space, and it includes\n         the amount of upload buffer space allocated and used.</p>      \n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request to obtain a description of a gateway's\n               working storage.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120912T120000Z\nx-amz-target: StorageGateway_20120630.DescribeUploadBuffer\n\n{\n   \"GatewayARN\":\"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}               \n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 12 Sep 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 271\n\n{\n  \"DiskIds\": [\n    \"pci-0000:03:00.0-scsi-0:0:0:0\",\n    \"pci-0000:04:00.0-scsi-0:1:0:0\"\n  ],\n  \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n  \"UploadBufferAllocatedInBytes\": 161061273600,\n  \"UploadBufferUsedInBytes\": 0\n}                            \n\n            </response>\n         </example>\n      </examples>"
    },
    "DescribeVTLDevices":{
      "name":"DescribeVTLDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeVTLDevicesInput",
        "documentation":"<p>DescribeVTLDevicesInput</p>"
      },
      "output":{
        "shape":"DescribeVTLDevicesOutput",
        "documentation":"<p>DescribeVTLDevicesOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Returns a description of virtual tape library (VTL) devices for the specified gateway. In the response, AWS Storage Gateway returns VTL device information. </p> \n      <p>The list of VTL devices must be from one gateway.</p>\n      <examples>\n         <example>\n            <name>Get descriptions of the VTL devices on a gateway</name>\n            <description>The following example gets descriptions of all the VTL devices on a gateway (ExampleGatewayVTL). The request identifies \n            the gateway by ARN. In the request, string 999999999999 is the account number associated with the AWS account sending the request. \n            Note that the response shown is truncated, it shows the media changer and only two tape drives. The trailing \n            string in each device ARN is the device ID. </description>\n <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20131025T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9EXAMPLE\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeVTLDevices\n{\"GatewayARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL\"}\n\n            </request>\n            <response>\n{\"GatewayARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL\", \n \"VTLDevices\": \n  [\n    {\"DeviceiSCSIAttributes\": \n      {\"ChapEnabled\": false, \n       \"NetworkInterfaceId\": \"*\", \n       \"NetworkInterfacePort\": 3260, \n       \"TargetARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL/target/iqn.1997-05.com.amazon:sgw-1fad4876-mediachanger\"}, \n     \"VTLDeviceARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL/device/AMZN_SGW-1FAD4876_MEDIACHANGER_00001\", \n     \"VTLDeviceProductIdentifier\": \"L700\", \n     \"VTLDeviceType\": \"Medium Changer\", \n     \"VTLDeviceVendor\": \"STK\"}, \n    {\"DeviceiSCSIAttributes\": \n      {\"ChapEnabled\": false, \n       \"NetworkInterfaceId\": \"*\", \n       \"NetworkInterfacePort\": 3260, \n       \"TargetARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL/target/iqn.1997-05.com.amazon:sgw-1fad4876-tapedrive-01\"}, \n     \"VTLDeviceARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL/device/AMZN_SGW-1FAD4876_TAPEDRIVE_00001\", \n     \"VTLDeviceProductIdentifier\": \"ULT3580-TD5\", \n     \"VTLDeviceType\": \"Tape Drive\", \n     \"VTLDeviceVendor\": \"IBM\"}, \n    {\"DeviceiSCSIAttributes\": \n      {\"ChapEnabled\": false, \n       \"NetworkInterfaceId\": \"*\", \n       \"NetworkInterfacePort\": 3260, \n       \"TargetARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL/target/iqn.1997-05.com.amazon:sgw-1fad4876-tapedrive-02\"}, \n     \"VTLDeviceARN\": \"arn:aws:storagegateway:us-east-1:999999999999:gateway/ExampleGatewayVTL/device/AMZN_SGW-1FAD4876_TAPEDRIVE_00002\", \n     \"VTLDeviceProductIdentifier\": \"ULT3580-TD5\", \n     \"VTLDeviceType\": \"Tape Drive\", \n     \"VTLDeviceVendor\": \"IBM\"}\n     ]\n     }\n</response>\n         </example>\n      </examples>"
    },
    "DescribeWorkingStorage":{
      "name":"DescribeWorkingStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeWorkingStorageInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{
        "shape":"DescribeWorkingStorageOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about the working storage of a gateway. This operation is supported only for the gateway-stored volume architecture. \n         This operation is deprecated in cached-volumes API version (20120630). Use <a>DescribeUploadBuffer </a>instead.</p>\n      <note><p>Working storage is also referred to as upload buffer. You can also use the <a>DescribeUploadBuffer</a> operation to add upload buffer to a stored-volume gateway.</p></note>\n      <p>The response includes disk IDs that are configured as working storage, and it includes the amount of working storage allocated and used.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request to obtain a description of a gateway's working\n               storage.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.DescribeWorkingStorage\n{\n   \"GatewayARN\":\"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 241\n{\n   \"DiskIds\": [\"pci-0000:03:00.0-scsi-0:0:0:0\", \"pci-0000:03:00.0-scsi-0:0:1:0\"],\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n   \"WorkingStorageAllocatedInBytes\": 2199023255552,\n   \"WorkingStorageUsedInBytes\": 789207040\n}\n               </response>\n         </example>\n      </examples>"
    },
    "DisableGateway":{
      "name":"DisableGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DisableGatewayInput",
        "documentation":"<p>DisableGatewayInput</p>"
      },
      "output":{
        "shape":"DisableGatewayOutput",
        "documentation":"<p>DisableGatewayOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>Disables a gateway when the gateway is no longer functioning. For example, if your gateway VM is damaged, you can disable the gateway so you can recover virtual tapes. </p> \n      <p>Use this operation for a gateway-VTL that is not reachable or not functioning.</p>\n      <important>Once a gateway is disabled it cannot be enabled.</important>"
    },
    "ListGateways":{
      "name":"ListGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListGatewaysInput",
        "documentation":"<p>A JSON object containing zero or more of the following fields:</p>\n      <ul>\n         <li>\n            <a>ListGatewaysInput$Limit</a>\n         </li>\n         <li>\n            <a>ListGatewaysInput$Marker</a>\n         </li>\n      </ul>"
      },
      "output":{"shape":"ListGatewaysOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation lists gateways owned by an AWS account in a region specified in the request. The returned list\n         is ordered by gateway Amazon Resource Name (ARN).</p>\n      <p>By default, the operation returns a maximum of 100 gateways. This operation supports pagination that allows you\n         to optionally reduce the number of gateways returned in a response.</p>\n      <p>If you have more gateways than are returned in a response-that is, the response returns only a truncated list\n         of your gateways-the response contains a marker that you can specify in your next request to fetch the next\n         page of gateways.</p>\n      <examples>\n         <example>\n            <name>List Gateways</name>\n            <description>The following example does not specify any criteria for the returned list. Note that the\n               request body is \"{}\".  The response returns gateways (or up to the first 100) in the\n               specified region owned by the AWS account.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.ListGateways\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 178\n{\n   \"GatewayList\": [\n      {\n         \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n         \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway2\"\n      }\n   ]\n}\n               </response>\n         </example>\n      </examples>"
    },
    "ListLocalDisks":{
      "name":"ListLocalDisks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListLocalDisksInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{"shape":"ListLocalDisksOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation returns a list of the local disks of a gateway. To specify which gateway to describe you use the\n         Amazon Resource Name (ARN) of the gateway in the body of the request.</p>\n      <p>The request returns all disks, specifying which are configured as working storage, stored volume or not\n         configured at all.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example shows a request that returns information about a gateway's local\n               disks.</description>\n            <request>\nPOST / HTTP/1.1\nHost: storagegateway.us-east-1.amazonaws.com\nx-amz-Date: 20120425T120000Z\nAuthorization: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nContent-type: application/x-amz-json-1.1\nx-amz-target: StorageGateway_20120630.ListLocalDisks\n{\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: CSOC7TJPLR0OOKIRLGOHVAICUFVV4KQNSO5AEMVJF66Q9ASUAAJG\nDate: Wed, 25 Apr 2012 12:00:02 GMT\nContent-type: application/x-amz-json-1.1\nContent-length: 398\n{\n   \"Disks\": [\n      {\n         \"DiskAllocationType\": \"UPLOAD_BUFFER\",\n         \"DiskId\": \"pci-0000:03:00.0-scsi-0:0:0:0\",\n         \"DiskNode\": \"SCSI(0:0)\",\n         \"DiskPath\": \"/dev/sda\",\n         \"DiskSizeInBytes\": 1099511627776\n      },\n      {\n         \"DiskAllocationType\": \"STORED_iSCSI_VOLUME\",\n         \"DiskAllocationResource\": \"\",\n         \"DiskId\": \"pci-0000:03:00.0-scsi-0:0:1:0\",\n         \"DiskNode\": \"SCSI(0:1)\",\n         \"DiskPath\": \"/dev/sdb\",\n         \"DiskSizeInBytes\": 1099511627776\n      }\n   ],\n   \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}\n               </response>\n         </example>\n      </examples>"
    },
    "ListVolumeRecoveryPoints":{
      "name":"ListVolumeRecoveryPoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVolumeRecoveryPointsInput"},
      "output":{"shape":"ListVolumeRecoveryPointsOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message\n         fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more\n         information.</p>"
        }
      ],
      "documentation":"<p>This operation lists the recovery points for a specified gateway. This operation is supported only for the gateway-cached volume architecture.</p>\n      <p>Each gateway-cached volume has one recovery point. A volume recovery point is a point \n         in time at which all data of the volume is consistent and from which you can create a snapshot. \n         To create a snapshot from a volume recovery point use the <a>CreateSnapshotFromVolumeRecoveryPoint</a> operation.</p>\n      <examples>\n         <example>\n            <name>Example Request</name>\n            <description>The following example sends a <code>ListVolumeRecoveryPoints</code> request to take a\n               snapshot of the specified example volume.</description>\n            <request>\nPOST / HTTP/1.1 \nHost: storagegateway.us-east-1.amazonaws.com\nContent-Type: application/x-amz-json-1.1\nAuthorization: AWS4-HMAC-SHA256 Credential=AKIAIOSFODNN7EXAMPLE/20120425/us-east-1/storagegateway/aws4_request, SignedHeaders=content-type;host;x-amz-date;x-amz-target, Signature=9cd5a3584d1d67d57e61f120f35102d6b3649066abdd4bf4bbcf05bd9f2f8fe2\nx-amz-date: 20120912T120000Z\nx-amz-target: StorageGateway_20120630.ListVolumeRecoveryPoints\n\n{\n  \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\"\n}              \n\n            </request>\n            <response>\nHTTP/1.1 200 OK\nx-amzn-RequestId: gur28r2rqlgb8vvs0mq17hlgij1q8glle1qeu3kpgg6f0kstauu0\nDate: Wed, 12 Sep 2012 12:00:02 GMT\nContent-Type: application/x-amz-json-1.1\nContent-length: 137\n\n{\n  \"GatewayARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway\",\n  \"VolumeRecoveryPointInfos\": [    \n      {       \n      \"VolumeARN\": \"arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/volume/vol-1122AABB\",\n      \"VolumeRecoveryPointTime\": \"2012-09-04T21:08:44.627Z\",\n      \"VolumeSizeInBytes\": 536870912000,\n      \"VolumeUsageInBytes\": 6694048\n      }  \n ]  \n}                 \n\n            </response>\n         </example>\n      </examples>"
    },
    "ListVolumes":{
      "name":"ListVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListVolumesInput",
        "documentation":"<p>A JSON object that contains one or more of the following fields:</p>\n      <ul>\n         <li>\n            <a>ListVolumesInput$Limit</a>\n         </li>\n         <li>\n            <a>ListVolumesInput$Marker</a>\n         </li>\n      </ul>"
      },
      "output":{"shape":"ListVolumesOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
[...]
