{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2013-06-30",
    "endpointPrefix": "storagegateway",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Storage Gateway",
    "serviceId": "Storage Gateway",
    "signatureVersion": "v4",
    "targetPrefix": "StorageGateway_20130630",
    "uid": "storagegateway-2013-06-30"
  },
  "operations": {
    "ActivateGateway": {
      "input": {
        "type": "structure",
        "required": [
          "ActivationKey",
          "GatewayName",
          "GatewayTimezone",
          "GatewayRegion"
        ],
        "members": {
          "ActivationKey": {
            "type": "string",
            "max": 50,
            "min": 1
          },
          "GatewayName": {
            "shape": "S3"
          },
          "GatewayTimezone": {
            "shape": "S4"
          },
          "GatewayRegion": {
            "type": "string",
            "max": 25,
            "min": 1
          },
          "GatewayType": {
            "shape": "S6"
          },
          "TapeDriveType": {
            "type": "string",
            "max": 50,
            "min": 2
          },
          "MediumChangerType": {
            "type": "string",
            "max": 50,
            "min": 2
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "AddCache": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "DiskIds"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DiskIds": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "AddTagsToResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "Tags"
        ],
        "members": {
          "ResourceARN": {
            "shape": "Sg"
          },
          "Tags": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceARN": {
            "shape": "Sg"
          }
        }
      }
    },
    "AddUploadBuffer": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "DiskIds"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DiskIds": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "AddWorkingStorage": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "DiskIds"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DiskIds": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "CancelArchival": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "TapeARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "TapeARN": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      }
    },
    "CancelRetrieval": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "TapeARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "TapeARN": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      }
    },
    "CreateCachediSCSIVolume": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "VolumeSizeInBytes",
          "TargetName",
          "NetworkInterfaceId",
          "ClientToken"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "VolumeSizeInBytes": {
            "type": "long"
          },
          "SnapshotId": {
            "shape": "Sx"
          },
          "TargetName": {
            "shape": "Sy"
          },
          "SourceVolumeARN": {
            "shape": "Sz"
          },
          "NetworkInterfaceId": {
            "shape": "S10"
          },
          "ClientToken": {
            "shape": "S11"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          },
          "TargetARN": {
            "shape": "S15"
          }
        }
      }
    },
    "CreateNFSFileShare": {
      "input": {
        "type": "structure",
        "required": [
          "ClientToken",
          "GatewayARN",
          "Role",
          "LocationARN"
        ],
        "members": {
          "ClientToken": {
            "shape": "S11"
          },
          "NFSFileShareDefaults": {
            "shape": "S17"
          },
          "GatewayARN": {
            "shape": "Sa"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          },
          "Role": {
            "shape": "S1a"
          },
          "LocationARN": {
            "shape": "S1b"
          },
          "DefaultStorageClass": {
            "shape": "S1c"
          },
          "ObjectACL": {
            "shape": "S1d"
          },
          "ClientList": {
            "shape": "S1e"
          },
          "Squash": {
            "shape": "S1g"
          },
          "ReadOnly": {
            "type": "boolean"
          },
          "GuessMIMETypeEnabled": {
            "type": "boolean"
          },
          "RequesterPays": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      }
    },
    "CreateSMBFileShare": {
      "input": {
        "type": "structure",
        "required": [
          "ClientToken",
          "GatewayARN",
          "Role",
          "LocationARN"
        ],
        "members": {
          "ClientToken": {
            "shape": "S11"
          },
          "GatewayARN": {
            "shape": "Sa"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          },
          "Role": {
            "shape": "S1a"
          },
          "LocationARN": {
            "shape": "S1b"
          },
          "DefaultStorageClass": {
            "shape": "S1c"
          },
          "ObjectACL": {
            "shape": "S1d"
          },
          "ReadOnly": {
            "type": "boolean"
          },
          "GuessMIMETypeEnabled": {
            "type": "boolean"
          },
          "RequesterPays": {
            "type": "boolean"
          },
          "ValidUserList": {
            "shape": "S1k"
          },
          "InvalidUserList": {
            "shape": "S1k"
          },
          "Authentication": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      }
    },
    "CreateSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARN",
          "SnapshotDescription"
        ],
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          },
          "SnapshotDescription": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          },
          "SnapshotId": {
            "shape": "Sx"
          }
        }
      }
    },
    "CreateSnapshotFromVolumeRecoveryPoint": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARN",
          "SnapshotDescription"
        ],
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          },
          "SnapshotDescription": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {
            "shape": "Sx"
          },
          "VolumeARN": {
            "shape": "Sz"
          },
          "VolumeRecoveryPointTime": {}
        }
      }
    },
    "CreateStorediSCSIVolume": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "DiskId",
          "PreserveExistingData",
          "TargetName",
          "NetworkInterfaceId"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DiskId": {
            "shape": "Sd"
          },
          "SnapshotId": {
            "shape": "Sx"
          },
          "PreserveExistingData": {
            "type": "boolean"
          },
          "TargetName": {
            "shape": "Sy"
          },
          "NetworkInterfaceId": {
            "shape": "S10"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          },
          "VolumeSizeInBytes": {
            "type": "long"
          },
          "TargetARN": {
            "shape": "S15"
          }
        }
      }
    },
    "CreateTapeWithBarcode": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "TapeSizeInBytes",
          "TapeBarcode"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "TapeSizeInBytes": {
            "type": "long"
          },
          "TapeBarcode": {
            "shape": "S1z"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      }
    },
    "CreateTapes": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "TapeSizeInBytes",
          "ClientToken",
          "NumTapesToCreate",
          "TapeBarcodePrefix"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "TapeSizeInBytes": {
            "type": "long"
          },
          "ClientToken": {
            "shape": "S11"
          },
          "NumTapesToCreate": {
            "type": "integer",
            "max": 10,
            "min": 1
          },
          "TapeBarcodePrefix": {
            "type": "string",
            "max": 4,
            "min": 1,
            "pattern": "^[A-Z]*$"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARNs": {
            "shape": "S25"
          }
        }
      }
    },
    "DeleteBandwidthRateLimit": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "BandwidthType"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "BandwidthType": {
            "type": "string",
            "max": 25,
            "min": 3
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "DeleteChapCredentials": {
      "input": {
        "type": "structure",
        "required": [
          "TargetARN",
          "InitiatorName"
        ],
        "members": {
          "TargetARN": {
            "shape": "S15"
          },
          "InitiatorName": {
            "shape": "S2a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TargetARN": {
            "shape": "S15"
          },
          "InitiatorName": {
            "shape": "S2a"
          }
        }
      }
    },
    "DeleteFileShare": {
      "input": {
        "type": "structure",
        "required": [
          "FileShareARN"
        ],
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          },
          "ForceDelete": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      }
    },
    "DeleteGateway": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "DeleteSnapshotSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARN"
        ],
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          }
        }
      }
    },
    "DeleteTape": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "TapeARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "TapeARN": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      }
    },
    "DeleteTapeArchive": {
      "input": {
        "type": "structure",
        "required": [
          "TapeARN"
        ],
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      }
    },
    "DeleteVolume": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARN"
        ],
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          }
        }
      }
    },
    "DescribeBandwidthRateLimit": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "AverageUploadRateLimitInBitsPerSec": {
            "shape": "S2q"
          },
          "AverageDownloadRateLimitInBitsPerSec": {
            "shape": "S2r"
          }
        }
      }
    },
    "DescribeCache": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DiskIds": {
            "shape": "Sc"
          },
          "CacheAllocatedInBytes": {
            "type": "long"
          },
          "CacheUsedPercentage": {
            "type": "double"
          },
          "CacheDirtyPercentage": {
            "type": "double"
          },
          "CacheHitPercentage": {
            "type": "double"
          },
          "CacheMissPercentage": {
            "type": "double"
          }
        }
      }
    },
    "DescribeCachediSCSIVolumes": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARNs"
        ],
        "members": {
          "VolumeARNs": {
            "shape": "S2w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CachediSCSIVolumes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VolumeARN": {
                  "shape": "Sz"
                },
                "VolumeId": {
                  "shape": "S30"
                },
                "VolumeType": {
                  "shape": "S31"
                },
                "VolumeStatus": {
                  "shape": "S32"
                },
                "VolumeSizeInBytes": {
                  "type": "long"
                },
                "VolumeProgress": {
                  "type": "double"
                },
                "SourceSnapshotId": {
                  "shape": "Sx"
                },
                "VolumeiSCSIAttributes": {
                  "shape": "S34"
                },
                "CreatedDate": {
                  "type": "timestamp"
                },
                "VolumeUsedInBytes": {
                  "type": "long"
                },
                "KMSKey": {
                  "shape": "S13"
                }
              }
            }
          }
        }
      }
    },
    "DescribeChapCredentials": {
      "input": {
        "type": "structure",
        "required": [
          "TargetARN"
        ],
        "members": {
          "TargetARN": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChapCredentials": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TargetARN": {
                  "shape": "S15"
                },
                "SecretToAuthenticateInitiator": {
                  "shape": "S3d"
                },
                "InitiatorName": {
                  "shape": "S2a"
                },
                "SecretToAuthenticateTarget": {
                  "shape": "S3d"
                }
              }
            }
          }
        }
      }
    },
    "DescribeGatewayInformation": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "GatewayId": {
            "shape": "S3g"
          },
          "GatewayName": {},
          "GatewayTimezone": {
            "shape": "S4"
          },
          "GatewayState": {
            "type": "string",
            "max": 25,
            "min": 2
          },
          "GatewayNetworkInterfaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Ipv4Address": {},
                "MacAddress": {},
                "Ipv6Address": {}
              }
            }
          },
          "GatewayType": {
            "shape": "S6"
          },
          "NextUpdateAvailabilityDate": {
            "type": "string",
            "max": 25,
            "min": 1
          },
          "LastSoftwareUpdate": {
            "type": "string",
            "max": 25,
            "min": 1
          }
        }
      }
    },
    "DescribeMaintenanceStartTime": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "HourOfDay": {
            "shape": "S3o"
          },
          "MinuteOfHour": {
            "shape": "S3p"
          },
          "DayOfWeek": {
            "shape": "S3q"
          },
          "Timezone": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeNFSFileShares": {
      "input": {
        "type": "structure",
        "required": [
          "FileShareARNList"
        ],
        "members": {
          "FileShareARNList": {
            "shape": "S3s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NFSFileShareInfoList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "NFSFileShareDefaults": {
                  "shape": "S17"
                },
                "FileShareARN": {
                  "shape": "S1i"
                },
                "FileShareId": {
                  "shape": "S3w"
                },
                "FileShareStatus": {
                  "shape": "S3x"
                },
                "GatewayARN": {
                  "shape": "Sa"
                },
                "KMSEncrypted": {
                  "type": "boolean"
                },
                "KMSKey": {
                  "shape": "S13"
                },
                "Path": {},
                "Role": {
                  "shape": "S1a"
                },
                "LocationARN": {
                  "shape": "S1b"
                },
                "DefaultStorageClass": {
                  "shape": "S1c"
                },
                "ObjectACL": {
                  "shape": "S1d"
                },
                "ClientList": {
                  "shape": "S1e"
                },
                "Squash": {
                  "shape": "S1g"
                },
                "ReadOnly": {
                  "type": "boolean"
                },
                "GuessMIMETypeEnabled": {
                  "type": "boolean"
                },
                "RequesterPays": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "DescribeSMBFileShares": {
      "input": {
        "type": "structure",
        "required": [
          "FileShareARNList"
        ],
        "members": {
          "FileShareARNList": {
            "shape": "S3s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SMBFileShareInfoList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FileShareARN": {
                  "shape": "S1i"
                },
                "FileShareId": {
                  "shape": "S3w"
                },
                "FileShareStatus": {
                  "shape": "S3x"
                },
                "GatewayARN": {
                  "shape": "Sa"
                },
                "KMSEncrypted": {
                  "type": "boolean"
                },
                "KMSKey": {
                  "shape": "S13"
                },
                "Path": {},
                "Role": {
                  "shape": "S1a"
                },
                "LocationARN": {
                  "shape": "S1b"
                },
                "DefaultStorageClass": {
                  "shape": "S1c"
                },
                "ObjectACL": {
                  "shape": "S1d"
                },
                "ReadOnly": {
                  "type": "boolean"
                },
                "GuessMIMETypeEnabled": {
                  "type": "boolean"
                },
                "RequesterPays": {
                  "type": "boolean"
                },
                "ValidUserList": {
                  "shape": "S1k"
                },
                "InvalidUserList": {
                  "shape": "S1k"
                },
                "Authentication": {
                  "shape": "S1m"
                }
              }
            }
          }
        }
      }
    },
    "DescribeSMBSettings": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DomainName": {
            "shape": "S45"
          },
          "SMBGuestPasswordSet": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeSnapshotSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARN"
        ],
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          },
          "StartAt": {
            "shape": "S3o"
          },
          "RecurrenceInHours": {
            "shape": "S48"
          },
          "Description": {
            "shape": "S49"
          },
          "Timezone": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeStorediSCSIVolumes": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARNs"
        ],
        "members": {
          "VolumeARNs": {
            "shape": "S2w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StorediSCSIVolumes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VolumeARN": {
                  "shape": "Sz"
                },
                "VolumeId": {
                  "shape": "S30"
                },
                "VolumeType": {
                  "shape": "S31"
                },
                "VolumeStatus": {
                  "shape": "S32"
                },
                "VolumeSizeInBytes": {
                  "type": "long"
                },
                "VolumeProgress": {
                  "type": "double"
                },
                "VolumeDiskId": {
                  "shape": "Sd"
                },
                "SourceSnapshotId": {
                  "shape": "Sx"
                },
                "PreservedExistingData": {
                  "type": "boolean"
                },
                "VolumeiSCSIAttributes": {
                  "shape": "S34"
                },
                "CreatedDate": {
                  "type": "timestamp"
                },
                "VolumeUsedInBytes": {
                  "type": "long"
                },
                "KMSKey": {
                  "shape": "S13"
                }
              }
            }
          }
        }
      }
    },
    "DescribeTapeArchives": {
      "input": {
        "type": "structure",
        "members": {
          "TapeARNs": {
            "shape": "S25"
          },
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeArchives": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TapeARN": {
                  "shape": "Sr"
                },
                "TapeBarcode": {
                  "shape": "S1z"
                },
                "TapeCreatedDate": {
                  "type": "timestamp"
                },
                "TapeSizeInBytes": {
                  "type": "long"
                },
                "CompletionTime": {
                  "type": "timestamp"
                },
                "RetrievedTo": {
                  "shape": "Sa"
                },
                "TapeStatus": {},
                "TapeUsedInBytes": {
                  "type": "long"
                },
                "KMSKey": {
                  "shape": "S13"
                }
              }
            }
          },
          "Marker": {
            "shape": "S4f"
          }
        }
      }
    },
    "DescribeTapeRecoveryPoints": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "TapeRecoveryPointInfos": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TapeARN": {
                  "shape": "Sr"
                },
                "TapeRecoveryPointTime": {
                  "type": "timestamp"
                },
                "TapeSizeInBytes": {
                  "type": "long"
                },
                "TapeStatus": {}
              }
            }
          },
          "Marker": {
            "shape": "S4f"
          }
        }
      }
    },
    "DescribeTapes": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "TapeARNs": {
            "shape": "S25"
          },
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tapes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TapeARN": {
                  "shape": "Sr"
                },
                "TapeBarcode": {
                  "shape": "S1z"
                },
                "TapeCreatedDate": {
                  "type": "timestamp"
                },
                "TapeSizeInBytes": {
                  "type": "long"
                },
                "TapeStatus": {},
                "VTLDevice": {
                  "shape": "S4w"
                },
                "Progress": {
                  "type": "double"
                },
                "TapeUsedInBytes": {
                  "type": "long"
                },
                "KMSKey": {
                  "shape": "S13"
                }
              }
            }
          },
          "Marker": {
            "shape": "S4f"
          }
        }
      }
    },
    "DescribeUploadBuffer": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DiskIds": {
            "shape": "Sc"
          },
          "UploadBufferUsedInBytes": {
            "type": "long"
          },
          "UploadBufferAllocatedInBytes": {
            "type": "long"
          }
        }
      }
    },
    "DescribeVTLDevices": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "VTLDeviceARNs": {
            "type": "list",
            "member": {
              "shape": "S4w"
            }
          },
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "VTLDevices": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VTLDeviceARN": {
                  "shape": "S4w"
                },
                "VTLDeviceType": {},
                "VTLDeviceVendor": {},
                "VTLDeviceProductIdentifier": {},
                "DeviceiSCSIAttributes": {
                  "type": "structure",
                  "members": {
                    "TargetARN": {
                      "shape": "S15"
                    },
                    "NetworkInterfaceId": {
                      "shape": "S10"
                    },
                    "NetworkInterfacePort": {
                      "type": "integer"
                    },
                    "ChapEnabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "Marker": {
            "shape": "S4f"
          }
        }
      }
    },
    "DescribeWorkingStorage": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DiskIds": {
            "shape": "Sc"
          },
          "WorkingStorageUsedInBytes": {
            "type": "long"
          },
          "WorkingStorageAllocatedInBytes": {
            "type": "long"
          }
        }
      }
    },
    "DisableGateway": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "JoinDomain": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "DomainName",
          "UserName",
          "Password"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "DomainName": {
            "shape": "S45"
          },
          "UserName": {
            "type": "string",
            "pattern": "^\\w[\\w\\.\\- ]*$"
          },
          "Password": {
            "type": "string",
            "pattern": "^[ -~]+$",
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "ListFileShares": {
      "input": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "Limit": {
            "shape": "S36"
          },
          "Marker": {
            "shape": "S4f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {
            "shape": "S4f"
          },
          "NextMarker": {
            "shape": "S4f"
          },
          "FileShareInfoList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FileShareType": {
                  "type": "string",
                  "enum": [
                    "NFS",
                    "SMB"
                  ]
                },
                "FileShareARN": {
                  "shape": "S1i"
                },
                "FileShareId": {
                  "shape": "S3w"
                },
                "FileShareStatus": {
                  "shape": "S3x"
                },
                "GatewayARN": {
                  "shape": "Sa"
                }
              }
            }
          }
        }
      }
    },
    "ListGateways": {
      "input": {
        "type": "structure",
        "members": {
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Gateways": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GatewayId": {
                  "shape": "S3g"
                },
                "GatewayARN": {
                  "shape": "Sa"
                },
                "GatewayType": {
                  "shape": "S6"
                },
                "GatewayOperationalState": {
                  "type": "string",
                  "max": 25,
                  "min": 2
                },
                "GatewayName": {}
              }
            }
          },
          "Marker": {
            "shape": "S4f"
          }
        }
      }
    },
    "ListLocalDisks": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "Disks": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DiskId": {
                  "shape": "Sd"
                },
                "DiskPath": {},
                "DiskNode": {},
                "DiskStatus": {},
                "DiskSizeInBytes": {
                  "type": "long"
                },
                "DiskAllocationType": {
                  "type": "string",
                  "max": 100,
                  "min": 3
                },
                "DiskAllocationResource": {}
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN"
        ],
        "members": {
          "ResourceARN": {
            "shape": "Sg"
          },
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceARN": {
            "shape": "Sg"
          },
          "Marker": {
            "shape": "S4f"
          },
          "Tags": {
            "shape": "Sh"
          }
        }
      }
    },
    "ListTapes": {
      "input": {
        "type": "structure",
        "members": {
          "TapeARNs": {
            "shape": "S25"
          },
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeInfos": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TapeARN": {
                  "shape": "Sr"
                },
                "TapeBarcode": {
                  "shape": "S1z"
                },
                "TapeSizeInBytes": {
                  "type": "long"
                },
                "TapeStatus": {},
                "GatewayARN": {
                  "shape": "Sa"
                }
              }
            }
          },
          "Marker": {
            "shape": "S4f"
          }
        }
      }
    },
    "ListVolumeInitiators": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARN"
        ],
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Initiators": {
            "type": "list",
            "member": {
              "type": "string",
              "max": 50,
              "min": 1
            }
          }
        }
      }
    },
    "ListVolumeRecoveryPoints": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "VolumeRecoveryPointInfos": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VolumeARN": {
                  "shape": "Sz"
                },
                "VolumeSizeInBytes": {
                  "type": "long"
                },
                "VolumeUsageInBytes": {
                  "type": "long"
                },
                "VolumeRecoveryPointTime": {}
              }
            }
          }
        }
      }
    },
    "ListVolumes": {
      "input": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "Marker": {
            "shape": "S4f"
          },
          "Limit": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "Marker": {
            "shape": "S4f"
          },
          "VolumeInfos": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VolumeARN": {
                  "shape": "Sz"
                },
                "VolumeId": {
                  "shape": "S30"
                },
                "GatewayARN": {
                  "shape": "Sa"
                },
                "GatewayId": {
                  "shape": "S3g"
                },
                "VolumeType": {
                  "shape": "S31"
                },
                "VolumeSizeInBytes": {
                  "type": "long"
                }
              }
            }
          }
        }
      }
    },
    "NotifyWhenUploaded": {
      "input": {
        "type": "structure",
        "required": [
          "FileShareARN"
        ],
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          },
          "NotificationId": {
            "type": "string",
            "max": 2048,
            "min": 1
          }
        }
      }
    },
    "RefreshCache": {
      "input": {
        "type": "structure",
        "required": [
          "FileShareARN"
        ],
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      }
    },
    "RemoveTagsFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "TagKeys"
        ],
        "members": {
          "ResourceARN": {
            "shape": "Sg"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "Sj"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceARN": {
            "shape": "Sg"
          }
        }
      }
    },
    "ResetCache": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "RetrieveTapeArchive": {
      "input": {
        "type": "structure",
        "required": [
          "TapeARN",
          "GatewayARN"
        ],
        "members": {
          "TapeARN": {
            "shape": "Sr"
          },
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      }
    },
    "RetrieveTapeRecoveryPoint": {
      "input": {
        "type": "structure",
        "required": [
          "TapeARN",
          "GatewayARN"
        ],
        "members": {
          "TapeARN": {
            "shape": "Sr"
          },
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TapeARN": {
            "shape": "Sr"
          }
        }
      }
    },
    "SetLocalConsolePassword": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "LocalConsolePassword"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "LocalConsolePassword": {
            "type": "string",
            "max": 512,
            "min": 6,
            "pattern": "^[ -~]+$",
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "SetSMBGuestPassword": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "Password"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "Password": {
            "type": "string",
            "max": 512,
            "min": 6,
            "pattern": "^[ -~]+$",
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "ShutdownGateway": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "StartGateway": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "UpdateBandwidthRateLimit": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "AverageUploadRateLimitInBitsPerSec": {
            "shape": "S2q"
          },
          "AverageDownloadRateLimitInBitsPerSec": {
            "shape": "S2r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "UpdateChapCredentials": {
      "input": {
        "type": "structure",
        "required": [
          "TargetARN",
          "SecretToAuthenticateInitiator",
          "InitiatorName"
        ],
        "members": {
          "TargetARN": {
            "shape": "S15"
          },
          "SecretToAuthenticateInitiator": {
            "shape": "S3d"
          },
          "InitiatorName": {
            "shape": "S2a"
          },
          "SecretToAuthenticateTarget": {
            "shape": "S3d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TargetARN": {
            "shape": "S15"
          },
          "InitiatorName": {
            "shape": "S2a"
          }
        }
      }
    },
    "UpdateGatewayInformation": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "GatewayName": {
            "shape": "S3"
          },
          "GatewayTimezone": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "GatewayName": {}
        }
      }
    },
    "UpdateGatewaySoftwareNow": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "UpdateMaintenanceStartTime": {
      "input": {
        "type": "structure",
        "required": [
          "GatewayARN",
          "HourOfDay",
          "MinuteOfHour",
          "DayOfWeek"
        ],
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          },
          "HourOfDay": {
            "shape": "S3o"
          },
          "MinuteOfHour": {
            "shape": "S3p"
          },
          "DayOfWeek": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GatewayARN": {
            "shape": "Sa"
          }
        }
      }
    },
    "UpdateNFSFileShare": {
      "input": {
        "type": "structure",
        "required": [
          "FileShareARN"
        ],
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          },
          "NFSFileShareDefaults": {
            "shape": "S17"
          },
          "DefaultStorageClass": {
            "shape": "S1c"
          },
          "ObjectACL": {
            "shape": "S1d"
          },
          "ClientList": {
            "shape": "S1e"
          },
          "Squash": {
            "shape": "S1g"
          },
          "ReadOnly": {
            "type": "boolean"
          },
          "GuessMIMETypeEnabled": {
            "type": "boolean"
          },
          "RequesterPays": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      }
    },
    "UpdateSMBFileShare": {
      "input": {
        "type": "structure",
        "required": [
          "FileShareARN"
        ],
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          },
          "KMSEncrypted": {
            "type": "boolean"
          },
          "KMSKey": {
            "shape": "S13"
          },
          "DefaultStorageClass": {
            "shape": "S1c"
          },
          "ObjectACL": {
            "shape": "S1d"
          },
          "ReadOnly": {
            "type": "boolean"
          },
          "GuessMIMETypeEnabled": {
            "type": "boolean"
          },
          "RequesterPays": {
            "type": "boolean"
          },
          "ValidUserList": {
            "shape": "S1k"
          },
          "InvalidUserList": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileShareARN": {
            "shape": "S1i"
          }
        }
      }
    },
    "UpdateSnapshotSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeARN",
          "StartAt",
          "RecurrenceInHours"
        ],
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          },
          "StartAt": {
            "shape": "S3o"
          },
          "RecurrenceInHours": {
            "shape": "S48"
          },
          "Description": {
            "shape": "S49"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VolumeARN": {
            "shape": "Sz"
          }
        }
      }
    },
    "UpdateVTLDeviceType": {
      "input": {
        "type": "structure",
        "required": [
          "VTLDeviceARN",
          "DeviceType"
        ],
        "members": {
          "VTLDeviceARN": {
            "shape": "S4w"
          },
          "DeviceType": {
            "type": "string",
            "max": 50,
            "min": 2
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VTLDeviceARN": {
            "shape": "S4w"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "max": 255,
      "min": 2,
      "pattern": "^[ -\\.0-\\[\\]-~]*[!-\\.0-\\[\\]-~][ -\\.0-\\[\\]-~]*$"
    },
    "S4": {
      "type": "string",
      "max": 10,
      "min": 3
    },
    "S6": {
      "type": "string",
      "max": 20,
      "min": 2
    },
    "Sa": {
      "type": "string",
      "max": 500,
      "min": 50
    },
    "Sc": {
      "type": "list",
      "member": {
        "shape": "Sd"
      }
    },
    "Sd": {
      "type": "string",
      "max": 300,
      "min": 1
    },
    "Sg": {
      "type": "string",
      "max": 500,
      "min": 50
    },
    "Sh": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "Sj"
          },
          "Value": {
            "type": "string",
            "max": 256
          }
        }
      }
    },
    "Sj": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "Sr": {
      "type": "string",
      "max": 500,
      "min": 50,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov):storagegateway:[a-z\\-0-9]+:[0-9]+:tape\\/[0-9A-Z]{7,16}$"
    },
    "Sx": {
      "type": "string",
      "pattern": "\\Asnap-([0-9A-Fa-f]{8}|[0-9A-Fa-f]{17})\\z"
    },
    "Sy": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "^[-\\.;a-z0-9]+$"
    },
    "Sz": {
      "type": "string",
      "max": 500,
      "min": 50
    },
    "S10": {
      "type": "string",
      "pattern": "\\A(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)(\\.(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)){3}\\z"
    },
    "S11": {
      "type": "string",
      "max": 100,
      "min": 5
    },
    "S13": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "S15": {
      "type": "string",
      "max": 800,
      "min": 50
    },
    "S17": {
      "type": "structure",
      "members": {
        "FileMode": {
          "shape": "S18"
        },
        "DirectoryMode": {
          "shape": "S18"
        },
        "GroupId": {
          "shape": "S19"
        },
        "OwnerId": {
          "shape": "S19"
        }
      }
    },
    "S18": {
      "type": "string",
      "max": 4,
      "min": 1,
      "pattern": "^[0-7]{4}$"
    },
    "S19": {
      "type": "long",
      "max": 4294967294,
      "min": 0
    },
    "S1a": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "S1b": {
      "type": "string",
      "max": 310,
      "min": 16
    },
    "S1c": {
      "type": "string",
      "max": 20,
      "min": 5
    },
    "S1d": {
      "type": "string",
      "enum": [
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read",
        "bucket-owner-read",
        "bucket-owner-full-control",
        "aws-exec-read"
      ]
    },
    "S1e": {
      "type": "list",
      "member": {
        "type": "string",
        "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([0-9]|[1-2][0-9]|3[0-2]))?$"
      },
      "max": 100,
      "min": 1
    },
    "S1g": {
      "type": "string",
      "max": 15,
      "min": 5
    },
    "S1i": {
      "type": "string",
      "max": 500,
      "min": 50
    },
    "S1k": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 64,
        "min": 1
      },
      "max": 100,
      "min": 0
    },
    "S1m": {
      "type": "string",
      "max": 15,
      "min": 5
    },
    "S1p": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S1z": {
      "type": "string",
      "max": 16,
      "min": 7,
      "pattern": "^[A-Z0-9]*$"
    },
    "S25": {
      "type": "list",
      "member": {
        "shape": "Sr"
      }
    },
    "S2a": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[0-9a-z:.-]+"
    },
    "S2q": {
      "type": "long",
      "min": 51200
    },
    "S2r": {
      "type": "long",
      "min": 102400
    },
    "S2w": {
      "type": "list",
      "member": {
        "shape": "Sz"
      }
    },
    "S30": {
      "type": "string",
      "max": 30,
      "min": 12
    },
    "S31": {
      "type": "string",
      "max": 100,
      "min": 3
    },
    "S32": {
      "type": "string",
      "max": 50,
      "min": 3
    },
    "S34": {
      "type": "structure",
      "members": {
        "TargetARN": {
          "shape": "S15"
        },
        "NetworkInterfaceId": {
          "shape": "S10"
        },
        "NetworkInterfacePort": {
          "type": "integer"
        },
        "LunNumber": {
          "shape": "S36"
        },
        "ChapEnabled": {
          "type": "boolean"
        }
      }
    },
    "S36": {
      "type": "integer",
      "min": 1
    },
    "S3d": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S3g": {
      "type": "string",
      "max": 30,
      "min": 12
    },
    "S3o": {
      "type": "integer",
      "max": 23,
      "min": 0
    },
    "S3p": {
      "type": "integer",
      "max": 59,
      "min": 0
    },
    "S3q": {
      "type": "integer",
      "max": 6,
      "min": 0
    },
    "S3s": {
      "type": "list",
      "member": {
        "shape": "S1i"
      },
      "max": 10,
      "min": 1
    },
    "S3w": {
      "type": "string",
      "max": 30,
      "min": 12
    },
    "S3x": {
      "type": "string",
      "max": 50,
      "min": 3
    },
    "S45": {
      "type": "string",
      "pattern": "^([a-z0-9]+(-[a-z0-9]+)*\\.)+[a-z]{2,}$"
    },
    "S48": {
      "type": "integer",
      "max": 24,
      "min": 1
    },
    "S49": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S4f": {
      "type": "string",
      "max": 1000,
      "min": 1
    },
    "S4w": {
      "type": "string",
      "max": 500,
      "min": 50
    }
  }
}