{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2012-08-10",
    "endpointPrefix": "streams.dynamodb",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "Amazon DynamoDB Streams",
    "serviceId": "DynamoDB Streams",
    "signatureVersion": "v4",
    "signingName": "dynamodb",
    "targetPrefix": "DynamoDBStreams_20120810",
    "uid": "streams-dynamodb-2012-08-10"
  },
  "operations": {
    "DescribeStream": {
      "input": {
        "type": "structure",
        "required": [
          "StreamArn"
        ],
        "members": {
          "StreamArn": {
            "shape": "S2"
          },
          "Limit": {
            "shape": "S3"
          },
          "ExclusiveStartShardId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamDescription": {
            "type": "structure",
            "members": {
              "StreamArn": {
                "shape": "S2"
              },
              "StreamLabel": {},
              "StreamStatus": {
                "type": "string",
                "enum": [
                  "ENABLING",
                  "ENABLED",
                  "DISABLING",
                  "DISABLED"
                ]
              },
              "StreamViewType": {
                "shape": "S9"
              },
              "CreationRequestDateTime": {
                "type": "timestamp"
              },
              "TableName": {
                "shape": "Sb"
              },
              "KeySchema": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "AttributeName",
                    "KeyType"
                  ],
                  "members": {
                    "AttributeName": {
                      "type": "string",
                      "max": 255,
                      "min": 1
                    },
                    "KeyType": {
                      "type": "string",
                      "enum": [
                        "HASH",
                        "RANGE"
                      ]
                    }
                  }
                },
                "max": 2,
                "min": 1
              },
              "Shards": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "ShardId": {
                      "shape": "S4"
                    },
                    "SequenceNumberRange": {
                      "type": "structure",
                      "members": {
                        "StartingSequenceNumber": {
                          "shape": "Sj"
                        },
                        "EndingSequenceNumber": {
                          "shape": "Sj"
                        }
                      }
                    },
                    "ParentShardId": {
                      "shape": "S4"
                    }
                  }
                }
              },
              "LastEvaluatedShardId": {
                "shape": "S4"
              }
            }
          }
        }
      }
    },
    "GetRecords": {
      "input": {
        "type": "structure",
        "required": [
          "ShardIterator"
        ],
        "members": {
          "ShardIterator": {
            "shape": "Sl"
          },
          "Limit": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Records": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventID": {},
                "eventName": {
                  "type": "string",
                  "enum": [
                    "INSERT",
                    "MODIFY",
                    "REMOVE"
                  ]
                },
                "eventVersion": {},
                "eventSource": {},
                "awsRegion": {},
                "dynamodb": {
                  "type": "structure",
                  "members": {
                    "ApproximateCreationDateTime": {
                      "type": "timestamp"
                    },
                    "Keys": {
                      "shape": "Sr"
                    },
                    "NewImage": {
                      "shape": "Sr"
                    },
                    "OldImage": {
                      "shape": "Sr"
                    },
                    "SequenceNumber": {
                      "shape": "Sj"
                    },
                    "SizeBytes": {
                      "type": "long",
                      "min": 1
                    },
                    "StreamViewType": {
                      "shape": "S9"
                    }
                  }
                },
                "userIdentity": {
                  "type": "structure",
                  "members": {
                    "PrincipalId": {},
                    "Type": {}
                  }
                }
              }
            }
          },
          "NextShardIterator": {
            "shape": "Sl"
          }
        }
      }
    },
    "GetShardIterator": {
      "input": {
        "type": "structure",
        "required": [
          "StreamArn",
          "ShardId",
          "ShardIteratorType"
        ],
        "members": {
          "StreamArn": {
            "shape": "S2"
          },
          "ShardId": {
            "shape": "S4"
          },
          "ShardIteratorType": {
            "type": "string",
            "enum": [
              "TRIM_HORIZON",
              "LATEST",
              "AT_SEQUENCE_NUMBER",
              "AFTER_SEQUENCE_NUMBER"
            ]
          },
          "SequenceNumber": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ShardIterator": {
            "shape": "Sl"
          }
        }
      }
    },
    "ListStreams": {
      "input": {
        "type": "structure",
        "members": {
          "TableName": {
            "shape": "Sb"
          },
          "Limit": {
            "shape": "S3"
          },
          "ExclusiveStartStreamArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Streams": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StreamArn": {
                  "shape": "S2"
                },
                "TableName": {
                  "shape": "Sb"
                },
                "StreamLabel": {}
              }
            }
          },
          "LastEvaluatedStreamArn": {
            "shape": "S2"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 1024,
      "min": 37
    },
    "S3": {
      "type": "integer",
      "min": 1
    },
    "S4": {
      "type": "string",
      "max": 65,
      "min": 28
    },
    "S9": {
      "type": "string",
      "enum": [
        "NEW_IMAGE",
        "OLD_IMAGE",
        "NEW_AND_OLD_IMAGES",
        "KEYS_ONLY"
      ]
    },
    "Sb": {
      "type": "string",
      "max": 255,
      "min": 3,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "Sj": {
      "type": "string",
      "max": 40,
      "min": 21
    },
    "Sl": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "Sr": {
      "type": "map",
      "key": {
        "shape": "Ss"
      },
      "value": {
        "shape": "St"
      }
    },
    "Ss": {
      "type": "string",
      "max": 65535
    },
    "St": {
      "type": "structure",
      "members": {
        "S": {},
        "N": {},
        "B": {
          "type": "blob"
        },
        "SS": {
          "type": "list",
          "member": {}
        },
        "NS": {
          "type": "list",
          "member": {}
        },
        "BS": {
          "type": "list",
          "member": {
            "type": "blob"
          }
        },
        "M": {
          "type": "map",
          "key": {
            "shape": "Ss"
          },
          "value": {
            "shape": "St"
          }
        },
        "L": {
          "type": "list",
          "member": {
            "shape": "St"
          }
        },
        "NULL": {
          "type": "boolean"
        },
        "BOOL": {
          "type": "boolean"
        }
      }
    }
  }
}