{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2011-06-15",
    "endpointPrefix": "sts",
    "globalEndpoint": "sts.amazonaws.com",
    "protocol": "query",
    "serviceAbbreviation": "AWS STS",
    "serviceFullName": "AWS Security Token Service",
    "serviceId": "STS",
    "signatureVersion": "v4",
    "uid": "sts-2011-06-15",
    "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/"
  },
  "operations": {
    "AssumeRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleArn",
          "RoleSessionName"
        ],
        "members": {
          "RoleArn": {
            "shape": "S2"
          },
          "RoleSessionName": {
            "shape": "S3"
          },
          "Policy": {
            "shape": "S4"
          },
          "DurationSeconds": {
            "shape": "S5"
          },
          "ExternalId": {
            "type": "string",
            "max": 1224,
            "min": 2,
            "pattern": "[\\w+=,.@:\\/-]*"
          },
          "SerialNumber": {
            "shape": "S7"
          },
          "TokenCode": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "resultWrapper": "AssumeRoleResult",
        "type": "structure",
        "members": {
          "Credentials": {
            "shape": "Sa"
          },
          "AssumedRoleUser": {
            "shape": "Sf"
          },
          "PackedPolicySize": {
            "shape": "Sh"
          }
        }
      }
    },
    "AssumeRoleWithSAML": {
      "input": {
        "type": "structure",
        "required": [
          "RoleArn",
          "PrincipalArn",
          "SAMLAssertion"
        ],
        "members": {
          "RoleArn": {
            "shape": "S2"
          },
          "PrincipalArn": {
            "shape": "S2"
          },
          "SAMLAssertion": {
            "type": "string",
            "max": 100000,
            "min": 4
          },
          "Policy": {
            "shape": "S4"
          },
          "DurationSeconds": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "resultWrapper": "AssumeRoleWithSAMLResult",
        "type": "structure",
        "members": {
          "Credentials": {
            "shape": "Sa"
          },
          "AssumedRoleUser": {
            "shape": "Sf"
          },
          "PackedPolicySize": {
            "shape": "Sh"
          },
          "Subject": {},
          "SubjectType": {},
          "Issuer": {},
          "Audience": {},
          "NameQualifier": {}
        }
      }
    },
    "AssumeRoleWithWebIdentity": {
      "input": {
        "type": "structure",
        "required": [
          "RoleArn",
          "RoleSessionName",
          "WebIdentityToken"
        ],
        "members": {
          "RoleArn": {
            "shape": "S2"
          },
          "RoleSessionName": {
            "shape": "S3"
          },
          "WebIdentityToken": {
            "type": "string",
            "max": 2048,
            "min": 4
          },
          "ProviderId": {
            "type": "string",
            "max": 2048,
            "min": 4
          },
          "Policy": {
            "shape": "S4"
          },
          "DurationSeconds": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "resultWrapper": "AssumeRoleWithWebIdentityResult",
        "type": "structure",
        "members": {
          "Credentials": {
            "shape": "Sa"
          },
          "SubjectFromWebIdentityToken": {
            "type": "string",
            "max": 255,
            "min": 6
          },
          "AssumedRoleUser": {
            "shape": "Sf"
          },
          "PackedPolicySize": {
            "shape": "Sh"
          },
          "Provider": {},
          "Audience": {}
        }
      }
    },
    "DecodeAuthorizationMessage": {
      "input": {
        "type": "structure",
        "required": [
          "EncodedMessage"
        ],
        "members": {
          "EncodedMessage": {
            "type": "string",
            "max": 10240,
            "min": 1
          }
        }
      },
      "output": {
        "resultWrapper": "DecodeAuthorizationMessageResult",
        "type": "structure",
        "members": {
          "DecodedMessage": {}
        }
      }
    },
    "GetCallerIdentity": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "resultWrapper": "GetCallerIdentityResult",
        "type": "structure",
        "members": {
          "UserId": {},
          "Account": {},
          "Arn": {
            "shape": "S2"
          }
        }
      }
    },
    "GetFederationToken": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "type": "string",
            "max": 32,
            "min": 2,
            "pattern": "[\\w+=,.@-]*"
          },
          "Policy": {
            "shape": "S4"
          },
          "DurationSeconds": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "resultWrapper": "GetFederationTokenResult",
        "type": "structure",
        "members": {
          "Credentials": {
            "shape": "Sa"
          },
          "FederatedUser": {
            "type": "structure",
            "required": [
              "FederatedUserId",
              "Arn"
            ],
            "members": {
              "FederatedUserId": {
                "type": "string",
                "max": 193,
                "min": 2,
                "pattern": "[\\w+=,.@\\:-]*"
              },
              "Arn": {
                "shape": "S2"
              }
            }
          },
          "PackedPolicySize": {
            "shape": "Sh"
          }
        }
      }
    },
    "GetSessionToken": {
      "input": {
        "type": "structure",
        "members": {
          "DurationSeconds": {
            "shape": "S15"
          },
          "SerialNumber": {
            "shape": "S7"
          },
          "TokenCode": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "resultWrapper": "GetSessionTokenResult",
        "type": "structure",
        "members": {
          "Credentials": {
            "shape": "Sa"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 2048,
      "min": 20,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]+"
    },
    "S3": {
      "type": "string",
      "max": 64,
      "min": 2,
      "pattern": "[\\w+=,.@-]*"
    },
    "S4": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "S5": {
      "type": "integer",
      "max": 43200,
      "min": 900
    },
    "S7": {
      "type": "string",
      "max": 256,
      "min": 9,
      "pattern": "[\\w+=/:,.@-]*"
    },
    "S8": {
      "type": "string",
      "max": 6,
      "min": 6,
      "pattern": "[\\d]*"
    },
    "Sa": {
      "type": "structure",
      "required": [
        "AccessKeyId",
        "SecretAccessKey",
        "SessionToken",
        "Expiration"
      ],
      "members": {
        "AccessKeyId": {
          "type": "string",
          "max": 128,
          "min": 16,
          "pattern": "[\\w]*"
        },
        "SecretAccessKey": {},
        "SessionToken": {},
        "Expiration": {
          "type": "timestamp"
        }
      }
    },
    "Sf": {
      "type": "structure",
      "required": [
        "AssumedRoleId",
        "Arn"
      ],
      "members": {
        "AssumedRoleId": {
          "type": "string",
          "max": 193,
          "min": 2,
          "pattern": "[\\w+=,.@:-]*"
        },
        "Arn": {
          "shape": "S2"
        }
      }
    },
    "Sh": {
      "type": "integer",
      "min": 0
    },
    "S15": {
      "type": "integer",
      "max": 129600,
      "min": 900
    }
  }
}