{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2012-01-25",
    "endpointPrefix": "swf",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "Amazon SWF",
    "serviceFullName": "Amazon Simple Workflow Service",
    "serviceId": "SWF",
    "signatureVersion": "v4",
    "targetPrefix": "SimpleWorkflowService",
    "timestampFormat": "unixTimestamp",
    "uid": "swf-2012-01-25"
  },
  "operations": {
    "CountClosedWorkflowExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "domain"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "startTimeFilter": {
            "shape": "S3"
          },
          "closeTimeFilter": {
            "shape": "S3"
          },
          "executionFilter": {
            "shape": "S5"
          },
          "typeFilter": {
            "shape": "S7"
          },
          "tagFilter": {
            "shape": "Sa"
          },
          "closeStatusFilter": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "shape": "Se"
      }
    },
    "CountOpenWorkflowExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "startTimeFilter"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "startTimeFilter": {
            "shape": "S3"
          },
          "typeFilter": {
            "shape": "S7"
          },
          "tagFilter": {
            "shape": "Sa"
          },
          "executionFilter": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "shape": "Se"
      }
    },
    "CountPendingActivityTasks": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "taskList"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "taskList": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "shape": "Sk"
      }
    },
    "CountPendingDecisionTasks": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "taskList"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "taskList": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "shape": "Sk"
      }
    },
    "DeprecateActivityType": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "activityType"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "activityType": {
            "shape": "Sn"
          }
        }
      }
    },
    "DeprecateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S2"
          }
        }
      }
    },
    "DeprecateWorkflowType": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "workflowType"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "workflowType": {
            "shape": "Sr"
          }
        }
      }
    },
    "DescribeActivityType": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "activityType"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "activityType": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "typeInfo",
          "configuration"
        ],
        "members": {
          "typeInfo": {
            "shape": "Su"
          },
          "configuration": {
            "type": "structure",
            "members": {
              "defaultTaskStartToCloseTimeout": {
                "shape": "Sy"
              },
              "defaultTaskHeartbeatTimeout": {
                "shape": "Sy"
              },
              "defaultTaskList": {
                "shape": "Sj"
              },
              "defaultTaskPriority": {},
              "defaultTaskScheduleToStartTimeout": {
                "shape": "Sy"
              },
              "defaultTaskScheduleToCloseTimeout": {
                "shape": "Sy"
              }
            }
          }
        }
      }
    },
    "DescribeDomain": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainInfo",
          "configuration"
        ],
        "members": {
          "domainInfo": {
            "shape": "S12"
          },
          "configuration": {
            "type": "structure",
            "required": [
              "workflowExecutionRetentionPeriodInDays"
            ],
            "members": {
              "workflowExecutionRetentionPeriodInDays": {
                "shape": "S14"
              }
            }
          }
        }
      }
    },
    "DescribeWorkflowExecution": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "execution"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "execution": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "executionInfo",
          "executionConfiguration",
          "openCounts"
        ],
        "members": {
          "executionInfo": {
            "shape": "S19"
          },
          "executionConfiguration": {
            "type": "structure",
            "required": [
              "taskStartToCloseTimeout",
              "executionStartToCloseTimeout",
              "taskList",
              "childPolicy"
            ],
            "members": {
              "taskStartToCloseTimeout": {
                "shape": "S1e"
              },
              "executionStartToCloseTimeout": {
                "shape": "S1e"
              },
              "taskList": {
                "shape": "Sj"
              },
              "taskPriority": {},
              "childPolicy": {
                "shape": "S1f"
              },
              "lambdaRole": {
                "shape": "S1g"
              }
            }
          },
          "openCounts": {
            "type": "structure",
            "required": [
              "openActivityTasks",
              "openDecisionTasks",
              "openTimers",
              "openChildWorkflowExecutions"
            ],
            "members": {
              "openActivityTasks": {
                "shape": "Sf"
              },
              "openDecisionTasks": {
                "type": "integer",
                "max": 1,
                "min": 0
              },
              "openTimers": {
                "shape": "Sf"
              },
              "openChildWorkflowExecutions": {
                "shape": "Sf"
              },
              "openLambdaFunctions": {
                "shape": "Sf"
              }
            }
          },
          "latestActivityTaskTimestamp": {
            "type": "timestamp"
          },
          "latestExecutionContext": {
            "shape": "S1j"
          }
        }
      }
    },
    "DescribeWorkflowType": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "workflowType"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "workflowType": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "typeInfo",
          "configuration"
        ],
        "members": {
          "typeInfo": {
            "shape": "S1m"
          },
          "configuration": {
            "type": "structure",
            "members": {
              "defaultTaskStartToCloseTimeout": {
                "shape": "Sy"
              },
              "defaultExecutionStartToCloseTimeout": {
                "shape": "Sy"
              },
              "defaultTaskList": {
                "shape": "Sj"
              },
              "defaultTaskPriority": {},
              "defaultChildPolicy": {
                "shape": "S1f"
              },
              "defaultLambdaRole": {
                "shape": "S1g"
              }
            }
          }
        }
      }
    },
    "GetWorkflowExecutionHistory": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "execution"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "execution": {
            "shape": "S16"
          },
          "nextPageToken": {
            "shape": "S1p"
          },
          "maximumPageSize": {
            "shape": "S1q"
          },
          "reverseOrder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "events"
        ],
        "members": {
          "events": {
            "shape": "S1t"
          },
          "nextPageToken": {
            "shape": "S1p"
          }
        }
      }
    },
    "ListActivityTypes": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "registrationStatus"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "name": {
            "shape": "S8"
          },
          "registrationStatus": {
            "shape": "Sv"
          },
          "nextPageToken": {
            "shape": "S1p"
          },
          "maximumPageSize": {
            "shape": "S1q"
          },
          "reverseOrder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "typeInfos"
        ],
        "members": {
          "typeInfos": {
            "type": "list",
            "member": {
              "shape": "Su"
            }
          },
          "nextPageToken": {
            "shape": "S1p"
          }
        }
      }
    },
    "ListClosedWorkflowExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "domain"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "startTimeFilter": {
            "shape": "S3"
          },
          "closeTimeFilter": {
            "shape": "S3"
          },
          "executionFilter": {
            "shape": "S5"
          },
          "closeStatusFilter": {
            "shape": "Sc"
          },
          "typeFilter": {
            "shape": "S7"
          },
          "tagFilter": {
            "shape": "Sa"
          },
          "nextPageToken": {
            "shape": "S1p"
          },
          "maximumPageSize": {
            "shape": "S1q"
          },
          "reverseOrder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S4g"
      }
    },
    "ListDomains": {
      "input": {
        "type": "structure",
        "required": [
          "registrationStatus"
        ],
        "members": {
          "nextPageToken": {
            "shape": "S1p"
          },
          "registrationStatus": {
            "shape": "Sv"
          },
          "maximumPageSize": {
            "shape": "S1q"
          },
          "reverseOrder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainInfos"
        ],
        "members": {
          "domainInfos": {
            "type": "list",
            "member": {
              "shape": "S12"
            }
          },
          "nextPageToken": {
            "shape": "S1p"
          }
        }
      }
    },
    "ListOpenWorkflowExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "startTimeFilter"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "startTimeFilter": {
            "shape": "S3"
          },
          "typeFilter": {
            "shape": "S7"
          },
          "tagFilter": {
            "shape": "Sa"
          },
          "nextPageToken": {
            "shape": "S1p"
          },
          "maximumPageSize": {
            "shape": "S1q"
          },
          "reverseOrder": {
            "type": "boolean"
          },
          "executionFilter": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "shape": "S4g"
      }
    },
    "ListWorkflowTypes": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "registrationStatus"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "name": {
            "shape": "S8"
          },
          "registrationStatus": {
            "shape": "Sv"
          },
          "nextPageToken": {
            "shape": "S1p"
          },
          "maximumPageSize": {
            "shape": "S1q"
          },
          "reverseOrder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "typeInfos"
        ],
        "members": {
          "typeInfos": {
            "type": "list",
            "member": {
              "shape": "S1m"
            }
          },
          "nextPageToken": {
            "shape": "S1p"
          }
        }
      }
    },
    "PollForActivityTask": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "taskList"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "taskList": {
            "shape": "Sj"
          },
          "identity": {
            "shape": "S2l"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "taskToken",
          "activityId",
          "startedEventId",
          "workflowExecution",
          "activityType"
        ],
        "members": {
          "taskToken": {
            "shape": "S4r"
          },
          "activityId": {
            "shape": "S2q"
          },
          "startedEventId": {
            "type": "long"
          },
          "workflowExecution": {
            "shape": "S16"
          },
          "activityType": {
            "shape": "Sn"
          },
          "input": {
            "shape": "S1j"
          }
        }
      }
    },
    "PollForDecisionTask": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "taskList"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "taskList": {
            "shape": "Sj"
          },
          "identity": {
            "shape": "S2l"
          },
          "nextPageToken": {
            "shape": "S1p"
          },
          "maximumPageSize": {
            "shape": "S1q"
          },
          "reverseOrder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "taskToken",
          "startedEventId",
          "workflowExecution",
          "workflowType",
          "events"
        ],
        "members": {
          "taskToken": {
            "shape": "S4r"
          },
          "startedEventId": {
            "type": "long"
          },
          "workflowExecution": {
            "shape": "S16"
          },
          "workflowType": {
            "shape": "Sr"
          },
          "events": {
            "shape": "S1t"
          },
          "nextPageToken": {
            "shape": "S1p"
          },
          "previousStartedEventId": {
            "type": "long"
          }
        }
      }
    },
    "RecordActivityTaskHeartbeat": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {
            "shape": "S4r"
          },
          "details": {
            "shape": "S2w"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "cancelRequested"
        ],
        "members": {
          "cancelRequested": {
            "type": "boolean"
          }
        }
      }
    },
    "RegisterActivityType": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "name",
          "version"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "name": {
            "shape": "S8"
          },
          "version": {
            "shape": "So"
          },
          "description": {
            "shape": "Sw"
          },
          "defaultTaskStartToCloseTimeout": {
            "shape": "Sy"
          },
          "defaultTaskHeartbeatTimeout": {
            "shape": "Sy"
          },
          "defaultTaskList": {
            "shape": "Sj"
          },
          "defaultTaskPriority": {},
          "defaultTaskScheduleToStartTimeout": {
            "shape": "Sy"
          },
          "defaultTaskScheduleToCloseTimeout": {
            "shape": "Sy"
          }
        }
      }
    },
    "RegisterDomain": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "workflowExecutionRetentionPeriodInDays"
        ],
        "members": {
          "name": {
            "shape": "S2"
          },
          "description": {
            "shape": "Sw"
          },
          "workflowExecutionRetentionPeriodInDays": {
            "shape": "S14"
          }
        }
      }
    },
    "RegisterWorkflowType": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "name",
          "version"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "name": {
            "shape": "S8"
          },
          "version": {
            "shape": "So"
          },
          "description": {
            "shape": "Sw"
          },
          "defaultTaskStartToCloseTimeout": {
            "shape": "Sy"
          },
          "defaultExecutionStartToCloseTimeout": {
            "shape": "Sy"
          },
          "defaultTaskList": {
            "shape": "Sj"
          },
          "defaultTaskPriority": {},
          "defaultChildPolicy": {
            "shape": "S1f"
          },
          "defaultLambdaRole": {
            "shape": "S1g"
          }
        }
      }
    },
    "RequestCancelWorkflowExecution": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "workflowId"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "workflowId": {
            "shape": "S6"
          },
          "runId": {
            "shape": "S1y"
          }
        }
      }
    },
    "RespondActivityTaskCanceled": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {
            "shape": "S4r"
          },
          "details": {
            "shape": "S1j"
          }
        }
      }
    },
    "RespondActivityTaskCompleted": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {
            "shape": "S4r"
          },
          "result": {
            "shape": "S1j"
          }
        }
      }
    },
    "RespondActivityTaskFailed": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {
            "shape": "S4r"
          },
          "reason": {
            "shape": "S23"
          },
          "details": {
            "shape": "S1j"
          }
        }
      }
    },
    "RespondDecisionTaskCompleted": {
      "input": {
        "type": "structure",
        "required": [
          "taskToken"
        ],
        "members": {
          "taskToken": {
            "shape": "S4r"
          },
          "decisions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "decisionType"
              ],
              "members": {
                "decisionType": {
                  "type": "string",
                  "enum": [
                    "ScheduleActivityTask",
                    "RequestCancelActivityTask",
                    "CompleteWorkflowExecution",
                    "FailWorkflowExecution",
                    "CancelWorkflowExecution",
                    "ContinueAsNewWorkflowExecution",
                    "RecordMarker",
                    "StartTimer",
                    "CancelTimer",
                    "SignalExternalWorkflowExecution",
                    "RequestCancelExternalWorkflowExecution",
                    "StartChildWorkflowExecution",
                    "ScheduleLambdaFunction"
                  ]
                },
                "scheduleActivityTaskDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "activityType",
                    "activityId"
                  ],
                  "members": {
                    "activityType": {
                      "shape": "Sn"
                    },
                    "activityId": {
                      "shape": "S2q"
                    },
                    "control": {
                      "shape": "S1j"
                    },
                    "input": {
                      "shape": "S1j"
                    },
                    "scheduleToCloseTimeout": {
                      "shape": "Sy"
                    },
                    "taskList": {
                      "shape": "Sj"
                    },
                    "taskPriority": {},
                    "scheduleToStartTimeout": {
                      "shape": "Sy"
                    },
                    "startToCloseTimeout": {
                      "shape": "Sy"
                    },
                    "heartbeatTimeout": {
                      "shape": "Sy"
                    }
                  }
                },
                "requestCancelActivityTaskDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "activityId"
                  ],
                  "members": {
                    "activityId": {
                      "shape": "S2q"
                    }
                  }
                },
                "completeWorkflowExecutionDecisionAttributes": {
                  "type": "structure",
                  "members": {
                    "result": {
                      "shape": "S1j"
                    }
                  }
                },
                "failWorkflowExecutionDecisionAttributes": {
                  "type": "structure",
                  "members": {
                    "reason": {
                      "shape": "S23"
                    },
                    "details": {
                      "shape": "S1j"
                    }
                  }
                },
                "cancelWorkflowExecutionDecisionAttributes": {
                  "type": "structure",
                  "members": {
                    "details": {
                      "shape": "S1j"
                    }
                  }
                },
                "continueAsNewWorkflowExecutionDecisionAttributes": {
                  "type": "structure",
                  "members": {
                    "input": {
                      "shape": "S1j"
                    },
                    "executionStartToCloseTimeout": {
                      "shape": "Sy"
                    },
                    "taskList": {
                      "shape": "Sj"
                    },
                    "taskPriority": {},
                    "taskStartToCloseTimeout": {
                      "shape": "Sy"
                    },
                    "childPolicy": {
                      "shape": "S1f"
                    },
                    "tagList": {
                      "shape": "S1b"
                    },
                    "workflowTypeVersion": {
                      "shape": "So"
                    },
                    "lambdaRole": {
                      "shape": "S1g"
                    }
                  }
                },
                "recordMarkerDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "markerName"
                  ],
                  "members": {
                    "markerName": {
                      "shape": "S32"
                    },
                    "details": {
                      "shape": "S1j"
                    }
                  }
                },
                "startTimerDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "timerId",
                    "startToFireTimeout"
                  ],
                  "members": {
                    "timerId": {
                      "shape": "S36"
                    },
                    "control": {
                      "shape": "S1j"
                    },
                    "startToFireTimeout": {
                      "shape": "S1e"
                    }
                  }
                },
                "cancelTimerDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "timerId"
                  ],
                  "members": {
                    "timerId": {
                      "shape": "S36"
                    }
                  }
                },
                "signalExternalWorkflowExecutionDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "workflowId",
                    "signalName"
                  ],
                  "members": {
                    "workflowId": {
                      "shape": "S6"
                    },
                    "runId": {
                      "shape": "S1y"
                    },
                    "signalName": {
                      "shape": "S30"
                    },
                    "input": {
                      "shape": "S1j"
                    },
                    "control": {
                      "shape": "S1j"
                    }
                  }
                },
                "requestCancelExternalWorkflowExecutionDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "workflowId"
                  ],
                  "members": {
                    "workflowId": {
                      "shape": "S6"
                    },
                    "runId": {
                      "shape": "S1y"
                    },
                    "control": {
                      "shape": "S1j"
                    }
                  }
                },
                "startChildWorkflowExecutionDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "workflowType",
                    "workflowId"
                  ],
                  "members": {
                    "workflowType": {
                      "shape": "Sr"
                    },
                    "workflowId": {
                      "shape": "S6"
                    },
                    "control": {
                      "shape": "S1j"
                    },
                    "input": {
                      "shape": "S1j"
                    },
                    "executionStartToCloseTimeout": {
                      "shape": "Sy"
                    },
                    "taskList": {
                      "shape": "Sj"
                    },
                    "taskPriority": {},
                    "taskStartToCloseTimeout": {
                      "shape": "Sy"
                    },
                    "childPolicy": {
                      "shape": "S1f"
                    },
                    "tagList": {
                      "shape": "S1b"
                    },
                    "lambdaRole": {
                      "shape": "S1g"
                    }
                  }
                },
                "scheduleLambdaFunctionDecisionAttributes": {
                  "type": "structure",
                  "required": [
                    "id",
                    "name"
                  ],
                  "members": {
                    "id": {
                      "shape": "S3z"
                    },
                    "name": {
                      "shape": "S40"
                    },
                    "control": {
                      "shape": "S1j"
                    },
                    "input": {
                      "shape": "S41"
                    },
                    "startToCloseTimeout": {
                      "shape": "Sy"
                    }
                  }
                }
              }
            }
          },
          "executionContext": {
            "shape": "S1j"
          }
        }
      }
    },
    "SignalWorkflowExecution": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "workflowId",
          "signalName"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "workflowId": {
            "shape": "S6"
          },
          "runId": {
            "shape": "S1y"
          },
          "signalName": {
            "shape": "S30"
          },
          "input": {
            "shape": "S1j"
          }
        }
      }
    },
    "StartWorkflowExecution": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "workflowId",
          "workflowType"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "workflowId": {
            "shape": "S6"
          },
          "workflowType": {
            "shape": "Sr"
          },
          "taskList": {
            "shape": "Sj"
          },
          "taskPriority": {},
          "input": {
            "shape": "S1j"
          },
          "executionStartToCloseTimeout": {
            "shape": "Sy"
          },
          "tagList": {
            "shape": "S1b"
          },
          "taskStartToCloseTimeout": {
            "shape": "Sy"
          },
          "childPolicy": {
            "shape": "S1f"
          },
          "lambdaRole": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "runId": {
            "shape": "S17"
          }
        }
      }
    },
    "TerminateWorkflowExecution": {
      "input": {
        "type": "structure",
        "required": [
          "domain",
          "workflowId"
        ],
        "members": {
          "domain": {
            "shape": "S2"
          },
          "workflowId": {
            "shape": "S6"
          },
          "runId": {
            "shape": "S1y"
          },
          "reason": {
            "shape": "S2f"
          },
          "details": {
            "shape": "S1j"
          },
          "childPolicy": {
            "shape": "S1f"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S3": {
      "type": "structure",
      "required": [
        "oldestDate"
      ],
      "members": {
        "oldestDate": {
          "type": "timestamp"
        },
        "latestDate": {
          "type": "timestamp"
        }
      }
    },
    "S5": {
      "type": "structure",
      "required": [
        "workflowId"
      ],
      "members": {
        "workflowId": {
          "shape": "S6"
        }
      }
    },
    "S6": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S7": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {
          "shape": "S8"
        },
        "version": {
          "type": "string",
          "max": 64
        }
      }
    },
    "S8": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "Sa": {
      "type": "structure",
      "required": [
        "tag"
      ],
      "members": {
        "tag": {
          "shape": "Sb"
        }
      }
    },
    "Sb": {
      "type": "string",
      "max": 256,
      "min": 0
    },
    "Sc": {
      "type": "structure",
      "required": [
        "status"
      ],
      "members": {
        "status": {
          "shape": "Sd"
        }
      }
    },
    "Sd": {
      "type": "string",
      "enum": [
        "COMPLETED",
        "FAILED",
        "CANCELED",
        "TERMINATED",
        "CONTINUED_AS_NEW",
        "TIMED_OUT"
      ]
    },
    "Se": {
      "type": "structure",
      "required": [
        "count"
      ],
      "members": {
        "count": {
          "shape": "Sf"
        },
        "truncated": {
          "type": "boolean"
        }
      }
    },
    "Sf": {
      "type": "integer",
      "min": 0
    },
    "Sj": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {
          "shape": "S8"
        }
      }
    },
    "Sk": {
      "type": "structure",
      "required": [
        "count"
      ],
      "members": {
        "count": {
          "shape": "Sf"
        },
        "truncated": {
          "type": "boolean"
        }
      }
    },
    "Sn": {
      "type": "structure",
      "required": [
        "name",
        "version"
      ],
      "members": {
        "name": {
          "shape": "S8"
        },
        "version": {
          "shape": "So"
        }
      }
    },
    "So": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "Sr": {
      "type": "structure",
      "required": [
        "name",
        "version"
      ],
      "members": {
        "name": {
          "shape": "S8"
        },
        "version": {
          "shape": "So"
        }
      }
    },
    "Su": {
      "type": "structure",
      "required": [
        "activityType",
        "status",
        "creationDate"
      ],
      "members": {
        "activityType": {
          "shape": "Sn"
        },
        "status": {
          "shape": "Sv"
        },
        "description": {
          "shape": "Sw"
        },
        "creationDate": {
          "type": "timestamp"
        },
        "deprecationDate": {
          "type": "timestamp"
        }
      }
    },
    "Sv": {
      "type": "string",
      "enum": [
        "REGISTERED",
        "DEPRECATED"
      ]
    },
    "Sw": {
      "type": "string",
      "max": 1024
    },
    "Sy": {
      "type": "string",
      "max": 8
    },
    "S12": {
      "type": "structure",
      "required": [
        "name",
        "status"
      ],
      "members": {
        "name": {
          "shape": "S2"
        },
        "status": {
          "shape": "Sv"
        },
        "description": {
          "shape": "Sw"
        }
      }
    },
    "S14": {
      "type": "string",
      "max": 8,
      "min": 1
    },
    "S16": {
      "type": "structure",
      "required": [
        "workflowId",
        "runId"
      ],
      "members": {
        "workflowId": {
          "shape": "S6"
        },
        "runId": {
          "shape": "S17"
        }
      }
    },
    "S17": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "S19": {
      "type": "structure",
      "required": [
        "execution",
        "workflowType",
        "startTimestamp",
        "executionStatus"
      ],
      "members": {
        "execution": {
          "shape": "S16"
        },
        "workflowType": {
          "shape": "Sr"
        },
        "startTimestamp": {
          "type": "timestamp"
        },
        "closeTimestamp": {
          "type": "timestamp"
        },
        "executionStatus": {
          "type": "string",
          "enum": [
            "OPEN",
            "CLOSED"
          ]
        },
        "closeStatus": {
          "shape": "Sd"
        },
        "parent": {
          "shape": "S16"
        },
        "tagList": {
          "shape": "S1b"
        },
        "cancelRequested": {
          "type": "boolean"
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {
        "shape": "Sb"
      },
      "max": 5
    },
    "S1e": {
      "type": "string",
      "max": 8,
      "min": 1
    },
    "S1f": {
      "type": "string",
      "enum": [
        "TERMINATE",
        "REQUEST_CANCEL",
        "ABANDON"
      ]
    },
    "S1g": {
      "type": "string",
      "max": 1600,
      "min": 1
    },
    "S1j": {
      "type": "string",
      "max": 32768
    },
    "S1m": {
      "type": "structure",
      "required": [
        "workflowType",
        "status",
        "creationDate"
      ],
      "members": {
        "workflowType": {
          "shape": "Sr"
        },
        "status": {
          "shape": "Sv"
        },
        "description": {
          "shape": "Sw"
        },
        "creationDate": {
          "type": "timestamp"
        },
        "deprecationDate": {
          "type": "timestamp"
        }
      }
    },
    "S1p": {
      "type": "string",
      "max": 2048
    },
    "S1q": {
      "type": "integer",
      "max": 1000,
      "min": 0
    },
    "S1t": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "eventTimestamp",
          "eventType",
          "eventId"
        ],
        "members": {
          "eventTimestamp": {
            "type": "timestamp"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "WorkflowExecutionStarted",
              "WorkflowExecutionCancelRequested",
              "WorkflowExecutionCompleted",
              "CompleteWorkflowExecutionFailed",
              "WorkflowExecutionFailed",
              "FailWorkflowExecutionFailed",
              "WorkflowExecutionTimedOut",
              "WorkflowExecutionCanceled",
              "CancelWorkflowExecutionFailed",
              "WorkflowExecutionContinuedAsNew",
              "ContinueAsNewWorkflowExecutionFailed",
              "WorkflowExecutionTerminated",
              "DecisionTaskScheduled",
              "DecisionTaskStarted",
              "DecisionTaskCompleted",
              "DecisionTaskTimedOut",
              "ActivityTaskScheduled",
              "ScheduleActivityTaskFailed",
              "ActivityTaskStarted",
              "ActivityTaskCompleted",
              "ActivityTaskFailed",
              "ActivityTaskTimedOut",
              "ActivityTaskCanceled",
              "ActivityTaskCancelRequested",
              "RequestCancelActivityTaskFailed",
              "WorkflowExecutionSignaled",
              "MarkerRecorded",
              "RecordMarkerFailed",
              "TimerStarted",
              "StartTimerFailed",
              "TimerFired",
              "TimerCanceled",
              "CancelTimerFailed",
              "StartChildWorkflowExecutionInitiated",
              "StartChildWorkflowExecutionFailed",
              "ChildWorkflowExecutionStarted",
              "ChildWorkflowExecutionCompleted",
              "ChildWorkflowExecutionFailed",
              "ChildWorkflowExecutionTimedOut",
              "ChildWorkflowExecutionCanceled",
              "ChildWorkflowExecutionTerminated",
              "SignalExternalWorkflowExecutionInitiated",
              "SignalExternalWorkflowExecutionFailed",
              "ExternalWorkflowExecutionSignaled",
              "RequestCancelExternalWorkflowExecutionInitiated",
              "RequestCancelExternalWorkflowExecutionFailed",
              "ExternalWorkflowExecutionCancelRequested",
              "LambdaFunctionScheduled",
              "LambdaFunctionStarted",
              "LambdaFunctionCompleted",
              "LambdaFunctionFailed",
              "LambdaFunctionTimedOut",
              "ScheduleLambdaFunctionFailed",
              "StartLambdaFunctionFailed"
            ]
          },
          "eventId": {
            "type": "long"
          },
          "workflowExecutionStartedEventAttributes": {
            "type": "structure",
            "required": [
              "childPolicy",
              "taskList",
              "workflowType"
            ],
            "members": {
              "input": {
                "shape": "S1j"
              },
              "executionStartToCloseTimeout": {
                "shape": "Sy"
              },
              "taskStartToCloseTimeout": {
                "shape": "Sy"
              },
              "childPolicy": {
                "shape": "S1f"
              },
              "taskList": {
                "shape": "Sj"
              },
              "taskPriority": {},
              "workflowType": {
                "shape": "Sr"
              },
              "tagList": {
                "shape": "S1b"
              },
              "continuedExecutionRunId": {
                "shape": "S1y"
              },
              "parentWorkflowExecution": {
                "shape": "S16"
              },
              "parentInitiatedEventId": {
                "type": "long"
              },
              "lambdaRole": {
                "shape": "S1g"
              }
            }
          },
          "workflowExecutionCompletedEventAttributes": {
            "type": "structure",
            "required": [
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "result": {
                "shape": "S1j"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "completeWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "cause": {
                "type": "string",
                "enum": [
                  "UNHANDLED_DECISION",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "workflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "reason": {
                "shape": "S23"
              },
              "details": {
                "shape": "S1j"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "failWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "cause": {
                "type": "string",
                "enum": [
                  "UNHANDLED_DECISION",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "workflowExecutionTimedOutEventAttributes": {
            "type": "structure",
            "required": [
              "timeoutType",
              "childPolicy"
            ],
            "members": {
              "timeoutType": {
                "shape": "S27"
              },
              "childPolicy": {
                "shape": "S1f"
              }
            }
          },
          "workflowExecutionCanceledEventAttributes": {
            "type": "structure",
            "required": [
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "details": {
                "shape": "S1j"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "cancelWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "cause": {
                "type": "string",
                "enum": [
                  "UNHANDLED_DECISION",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "workflowExecutionContinuedAsNewEventAttributes": {
            "type": "structure",
            "required": [
              "decisionTaskCompletedEventId",
              "newExecutionRunId",
              "taskList",
              "childPolicy",
              "workflowType"
            ],
            "members": {
              "input": {
                "shape": "S1j"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "newExecutionRunId": {
                "shape": "S17"
              },
              "executionStartToCloseTimeout": {
                "shape": "Sy"
              },
              "taskList": {
                "shape": "Sj"
              },
              "taskPriority": {},
              "taskStartToCloseTimeout": {
                "shape": "Sy"
              },
              "childPolicy": {
                "shape": "S1f"
              },
              "tagList": {
                "shape": "S1b"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "lambdaRole": {
                "shape": "S1g"
              }
            }
          },
          "continueAsNewWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "cause": {
                "type": "string",
                "enum": [
                  "UNHANDLED_DECISION",
                  "WORKFLOW_TYPE_DEPRECATED",
                  "WORKFLOW_TYPE_DOES_NOT_EXIST",
                  "DEFAULT_EXECUTION_START_TO_CLOSE_TIMEOUT_UNDEFINED",
                  "DEFAULT_TASK_START_TO_CLOSE_TIMEOUT_UNDEFINED",
                  "DEFAULT_TASK_LIST_UNDEFINED",
                  "DEFAULT_CHILD_POLICY_UNDEFINED",
                  "CONTINUE_AS_NEW_WORKFLOW_EXECUTION_RATE_EXCEEDED",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "workflowExecutionTerminatedEventAttributes": {
            "type": "structure",
            "required": [
              "childPolicy"
            ],
            "members": {
              "reason": {
                "shape": "S2f"
              },
              "details": {
                "shape": "S1j"
              },
              "childPolicy": {
                "shape": "S1f"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "CHILD_POLICY_APPLIED",
                  "EVENT_LIMIT_EXCEEDED",
                  "OPERATOR_INITIATED"
                ]
              }
            }
          },
          "workflowExecutionCancelRequestedEventAttributes": {
            "type": "structure",
            "members": {
              "externalWorkflowExecution": {
                "shape": "S16"
              },
              "externalInitiatedEventId": {
                "type": "long"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "CHILD_POLICY_APPLIED"
                ]
              }
            }
          },
          "decisionTaskScheduledEventAttributes": {
            "type": "structure",
            "required": [
              "taskList"
            ],
            "members": {
              "taskList": {
                "shape": "Sj"
              },
              "taskPriority": {},
              "startToCloseTimeout": {
                "shape": "Sy"
              }
            }
          },
          "decisionTaskStartedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId"
            ],
            "members": {
              "identity": {
                "shape": "S2l"
              },
              "scheduledEventId": {
                "type": "long"
              }
            }
          },
          "decisionTaskCompletedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "executionContext": {
                "shape": "S1j"
              },
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "decisionTaskTimedOutEventAttributes": {
            "type": "structure",
            "required": [
              "timeoutType",
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "timeoutType": {
                "type": "string",
                "enum": [
                  "START_TO_CLOSE"
                ]
              },
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "activityTaskScheduledEventAttributes": {
            "type": "structure",
            "required": [
              "activityType",
              "activityId",
              "taskList",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "activityType": {
                "shape": "Sn"
              },
              "activityId": {
                "shape": "S2q"
              },
              "input": {
                "shape": "S1j"
              },
              "control": {
                "shape": "S1j"
              },
              "scheduleToStartTimeout": {
                "shape": "Sy"
              },
              "scheduleToCloseTimeout": {
                "shape": "Sy"
              },
              "startToCloseTimeout": {
                "shape": "Sy"
              },
              "taskList": {
                "shape": "Sj"
              },
              "taskPriority": {},
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "heartbeatTimeout": {
                "shape": "Sy"
              }
            }
          },
          "activityTaskStartedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId"
            ],
            "members": {
              "identity": {
                "shape": "S2l"
              },
              "scheduledEventId": {
                "type": "long"
              }
            }
          },
          "activityTaskCompletedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "result": {
                "shape": "S1j"
              },
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "activityTaskFailedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "reason": {
                "shape": "S23"
              },
              "details": {
                "shape": "S1j"
              },
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "activityTaskTimedOutEventAttributes": {
            "type": "structure",
            "required": [
              "timeoutType",
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "timeoutType": {
                "type": "string",
                "enum": [
                  "START_TO_CLOSE",
                  "SCHEDULE_TO_START",
                  "SCHEDULE_TO_CLOSE",
                  "HEARTBEAT"
                ]
              },
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              },
              "details": {
                "shape": "S2w"
              }
            }
          },
          "activityTaskCanceledEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "details": {
                "shape": "S1j"
              },
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              },
              "latestCancelRequestedEventId": {
                "type": "long"
              }
            }
          },
          "activityTaskCancelRequestedEventAttributes": {
            "type": "structure",
            "required": [
              "decisionTaskCompletedEventId",
              "activityId"
            ],
            "members": {
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "activityId": {
                "shape": "S2q"
              }
            }
          },
          "workflowExecutionSignaledEventAttributes": {
            "type": "structure",
            "required": [
              "signalName"
            ],
            "members": {
              "signalName": {
                "shape": "S30"
              },
              "input": {
                "shape": "S1j"
              },
              "externalWorkflowExecution": {
                "shape": "S16"
              },
              "externalInitiatedEventId": {
                "type": "long"
              }
            }
          },
          "markerRecordedEventAttributes": {
            "type": "structure",
            "required": [
              "markerName",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "markerName": {
                "shape": "S32"
              },
              "details": {
                "shape": "S1j"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "recordMarkerFailedEventAttributes": {
            "type": "structure",
            "required": [
              "markerName",
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "markerName": {
                "shape": "S32"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "timerStartedEventAttributes": {
            "type": "structure",
            "required": [
              "timerId",
              "startToFireTimeout",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "timerId": {
                "shape": "S36"
              },
              "control": {
                "shape": "S1j"
              },
              "startToFireTimeout": {
                "shape": "S1e"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "timerFiredEventAttributes": {
            "type": "structure",
            "required": [
              "timerId",
              "startedEventId"
            ],
            "members": {
              "timerId": {
                "shape": "S36"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "timerCanceledEventAttributes": {
            "type": "structure",
            "required": [
              "timerId",
              "startedEventId",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "timerId": {
                "shape": "S36"
              },
              "startedEventId": {
                "type": "long"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "startChildWorkflowExecutionInitiatedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowId",
              "workflowType",
              "taskList",
              "decisionTaskCompletedEventId",
              "childPolicy"
            ],
            "members": {
              "workflowId": {
                "shape": "S6"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "control": {
                "shape": "S1j"
              },
              "input": {
                "shape": "S1j"
              },
              "executionStartToCloseTimeout": {
                "shape": "Sy"
              },
              "taskList": {
                "shape": "Sj"
              },
              "taskPriority": {},
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "childPolicy": {
                "shape": "S1f"
              },
              "taskStartToCloseTimeout": {
                "shape": "Sy"
              },
              "tagList": {
                "shape": "S1b"
              },
              "lambdaRole": {
                "shape": "S1g"
              }
            }
          },
          "childWorkflowExecutionStartedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "workflowType",
              "initiatedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "initiatedEventId": {
                "type": "long"
              }
            }
          },
          "childWorkflowExecutionCompletedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "workflowType",
              "initiatedEventId",
              "startedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "result": {
                "shape": "S1j"
              },
              "initiatedEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "childWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "workflowType",
              "initiatedEventId",
              "startedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "reason": {
                "shape": "S23"
              },
              "details": {
                "shape": "S1j"
              },
              "initiatedEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "childWorkflowExecutionTimedOutEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "workflowType",
              "timeoutType",
              "initiatedEventId",
              "startedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "timeoutType": {
                "shape": "S27"
              },
              "initiatedEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "childWorkflowExecutionCanceledEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "workflowType",
              "initiatedEventId",
              "startedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "details": {
                "shape": "S1j"
              },
              "initiatedEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "childWorkflowExecutionTerminatedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "workflowType",
              "initiatedEventId",
              "startedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "workflowType": {
                "shape": "Sr"
              },
              "initiatedEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              }
            }
          },
          "signalExternalWorkflowExecutionInitiatedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowId",
              "signalName",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "workflowId": {
                "shape": "S6"
              },
              "runId": {
                "shape": "S1y"
              },
              "signalName": {
                "shape": "S30"
              },
              "input": {
                "shape": "S1j"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "control": {
                "shape": "S1j"
              }
            }
          },
          "externalWorkflowExecutionSignaledEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "initiatedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "initiatedEventId": {
                "type": "long"
              }
            }
          },
          "signalExternalWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowId",
              "cause",
              "initiatedEventId",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "workflowId": {
                "shape": "S6"
              },
              "runId": {
                "shape": "S1y"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "UNKNOWN_EXTERNAL_WORKFLOW_EXECUTION",
                  "SIGNAL_EXTERNAL_WORKFLOW_EXECUTION_RATE_EXCEEDED",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "initiatedEventId": {
                "type": "long"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "control": {
                "shape": "S1j"
              }
            }
          },
          "externalWorkflowExecutionCancelRequestedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowExecution",
              "initiatedEventId"
            ],
            "members": {
              "workflowExecution": {
                "shape": "S16"
              },
              "initiatedEventId": {
                "type": "long"
              }
            }
          },
          "requestCancelExternalWorkflowExecutionInitiatedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowId",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "workflowId": {
                "shape": "S6"
              },
              "runId": {
                "shape": "S1y"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "control": {
                "shape": "S1j"
              }
            }
          },
          "requestCancelExternalWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowId",
              "cause",
              "initiatedEventId",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "workflowId": {
                "shape": "S6"
              },
              "runId": {
                "shape": "S1y"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "UNKNOWN_EXTERNAL_WORKFLOW_EXECUTION",
                  "REQUEST_CANCEL_EXTERNAL_WORKFLOW_EXECUTION_RATE_EXCEEDED",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "initiatedEventId": {
                "type": "long"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "control": {
                "shape": "S1j"
              }
            }
          },
          "scheduleActivityTaskFailedEventAttributes": {
            "type": "structure",
            "required": [
              "activityType",
              "activityId",
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "activityType": {
                "shape": "Sn"
              },
              "activityId": {
                "shape": "S2q"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "ACTIVITY_TYPE_DEPRECATED",
                  "ACTIVITY_TYPE_DOES_NOT_EXIST",
                  "ACTIVITY_ID_ALREADY_IN_USE",
                  "OPEN_ACTIVITIES_LIMIT_EXCEEDED",
                  "ACTIVITY_CREATION_RATE_EXCEEDED",
                  "DEFAULT_SCHEDULE_TO_CLOSE_TIMEOUT_UNDEFINED",
                  "DEFAULT_TASK_LIST_UNDEFINED",
                  "DEFAULT_SCHEDULE_TO_START_TIMEOUT_UNDEFINED",
                  "DEFAULT_START_TO_CLOSE_TIMEOUT_UNDEFINED",
                  "DEFAULT_HEARTBEAT_TIMEOUT_UNDEFINED",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "requestCancelActivityTaskFailedEventAttributes": {
            "type": "structure",
            "required": [
              "activityId",
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "activityId": {
                "shape": "S2q"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "ACTIVITY_ID_UNKNOWN",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "startTimerFailedEventAttributes": {
            "type": "structure",
            "required": [
              "timerId",
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "timerId": {
                "shape": "S36"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "TIMER_ID_ALREADY_IN_USE",
                  "OPEN_TIMERS_LIMIT_EXCEEDED",
                  "TIMER_CREATION_RATE_EXCEEDED",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "cancelTimerFailedEventAttributes": {
            "type": "structure",
            "required": [
              "timerId",
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "timerId": {
                "shape": "S36"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "TIMER_ID_UNKNOWN",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "startChildWorkflowExecutionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "workflowType",
              "cause",
              "workflowId",
              "initiatedEventId",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "workflowType": {
                "shape": "Sr"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "WORKFLOW_TYPE_DOES_NOT_EXIST",
                  "WORKFLOW_TYPE_DEPRECATED",
                  "OPEN_CHILDREN_LIMIT_EXCEEDED",
                  "OPEN_WORKFLOWS_LIMIT_EXCEEDED",
                  "CHILD_CREATION_RATE_EXCEEDED",
                  "WORKFLOW_ALREADY_RUNNING",
                  "DEFAULT_EXECUTION_START_TO_CLOSE_TIMEOUT_UNDEFINED",
                  "DEFAULT_TASK_LIST_UNDEFINED",
                  "DEFAULT_TASK_START_TO_CLOSE_TIMEOUT_UNDEFINED",
                  "DEFAULT_CHILD_POLICY_UNDEFINED",
                  "OPERATION_NOT_PERMITTED"
                ]
              },
              "workflowId": {
                "shape": "S6"
              },
              "initiatedEventId": {
                "type": "long"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              },
              "control": {
                "shape": "S1j"
              }
            }
          },
          "lambdaFunctionScheduledEventAttributes": {
            "type": "structure",
            "required": [
              "id",
              "name",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "id": {
                "shape": "S3z"
              },
              "name": {
                "shape": "S40"
              },
              "control": {
                "shape": "S1j"
              },
              "input": {
                "shape": "S41"
              },
              "startToCloseTimeout": {
                "shape": "Sy"
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "lambdaFunctionStartedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId"
            ],
            "members": {
              "scheduledEventId": {
                "type": "long"
              }
            }
          },
          "lambdaFunctionCompletedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              },
              "result": {
                "shape": "S1j"
              }
            }
          },
          "lambdaFunctionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              },
              "reason": {
                "shape": "S23"
              },
              "details": {
                "shape": "S1j"
              }
            }
          },
          "lambdaFunctionTimedOutEventAttributes": {
            "type": "structure",
            "required": [
              "scheduledEventId",
              "startedEventId"
            ],
            "members": {
              "scheduledEventId": {
                "type": "long"
              },
              "startedEventId": {
                "type": "long"
              },
              "timeoutType": {
                "type": "string",
                "enum": [
                  "START_TO_CLOSE"
                ]
              }
            }
          },
          "scheduleLambdaFunctionFailedEventAttributes": {
            "type": "structure",
            "required": [
              "id",
              "name",
              "cause",
              "decisionTaskCompletedEventId"
            ],
            "members": {
              "id": {
                "shape": "S3z"
              },
              "name": {
                "shape": "S40"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "ID_ALREADY_IN_USE",
                  "OPEN_LAMBDA_FUNCTIONS_LIMIT_EXCEEDED",
                  "LAMBDA_FUNCTION_CREATION_RATE_EXCEEDED",
                  "LAMBDA_SERVICE_NOT_AVAILABLE_IN_REGION"
                ]
              },
              "decisionTaskCompletedEventId": {
                "type": "long"
              }
            }
          },
          "startLambdaFunctionFailedEventAttributes": {
            "type": "structure",
            "members": {
              "scheduledEventId": {
                "type": "long"
              },
              "cause": {
                "type": "string",
                "enum": [
                  "ASSUME_ROLE_FAILED"
                ]
              },
              "message": {
                "type": "string",
                "max": 1728
              }
            }
          }
        }
      }
    },
    "S1y": {
      "type": "string",
      "max": 64
    },
    "S23": {
      "type": "string",
      "max": 256
    },
    "S27": {
      "type": "string",
      "enum": [
        "START_TO_CLOSE"
      ]
    },
    "S2f": {
      "type": "string",
      "max": 256
    },
    "S2l": {
      "type": "string",
      "max": 256
    },
    "S2q": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S2w": {
      "type": "string",
      "max": 2048
    },
    "S30": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S32": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S36": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S3z": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S40": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "S41": {
      "type": "string",
      "max": 32768,
      "min": 0
    },
    "S4g": {
      "type": "structure",
      "required": [
        "executionInfos"
      ],
      "members": {
        "executionInfos": {
          "type": "list",
          "member": {
            "shape": "S19"
          }
        },
        "nextPageToken": {
          "shape": "S1p"
        }
      }
    },
    "S4r": {
      "type": "string",
      "max": 1024,
      "min": 1
    }
  }
}