{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-11-05",
    "endpointPrefix": "transfer",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Transfer",
    "serviceFullName": "AWS Transfer Family",
    "serviceId": "Transfer",
    "signatureVersion": "v4",
    "signingName": "transfer",
    "targetPrefix": "TransferService",
    "uid": "transfer-2018-11-05"
  },
  "operations": {
    "CreateAccess": {
      "input": {
        "type": "structure",
        "required": [
          "Role",
          "ServerId",
          "ExternalId"
        ],
        "members": {
          "HomeDirectory": {},
          "HomeDirectoryType": {},
          "HomeDirectoryMappings": {
            "shape": "S4"
          },
          "Policy": {},
          "PosixProfile": {
            "shape": "Sa"
          },
          "Role": {},
          "ServerId": {},
          "ExternalId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "ExternalId"
        ],
        "members": {
          "ServerId": {},
          "ExternalId": {}
        }
      }
    },
    "CreateAgreement": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "LocalProfileId",
          "PartnerProfileId",
          "BaseDirectory",
          "AccessRole"
        ],
        "members": {
          "Description": {},
          "ServerId": {},
          "LocalProfileId": {},
          "PartnerProfileId": {},
          "BaseDirectory": {},
          "AccessRole": {},
          "Status": {},
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AgreementId"
        ],
        "members": {
          "AgreementId": {}
        }
      }
    },
    "CreateConnector": {
      "input": {
        "type": "structure",
        "required": [
          "Url",
          "AccessRole"
        ],
        "members": {
          "Url": {},
          "As2Config": {
            "shape": "St"
          },
          "AccessRole": {},
          "LoggingRole": {},
          "Tags": {
            "shape": "Sl"
          },
          "SftpConfig": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ConnectorId"
        ],
        "members": {
          "ConnectorId": {}
        }
      }
    },
    "CreateProfile": {
      "input": {
        "type": "structure",
        "required": [
          "As2Id",
          "ProfileType"
        ],
        "members": {
          "As2Id": {},
          "ProfileType": {},
          "CertificateIds": {
            "shape": "S1a"
          },
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProfileId"
        ],
        "members": {
          "ProfileId": {}
        }
      }
    },
    "CreateServer": {
      "input": {
        "type": "structure",
        "members": {
          "Certificate": {},
          "Domain": {},
          "EndpointDetails": {
            "shape": "S1g"
          },
          "EndpointType": {},
          "HostKey": {
            "shape": "S1q"
          },
          "IdentityProviderDetails": {
            "shape": "S1r"
          },
          "IdentityProviderType": {},
          "LoggingRole": {},
          "PostAuthenticationLoginBanner": {},
          "PreAuthenticationLoginBanner": {},
          "Protocols": {
            "shape": "S1z"
          },
          "ProtocolDetails": {
            "shape": "S21"
          },
          "SecurityPolicyName": {},
          "Tags": {
            "shape": "Sl"
          },
          "WorkflowDetails": {
            "shape": "S28"
          },
          "StructuredLogDestinations": {
            "shape": "S2d"
          },
          "S3StorageOptions": {
            "shape": "S2f"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "ServerId": {}
        }
      }
    },
    "CreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "Role",
          "ServerId",
          "UserName"
        ],
        "members": {
          "HomeDirectory": {},
          "HomeDirectoryType": {},
          "HomeDirectoryMappings": {
            "shape": "S4"
          },
          "Policy": {},
          "PosixProfile": {
            "shape": "Sa"
          },
          "Role": {},
          "ServerId": {},
          "SshPublicKeyBody": {},
          "Tags": {
            "shape": "Sl"
          },
          "UserName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "UserName": {}
        }
      }
    },
    "CreateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Steps"
        ],
        "members": {
          "Description": {},
          "Steps": {
            "shape": "S2o"
          },
          "OnExceptionSteps": {
            "shape": "S2o"
          },
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkflowId"
        ],
        "members": {
          "WorkflowId": {}
        }
      }
    },
    "DeleteAccess": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "ExternalId"
        ],
        "members": {
          "ServerId": {},
          "ExternalId": {}
        }
      }
    },
    "DeleteAgreement": {
      "input": {
        "type": "structure",
        "required": [
          "AgreementId",
          "ServerId"
        ],
        "members": {
          "AgreementId": {},
          "ServerId": {}
        }
      }
    },
    "DeleteCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateId"
        ],
        "members": {
          "CertificateId": {}
        }
      }
    },
    "DeleteConnector": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectorId"
        ],
        "members": {
          "ConnectorId": {}
        }
      }
    },
    "DeleteHostKey": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "HostKeyId"
        ],
        "members": {
          "ServerId": {},
          "HostKeyId": {}
        }
      }
    },
    "DeleteProfile": {
      "input": {
        "type": "structure",
        "required": [
          "ProfileId"
        ],
        "members": {
          "ProfileId": {}
        }
      }
    },
    "DeleteServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "ServerId": {}
        }
      }
    },
    "DeleteSshPublicKey": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "SshPublicKeyId",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "SshPublicKeyId": {},
          "UserName": {}
        }
      }
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "UserName": {}
        }
      }
    },
    "DeleteWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "WorkflowId"
        ],
        "members": {
          "WorkflowId": {}
        }
      }
    },
    "DescribeAccess": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "ExternalId"
        ],
        "members": {
          "ServerId": {},
          "ExternalId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "Access"
        ],
        "members": {
          "ServerId": {},
          "Access": {
            "type": "structure",
            "members": {
              "HomeDirectory": {},
              "HomeDirectoryMappings": {
                "shape": "S4"
              },
              "HomeDirectoryType": {},
              "Policy": {},
              "PosixProfile": {
                "shape": "Sa"
              },
              "Role": {},
              "ExternalId": {}
            }
          }
        }
      }
    },
    "DescribeAgreement": {
      "input": {
        "type": "structure",
        "required": [
          "AgreementId",
          "ServerId"
        ],
        "members": {
          "AgreementId": {},
          "ServerId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Agreement"
        ],
        "members": {
          "Agreement": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "AgreementId": {},
              "Description": {},
              "Status": {},
              "ServerId": {},
              "LocalProfileId": {},
              "PartnerProfileId": {},
              "BaseDirectory": {},
              "AccessRole": {},
              "Tags": {
                "shape": "Sl"
              }
            }
          }
        }
      }
    },
    "DescribeCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateId"
        ],
        "members": {
          "CertificateId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Certificate"
        ],
        "members": {
          "Certificate": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "CertificateId": {},
              "Usage": {},
              "Status": {},
              "Certificate": {
                "shape": "S41"
              },
              "CertificateChain": {
                "shape": "S42"
              },
              "ActiveDate": {
                "type": "timestamp"
              },
              "InactiveDate": {
                "type": "timestamp"
              },
              "Serial": {},
              "NotBeforeDate": {
                "type": "timestamp"
              },
              "NotAfterDate": {
                "type": "timestamp"
              },
              "Type": {},
              "Description": {},
              "Tags": {
                "shape": "Sl"
              }
            }
          }
        }
      }
    },
    "DescribeConnector": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectorId"
        ],
        "members": {
          "ConnectorId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Connector"
        ],
        "members": {
          "Connector": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "ConnectorId": {},
              "Url": {},
              "As2Config": {
                "shape": "St"
              },
              "AccessRole": {},
              "LoggingRole": {},
              "Tags": {
                "shape": "Sl"
              },
              "SftpConfig": {
                "shape": "S11"
              }
            }
          }
        }
      }
    },
    "DescribeExecution": {
      "input": {
        "type": "structure",
        "required": [
          "ExecutionId",
          "WorkflowId"
        ],
        "members": {
          "ExecutionId": {},
          "WorkflowId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkflowId",
          "Execution"
        ],
        "members": {
          "WorkflowId": {},
          "Execution": {
            "type": "structure",
            "members": {
              "ExecutionId": {},
              "InitialFileLocation": {
                "shape": "S4d"
              },
              "ServiceMetadata": {
                "shape": "S4h"
              },
              "ExecutionRole": {},
              "LoggingConfiguration": {
                "type": "structure",
                "members": {
                  "LoggingRole": {},
                  "LogGroupName": {}
                }
              },
              "PosixProfile": {
                "shape": "Sa"
              },
              "Status": {},
              "Results": {
                "type": "structure",
                "members": {
                  "Steps": {
                    "shape": "S4o"
                  },
                  "OnExceptionSteps": {
                    "shape": "S4o"
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeHostKey": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "HostKeyId"
        ],
        "members": {
          "ServerId": {},
          "HostKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostKey"
        ],
        "members": {
          "HostKey": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "HostKeyId": {},
              "HostKeyFingerprint": {},
              "Description": {},
              "Type": {},
              "DateImported": {
                "type": "timestamp"
              },
              "Tags": {
                "shape": "Sl"
              }
            }
          }
        }
      }
    },
    "DescribeProfile": {
      "input": {
        "type": "structure",
        "required": [
          "ProfileId"
        ],
        "members": {
          "ProfileId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Profile"
        ],
        "members": {
          "Profile": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "ProfileId": {},
              "ProfileType": {},
              "As2Id": {},
              "CertificateIds": {
                "shape": "S1a"
              },
              "Tags": {
                "shape": "Sl"
              }
            }
          }
        }
      }
    },
    "DescribeSecurityPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "SecurityPolicyName"
        ],
        "members": {
          "SecurityPolicyName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SecurityPolicy"
        ],
        "members": {
          "SecurityPolicy": {
            "type": "structure",
            "required": [
              "SecurityPolicyName"
            ],
            "members": {
              "Fips": {
                "type": "boolean"
              },
              "SecurityPolicyName": {},
              "SshCiphers": {
                "shape": "S58"
              },
              "SshKexs": {
                "shape": "S58"
              },
              "SshMacs": {
                "shape": "S58"
              },
              "TlsCiphers": {
                "shape": "S58"
              }
            }
          }
        }
      }
    },
    "DescribeServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "ServerId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Server"
        ],
        "members": {
          "Server": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "Certificate": {},
              "ProtocolDetails": {
                "shape": "S21"
              },
              "Domain": {},
              "EndpointDetails": {
                "shape": "S1g"
              },
              "EndpointType": {},
              "HostKeyFingerprint": {},
              "IdentityProviderDetails": {
                "shape": "S1r"
              },
              "IdentityProviderType": {},
              "LoggingRole": {},
              "PostAuthenticationLoginBanner": {},
              "PreAuthenticationLoginBanner": {},
              "Protocols": {
                "shape": "S1z"
              },
              "SecurityPolicyName": {},
              "ServerId": {},
              "State": {},
              "Tags": {
                "shape": "Sl"
              },
              "UserCount": {
                "type": "integer"
              },
              "WorkflowDetails": {
                "shape": "S28"
              },
              "StructuredLogDestinations": {
                "shape": "S2d"
              },
              "S3StorageOptions": {
                "shape": "S2f"
              }
            }
          }
        }
      }
    },
    "DescribeUser": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "UserName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "User"
        ],
        "members": {
          "ServerId": {},
          "User": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "HomeDirectory": {},
              "HomeDirectoryMappings": {
                "shape": "S4"
              },
              "HomeDirectoryType": {},
              "Policy": {},
              "PosixProfile": {
                "shape": "Sa"
              },
              "Role": {},
              "SshPublicKeys": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "DateImported",
                    "SshPublicKeyBody",
                    "SshPublicKeyId"
                  ],
                  "members": {
                    "DateImported": {
                      "type": "timestamp"
                    },
                    "SshPublicKeyBody": {},
                    "SshPublicKeyId": {}
                  }
                }
              },
              "Tags": {
                "shape": "Sl"
              },
              "UserName": {}
            }
          }
        }
      }
    },
    "DescribeWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "WorkflowId"
        ],
        "members": {
          "WorkflowId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workflow"
        ],
        "members": {
          "Workflow": {
            "type": "structure",
            "required": [
              "Arn"
            ],
            "members": {
              "Arn": {},
              "Description": {},
              "Steps": {
                "shape": "S2o"
              },
              "OnExceptionSteps": {
                "shape": "S2o"
              },
              "WorkflowId": {},
              "Tags": {
                "shape": "Sl"
              }
            }
          }
        }
      }
    },
    "ImportCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "Usage",
          "Certificate"
        ],
        "members": {
          "Usage": {},
          "Certificate": {
            "shape": "S41"
          },
          "CertificateChain": {
            "shape": "S42"
          },
          "PrivateKey": {
            "type": "string",
            "sensitive": true
          },
          "ActiveDate": {
            "type": "timestamp"
          },
          "InactiveDate": {
            "type": "timestamp"
          },
          "Description": {},
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CertificateId"
        ],
        "members": {
          "CertificateId": {}
        }
      }
    },
    "ImportHostKey": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "HostKeyBody"
        ],
        "members": {
          "ServerId": {},
          "HostKeyBody": {
            "shape": "S1q"
          },
          "Description": {},
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "HostKeyId"
        ],
        "members": {
          "ServerId": {},
          "HostKeyId": {}
        }
      }
    },
    "ImportSshPublicKey": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "SshPublicKeyBody",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "SshPublicKeyBody": {},
          "UserName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "SshPublicKeyId",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "SshPublicKeyId": {},
          "UserName": {}
        }
      }
    },
    "ListAccesses": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "ServerId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "Accesses"
        ],
        "members": {
          "NextToken": {},
          "ServerId": {},
          "Accesses": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "HomeDirectory": {},
                "HomeDirectoryType": {},
                "Role": {},
                "ExternalId": {}
              }
            }
          }
        }
      }
    },
    "ListAgreements": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "ServerId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Agreements"
        ],
        "members": {
          "NextToken": {},
          "Agreements": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "AgreementId": {},
                "Description": {},
                "Status": {},
                "ServerId": {},
                "LocalProfileId": {},
                "PartnerProfileId": {}
              }
            }
          }
        }
      }
    },
    "ListCertificates": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Certificates"
        ],
        "members": {
          "NextToken": {},
          "Certificates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "CertificateId": {},
                "Usage": {},
                "Status": {},
                "ActiveDate": {
                  "type": "timestamp"
                },
                "InactiveDate": {
                  "type": "timestamp"
                },
                "Type": {},
                "Description": {}
              }
            }
          }
        }
      }
    },
    "ListConnectors": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Connectors"
        ],
        "members": {
          "NextToken": {},
          "Connectors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "ConnectorId": {},
                "Url": {}
              }
            }
          }
        }
      }
    },
    "ListExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "WorkflowId"
        ],
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "WorkflowId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkflowId",
          "Executions"
        ],
        "members": {
          "NextToken": {},
          "WorkflowId": {},
          "Executions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ExecutionId": {},
                "InitialFileLocation": {
                  "shape": "S4d"
                },
                "ServiceMetadata": {
                  "shape": "S4h"
                },
                "Status": {}
              }
            }
          }
        }
      }
    },
    "ListHostKeys": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "ServerId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "HostKeys"
        ],
        "members": {
          "NextToken": {},
          "ServerId": {},
          "HostKeys": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn"
              ],
              "members": {
                "Arn": {},
                "HostKeyId": {},
                "Fingerprint": {},
                "Description": {},
                "Type": {},
                "DateImported": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListProfiles": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "ProfileType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Profiles"
        ],
        "members": {
          "NextToken": {},
          "Profiles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "ProfileId": {},
                "As2Id": {},
                "ProfileType": {}
              }
            }
          }
        }
      }
    },
    "ListSecurityPolicies": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SecurityPolicyNames"
        ],
        "members": {
          "NextToken": {},
          "SecurityPolicyNames": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "ListServers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Servers"
        ],
        "members": {
          "NextToken": {},
          "Servers": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn"
              ],
              "members": {
                "Arn": {},
                "Domain": {},
                "IdentityProviderType": {},
                "EndpointType": {},
                "LoggingRole": {},
                "ServerId": {},
                "State": {},
                "UserCount": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn"
        ],
        "members": {
          "Arn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "NextToken": {},
          "Tags": {
            "shape": "Sl"
          }
        }
      }
    },
    "ListUsers": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "ServerId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "Users"
        ],
        "members": {
          "NextToken": {},
          "ServerId": {},
          "Users": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn"
              ],
              "members": {
                "Arn": {},
                "HomeDirectory": {},
                "HomeDirectoryType": {},
                "Role": {},
                "SshPublicKeyCount": {
                  "type": "integer"
                },
                "UserName": {}
              }
            }
          }
        }
      }
    },
    "ListWorkflows": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workflows"
        ],
        "members": {
          "NextToken": {},
          "Workflows": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WorkflowId": {},
                "Description": {},
                "Arn": {}
              }
            }
          }
        }
      }
    },
    "SendWorkflowStepState": {
      "input": {
        "type": "structure",
        "required": [
          "WorkflowId",
          "ExecutionId",
          "Token",
          "Status"
        ],
        "members": {
          "WorkflowId": {},
          "ExecutionId": {},
          "Token": {},
          "Status": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartFileTransfer": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectorId"
        ],
        "members": {
          "ConnectorId": {},
          "SendFilePaths": {
            "shape": "S7b"
          },
          "RetrieveFilePaths": {
            "shape": "S7b"
          },
          "LocalDirectoryPath": {},
          "RemoteDirectoryPath": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransferId"
        ],
        "members": {
          "TransferId": {}
        }
      }
    },
    "StartServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "ServerId": {}
        }
      }
    },
    "StopServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "ServerId": {}
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "Tags"
        ],
        "members": {
          "Arn": {},
          "Tags": {
            "shape": "Sl"
          }
        }
      }
    },
    "TestConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectorId"
        ],
        "members": {
          "ConnectorId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectorId": {},
          "Status": {},
          "StatusMessage": {}
        }
      }
    },
    "TestIdentityProvider": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "ServerProtocol": {},
          "SourceIp": {},
          "UserName": {},
          "UserPassword": {
            "type": "string",
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StatusCode",
          "Url"
        ],
        "members": {
          "Response": {},
          "StatusCode": {
            "type": "integer"
          },
          "Message": {},
          "Url": {}
        }
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "TagKeys"
        ],
        "members": {
          "Arn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "UpdateAccess": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "ExternalId"
        ],
        "members": {
          "HomeDirectory": {},
          "HomeDirectoryType": {},
          "HomeDirectoryMappings": {
            "shape": "S4"
          },
          "Policy": {},
          "PosixProfile": {
            "shape": "Sa"
          },
          "Role": {},
          "ServerId": {},
          "ExternalId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "ExternalId"
        ],
        "members": {
          "ServerId": {},
          "ExternalId": {}
        }
      }
    },
    "UpdateAgreement": {
      "input": {
        "type": "structure",
        "required": [
          "AgreementId",
          "ServerId"
        ],
        "members": {
          "AgreementId": {},
          "ServerId": {},
          "Description": {},
          "Status": {},
          "LocalProfileId": {},
          "PartnerProfileId": {},
          "BaseDirectory": {},
          "AccessRole": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AgreementId"
        ],
        "members": {
          "AgreementId": {}
        }
      }
    },
    "UpdateCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateId"
        ],
        "members": {
          "CertificateId": {},
          "ActiveDate": {
            "type": "timestamp"
          },
          "InactiveDate": {
            "type": "timestamp"
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CertificateId"
        ],
        "members": {
          "CertificateId": {}
        }
      }
    },
    "UpdateConnector": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectorId"
        ],
        "members": {
          "ConnectorId": {},
          "Url": {},
          "As2Config": {
            "shape": "St"
          },
          "AccessRole": {},
          "LoggingRole": {},
          "SftpConfig": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ConnectorId"
        ],
        "members": {
          "ConnectorId": {}
        }
      }
    },
    "UpdateHostKey": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "HostKeyId",
          "Description"
        ],
        "members": {
          "ServerId": {},
          "HostKeyId": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "HostKeyId"
        ],
        "members": {
          "ServerId": {},
          "HostKeyId": {}
        }
      }
    },
    "UpdateProfile": {
      "input": {
        "type": "structure",
        "required": [
          "ProfileId"
        ],
        "members": {
          "ProfileId": {},
          "CertificateIds": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProfileId"
        ],
        "members": {
          "ProfileId": {}
        }
      }
    },
    "UpdateServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "Certificate": {},
          "ProtocolDetails": {
            "shape": "S21"
          },
          "EndpointDetails": {
            "shape": "S1g"
          },
          "EndpointType": {},
          "HostKey": {
            "shape": "S1q"
          },
          "IdentityProviderDetails": {
            "shape": "S1r"
          },
          "LoggingRole": {},
          "PostAuthenticationLoginBanner": {},
          "PreAuthenticationLoginBanner": {},
          "Protocols": {
            "shape": "S1z"
          },
          "SecurityPolicyName": {},
          "ServerId": {},
          "WorkflowDetails": {
            "shape": "S28"
          },
          "StructuredLogDestinations": {
            "shape": "S2d"
          },
          "S3StorageOptions": {
            "shape": "S2f"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId"
        ],
        "members": {
          "ServerId": {}
        }
      }
    },
    "UpdateUser": {
      "input": {
        "type": "structure",
        "required": [
          "ServerId",
          "UserName"
        ],
        "members": {
          "HomeDirectory": {},
          "HomeDirectoryType": {},
          "HomeDirectoryMappings": {
            "shape": "S4"
          },
          "Policy": {},
          "PosixProfile": {
            "shape": "Sa"
          },
          "Role": {},
          "ServerId": {},
          "UserName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServerId",
          "UserName"
        ],
        "members": {
          "ServerId": {},
          "UserName": {}
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Entry",
          "Target"
        ],
        "members": {
          "Entry": {},
          "Target": {},
          "Type": {}
        }
      }
    },
    "Sa": {
      "type": "structure",
      "required": [
        "Uid",
        "Gid"
      ],
      "members": {
        "Uid": {
          "type": "long"
        },
        "Gid": {
          "type": "long"
        },
        "SecondaryGids": {
          "type": "list",
          "member": {
            "type": "long"
          }
        }
      }
    },
    "Sl": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "LocalProfileId": {},
        "PartnerProfileId": {},
        "MessageSubject": {},
        "Compression": {},
        "EncryptionAlgorithm": {},
        "SigningAlgorithm": {},
        "MdnSigningAlgorithm": {},
        "MdnResponse": {},
        "BasicAuthSecretId": {}
      }
    },
    "S11": {
      "type": "structure",
      "members": {
        "UserSecretId": {},
        "TrustedHostKeys": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1a": {
      "type": "list",
      "member": {}
    },
    "S1g": {
      "type": "structure",
      "members": {
        "AddressAllocationIds": {
          "type": "list",
          "member": {}
        },
        "SubnetIds": {
          "type": "list",
          "member": {}
        },
        "VpcEndpointId": {},
        "VpcId": {},
        "SecurityGroupIds": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1q": {
      "type": "string",
      "sensitive": true
    },
    "S1r": {
      "type": "structure",
      "members": {
        "Url": {},
        "InvocationRole": {},
        "DirectoryId": {},
        "Function": {},
        "SftpAuthenticationMethods": {}
      }
    },
    "S1z": {
      "type": "list",
      "member": {}
    },
    "S21": {
      "type": "structure",
      "members": {
        "PassiveIp": {},
        "TlsSessionResumptionMode": {},
        "SetStatOption": {},
        "As2Transports": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S28": {
      "type": "structure",
      "members": {
        "OnUpload": {
          "type": "list",
          "member": {
            "shape": "S2a"
          }
        },
        "OnPartialUpload": {
          "type": "list",
          "member": {
            "shape": "S2a"
          }
        }
      }
    },
    "S2a": {
      "type": "structure",
      "required": [
        "WorkflowId",
        "ExecutionRole"
      ],
      "members": {
        "WorkflowId": {},
        "ExecutionRole": {}
      }
    },
    "S2d": {
      "type": "list",
      "member": {}
    },
    "S2f": {
      "type": "structure",
      "members": {
        "DirectoryListingOptimization": {}
      }
    },
    "S2o": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {},
          "CopyStepDetails": {
            "type": "structure",
            "members": {
              "Name": {},
              "DestinationFileLocation": {
                "shape": "S2t"
              },
              "OverwriteExisting": {},
              "SourceFileLocation": {}
            }
          },
          "CustomStepDetails": {
            "type": "structure",
            "members": {
              "Name": {},
              "Target": {},
              "TimeoutSeconds": {
                "type": "integer"
              },
              "SourceFileLocation": {}
            }
          },
          "DeleteStepDetails": {
            "type": "structure",
            "members": {
              "Name": {},
              "SourceFileLocation": {}
            }
          },
          "TagStepDetails": {
            "type": "structure",
            "members": {
              "Name": {},
              "Tags": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "Key",
                    "Value"
                  ],
                  "members": {
                    "Key": {},
                    "Value": {}
                  }
                }
              },
              "SourceFileLocation": {}
            }
          },
          "DecryptStepDetails": {
            "type": "structure",
            "required": [
              "Type",
              "DestinationFileLocation"
            ],
            "members": {
              "Name": {},
              "Type": {},
              "SourceFileLocation": {},
              "OverwriteExisting": {},
              "DestinationFileLocation": {
                "shape": "S2t"
              }
            }
          }
        }
      }
    },
    "S2t": {
      "type": "structure",
      "members": {
        "S3FileLocation": {
          "type": "structure",
          "members": {
            "Bucket": {},
            "Key": {}
          }
        },
        "EfsFileLocation": {
          "shape": "S2x"
        }
      }
    },
    "S2x": {
      "type": "structure",
      "members": {
        "FileSystemId": {},
        "Path": {}
      }
    },
    "S41": {
      "type": "string",
      "sensitive": true
    },
    "S42": {
      "type": "string",
      "sensitive": true
    },
    "S4d": {
      "type": "structure",
      "members": {
        "S3FileLocation": {
          "type": "structure",
          "members": {
            "Bucket": {},
            "Key": {},
            "VersionId": {},
            "Etag": {}
          }
        },
        "EfsFileLocation": {
          "shape": "S2x"
        }
      }
    },
    "S4h": {
      "type": "structure",
      "required": [
        "UserDetails"
      ],
      "members": {
        "UserDetails": {
          "type": "structure",
          "required": [
            "UserName",
            "ServerId"
          ],
          "members": {
            "UserName": {},
            "ServerId": {},
            "SessionId": {}
          }
        }
      }
    },
    "S4o": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "StepType": {},
          "Outputs": {},
          "Error": {
            "type": "structure",
            "required": [
              "Type",
              "Message"
            ],
            "members": {
              "Type": {},
              "Message": {}
            }
          }
        }
      }
    },
    "S58": {
      "type": "list",
      "member": {}
    },
    "S7b": {
      "type": "list",
      "member": {}
    }
  }
}