{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-10-26",
    "endpointPrefix": "transcribe",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Transcribe Service",
    "serviceId": "Transcribe",
    "signatureVersion": "v4",
    "signingName": "transcribe",
    "targetPrefix": "Transcribe",
    "uid": "transcribe-2017-10-26"
  },
  "operations": {
    "CreateVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName",
          "LanguageCode",
          "Phrases"
        ],
        "members": {
          "VocabularyName": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "S3"
          },
          "Phrases": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyName": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "S3"
          },
          "VocabularyState": {
            "shape": "S7"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {}
        }
      }
    },
    "DeleteVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName"
        ],
        "members": {
          "VocabularyName": {
            "shape": "S2"
          }
        }
      }
    },
    "GetTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "TranscriptionJobName"
        ],
        "members": {
          "TranscriptionJobName": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TranscriptionJob": {
            "shape": "Se"
          }
        }
      }
    },
    "GetVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName"
        ],
        "members": {
          "VocabularyName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyName": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "S3"
          },
          "VocabularyState": {
            "shape": "S7"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "DownloadUri": {
            "shape": "Sj"
          }
        }
      }
    },
    "ListTranscriptionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Status": {
            "shape": "Sf"
          },
          "JobNameContains": {
            "shape": "Sc"
          },
          "NextToken": {
            "shape": "Sr"
          },
          "MaxResults": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "shape": "Sf"
          },
          "NextToken": {
            "shape": "Sr"
          },
          "TranscriptionJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TranscriptionJobName": {
                  "shape": "Sc"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "CompletionTime": {
                  "type": "timestamp"
                },
                "LanguageCode": {
                  "shape": "S3"
                },
                "TranscriptionJobStatus": {
                  "shape": "Sf"
                },
                "FailureReason": {},
                "OutputLocationType": {
                  "type": "string",
                  "enum": [
                    "CUSTOMER_BUCKET",
                    "SERVICE_BUCKET"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "ListVocabularies": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "Sr"
          },
          "MaxResults": {
            "shape": "Ss"
          },
          "StateEquals": {
            "shape": "S7"
          },
          "NameContains": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "shape": "Sf"
          },
          "NextToken": {
            "shape": "Sr"
          },
          "Vocabularies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VocabularyName": {
                  "shape": "S2"
                },
                "LanguageCode": {
                  "shape": "S3"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "VocabularyState": {
                  "shape": "S7"
                }
              }
            }
          }
        }
      }
    },
    "StartTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "TranscriptionJobName",
          "LanguageCode",
          "MediaFormat",
          "Media"
        ],
        "members": {
          "TranscriptionJobName": {
            "shape": "Sc"
          },
          "LanguageCode": {
            "shape": "S3"
          },
          "MediaSampleRateHertz": {
            "shape": "Sg"
          },
          "MediaFormat": {
            "shape": "Sh"
          },
          "Media": {
            "shape": "Si"
          },
          "OutputBucketName": {
            "type": "string",
            "pattern": "[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]"
          },
          "Settings": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TranscriptionJob": {
            "shape": "Se"
          }
        }
      }
    },
    "UpdateVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName",
          "LanguageCode",
          "Phrases"
        ],
        "members": {
          "VocabularyName": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "S3"
          },
          "Phrases": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyName": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "S3"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "VocabularyState": {
            "shape": "S7"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z._-]+"
    },
    "S3": {
      "type": "string",
      "enum": [
        "en-US",
        "es-US"
      ]
    },
    "S4": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 256,
        "min": 0
      }
    },
    "S7": {
      "type": "string",
      "enum": [
        "PENDING",
        "READY",
        "FAILED"
      ]
    },
    "Sc": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z._-]+"
    },
    "Se": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {
          "shape": "Sc"
        },
        "TranscriptionJobStatus": {
          "shape": "Sf"
        },
        "LanguageCode": {
          "shape": "S3"
        },
        "MediaSampleRateHertz": {
          "shape": "Sg"
        },
        "MediaFormat": {
          "shape": "Sh"
        },
        "Media": {
          "shape": "Si"
        },
        "Transcript": {
          "type": "structure",
          "members": {
            "TranscriptFileUri": {
              "shape": "Sj"
            }
          }
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "CompletionTime": {
          "type": "timestamp"
        },
        "FailureReason": {},
        "Settings": {
          "shape": "Sl"
        }
      }
    },
    "Sf": {
      "type": "string",
      "enum": [
        "IN_PROGRESS",
        "FAILED",
        "COMPLETED"
      ]
    },
    "Sg": {
      "type": "integer",
      "max": 48000,
      "min": 8000
    },
    "Sh": {
      "type": "string",
      "enum": [
        "mp3",
        "mp4",
        "wav",
        "flac"
      ]
    },
    "Si": {
      "type": "structure",
      "members": {
        "MediaFileUri": {
          "shape": "Sj"
        }
      }
    },
    "Sj": {
      "type": "string",
      "max": 2000,
      "min": 1
    },
    "Sl": {
      "type": "structure",
      "members": {
        "VocabularyName": {
          "shape": "S2"
        },
        "ShowSpeakerLabels": {
          "type": "boolean"
        },
        "MaxSpeakerLabels": {
          "type": "integer",
          "max": 10,
          "min": 2
        },
        "ChannelIdentification": {
          "type": "boolean"
        }
      }
    },
    "Sr": {
      "type": "string",
      "max": 8192
    },
    "Ss": {
      "type": "integer",
      "max": 100,
      "min": 1
    }
  }
}