{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-10-26",
    "endpointPrefix": "transcribe",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Transcribe Service",
    "serviceId": "Transcribe",
    "signatureVersion": "v4",
    "signingName": "transcribe",
    "targetPrefix": "Transcribe",
    "uid": "transcribe-2017-10-26"
  },
  "operations": {
    "CreateVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName",
          "LanguageCode"
        ],
        "members": {
          "VocabularyName": {},
          "LanguageCode": {},
          "Phrases": {
            "shape": "S4"
          },
          "VocabularyFileUri": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyName": {},
          "LanguageCode": {},
          "VocabularyState": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {}
        }
      }
    },
    "CreateVocabularyFilter": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyFilterName",
          "LanguageCode"
        ],
        "members": {
          "VocabularyFilterName": {},
          "LanguageCode": {},
          "Words": {
            "shape": "Sd"
          },
          "VocabularyFilterFileUri": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyFilterName": {},
          "LanguageCode": {},
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DeleteMedicalTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "MedicalTranscriptionJobName"
        ],
        "members": {
          "MedicalTranscriptionJobName": {}
        }
      }
    },
    "DeleteTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "TranscriptionJobName"
        ],
        "members": {
          "TranscriptionJobName": {}
        }
      }
    },
    "DeleteVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName"
        ],
        "members": {
          "VocabularyName": {}
        }
      }
    },
    "DeleteVocabularyFilter": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyFilterName"
        ],
        "members": {
          "VocabularyFilterName": {}
        }
      }
    },
    "GetMedicalTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "MedicalTranscriptionJobName"
        ],
        "members": {
          "MedicalTranscriptionJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MedicalTranscriptionJob": {
            "shape": "Sn"
          }
        }
      }
    },
    "GetTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "TranscriptionJobName"
        ],
        "members": {
          "TranscriptionJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TranscriptionJob": {
            "shape": "S11"
          }
        }
      }
    },
    "GetVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName"
        ],
        "members": {
          "VocabularyName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyName": {},
          "LanguageCode": {},
          "VocabularyState": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "DownloadUri": {}
        }
      }
    },
    "GetVocabularyFilter": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyFilterName"
        ],
        "members": {
          "VocabularyFilterName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyFilterName": {},
          "LanguageCode": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "DownloadUri": {}
        }
      }
    },
    "ListMedicalTranscriptionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Status": {},
          "JobNameContains": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {},
          "NextToken": {},
          "MedicalTranscriptionJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MedicalTranscriptionJobName": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "CompletionTime": {
                  "type": "timestamp"
                },
                "LanguageCode": {},
                "TranscriptionJobStatus": {},
                "FailureReason": {},
                "OutputLocationType": {},
                "Specialty": {},
                "Type": {}
              }
            }
          }
        }
      }
    },
    "ListTranscriptionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Status": {},
          "JobNameContains": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {},
          "NextToken": {},
          "TranscriptionJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TranscriptionJobName": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "CompletionTime": {
                  "type": "timestamp"
                },
                "LanguageCode": {},
                "TranscriptionJobStatus": {},
                "FailureReason": {},
                "OutputLocationType": {},
                "ContentRedaction": {
                  "shape": "S17"
                }
              }
            }
          }
        }
      }
    },
    "ListVocabularies": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "StateEquals": {},
          "NameContains": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {},
          "NextToken": {},
          "Vocabularies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VocabularyName": {},
                "LanguageCode": {},
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "VocabularyState": {}
              }
            }
          }
        }
      }
    },
    "ListVocabularyFilters": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "VocabularyFilters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VocabularyFilterName": {},
                "LanguageCode": {},
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "StartMedicalTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "MedicalTranscriptionJobName",
          "LanguageCode",
          "Media",
          "OutputBucketName",
          "Specialty",
          "Type"
        ],
        "members": {
          "MedicalTranscriptionJobName": {},
          "LanguageCode": {},
          "MediaSampleRateHertz": {
            "type": "integer"
          },
          "MediaFormat": {},
          "Media": {
            "shape": "Sr"
          },
          "OutputBucketName": {},
          "OutputEncryptionKMSKeyId": {},
          "Settings": {
            "shape": "St"
          },
          "Specialty": {},
          "Type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MedicalTranscriptionJob": {
            "shape": "Sn"
          }
        }
      }
    },
    "StartTranscriptionJob": {
      "input": {
        "type": "structure",
        "required": [
          "TranscriptionJobName",
          "LanguageCode",
          "Media"
        ],
        "members": {
          "TranscriptionJobName": {},
          "LanguageCode": {},
          "MediaSampleRateHertz": {
            "type": "integer"
          },
          "MediaFormat": {},
          "Media": {
            "shape": "Sr"
          },
          "OutputBucketName": {},
          "OutputEncryptionKMSKeyId": {},
          "Settings": {
            "shape": "S13"
          },
          "JobExecutionSettings": {
            "shape": "S15"
          },
          "ContentRedaction": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TranscriptionJob": {
            "shape": "S11"
          }
        }
      }
    },
    "UpdateVocabulary": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyName",
          "LanguageCode"
        ],
        "members": {
          "VocabularyName": {},
          "LanguageCode": {},
          "Phrases": {
            "shape": "S4"
          },
          "VocabularyFileUri": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyName": {},
          "LanguageCode": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "VocabularyState": {}
        }
      }
    },
    "UpdateVocabularyFilter": {
      "input": {
        "type": "structure",
        "required": [
          "VocabularyFilterName"
        ],
        "members": {
          "VocabularyFilterName": {},
          "Words": {
            "shape": "Sd"
          },
          "VocabularyFilterFileUri": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VocabularyFilterName": {},
          "LanguageCode": {},
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "list",
      "member": {}
    },
    "Sd": {
      "type": "list",
      "member": {}
    },
    "Sn": {
      "type": "structure",
      "members": {
        "MedicalTranscriptionJobName": {},
        "TranscriptionJobStatus": {},
        "LanguageCode": {},
        "MediaSampleRateHertz": {
          "type": "integer"
        },
        "MediaFormat": {},
        "Media": {
          "shape": "Sr"
        },
        "Transcript": {
          "type": "structure",
          "members": {
            "TranscriptFileUri": {}
          }
        },
        "StartTime": {
          "type": "timestamp"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "CompletionTime": {
          "type": "timestamp"
        },
        "FailureReason": {},
        "Settings": {
          "shape": "St"
        },
        "Specialty": {},
        "Type": {}
      }
    },
    "Sr": {
      "type": "structure",
      "members": {
        "MediaFileUri": {}
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "ShowSpeakerLabels": {
          "type": "boolean"
        },
        "MaxSpeakerLabels": {
          "type": "integer"
        },
        "ChannelIdentification": {
          "type": "boolean"
        },
        "ShowAlternatives": {
          "type": "boolean"
        },
        "MaxAlternatives": {
          "type": "integer"
        }
      }
    },
    "S11": {
      "type": "structure",
      "members": {
        "TranscriptionJobName": {},
        "TranscriptionJobStatus": {},
        "LanguageCode": {},
        "MediaSampleRateHertz": {
          "type": "integer"
        },
        "MediaFormat": {},
        "Media": {
          "shape": "Sr"
        },
        "Transcript": {
          "type": "structure",
          "members": {
            "TranscriptFileUri": {},
            "RedactedTranscriptFileUri": {}
          }
        },
        "StartTime": {
          "type": "timestamp"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "CompletionTime": {
          "type": "timestamp"
        },
        "FailureReason": {},
        "Settings": {
          "shape": "S13"
        },
        "JobExecutionSettings": {
          "shape": "S15"
        },
        "ContentRedaction": {
          "shape": "S17"
        }
      }
    },
    "S13": {
      "type": "structure",
      "members": {
        "VocabularyName": {},
        "ShowSpeakerLabels": {
          "type": "boolean"
        },
        "MaxSpeakerLabels": {
          "type": "integer"
        },
        "ChannelIdentification": {
          "type": "boolean"
        },
        "ShowAlternatives": {
          "type": "boolean"
        },
        "MaxAlternatives": {
          "type": "integer"
        },
        "VocabularyFilterName": {},
        "VocabularyFilterMethod": {}
      }
    },
    "S15": {
      "type": "structure",
      "members": {
        "AllowDeferredExecution": {
          "type": "boolean"
        },
        "DataAccessRoleArn": {}
      }
    },
    "S17": {
      "type": "structure",
      "required": [
        "RedactionType",
        "RedactionOutput"
      ],
      "members": {
        "RedactionType": {},
        "RedactionOutput": {}
      }
    }
  }
}