{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-28",
    "endpointPrefix": "waf-regional",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "WAF Regional",
    "serviceFullName": "AWS WAF Regional",
    "serviceId": "WAF Regional",
    "signatureVersion": "v4",
    "targetPrefix": "AWSWAF_Regional_20161128",
    "uid": "waf-regional-2016-11-28"
  },
  "operations": {
    "AssociateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLId",
          "ResourceArn"
        ],
        "members": {
          "WebACLId": {
            "shape": "S2"
          },
          "ResourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateByteMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ByteMatchSet": {
            "shape": "S9"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateGeoMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GeoMatchSet": {
            "shape": "Sk"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IPSet": {
            "shape": "Sr"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateRateBasedRule": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "MetricName",
          "RateKey",
          "RateLimit",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "MetricName": {},
          "RateKey": {
            "shape": "Sy"
          },
          "RateLimit": {
            "shape": "Sz"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rule": {
            "shape": "S11"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateRegexMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegexMatchSet": {
            "shape": "S18"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegexPatternSet": {
            "shape": "S1d"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateRule": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "MetricName",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "MetricName": {},
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rule": {
            "shape": "S1i"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "MetricName",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "MetricName": {},
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuleGroup": {
            "shape": "S1l"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateSizeConstraintSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SizeConstraintSet": {
            "shape": "S1o"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateSqlInjectionMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SqlInjectionMatchSet": {
            "shape": "S1v"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "MetricName",
          "DefaultAction",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "MetricName": {},
          "DefaultAction": {
            "shape": "S1z"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebACL": {
            "shape": "S22"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateXssMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ChangeToken"
        ],
        "members": {
          "Name": {
            "shape": "S6"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "XssMatchSet": {
            "shape": "S2b"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteByteMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "ByteMatchSetId",
          "ChangeToken"
        ],
        "members": {
          "ByteMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteGeoMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "GeoMatchSetId",
          "ChangeToken"
        ],
        "members": {
          "GeoMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "IPSetId",
          "ChangeToken"
        ],
        "members": {
          "IPSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRateBasedRule": {
      "input": {
        "type": "structure",
        "required": [
          "RuleId",
          "ChangeToken"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteRegexMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "RegexMatchSetId",
          "ChangeToken"
        ],
        "members": {
          "RegexMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "RegexPatternSetId",
          "ChangeToken"
        ],
        "members": {
          "RegexPatternSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteRule": {
      "input": {
        "type": "structure",
        "required": [
          "RuleId",
          "ChangeToken"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "RuleGroupId",
          "ChangeToken"
        ],
        "members": {
          "RuleGroupId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteSizeConstraintSet": {
      "input": {
        "type": "structure",
        "required": [
          "SizeConstraintSetId",
          "ChangeToken"
        ],
        "members": {
          "SizeConstraintSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteSqlInjectionMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "SqlInjectionMatchSetId",
          "ChangeToken"
        ],
        "members": {
          "SqlInjectionMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLId",
          "ChangeToken"
        ],
        "members": {
          "WebACLId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteXssMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "XssMatchSetId",
          "ChangeToken"
        ],
        "members": {
          "XssMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "DisassociateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetByteMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "ByteMatchSetId"
        ],
        "members": {
          "ByteMatchSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ByteMatchSet": {
            "shape": "S9"
          }
        }
      }
    },
    "GetChangeToken": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "GetChangeTokenStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ChangeToken"
        ],
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeTokenStatus": {
            "type": "string",
            "enum": [
              "PROVISIONED",
              "PENDING",
              "INSYNC"
            ]
          }
        }
      }
    },
    "GetGeoMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "GeoMatchSetId"
        ],
        "members": {
          "GeoMatchSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GeoMatchSet": {
            "shape": "Sk"
          }
        }
      }
    },
    "GetIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "IPSetId"
        ],
        "members": {
          "IPSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IPSet": {
            "shape": "Sr"
          }
        }
      }
    },
    "GetLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S3l"
          }
        }
      }
    },
    "GetPermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "S3q"
          }
        }
      }
    },
    "GetRateBasedRule": {
      "input": {
        "type": "structure",
        "required": [
          "RuleId"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rule": {
            "shape": "S11"
          }
        }
      }
    },
    "GetRateBasedRuleManagedKeys": {
      "input": {
        "type": "structure",
        "required": [
          "RuleId"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          },
          "NextMarker": {
            "shape": "S3u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ManagedKeys": {
            "type": "list",
            "member": {}
          },
          "NextMarker": {
            "shape": "S3u"
          }
        }
      }
    },
    "GetRegexMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "RegexMatchSetId"
        ],
        "members": {
          "RegexMatchSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegexMatchSet": {
            "shape": "S18"
          }
        }
      }
    },
    "GetRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "RegexPatternSetId"
        ],
        "members": {
          "RegexPatternSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegexPatternSet": {
            "shape": "S1d"
          }
        }
      }
    },
    "GetRule": {
      "input": {
        "type": "structure",
        "required": [
          "RuleId"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rule": {
            "shape": "S1i"
          }
        }
      }
    },
    "GetRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "RuleGroupId"
        ],
        "members": {
          "RuleGroupId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuleGroup": {
            "shape": "S1l"
          }
        }
      }
    },
    "GetSampledRequests": {
      "input": {
        "type": "structure",
        "required": [
          "WebAclId",
          "RuleId",
          "TimeWindow",
          "MaxItems"
        ],
        "members": {
          "WebAclId": {
            "shape": "S2"
          },
          "RuleId": {
            "shape": "S2"
          },
          "TimeWindow": {
            "shape": "S47"
          },
          "MaxItems": {
            "type": "long",
            "max": 500,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SampledRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Request",
                "Weight"
              ],
              "members": {
                "Request": {
                  "type": "structure",
                  "members": {
                    "ClientIP": {},
                    "Country": {},
                    "URI": {},
                    "Method": {},
                    "HTTPVersion": {},
                    "Headers": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "Name": {},
                          "Value": {}
                        }
                      }
                    }
                  }
                },
                "Weight": {
                  "type": "long",
                  "min": 0
                },
                "Timestamp": {
                  "type": "timestamp"
                },
                "Action": {},
                "RuleWithinRuleGroup": {
                  "shape": "S2"
                }
              }
            }
          },
          "PopulationSize": {
            "type": "long"
          },
          "TimeWindow": {
            "shape": "S47"
          }
        }
      }
    },
    "GetSizeConstraintSet": {
      "input": {
        "type": "structure",
        "required": [
          "SizeConstraintSetId"
        ],
        "members": {
          "SizeConstraintSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SizeConstraintSet": {
            "shape": "S1o"
          }
        }
      }
    },
    "GetSqlInjectionMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "SqlInjectionMatchSetId"
        ],
        "members": {
          "SqlInjectionMatchSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SqlInjectionMatchSet": {
            "shape": "S1v"
          }
        }
      }
    },
    "GetWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLId"
        ],
        "members": {
          "WebACLId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebACL": {
            "shape": "S22"
          }
        }
      }
    },
    "GetWebACLForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebACLSummary": {
            "shape": "S4y"
          }
        }
      }
    },
    "GetXssMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "XssMatchSetId"
        ],
        "members": {
          "XssMatchSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "XssMatchSet": {
            "shape": "S2b"
          }
        }
      }
    },
    "ListActivatedRulesInRuleGroup": {
      "input": {
        "type": "structure",
        "members": {
          "RuleGroupId": {
            "shape": "S2"
          },
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "ActivatedRules": {
            "shape": "S23"
          }
        }
      }
    },
    "ListByteMatchSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "ByteMatchSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ByteMatchSetId",
                "Name"
              ],
              "members": {
                "ByteMatchSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListGeoMatchSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "GeoMatchSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "GeoMatchSetId",
                "Name"
              ],
              "members": {
                "GeoMatchSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListIPSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "IPSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IPSetId",
                "Name"
              ],
              "members": {
                "IPSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListLoggingConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfigurations": {
            "type": "list",
            "member": {
              "shape": "S3l"
            }
          },
          "NextMarker": {
            "shape": "S3u"
          }
        }
      }
    },
    "ListRateBasedRules": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Rules": {
            "shape": "S5l"
          }
        }
      }
    },
    "ListRegexMatchSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "RegexMatchSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "RegexMatchSetId",
                "Name"
              ],
              "members": {
                "RegexMatchSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListRegexPatternSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "RegexPatternSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "RegexPatternSetId",
                "Name"
              ],
              "members": {
                "RegexPatternSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListResourcesForWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLId"
        ],
        "members": {
          "WebACLId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceArns": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          }
        }
      }
    },
    "ListRuleGroups": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "RuleGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "RuleGroupId",
                "Name"
              ],
              "members": {
                "RuleGroupId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListRules": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Rules": {
            "shape": "S5l"
          }
        }
      }
    },
    "ListSizeConstraintSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "SizeConstraintSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SizeConstraintSetId",
                "Name"
              ],
              "members": {
                "SizeConstraintSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListSqlInjectionMatchSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "SqlInjectionMatchSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SqlInjectionMatchSetId",
                "Name"
              ],
              "members": {
                "SqlInjectionMatchSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "ListSubscribedRuleGroups": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "RuleGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "RuleGroupId",
                "Name",
                "MetricName"
              ],
              "members": {
                "RuleGroupId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                },
                "MetricName": {}
              }
            }
          }
        }
      }
    },
    "ListWebACLs": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "WebACLs": {
            "type": "list",
            "member": {
              "shape": "S4y"
            }
          }
        }
      }
    },
    "ListXssMatchSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "Limit": {
            "shape": "S52"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {
            "shape": "S3u"
          },
          "XssMatchSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "XssMatchSetId",
                "Name"
              ],
              "members": {
                "XssMatchSetId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S6"
                }
              }
            }
          }
        }
      }
    },
    "PutLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LoggingConfiguration"
        ],
        "members": {
          "LoggingConfiguration": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S3l"
          }
        }
      }
    },
    "PutPermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Policy"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S3"
          },
          "Policy": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateByteMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "ByteMatchSetId",
          "ChangeToken",
          "Updates"
        ],
        "members": {
          "ByteMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "ByteMatchTuple"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "ByteMatchTuple": {
                  "shape": "Sb"
                }
              }
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateGeoMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "GeoMatchSetId",
          "ChangeToken",
          "Updates"
        ],
        "members": {
          "GeoMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "GeoMatchConstraint"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "GeoMatchConstraint": {
                  "shape": "Sm"
                }
              }
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "IPSetId",
          "ChangeToken",
          "Updates"
        ],
        "members": {
          "IPSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "IPSetDescriptor"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "IPSetDescriptor": {
                  "shape": "St"
                }
              }
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateRateBasedRule": {
      "input": {
        "type": "structure",
        "required": [
          "RuleId",
          "ChangeToken",
          "Updates",
          "RateLimit"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "shape": "S75"
          },
          "RateLimit": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateRegexMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "RegexMatchSetId",
          "Updates",
          "ChangeToken"
        ],
        "members": {
          "RegexMatchSetId": {
            "shape": "S2"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "RegexMatchTuple"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "RegexMatchTuple": {
                  "shape": "S1a"
                }
              }
            },
            "min": 1
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "RegexPatternSetId",
          "Updates",
          "ChangeToken"
        ],
        "members": {
          "RegexPatternSetId": {
            "shape": "S2"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "RegexPatternString"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "RegexPatternString": {
                  "shape": "S1f"
                }
              }
            },
            "min": 1
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateRule": {
      "input": {
        "type": "structure",
        "required": [
          "RuleId",
          "ChangeToken",
          "Updates"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "shape": "S75"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "RuleGroupId",
          "Updates",
          "ChangeToken"
        ],
        "members": {
          "RuleGroupId": {
            "shape": "S2"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "ActivatedRule"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "ActivatedRule": {
                  "shape": "S24"
                }
              }
            },
            "min": 1
          },
          "ChangeToken": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateSizeConstraintSet": {
      "input": {
        "type": "structure",
        "required": [
          "SizeConstraintSetId",
          "ChangeToken",
          "Updates"
        ],
        "members": {
          "SizeConstraintSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "SizeConstraint"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "SizeConstraint": {
                  "shape": "S1q"
                }
              }
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateSqlInjectionMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "SqlInjectionMatchSetId",
          "ChangeToken",
          "Updates"
        ],
        "members": {
          "SqlInjectionMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "SqlInjectionMatchTuple"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "SqlInjectionMatchTuple": {
                  "shape": "S1x"
                }
              }
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLId",
          "ChangeToken"
        ],
        "members": {
          "WebACLId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "ActivatedRule"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "ActivatedRule": {
                  "shape": "S24"
                }
              }
            }
          },
          "DefaultAction": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateXssMatchSet": {
      "input": {
        "type": "structure",
        "required": [
          "XssMatchSetId",
          "ChangeToken",
          "Updates"
        ],
        "members": {
          "XssMatchSetId": {
            "shape": "S2"
          },
          "ChangeToken": {
            "shape": "S7"
          },
          "Updates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Action",
                "XssMatchTuple"
              ],
              "members": {
                "Action": {
                  "shape": "S6u"
                },
                "XssMatchTuple": {
                  "shape": "S2d"
                }
              }
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeToken": {
            "shape": "S7"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S3": {
      "type": "string",
      "max": 1224,
      "min": 1
    },
    "S6": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S7": {
      "type": "string",
      "min": 1
    },
    "S9": {
      "type": "structure",
      "required": [
        "ByteMatchSetId",
        "ByteMatchTuples"
      ],
      "members": {
        "ByteMatchSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "ByteMatchTuples": {
          "type": "list",
          "member": {
            "shape": "Sb"
          }
        }
      }
    },
    "Sb": {
      "type": "structure",
      "required": [
        "FieldToMatch",
        "TargetString",
        "TextTransformation",
        "PositionalConstraint"
      ],
      "members": {
        "FieldToMatch": {
          "shape": "Sc"
        },
        "TargetString": {
          "type": "blob"
        },
        "TextTransformation": {
          "shape": "Sg"
        },
        "PositionalConstraint": {
          "type": "string",
          "enum": [
            "EXACTLY",
            "STARTS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "CONTAINS_WORD"
          ]
        }
      }
    },
    "Sc": {
      "type": "structure",
      "required": [
        "Type"
      ],
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "URI",
            "QUERY_STRING",
            "HEADER",
            "METHOD",
            "BODY",
            "SINGLE_QUERY_ARG",
            "ALL_QUERY_ARGS"
          ]
        },
        "Data": {}
      }
    },
    "Sg": {
      "type": "string",
      "enum": [
        "NONE",
        "COMPRESS_WHITE_SPACE",
        "HTML_ENTITY_DECODE",
        "LOWERCASE",
        "CMD_LINE",
        "URL_DECODE"
      ]
    },
    "Sk": {
      "type": "structure",
      "required": [
        "GeoMatchSetId",
        "GeoMatchConstraints"
      ],
      "members": {
        "GeoMatchSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "GeoMatchConstraints": {
          "type": "list",
          "member": {
            "shape": "Sm"
          }
        }
      }
    },
    "Sm": {
      "type": "structure",
      "required": [
        "Type",
        "Value"
      ],
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "Country"
          ]
        },
        "Value": {
          "type": "string",
          "enum": [
            "AF",
            "AX",
            "AL",
            "DZ",
            "AS",
            "AD",
            "AO",
            "AI",
            "AQ",
            "AG",
            "AR",
            "AM",
            "AW",
            "AU",
            "AT",
            "AZ",
            "BS",
            "BH",
            "BD",
            "BB",
            "BY",
            "BE",
            "BZ",
            "BJ",
            "BM",
            "BT",
            "BO",
            "BQ",
            "BA",
            "BW",
            "BV",
            "BR",
            "IO",
            "BN",
            "BG",
            "BF",
            "BI",
            "KH",
            "CM",
            "CA",
            "CV",
            "KY",
            "CF",
            "TD",
            "CL",
            "CN",
            "CX",
            "CC",
            "CO",
            "KM",
            "CG",
            "CD",
            "CK",
            "CR",
            "CI",
            "HR",
            "CU",
            "CW",
            "CY",
            "CZ",
            "DK",
            "DJ",
            "DM",
            "DO",
            "EC",
            "EG",
            "SV",
            "GQ",
            "ER",
            "EE",
            "ET",
            "FK",
            "FO",
            "FJ",
            "FI",
            "FR",
            "GF",
            "PF",
            "TF",
            "GA",
            "GM",
            "GE",
            "DE",
            "GH",
            "GI",
            "GR",
            "GL",
            "GD",
            "GP",
            "GU",
            "GT",
            "GG",
            "GN",
            "GW",
            "GY",
            "HT",
            "HM",
            "VA",
            "HN",
            "HK",
            "HU",
            "IS",
            "IN",
            "ID",
            "IR",
            "IQ",
            "IE",
            "IM",
            "IL",
            "IT",
            "JM",
            "JP",
            "JE",
            "JO",
            "KZ",
            "KE",
            "KI",
            "KP",
            "KR",
            "KW",
            "KG",
            "LA",
            "LV",
            "LB",
            "LS",
            "LR",
            "LY",
            "LI",
            "LT",
            "LU",
            "MO",
            "MK",
            "MG",
            "MW",
            "MY",
            "MV",
            "ML",
            "MT",
            "MH",
            "MQ",
            "MR",
            "MU",
            "YT",
            "MX",
            "FM",
            "MD",
            "MC",
            "MN",
            "ME",
            "MS",
            "MA",
            "MZ",
            "MM",
            "NA",
            "NR",
            "NP",
            "NL",
            "NC",
            "NZ",
            "NI",
            "NE",
            "NG",
            "NU",
            "NF",
            "MP",
            "NO",
            "OM",
            "PK",
            "PW",
            "PS",
            "PA",
            "PG",
            "PY",
            "PE",
            "PH",
            "PN",
            "PL",
            "PT",
            "PR",
            "QA",
            "RE",
            "RO",
            "RU",
            "RW",
            "BL",
            "SH",
            "KN",
            "LC",
            "MF",
            "PM",
            "VC",
            "WS",
            "SM",
            "ST",
            "SA",
            "SN",
            "RS",
            "SC",
            "SL",
            "SG",
            "SX",
            "SK",
            "SI",
            "SB",
            "SO",
            "ZA",
            "GS",
            "SS",
            "ES",
            "LK",
            "SD",
            "SR",
            "SJ",
            "SZ",
            "SE",
            "CH",
            "SY",
            "TW",
            "TJ",
            "TZ",
            "TH",
            "TL",
            "TG",
            "TK",
            "TO",
            "TT",
            "TN",
            "TR",
            "TM",
            "TC",
            "TV",
            "UG",
            "UA",
            "AE",
            "GB",
            "US",
            "UM",
            "UY",
            "UZ",
            "VU",
            "VE",
            "VN",
            "VG",
            "VI",
            "WF",
            "EH",
            "YE",
            "ZM",
            "ZW"
          ]
        }
      }
    },
    "Sr": {
      "type": "structure",
      "required": [
        "IPSetId",
        "IPSetDescriptors"
      ],
      "members": {
        "IPSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "IPSetDescriptors": {
          "type": "list",
          "member": {
            "shape": "St"
          }
        }
      }
    },
    "St": {
      "type": "structure",
      "required": [
        "Type",
        "Value"
      ],
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "IPV4",
            "IPV6"
          ]
        },
        "Value": {}
      }
    },
    "Sy": {
      "type": "string",
      "enum": [
        "IP"
      ]
    },
    "Sz": {
      "type": "long",
      "max": 2000000000,
      "min": 2000
    },
    "S11": {
      "type": "structure",
      "required": [
        "RuleId",
        "MatchPredicates",
        "RateKey",
        "RateLimit"
      ],
      "members": {
        "RuleId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "MetricName": {},
        "MatchPredicates": {
          "shape": "S12"
        },
        "RateKey": {
          "shape": "Sy"
        },
        "RateLimit": {
          "shape": "Sz"
        }
      }
    },
    "S12": {
      "type": "list",
      "member": {
        "shape": "S13"
      }
    },
    "S13": {
      "type": "structure",
      "required": [
        "Negated",
        "Type",
        "DataId"
      ],
      "members": {
        "Negated": {
          "type": "boolean"
        },
        "Type": {
          "type": "string",
          "enum": [
            "IPMatch",
            "ByteMatch",
            "SqlInjectionMatch",
            "GeoMatch",
            "SizeConstraint",
            "XssMatch",
            "RegexMatch"
          ]
        },
        "DataId": {
          "shape": "S2"
        }
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "RegexMatchSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "RegexMatchTuples": {
          "type": "list",
          "member": {
            "shape": "S1a"
          }
        }
      }
    },
    "S1a": {
      "type": "structure",
      "required": [
        "FieldToMatch",
        "TextTransformation",
        "RegexPatternSetId"
      ],
      "members": {
        "FieldToMatch": {
          "shape": "Sc"
        },
        "TextTransformation": {
          "shape": "Sg"
        },
        "RegexPatternSetId": {
          "shape": "S2"
        }
      }
    },
    "S1d": {
      "type": "structure",
      "required": [
        "RegexPatternSetId",
        "RegexPatternStrings"
      ],
      "members": {
        "RegexPatternSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "RegexPatternStrings": {
          "type": "list",
          "member": {
            "shape": "S1f"
          },
          "max": 10
        }
      }
    },
    "S1f": {
      "type": "string",
      "min": 1
    },
    "S1i": {
      "type": "structure",
      "required": [
        "RuleId",
        "Predicates"
      ],
      "members": {
        "RuleId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "MetricName": {},
        "Predicates": {
          "shape": "S12"
        }
      }
    },
    "S1l": {
      "type": "structure",
      "required": [
        "RuleGroupId"
      ],
      "members": {
        "RuleGroupId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "MetricName": {}
      }
    },
    "S1o": {
      "type": "structure",
      "required": [
        "SizeConstraintSetId",
        "SizeConstraints"
      ],
      "members": {
        "SizeConstraintSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "SizeConstraints": {
          "type": "list",
          "member": {
            "shape": "S1q"
          }
        }
      }
    },
    "S1q": {
      "type": "structure",
      "required": [
        "FieldToMatch",
        "TextTransformation",
        "ComparisonOperator",
        "Size"
      ],
      "members": {
        "FieldToMatch": {
          "shape": "Sc"
        },
        "TextTransformation": {
          "shape": "Sg"
        },
        "ComparisonOperator": {
          "type": "string",
          "enum": [
            "EQ",
            "NE",
            "LE",
            "LT",
            "GE",
            "GT"
          ]
        },
        "Size": {
          "type": "long",
          "max": 21474836480,
          "min": 0
        }
      }
    },
    "S1v": {
      "type": "structure",
      "required": [
        "SqlInjectionMatchSetId",
        "SqlInjectionMatchTuples"
      ],
      "members": {
        "SqlInjectionMatchSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "SqlInjectionMatchTuples": {
          "type": "list",
          "member": {
            "shape": "S1x"
          }
        }
      }
    },
    "S1x": {
      "type": "structure",
      "required": [
        "FieldToMatch",
        "TextTransformation"
      ],
      "members": {
        "FieldToMatch": {
          "shape": "Sc"
        },
        "TextTransformation": {
          "shape": "Sg"
        }
      }
    },
    "S1z": {
      "type": "structure",
      "required": [
        "Type"
      ],
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "BLOCK",
            "ALLOW",
            "COUNT"
          ]
        }
      }
    },
    "S22": {
      "type": "structure",
      "required": [
        "WebACLId",
        "DefaultAction",
        "Rules"
      ],
      "members": {
        "WebACLId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "MetricName": {},
        "DefaultAction": {
          "shape": "S1z"
        },
        "Rules": {
          "shape": "S23"
        }
      }
    },
    "S23": {
      "type": "list",
      "member": {
        "shape": "S24"
      }
    },
    "S24": {
      "type": "structure",
      "required": [
        "Priority",
        "RuleId"
      ],
      "members": {
        "Priority": {
          "type": "integer"
        },
        "RuleId": {
          "shape": "S2"
        },
        "Action": {
          "shape": "S1z"
        },
        "OverrideAction": {
          "type": "structure",
          "required": [
            "Type"
          ],
          "members": {
            "Type": {
              "type": "string",
              "enum": [
                "NONE",
                "COUNT"
              ]
            }
          }
        },
        "Type": {
          "type": "string",
          "enum": [
            "REGULAR",
            "RATE_BASED",
            "GROUP"
          ]
        }
      }
    },
    "S2b": {
      "type": "structure",
      "required": [
        "XssMatchSetId",
        "XssMatchTuples"
      ],
      "members": {
        "XssMatchSetId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        },
        "XssMatchTuples": {
          "type": "list",
          "member": {
            "shape": "S2d"
          }
        }
      }
    },
    "S2d": {
      "type": "structure",
      "required": [
        "FieldToMatch",
        "TextTransformation"
      ],
      "members": {
        "FieldToMatch": {
          "shape": "Sc"
        },
        "TextTransformation": {
          "shape": "Sg"
        }
      }
    },
    "S3l": {
      "type": "structure",
      "required": [
        "ResourceArn",
        "LogDestinationConfigs"
      ],
      "members": {
        "ResourceArn": {
          "shape": "S3"
        },
        "LogDestinationConfigs": {
          "type": "list",
          "member": {
            "shape": "S3"
          },
          "max": 1,
          "min": 1
        },
        "RedactedFields": {
          "type": "list",
          "member": {
            "shape": "Sc"
          }
        }
      }
    },
    "S3q": {
      "type": "string",
      "min": 1
    },
    "S3u": {
      "type": "string",
      "min": 1
    },
    "S47": {
      "type": "structure",
      "required": [
        "StartTime",
        "EndTime"
      ],
      "members": {
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        }
      }
    },
    "S4y": {
      "type": "structure",
      "required": [
        "WebACLId",
        "Name"
      ],
      "members": {
        "WebACLId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S6"
        }
      }
    },
    "S52": {
      "type": "integer",
      "max": 100,
      "min": 0
    },
    "S5l": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "RuleId",
          "Name"
        ],
        "members": {
          "RuleId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S6"
          }
        }
      }
    },
    "S6u": {
      "type": "string",
      "enum": [
        "INSERT",
        "DELETE"
      ]
    },
    "S75": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Action",
          "Predicate"
        ],
        "members": {
          "Action": {
            "shape": "S6u"
          },
          "Predicate": {
            "shape": "S13"
          }
        }
      }
    }
  }
}