{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-07-29",
    "endpointPrefix": "wafv2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "WAFV2",
    "serviceFullName": "AWS WAFV2",
    "serviceId": "WAFV2",
    "signatureVersion": "v4",
    "targetPrefix": "AWSWAF_20190729",
    "uid": "wafv2-2019-07-29"
  },
  "operations": {
    "AssociateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLArn",
          "ResourceArn"
        ],
        "members": {
          "WebACLArn": {},
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CheckCapacity": {
      "input": {
        "type": "structure",
        "required": [
          "Scope",
          "Rules"
        ],
        "members": {
          "Scope": {},
          "Rules": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Capacity": {
            "type": "long"
          }
        }
      }
    },
    "CreateIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "IPAddressVersion",
          "Addresses"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Description": {},
          "IPAddressVersion": {},
          "Addresses": {
            "shape": "S3a"
          },
          "Tags": {
            "shape": "S3c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S3h"
          }
        }
      }
    },
    "CreateRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "RegularExpressionList"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Description": {},
          "RegularExpressionList": {
            "shape": "S3l"
          },
          "Tags": {
            "shape": "S3c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S3o"
          }
        }
      }
    },
    "CreateRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Capacity",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Capacity": {
            "type": "long"
          },
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S2y"
          },
          "Tags": {
            "shape": "S3c"
          },
          "CustomResponseBodies": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S3w"
          }
        }
      }
    },
    "CreateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "DefaultAction",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "DefaultAction": {
            "shape": "S3y"
          },
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S2y"
          },
          "Tags": {
            "shape": "S3c"
          },
          "CustomResponseBodies": {
            "shape": "S3r"
          },
          "CaptchaConfig": {
            "shape": "S31"
          },
          "ChallengeConfig": {
            "shape": "S34"
          },
          "TokenDomains": {
            "shape": "S3z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S42"
          }
        }
      }
    },
    "DeleteFirewallManagerRuleGroups": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLArn",
          "WebACLLockToken"
        ],
        "members": {
          "WebACLArn": {},
          "WebACLLockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextWebACLLockToken": {}
        }
      }
    },
    "DeleteIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeManagedRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "VendorName",
          "Name",
          "Scope"
        ],
        "members": {
          "VendorName": {},
          "Name": {},
          "Scope": {},
          "VersionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VersionName": {},
          "SnsTopicArn": {},
          "Capacity": {
            "type": "long"
          },
          "Rules": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Action": {
                  "shape": "S1o"
                }
              }
            }
          },
          "LabelNamespace": {},
          "AvailableLabels": {
            "shape": "S4l"
          },
          "ConsumedLabels": {
            "shape": "S4l"
          }
        }
      }
    },
    "DisassociateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GenerateMobileSdkReleaseUrl": {
      "input": {
        "type": "structure",
        "required": [
          "Platform",
          "ReleaseVersion"
        ],
        "members": {
          "Platform": {},
          "ReleaseVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Url": {}
        }
      }
    },
    "GetIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IPSet": {
            "type": "structure",
            "required": [
              "Name",
              "Id",
              "ARN",
              "IPAddressVersion",
              "Addresses"
            ],
            "members": {
              "Name": {},
              "Id": {},
              "ARN": {},
              "Description": {},
              "IPAddressVersion": {},
              "Addresses": {
                "shape": "S3a"
              }
            }
          },
          "LockToken": {}
        }
      }
    },
    "GetLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S4y"
          }
        }
      }
    },
    "GetManagedRuleSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ManagedRuleSet": {
            "type": "structure",
            "required": [
              "Name",
              "Id",
              "ARN"
            ],
            "members": {
              "Name": {},
              "Id": {},
              "ARN": {},
              "Description": {},
              "PublishedVersions": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "AssociatedRuleGroupArn": {},
                    "Capacity": {
                      "type": "long"
                    },
                    "ForecastedLifetime": {
                      "type": "integer"
                    },
                    "PublishTimestamp": {
                      "type": "timestamp"
                    },
                    "LastUpdateTimestamp": {
                      "type": "timestamp"
                    },
                    "ExpiryTimestamp": {
                      "type": "timestamp"
                    }
                  }
                }
              },
              "RecommendedVersion": {},
              "LabelNamespace": {}
            }
          },
          "LockToken": {}
        }
      }
    },
    "GetMobileSdkRelease": {
      "input": {
        "type": "structure",
        "required": [
          "Platform",
          "ReleaseVersion"
        ],
        "members": {
          "Platform": {},
          "ReleaseVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MobileSdkRelease": {
            "type": "structure",
            "members": {
              "ReleaseVersion": {},
              "Timestamp": {
                "type": "timestamp"
              },
              "ReleaseNotes": {},
              "Tags": {
                "shape": "S3c"
              }
            }
          }
        }
      }
    },
    "GetPermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {}
        }
      }
    },
    "GetRateBasedStatementManagedKeys": {
      "input": {
        "type": "structure",
        "required": [
          "Scope",
          "WebACLName",
          "WebACLId",
          "RuleName"
        ],
        "members": {
          "Scope": {},
          "WebACLName": {},
          "WebACLId": {},
          "RuleGroupRuleName": {},
          "RuleName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ManagedKeysIPV4": {
            "shape": "S5r"
          },
          "ManagedKeysIPV6": {
            "shape": "S5r"
          }
        }
      }
    },
    "GetRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegexPatternSet": {
            "type": "structure",
            "members": {
              "Name": {},
              "Id": {},
              "ARN": {},
              "Description": {},
              "RegularExpressionList": {
                "shape": "S3l"
              }
            }
          },
          "LockToken": {}
        }
      }
    },
    "GetRuleGroup": {
      "input": {
        "type": "structure",
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "ARN": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuleGroup": {
            "type": "structure",
            "required": [
              "Name",
              "Id",
              "Capacity",
              "ARN",
              "VisibilityConfig"
            ],
            "members": {
              "Name": {},
              "Id": {},
              "Capacity": {
                "type": "long"
              },
              "ARN": {},
              "Description": {},
              "Rules": {
                "shape": "S6"
              },
              "VisibilityConfig": {
                "shape": "S2y"
              },
              "LabelNamespace": {},
              "CustomResponseBodies": {
                "shape": "S3r"
              },
              "AvailableLabels": {
                "shape": "S4l"
              },
              "ConsumedLabels": {
                "shape": "S4l"
              }
            }
          },
          "LockToken": {}
        }
      }
    },
    "GetSampledRequests": {
      "input": {
        "type": "structure",
        "required": [
          "WebAclArn",
          "RuleMetricName",
          "Scope",
          "TimeWindow",
          "MaxItems"
        ],
        "members": {
          "WebAclArn": {},
          "RuleMetricName": {},
          "Scope": {},
          "TimeWindow": {
            "shape": "S5z"
          },
          "MaxItems": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SampledRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Request",
                "Weight"
              ],
              "members": {
                "Request": {
                  "type": "structure",
                  "members": {
                    "ClientIP": {},
                    "Country": {},
                    "URI": {},
                    "Method": {},
                    "HTTPVersion": {},
                    "Headers": {
                      "shape": "S6a"
                    }
                  }
                },
                "Weight": {
                  "type": "long"
                },
                "Timestamp": {
                  "type": "timestamp"
                },
                "Action": {},
                "RuleNameWithinRuleGroup": {},
                "RequestHeadersInserted": {
                  "shape": "S6a"
                },
                "ResponseCodeSent": {
                  "type": "integer"
                },
                "Labels": {
                  "shape": "S2v"
                },
                "CaptchaResponse": {
                  "type": "structure",
                  "members": {
                    "ResponseCode": {
                      "type": "integer"
                    },
                    "SolveTimestamp": {
                      "type": "long"
                    },
                    "FailureReason": {}
                  }
                },
                "ChallengeResponse": {
                  "type": "structure",
                  "members": {
                    "ResponseCode": {
                      "type": "integer"
                    },
                    "SolveTimestamp": {
                      "type": "long"
                    },
                    "FailureReason": {}
                  }
                },
                "OverriddenAction": {}
              }
            }
          },
          "PopulationSize": {
            "type": "long"
          },
          "TimeWindow": {
            "shape": "S5z"
          }
        }
      }
    },
    "GetWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebACL": {
            "shape": "S6o"
          },
          "LockToken": {},
          "ApplicationIntegrationURL": {}
        }
      }
    },
    "GetWebACLForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebACL": {
            "shape": "S6o"
          }
        }
      }
    },
    "ListAvailableManagedRuleGroupVersions": {
      "input": {
        "type": "structure",
        "required": [
          "VendorName",
          "Name",
          "Scope"
        ],
        "members": {
          "VendorName": {},
          "Name": {},
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "Versions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "LastUpdateTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "CurrentDefaultVersion": {}
        }
      }
    },
    "ListAvailableManagedRuleGroups": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "ManagedRuleGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VendorName": {},
                "Name": {},
                "VersioningSupported": {
                  "type": "boolean"
                },
                "Description": {}
              }
            }
          }
        }
      }
    },
    "ListIPSets": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "IPSets": {
            "type": "list",
            "member": {
              "shape": "S3h"
            }
          }
        }
      }
    },
    "ListLoggingConfigurations": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfigurations": {
            "type": "list",
            "member": {
              "shape": "S4y"
            }
          },
          "NextMarker": {}
        }
      }
    },
    "ListManagedRuleSets": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "ManagedRuleSets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Id": {},
                "Description": {},
                "LockToken": {},
                "ARN": {},
                "LabelNamespace": {}
              }
            }
          }
        }
      }
    },
    "ListMobileSdkReleases": {
      "input": {
        "type": "structure",
        "required": [
          "Platform"
        ],
        "members": {
          "Platform": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReleaseSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReleaseVersion": {},
                "Timestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextMarker": {}
        }
      }
    },
    "ListRegexPatternSets": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "RegexPatternSets": {
            "type": "list",
            "member": {
              "shape": "S3o"
            }
          }
        }
      }
    },
    "ListResourcesForWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLArn"
        ],
        "members": {
          "WebACLArn": {},
          "ResourceType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceArns": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "ListRuleGroups": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "RuleGroups": {
            "type": "list",
            "member": {
              "shape": "S3w"
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN"
        ],
        "members": {
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          },
          "ResourceARN": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "TagInfoForResource": {
            "type": "structure",
            "members": {
              "ResourceARN": {},
              "TagList": {
                "shape": "S3c"
              }
            }
          }
        }
      }
    },
    "ListWebACLs": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "WebACLs": {
            "type": "list",
            "member": {
              "shape": "S42"
            }
          }
        }
      }
    },
    "PutLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LoggingConfiguration"
        ],
        "members": {
          "LoggingConfiguration": {
            "shape": "S4y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S4y"
          }
        }
      }
    },
    "PutManagedRuleSetVersions": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {},
          "RecommendedVersion": {},
          "VersionsToPublish": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "members": {
                "AssociatedRuleGroupArn": {},
                "ForecastedLifetime": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    },
    "PutPermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Policy"
        ],
        "members": {
          "ResourceArn": {},
          "Policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "Tags"
        ],
        "members": {
          "ResourceARN": {},
          "Tags": {
            "shape": "S3c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "TagKeys"
        ],
        "members": {
          "ResourceARN": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "Addresses",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "Description": {},
          "Addresses": {
            "shape": "S3a"
          },
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    },
    "UpdateManagedRuleSetVersionExpiryDate": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken",
          "VersionToExpire",
          "ExpiryTimestamp"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {},
          "VersionToExpire": {},
          "ExpiryTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExpiringVersion": {},
          "ExpiryTimestamp": {
            "type": "timestamp"
          },
          "NextLockToken": {}
        }
      }
    },
    "UpdateRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "RegularExpressionList",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "Description": {},
          "RegularExpressionList": {
            "shape": "S3l"
          },
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    },
    "UpdateRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "VisibilityConfig",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S2y"
          },
          "LockToken": {},
          "CustomResponseBodies": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    },
    "UpdateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "DefaultAction",
          "VisibilityConfig",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "DefaultAction": {
            "shape": "S3y"
          },
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S2y"
          },
          "LockToken": {},
          "CustomResponseBodies": {
            "shape": "S3r"
          },
          "CaptchaConfig": {
            "shape": "S31"
          },
          "ChallengeConfig": {
            "shape": "S34"
          },
          "TokenDomains": {
            "shape": "S3z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    }
  },
  "shapes": {
    "S6": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Priority",
          "Statement",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Priority": {
            "type": "integer"
          },
          "Statement": {
            "shape": "Sa"
          },
          "Action": {
            "shape": "S1o"
          },
          "OverrideAction": {
            "shape": "S2t"
          },
          "RuleLabels": {
            "shape": "S2v"
          },
          "VisibilityConfig": {
            "shape": "S2y"
          },
          "CaptchaConfig": {
            "shape": "S31"
          },
          "ChallengeConfig": {
            "shape": "S34"
          }
        }
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "ByteMatchStatement": {
          "type": "structure",
          "required": [
            "SearchString",
            "FieldToMatch",
            "TextTransformations",
            "PositionalConstraint"
          ],
          "members": {
            "SearchString": {
              "type": "blob"
            },
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "S12"
            },
            "PositionalConstraint": {}
          }
        },
        "SqliMatchStatement": {
          "type": "structure",
          "required": [
            "FieldToMatch",
            "TextTransformations"
          ],
          "members": {
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "S12"
            },
            "SensitivityLevel": {}
          }
        },
        "XssMatchStatement": {
          "type": "structure",
          "required": [
            "FieldToMatch",
            "TextTransformations"
          ],
          "members": {
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "S12"
            }
          }
        },
        "SizeConstraintStatement": {
          "type": "structure",
          "required": [
            "FieldToMatch",
            "ComparisonOperator",
            "Size",
            "TextTransformations"
          ],
          "members": {
            "FieldToMatch": {
              "shape": "Sd"
            },
            "ComparisonOperator": {},
            "Size": {
              "type": "long"
            },
            "TextTransformations": {
              "shape": "S12"
            }
          }
        },
        "GeoMatchStatement": {
          "type": "structure",
          "members": {
            "CountryCodes": {
              "type": "list",
              "member": {}
            },
            "ForwardedIPConfig": {
              "shape": "S1g"
            }
          }
        },
        "RuleGroupReferenceStatement": {
          "shape": "S1j"
        },
        "IPSetReferenceStatement": {
          "type": "structure",
          "required": [
            "ARN"
          ],
          "members": {
            "ARN": {},
            "IPSetForwardedIPConfig": {
              "type": "structure",
              "required": [
                "HeaderName",
                "FallbackBehavior",
                "Position"
              ],
              "members": {
                "HeaderName": {},
                "FallbackBehavior": {},
                "Position": {}
              }
            }
          }
        },
        "RegexPatternSetReferenceStatement": {
          "type": "structure",
          "required": [
            "ARN",
            "FieldToMatch",
            "TextTransformations"
          ],
          "members": {
            "ARN": {},
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "S12"
            }
          }
        },
        "RateBasedStatement": {
          "type": "structure",
          "required": [
            "Limit",
            "AggregateKeyType"
          ],
          "members": {
            "Limit": {
              "type": "long"
            },
            "AggregateKeyType": {},
            "ScopeDownStatement": {
              "shape": "Sa"
            },
            "ForwardedIPConfig": {
              "shape": "S1g"
            }
          }
        },
        "AndStatement": {
          "type": "structure",
          "required": [
            "Statements"
          ],
          "members": {
            "Statements": {
              "shape": "S29"
            }
          }
        },
        "OrStatement": {
          "type": "structure",
          "required": [
            "Statements"
          ],
          "members": {
            "Statements": {
              "shape": "S29"
            }
          }
        },
        "NotStatement": {
          "type": "structure",
          "required": [
            "Statement"
          ],
          "members": {
            "Statement": {
              "shape": "Sa"
            }
          }
        },
        "ManagedRuleGroupStatement": {
          "shape": "S2c"
        },
        "LabelMatchStatement": {
          "type": "structure",
          "required": [
            "Scope",
            "Key"
          ],
          "members": {
            "Scope": {},
            "Key": {}
          }
        },
        "RegexMatchStatement": {
          "type": "structure",
          "required": [
            "RegexString",
            "FieldToMatch",
            "TextTransformations"
          ],
          "members": {
            "RegexString": {},
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "S12"
            }
          }
        }
      }
    },
    "Sd": {
      "type": "structure",
      "members": {
        "SingleHeader": {
          "type": "structure",
          "required": [
            "Name"
          ],
          "members": {
            "Name": {}
          }
        },
        "SingleQueryArgument": {
          "type": "structure",
          "required": [
            "Name"
          ],
          "members": {
            "Name": {}
          }
        },
        "AllQueryArguments": {
          "type": "structure",
          "members": {}
        },
        "UriPath": {
          "type": "structure",
          "members": {}
        },
        "QueryString": {
          "type": "structure",
          "members": {}
        },
        "Body": {
          "type": "structure",
          "members": {
            "OversizeHandling": {}
          }
        },
        "Method": {
          "type": "structure",
          "members": {}
        },
        "JsonBody": {
          "type": "structure",
          "required": [
            "MatchPattern",
            "MatchScope"
          ],
          "members": {
            "MatchPattern": {
              "type": "structure",
              "members": {
                "All": {
                  "shape": "Sp"
                },
                "IncludedPaths": {
                  "type": "list",
                  "member": {}
                }
              }
            },
            "MatchScope": {},
            "InvalidFallbackBehavior": {},
            "OversizeHandling": {}
          }
        },
        "Headers": {
          "type": "structure",
          "required": [
            "MatchPattern",
            "MatchScope",
            "OversizeHandling"
          ],
          "members": {
            "MatchPattern": {
              "type": "structure",
              "members": {
                "All": {
                  "shape": "Sp"
                },
                "IncludedHeaders": {
                  "shape": "Sw"
                },
                "ExcludedHeaders": {
                  "shape": "Sw"
                }
              }
            },
            "MatchScope": {},
            "OversizeHandling": {}
          }
        },
        "Cookies": {
          "type": "structure",
          "required": [
            "MatchPattern",
            "MatchScope",
            "OversizeHandling"
          ],
          "members": {
            "MatchPattern": {
              "type": "structure",
              "members": {
                "All": {
                  "shape": "Sp"
                },
                "IncludedCookies": {
                  "shape": "S10"
                },
                "ExcludedCookies": {
                  "shape": "S10"
                }
              }
            },
            "MatchScope": {},
            "OversizeHandling": {}
          }
        }
      }
    },
    "Sp": {
      "type": "structure",
      "members": {}
    },
    "Sw": {
      "type": "list",
      "member": {}
    },
    "S10": {
      "type": "list",
      "member": {}
    },
    "S12": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Priority",
          "Type"
        ],
        "members": {
          "Priority": {
            "type": "integer"
          },
          "Type": {}
        }
      }
    },
    "S1g": {
      "type": "structure",
      "required": [
        "HeaderName",
        "FallbackBehavior"
      ],
      "members": {
        "HeaderName": {},
        "FallbackBehavior": {}
      }
    },
    "S1j": {
      "type": "structure",
      "required": [
        "ARN"
      ],
      "members": {
        "ARN": {},
        "ExcludedRules": {
          "shape": "S1k"
        },
        "RuleActionOverrides": {
          "shape": "S1m"
        }
      }
    },
    "S1k": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "S1m": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "ActionToUse"
        ],
        "members": {
          "Name": {},
          "ActionToUse": {
            "shape": "S1o"
          }
        }
      }
    },
    "S1o": {
      "type": "structure",
      "members": {
        "Block": {
          "shape": "S1p"
        },
        "Allow": {
          "shape": "S1w"
        },
        "Count": {
          "shape": "S1y"
        },
        "Captcha": {
          "type": "structure",
          "members": {
            "CustomRequestHandling": {
              "shape": "S1x"
            }
          }
        },
        "Challenge": {
          "type": "structure",
          "members": {
            "CustomRequestHandling": {
              "shape": "S1x"
            }
          }
        }
      }
    },
    "S1p": {
      "type": "structure",
      "members": {
        "CustomResponse": {
          "type": "structure",
          "required": [
            "ResponseCode"
          ],
          "members": {
            "ResponseCode": {
              "type": "integer"
            },
            "CustomResponseBodyKey": {},
            "ResponseHeaders": {
              "shape": "S1s"
            }
          }
        }
      }
    },
    "S1s": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Value"
        ],
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "CustomRequestHandling": {
          "shape": "S1x"
        }
      }
    },
    "S1x": {
      "type": "structure",
      "required": [
        "InsertHeaders"
      ],
      "members": {
        "InsertHeaders": {
          "shape": "S1s"
        }
      }
    },
    "S1y": {
      "type": "structure",
      "members": {
        "CustomRequestHandling": {
          "shape": "S1x"
        }
      }
    },
    "S29": {
      "type": "list",
      "member": {
        "shape": "Sa"
      }
    },
    "S2c": {
      "type": "structure",
      "required": [
        "VendorName",
        "Name"
      ],
      "members": {
        "VendorName": {},
        "Name": {},
        "Version": {},
        "ExcludedRules": {
          "shape": "S1k"
        },
        "ScopeDownStatement": {
          "shape": "Sa"
        },
        "ManagedRuleGroupConfigs": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LoginPath": {},
              "PayloadType": {},
              "UsernameField": {
                "type": "structure",
                "required": [
                  "Identifier"
                ],
                "members": {
                  "Identifier": {}
                }
              },
              "PasswordField": {
                "type": "structure",
                "required": [
                  "Identifier"
                ],
                "members": {
                  "Identifier": {}
                }
              },
              "AWSManagedRulesBotControlRuleSet": {
                "type": "structure",
                "required": [
                  "InspectionLevel"
                ],
                "members": {
                  "InspectionLevel": {}
                }
              }
            }
          }
        },
        "RuleActionOverrides": {
          "shape": "S1m"
        }
      }
    },
    "S2t": {
      "type": "structure",
      "members": {
        "Count": {
          "shape": "S1y"
        },
        "None": {
          "type": "structure",
          "members": {}
        }
      }
    },
    "S2v": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "S2y": {
      "type": "structure",
      "required": [
        "SampledRequestsEnabled",
        "CloudWatchMetricsEnabled",
        "MetricName"
      ],
      "members": {
        "SampledRequestsEnabled": {
          "type": "boolean"
        },
        "CloudWatchMetricsEnabled": {
          "type": "boolean"
        },
        "MetricName": {}
      }
    },
    "S31": {
      "type": "structure",
      "members": {
        "ImmunityTimeProperty": {
          "shape": "S32"
        }
      }
    },
    "S32": {
      "type": "structure",
      "required": [
        "ImmunityTime"
      ],
      "members": {
        "ImmunityTime": {
          "type": "long"
        }
      }
    },
    "S34": {
      "type": "structure",
      "members": {
        "ImmunityTimeProperty": {
          "shape": "S32"
        }
      }
    },
    "S3a": {
      "type": "list",
      "member": {}
    },
    "S3c": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S3h": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S3l": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "RegexString": {}
        }
      }
    },
    "S3o": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S3r": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "required": [
          "ContentType",
          "Content"
        ],
        "members": {
          "ContentType": {},
          "Content": {}
        }
      }
    },
    "S3w": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S3y": {
      "type": "structure",
      "members": {
        "Block": {
          "shape": "S1p"
        },
        "Allow": {
          "shape": "S1w"
        }
      }
    },
    "S3z": {
      "type": "list",
      "member": {}
    },
    "S42": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S4l": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "S4y": {
      "type": "structure",
      "required": [
        "ResourceArn",
        "LogDestinationConfigs"
      ],
      "members": {
        "ResourceArn": {},
        "LogDestinationConfigs": {
          "type": "list",
          "member": {}
        },
        "RedactedFields": {
          "type": "list",
          "member": {
            "shape": "Sd"
          }
        },
        "ManagedByFirewallManager": {
          "type": "boolean"
        },
        "LoggingFilter": {
          "type": "structure",
          "required": [
            "Filters",
            "DefaultBehavior"
          ],
          "members": {
            "Filters": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Behavior",
                  "Requirement",
                  "Conditions"
                ],
                "members": {
                  "Behavior": {},
                  "Requirement": {},
                  "Conditions": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "ActionCondition": {
                          "type": "structure",
                          "required": [
                            "Action"
                          ],
                          "members": {
                            "Action": {}
                          }
                        },
                        "LabelNameCondition": {
                          "type": "structure",
                          "required": [
                            "LabelName"
                          ],
                          "members": {
                            "LabelName": {}
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "DefaultBehavior": {}
          }
        }
      }
    },
    "S5r": {
      "type": "structure",
      "members": {
        "IPAddressVersion": {},
        "Addresses": {
          "shape": "S3a"
        }
      }
    },
    "S5z": {
      "type": "structure",
      "required": [
        "StartTime",
        "EndTime"
      ],
      "members": {
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        }
      }
    },
    "S6a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "S6o": {
      "type": "structure",
      "required": [
        "Name",
        "Id",
        "ARN",
        "DefaultAction",
        "VisibilityConfig"
      ],
      "members": {
        "Name": {},
        "Id": {},
        "ARN": {},
        "DefaultAction": {
          "shape": "S3y"
        },
        "Description": {},
        "Rules": {
          "shape": "S6"
        },
        "VisibilityConfig": {
          "shape": "S2y"
        },
        "Capacity": {
          "type": "long"
        },
        "PreProcessFirewallManagerRuleGroups": {
          "shape": "S6p"
        },
        "PostProcessFirewallManagerRuleGroups": {
          "shape": "S6p"
        },
        "ManagedByFirewallManager": {
          "type": "boolean"
        },
        "LabelNamespace": {},
        "CustomResponseBodies": {
          "shape": "S3r"
        },
        "CaptchaConfig": {
          "shape": "S31"
        },
        "ChallengeConfig": {
          "shape": "S34"
        },
        "TokenDomains": {
          "shape": "S3z"
        }
      }
    },
    "S6p": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Priority",
          "FirewallManagerStatement",
          "OverrideAction",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Priority": {
            "type": "integer"
          },
          "FirewallManagerStatement": {
            "type": "structure",
            "members": {
              "ManagedRuleGroupStatement": {
                "shape": "S2c"
              },
              "RuleGroupReferenceStatement": {
                "shape": "S1j"
              }
            }
          },
          "OverrideAction": {
            "shape": "S2t"
          },
          "VisibilityConfig": {
            "shape": "S2y"
          }
        }
      }
    }
  }
}