{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-07-29",
    "endpointPrefix": "wafv2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "WAFV2",
    "serviceFullName": "AWS WAFV2",
    "serviceId": "WAFV2",
    "signatureVersion": "v4",
    "targetPrefix": "AWSWAF_20190729",
    "uid": "wafv2-2019-07-29"
  },
  "operations": {
    "AssociateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLArn",
          "ResourceArn"
        ],
        "members": {
          "WebACLArn": {},
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CheckCapacity": {
      "input": {
        "type": "structure",
        "required": [
          "Scope",
          "Rules"
        ],
        "members": {
          "Scope": {},
          "Rules": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Capacity": {
            "type": "long"
          }
        }
      }
    },
    "CreateIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "IPAddressVersion",
          "Addresses"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Description": {},
          "IPAddressVersion": {},
          "Addresses": {
            "shape": "S1w"
          },
          "Tags": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S23"
          }
        }
      }
    },
    "CreateRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "RegularExpressionList"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Description": {},
          "RegularExpressionList": {
            "shape": "S27"
          },
          "Tags": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S2b"
          }
        }
      }
    },
    "CreateRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Capacity",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Capacity": {
            "type": "long"
          },
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S1o"
          },
          "Tags": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S2f"
          }
        }
      }
    },
    "CreateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "DefaultAction",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "DefaultAction": {
            "shape": "S2h"
          },
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S1o"
          },
          "Tags": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Summary": {
            "shape": "S2j"
          }
        }
      }
    },
    "DeleteFirewallManagerRuleGroups": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLArn",
          "WebACLLockToken"
        ],
        "members": {
          "WebACLArn": {},
          "WebACLLockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextWebACLLockToken": {}
        }
      }
    },
    "DeleteIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeManagedRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "VendorName",
          "Name",
          "Scope"
        ],
        "members": {
          "VendorName": {},
          "Name": {},
          "Scope": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Capacity": {
            "type": "long"
          },
          "Rules": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Action": {
                  "shape": "S1i"
                }
              }
            }
          }
        }
      }
    },
    "DisassociateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IPSet": {
            "type": "structure",
            "required": [
              "Name",
              "Id",
              "ARN",
              "IPAddressVersion",
              "Addresses"
            ],
            "members": {
              "Name": {},
              "Id": {},
              "ARN": {},
              "Description": {},
              "IPAddressVersion": {},
              "Addresses": {
                "shape": "S1w"
              }
            }
          },
          "LockToken": {}
        }
      }
    },
    "GetLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S39"
          }
        }
      }
    },
    "GetPermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {}
        }
      }
    },
    "GetRateBasedStatementManagedKeys": {
      "input": {
        "type": "structure",
        "required": [
          "Scope",
          "WebACLName",
          "WebACLId",
          "RuleName"
        ],
        "members": {
          "Scope": {},
          "WebACLName": {},
          "WebACLId": {},
          "RuleName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ManagedKeysIPV4": {
            "shape": "S3h"
          },
          "ManagedKeysIPV6": {
            "shape": "S3h"
          }
        }
      }
    },
    "GetRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegexPatternSet": {
            "type": "structure",
            "members": {
              "Name": {},
              "Id": {},
              "ARN": {},
              "Description": {},
              "RegularExpressionList": {
                "shape": "S27"
              }
            }
          },
          "LockToken": {}
        }
      }
    },
    "GetRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuleGroup": {
            "type": "structure",
            "required": [
              "Name",
              "Id",
              "Capacity",
              "ARN",
              "VisibilityConfig"
            ],
            "members": {
              "Name": {},
              "Id": {},
              "Capacity": {
                "type": "long"
              },
              "ARN": {},
              "Description": {},
              "Rules": {
                "shape": "S6"
              },
              "VisibilityConfig": {
                "shape": "S1o"
              }
            }
          },
          "LockToken": {}
        }
      }
    },
    "GetSampledRequests": {
      "input": {
        "type": "structure",
        "required": [
          "WebAclArn",
          "RuleMetricName",
          "Scope",
          "TimeWindow",
          "MaxItems"
        ],
        "members": {
          "WebAclArn": {},
          "RuleMetricName": {},
          "Scope": {},
          "TimeWindow": {
            "shape": "S3p"
          },
          "MaxItems": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SampledRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Request",
                "Weight"
              ],
              "members": {
                "Request": {
                  "type": "structure",
                  "members": {
                    "ClientIP": {},
                    "Country": {},
                    "URI": {},
                    "Method": {},
                    "HTTPVersion": {},
                    "Headers": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "Name": {},
                          "Value": {}
                        }
                      }
                    }
                  }
                },
                "Weight": {
                  "type": "long"
                },
                "Timestamp": {
                  "type": "timestamp"
                },
                "Action": {},
                "RuleNameWithinRuleGroup": {}
              }
            }
          },
          "PopulationSize": {
            "type": "long"
          },
          "TimeWindow": {
            "shape": "S3p"
          }
        }
      }
    },
    "GetWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebACL": {
            "shape": "S4a"
          },
          "LockToken": {}
        }
      }
    },
    "GetWebACLForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebACL": {
            "shape": "S4a"
          }
        }
      }
    },
    "ListAvailableManagedRuleGroups": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "ManagedRuleGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VendorName": {},
                "Name": {},
                "Description": {}
              }
            }
          }
        }
      }
    },
    "ListIPSets": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "IPSets": {
            "type": "list",
            "member": {
              "shape": "S23"
            }
          }
        }
      }
    },
    "ListLoggingConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfigurations": {
            "type": "list",
            "member": {
              "shape": "S39"
            }
          },
          "NextMarker": {}
        }
      }
    },
    "ListRegexPatternSets": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "RegexPatternSets": {
            "type": "list",
            "member": {
              "shape": "S2b"
            }
          }
        }
      }
    },
    "ListResourcesForWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "WebACLArn"
        ],
        "members": {
          "WebACLArn": {},
          "ResourceType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceArns": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "ListRuleGroups": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "RuleGroups": {
            "type": "list",
            "member": {
              "shape": "S2f"
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN"
        ],
        "members": {
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          },
          "ResourceARN": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "TagInfoForResource": {
            "type": "structure",
            "members": {
              "ResourceARN": {},
              "TagList": {
                "shape": "S1y"
              }
            }
          }
        }
      }
    },
    "ListWebACLs": {
      "input": {
        "type": "structure",
        "required": [
          "Scope"
        ],
        "members": {
          "Scope": {},
          "NextMarker": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "WebACLs": {
            "type": "list",
            "member": {
              "shape": "S2j"
            }
          }
        }
      }
    },
    "PutLoggingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LoggingConfiguration"
        ],
        "members": {
          "LoggingConfiguration": {
            "shape": "S39"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S39"
          }
        }
      }
    },
    "PutPermissionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Policy"
        ],
        "members": {
          "ResourceArn": {},
          "Policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "Tags"
        ],
        "members": {
          "ResourceARN": {},
          "Tags": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "TagKeys"
        ],
        "members": {
          "ResourceARN": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateIPSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "Addresses",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "Description": {},
          "Addresses": {
            "shape": "S1w"
          },
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    },
    "UpdateRegexPatternSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "RegularExpressionList",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "Description": {},
          "RegularExpressionList": {
            "shape": "S27"
          },
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    },
    "UpdateRuleGroup": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "VisibilityConfig",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S1o"
          },
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    },
    "UpdateWebACL": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Scope",
          "Id",
          "DefaultAction",
          "VisibilityConfig",
          "LockToken"
        ],
        "members": {
          "Name": {},
          "Scope": {},
          "Id": {},
          "DefaultAction": {
            "shape": "S2h"
          },
          "Description": {},
          "Rules": {
            "shape": "S6"
          },
          "VisibilityConfig": {
            "shape": "S1o"
          },
          "LockToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextLockToken": {}
        }
      }
    }
  },
  "shapes": {
    "S6": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Priority",
          "Statement",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Priority": {
            "type": "integer"
          },
          "Statement": {
            "shape": "Sa"
          },
          "Action": {
            "shape": "S1i"
          },
          "OverrideAction": {
            "shape": "S1m"
          },
          "VisibilityConfig": {
            "shape": "S1o"
          }
        }
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "ByteMatchStatement": {
          "type": "structure",
          "required": [
            "SearchString",
            "FieldToMatch",
            "TextTransformations",
            "PositionalConstraint"
          ],
          "members": {
            "SearchString": {
              "type": "blob"
            },
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "Sm"
            },
            "PositionalConstraint": {}
          }
        },
        "SqliMatchStatement": {
          "type": "structure",
          "required": [
            "FieldToMatch",
            "TextTransformations"
          ],
          "members": {
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "Sm"
            }
          }
        },
        "XssMatchStatement": {
          "type": "structure",
          "required": [
            "FieldToMatch",
            "TextTransformations"
          ],
          "members": {
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "Sm"
            }
          }
        },
        "SizeConstraintStatement": {
          "type": "structure",
          "required": [
            "FieldToMatch",
            "ComparisonOperator",
            "Size",
            "TextTransformations"
          ],
          "members": {
            "FieldToMatch": {
              "shape": "Sd"
            },
            "ComparisonOperator": {},
            "Size": {
              "type": "long"
            },
            "TextTransformations": {
              "shape": "Sm"
            }
          }
        },
        "GeoMatchStatement": {
          "type": "structure",
          "members": {
            "CountryCodes": {
              "type": "list",
              "member": {}
            },
            "ForwardedIPConfig": {
              "shape": "Sz"
            }
          }
        },
        "RuleGroupReferenceStatement": {
          "shape": "S12"
        },
        "IPSetReferenceStatement": {
          "type": "structure",
          "required": [
            "ARN"
          ],
          "members": {
            "ARN": {},
            "IPSetForwardedIPConfig": {
              "type": "structure",
              "required": [
                "HeaderName",
                "FallbackBehavior",
                "Position"
              ],
              "members": {
                "HeaderName": {},
                "FallbackBehavior": {},
                "Position": {}
              }
            }
          }
        },
        "RegexPatternSetReferenceStatement": {
          "type": "structure",
          "required": [
            "ARN",
            "FieldToMatch",
            "TextTransformations"
          ],
          "members": {
            "ARN": {},
            "FieldToMatch": {
              "shape": "Sd"
            },
            "TextTransformations": {
              "shape": "Sm"
            }
          }
        },
        "RateBasedStatement": {
          "type": "structure",
          "required": [
            "Limit",
            "AggregateKeyType"
          ],
          "members": {
            "Limit": {
              "type": "long"
            },
            "AggregateKeyType": {},
            "ScopeDownStatement": {
              "shape": "Sa"
            },
            "ForwardedIPConfig": {
              "shape": "Sz"
            }
          }
        },
        "AndStatement": {
          "type": "structure",
          "required": [
            "Statements"
          ],
          "members": {
            "Statements": {
              "shape": "S1d"
            }
          }
        },
        "OrStatement": {
          "type": "structure",
          "required": [
            "Statements"
          ],
          "members": {
            "Statements": {
              "shape": "S1d"
            }
          }
        },
        "NotStatement": {
          "type": "structure",
          "required": [
            "Statement"
          ],
          "members": {
            "Statement": {
              "shape": "Sa"
            }
          }
        },
        "ManagedRuleGroupStatement": {
          "shape": "S1g"
        }
      }
    },
    "Sd": {
      "type": "structure",
      "members": {
        "SingleHeader": {
          "type": "structure",
          "required": [
            "Name"
          ],
          "members": {
            "Name": {}
          }
        },
        "SingleQueryArgument": {
          "type": "structure",
          "required": [
            "Name"
          ],
          "members": {
            "Name": {}
          }
        },
        "AllQueryArguments": {
          "type": "structure",
          "members": {}
        },
        "UriPath": {
          "type": "structure",
          "members": {}
        },
        "QueryString": {
          "type": "structure",
          "members": {}
        },
        "Body": {
          "type": "structure",
          "members": {}
        },
        "Method": {
          "type": "structure",
          "members": {}
        }
      }
    },
    "Sm": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Priority",
          "Type"
        ],
        "members": {
          "Priority": {
            "type": "integer"
          },
          "Type": {}
        }
      }
    },
    "Sz": {
      "type": "structure",
      "required": [
        "HeaderName",
        "FallbackBehavior"
      ],
      "members": {
        "HeaderName": {},
        "FallbackBehavior": {}
      }
    },
    "S12": {
      "type": "structure",
      "required": [
        "ARN"
      ],
      "members": {
        "ARN": {},
        "ExcludedRules": {
          "shape": "S13"
        }
      }
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "S1d": {
      "type": "list",
      "member": {
        "shape": "Sa"
      }
    },
    "S1g": {
      "type": "structure",
      "required": [
        "VendorName",
        "Name"
      ],
      "members": {
        "VendorName": {},
        "Name": {},
        "ExcludedRules": {
          "shape": "S13"
        }
      }
    },
    "S1i": {
      "type": "structure",
      "members": {
        "Block": {
          "shape": "S1j"
        },
        "Allow": {
          "shape": "S1k"
        },
        "Count": {
          "shape": "S1l"
        }
      }
    },
    "S1j": {
      "type": "structure",
      "members": {}
    },
    "S1k": {
      "type": "structure",
      "members": {}
    },
    "S1l": {
      "type": "structure",
      "members": {}
    },
    "S1m": {
      "type": "structure",
      "members": {
        "Count": {
          "shape": "S1l"
        },
        "None": {
          "type": "structure",
          "members": {}
        }
      }
    },
    "S1o": {
      "type": "structure",
      "required": [
        "SampledRequestsEnabled",
        "CloudWatchMetricsEnabled",
        "MetricName"
      ],
      "members": {
        "SampledRequestsEnabled": {
          "type": "boolean"
        },
        "CloudWatchMetricsEnabled": {
          "type": "boolean"
        },
        "MetricName": {}
      }
    },
    "S1w": {
      "type": "list",
      "member": {}
    },
    "S1y": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S23": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S27": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "RegexString": {}
        }
      }
    },
    "S2b": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S2f": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S2h": {
      "type": "structure",
      "members": {
        "Block": {
          "shape": "S1j"
        },
        "Allow": {
          "shape": "S1k"
        }
      }
    },
    "S2j": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Description": {},
        "LockToken": {},
        "ARN": {}
      }
    },
    "S39": {
      "type": "structure",
      "required": [
        "ResourceArn",
        "LogDestinationConfigs"
      ],
      "members": {
        "ResourceArn": {},
        "LogDestinationConfigs": {
          "type": "list",
          "member": {}
        },
        "RedactedFields": {
          "type": "list",
          "member": {
            "shape": "Sd"
          }
        },
        "ManagedByFirewallManager": {
          "type": "boolean"
        }
      }
    },
    "S3h": {
      "type": "structure",
      "members": {
        "IPAddressVersion": {},
        "Addresses": {
          "shape": "S1w"
        }
      }
    },
    "S3p": {
      "type": "structure",
      "required": [
        "StartTime",
        "EndTime"
      ],
      "members": {
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        }
      }
    },
    "S4a": {
      "type": "structure",
      "required": [
        "Name",
        "Id",
        "ARN",
        "DefaultAction",
        "VisibilityConfig"
      ],
      "members": {
        "Name": {},
        "Id": {},
        "ARN": {},
        "DefaultAction": {
          "shape": "S2h"
        },
        "Description": {},
        "Rules": {
          "shape": "S6"
        },
        "VisibilityConfig": {
          "shape": "S1o"
        },
        "Capacity": {
          "type": "long"
        },
        "PreProcessFirewallManagerRuleGroups": {
          "shape": "S4b"
        },
        "PostProcessFirewallManagerRuleGroups": {
          "shape": "S4b"
        },
        "ManagedByFirewallManager": {
          "type": "boolean"
        }
      }
    },
    "S4b": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Priority",
          "FirewallManagerStatement",
          "OverrideAction",
          "VisibilityConfig"
        ],
        "members": {
          "Name": {},
          "Priority": {
            "type": "integer"
          },
          "FirewallManagerStatement": {
            "type": "structure",
            "members": {
              "ManagedRuleGroupStatement": {
                "shape": "S1g"
              },
              "RuleGroupReferenceStatement": {
                "shape": "S12"
              }
            }
          },
          "OverrideAction": {
            "shape": "S1m"
          },
          "VisibilityConfig": {
            "shape": "S1o"
          }
        }
      }
    }
  }
}