{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-07-08",
    "endpointPrefix": "workspaces-web",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon WorkSpaces Web",
    "serviceId": "WorkSpaces Web",
    "signatureVersion": "v4",
    "signingName": "workspaces-web",
    "uid": "workspaces-web-2020-07-08"
  },
  "operations": {
    "AssociateBrowserSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/portals/{portalArn+}/browserSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "browserSettingsArn",
          "portalArn"
        ],
        "members": {
          "browserSettingsArn": {
            "location": "querystring",
            "locationName": "browserSettingsArn"
          },
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "browserSettingsArn",
          "portalArn"
        ],
        "members": {
          "browserSettingsArn": {},
          "portalArn": {}
        }
      },
      "idempotent": true
    },
    "AssociateNetworkSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/portals/{portalArn+}/networkSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSettingsArn",
          "portalArn"
        ],
        "members": {
          "networkSettingsArn": {
            "location": "querystring",
            "locationName": "networkSettingsArn"
          },
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "networkSettingsArn",
          "portalArn"
        ],
        "members": {
          "networkSettingsArn": {},
          "portalArn": {}
        }
      },
      "idempotent": true
    },
    "AssociateTrustStore": {
      "http": {
        "method": "PUT",
        "requestUri": "/portals/{portalArn+}/trustStores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn",
          "trustStoreArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          },
          "trustStoreArn": {
            "location": "querystring",
            "locationName": "trustStoreArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "portalArn",
          "trustStoreArn"
        ],
        "members": {
          "portalArn": {},
          "trustStoreArn": {}
        }
      },
      "idempotent": true
    },
    "AssociateUserAccessLoggingSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/portals/{portalArn+}/userAccessLoggingSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn",
          "userAccessLoggingSettingsArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          },
          "userAccessLoggingSettingsArn": {
            "location": "querystring",
            "locationName": "userAccessLoggingSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "portalArn",
          "userAccessLoggingSettingsArn"
        ],
        "members": {
          "portalArn": {},
          "userAccessLoggingSettingsArn": {}
        }
      },
      "idempotent": true
    },
    "AssociateUserSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/portals/{portalArn+}/userSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn",
          "userSettingsArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          },
          "userSettingsArn": {
            "location": "querystring",
            "locationName": "userSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "portalArn",
          "userSettingsArn"
        ],
        "members": {
          "portalArn": {},
          "userSettingsArn": {}
        }
      },
      "idempotent": true
    },
    "CreateBrowserSettings": {
      "http": {
        "requestUri": "/browserSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "browserPolicy"
        ],
        "members": {
          "additionalEncryptionContext": {
            "shape": "Sd"
          },
          "browserPolicy": {
            "shape": "Sf"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "customerManagedKey": {},
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "browserSettingsArn"
        ],
        "members": {
          "browserSettingsArn": {}
        }
      }
    },
    "CreateIdentityProvider": {
      "http": {
        "requestUri": "/identityProviders",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identityProviderDetails",
          "identityProviderName",
          "identityProviderType",
          "portalArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "identityProviderDetails": {
            "shape": "So"
          },
          "identityProviderName": {
            "shape": "Sp"
          },
          "identityProviderType": {},
          "portalArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "identityProviderArn"
        ],
        "members": {
          "identityProviderArn": {}
        }
      }
    },
    "CreateNetworkSettings": {
      "http": {
        "requestUri": "/networkSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "securityGroupIds",
          "subnetIds",
          "vpcId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "securityGroupIds": {
            "shape": "St"
          },
          "subnetIds": {
            "shape": "Sv"
          },
          "tags": {
            "shape": "Si"
          },
          "vpcId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "networkSettingsArn"
        ],
        "members": {
          "networkSettingsArn": {}
        }
      }
    },
    "CreatePortal": {
      "http": {
        "requestUri": "/portals",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "additionalEncryptionContext": {
            "shape": "Sd"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "customerManagedKey": {},
          "displayName": {
            "shape": "S10"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "portalArn",
          "portalEndpoint"
        ],
        "members": {
          "portalArn": {},
          "portalEndpoint": {}
        }
      }
    },
    "CreateTrustStore": {
      "http": {
        "requestUri": "/trustStores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "certificateList"
        ],
        "members": {
          "certificateList": {
            "shape": "S14"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "trustStoreArn"
        ],
        "members": {
          "trustStoreArn": {}
        }
      }
    },
    "CreateUserAccessLoggingSettings": {
      "http": {
        "requestUri": "/userAccessLoggingSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "kinesisStreamArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "kinesisStreamArn": {},
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userAccessLoggingSettingsArn"
        ],
        "members": {
          "userAccessLoggingSettingsArn": {}
        }
      }
    },
    "CreateUserSettings": {
      "http": {
        "requestUri": "/userSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "copyAllowed",
          "downloadAllowed",
          "pasteAllowed",
          "printAllowed",
          "uploadAllowed"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "copyAllowed": {},
          "disconnectTimeoutInMinutes": {
            "type": "integer"
          },
          "downloadAllowed": {},
          "idleDisconnectTimeoutInMinutes": {
            "type": "integer"
          },
          "pasteAllowed": {},
          "printAllowed": {},
          "tags": {
            "shape": "Si"
          },
          "uploadAllowed": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userSettingsArn"
        ],
        "members": {
          "userSettingsArn": {}
        }
      }
    },
    "DeleteBrowserSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/browserSettings/{browserSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "browserSettingsArn"
        ],
        "members": {
          "browserSettingsArn": {
            "location": "uri",
            "locationName": "browserSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteIdentityProvider": {
      "http": {
        "method": "DELETE",
        "requestUri": "/identityProviders/{identityProviderArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identityProviderArn"
        ],
        "members": {
          "identityProviderArn": {
            "location": "uri",
            "locationName": "identityProviderArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteNetworkSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/networkSettings/{networkSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSettingsArn"
        ],
        "members": {
          "networkSettingsArn": {
            "location": "uri",
            "locationName": "networkSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeletePortal": {
      "http": {
        "method": "DELETE",
        "requestUri": "/portals/{portalArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteTrustStore": {
      "http": {
        "method": "DELETE",
        "requestUri": "/trustStores/{trustStoreArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "trustStoreArn"
        ],
        "members": {
          "trustStoreArn": {
            "location": "uri",
            "locationName": "trustStoreArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteUserAccessLoggingSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "userAccessLoggingSettingsArn"
        ],
        "members": {
          "userAccessLoggingSettingsArn": {
            "location": "uri",
            "locationName": "userAccessLoggingSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteUserSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/userSettings/{userSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "userSettingsArn"
        ],
        "members": {
          "userSettingsArn": {
            "location": "uri",
            "locationName": "userSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateBrowserSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/portals/{portalArn+}/browserSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateNetworkSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/portals/{portalArn+}/networkSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateTrustStore": {
      "http": {
        "method": "DELETE",
        "requestUri": "/portals/{portalArn+}/trustStores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateUserAccessLoggingSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/portals/{portalArn+}/userAccessLoggingSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateUserSettings": {
      "http": {
        "method": "DELETE",
        "requestUri": "/portals/{portalArn+}/userSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetBrowserSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/browserSettings/{browserSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "browserSettingsArn"
        ],
        "members": {
          "browserSettingsArn": {
            "location": "uri",
            "locationName": "browserSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "browserSettings": {
            "shape": "S25"
          }
        }
      }
    },
    "GetIdentityProvider": {
      "http": {
        "method": "GET",
        "requestUri": "/identityProviders/{identityProviderArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identityProviderArn"
        ],
        "members": {
          "identityProviderArn": {
            "location": "uri",
            "locationName": "identityProviderArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "identityProvider": {
            "shape": "S29"
          }
        }
      }
    },
    "GetNetworkSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/networkSettings/{networkSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSettingsArn"
        ],
        "members": {
          "networkSettingsArn": {
            "location": "uri",
            "locationName": "networkSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkSettings": {
            "shape": "S2c"
          }
        }
      }
    },
    "GetPortal": {
      "http": {
        "method": "GET",
        "requestUri": "/portals/{portalArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "portal": {
            "shape": "S2f"
          }
        }
      }
    },
    "GetPortalServiceProviderMetadata": {
      "http": {
        "method": "GET",
        "requestUri": "/portalIdp/{portalArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "portalArn": {},
          "serviceProviderSamlMetadata": {}
        }
      }
    },
    "GetTrustStore": {
      "http": {
        "method": "GET",
        "requestUri": "/trustStores/{trustStoreArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "trustStoreArn"
        ],
        "members": {
          "trustStoreArn": {
            "location": "uri",
            "locationName": "trustStoreArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "trustStore": {
            "type": "structure",
            "members": {
              "associatedPortalArns": {
                "shape": "S26"
              },
              "trustStoreArn": {}
            }
          }
        }
      }
    },
    "GetTrustStoreCertificate": {
      "http": {
        "method": "GET",
        "requestUri": "/trustStores/{trustStoreArn+}/certificate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "thumbprint",
          "trustStoreArn"
        ],
        "members": {
          "thumbprint": {
            "location": "querystring",
            "locationName": "thumbprint"
          },
          "trustStoreArn": {
            "location": "uri",
            "locationName": "trustStoreArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "certificate": {
            "type": "structure",
            "members": {
              "body": {
                "type": "blob"
              },
              "issuer": {},
              "notValidAfter": {
                "type": "timestamp"
              },
              "notValidBefore": {
                "type": "timestamp"
              },
              "subject": {},
              "thumbprint": {}
            }
          },
          "trustStoreArn": {}
        }
      }
    },
    "GetUserAccessLoggingSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "userAccessLoggingSettingsArn"
        ],
        "members": {
          "userAccessLoggingSettingsArn": {
            "location": "uri",
            "locationName": "userAccessLoggingSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "userAccessLoggingSettings": {
            "shape": "S2y"
          }
        }
      }
    },
    "GetUserSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/userSettings/{userSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "userSettingsArn"
        ],
        "members": {
          "userSettingsArn": {
            "location": "uri",
            "locationName": "userSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "userSettings": {
            "shape": "S31"
          }
        }
      }
    },
    "ListBrowserSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/browserSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "browserSettings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "browserSettingsArn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListIdentityProviders": {
      "http": {
        "method": "GET",
        "requestUri": "/portals/{portalArn+}/identityProviders",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "identityProviders": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "identityProviderArn": {},
                "identityProviderName": {
                  "shape": "Sp"
                },
                "identityProviderType": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListNetworkSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/networkSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkSettings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "networkSettingsArn": {},
                "vpcId": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListPortals": {
      "http": {
        "method": "GET",
        "requestUri": "/portals",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "portals": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "browserSettingsArn": {},
                "browserType": {},
                "creationDate": {
                  "type": "timestamp"
                },
                "displayName": {
                  "shape": "S10"
                },
                "networkSettingsArn": {},
                "portalArn": {},
                "portalEndpoint": {},
                "portalStatus": {},
                "rendererType": {},
                "trustStoreArn": {},
                "userAccessLoggingSettingsArn": {},
                "userSettingsArn": {}
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "ListTrustStoreCertificates": {
      "http": {
        "method": "GET",
        "requestUri": "/trustStores/{trustStoreArn+}/certificates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "trustStoreArn"
        ],
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "trustStoreArn": {
            "location": "uri",
            "locationName": "trustStoreArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "certificateList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "issuer": {},
                "notValidAfter": {
                  "type": "timestamp"
                },
                "notValidBefore": {
                  "type": "timestamp"
                },
                "subject": {},
                "thumbprint": {}
              }
            }
          },
          "nextToken": {},
          "trustStoreArn": {}
        }
      }
    },
    "ListTrustStores": {
      "http": {
        "method": "GET",
        "requestUri": "/trustStores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "trustStores": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "trustStoreArn": {}
              }
            }
          }
        }
      }
    },
    "ListUserAccessLoggingSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/userAccessLoggingSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "userAccessLoggingSettings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "kinesisStreamArn": {},
                "userAccessLoggingSettingsArn": {}
              }
            }
          }
        }
      }
    },
    "ListUserSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/userSettings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "userSettings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "copyAllowed": {},
                "disconnectTimeoutInMinutes": {
                  "type": "integer"
                },
                "downloadAllowed": {},
                "idleDisconnectTimeoutInMinutes": {
                  "type": "integer"
                },
                "pasteAllowed": {},
                "printAllowed": {},
                "uploadAllowed": {},
                "userSettingsArn": {}
              }
            }
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {
              "shape": "Sk"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateBrowserSettings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/browserSettings/{browserSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "browserSettingsArn"
        ],
        "members": {
          "browserPolicy": {
            "shape": "Sf"
          },
          "browserSettingsArn": {
            "location": "uri",
            "locationName": "browserSettingsArn"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "browserSettings"
        ],
        "members": {
          "browserSettings": {
            "shape": "S25"
          }
        }
      }
    },
    "UpdateIdentityProvider": {
      "http": {
        "method": "PATCH",
        "requestUri": "/identityProviders/{identityProviderArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identityProviderArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "identityProviderArn": {
            "location": "uri",
            "locationName": "identityProviderArn"
          },
          "identityProviderDetails": {
            "shape": "So"
          },
          "identityProviderName": {
            "shape": "Sp"
          },
          "identityProviderType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "identityProvider"
        ],
        "members": {
          "identityProvider": {
            "shape": "S29"
          }
        }
      }
    },
    "UpdateNetworkSettings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/networkSettings/{networkSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSettingsArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "networkSettingsArn": {
            "location": "uri",
            "locationName": "networkSettingsArn"
          },
          "securityGroupIds": {
            "shape": "St"
          },
          "subnetIds": {
            "shape": "Sv"
          },
          "vpcId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "networkSettings"
        ],
        "members": {
          "networkSettings": {
            "shape": "S2c"
          }
        }
      }
    },
    "UpdatePortal": {
      "http": {
        "method": "PUT",
        "requestUri": "/portals/{portalArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "portalArn"
        ],
        "members": {
          "displayName": {
            "shape": "S10"
          },
          "portalArn": {
            "location": "uri",
            "locationName": "portalArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "portal": {
            "shape": "S2f"
          }
        }
      },
      "idempotent": true
    },
    "UpdateTrustStore": {
      "http": {
        "method": "PATCH",
        "requestUri": "/trustStores/{trustStoreArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "trustStoreArn"
        ],
        "members": {
          "certificatesToAdd": {
            "shape": "S14"
          },
          "certificatesToDelete": {
            "type": "list",
            "member": {}
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "trustStoreArn": {
            "location": "uri",
            "locationName": "trustStoreArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "trustStoreArn"
        ],
        "members": {
          "trustStoreArn": {}
        }
      }
    },
    "UpdateUserAccessLoggingSettings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "userAccessLoggingSettingsArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "kinesisStreamArn": {},
          "userAccessLoggingSettingsArn": {
            "location": "uri",
            "locationName": "userAccessLoggingSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userAccessLoggingSettings"
        ],
        "members": {
          "userAccessLoggingSettings": {
            "shape": "S2y"
          }
        }
      }
    },
    "UpdateUserSettings": {
      "http": {
        "method": "PATCH",
        "requestUri": "/userSettings/{userSettingsArn+}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "userSettingsArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "copyAllowed": {},
          "disconnectTimeoutInMinutes": {
            "type": "integer"
          },
          "downloadAllowed": {},
          "idleDisconnectTimeoutInMinutes": {
            "type": "integer"
          },
          "pasteAllowed": {},
          "printAllowed": {},
          "uploadAllowed": {},
          "userSettingsArn": {
            "location": "uri",
            "locationName": "userSettingsArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userSettings"
        ],
        "members": {
          "userSettings": {
            "shape": "S31"
          }
        }
      }
    }
  },
  "shapes": {
    "Sd": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sf": {
      "type": "string",
      "sensitive": true
    },
    "Si": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "Sk"
          },
          "Value": {
            "type": "string",
            "sensitive": true
          }
        },
        "sensitive": true
      }
    },
    "Sk": {
      "type": "string",
      "sensitive": true
    },
    "So": {
      "type": "map",
      "key": {},
      "value": {},
      "sensitive": true
    },
    "Sp": {
      "type": "string",
      "sensitive": true
    },
    "St": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "list",
      "member": {}
    },
    "S10": {
      "type": "string",
      "sensitive": true
    },
    "S14": {
      "type": "list",
      "member": {
        "type": "blob"
      }
    },
    "S25": {
      "type": "structure",
      "required": [
        "browserSettingsArn"
      ],
      "members": {
        "associatedPortalArns": {
          "shape": "S26"
        },
        "browserPolicy": {
          "shape": "Sf"
        },
        "browserSettingsArn": {}
      }
    },
    "S26": {
      "type": "list",
      "member": {}
    },
    "S29": {
      "type": "structure",
      "required": [
        "identityProviderArn"
      ],
      "members": {
        "identityProviderArn": {},
        "identityProviderDetails": {
          "shape": "So"
        },
        "identityProviderName": {
          "shape": "Sp"
        },
        "identityProviderType": {}
      }
    },
    "S2c": {
      "type": "structure",
      "required": [
        "networkSettingsArn"
      ],
      "members": {
        "associatedPortalArns": {
          "shape": "S26"
        },
        "networkSettingsArn": {},
        "securityGroupIds": {
          "shape": "St"
        },
        "subnetIds": {
          "shape": "Sv"
        },
        "vpcId": {}
      }
    },
    "S2f": {
      "type": "structure",
      "members": {
        "browserSettingsArn": {},
        "browserType": {},
        "creationDate": {
          "type": "timestamp"
        },
        "displayName": {
          "shape": "S10"
        },
        "networkSettingsArn": {},
        "portalArn": {},
        "portalEndpoint": {},
        "portalStatus": {},
        "rendererType": {},
        "statusReason": {},
        "trustStoreArn": {},
        "userAccessLoggingSettingsArn": {},
        "userSettingsArn": {}
      }
    },
    "S2y": {
      "type": "structure",
      "required": [
        "userAccessLoggingSettingsArn"
      ],
      "members": {
        "associatedPortalArns": {
          "shape": "S26"
        },
        "kinesisStreamArn": {},
        "userAccessLoggingSettingsArn": {}
      }
    },
    "S31": {
      "type": "structure",
      "required": [
        "userSettingsArn"
      ],
      "members": {
        "associatedPortalArns": {
          "shape": "S26"
        },
        "copyAllowed": {},
        "disconnectTimeoutInMinutes": {
          "type": "integer"
        },
        "downloadAllowed": {},
        "idleDisconnectTimeoutInMinutes": {
          "type": "integer"
        },
        "pasteAllowed": {},
        "printAllowed": {},
        "uploadAllowed": {},
        "userSettingsArn": {}
      }
    }
  }
}