{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-05-01",
    "endpointPrefix": "workdocs",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon WorkDocs",
    "serviceId": "WorkDocs",
    "signatureVersion": "v4",
    "uid": "workdocs-2016-05-01"
  },
  "operations": {
    "AbortDocumentVersionUpload": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/documents/{DocumentId}/versions/{VersionId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId",
          "VersionId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "uri",
            "locationName": "VersionId"
          }
        }
      }
    },
    "ActivateUser": {
      "http": {
        "requestUri": "/api/v1/users/{UserId}/activation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UserId"
        ],
        "members": {
          "UserId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "UserId"
          },
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S8"
          }
        }
      }
    },
    "AddResourcePermissions": {
      "http": {
        "requestUri": "/api/v1/resources/{ResourceId}/permissions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "Principals"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "Principals": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "Type",
                "Role"
              ],
              "members": {
                "Id": {
                  "shape": "S6"
                },
                "Type": {
                  "shape": "Sp"
                },
                "Role": {
                  "shape": "Sq"
                }
              }
            }
          },
          "NotificationOptions": {
            "type": "structure",
            "members": {
              "SendEmail": {
                "type": "boolean"
              },
              "EmailMessage": {
                "shape": "St"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ShareResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PrincipalId": {
                  "shape": "S6"
                },
                "Role": {
                  "shape": "Sq"
                },
                "Status": {
                  "type": "string",
                  "enum": [
                    "SUCCESS",
                    "FAILURE"
                  ]
                },
                "ShareId": {
                  "shape": "S3"
                },
                "StatusMessage": {
                  "shape": "St"
                }
              }
            }
          }
        }
      }
    },
    "CreateComment": {
      "http": {
        "requestUri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId",
          "VersionId",
          "Text"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "uri",
            "locationName": "VersionId"
          },
          "ParentId": {
            "shape": "Sz"
          },
          "ThreadId": {
            "shape": "Sz"
          },
          "Text": {
            "shape": "S10"
          },
          "Visibility": {
            "shape": "S11"
          },
          "NotifyCollaborators": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Comment": {
            "shape": "S13"
          }
        }
      }
    },
    "CreateCustomMetadata": {
      "http": {
        "method": "PUT",
        "requestUri": "/api/v1/resources/{ResourceId}/customMetadata",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "CustomMetadata"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "querystring",
            "locationName": "versionid"
          },
          "CustomMetadata": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateFolder": {
      "http": {
        "requestUri": "/api/v1/folders",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ParentFolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "Name": {
            "shape": "S1b"
          },
          "ParentFolderId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Metadata": {
            "shape": "S1d"
          }
        }
      }
    },
    "CreateLabels": {
      "http": {
        "method": "PUT",
        "requestUri": "/api/v1/resources/{ResourceId}/labels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "Labels"
        ],
        "members": {
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "Labels": {
            "shape": "S1g"
          },
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateNotificationSubscription": {
      "http": {
        "requestUri": "/api/v1/organizations/{OrganizationId}/subscriptions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "Endpoint",
          "Protocol",
          "SubscriptionType"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "OrganizationId"
          },
          "Endpoint": {
            "shape": "S1l"
          },
          "Protocol": {
            "shape": "S1m"
          },
          "SubscriptionType": {
            "type": "string",
            "enum": [
              "ALL"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Subscription": {
            "shape": "S1p"
          }
        }
      }
    },
    "CreateUser": {
      "http": {
        "requestUri": "/api/v1/users",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Username",
          "GivenName",
          "Surname",
          "Password"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S6"
          },
          "Username": {
            "shape": "S9"
          },
          "EmailAddress": {
            "shape": "Sa"
          },
          "GivenName": {
            "shape": "Sb"
          },
          "Surname": {
            "shape": "Sb"
          },
          "Password": {
            "type": "string",
            "max": 32,
            "min": 4,
            "pattern": "[\\u0020-\\u00FF]+",
            "sensitive": true
          },
          "TimeZoneId": {
            "shape": "Sf"
          },
          "StorageRule": {
            "shape": "Sj"
          },
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S8"
          }
        }
      }
    },
    "DeactivateUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/users/{UserId}/activation",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "UserId"
        ],
        "members": {
          "UserId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "UserId"
          },
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          }
        }
      }
    },
    "DeleteComment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment/{CommentId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId",
          "VersionId",
          "CommentId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "uri",
            "locationName": "VersionId"
          },
          "CommentId": {
            "shape": "Sz",
            "location": "uri",
            "locationName": "CommentId"
          }
        }
      }
    },
    "DeleteCustomMetadata": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/resources/{ResourceId}/customMetadata",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "querystring",
            "locationName": "versionId"
          },
          "Keys": {
            "location": "querystring",
            "locationName": "keys",
            "type": "list",
            "member": {
              "shape": "S17"
            },
            "max": 8
          },
          "DeleteAll": {
            "location": "querystring",
            "locationName": "deleteAll",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDocument": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/documents/{DocumentId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          }
        }
      }
    },
    "DeleteFolder": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/folders/{FolderId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "FolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "FolderId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      }
    },
    "DeleteFolderContents": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/folders/{FolderId}/contents",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "FolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "FolderId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      }
    },
    "DeleteLabels": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/resources/{ResourceId}/labels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "Labels": {
            "shape": "S1g",
            "location": "querystring",
            "locationName": "labels"
          },
          "DeleteAll": {
            "location": "querystring",
            "locationName": "deleteAll",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteNotificationSubscription": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/organizations/{OrganizationId}/subscriptions/{SubscriptionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SubscriptionId",
          "OrganizationId"
        ],
        "members": {
          "SubscriptionId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "SubscriptionId"
          },
          "OrganizationId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "OrganizationId"
          }
        }
      }
    },
    "DeleteUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/users/{UserId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "UserId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "UserId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "UserId"
          }
        }
      }
    },
    "DescribeActivities": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/activities",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "StartTime": {
            "location": "querystring",
            "locationName": "startTime",
            "type": "timestamp"
          },
          "EndTime": {
            "location": "querystring",
            "locationName": "endTime",
            "type": "timestamp"
          },
          "OrganizationId": {
            "shape": "S6",
            "location": "querystring",
            "locationName": "organizationId"
          },
          "UserId": {
            "shape": "S6",
            "location": "querystring",
            "locationName": "userId"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Marker": {
            "shape": "S27",
            "location": "querystring",
            "locationName": "marker"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserActivities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {
                  "type": "string",
                  "enum": [
                    "DOCUMENT_CHECKED_IN",
                    "DOCUMENT_CHECKED_OUT",
                    "DOCUMENT_RENAMED",
                    "DOCUMENT_VERSION_UPLOADED",
                    "DOCUMENT_VERSION_DELETED",
                    "DOCUMENT_RECYCLED",
                    "DOCUMENT_RESTORED",
                    "DOCUMENT_REVERTED",
                    "DOCUMENT_SHARED",
                    "DOCUMENT_UNSHARED",
                    "DOCUMENT_SHARE_PERMISSION_CHANGED",
                    "DOCUMENT_SHAREABLE_LINK_CREATED",
                    "DOCUMENT_SHAREABLE_LINK_REMOVED",
                    "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED",
                    "DOCUMENT_MOVED",
                    "DOCUMENT_COMMENT_ADDED",
                    "DOCUMENT_COMMENT_DELETED",
                    "DOCUMENT_ANNOTATION_ADDED",
                    "DOCUMENT_ANNOTATION_DELETED",
                    "FOLDER_CREATED",
                    "FOLDER_DELETED",
                    "FOLDER_RENAMED",
                    "FOLDER_RECYCLED",
                    "FOLDER_RESTORED",
                    "FOLDER_SHARED",
                    "FOLDER_UNSHARED",
                    "FOLDER_SHARE_PERMISSION_CHANGED",
                    "FOLDER_SHAREABLE_LINK_CREATED",
                    "FOLDER_SHAREABLE_LINK_REMOVED",
                    "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED",
                    "FOLDER_MOVED"
                  ]
                },
                "TimeStamp": {
                  "type": "timestamp"
                },
                "OrganizationId": {
                  "shape": "S6"
                },
                "Initiator": {
                  "shape": "S2c"
                },
                "Participants": {
                  "type": "structure",
                  "members": {
                    "Users": {
                      "type": "list",
                      "member": {
                        "shape": "S2c"
                      }
                    },
                    "Groups": {
                      "shape": "S2f"
                    }
                  }
                },
                "ResourceMetadata": {
                  "shape": "S2i"
                },
                "OriginalParent": {
                  "shape": "S2i"
                },
                "CommentMetadata": {
                  "type": "structure",
                  "members": {
                    "CommentId": {
                      "shape": "Sz"
                    },
                    "Contributor": {
                      "shape": "S8"
                    },
                    "CreatedTimestamp": {
                      "type": "timestamp"
                    },
                    "CommentStatus": {
                      "shape": "S14"
                    },
                    "RecipientId": {
                      "shape": "S6"
                    }
                  }
                }
              }
            }
          },
          "Marker": {
            "shape": "S27"
          }
        }
      }
    },
    "DescribeComments": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/documents/{DocumentId}/versions/{VersionId}/comments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId",
          "VersionId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "uri",
            "locationName": "VersionId"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Marker": {
            "shape": "S27",
            "location": "querystring",
            "locationName": "marker"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Comments": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "Marker": {
            "shape": "S27"
          }
        }
      }
    },
    "DescribeDocumentVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/documents/{DocumentId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Include": {
            "shape": "S2q",
            "location": "querystring",
            "locationName": "include"
          },
          "Fields": {
            "shape": "S2q",
            "location": "querystring",
            "locationName": "fields"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DocumentVersions": {
            "type": "list",
            "member": {
              "shape": "S2t"
            }
          },
          "Marker": {
            "shape": "S2p"
          }
        }
      }
    },
    "DescribeFolderContents": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/folders/{FolderId}/contents",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "FolderId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FolderId"
          },
          "Sort": {
            "location": "querystring",
            "locationName": "sort",
            "type": "string",
            "enum": [
              "DATE",
              "NAME"
            ]
          },
          "Order": {
            "shape": "S33",
            "location": "querystring",
            "locationName": "order"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          },
          "Type": {
            "location": "querystring",
            "locationName": "type",
            "type": "string",
            "enum": [
              "ALL",
              "DOCUMENT",
              "FOLDER"
            ]
          },
          "Include": {
            "shape": "S2q",
            "location": "querystring",
            "locationName": "include"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Folders": {
            "shape": "S36"
          },
          "Documents": {
            "type": "list",
            "member": {
              "shape": "S38"
            }
          },
          "Marker": {
            "shape": "S2p"
          }
        }
      }
    },
    "DescribeGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SearchQuery"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "SearchQuery": {
            "shape": "S3a",
            "location": "querystring",
            "locationName": "searchQuery"
          },
          "OrganizationId": {
            "shape": "S6",
            "location": "querystring",
            "locationName": "organizationId"
          },
          "Marker": {
            "shape": "S27",
            "location": "querystring",
            "locationName": "marker"
          },
          "Limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer",
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Groups": {
            "shape": "S2f"
          },
          "Marker": {
            "shape": "S27"
          }
        }
      }
    },
    "DescribeNotificationSubscriptions": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/organizations/{OrganizationId}/subscriptions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "OrganizationId"
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Subscriptions": {
            "type": "list",
            "member": {
              "shape": "S1p"
            },
            "max": 256
          },
          "Marker": {
            "shape": "S2p"
          }
        }
      }
    },
    "DescribeResourcePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/resources/{ResourceId}/permissions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "PrincipalId": {
            "shape": "S6",
            "location": "querystring",
            "locationName": "principalId"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Principals": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S6"
                },
                "Type": {
                  "shape": "Sp"
                },
                "Roles": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Role": {
                        "shape": "Sq"
                      },
                      "Type": {
                        "type": "string",
                        "enum": [
                          "DIRECT",
                          "INHERITED"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "Marker": {
            "shape": "S2p"
          }
        }
      }
    },
    "DescribeRootFolders": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/me/root",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AuthenticationToken"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Folders": {
            "shape": "S36"
          },
          "Marker": {
            "shape": "S2p"
          }
        }
      }
    },
    "DescribeUsers": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "OrganizationId": {
            "shape": "S6",
            "location": "querystring",
            "locationName": "organizationId"
          },
          "UserIds": {
            "location": "querystring",
            "locationName": "userIds",
            "type": "string",
            "max": 2000,
            "min": 1,
            "pattern": "[&\\w+-.@, ]+"
          },
          "Query": {
            "shape": "S3a",
            "location": "querystring",
            "locationName": "query"
          },
          "Include": {
            "location": "querystring",
            "locationName": "include",
            "type": "string",
            "enum": [
              "ALL",
              "ACTIVE_PENDING"
            ]
          },
          "Order": {
            "shape": "S33",
            "location": "querystring",
            "locationName": "order"
          },
          "Sort": {
            "location": "querystring",
            "locationName": "sort",
            "type": "string",
            "enum": [
              "USER_NAME",
              "FULL_NAME",
              "STORAGE_LIMIT",
              "USER_STATUS",
              "STORAGE_USED"
            ]
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Fields": {
            "shape": "S2q",
            "location": "querystring",
            "locationName": "fields"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          },
          "TotalNumberOfUsers": {
            "deprecated": true,
            "type": "long"
          },
          "Marker": {
            "shape": "S2p"
          }
        }
      }
    },
    "GetCurrentUser": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/me",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AuthenticationToken"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S8"
          }
        }
      }
    },
    "GetDocument": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/documents/{DocumentId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "IncludeCustomMetadata": {
            "location": "querystring",
            "locationName": "includeCustomMetadata",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Metadata": {
            "shape": "S38"
          },
          "CustomMetadata": {
            "shape": "S16"
          }
        }
      }
    },
    "GetDocumentPath": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/documents/{DocumentId}/path",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Fields": {
            "shape": "S2q",
            "location": "querystring",
            "locationName": "fields"
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Path": {
            "shape": "S41"
          }
        }
      }
    },
    "GetDocumentVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/documents/{DocumentId}/versions/{VersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId",
          "VersionId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "uri",
            "locationName": "VersionId"
          },
          "Fields": {
            "shape": "S2q",
            "location": "querystring",
            "locationName": "fields"
          },
          "IncludeCustomMetadata": {
            "location": "querystring",
            "locationName": "includeCustomMetadata",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Metadata": {
            "shape": "S2t"
          },
          "CustomMetadata": {
            "shape": "S16"
          }
        }
      }
    },
    "GetFolder": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/folders/{FolderId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "FolderId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FolderId"
          },
          "IncludeCustomMetadata": {
            "location": "querystring",
            "locationName": "includeCustomMetadata",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Metadata": {
            "shape": "S1d"
          },
          "CustomMetadata": {
            "shape": "S16"
          }
        }
      }
    },
    "GetFolderPath": {
      "http": {
        "method": "GET",
        "requestUri": "/api/v1/folders/{FolderId}/path",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "FolderId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "FolderId"
          },
          "Limit": {
            "shape": "S26",
            "location": "querystring",
            "locationName": "limit"
          },
          "Fields": {
            "shape": "S2q",
            "location": "querystring",
            "locationName": "fields"
          },
          "Marker": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "marker"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Path": {
            "shape": "S41"
          }
        }
      }
    },
    "InitiateDocumentVersionUpload": {
      "http": {
        "requestUri": "/api/v1/documents",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ParentFolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "Id": {
            "shape": "S3"
          },
          "Name": {
            "shape": "S1b"
          },
          "ContentCreatedTimestamp": {
            "type": "timestamp"
          },
          "ContentModifiedTimestamp": {
            "type": "timestamp"
          },
          "ContentType": {
            "shape": "S2u"
          },
          "DocumentSizeInBytes": {
            "type": "long"
          },
          "ParentFolderId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Metadata": {
            "shape": "S38"
          },
          "UploadMetadata": {
            "type": "structure",
            "members": {
              "UploadUrl": {
                "shape": "S2y"
              },
              "SignedHeaders": {
                "type": "map",
                "key": {
                  "type": "string",
                  "max": 256,
                  "min": 1,
                  "pattern": "[\\w-]+"
                },
                "value": {
                  "type": "string",
                  "max": 1024,
                  "min": 1
                }
              }
            }
          }
        }
      }
    },
    "RemoveAllResourcePermissions": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/resources/{ResourceId}/permissions",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          }
        }
      }
    },
    "RemoveResourcePermission": {
      "http": {
        "method": "DELETE",
        "requestUri": "/api/v1/resources/{ResourceId}/permissions/{PrincipalId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "PrincipalId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "ResourceId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "PrincipalId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "PrincipalId"
          },
          "PrincipalType": {
            "shape": "Sp",
            "location": "querystring",
            "locationName": "type"
          }
        }
      }
    },
    "UpdateDocument": {
      "http": {
        "method": "PATCH",
        "requestUri": "/api/v1/documents/{DocumentId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "Name": {
            "shape": "S1b"
          },
          "ParentFolderId": {
            "shape": "S3"
          },
          "ResourceState": {
            "shape": "S1e"
          }
        }
      }
    },
    "UpdateDocumentVersion": {
      "http": {
        "method": "PATCH",
        "requestUri": "/api/v1/documents/{DocumentId}/versions/{VersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DocumentId",
          "VersionId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "DocumentId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "DocumentId"
          },
          "VersionId": {
            "shape": "S4",
            "location": "uri",
            "locationName": "VersionId"
          },
          "VersionStatus": {
            "type": "string",
            "enum": [
              "ACTIVE"
            ]
          }
        }
      }
    },
    "UpdateFolder": {
      "http": {
        "method": "PATCH",
        "requestUri": "/api/v1/folders/{FolderId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FolderId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "FolderId": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FolderId"
          },
          "Name": {
            "shape": "S1b"
          },
          "ParentFolderId": {
            "shape": "S3"
          },
          "ResourceState": {
            "shape": "S1e"
          }
        }
      }
    },
    "UpdateUser": {
      "http": {
        "method": "PATCH",
        "requestUri": "/api/v1/users/{UserId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UserId"
        ],
        "members": {
          "AuthenticationToken": {
            "shape": "S2",
            "location": "header",
            "locationName": "Authentication"
          },
          "UserId": {
            "shape": "S6",
            "location": "uri",
            "locationName": "UserId"
          },
          "GivenName": {
            "shape": "Sb"
          },
          "Surname": {
            "shape": "Sb"
          },
          "Type": {
            "shape": "Sd"
          },
          "StorageRule": {
            "shape": "Sj"
          },
          "TimeZoneId": {
            "shape": "Sf"
          },
          "Locale": {
            "shape": "Sg"
          },
          "GrantPoweruserPrivileges": {
            "type": "string",
            "enum": [
              "TRUE",
              "FALSE"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S8"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 8199,
      "min": 1,
      "sensitive": true
    },
    "S3": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+-.@]+"
    },
    "S4": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+-.@]+"
    },
    "S6": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[&\\w+-.@]+"
    },
    "S8": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S6"
        },
        "Username": {
          "shape": "S9"
        },
        "EmailAddress": {
          "shape": "Sa"
        },
        "GivenName": {
          "shape": "Sb"
        },
        "Surname": {
          "shape": "Sb"
        },
        "OrganizationId": {
          "shape": "S6"
        },
        "RootFolderId": {
          "shape": "S3"
        },
        "RecycleBinFolderId": {
          "shape": "S3"
        },
        "Status": {
          "type": "string",
          "enum": [
            "ACTIVE",
            "INACTIVE",
            "PENDING"
          ]
        },
        "Type": {
          "shape": "Sd"
        },
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "ModifiedTimestamp": {
          "type": "timestamp"
        },
        "TimeZoneId": {
          "shape": "Sf"
        },
        "Locale": {
          "shape": "Sg"
        },
        "Storage": {
          "type": "structure",
          "members": {
            "StorageUtilizedInBytes": {
              "type": "long"
            },
            "StorageRule": {
              "shape": "Sj"
            }
          }
        }
      }
    },
    "S9": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\w\\-+.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]+)?"
    },
    "Sa": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}"
    },
    "Sb": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "Sd": {
      "type": "string",
      "enum": [
        "USER",
        "ADMIN",
        "POWERUSER",
        "MINIMALUSER",
        "WORKSPACESUSER"
      ]
    },
    "Sf": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "Sg": {
      "type": "string",
      "enum": [
        "en",
        "fr",
        "ko",
        "de",
        "es",
        "ja",
        "ru",
        "zh_CN",
        "zh_TW",
        "pt_BR",
        "default"
      ]
    },
    "Sj": {
      "type": "structure",
      "members": {
        "StorageAllocatedInBytes": {
          "type": "long",
          "min": 0
        },
        "StorageType": {
          "type": "string",
          "enum": [
            "UNLIMITED",
            "QUOTA"
          ]
        }
      }
    },
    "Sp": {
      "type": "string",
      "enum": [
        "USER",
        "GROUP",
        "INVITE",
        "ANONYMOUS",
        "ORGANIZATION"
      ]
    },
    "Sq": {
      "type": "string",
      "enum": [
        "VIEWER",
        "CONTRIBUTOR",
        "OWNER",
        "COOWNER"
      ]
    },
    "St": {
      "type": "string",
      "max": 2048,
      "min": 0,
      "sensitive": true
    },
    "Sz": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+-.@]+"
    },
    "S10": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "sensitive": true
    },
    "S11": {
      "type": "string",
      "enum": [
        "PUBLIC",
        "PRIVATE"
      ]
    },
    "S13": {
      "type": "structure",
      "required": [
        "CommentId"
      ],
      "members": {
        "CommentId": {
          "shape": "Sz"
        },
        "ParentId": {
          "shape": "Sz"
        },
        "ThreadId": {
          "shape": "Sz"
        },
        "Text": {
          "shape": "S10"
        },
        "Contributor": {
          "shape": "S8"
        },
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "Status": {
          "shape": "S14"
        },
        "Visibility": {
          "shape": "S11"
        },
        "RecipientId": {
          "shape": "S6"
        }
      }
    },
    "S14": {
      "type": "string",
      "enum": [
        "DRAFT",
        "PUBLISHED",
        "DELETED"
      ]
    },
    "S16": {
      "type": "map",
      "key": {
        "shape": "S17"
      },
      "value": {
        "type": "string",
        "max": 256,
        "min": 1,
        "pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*"
      },
      "max": 8,
      "min": 1
    },
    "S17": {
      "type": "string",
      "max": 56,
      "min": 1,
      "pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*"
    },
    "S1b": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[\\u0020-\\u202D\\u202F-\\uFFFF]+"
    },
    "S1d": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S3"
        },
        "Name": {
          "shape": "S1b"
        },
        "CreatorId": {
          "shape": "S6"
        },
        "ParentFolderId": {
          "shape": "S3"
        },
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "ModifiedTimestamp": {
          "type": "timestamp"
        },
        "ResourceState": {
          "shape": "S1e"
        },
        "Signature": {
          "shape": "S1f"
        },
        "Labels": {
          "shape": "S1g"
        },
        "Size": {
          "type": "long"
        },
        "LatestVersionSize": {
          "type": "long"
        }
      }
    },
    "S1e": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "RESTORING",
        "RECYCLING",
        "RECYCLED"
      ]
    },
    "S1f": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "[&\\w+-.@]+"
    },
    "S1g": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 32,
        "min": 1,
        "pattern": "[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*"
      },
      "max": 20
    },
    "S1l": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S1m": {
      "type": "string",
      "enum": [
        "HTTPS"
      ]
    },
    "S1p": {
      "type": "structure",
      "members": {
        "SubscriptionId": {
          "shape": "S6"
        },
        "EndPoint": {
          "shape": "S1l"
        },
        "Protocol": {
          "shape": "S1m"
        }
      }
    },
    "S26": {
      "type": "integer",
      "max": 999,
      "min": 1
    },
    "S27": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "[\\u0000-\\u00FF]+"
    },
    "S2c": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S6"
        },
        "Username": {
          "shape": "S9"
        },
        "GivenName": {
          "shape": "Sb"
        },
        "Surname": {
          "shape": "Sb"
        },
        "EmailAddress": {
          "shape": "Sa"
        }
      }
    },
    "S2f": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {
            "shape": "S6"
          },
          "Name": {}
        }
      }
    },
    "S2i": {
      "type": "structure",
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "FOLDER",
            "DOCUMENT"
          ]
        },
        "Name": {
          "shape": "S1b"
        },
        "OriginalName": {
          "shape": "S1b"
        },
        "Id": {
          "shape": "S3"
        },
        "VersionId": {
          "shape": "S4"
        },
        "Owner": {
          "shape": "S2c"
        },
        "ParentId": {
          "shape": "S3"
        }
      }
    },
    "S2p": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S2q": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\w,]+"
    },
    "S2t": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S4"
        },
        "Name": {
          "shape": "S1b"
        },
        "ContentType": {
          "shape": "S2u"
        },
        "Size": {
          "type": "long"
        },
        "Signature": {
          "shape": "S1f"
        },
        "Status": {
          "type": "string",
          "enum": [
            "INITIALIZED",
            "ACTIVE"
          ]
        },
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "ModifiedTimestamp": {
          "type": "timestamp"
        },
        "ContentCreatedTimestamp": {
          "type": "timestamp"
        },
        "ContentModifiedTimestamp": {
          "type": "timestamp"
        },
        "CreatorId": {
          "shape": "S6"
        },
        "Thumbnail": {
          "type": "map",
          "key": {
            "type": "string",
            "enum": [
              "SMALL",
              "SMALL_HQ",
              "LARGE"
            ]
          },
          "value": {
            "shape": "S2y"
          }
        },
        "Source": {
          "type": "map",
          "key": {
            "type": "string",
            "enum": [
              "ORIGINAL",
              "WITH_COMMENTS"
            ]
          },
          "value": {
            "shape": "S2y"
          }
        }
      }
    },
    "S2u": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S2y": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "sensitive": true
    },
    "S33": {
      "type": "string",
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "S36": {
      "type": "list",
      "member": {
        "shape": "S1d"
      }
    },
    "S38": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S3"
        },
        "CreatorId": {
          "shape": "S6"
        },
        "ParentFolderId": {
          "shape": "S3"
        },
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "ModifiedTimestamp": {
          "type": "timestamp"
        },
        "LatestVersionMetadata": {
          "shape": "S2t"
        },
        "ResourceState": {
          "shape": "S1e"
        },
        "Labels": {
          "shape": "S1g"
        }
      }
    },
    "S3a": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "[\\u0020-\\uFFFF]+",
      "sensitive": true
    },
    "S41": {
      "type": "structure",
      "members": {
        "Components": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Id": {
                "shape": "S6"
              },
              "Name": {
                "shape": "S1b"
              }
            }
          }
        }
      }
    }
  }
}