{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-04-08",
    "endpointPrefix": "workspaces",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon WorkSpaces",
    "serviceId": "WorkSpaces",
    "signatureVersion": "v4",
    "targetPrefix": "WorkspacesService",
    "uid": "workspaces-2015-04-08"
  },
  "operations": {
    "AssociateIpGroups": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "GroupIds"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "GroupIds": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AuthorizeIpRules": {
      "input": {
        "type": "structure",
        "required": [
          "GroupId",
          "UserRules"
        ],
        "members": {
          "GroupId": {
            "shape": "S4"
          },
          "UserRules": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateIpGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {},
          "GroupDesc": {},
          "UserRules": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupId": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "Tags"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sh"
          },
          "Tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateWorkspaces": {
      "input": {
        "type": "structure",
        "required": [
          "Workspaces"
        ],
        "members": {
          "Workspaces": {
            "type": "list",
            "member": {
              "shape": "Sp"
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WorkspaceRequest": {
                  "shape": "Sp"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          },
          "PendingRequests": {
            "shape": "S15"
          }
        }
      }
    },
    "DeleteIpGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupId"
        ],
        "members": {
          "GroupId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagKeys"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sh"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeIpGroups": {
      "input": {
        "type": "structure",
        "members": {
          "GroupIds": {
            "shape": "S3"
          },
          "NextToken": {
            "shape": "S1n"
          },
          "MaxResults": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Result": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "groupId": {
                  "shape": "S4"
                },
                "groupName": {},
                "groupDesc": {},
                "userRules": {
                  "shape": "S7"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      }
    },
    "DescribeTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagList": {
            "shape": "Si"
          }
        }
      }
    },
    "DescribeWorkspaceBundles": {
      "input": {
        "type": "structure",
        "members": {
          "BundleIds": {
            "type": "list",
            "member": {
              "shape": "Sr"
            },
            "max": 25,
            "min": 1
          },
          "Owner": {},
          "NextToken": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bundles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "BundleId": {
                  "shape": "Sr"
                },
                "Name": {
                  "shape": "Sh"
                },
                "Owner": {},
                "Description": {},
                "RootStorage": {
                  "type": "structure",
                  "members": {
                    "Capacity": {
                      "shape": "Sh"
                    }
                  }
                },
                "UserStorage": {
                  "type": "structure",
                  "members": {
                    "Capacity": {
                      "shape": "Sh"
                    }
                  }
                },
                "ComputeType": {
                  "type": "structure",
                  "members": {
                    "Name": {
                      "shape": "Sz"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      }
    },
    "DescribeWorkspaceDirectories": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryIds": {
            "type": "list",
            "member": {
              "shape": "S2"
            },
            "max": 25,
            "min": 1
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Directories": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "Alias": {},
                "DirectoryName": {},
                "RegistrationCode": {
                  "type": "string",
                  "max": 20,
                  "min": 1
                },
                "SubnetIds": {
                  "type": "list",
                  "member": {
                    "shape": "S1a"
                  }
                },
                "DnsIpAddresses": {
                  "type": "list",
                  "member": {}
                },
                "CustomerUserName": {
                  "shape": "Sq"
                },
                "IamRoleId": {
                  "type": "string",
                  "pattern": "^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$"
                },
                "DirectoryType": {
                  "type": "string",
                  "enum": [
                    "SIMPLE_AD",
                    "AD_CONNECTOR"
                  ]
                },
                "WorkspaceSecurityGroupId": {
                  "shape": "S2f"
                },
                "State": {
                  "type": "string",
                  "enum": [
                    "REGISTERING",
                    "REGISTERED",
                    "DEREGISTERING",
                    "DEREGISTERED",
                    "ERROR"
                  ]
                },
                "WorkspaceCreationProperties": {
                  "type": "structure",
                  "members": {
                    "EnableWorkDocs": {
                      "type": "boolean"
                    },
                    "EnableInternetAccess": {
                      "type": "boolean"
                    },
                    "DefaultOu": {},
                    "CustomSecurityGroupId": {
                      "shape": "S2f"
                    },
                    "UserEnabledAsLocalAdministrator": {
                      "type": "boolean"
                    }
                  }
                },
                "ipGroupIds": {
                  "shape": "S3"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      }
    },
    "DescribeWorkspaces": {
      "input": {
        "type": "structure",
        "members": {
          "WorkspaceIds": {
            "shape": "S2k"
          },
          "DirectoryId": {
            "shape": "S2"
          },
          "UserName": {
            "shape": "Sq"
          },
          "BundleId": {
            "shape": "Sr"
          },
          "Limit": {
            "shape": "S1o"
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workspaces": {
            "shape": "S15"
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      }
    },
    "DescribeWorkspacesConnectionStatus": {
      "input": {
        "type": "structure",
        "members": {
          "WorkspaceIds": {
            "shape": "S2k"
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WorkspacesConnectionStatus": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WorkspaceId": {
                  "shape": "S17"
                },
                "ConnectionState": {
                  "type": "string",
                  "enum": [
                    "CONNECTED",
                    "DISCONNECTED",
                    "UNKNOWN"
                  ]
                },
                "ConnectionStateCheckTimestamp": {
                  "type": "timestamp"
                },
                "LastKnownUserConnectionTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      }
    },
    "DisassociateIpGroups": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "GroupIds"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "GroupIds": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ModifyWorkspaceProperties": {
      "input": {
        "type": "structure",
        "required": [
          "WorkspaceId",
          "WorkspaceProperties"
        ],
        "members": {
          "WorkspaceId": {
            "shape": "S17"
          },
          "WorkspaceProperties": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ModifyWorkspaceState": {
      "input": {
        "type": "structure",
        "required": [
          "WorkspaceId",
          "WorkspaceState"
        ],
        "members": {
          "WorkspaceId": {
            "shape": "S17"
          },
          "WorkspaceState": {
            "type": "string",
            "enum": [
              "AVAILABLE",
              "ADMIN_MAINTENANCE"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RebootWorkspaces": {
      "input": {
        "type": "structure",
        "required": [
          "RebootWorkspaceRequests"
        ],
        "members": {
          "RebootWorkspaceRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "WorkspaceId"
              ],
              "members": {
                "WorkspaceId": {
                  "shape": "S17"
                }
              }
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedRequests": {
            "type": "list",
            "member": {
              "shape": "S34"
            }
          }
        }
      }
    },
    "RebuildWorkspaces": {
      "input": {
        "type": "structure",
        "required": [
          "RebuildWorkspaceRequests"
        ],
        "members": {
          "RebuildWorkspaceRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "WorkspaceId"
              ],
              "members": {
                "WorkspaceId": {
                  "shape": "S17"
                }
              }
            },
            "max": 1,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedRequests": {
            "type": "list",
            "member": {
              "shape": "S34"
            }
          }
        }
      }
    },
    "RevokeIpRules": {
      "input": {
        "type": "structure",
        "required": [
          "GroupId",
          "UserRules"
        ],
        "members": {
          "GroupId": {
            "shape": "S4"
          },
          "UserRules": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartWorkspaces": {
      "input": {
        "type": "structure",
        "required": [
          "StartWorkspaceRequests"
        ],
        "members": {
          "StartWorkspaceRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WorkspaceId": {
                  "shape": "S17"
                }
              }
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedRequests": {
            "type": "list",
            "member": {
              "shape": "S34"
            }
          }
        }
      }
    },
    "StopWorkspaces": {
      "input": {
        "type": "structure",
        "required": [
          "StopWorkspaceRequests"
        ],
        "members": {
          "StopWorkspaceRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WorkspaceId": {
                  "shape": "S17"
                }
              }
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedRequests": {
            "type": "list",
            "member": {
              "shape": "S34"
            }
          }
        }
      }
    },
    "TerminateWorkspaces": {
      "input": {
        "type": "structure",
        "required": [
          "TerminateWorkspaceRequests"
        ],
        "members": {
          "TerminateWorkspaceRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "WorkspaceId"
              ],
              "members": {
                "WorkspaceId": {
                  "shape": "S17"
                }
              }
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedRequests": {
            "type": "list",
            "member": {
              "shape": "S34"
            }
          }
        }
      }
    },
    "UpdateRulesOfIpGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupId",
          "UserRules"
        ],
        "members": {
          "GroupId": {
            "shape": "S4"
          },
          "UserRules": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "^d-[0-9a-f]{8,63}$"
    },
    "S3": {
      "type": "list",
      "member": {
        "shape": "S4"
      }
    },
    "S4": {
      "type": "string",
      "pattern": "wsipg-[0-9a-z]{8,63}$"
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ipRule": {},
          "ruleDesc": {}
        }
      }
    },
    "Sh": {
      "type": "string",
      "min": 1
    },
    "Si": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key"
        ],
        "members": {
          "Key": {
            "type": "string",
            "max": 127,
            "min": 1
          },
          "Value": {
            "type": "string",
            "max": 255
          }
        }
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "DirectoryId",
        "UserName",
        "BundleId"
      ],
      "members": {
        "DirectoryId": {
          "shape": "S2"
        },
        "UserName": {
          "shape": "Sq"
        },
        "BundleId": {
          "shape": "Sr"
        },
        "VolumeEncryptionKey": {},
        "UserVolumeEncryptionEnabled": {
          "type": "boolean"
        },
        "RootVolumeEncryptionEnabled": {
          "type": "boolean"
        },
        "WorkspaceProperties": {
          "shape": "Su"
        },
        "Tags": {
          "shape": "Si"
        }
      }
    },
    "Sq": {
      "type": "string",
      "max": 63,
      "min": 1
    },
    "Sr": {
      "type": "string",
      "pattern": "^wsb-[0-9a-z]{8,63}$"
    },
    "Su": {
      "type": "structure",
      "members": {
        "RunningMode": {
          "type": "string",
          "enum": [
            "AUTO_STOP",
            "ALWAYS_ON"
          ]
        },
        "RunningModeAutoStopTimeoutInMinutes": {
          "type": "integer"
        },
        "RootVolumeSizeGib": {
          "type": "integer"
        },
        "UserVolumeSizeGib": {
          "type": "integer"
        },
        "ComputeTypeName": {
          "shape": "Sz"
        }
      }
    },
    "Sz": {
      "type": "string",
      "enum": [
        "VALUE",
        "STANDARD",
        "PERFORMANCE",
        "POWER",
        "GRAPHICS"
      ]
    },
    "S15": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "WorkspaceId": {
            "shape": "S17"
          },
          "DirectoryId": {
            "shape": "S2"
          },
          "UserName": {
            "shape": "Sq"
          },
          "IpAddress": {},
          "State": {
            "type": "string",
            "enum": [
              "PENDING",
              "AVAILABLE",
              "IMPAIRED",
              "UNHEALTHY",
              "REBOOTING",
              "STARTING",
              "REBUILDING",
              "MAINTENANCE",
              "ADMIN_MAINTENANCE",
              "TERMINATING",
              "TERMINATED",
              "SUSPENDED",
              "UPDATING",
              "STOPPING",
              "STOPPED",
              "ERROR"
            ]
          },
          "BundleId": {
            "shape": "Sr"
          },
          "SubnetId": {
            "shape": "S1a"
          },
          "ErrorMessage": {},
          "ErrorCode": {},
          "ComputerName": {},
          "VolumeEncryptionKey": {},
          "UserVolumeEncryptionEnabled": {
            "type": "boolean"
          },
          "RootVolumeEncryptionEnabled": {
            "type": "boolean"
          },
          "WorkspaceProperties": {
            "shape": "Su"
          },
          "ModificationStates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Resource": {
                  "type": "string",
                  "enum": [
                    "ROOT_VOLUME",
                    "USER_VOLUME",
                    "COMPUTE_TYPE"
                  ]
                },
                "State": {
                  "type": "string",
                  "enum": [
                    "UPDATE_INITIATED",
                    "UPDATE_IN_PROGRESS"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "S17": {
      "type": "string",
      "pattern": "^ws-[0-9a-z]{8,63}$"
    },
    "S1a": {
      "type": "string",
      "pattern": "^(subnet-[0-9a-f]{8})$"
    },
    "S1n": {
      "type": "string",
      "max": 63,
      "min": 1
    },
    "S1o": {
      "type": "integer",
      "max": 25,
      "min": 1
    },
    "S2f": {
      "type": "string",
      "pattern": "^(sg-[0-9a-f]{8})$"
    },
    "S2k": {
      "type": "list",
      "member": {
        "shape": "S17"
      },
      "max": 25,
      "min": 1
    },
    "S34": {
      "type": "structure",
      "members": {
        "WorkspaceId": {
          "shape": "S17"
        },
        "ErrorCode": {},
        "ErrorMessage": {}
      }
    }
  }
}