{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-10-01",
    "endpointPrefix": "workmail",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon WorkMail",
    "serviceId": "WorkMail",
    "signatureVersion": "v4",
    "targetPrefix": "WorkMailService",
    "uid": "workmail-2017-10-01"
  },
  "operations": {
    "AssociateDelegateToResource": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "ResourceId",
          "EntityId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "ResourceId": {
            "shape": "S3"
          },
          "EntityId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "AssociateMemberToGroup": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "GroupId",
          "MemberId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "GroupId": {
            "shape": "S4"
          },
          "MemberId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "CreateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId",
          "Alias"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "Alias": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "CreateGroup": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "Name"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupId": {
            "shape": "S4"
          }
        }
      },
      "idempotent": true
    },
    "CreateResource": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "Name",
          "Type"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "Sf"
          },
          "Type": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceId": {
            "shape": "S3"
          }
        }
      },
      "idempotent": true
    },
    "CreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "Name",
          "DisplayName",
          "Password"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "Sj"
          },
          "DisplayName": {
            "shape": "Sk"
          },
          "Password": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserId": {
            "shape": "S4"
          }
        }
      },
      "idempotent": true
    },
    "DeleteAlias": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId",
          "Alias"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "Alias": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteGroup": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "GroupId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "GroupId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteMailboxPermissions": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId",
          "GranteeId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "GranteeId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteResource": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "ResourceId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "ResourceId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "UserId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "UserId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeregisterFromWorkMail": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DescribeGroup": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "GroupId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "GroupId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupId": {
            "shape": "S4"
          },
          "Name": {
            "shape": "Sc"
          },
          "Email": {
            "shape": "S9"
          },
          "State": {
            "shape": "S11"
          },
          "EnabledDate": {
            "type": "timestamp"
          },
          "DisabledDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "DescribeOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "Alias": {
            "shape": "S15"
          },
          "State": {
            "shape": "Sk"
          },
          "DirectoryId": {
            "shape": "Sk"
          },
          "DirectoryType": {
            "shape": "Sk"
          },
          "DefaultMailDomain": {
            "shape": "Sk"
          },
          "CompletedDate": {
            "type": "timestamp"
          },
          "ErrorMessage": {
            "shape": "Sk"
          }
        }
      },
      "idempotent": true
    },
    "DescribeResource": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "ResourceId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "ResourceId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceId": {
            "shape": "S3"
          },
          "Email": {
            "shape": "S9"
          },
          "Name": {
            "shape": "Sf"
          },
          "Type": {
            "shape": "Sg"
          },
          "BookingOptions": {
            "shape": "S18"
          },
          "State": {
            "shape": "S11"
          },
          "EnabledDate": {
            "type": "timestamp"
          },
          "DisabledDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "DescribeUser": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "UserId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "UserId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserId": {
            "shape": "S4"
          },
          "Name": {
            "shape": "Sj"
          },
          "Email": {
            "shape": "S9"
          },
          "DisplayName": {
            "shape": "Sk"
          },
          "State": {
            "shape": "S11"
          },
          "UserRole": {
            "shape": "S1c"
          },
          "EnabledDate": {
            "type": "timestamp"
          },
          "DisabledDate": {
            "type": "timestamp"
          }
        }
      },
      "idempotent": true
    },
    "DisassociateDelegateFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "ResourceId",
          "EntityId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "ResourceId": {
            "shape": "S3"
          },
          "EntityId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateMemberFromGroup": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "GroupId",
          "MemberId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "GroupId": {
            "shape": "S4"
          },
          "MemberId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "ListAliases": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Aliases": {
            "type": "list",
            "member": {
              "shape": "S9"
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "ListGroupMembers": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "GroupId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "GroupId": {
            "shape": "S4"
          },
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "Sk"
                },
                "Name": {
                  "shape": "Sk"
                },
                "Type": {
                  "shape": "S1q"
                },
                "State": {
                  "shape": "S11"
                },
                "EnabledDate": {
                  "type": "timestamp"
                },
                "DisabledDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "ListGroups": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Groups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S4"
                },
                "Email": {
                  "shape": "S9"
                },
                "Name": {
                  "shape": "Sc"
                },
                "State": {
                  "shape": "S11"
                },
                "EnabledDate": {
                  "type": "timestamp"
                },
                "DisabledDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "ListMailboxPermissions": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Permissions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "GranteeId",
                "GranteeType",
                "PermissionValues"
              ],
              "members": {
                "GranteeId": {
                  "shape": "S4"
                },
                "GranteeType": {
                  "shape": "S1q"
                },
                "PermissionValues": {
                  "shape": "S1z"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "ListOrganizations": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrganizationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "OrganizationId": {
                  "shape": "S2"
                },
                "Alias": {
                  "shape": "S15"
                },
                "ErrorMessage": {
                  "shape": "Sk"
                },
                "State": {
                  "shape": "Sk"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "ListResourceDelegates": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "ResourceId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "ResourceId": {
            "shape": "S4"
          },
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Delegates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "Type"
              ],
              "members": {
                "Id": {
                  "shape": "Sk"
                },
                "Type": {
                  "shape": "S1q"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "ListResources": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Resources": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S4"
                },
                "Email": {
                  "shape": "S9"
                },
                "Name": {
                  "shape": "Sf"
                },
                "Type": {
                  "shape": "Sg"
                },
                "State": {
                  "shape": "S11"
                },
                "EnabledDate": {
                  "type": "timestamp"
                },
                "DisabledDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "ListUsers": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S1i"
          },
          "MaxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S4"
                },
                "Email": {
                  "shape": "S9"
                },
                "Name": {
                  "shape": "Sj"
                },
                "DisplayName": {
                  "shape": "Sk"
                },
                "State": {
                  "shape": "S11"
                },
                "UserRole": {
                  "shape": "S1c"
                },
                "EnabledDate": {
                  "type": "timestamp"
                },
                "DisabledDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1i"
          }
        }
      },
      "idempotent": true
    },
    "PutMailboxPermissions": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId",
          "GranteeId",
          "PermissionValues"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "GranteeId": {
            "shape": "S4"
          },
          "PermissionValues": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "RegisterToWorkMail": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId",
          "Email"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "Email": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "ResetPassword": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "UserId",
          "Password"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "UserId": {
            "shape": "S4"
          },
          "Password": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdatePrimaryEmailAddress": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "EntityId",
          "Email"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "EntityId": {
            "shape": "S4"
          },
          "Email": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateResource": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationId",
          "ResourceId"
        ],
        "members": {
          "OrganizationId": {
            "shape": "S2"
          },
          "ResourceId": {
            "shape": "S3"
          },
          "Name": {
            "shape": "Sf"
          },
          "BookingOptions": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "^m-[0-9a-f]{32}$"
    },
    "S3": {
      "type": "string",
      "pattern": "^r-[0-9a-f]{32}$"
    },
    "S4": {
      "type": "string",
      "max": 256,
      "min": 12
    },
    "S9": {
      "type": "string",
      "max": 254,
      "min": 1,
      "pattern": "[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}"
    },
    "Sc": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\u0020-\\u00FF]+"
    },
    "Sf": {
      "type": "string",
      "max": 20,
      "min": 1,
      "pattern": "[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?"
    },
    "Sg": {
      "type": "string",
      "enum": [
        "ROOM",
        "EQUIPMENT"
      ]
    },
    "Sj": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?"
    },
    "Sk": {
      "type": "string",
      "max": 256
    },
    "Sl": {
      "type": "string",
      "max": 256,
      "pattern": "[\\u0020-\\u00FF]+",
      "sensitive": true
    },
    "S11": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED",
        "DELETED"
      ]
    },
    "S15": {
      "type": "string",
      "max": 62,
      "min": 1,
      "pattern": "^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*"
    },
    "S18": {
      "type": "structure",
      "members": {
        "AutoAcceptRequests": {
          "type": "boolean"
        },
        "AutoDeclineRecurringRequests": {
          "type": "boolean"
        },
        "AutoDeclineConflictingRequests": {
          "type": "boolean"
        }
      }
    },
    "S1c": {
      "type": "string",
      "enum": [
        "USER",
        "RESOURCE",
        "SYSTEM_USER"
      ]
    },
    "S1i": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S1j": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S1q": {
      "type": "string",
      "enum": [
        "GROUP",
        "USER"
      ]
    },
    "S1z": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "FULL_ACCESS",
          "SEND_AS",
          "SEND_ON_BEHALF"
        ]
      }
    }
  }
}