{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-09-25",
    "endpointPrefix": "worklink",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "WorkLink",
    "serviceFullName": "Amazon WorkLink",
    "serviceId": "WorkLink",
    "signatureVersion": "v4",
    "signingName": "worklink",
    "uid": "worklink-2018-09-25"
  },
  "operations": {
    "AssociateWebsiteCertificateAuthority": {
      "http": {
        "requestUri": "/associateWebsiteCertificateAuthority"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn",
          "Certificate"
        ],
        "members": {
          "FleetArn": {},
          "Certificate": {},
          "DisplayName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebsiteCaId": {}
        }
      }
    },
    "CreateFleet": {
      "http": {
        "requestUri": "/createFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetName"
        ],
        "members": {
          "FleetName": {},
          "DisplayName": {},
          "OptimizeForEndUserLocation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetArn": {}
        }
      }
    },
    "DeleteFleet": {
      "http": {
        "requestUri": "/deleteFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAuditStreamConfiguration": {
      "http": {
        "requestUri": "/describeAuditStreamConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuditStreamArn": {}
        }
      }
    },
    "DescribeCompanyNetworkConfiguration": {
      "http": {
        "requestUri": "/describeCompanyNetworkConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpcId": {},
          "SubnetIds": {
            "shape": "Sj"
          },
          "SecurityGroupIds": {
            "shape": "Sl"
          }
        }
      }
    },
    "DescribeDevice": {
      "http": {
        "requestUri": "/describeDevice"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn",
          "DeviceId"
        ],
        "members": {
          "FleetArn": {},
          "DeviceId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {},
          "Model": {},
          "Manufacturer": {},
          "OperatingSystem": {},
          "OperatingSystemVersion": {},
          "PatchLevel": {},
          "FirstAccessedTime": {
            "type": "timestamp"
          },
          "LastAccessedTime": {
            "type": "timestamp"
          },
          "Username": {}
        }
      }
    },
    "DescribeDevicePolicyConfiguration": {
      "http": {
        "requestUri": "/describeDevicePolicyConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeviceCaCertificate": {}
        }
      }
    },
    "DescribeFleetMetadata": {
      "http": {
        "requestUri": "/describeFleetMetadata"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreatedTime": {
            "type": "timestamp"
          },
          "LastUpdatedTime": {
            "type": "timestamp"
          },
          "FleetName": {},
          "DisplayName": {},
          "OptimizeForEndUserLocation": {
            "type": "boolean"
          },
          "CompanyCode": {},
          "FleetStatus": {}
        }
      }
    },
    "DescribeIdentityProviderConfiguration": {
      "http": {
        "requestUri": "/describeIdentityProviderConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityProviderType": {},
          "ServiceProviderSamlMetadata": {},
          "IdentityProviderSamlMetadata": {}
        }
      }
    },
    "DescribeWebsiteCertificateAuthority": {
      "http": {
        "requestUri": "/describeWebsiteCertificateAuthority"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn",
          "WebsiteCaId"
        ],
        "members": {
          "FleetArn": {},
          "WebsiteCaId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {},
          "CreatedTime": {
            "type": "timestamp"
          },
          "DisplayName": {}
        }
      }
    },
    "DisassociateWebsiteCertificateAuthority": {
      "http": {
        "requestUri": "/disassociateWebsiteCertificateAuthority"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn",
          "WebsiteCaId"
        ],
        "members": {
          "FleetArn": {},
          "WebsiteCaId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListDevices": {
      "http": {
        "requestUri": "/listDevices"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Devices": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DeviceId": {},
                "DeviceStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListFleets": {
      "http": {
        "requestUri": "/listFleets"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FleetArn": {},
                "CreatedTime": {
                  "type": "timestamp"
                },
                "LastUpdatedTime": {
                  "type": "timestamp"
                },
                "FleetName": {},
                "DisplayName": {},
                "CompanyCode": {},
                "FleetStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListWebsiteCertificateAuthorities": {
      "http": {
        "requestUri": "/listWebsiteCertificateAuthorities"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WebsiteCertificateAuthorities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "WebsiteCaId": {},
                "CreatedTime": {
                  "type": "timestamp"
                },
                "DisplayName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "SignOutUser": {
      "http": {
        "requestUri": "/signOutUser"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn",
          "Username"
        ],
        "members": {
          "FleetArn": {},
          "Username": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAuditStreamConfiguration": {
      "http": {
        "requestUri": "/updateAuditStreamConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {},
          "AuditStreamArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCompanyNetworkConfiguration": {
      "http": {
        "requestUri": "/updateCompanyNetworkConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn",
          "VpcId",
          "SubnetIds",
          "SecurityGroupIds"
        ],
        "members": {
          "FleetArn": {},
          "VpcId": {},
          "SubnetIds": {
            "shape": "Sj"
          },
          "SecurityGroupIds": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevicePolicyConfiguration": {
      "http": {
        "requestUri": "/updateDevicePolicyConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {},
          "DeviceCaCertificate": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFleetMetadata": {
      "http": {
        "requestUri": "/UpdateFleetMetadata"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn"
        ],
        "members": {
          "FleetArn": {},
          "DisplayName": {},
          "OptimizeForEndUserLocation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateIdentityProviderConfiguration": {
      "http": {
        "requestUri": "/updateIdentityProviderConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "FleetArn",
          "IdentityProviderType"
        ],
        "members": {
          "FleetArn": {},
          "IdentityProviderType": {},
          "IdentityProviderSamlMetadata": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "Sj": {
      "type": "list",
      "member": {}
    },
    "Sl": {
      "type": "list",
      "member": {}
    }
  }
}