<!-- Retaining this file for future deprecation reference -->
<div id="node-version-notice" class="alert alert-warning" style="display:none;">
	<div class="alert-icon"></div>
	<div>
		<div class="alert-header">End of support for Node.js &lt;10.x in the AWS SDK for JavaScript (v2).</div>
		<div class="alert-content">
			Starting November 1 2021, the AWS SDK For JavaScript (v2) will no longer support Node.js &lt;10.x.
			For more information, see the <a href="https://aws.amazon.com/blogs/developer/announcing-the-end-of-support-for-node-js-runtimes-10-x-in-the-aws-sdk-for-javascript-v2/">announcement</a>
			on AWS Developer Tools Blog.
		</div>
	</div>
	<div class="alert-dismiss"></div>
</div>