<div class="alert alert-info">
	<div class="alert-icon"></div>
	<div>
		<div class="alert-header">
      We <a href="https://aws.amazon.com/blogs/developer/announcing-end-of-support-for-aws-sdk-for-javascript-v2">announced</a> the upcoming
      end-of-support for AWS SDK for JavaScript v2.
    </div>
		<div class="alert-content">
      We recommend that you migrate to <a href="https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/welcome.html">AWS SDK for JavaScript v3</a>.
      For dates, additional details, and information on how to migrate, please refer to the linked announcement.
		</div>
	</div>
</div>