<div class="alert alert-info">
	<div class="alert-icon"></div>
	<div>
		<div class="alert-header">You are viewing the documentation for an older major version of the AWS SDK for JavaScript.</div>
		<div class="alert-content">
			The modular AWS SDK for JavaScript (v3), the latest major version of AWS SDK for JavaScript, is now stable and recommended for general use.
			For more information, see the
				<a href="https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/migrating-to-v3.html">Migration Guide</a> and 
				<a href="https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/index.html">API Reference.</a>
		</div>
	</div>
</div>