<div class="note">
  <p><strong>Note:</strong> You are viewing the documentation for an older major version of the AWS SDK for JavaScript (v2).</p>
  <p><a href="https://github.com/aws/aws-sdk-js-v3">The modular AWS SDK for JavaScript (v3)</a> is now General Available. For more information see the <a href="https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/">Developer Guide</a>
  or <a href="https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/index.html">API Reference</a>.</p>
</div>
